#categories {
    width: @categories_w;
    hr {
        margin: 2em 0;
        border: thin solid #ccc;
    }
    h3 {
        color: @category_color;;
        font-size: 1em;
    }
}

.category_title {
  font-weight: bold;
  margin: 5px 0;
}

.category {
    margin-bottom: 1em;
    position: relative;
}

.application, .legend-entry {
    margin-bottom: 0.7em;
    position: relative;
    width: 100%;
}

.title, .short-description {
    display: block;
    margin-left: 20px;
    width: 80%;
}

.short-description { 
    margin: 0 0 0 20px;
    font-style: italic;
    color: @instructions_color;
}

.long-description {
    display: none;
    position: fixed;
    border: 1px solid #aaa;
    background-color: white; 
    width: @long_desc_w;
    position: absolute;
    top: 0;
    right: 70px;
    padding: 1.5em;
    color: #555;
    z-index: @float_z;
    h5 {margin:0;}
}

img.status {
    position: absolute;
    top: 3px;
    left: 0;
}

img.favorited {
    position: absolute;
    top: 3px;
    right: 0px;
}

img.description {
    position: absolute;
    top: 3px;
    right: 20px;
}

.campus-only {
    font-style: italic;
    color: @instructions_color;
}
