#ribbon {
    background-color: @ribbon_color;
    height: 30px;
    position: relative;
    a {
        color: @ribbon_text_color;
        font-weight: bold;
    }
}

#ribbon-content {
    width: @desktop_content_w;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

#tools {
  top: 50%;
  right: 10px;
}

#tools li {
    display: table-cell;
    text-transform: uppercase;
    font-size: 0.78571429em;
    font-family: VaudMedium, sans-serif;
    padding: 0 6px;
    margin: 0;
}

#tools, #identity {
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#identity {
  top: 2px;
  left: 1%;
  color: @ribbon_text_color;
  font-size: 0.9em;
}

.name {
    color: @ribbon_text_color;
    font-weight: bold;
}

#container {
    width: @desktop_content_w;
    margin: 0 auto;
}

#header {
    position: relative;
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
}

#logo {
    position: absolute;
    bottom: 0;
    left: 1%;
    width: 17%;
    display: block;
    img {
      width: 100%;
    }
}

#sitename {
    position: absolute;
    bottom: -15px;
    left: 21%;
    width: 79%;
    font-family: @font_kievit_medium;
    font-size: 2em;
    padding-bottom: 3px;
    background-image: url(../img/orange-pixel.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

#main_menu {
    width: 100%;
    background: lighten(@ribbon_color, 5%);
    height: 34px;
    position: relative;
    ul {
        position: absolute;
        top: 50%;
        left: 20px;;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    li {
        font-size: 1.1em;
        color: @ribbon_text_color;
        display: table-cell;
        padding: 0 11px;
        background: transparent url(../img/submenu-spacer.png) no-repeat right center;

        &.active {
            font-weight: bold;
            color: white;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            background: none;
        }

        a {
            color: @ribbon_text_color;
        }
    }
}

