* {
    box-sizing: border-box;
}

html {
  font-family: @font_vaud;
  height: 100%;
  width: 100%;
}

// The HTML5 reset css sets this to "sans-serif", but we want all our general page text to be Vaud.
button, input, select, textarea {
  font-family: @font_vaud;
}

body {
  width: 100%;
  height: 100%;
  font-size: @font_size_base;
  // Fixes Chrome and Firefox's font-thickening on OSX.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// General style for all <a>s on this site
a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: @link_orange;
}

a:hover {
    text-decoration: underline;
}

#contents {
    margin-left: 20px;
    margin-bottom: 60px;
    padding-top: 20px;
    position: relative;
}

#main {
  width: @main_w;
  float: left;
}

input[type=submit], input[type=reset], button {
    padding: 5px;
    background-color: buttonface;
    border-radius: 0;
}

h1, h2 {
  font-family: KievitSlabMedium, serif;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.note {
  background-color: @favorites_background;
  padding: 5px;
}
