#favorites {
    float: right;
    width: @favorites_w;
    padding: 20px 30px;
    margin-top: 15px;
    background-color: @favorites_background;
    p {
        font-style: italic;
        color: @instructions_color;
    }
    h3 {
        margin-top:0;
        font-size: 1em;
    }
}

.favorites_body {
  .application {
    margin: 0;
  }
  .title {
      width: @favorites_w - 40px;
  }
   
}

