@font-face {
  font-family: 'LTCCaslonLong';
  src: url('../fonts/LTCCaslonLongWeb.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LTCCaslonLongWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LTCCaslonLongWeb.woff') format('woff'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KievitSlabMedium';
  src: url('../fonts/KievitSlabWebPro-Medium.eot'); // IE9 Compat Modes
  src: url('../fonts/KievitSlabWebPro-Medium.eot?#iefix') format('embedded-opentype'), // IE6-IE8
       url('../fonts/KievitSlabWebPro-Medium.woff') format('woff'); // Modern Browsers
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KievitSlabRegular';
  src: url('../fonts/KievitSlabWebPro.woff') format('woff'); // Modern Browsers
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vaud';
  src: url('../fonts/VaudBook-webfont.eot');
  src: url('../fonts/VaudBook-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VaudBook-webfont.woff') format('woff'),
       url('../fonts/VaudBook-webfont.ttf') format('truetype'), // Safari, Android, iOS
       url('../fonts/VaudBook-webfont.svg#vaudregular') format('svg'); // Legacy iOS
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vaud';
  src: url('../fonts/VaudBookIt-webfont.eot');
  src: url('../fonts/VaudBookIt-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VaudBookIt-webfont.woff') format('woff'),
       url('../fonts/VaudBookIt-webfont.ttf') format('truetype'),
       url('../fonts/VaudBookIt-webfont.svg#vauditalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Vaud';
  src: url('../fonts/VaudUltra-webfont.eot');
  src: url('../fonts/VaudUltra-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VaudUltra-webfont.woff') format('woff'),
       url('../fonts/VaudUltra-webfont.ttf') format('truetype'),
       url('../fonts/VaudUltra-webfont.svg#vaudregular') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Vaud';
  src: url('../fonts/VaudUltraIt-webfont.eot');
  src: url('../fonts/VaudUltraIt-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VaudUltraIt-webfont.woff') format('woff'),
       url('../fonts/VaudUltraIt-webfont.ttf') format('truetype'),
       url('../fonts/VaudUltraIt-webfont.svg#vauditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'VaudMedium';
  src: url('../fonts/VaudExtraBold-webfont.eot');
  src: url('../fonts/VaudExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VaudExtraBold-webfont.woff') format('woff'),
       url('../fonts/VaudExtraBold-webfont.ttf') format('truetype'),
       url('../fonts/VaudExtraBold-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VaudMedium';
  src: url('../fonts/VaudExtraBoldIt-webfont.eot');
  src: url('../fonts/VaudExtraBoldIt-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/VaudExtraBoldIt-webfont.woff') format('woff'),
       url('../fonts/VaudExtraBoldIt-webfont.ttf') format('truetype'),
       url('../fonts/VaudExtraBoldIt-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: italic;
}
