footer {
  height: @desktop_footer_h;
  width: 100%;
  background-color: @ribbon_color;
}

#contact-boilerplate {
  width: 100%;
  width: @desktop_content_w;
  margin: 0 auto;
  font-size: 0.92857142857143em;
  font-family: @font_vaud_medium;
  color: #EEEEEE;
}

#boilerplate-content {
  height: @desktop_footer_h;
  position: relative;
  font-weight: bold;

}

#cb-name {
  position: absolute;
  top: 10px;
  left: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#cb-address {
  position: absolute;
  top: 10px;
  right: 0;
  text-transform: uppercase;
}

#cb-copyright {
  position: absolute;
  top: 28px;
  left: 0;
}

#cb-legalese {
  position: absolute;
  top: 28px;
  right: 0;

  ul {
    margin: 0;

    li {
      display: table-cell;
      padding-left: 17px;

      a {
        text-decoration: underline;
        color: #BBB;

        &:hover {
          color: @ribbon_text_color;
        }
      }
    }
  }
}

