#form{
    width: 80%;
    form {
        padding: 20px;
        background: @favorites_background;
    }
}

.question-set {
    p {
        //display: table-row;
        margin-bottom: 20px;
    }
    label {
        //display: table-cell;
        display: block;
        width: 150px;
        padding: 5px 0;
    }
}

.question-set.block {
    p, label {
        display: block;
        width: 100%;
    }
}

.question {
    margin-bottom: 20px;
}

.form-required {
  color: red;
}

#login_form {
  label { 
    font-weight: bold;
    font-size: 1.2em;
  }
  margin-bottom: 50px;
}
