@desktop_content_w:           1000px;
@desktop_footer_h:            50px;
@categories_w:                550px;
@long_desc_w:                 400px;
@favorites_w:                 400px;
@main_w:                      500px;

@link_orange:                 #ff6e1e;
@subtitle_color:              #999999;
@ribbon_color:                #696b73;
@ribbon_text_color:           #EEEEEE;
@category_color:              #333333;
@instructions_color:          #666666;
@favorites_background:        #EEEEEE;

@float_z:                     1000;

@font_caslon: LTCCaslonLong, Times, serif;
@font_kievit_medium: KievitSlabMedium, Times, serif;
@font_kievit_regular: KievitSlabRegular, Times, serif;
@font_vaud: Vaud, sans-serif;
// We call it Vaud Medium, but the style guide calls it Vaud Display Extra Bold. The style guide is right.
@font_vaud_medium: VaudMedium, sans-serif;
// The base font size is 14px. All ems in the base context should use the following for their font-size:
// unit(<intended_pixel_height>/@font_size_base, em);
@font_size_base: 14px;
