h1 {
  font-size: 1.6em;
}
#ribbon {
  display: none;
}
#container {
  width: 100%;
  margin: 0;
}
#header {
  height: 50px;
}
#sitename {
  font-size: 1.6em;
  bottom: -11px;
  left: 140px;
}
#logo {
  width: 115px;
}
#contents {
  padding: 0 10px;
  margin: 0;
}
#categories {
  width: 100%;
}
#categories .title,
#categories .short-description {
  width: 80%;
}
#categories .long-description {
  width: 80%;
}
#main {
  float: none;
  width: 100%;
  margin: 0;
}
#favorites {
  float: none;
  width: 100%;
  padding: 10px 10px;
  margin: 10px 0 0 0;
}
footer {
  height: auto;
}
#contact-boilerplate {
  width: 100%;
}
#boilerplate-content {
  position: static;
  height: auto;
  padding: 5px;
  font-weight: normal;
  font-size: 90%;
}
#cb-name,
#cb-address,
#cb-copyright,
#cb-legalese {
  position: static;
}
#cb-legalese ul {
  padding: 0;
}
#cb-legalese ul li {
  display: list-item;
  padding-left: 0;
  list-style: none;
}
#cb-address {
  display: block;
}
