@font-face {
  font-family: 'LTCCaslonLong';
  src: url('../fonts/LTCCaslonLongWeb.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/LTCCaslonLongWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/LTCCaslonLongWeb.woff') format('woff');
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KievitSlabMedium';
  src: url('../fonts/KievitSlabWebPro-Medium.eot');
  src: url('../fonts/KievitSlabWebPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/KievitSlabWebPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KievitSlabRegular';
  src: url('../fonts/KievitSlabWebPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vaud';
  src: url('../fonts/VaudBook-webfont.eot');
  src: url('../fonts/VaudBook-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/VaudBook-webfont.woff') format('woff'), url('../fonts/VaudBook-webfont.ttf') format('truetype'), url('../fonts/VaudBook-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vaud';
  src: url('../fonts/VaudBookIt-webfont.eot');
  src: url('../fonts/VaudBookIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/VaudBookIt-webfont.woff') format('woff'), url('../fonts/VaudBookIt-webfont.ttf') format('truetype'), url('../fonts/VaudBookIt-webfont.svg#vauditalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Vaud';
  src: url('../fonts/VaudUltra-webfont.eot');
  src: url('../fonts/VaudUltra-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/VaudUltra-webfont.woff') format('woff'), url('../fonts/VaudUltra-webfont.ttf') format('truetype'), url('../fonts/VaudUltra-webfont.svg#vaudregular') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Vaud';
  src: url('../fonts/VaudUltraIt-webfont.eot');
  src: url('../fonts/VaudUltraIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/VaudUltraIt-webfont.woff') format('woff'), url('../fonts/VaudUltraIt-webfont.ttf') format('truetype'), url('../fonts/VaudUltraIt-webfont.svg#vauditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'VaudMedium';
  src: url('../fonts/VaudExtraBold-webfont.eot');
  src: url('../fonts/VaudExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/VaudExtraBold-webfont.woff') format('woff'), url('../fonts/VaudExtraBold-webfont.ttf') format('truetype'), url('../fonts/VaudExtraBold-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VaudMedium';
  src: url('../fonts/VaudExtraBoldIt-webfont.eot');
  src: url('../fonts/VaudExtraBoldIt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/VaudExtraBoldIt-webfont.woff') format('woff'), url('../fonts/VaudExtraBoldIt-webfont.ttf') format('truetype'), url('../fonts/VaudExtraBoldIt-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: italic;
}
* {
  box-sizing: border-box;
}
html {
  font-family: Vaud, sans-serif;
  height: 100%;
  width: 100%;
}
button,
input,
select,
textarea {
  font-family: Vaud, sans-serif;
}
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #ff6e1e;
}
a:hover {
  text-decoration: underline;
}
#contents {
  margin-left: 20px;
  margin-bottom: 60px;
  padding-top: 20px;
  position: relative;
}
#main {
  width: 500px;
  float: left;
}
input[type=submit],
input[type=reset],
button {
  padding: 5px;
  background-color: buttonface;
  border-radius: 0;
}
h1,
h2 {
  font-family: KievitSlabMedium, serif;
  font-weight: normal;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
.note {
  background-color: #EEEEEE;
  padding: 5px;
}
#ribbon {
  background-color: #696b73;
  height: 30px;
  position: relative;
}
#ribbon a {
  color: #EEEEEE;
  font-weight: bold;
}
#ribbon-content {
  width: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
#tools {
  top: 50%;
  right: 10px;
}
#tools li {
  display: table-cell;
  text-transform: uppercase;
  font-size: 0.78571429em;
  font-family: VaudMedium, sans-serif;
  padding: 0 6px;
  margin: 0;
}
#tools,
#identity {
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#identity {
  top: 2px;
  left: 1%;
  color: #EEEEEE;
  font-size: 0.9em;
}
.name {
  color: #EEEEEE;
  font-weight: bold;
}
#container {
  width: 1000px;
  margin: 0 auto;
}
#header {
  position: relative;
  width: 100%;
  height: 90px;
  margin-bottom: 30px;
}
#logo {
  position: absolute;
  bottom: 0;
  left: 1%;
  width: 17%;
  display: block;
}
#logo img {
  width: 100%;
}
#sitename {
  position: absolute;
  bottom: -15px;
  left: 21%;
  width: 79%;
  font-family: KievitSlabMedium, Times, serif;
  font-size: 2em;
  padding-bottom: 3px;
  background-image: url(../img/orange-pixel.png);
  background-position: bottom;
  background-repeat: repeat-x;
}
#main_menu {
  width: 100%;
  background: #757780;
  height: 34px;
  position: relative;
}
#main_menu ul {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#main_menu li {
  font-size: 1.1em;
  color: #EEEEEE;
  display: table-cell;
  padding: 0 11px;
  background: transparent url(../img/submenu-spacer.png) no-repeat right center;
}
#main_menu li.active {
  font-weight: bold;
  color: white;
}
#main_menu li:first-child {
  padding-left: 0;
}
#main_menu li:last-child {
  background: none;
}
#main_menu li a {
  color: #EEEEEE;
}
footer {
  height: 50px;
  width: 100%;
  background-color: #696b73;
}
#contact-boilerplate {
  width: 100%;
  width: 1000px;
  margin: 0 auto;
  font-size: 0.92857142857143em;
  font-family: VaudMedium, sans-serif;
  color: #EEEEEE;
}
#boilerplate-content {
  height: 50px;
  position: relative;
  font-weight: bold;
}
#cb-name {
  position: absolute;
  top: 10px;
  left: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#cb-address {
  position: absolute;
  top: 10px;
  right: 0;
  text-transform: uppercase;
}
#cb-copyright {
  position: absolute;
  top: 28px;
  left: 0;
}
#cb-legalese {
  position: absolute;
  top: 28px;
  right: 0;
}
#cb-legalese ul {
  margin: 0;
}
#cb-legalese ul li {
  display: table-cell;
  padding-left: 17px;
}
#cb-legalese ul li a {
  text-decoration: underline;
  color: #BBB;
}
#cb-legalese ul li a:hover {
  color: #EEEEEE;
}
#categories {
  width: 550px;
}
#categories hr {
  margin: 2em 0;
  border: thin solid #ccc;
}
#categories h3 {
  color: #333333;
  font-size: 1em;
}
.category_title {
  font-weight: bold;
  margin: 5px 0;
}
.category {
  margin-bottom: 1em;
  position: relative;
}
.application,
.legend-entry {
  margin-bottom: 0.7em;
  position: relative;
  width: 100%;
}
.title,
.short-description {
  display: block;
  margin-left: 20px;
  width: 80%;
}
.short-description {
  margin: 0 0 0 20px;
  font-style: italic;
  color: #666666;
}
.long-description {
  display: none;
  position: fixed;
  border: 1px solid #aaa;
  background-color: white;
  width: 400px;
  position: absolute;
  top: 0;
  right: 70px;
  padding: 1.5em;
  color: #555;
  z-index: 1000;
}
.long-description h5 {
  margin: 0;
}
img.status {
  position: absolute;
  top: 3px;
  left: 0;
}
img.favorited {
  position: absolute;
  top: 3px;
  right: 0px;
}
img.description {
  position: absolute;
  top: 3px;
  right: 20px;
}
.campus-only {
  font-style: italic;
  color: #666666;
}
#favorites {
  float: right;
  width: 400px;
  padding: 20px 30px;
  margin-top: 15px;
  background-color: #EEEEEE;
}
#favorites p {
  font-style: italic;
  color: #666666;
}
#favorites h3 {
  margin-top: 0;
  font-size: 1em;
}
.favorites_body .application {
  margin: 0;
}
.favorites_body .title {
  width: 360px;
}
#form {
  width: 80%;
}
#form form {
  padding: 20px;
  background: #EEEEEE;
}
.question-set p {
  margin-bottom: 20px;
}
.question-set label {
  display: block;
  width: 150px;
  padding: 5px 0;
}
.question-set.block p,
.question-set.block label {
  display: block;
  width: 100%;
}
.question {
  margin-bottom: 20px;
}
.form-required {
  color: red;
}
#login_form {
  margin-bottom: 50px;
}
#login_form label {
  font-weight: bold;
  font-size: 1.2em;
}
iframe {
  width: 100%;
  min-width: 304px;
  max-width: 620px;
  height: 330px;
}
