HTML {
min-width:800px;
max-width:1000px;
}

#main {
clear:both;
padding-top:1.6em;
align:CENTER;
background:#fff;
}

.resp_table {
clear:both;
border-right:#996 1px solid;
border-top:#996 1px solid;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
background:#cece9c;
}

.cit_table_2 {
clear:both;
border-right:#996 1px solid;
border-top:#996 1px solid;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
font-family:verdana,sans-serif;
font-size:12px;
background:#f7f7e7;
}

.error_table {
clear:both;
border-right:#996 1px solid;
border-top:#996 1px solid;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
font-family:verdana,sans-serif;
font-size:12px;
background:#ffd8d4;
}

.cit_table_2 TD {
font-size:11px;

line-height:13px;
margin:0;
padding:0 10px 3px;
}
.search_box{
font-size:11px;

line-height:13px;
margin:0;
background:#eee;
padding:2px 10px 3px;
border-right:#31639c 1px solid;
border-top:#31639c 1px solid;
border-left:#31639c 1px solid;
border-bottom:#31639c 1px solid;
}


.label {
white-space:nowrap;
padding-right:4px;
font-weight:700;
width: 150px;
text-align:right;
}

.data {
padding-left:4px;
font-size:12pt;
width: 300px;
}

.label_2 {
white-space:nowrap;
padding-right:1px;
font-weight:700;
text-align:right;
}

.data_2 {
padding-left:1px;
}

.sectionLabelBold {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#036;
border-bottom:#369 1px solid;
margin-bottom:7px;
padding-top:4px;
}

.sectionLabelBreak {
background:#369;
}

.sectionLabel {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#369;
}

.sectionSubLabel {
font-family:verdana,sans-serif;
font-size:8pt;
font-weight:700;
color:#369;
padding-left:1em;
}

.statslabel {
padding-right:.5em;
padding-left:.5em;
font-weight:700;
text-align:right;
font-family:verdana,sans-serif;
font-size:70%;
color:#333;
margin:0;
}

P.note {
width:600px;
border-right:#31639c 1px solid;
border-top:#31639c 1px solid;
margin-top:0;
font-size:75%;
border-left:#31639c 1px solid;
border-bottom:#31639c 1px solid;
font-family:verdana,sans-serif;
padding:4px;
background:#fff;
}

P.error {
width:700px;
border-right:#31639c 1px solid;
border-top:#31639c 1px solid;
border-left:#31639c 1px solid;
border-bottom:#31639c 1px solid;
margin-top:0;
font-size:75%;
font-family:verdana,sans-serif;
background:#fff;
font-weight:700;
padding:10px;
line-height:150%;
}

#contents {
width:700px;
align:center;
margin:0 auto;
padding:5px;
background:#FFF;
}

#footer {
margin-top:20px;
display:block;
margin-left:auto;
margin-right:auto;
width:700px;
color:#333;
font-family:verdana,sans-serif;
position:relative;
height:80px;
align:CENTER;
padding:0;
}

#footer_address {
text-valign:MIDDLE;
font-size:85%;
color:#333;
padding:9px 55px 30px 60px;
background:#fff;
}

#footer_logo {
cursor:hand;
display:block;
width:50px;
position:absolute;
top:0;
height:50px;
background:url(../img/footer.gif) no-repeat #fff;
}

#imss_logo {
cursor:hand;
display:block;
width:97px;
position:absolute;
top:0;
height:50px;
left:590px;
background:url(../img/IMSS_footer2.JPG) no-repeat 0 10px #fff;
}

.resp-title {
font-family:verdana,sans-serif;
font-size:90%;
font-weight:700;
color:#31639c;
padding-bottom:.5em;
padding-top:.2em;
border-bottom:#31639c 1px solid;
margin:0 0 8px;
text-align:left;
}

.key-title {
font-family:verdana,sans-serif;
font-size:80%;
font-weight:700;
color:#31639c;
padding-bottom:.5em;
padding-top:.5em;
border-bottom:#31639c 1px solid;
margin:0 0 8px;
}

A {
font-family:verdana,sans-serif;
color:#333;
padding-bottom:.5em;
padding-top:.5em;
margin:0;
}

A:hover {
color:#f60;
}

A:active {
color:#000;
}

A:visited {
color:#31639c;
}
.resp-link-active {
font-family:verdana,sans-serif;
font-size:80%;
color:#ffffff;
padding-bottom:.5em;
padding-top:.5em;
text-decoration:none;
margin:0;
background:#cc9;
}

.resp-link {
font-family:verdana,sans-serif;
font-size:80%;
color:#31639c;
padding-bottom:.5em;
padding-top:.5em;
text-decoration:none;
margin:0;
}

.menu-link {
font-family:verdana,sans-serif;
color:#31639c;
padding-bottom:.5em;
padding-top:.5em;
text-decoration:none;
margin:0;
}

#header {
position:relative;
height:1.2em;
padding-left:20px;
border-right:#996 1px solid;
border-top:#996 1px solid;
margin-top:0;
padding-bottom:6px;
border-left:#996 1px solid;
border-bottom:medium none;
color:#000;
background:#cc9;
}

#citheader {
height:61px;
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
border-bottom:#143c64 1px solid;
border-left:#143c64 1px solid;
padding-bottom:4px;
background:url(https://cap-cas-srv2.caltech.edu/res/img/Regis_banner.jpg) no-repeat #369;
}

#header UL#primary {
width:100%;
bottom:-1px;
position:absolute;
margin:0;
padding:0;
}

#header UL#primary A {
display:block;
font-size:75%;
float:left;
color:#333;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#aaa 1px solid;
border-top:#aaa 1px solid;
border-left:#aaa 1px solid;
border-bottom:medium none;
margin:1px 2px 0 0;
padding:4px 15px;
background:#00000;
}

#header UL#primary SPAN {
display:block;
font-size:75%;
float:left;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
border-left:#143c64 1px solid;
border-bottom:medium none;
color:#000;
margin:0 2px 0 0;
padding:4px 15px 6px;
background:#fff;
}

#header UL#primary A.current {
display:block;
font-size:75%;
float:left;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
border-left:#143c64 1px solid;
border-bottom:medium none;
color:#000;
margin:0 2px 0 0;
padding:4px 0 6px;
background:#369;
}

#header UL#primary A.current:hover {
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
margin-top:0;
padding-bottom:6px;
border-left:#143c64 1px solid;
border-bottom:medium none;
background:#369;
}

#header UL#primary A:hover {
margin-top:0;
padding-bottom:5px;
border-color:#143c64;
background:#00000;
}

#header UL#secondary {
left:1px;
visibility:visible;
width:99.5%;
position:absolute;
top:2em;
margin:0;
padding:0 0 5px;
background:#369;
}

#header UL#secondary LI A {
border-right:medium none;
border-top:medium none;
display:block;
float:left;
border-left:#aaa 1px dotted;
width:auto;
border-bottom:medium none;
color:#00000;
text-decoration:underline;
margin:0;
padding:0 10px;
}

#header UL#secondary LI SPAN {
border-right:medium none;
border-top:medium none;
display:block;
float:left;
border-left:#aaa 1px dotted;
width:auto;
border-bottom:medium none;
margin:0;
padding:0 10px;
}

#header UL#secondary LI A:hover {
border-right:medium none;
border-top:medium none;
border-left:#aaa 1px dotted;
color:#fff;
border-bottom:medium none;
padding:0 10px;
}

#header UL#secondary LI A:active {
color:#000;
}

.innerDataTable {
font-family:verdana,sans-serif;
border-collapse:collapse;
background:#cc9;
}

.dataTable {
border-right:#996 1px solid;
border-top:#996 1px solid;
margin-bottom:8px;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
border-collapse:collapse;
font-family:verdana,sans-serif;
min-width:500px;
background:#cc9;
}

.keyTable {
border-right:#996 1px solid;
border-top:#996 1px solid;
margin-bottom:8px;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
border-collapse:collapse;
font-family:verdana,sans-serif;
background:#f7f7e7;
}

.keyTable TD {
margin-bottom:8px;
margin-left:20px;
padding-top:5px;
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
color:#31639c;
text-indent:5px;
background:#f7f7e7;
}

.dataTable TH {
border-right:#fff 1px solid;
border-top:#fff 1px solid;
font-weight:700;
font-size:80%;
margin-bottom:8px;
margin-left:20px;
border-left:#fff 1px solid;
cursor:hand;
color:#369;
text-indent:5px;
border-bottom:#fff 1px solid;
border-collapse:collapse;
text-align:left;
font-family:verdana,sans-serif;
background:#cc9;
}

.subdataTable {
border-collapse:collapse;
font-family:verdana,sans-serif;
background:#cc9;
}

.subdataTable TH {
font-weight:700;
font-size:80%;
margin-bottom:8px;
margin-left:20px;
cursor:hand;
color:#369;
text-indent:5px;
border-collapse:collapse;
text-align:left;
font-family:verdana,sans-serif;
background:#cc9;
}

.subdataTable TD {
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
text-indent:5px;
background:#f7f7e7;
}

.subdataTable TD.operation {
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
text-indent:45px;
background:#fff;
}

.tipbox {
border-right:#cc9 1px solid;
padding-right:5px;
border-top:#cc9 1px solid;
display:none;
padding-left:5px;
font-size:100%;
padding-bottom:5px;
margin-left:25px;
border-left:#cc9 1px solid;
width:200px;
border-bottom:#cc9 1px solid;
position:absolute;
background:#f7f7e7;
}

.tip {
cursor:default;
}

.TableBar {
font-family:verdana,sans-serif;
color:#369;
font-weight:700;
font-size:x-small;
border:none;
border-bottom:#663 1px solid;
background:#cc9;
}

.TableRow {
font-family:verdana,sans-serif;
color:#369;
font-weight:700;
font-size:x-small;
border:none;
background:#cc9;
}

H2 {
font-size:15pt;
color:#333;
font-family:verdana,sans-serif;
voice-family:inherit;
}

.button {
font-family:verdana,sans-serif;
font-size:8pt;
color:#630;
}

.CITHeader {
font-family:font-family:verdana,sans-serif;
font-size:16pt;
color:#369;
}

.CITBGColorVeryDark {
background:#036;
}

.CITBGColorDark {
background:#369;
}

.CITBGColorMedium {
background:#69c;
}

.CITBGColorLight {
background:#9cf;
}

.CITBGGrayVeryDark {
background:#333;
}

.CITBGGrayDark {
background:#666;
}

.CITBGGrayMedium {
background:#999;
}

.CITBGGrayLight {
background:#ccc;
}

.CITBGAccentVeryDark {
background:#996;
}

.CITBGAccentDark {
background:#cc9;
}

.CITBGAccentMedium {
background:#ffc;
}

.CITBGAccentLight {
background:#f7f7e7;
}

.CITHeaderSubSub {
font-family:verdana,sans-serif;
font-size:11pt;
color:#369;
font-weight:700;
}

.CITInlineInfoText {
font-family:verdana,sans-serif;
font-size:8pt;
color:#369;
}

.CITPortletHeader {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#000;
}

.CITDarkPortletHeader {
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
}

.sectionHeadMid {
border-top:#c6a765 1px solid;
font-weight:700;
font-size:18px;
line-height:25px;
border-bottom:#c6a765 1px solid;
background:#f7f7e7;
}

.section {
border-right:#c6a765 1px solid;
border-top:0;
border-left:#c6a765 1px solid;
border-bottom:0;
background:#f7f7e7;
}

.sectionFoot {
font-size:2px;
line-height:1px;
border-bottom:#c6a765 1px solid;
background:#f7f7e7;
}

.Header2 {
color:ff7011;
font-family:Verdana;
font-size:x-small;
font-weight:700;
background:#f7f7e7;
}

.sso_div {
text-align:right;
padding-right:10px;
background:#fff;
}

.sso_div a {
font-size:60%;
font-weight:700;
text-decoration:none;
display:inline;
color:#c30;
}

#tabBar {
position:relative;
height:2em;
}

#tabBar UL#primary {
width:100%;
position:absolute;
margin:0;
padding:0;
}

#tabBar UL#primary A {
display:block;
font-size:75%;
float:left;
color:#333;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#aaa 1px solid;
border-top:#aaa 1px solid;
border-left:#aaa 1px solid;
border-bottom:medium none;
margin:1px 2px 0 0;
padding:4px 15px;
background:#efc;
}

#tabBar UL#primary SPAN {
display:block;
font-size:75%;
float:left;
color:#fff;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#666 1px solid;
border-top:#666 1px solid;
border-left:#666 1px solid;
border-bottom:medium none;
margin:0 2px 0 0;
padding:4px 15px 6px;
background:#31639c;
}

#tabBar UL#primary A.current {
display:block;
font-size:75%;
float:left;
color:#333;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#666 1px solid;
border-top:#666 1px solid;
border-left:#666 1px solid;
border-bottom:medium none;
margin:0 2px 0 0;
padding:4px 0 6px;
background:#31639c;
}

#tabBar UL#primary A.current:hover {
border-right:#666 1px solid;
border-top:#666 1px solid;
margin-top:0;
padding-bottom:6px;
border-left:#666 1px solid;
border-bottom:medium none;
background:#31639c;
}

#tabBar UL#primary A:hover {
margin-top:0;
padding-bottom:5px;
border-color:#666;
background:#efc;
}

#tabBar UL#secondary {
left:1px;
visibility:visible;
width:99.5%;
position:absolute;
color:#fff;
top:.5em;
margin:0;
padding:0 0 5px;
background:#31639c;
}

#tabBar UL#secondary LI A {
border-right:medium none;
border-top:medium none;
display:block;
float:left;
border-left:#aaa 1px dotted;
width:auto;
border-bottom:medium none;
color:#fff;
font-family:verdana,sans-serif;
font-size:8pt;
text-decoration:underline;
margin:0;
padding:0 10px;
}

#tabBar UL#secondary LI SPAN {
border-right:medium none;
border-top:medium none;
display:block;
float:left;
border-left:#aaa 1px dotted;
width:auto;
border-bottom:medium none;
margin:0;
padding:0 10px;
}

#tabBar UL#secondary LI A:hover {
border-right:medium none;
border-top:medium none;
border-left:#aaa 1px dotted;
color:#fff;
border-bottom:medium none;
padding:0 10px;
}

#tabBar UL#secondary LI A:active {
color:#fff;
}

BODY,H3,H4 {
font-size:small;
color:#333;
font-family:verdana,sans-serif;
voice-family:inherit;
}

#header UL#primary LI,#tabBar UL#primary LI {
display:inline;
list-style-type:none;
}

#header UL#secondary LI:unknown A,#tabBar UL#secondary LI:unknown A {
border-right:medium none;
border-top:medium none;
border-left:medium none;
border-bottom:medium none;
}

#header UL#secondary LI.right,#tabBar UL#secondary LI.right {
float:right;
display:inline;
}

.dataTable TD,.dataTable TD .sub {
border-right:#996 1px solid;
border-top:#996 1px solid;
margin-bottom:8px;
margin-left:20px;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
text-indent:5px;
background:#f7f7e7;
}
