/* CSS file generated on Thu Sep 21 10:58:08 CDT 2000 */

BODY {
font-family:Arial, Helvetica, Geneva, sans-serif;  voice-family: inherit
}
.OraBGColorVeryDark {background-color:#003366}
.OraBGColorDark {background-color:#336699}
.OraBGColorMedium {background-color:#6699cc}
.OraBGColorLight {background-color:#99ccff}
.OraBGGrayVeryDark {background-color:#333333}
.OraBGGrayDark {background-color:#666666}
.OraBGGrayMedium {background-color:#999999}
.OraBGGrayLight {background-color:#cccccc}
.OraBGAccentVeryDark {background-color:#999966}
.OraBGAccentDark {background-color:#cccc99}
.OraBGAccentMedium {background-color:#ffffcc}
.OraBGAccentLight {background-color:#f7f7e7}
.OraBody {background-color:#ffffff}
.OraPromptText {vertical-align:top;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; text-align:right; color:#000000;}
.OraDataText {vertical-align:top;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold;text-align:left; color:#000000}
.OraFieldText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#000000}
.OraFieldTextDisabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#999999}
.OraFieldNumber {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#000000}
.OraFieldNumberDisabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#999999}
.OraInstructionText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#000000}
.OraInstructionTextStrong {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#000000}
.OraButtonText {font-family:Arial, Helvetica, Geneva, sans-serif; background-color:#f7f7e7; color:#000000; font-size:12pt}
.OraButtonTextDisabled {font-family:Arial, Helvetica, Geneva, sans-serif; background-color:#f7f7e7; color:#999966; font-size:12pt}
.OraGlobalButtonText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#663300}
.OraGlobalButtonTextSelected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#336699}
.OraGlobalButtonTextDisabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#999966}
.OraGlobalButtonIcon {background-color:#ffffff; color:#999966}
.OraGlobalButtonIconSelected {background-color:#99ccff; color:#336699}
.OraGlobalButtonIconDisabled {background-color:#f7f7e7; color:#cccc99}
.OraLinkText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#663300}
.OraVLinkText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#996633}
.OraALinkText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#ff6600}
.OraTipLabel {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#336699}
.OraTipText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#336699}
.OraInlineInfoText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#336699}
.OraErrorText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#cc0000}
.OraErrorNameText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#cc0000}
.OraInlineErrorText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#cc0000}
.OraHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:16pt; color:#336699}
.OraHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#336699; font-weight:bold}
.OraHeaderSubSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; color:#336699; font-weight:bold}
.OraDarkHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:16pt; color:#003366}
.OraDarkHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#003366; font-weight:bold}
.OraDarkHeaderSubSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; color:#003366; font-weight:bold}
.OraLightHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:16pt; color:#6699cc}
.OraLightHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#6699cc; font-weight:bold}
.OraLightHeaderSubSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; color:#6699cc; font-weight:bold}
.OraColorHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:16pt; color:#ffffcc}
.OraColorHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#ffffcc; font-weight:bold}
.OraColorHeaderSubSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; color:#ffffcc; font-weight:bold}
.OraPortletHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#000000}
.OraDarkPortletHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#000000}
.OraErrorHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:16pt; color:#cc0000}
.OraGlobalPageTitle {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#ffffff; font-weight:bold}
.OraNav1Selected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#99ccff; font-weight:bold}
.OraNav1Enabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; background-color:#cccc99; color:#003366}
.OraNav1Disabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; background-color:#cccc99; color:#ffffcc}
.OraNav2Selected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#ffffff; text-decoration:none}
.OraNav2Enabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#cccc99; text-decoration:none}
.OraNav2Disabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#6699cc; text-decoration:none}
.OraNav3Selected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; background-color:#336699; color:#ffffff; text-decoration:none}
.OraNav3Enabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#cccc99; color:#003366}
.OraNav3Disabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#cccc99; color:#ffffcc; text-decoration:none}
.OraTextInline {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#6699cc}
.OraTableTitle {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; background-color:#ffffff; color:#336699}
.OraTableControlBarText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; background-color:#cccc99; color:#336699; font-weight:bold}
.OraTableColumnHeader {BORDER-LEFT: #f7f7e7 1px solid;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#336699; text-indent:5px; }
.OraTableSortableColumnHeader {BORDER-LEFT: #f7f7e7 1px solid;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#336699; text-indent:5px; cursor:hand; }
.OraTableRowHeaderNumber {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#336699; text-indent:1px}
.OraTableRowHeaderText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:right; background-color:#cccc99; color:#336699; text-indent:1px}
.OraTableColumnFooter {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#336699; text-indent:1px; padding:2px}
.OraTableTotal {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:right; background-color:#cccc99; color:#336699; padding-top:2px}
.OraTableAddTotal {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#336699; padding-top:2px}
.OraTableTotalNumber {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:right; background-color:#cccc99; color:#000000; vertical-align:baseline}
.OraTableTotalText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#000000; vertical-align:baseline}
.OraTableCellText {;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#f7f7e7; color:#000000; text-indent:5px; BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; BORDER-LEFT: #cccc99 1px solid; BORDER-BOTTOM: #cccc99 1px solid;}
.OraTableCellTextBand {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#ffffff; color:#000000; text-indent:1px;BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; BORDER-LEFT: #cccc99 1px solid; BORDER-BOTTOM: #cccc99 1px solid;}
.OraTableCellNumber {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; text-align:right; background-color:#f7f7e7; color:#000000; text-indent:1px}
.OraTableCellNumberBand {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; text-align:right; background-color:#ffffff; color:#000000; text-indent:1px}
.OraTableCellIconButton {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; text-align:center; background-color:#f7f7e7; color:#000000; text-indent:1px}
.OraTableCellIconButtonBand {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; text-align:center; background-color:#ffffff; color:#000000; text-indent:1px}
.OraTableCellSelect {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#f7f7e7; color:#000000; text-align:center; text-indent:1px}
.OraTableCellSelectBand {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#ffffff; color:#000000; text-align:center; text-indent:1px}
.OraTableVerticalGrid {background-color:#cccc99; width:1px}
.OraTableVerticalHeaderGrid {background-color:#f7f7e7; width:1px}
.OraTableHorizontalGrid {background-color:#cccc99; width:1px}
.OraTableHorizontalHeaderGrid {background-color:#f7f7e7; width:1px}
.OraTableShadowHeaderGrid {background-color:#666633; width:1px}
.OraTableHeaderLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; background-color:#cccc99; color:#336699; text-indent:1px; text-decoration:none}
.OraTrainActive {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#336699; font-weight:bold; text-align:center}
.OraTrainVisited {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#cccc99; text-align:center}
.OraTrainUnvisited {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#336699; text-align:center}
.OraPrivacy {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; text-align:right; color:#663300}
.OraCopyright {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; text-align:left; color:#000000}
.OraCrumbsSelected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#000000; text-decoration:none}
.OraCrumbsEnabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#663300}
.OraNavBarActiveLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#663300;cursor:hand}
.OraNavBarInactiveLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#999966}
.OraNavBarViewOnly {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#336699}
.OraCalendarTitle {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; background-color:#ffffff; color:#336699; text-align:center}
.OraCalendarHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; background-color:#cccc99; color:#336699; text-align:center; padding:2px}
.OraCalendarEnabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#f7f7e7; color:#336699; text-align:center; line-height:1.5; padding:2px; text-decoration:none}
.OraCalendarDisabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#f7f7e7; color:#999999; text-align:center; line-height:1.5; padding:2px}
.OraCalendarSelected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#999966; color:#ffffff; text-align:center; line-height:1.5; padding:2px}
.OraCContainerColorHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#ffffcc; font-weight:bold}
.OraCContainerHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#336699; font-weight:bold}
.OraTreeLink {text-decoration:none}
.OraTreeText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#003366; margin-top:-2px}
.OraTreeSelectedText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; background-color:#336699; color:#ffffff; margin-top:-2px}
.OraTreeRow {text-align:left; margin-top:-2px}
.OraTreeIcon {vertical-align:top}
.OraShuttleHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; font-weight:bold; color:#336699}
.OraShuttleLinkText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#663300}
.OraMessageBoxList {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#336699}
.OraMessageBoxLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#336699}
.OraMessageBoxParagraph {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#336699}
.OraMessageBoxErrorList {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#cc0000}
.OraMessageBoxErrorLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#cc0000}
.OraMessageBoxErrorParagraph {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#cc0000}


.CitFormTable{FONT-SIZE: x-small;  COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7;  BORDER: #cccc99 1px solid; }
.CitTableHeaderActive{BORDER-LEFT: #f7f7e7 1px solid;BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; background-color:#cccc99; color:#336699; text-indent:1px; text-decoration:none }
A.none {FONT-WEIGHT: bold; FONT-SIZE: x-small; VERTICAL-ALIGN: bottom; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left; TEXT-DECORATION: none}
a.OraNavBarActiveLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#663300;cursor:hand}
a.OraNavBarInactiveLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#999966}

ul.infoTree{
	width: auto;
	padding-left : 0px;
	margin-left : 0px;
	background-color: #cccc99;
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	font-size:10pt; 
	color:#003366;
}

ul.infoTree img{
 	border : none;
}
 

ul.infoTree, ul.infoTree ul {
	padding-left: 0;
}

ul.infoTree ul {
	margin-left: 16px;
		
}
li.closed span.hideShow{
	
	cursor: pointer;
	color:#003366;
}
li.open  span.hideShow{
	
	cursor: pointer;
	color:#003366;
}
H5 {
	FONT-SIZE: small; COLOR: #333; font-family:Arial, Helvetica, Geneva, sans-serif;  voice-family: inherit
}