div#login_form
{
	width: 47%;
	float: left;
	/*border-right: 1px dotted #aaa;*/
	padding-right: 1.5em;
}

div#link_farm
{
	width: 47%;
	float: left;
	padding-left: 1.5em;
	border-left: 1px dotted #aaa;
}

div.clear_floats
{
	clear: both;
}
