#main {
clear:both;
background:#fff;
padding-top:1.6em;
align:CENTER;
}

.cit_table_2 {
clear:both;
border-right:#996 1px solid;
border-top:#996 1px solid;
background:#f7f7e7;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
}

.sectionLabel {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#369;
}
.sectionSubLabel {
font-family:verdana,sans-serif;
font-size:8pt;
font-weight:700;
color:#369;
padding-left:1em;
}

.statslabel {
padding-right:.5em;
padding-left:.5em;
font-weight:700;
text-align:right;
font-family:verdana,sans-serif;
font-size:70%;
color:#333;
margin:0;
}

.label {
padding-right:.5em;
padding-left:.5em;
font-weight:700;
vertical-align:top;
font-family:verdana,sans-serif;
font-size:12px;
text-align:right;
}

.data {
padding-right:.5em;
padding-left:.5em;
font-family:verdana,sans-serif;
font-size:12px;
vertical-align:top;
}

#contents {
width:700px;
background:#FFF;
align:center;
margin:0 auto;
padding:5px;
}

#footer {
margin-top:20px;
display:block;
margin-left:12px;
width:700px;
color:#333;
font-family:verdana,sans-serif;
position:relative;
height:80px;
padding:0;
}

#footer_address {
text-valign:MIDDLE;
font-size:85%;
color:#333;
background-color:#fff;
padding:9px 55px 30px 60px;
}

#footer_logo {
cursor:hand;
display:block;
background:url(https://access.caltech.edu/res/img/footer.gif) #fff no-repeat 0 0;
width:50px;
position:absolute;
top:0;
height:50px;
}

#imss_logo {
cursor:hand;
display:block;
background:url(https://access.caltech.edu/res/img/IMSS_footer2.JPG) #fff no-repeat 0 10px;
width:97px;
position:absolute;
top:0;
height:50px;
left:590px;
}

.resp-title {
font-family:verdana,sans-serif;
font-size:70%;
font-weight:700;
color:#333;
padding-bottom:.5em;
padding-top:.5em;
margin:0;
}

.resp-link {
font-family:verdana,sans-serif;
font-size:80%;
color:#333;
padding-bottom:.5em;
padding-top:.5em;
margin:0;
}


A {
font-family:verdana,sans-serif;

color:#333;
padding-bottom:.5em;
padding-top:.5em;
margin:0;
}

#header {
position:relative;
height:1.2em;
padding-left:20px;
border-right:#996 1px solid;
border-top:#996 1px solid;
margin-top:0;
background-color:#cc9;
padding-bottom:6px;
border-left:#996 1px solid;
border-bottom:medium none;
color:#000;
}

#citheader {
background:url(https://access.caltech.edu/res/img/Regis_banner.jpg) no-repeat 0 0;
height:61px;
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
border-bottom:#143c64 1px solid;
border-left:#143c64 1px solid;
background-color:#369;
padding-bottom:4px;
}

#header UL#primary {
width:100%;
bottom:-1px;
position:absolute;
margin:0;
padding:0;
}

#header UL#primary LI {
display:inline;
list-style-type:none;
}

#header UL#primary A {
display:block;
font-size:75%;
float:left;
background-color:#f7f7e7;
color:#333;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#aaa 1px solid;
border-top:#aaa 1px solid;
background:#00000;
border-left:#aaa 1px solid;
border-bottom:medium none;
margin:1px 2px 0 0;
padding:4px 15px;
}

#header UL#primary SPAN {
display:block;
font-size:75%;
float:left;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
background:#fff;
border-left:#143c64 1px solid;
border-bottom:medium none;
color:#000;
margin:0 2px 0 0;
padding:4px 15px 6px;
}

#header UL#primary A.current {
display:block;
font-size:75%;
float:left;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
background:#369;
border-left:#143c64 1px solid;
border-bottom:medium none;
color:#000;
margin:0 2px 0 0;
padding:4px 0 6px;
}

#header UL#primary A.current:hover {
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
margin-top:0;
background:#369;
padding-bottom:6px;
border-left:#143c64 1px solid;
border-bottom:medium none;
}

#header UL#primary A:hover {
margin-top:0;
background:#00000;
padding-bottom:5px;
border-color:#143c64;
}

#header UL#secondary {
background:#369;
left:1px;
visibility:visible;
width:99.5%;
position:absolute;
top:2em;
margin:0;
padding:0 0 5px;
}

#header UL#secondary LI A {
border-right:medium none;
border-top:medium none;
display:block;
background:none transparent scroll repeat 0 0;
float:left;
border-left:#aaa 1px dotted;
width:auto;
border-bottom:medium none;
color:#00000;
text-decoration:underline;
margin:0;
padding:0 10px;
}

#header UL#secondary LI SPAN {
border-right:medium none;
border-top:medium none;
display:block;
background:none transparent scroll repeat 0 0;
float:left;
border-left:#aaa 1px dotted;
width:auto;
border-bottom:medium none;
margin:0;
padding:0 10px;
}

#header UL#secondary LI A:hover {
border-right:medium none;
border-top:medium none;
background:none transparent scroll repeat 0 0;
border-left:#aaa 1px dotted;
color:#fff;
border-bottom:medium none;
padding:0 10px;
}

#header UL#secondary LI A:active {
background:none transparent scroll repeat 0 0;
color:#000;
}

#header UL#secondary LI:unknown A {
border-right:medium none;
border-top:medium none;
border-left:medium none;
border-bottom:medium none;
}

#header UL#secondary LI.right {
float:right;
display:inline;
}

.innerDataTable {
background:#cc9;
font-family:verdana,sans-serif;
border-collapse:collapse;
}

.dataTable {
border-right:#996 1px solid;
border-top:#996 1px solid;
background:#cc9;
margin-bottom:8px;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
border-collapse:collapse;
font-family:verdana,sans-serif;
}

.dataTable TH {
border-right:#fff 1px solid;
border-top:#fff 1px solid;
font-weight:700;
font-size:80%;
background:#cc9;
margin-bottom:8px;
margin-left:20px;
border-left:#fff 1px solid;
cursor:hand;
color:#369;
text-indent:5px;
border-bottom:#fff 1px solid;
border-collapse:collapse;
text-align:left;
font-family:verdana,sans-serif;
}

.dataTable TD {
border-right:#996 1px solid;
border-top:#996 1px solid;
background:#f7f7e7;
margin-bottom:8px;
margin-left:20px;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
background-color:#f7f7e7;
color:#000;
text-indent:5px;
}

.dataTable TD .sub{
border-right:#996 1px solid;
border-top:#996 1px solid;
background:#cc9;
margin-bottom:8px;
margin-left:20px;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
background-color:#f7f7e7;
color:#000;
text-indent:5px;
}

.subdataTable {


background:#cc9;



border-collapse:collapse;
font-family:verdana,sans-serif;
}

.subdataTable TH {


font-weight:700;
font-size:80%;
background:#cc9;
margin-bottom:8px;
margin-left:20px;

cursor:hand;
color:#369;
text-indent:5px;

border-collapse:collapse;
text-align:left;
font-family:verdana,sans-serif;
}

.subdataTable TD {
background:#f7f7e7;
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
background-color:#f7f7e7;
color:#000;
text-indent:5px;
}

.subdataTable TD.operation {
background:#ffffff;
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
background-color:#ffffff;
color:#000;
text-indent:45px;

}



.TableBar {
font-family:verdana,sans-serif;
color:#369;
font-weight:700;
font-size:x-small;
background-color:#cc9;
border:none;
border-bottom:#663 1px solid;
}

H2 {
font-size:15pt;
color:#333;
font-family:verdana,sans-serif;
voice-family:inherit;
}

.button {
font-family:verdana,sans-serif;
font-size:8pt;
color:#630;
}

.CITHeader {
font-family:font-family:verdana,sans-serif;
font-size:16pt;
color:#369;
}

.CITBGColorVeryDark {
background-color:#036;
}

.CITBGColorDark {
background-color:#369;
}

.CITBGColorMedium {
background-color:#69c;
}

.CITBGColorLight {
background-color:#9cf;
}

.CITBGGrayVeryDark {
background-color:#333;
}

.CITBGGrayDark {
background-color:#666;
}

.CITBGGrayMedium {
background-color:#999;
}

.CITBGGrayLight {
background-color:#ccc;
}

.CITBGAccentVeryDark {
background-color:#996;
}
.OraInlineErrorText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#cc0000}


.CITBGAccentDark {
background-color:#cc9;
}

.CITBGAccentMedium {
background-color:#ffc;
}

.CITBGAccentLight {
background-color:#f7f7e7;
}

.CITHeaderSubSub {
font-family:verdana,sans-serif;
font-size:11pt;
color:#369;
font-weight:700;
}

.CITInlineInfoText {
font-family:verdana,sans-serif;
font-size:8pt;
color:#369;
}

.CITPortletHeader {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#000;
}

.CITDarkPortletHeader {
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
}

.sectionHeadMid {
border-top:#c6a765 1px solid;
font-weight:700;
font-size:18px;
line-height:25px;
border-bottom:#c6a765 1px solid;
background-color:#f7f7e7;
}

.section {
border-right:#c6a765 1px solid;
border-top:0;
border-left:#c6a765 1px solid;
border-bottom:0;
background-color:#f7f7e7;
}

.sectionFoot {
font-size:2px;
line-height:1px;
border-bottom:#c6a765 1px solid;
background-color:#f7f7e7;
}

.Header2 {
color:ff7011;
font-family:Verdana;
font-size:x-small;
font-weight:700;
background-color:#f7f7e7;
}

H3,H4 {
font-size:small;
color:#333;
font-family:verdana,sans-serif;
voice-family:inherit;
}
