	.standardtext {  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; text-decoration: none; color: #333333; font-weight:
normal}


.resp_table {
clear:both;
border-right:#996 1px solid;
border-top:#996 1px solid;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
background:#cece9c;
}
.edit {
	FONT-SIZE: 95%; COLOR: #336699
}
.cit_table_2 {
clear:both;
border-right:#996 1px solid;
border-top:#996 1px solid;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
font-family:verdana,sans-serif;
font-size:12px;
background:#f7f7e7;
}

.cit_table_2 TD {
font-size:11px;

line-height:13px;
margin:0;
padding:0 10px 3px;
}
.search_box{
font-size:11px;

line-height:13px;
margin:0;
background:#eee;
padding:2px 10px 3px;
border-right:#31639c 1px solid;
border-top:#31639c 1px solid;
border-left:#31639c 1px solid;
border-bottom:#31639c 1px solid;
}


.label {
white-space:nowrap;
padding-right:4px;
font-weight:700;
width: 150px;
text-align:right;
}

.data {
padding-left:4px;
width: 300px;
}

.sectionLabelBold {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#036;
border-bottom:#369 1px solid;
margin-bottom:7px;
padding-top:4px;
}

.sectionLabelBreak {
background:#369;
}

.sectionLabel {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#369;
}

.sectionSubLabel {
font-family:verdana,sans-serif;
font-size:8pt;
font-weight:700;
color:#369;
padding-left:1em;
}

.statslabel {
padding-right:.5em;
padding-left:.5em;
font-weight:700;
text-align:right;
font-family:verdana,sans-serif;
font-size:70%;
color:#333;
margin:0;
}




.resp-title {
font-family:verdana,sans-serif;
font-size:90%;
font-weight:700;
color:#31639c;
padding-bottom:.5em;
padding-top:.2em;
border-bottom:#31639c 1px solid;
margin:0 0 8px;
text-align:left;
}

.key-title {
font-family:verdana,sans-serif;
font-size:80%;
font-weight:700;
color:#31639c;
padding-bottom:.5em;
padding-top:.5em;
border-bottom:#31639c 1px solid;
margin:0 0 8px;
}

A {
font-family:verdana,sans-serif;
color:#333;
padding-bottom:.5em;
padding-top:.5em;
margin:0;
}

A {
color:#f60;
}

A:link {text-decoration: none;color:#000}
A:visited {text-decoration: none;color:#000}
A:active {text-decoration: none;color:#000}
A:hover {text-decoration: underline; color: #f60;}


.resp-link-active {
font-family:verdana,sans-serif;
font-size:80%;
color:#ffffff;
padding-bottom:.5em;
padding-top:.5em;
text-decoration:none;
margin:0;
background:#cc9;
}

.resp-link {
font-family:verdana,sans-serif;
font-size:80%;
color:#000;
padding-bottom:.5em;
padding-top:.5em;
text-decoration:none;
margin:0;
}



.innerDataTable {
font-family:verdana,sans-serif;
border-collapse:collapse;
background:#cc9;
}

.dataTable {
border:#996 1px solid;

border-collapse:collapse;
font-family:verdana,sans-serif;
min-width:500px;
background:#fffdf3;
}

.keyTable {
border-right:#996 1px solid;
border-top:#996 1px solid;
margin-bottom:8px;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
border-collapse:collapse;
font-family:verdana,sans-serif;
background:#f7f7e7;
}

.keyTable TD {
margin-bottom:8px;
margin-left:20px;
padding-top:5px;
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
color:#31639c;
text-indent:5px;
background:#f7f7e7;
}

.dataTable TH {
border-right:#fff 1px solid;
border-top:#fff 1px solid;
font-weight:700;
font-size:80%;
margin-bottom:8px;
margin-left:20px;
border-left:#fff 1px solid;
cursor:hand;

text-indent:5px;
border-bottom:#fff 1px solid;
border-collapse:collapse;
text-align:left;
font-family:verdana,sans-serif;
background:#e6e1af;
}

.subdataTable {
border-collapse:collapse;
font-family:verdana,sans-serif;
background:#cc9;
}

.subdataTable TH {
font-weight:700;
font-size:80%;
margin-bottom:8px;
margin-left:20px;
cursor:hand;
color:#369;
text-indent:5px;
border-collapse:collapse;
text-align:left;
font-family:verdana,sans-serif;
background:#cc9;
}

.subdataTable TD {
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
text-indent:5px;
background:#f7f7e7;
}

.subdataTable TD.operation {
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
text-indent:45px;
background:#fff;
}

.tipbox {
border-right:#cc9 1px solid;
padding-right:5px;
border-top:#cc9 1px solid;
display:none;
padding-left:5px;
font-size:100%;
padding-bottom:5px;
margin-left:25px;
border-left:#cc9 1px solid;
width:200px;
border-bottom:#cc9 1px solid;
position:absolute;
background:#f7f7e7;
}

.tip {
cursor:default;
}

.TableBar {
font-family:verdana,sans-serif;
color:#369;
font-weight:700;
font-size:x-small;
border:none;
border:#663 1px solid;
background:#e6e1af;
}



.button {
font-family:verdana,sans-serif;
font-size:8pt;
color:#630;
}

.CITHeader {
font-family:font-family:verdana,sans-serif;
font-size:16pt;
color:#369;
}

.CITBGColorVeryDark {
background:#036;
}

.CITBGColorDark {
background:#369;
}

.CITBGColorMedium {
background:#69c;
}

.CITBGColorLight {
background:#9cf;
}

.CITBGGrayVeryDark {
background:#333;
}

.CITBGGrayDark {
background:#666;
}

.CITBGGrayMedium {
background:#999;
}

.CITBGGrayLight {
background:#ccc;
}

.CITBGAccentVeryDark {
background:#996;
}

.CITBGAccentDark {
background:#cc9;
}

.CITBGAccentMedium {
background:#ffc;
}

.CITBGAccentLight {
background:#f7f7e7;
}

.CITHeaderSubSub {
font-family:verdana,sans-serif;
font-size:11pt;
color:#369;
font-weight:700;
}

.CITInlineInfoText {
font-family:verdana,sans-serif;
font-size:8pt;
color:#369;
}

.CITPortletHeader {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#000;
}

.CITDarkPortletHeader {
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
}

.sectionHeadMid {
border-top:#c6a765 1px solid;
font-weight:700;
font-size:18px;
line-height:25px;
border-bottom:#c6a765 1px solid;
background:#f7f7e7;
}

.section {
border-right:#c6a765 1px solid;
border-top:0;
border-left:#c6a765 1px solid;
border-bottom:0;
background:#f7f7e7;
}

.sectionFoot {
font-size:2px;
line-height:1px;
border-bottom:#c6a765 1px solid;
background:#f7f7e7;
}

.Header2 {
color:ff7011;
font-family:Verdana;
font-size:x-small;
font-weight:700;
background:#f7f7e7;
}

.sso_div {
text-align:right;
padding-right:10px;
background:#fff;
}

.sso_div a {
font-size:60%;
font-weight:700;
text-decoration:none;
display:inline;
color:#c30;
}



.dataTable TD,.dataTable TD .sub {
border-right:#996 1px solid;
border-top:#996 1px solid;
margin-bottom:8px;
margin-left:20px;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
text-indent:5px;
background:#f7f7e7;
}