HTML {
min-width:800px;
max-width:1000px;
}

#main {
clear:both;
padding-top:1.6em;
align:CENTER;
background:#fff;
}

.resp_table {
clear:both;
border-right:#996 1px solid;
border-top:#996 1px solid;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
background:#cece9c;
}

.CitSearchFormTable {
clear:both;
border-right:#996 1px solid;
border-top:#996 1px solid;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
font-family:verdana,sans-serif;
font-size:12px;
BACKGROUND-COLOR: #FFC0CB;
}


.CitSearchFormTable TD {
font-size:11px;
line-height:13px;
margin:0;
}

.CitFormTable{FONT-SIZE: x-small;  COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7;  BORDER: #cccc99 1px solid; }
.CitSaveFormTable{clear:both; border-right:#996 1px solid;border-top:#996 1px solid;border-left:#996 1px solid; border-bottom:#996 1px solid; FONT-SIZE: x-small;   FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #FFFFFF; }
.CitEditFormTable{clear:both; border-right:#996 1px solid;border-top:#996 1px solid;border-left:#996 1px solid; border-bottom:#996 1px solid;  FONT-SIZE: x-small;  FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #C8A2C8; }
.CitNewStrainFormTable{clear:both; border-right:#996 1px solid;border-top:#996 1px solid;border-left:#996 1px solid; border-bottom:#996 1px solid;  FONT-SIZE: x-small;  FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #ADD8E6;}
.CitNewMouseFormTable{clear:both; border-right:#996 1px solid;border-top:#996 1px solid;border-left:#996 1px solid; border-bottom:#996 1px solid;  FONT-SIZE: x-small;  FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR:	#CFB8B0; }
.CitNewBreedFormTable{clear:both; border-right:#996 1px solid;border-top:#996 1px solid;border-left:#996 1px solid; border-bottom:#996 1px solid;  FONT-SIZE: x-small;  FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR:	#98EE90;  }
.CitNewWeanFormTable{clear:both; border-right:#996 1px solid;border-top:#996 1px solid;border-left:#996 1px solid; border-bottom:#996 1px solid;  FONT-SIZE: x-small;   FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR:	#EEE8AA;  }
.CitTableHeaderActive{clear:both; border-right:#996 1px solid;border-top:#996 1px solid;border-left:#996 1px solid; border-bottom:#996 1px solid;  BORDER-LEFT: #f7f7e7 1px solid;BORDER-RIGHT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; background-color:#cccc99; color:#336699; text-indent:1px; text-decoration:none }
.search_box{
font-size:11px;

line-height:13px;
margin:0;
background:#eee;
padding:2px 10px 3px;
border-right:#31639c 1px solid;
border-top:#31639c 1px solid;
border-left:#31639c 1px solid;
border-bottom:#31639c 1px solid;
}


.label {
font-weight:bold;
font-family: verdana,sans-serif;
font-size: 12px;
text-align:right;
}


.data {
padding-left:3px;
font-size:9pt;
}


.sectionLabelBold {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#036;
margin-bottom:7px;
padding-top:4px;
}

.sectionLabelBreak {
background:#369;
}

.sectionLabel {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#369;
margin-top:5px;
background:#cc9;
}

.sectionSubLabel {
font-family:verdana,sans-serif;
font-size:8pt;
font-weight:700;
color:#369;
padding-left:1em;
}

#contents {
width:700px;
align:center;
margin:0 auto;
padding:5px;
background:#FFF;
}

#footer {
margin-top:20px;
display:block;
margin-left:auto;
margin-right:auto;
width:700px;
color:#333;
font-family:verdana,sans-serif;
position:relative;
height:80px;
align:CENTER;
padding:0;
}

#footer_address {
text-valign:MIDDLE;
font-size:85%;
color:#333;
padding:9px 55px 30px 60px;
background:#fff;
}

#footer_logo {
cursor:hand;
display:block;
width:50px;
position:absolute;
top:0;
height:50px;
background:url(https://cap-cas-srv2.caltech.edu/res/img/footer.gif) no-repeat #fff;
}

#imss_logo {
cursor:hand;
display:block;
width:97px;
position:absolute;
top:0;
height:50px;
left:590px;
background:url(https://cap-app-test1.caltech.edu/res/img/IMSS_footer2.JPG) no-repeat 0 10px #fff;
}


A {
font-family:verdana,sans-serif;
color:#333;
padding-bottom:.5em;
padding-top:.5em;
margin:0;
}

A:hover {
color:#f60;
}

A:active {
color:#000;
}

A:visited {
color:#c30;
}

.resp-link {
font-family:verdana,sans-serif;
font-size:80%;
color:#31639c;
padding-bottom:.5em;
padding-top:.5em;
text-decoration:none;
margin:0;
}

#header {
position:relative;
height:1.2em;
padding-left:20px;
border-right:#996 1px solid;
border-top:#996 1px solid;
margin-top:0;
padding-bottom:6px;
border-left:#996 1px solid;
border-bottom:medium none;
font-weight:bold;
color:#000;
background:#cc9;
}

#citheader {
height:61px;
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
border-bottom:#143c64 1px solid;
border-left:#143c64 1px solid;
padding-bottom:4px;
}

#header UL#primary {
width:100%;
bottom:-1px;
position:absolute;
margin:0;
padding:0;
}

#header UL#primary A {
display:block;
font-size:75%;
float:left;
color:#333;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#aaa 1px solid;
border-top:#aaa 1px solid;
border-left:#aaa 1px solid;
border-bottom:medium none;
margin:1px 2px 0 0;
padding:4px 15px;
background:#00000;
}

#header UL#primary SPAN {
display:block;
font-size:75%;
float:left;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
border-left:#143c64 1px solid;
border-bottom:medium none;
color:#000;
margin:0 2px 0 0;
padding:4px 15px 6px;
background:#fff;
}

#header UL#primary A.current {
display:block;
font-size:75%;
float:left;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
border-left:#143c64 1px solid;
border-bottom:medium none;
color:#000;
margin:0 2px 0 0;
padding:4px 0 6px;
background:#369;
}

#header UL#primary A.current:hover {
border-right:#143c64 1px solid;
border-top:#143c64 1px solid;
margin-top:0;
padding-bottom:6px;
border-left:#143c64 1px solid;
border-bottom:medium none;
background:#369;
}

#header UL#primary A:hover {
margin-top:0;
padding-bottom:5px;
border-color:#143c64;
background:#00000;
}

#header UL#secondary {
left:1px;
visibility:visible;
width:99.5%;
position:absolute;
top:2em;
margin:0;
padding:0 0 5px;
background:#369;
}

#header UL#secondary LI A {
border-right:medium none;
border-top:medium none;
display:block;
float:left;
border-left:#aaa 1px dotted;
width:auto;
border-bottom:medium none;
color:#00000;
text-decoration:underline;
margin:0;
padding:0 10px;
}

#header UL#secondary LI SPAN {
border-right:medium none;
border-top:medium none;
display:block;
float:left;
border-left:#aaa 1px dotted;
width:auto;
border-bottom:medium none;
margin:0;
padding:0 10px;
}

#header UL#secondary LI A:hover {
border-right:medium none;
border-top:medium none;
border-left:#aaa 1px dotted;
color:#fff;
border-bottom:medium none;
padding:0 10px;
}

#header UL#secondary LI A:active {
color:#000;
}

.innerDataTable {
font-family:verdana,sans-serif;
border-collapse:collapse;
background:#cc9;
}

.dataTable {
border-right:#996 1px solid;
border-top:#996 1px solid;
margin-bottom:8px;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
border-collapse:collapse;
font-family:verdana,sans-serif;
min-width:600px;
max-width:850px;
background:#cc9;
}


.dataTable TH {
border-right:#fff 1px solid;
border-top:#fff 1px solid;
font-weight:700;
font-size:80%;
margin-bottom:8px;
margin-left:20px;
border-left:#fff 1px solid;
cursor:hand;
color:#369;
text-indent:5px;
border-bottom:#fff 1px solid;
border-collapse:collapse;
text-align:left;
font-family:verdana,sans-serif;
background:#cc9;
}


.tipbox {
border-right:#cc9 1px solid;
padding-right:5px;
border-top:#cc9 1px solid;
display:none;
padding-left:5px;
font-size:100%;
padding-bottom:5px;
margin-left:25px;
border-left:#cc9 1px solid;
width:200px;
border-bottom:#cc9 1px solid;
position:absolute;
background:#f7f7e7;
}

.tip {
cursor:default;
}

.TableBar {
font-family:verdana,sans-serif;
color:#369;
font-weight:700;
font-size:x-small;
border:none;
border-bottom:#663 1px solid;
background:#cc9;
}

H2 {
font-size:15pt;
color:#333;
font-family:verdana,sans-serif;
voice-family:inherit;
}

.button {
font-family:verdana,sans-serif;
font-size:8pt;
color:#630;
}

.CITHeader {
font-family:Arial,verdana,sans-serif;
font-size:12pt;
font-weight:bold;
color:#369;
}

.CITBGColorVeryDark {
background:#036;
}

.CITBGColorDark {
background:#369;
}

.CITBGColorMedium {
background:#69c;
}

.CITBGColorLight {
background:#9cf;
}

.CITBGGrayVeryDark {
background:#333;
}

.CITBGGrayDark {
background:#666;
}

.CITBGGrayMedium {
background:#999;
}

.CITBGGrayLight {
background:#ccc;
}

.CITBGAccentVeryDark {
background:#996;
}

.CITBGAccentDark {
background:#cc9;
}

.CITBGAccentMedium {
background:#ffc;
}

.CITBGAccentLight {
background:#f7f7e7;
}

.CITHeaderSubSub {
font-family:verdana,sans-serif;
font-size:11pt;
color:#369;
font-weight:700;
}

.CITInlineInfoText {
font-family:verdana,sans-serif;
font-size:8pt;
color:#369;
}

.CITPortletHeader {
font-family:verdana,sans-serif;
font-size:10pt;
font-weight:700;
color:#000;
}

.CITDarkPortletHeader {
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
}

.sectionHeadMid {
border-top:#c6a765 1px solid;
font-weight:700;
font-size:18px;
line-height:25px;
border-bottom:#c6a765 1px solid;
background:#f7f7e7;
}

.section {
border-right:#c6a765 1px solid;
border-top:0;
border-left:#c6a765 1px solid;
border-bottom:0;
background:#f7f7e7;
}

.sectionFoot {
font-size:2px;
line-height:1px;
border-bottom:#c6a765 1px solid;
background:#f7f7e7;
}

.Header2 {
color:ff7011;
font-family:Verdana;
font-size:x-small;
font-weight:700;
background:#f7f7e7;
}

.sso_div {
text-align:right;
padding-right:10px;
background:#fff;
}

.sso_div a {
font-size:60%;
font-weight:700;
text-decoration:none;
display:inline;
color:#c30;
}

#tabBar {
position:relative;
height:2em;
}

#tabBar UL#primary {
width:100%;
position:absolute;
margin:0;
padding:0;
}

#tabBar UL#primary A {
display:block;
font-size:75%;
float:left;
color:#333;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#aaa 1px solid;
border-top:#aaa 1px solid;
border-left:#aaa 1px solid;
border-bottom:medium none;
margin:1px 2px 0 0;
padding:4px 15px;
background:#efc;
}

#tabBar UL#primary SPAN {
display:block;
font-size:75%;
float:left;
color:#fff;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#666 1px solid;
border-top:#666 1px solid;
border-left:#666 1px solid;
border-bottom:medium none;
margin:0 2px 0 0;
padding:4px 15px 6px;
background:#31639c;
}

#tabBar UL#primary A.current {
display:block;
font-size:75%;
float:left;
color:#333;
font-family:verdana,sans-serif;
text-align:center;
text-decoration:none;
border-right:#666 1px solid;
border-top:#666 1px solid;
border-left:#666 1px solid;
border-bottom:medium none;
margin:0 2px 0 0;
padding:4px 0 6px;
background:#31639c;
}

#tabBar UL#primary A.current:hover {
border-right:#666 1px solid;
border-top:#666 1px solid;
margin-top:0;
padding-bottom:6px;
border-left:#666 1px solid;
border-bottom:medium none;
background:#31639c;
}

#tabBar UL#primary A:hover {
margin-top:0;
padding-bottom:5px;
border-color:#666;
background:#efc;
}

#tabBar UL#secondary {
left:1px;
visibility:visible;
width:99.5%;
position:absolute;
color:#fff;
top:.5em;
margin:0;
padding:0 0 5px;
background:#31639c;
}

#tabBar UL#secondary LI A {
border-right:medium none;
border-top:medium none;
display:block;
float:left;
border-left:#aaa 1px dotted;
width:auto;
border-bottom:medium none;
color:#fff;
font-family:verdana,sans-serif;
font-size:8pt;
text-decoration:underline;
margin:0;
padding:0 10px;
}

#tabBar UL#secondary LI SPAN {
border-right:medium none;
border-top:medium none;
display:block;
float:left;
border-left:#aaa 1px dotted;
width:auto;
border-bottom:medium none;
margin:0;
padding:0 10px;
}

#tabBar UL#secondary LI A:hover {
border-right:medium none;
border-top:medium none;
border-left:#aaa 1px dotted;
color:#fff;
border-bottom:medium none;
padding:0 10px;
}

#tabBar UL#secondary LI A:active {
color:#fff;
}

BODY,H3,H4 {
font-size:small;
color:#333;
font-family:verdana,sans-serif;
voice-family:inherit;
}

#header UL#primary LI,#tabBar UL#primary LI {
display:inline;
list-style-type:none;
}

#header UL#secondary LI:unknown A,#tabBar UL#secondary LI:unknown A {
border-right:medium none;
border-top:medium none;
border-left:medium none;
border-bottom:medium none;
}

#header UL#secondary LI.right,#tabBar UL#secondary LI.right {
float:right;
display:inline;
}

.dataTable TD,.dataTable TD .sub {
border-right:#996 1px solid;
border-top:#996 1px solid;
margin-bottom:8px;
margin-left:20px;
border-left:#996 1px solid;
border-bottom:#996 1px solid;
border-collapse:collapse;
font-family:verdana,sans-serif;
font-size:10pt;
color:#000;
text-indent:5px;
background:#f7f7e7;
}


/* CSS file generated on Thu Sep 21 10:58:08 CDT 2000 */

BODY {
font-family:Arial, Helvetica, Geneva, sans-serif;  voice-family: inherit
}
.OraBGColorVeryDark {background-color:#003366}
.OraBGColorDark {background-color:#336699}
.OraBGColorMedium {background-color:#6699cc}
.OraBGColorLight {background-color:#99ccff}
.OraBGGrayVeryDark {background-color:#333333}
.OraBGGrayDark {background-color:#666666}
.OraBGGrayMedium {background-color:#999999}
.OraBGGrayLight {background-color:#cccccc}
.OraBGAccentVeryDark {background-color:#999966}
.OraBGAccentDark {background-color:#cccc99}
.OraBGAccentMedium {background-color:#ffffcc}
.OraBGAccentLight {background-color:#f7f7e7}
.OraBody {background-color:#ffffff}
.OraPromptText {vertical-align:top;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; text-align:right; color:#000000;}
.OraDataText {vertical-align:top;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold;text-align:left; color:#000000}
.OraFieldText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#000000}
.OraFieldTextDisabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#999999}
.OraFieldNumber {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#000000}
.OraFieldNumberDisabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#999999}
.OraInstructionText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#000000}
.OraInstructionTextStrong {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#000000}
.OraButtonText {font-family:Arial, Helvetica, Geneva, sans-serif; background-color:#f7f7e7; color:#000000; font-size:12pt}
.OraButtonTextDisabled {font-family:Arial, Helvetica, Geneva, sans-serif; background-color:#f7f7e7; color:#999966; font-size:12pt}
.OraGlobalButtonText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#663300}
.OraGlobalButtonTextSelected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#336699}
.OraGlobalButtonTextDisabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#999966}
.OraGlobalButtonIcon {background-color:#ffffff; color:#999966}
.OraGlobalButtonIconSelected {background-color:#99ccff; color:#336699}
.OraGlobalButtonIconDisabled {background-color:#f7f7e7; color:#cccc99}
.OraLinkText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#663300}
.OraVLinkText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#996633}
.OraALinkText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#ff6600}
.OraTipLabel {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#336699}
.OraTipText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#336699}
.OraInlineInfoText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#336699}
.OraErrorText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#cc0000}
.OraErrorNameText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#cc0000}
.OraInlineErrorText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#cc0000}
.OraHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:16pt; color:#336699}
.OraHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#336699; font-weight:bold}
.OraHeaderSubSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; color:#336699; font-weight:bold}
.OraDarkHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:16pt; color:#003366}
.OraDarkHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#003366; font-weight:bold}
.OraDarkHeaderSubSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; color:#003366; font-weight:bold}
.OraLightHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:16pt; color:#6699cc}
.OraLightHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#6699cc; font-weight:bold}
.OraLightHeaderSubSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; color:#6699cc; font-weight:bold}
.OraColorHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:16pt; color:#ffffcc}
.OraColorHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#ffffcc; font-weight:bold}
.OraColorHeaderSubSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; color:#ffffcc; font-weight:bold}
.OraPortletHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#000000}
.OraDarkPortletHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#000000}
.OraErrorHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:16pt; color:#cc0000}
.OraGlobalPageTitle {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#ffffff; font-weight:bold}
.OraNav1Selected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#99ccff; font-weight:bold}
.OraNav1Enabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; background-color:#cccc99; color:#003366}
.OraNav1Disabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; background-color:#cccc99; color:#ffffcc}
.OraNav2Selected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#ffffff; text-decoration:none}
.OraNav2Enabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#cccc99; text-decoration:none}
.OraNav2Disabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#6699cc; text-decoration:none}
.OraNav3Selected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; background-color:#336699; color:#ffffff; text-decoration:none}
.OraNav3Enabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#cccc99; color:#003366}
.OraNav3Disabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#cccc99; color:#ffffcc; text-decoration:none}
.OraTextInline {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#6699cc}
.OraTableTitle {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; background-color:#ffffff; color:#336699}
.OraTableControlBarText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; background-color:#cccc99; color:#336699; font-weight:bold}
.OraTableSearchControlBarText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; background-color:#FFC8CB; color:#336699; font-weight:bold}
.OraTableColumnHeader {BORDER-LEFT: #f7f7e7 1px solid;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#336699; text-indent:5px; }
.OraTableSortableColumnHeader {BORDER-LEFT: #f7f7e7 1px solid;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#336699; cursor:hand; }
.OraTableRowHeaderNumber {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#336699; text-indent:1px}
.OraTableRowHeaderText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:right; background-color:#cccc99; color:#336699; text-indent:1px}
.OraTableColumnFooter {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#336699; text-indent:1px; padding:2px}
.OraTableTotal {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:right; background-color:#cccc99; color:#336699; padding-top:2px}
.OraTableAddTotal {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#336699; padding-top:2px}
.OraTableTotalNumber {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:right; background-color:#cccc99; color:#000000; vertical-align:baseline}
.OraTableTotalText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#cccc99; color:#000000; vertical-align:baseline}
.OraTableCellText {;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#f7f7e7; color:#000000; text-indent:5px; BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; BORDER-LEFT: #cccc99 1px solid; BORDER-BOTTOM: #cccc99 1px solid;}
.OraTableCellTextBand {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#ffffff; color:#000000; text-indent:1px;BORDER-RIGHT: #cccc99 1px solid; BORDER-TOP: #cccc99 1px solid; BORDER-LEFT: #cccc99 1px solid; BORDER-BOTTOM: #cccc99 1px solid;}
.OraTableCellNumber {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; text-align:right; background-color:#f7f7e7; color:#000000; text-indent:1px}
.OraTableCellNumberBand {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; text-align:right; background-color:#ffffff; color:#000000; text-indent:1px}
.OraTableCellIconButton {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; text-align:center; background-color:#f7f7e7; color:#000000; text-indent:1px}
.OraTableCellIconButtonBand {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; text-align:center; background-color:#ffffff; color:#000000; text-indent:1px}
.OraTableCellSelect {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#f7f7e7; color:#000000; text-align:center; text-indent:1px}
.OraTableCellSelectBand {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#ffffff; color:#000000; text-align:center; text-indent:1px}
.OraTableVerticalGrid {background-color:#cccc99; width:1px}
.OraTableVerticalHeaderGrid {background-color:#f7f7e7; width:1px}
.OraTableHorizontalGrid {background-color:#cccc99; width:1px}
.OraTableHorizontalHeaderGrid {background-color:#f7f7e7; width:1px}
.OraTableShadowHeaderGrid {background-color:#666633; width:1px}
.OraTableHeaderLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; background-color:#cccc99; color:#336699; text-indent:1px; text-decoration:none}
.OraTrainActive {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#336699; font-weight:bold; text-align:center}
.OraTrainVisited {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#cccc99; text-align:center}
.OraTrainUnvisited {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#336699; text-align:center}
.OraPrivacy {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; text-align:right; color:#663300}
.OraCopyright {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; text-align:left; color:#000000}
.OraCrumbsSelected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#000000; text-decoration:none}
.OraCrumbsEnabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#663300}
.OraNavBarActiveLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#663300;cursor:hand}
.OraNavBarInactiveLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#999966}
.OraNavBarViewOnly {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#336699}
.OraCalendarTitle {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; background-color:#ffffff; color:#336699; text-align:center}
.OraCalendarHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; background-color:#cccc99; color:#336699; text-align:center; padding:2px}
.OraCalendarEnabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#f7f7e7; color:#336699; text-align:center; line-height:1.5; padding:2px; text-decoration:none}
.OraCalendarDisabled {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#f7f7e7; color:#999999; text-align:center; line-height:1.5; padding:2px}
.OraCalendarSelected {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#999966; color:#ffffff; text-align:center; line-height:1.5; padding:2px}
.OraCContainerColorHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#ffffcc; font-weight:bold}
.OraCContainerHeaderSub {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:14pt; color:#336699; font-weight:bold}
.OraTreeLink {text-decoration:none}
.OraTreeText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#003366; margin-top:-2px}
.OraTreeSelectedText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; background-color:#336699; color:#ffffff; margin-top:-2px}
.OraTreeRow {text-align:left; margin-top:-2px}
.OraTreeIcon {vertical-align:top}
.OraShuttleHeader {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:11pt; font-weight:bold; color:#336699}
.OraMessageBoxLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#336699}
.OraMessageBoxParagraph {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#336699}
.OraMessageBoxErrorList {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#cc0000}
.OraMessageBoxErrorLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; color:#cc0000}
.OraMessageBoxErrorParagraph {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; color:#cc0000}

A.none {FONT-WEIGHT: bold; FONT-SIZE: x-small; VERTICAL-ALIGN: bottom; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left; TEXT-DECORATION: none}
a.OraNavBarActiveLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#663300;cursor:hand}
a.OraNavBarInactiveLink {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:9pt; color:#999966}

ul.infoTree{
	width: auto;
	padding-left : 0px;
	margin-left : 0px;
	background-color: #cccc99;
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	font-size:10pt; 
	color:#003366;
}

ul.infoTree img{
 	border : none;
}
 

ul.infoTree, ul.infoTree ul {
	padding-left: 0;
}

ul.infoTree ul {
	margin-left: 16px;
		
}
li.closed span.hideShow{
	
	cursor: pointer;
	color:#003366;
}
li.open  span.hideShow{
	
	cursor: pointer;
	color:#003366;
}
H5 {
	FONT-SIZE: small; COLOR: #333; font-family:Arial, Helvetica, Geneva, sans-serif;  voice-family: inherit
}

 .basetable{

 
 
  border-right:#996 1px solid;
  border-top:#996 1px solid;
  border-left:#996 1px solid;
  border-bottom:#996 1px solid;
  border-collapse:collapse;
  font-family:verdana,sans-serif;
  }
 
  .basetable TH {
  border-top:#000000 1px solid;
  
  font-size:6pt;
  font-weight: lighter;
  margin-bottom:8px;
  margin-left:20px;
  text-indent:5px;
  border-collapse:collapse;
  text-align:left;
  font-family:verdana,sans-serif;
  border-left:#000000 1px solid;
  }
  
  .basetable TD {
 
  margin-bottom:8px;
  margin-left:20px;
  border-left:#000000 1px solid;
  border-bottom:#000000 1px solid;
  border-collapse:collapse;
  font-family:verdana,sans-serif;
  font-size:10pt;
 
  text-indent:5px;
 }
  .print {
 page-Break-After:always;
 }
 
 