#main {
	
	 BORDER-RIGHT: #666 1px solid;
	 BORDER-TOP: #666 1px solid;
	 BACKGROUND: #99cc33;
	 BORDER-LEFT: #666 1px solid;
	 BORDER-BOTTOM: #666 1px solid
}
#contents {
	 PADDING-RIGHT: 1.5em;
	 PADDING-LEFT: 1.5em;
	 MIN-HEIGHT: 300px;
	 BACKGROUND: #fffdf3;
	 PADDING-BOTTOM: 1.5em;
	 PADDING-top: 0.2em;
	 
}
#citheader
{

	BACKGROUND: url(/res/img/banner.JPG) no-repeat 0% 0%;
	
	HEIGHT: 61px;
	BORDER-RIGHT: #666 1px solid;
	BORDER-TOP: #666 1px solid;
	DISPLAY: block; 
	BORDER-LEFT: #666 1px solid;
	BACKGROUND-COLOR: #99cc33;
	PADDING-BOTTOM: 4px;
	 
	 
}
#header {
	POSITION: relative;
	
}
#header UL#primary {
	PADDING-RIGHT: 0px;
	 PADDING-LEFT: 0px;
	 PADDING-BOTTOM: 0px;
	 MARGIN: 0px;
	 WIDTH: 100%;
	 BOTTOM: -1px;
	 PADDING-TOP: 0px;
	 POSITION: absolute
}
#header UL#primary LI {
	DISPLAY: inline;
	 LIST-STYLE-TYPE: none
}
