 .basetable{

 
 
  border-right:#996 1px solid;
  border-top:#996 1px solid;
  border-left:#996 1px solid;
  border-bottom:#996 1px solid;
  border-collapse:collapse;
  font-family:verdana,sans-serif;
  }
 
  .basetable TH {
  border-top:#000000 1px solid;
  
  font-size:6pt;
  font-weight: lighter;
  margin-bottom:8px;
  margin-left:20px;
  text-indent:5px;
  border-collapse:collapse;
  text-align:left;
  font-family:verdana,sans-serif;
  border-left:#000000 1px solid;
  }
  
  .basetable TD {
 
  margin-bottom:8px;
  margin-left:20px;
  border-left:#000000 1px solid;
  border-bottom:#000000 1px solid;
  border-collapse:collapse;
  font-family:verdana,sans-serif;
  font-size:10pt;
 
  text-indent:5px;
 }
  .print {
 page-Break-After:always;
 }
 
 