a {
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000;
border:none;

}

body {
background:url('/res/img/gradient_bg.jpg') repeat-x;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:70%;
margin:20px 0;
}

.train {

padding-bottom:10px;
}

#app_title {
font-weight:700;
font-size:150%;
margin:0 20px;
}

#content {

margin:0 auto;
}

#after_content {
display:none;
height:46px;
margin:0 auto;
}

#before_content {
display:none;
height:71px;
margin:0 auto;
}

#surveySection {
text-align:left;
width:740px;
min-height:400px;

}

#util_search {

}

#util_search ul {

}

#util_search ul li {


}

#util_search ul li.right {

}

#util_search ul li.first {

}

#util_search ul li a:link,#util_search ul li a:active,#util_search ul li a:visited {

}

#util_search ul li a:hover {
text-decoration:underline;
}

#util_search form {

}

#util_search form input {

}

#util_search form input.search_input {

}
#MinHeightDiv {

       height:00px;
       width:0px;
       float: right;
display: block;

}

#cn_header {
display:none
}

.tablediv_f {
background-color:#ECECEC;
display:table;
padding-top:1em;
width:740px;
border-color:#224474;
border-style:solid;
border-width:thin;}

.tablediv {
background-color:#ECECEC;
display:table;
padding-top:1em;
width:740px;
border-color:#224474;
border-style:solid;
border-width:thin;


}
#print_title
{
color:#224474;
font-size:160%;
font-style:normal;
font-weight:700;
height: 900px;
}
#print_disclaimer
{
color:#224474;
font-size:100%;
font-style:normal;
font-weight:700;
page-break-after:always;
}
textarea {

	width: 735px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px 5px 5px 5px;
	font-family:verdana,sans-serif;
	
}
.headerdiv {
color:#224474;
display:table-cell;
float:left;
font-weight:700;
text-align:center;
width:52px;
}

.headerdivlong {
color:#224474;
display:table-cell;
float:left;
font-weight:700;
text-align:center;
width:80px;
}

.rowdiv {
display:table-row;
width:auto;
}

.rowdiveven {
background-color:#FFF;
display:table-row;
width:auto;
}

.rowdivodd {
background-color:#ECECEC;
display:table-row;
width:auto;
}

.questiondiv {
display:block;
float:left;
font-weight:700;
text-align:left;
width:320px;
padding:5px 10px;
}

.celldiv {
display:table-cell;
float:left;
text-align:center;
width:52px;
}

.celldivlong {
display:table-cell;
float:left;
text-align:center;
width:80px;
}

fieldset {
border:none;
padding:0;
}

fieldset
legend {
display:none;
}

.hide {
display:none;
width:auto;
}

#section_title {
color:#224474;
font-size:110%;
font-style:normal;
font-weight:700;
padding-top:10px;
padding-bottom:10px;
}

#objective_title {
color:#224474;
font-size:90%;
font-style:normal;
font-weight:700;
padding-top:5px;
padding-bottom:5px;
}

#site_title {
color:#646464;
display:block;
font-size:140%;
font-weight:normal;
padding-top:0;
text-align:center;
}

h1 {
color:#333;
font-size:100%;
text-decoration:none;
}

h2 {
font-size:80%;
font-weight:400;
}

P.note {
border-right:#224474 1px solid;
border-top:#224474 1px solid;
margin-top:0;
background:#ECECEC;
border-left:#224474 1px solid;
border-bottom:#224474 1px solid;
font-family:verdana,sans-serif;
padding:4px;
}

select {
width:140px;
margin:5px 0;
}

#page_marker,#controls {
text-align:right;
width:740px;
right:15px;
padding-top:10px;
}






.sectionScoreCellDivs
{
	display: table-cell;
	float: left;
	text-align: center;
	width: 80px;
	background-color: #5A6F8E;
	color: #FFFFFF;

	height: 22px;
	
	
}
.sectionScoreCellDivlong
{
	display: table-cell;
	text-align: center;
	width: 80px;
	background-color: #5A6F8E;
	color: #FFFFFF;
	border-style: solid;
	border-width: thin;
	height: 22px;
	
	
}
.sectionScoreCellDiv
{
	display: table-cell;
	text-align: center;
	width: 50px;
	background-color: #5A6F8E;
	color: #FFFFFF;
	border-style: solid;
	border-width: thin;
	height: 22px;
	
	
}

.sectionScoreCellRowDiv
{
	

	display: inline;
	width: auto;
}
.questiondivshort
{
	display: table-cell;
	float: left;
	font-weight: bold;
	padding-bottom: 1em;
	text-align: left;
	width: 150px;
}
.celldivxlong
{
	display: table-cell;
	float: left;
	text-align: center;
	width: 120px;
}
.celldivgraph
{
	display: table-cell;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	width: 65px;
}