a {
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000;
border:none;
}

body {
background:url('/res/img/gradient_bg.jpg') repeat-x;
background-color: #224271;
font-family:Verdana,Arial,Helvetica,sans-serif;
	FONT-SIZE: small;
margin:20px 0;
}

.train {
padding-bottom:10px;
}

#app_title {
font-weight:700;
font-size:150%;
margin:0 20px;
}

#content {
background:url('/res/img/content.gif') repeat-y center;
margin:0 auto;
}

#after_content {
background:url('/res/img/after_content.gif') no-repeat center;
height:46px;
margin:0 auto;
}

#before_content {
background:url('/res/img/before_content.gif') no-repeat bottom center;
height:71px;
margin:0 auto;
}

#surveySection {
text-align:left;
width:740px;
min-height:400px;
padding-top:50px;
}

#util_search {
background:transparent url(/res/img/ul_bg.jpg) repeat-x scroll center center;
width:740px;
}

#util_search ul {
background:transparent url(/res/img/ul_bg.jpg) repeat-x scroll center center;
clear:both;
color:#000;
float:left;
list-style-type:none;
position:absolute;
text-align:right;
top:10px;
width:720px;
margin:0;
padding:0 10px;
}

#util_search ul li {
display:block;
float:left;
border-left:solid 1px #ccc;
margin:5px 2px;
padding:0 0 0 5px;
}

#util_search ul li.right {
display:block;
float:right;
border-left:solid 1px #ccc;
margin:5px 2px;
padding:0 0 0 5px;
}

#util_search ul li.first {
display:block;
float:left;
border-left:solid 1px #fff;
margin:5px 2px;
padding:0;
}

#util_search  a {
text-decoration:none;
}
#util_search  a:link {
font-size:11px;
color:#000;
}

#util_search  a:active {
font-size:11px;
color:#000;
}

#util_search a:visited {
font-size:11px;
color:#000;
}

#util_search  a:hover {
text-decoration:underline;
}





#MinHeightDiv {
height:0;
width:0;
float:right;
display:block;
}

#print_title {
display:none;
}

#print_disclaimer {
display:none;
}



.tablediv_f {
background-color:#ECECEC;
border-spacing:0;
padding-top:1em;
width:740px;
border-color:#224474;
border-style:solid;
border-width:thin;
}

.tablediv {
background-color:#ECECEC;
border-spacing:0;
padding-top:1em;
width:740px;
border-color:#224474;
border-style:solid;
border-width:thin;
}

textarea {
width:735px;
height:120px;
maxlength:2000;
border:3px solid #ccc;
font-family:verdana,sans-serif;
padding:5px;
}

.headerdiv {
color:#224474;
font-weight:700;
text-align:center;
width:52px;
font-size:90%;
}

.headerdivlong {
color:#224474;
font-weight:700;
text-align:center;
width:110px;
font-size:90%;
}
.headerdivlongl {
color:#224474;
font-weight:700;
text-align:left;
width:110px;
font-size:90%;
padding:5px 10px;
}
.rowdiveven {
border:1px solid #FFF;
background-color:#FFF;
width:740px;
}

.rowdivodd {
border:1px solid #ECECEC;
background-color:#ECECEC;
width:740px;
}

.questiondiv {

text-align:left;
width:320px;
font-size:90%;
padding:5px 10px;
}

.celldiv {
font-size:80%;
text-align:center;
width:52px;
}

.celldivlong {
text-align:center;
width:110px;
font-size:80%;
}

.hide {
display:none;
width:auto;
}

#section_title {
color:#224474;
font-size:110%;
font-style:normal;
font-weight:700;
padding-top:10px;
padding-bottom:10px;
}

#objective_title {
color:#224474;
font-size:90%;
font-style:normal;
font-weight:700;
padding-top:5px;
padding-bottom:5px;
}

#site_title {
color:#646464;
display:block;
font-size:140%;
font-weight:400;
padding-top:0;
text-align:center;
}

h1 {
color:#333;
font-size:100%;
text-decoration:none;

}

h2 {
font-size:80%;
font-weight:400;
}

P.note {
border-right:#224474 1px solid;
border-top:#224474 1px solid;
margin-top:0;
background:#ECECEC;
border-left:#224474 1px solid;
border-bottom:#224474 1px solid;
font-family:verdana,sans-serif;
padding:4px;
}

select {
width:140px;
margin:5px 0;
}

#page_marker {
text-align:right;
width:740px;
right:15px;
padding-top:10px;
}

#controls {
text-align:right;
width:740px;
right:15px;
padding-top:10px;
}

.sectionScoreCellDivs {


text-align:center;
width:110px;
background-color:#5A6F8E;
color:#FFF;
height:22px;
}

.sectionScoreCellDivlong {

text-align:center;
width:110px;
background-color:#5A6F8E;
color:#FFF;
height:22px;

border-style:solid;
border-width:thin;
}

.sectionScoreCellDiv {

text-align:center;
width:50px;
background-color:#5A6F8E;
color:#FFF;
height:22px;
border-style:solid;
border-width:thin;
}

.sectionScoreCellRowDiv {

display:inline;
width:auto;
}

.questiondivshort {


padding-bottom:1em;
text-align:left;
width:150px;
}

.celldivxlong {

text-align:center;
width:120px;
}

.celldivgraph {

text-align:center;
width:65px;
padding:1px 5px;
}

.commentdiv {

float:left;
padding-bottom:5px;
padding-top:5px;
text-align:left;
width:100%;
}

.tipbox {
border-right:#224271 1px solid;
padding-right:5px;
border-top:#224271 1px solid;
display:none;
padding-left:5px;
font-size:100%;
background:#ECECEC;
padding-bottom:5px;
margin-left:25px;
border-left:#224271 1px solid;
width:375px;
border-bottom:#224271 1px solid;
position:absolute;
}

.tip-tablediv {
display:table;
padding-top:1px;
width:400px;
}

.tip-imgdiv {
float:left;
text-align:center;
width:10px;
padding-left:1px;
padding-right:1px;
}

.tip-typediv {
float:left;
text-align:left;
width:70px;
}

.tip-numberdiv {
float:left;
text-align:left;
width:100px;
}

.tip-percentdiv {
float:left;
text-align:left;
width:150px;
}  

.tip-title {
float:left;
text-align:left;
vertical-align:middle;
width:130px;
height:40px;
font-weight:700;
margin-top:10px;
}

.tip-graph {
float:left;
align:center;
text-align:center;
width:130px;
height:40px;
}
