a {
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000;
border:none;

}

body {
background-image:  url('/res/img/gradient_bg.jpg');
background-repeat: repeat-x;

font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:70%;
margin:20px 0;
}

#app_title {
font-weight:700;
font-size:150%;
margin:0 20px;
}

#content {
background:url('/res/img/content.gif') repeat-y center;
margin:0 auto;
}

#after_content {
background:url('/res/img/after_content.gif') no-repeat center;
height:46px;
margin:0 auto;
}

#before_content {

background:url('/res/img/before_content.gif') no-repeat bottom center;
height:71px;
margin:0 auto;



}

#surveySection {
text-align:left;
width:740px;
min-height:400px;
padding-top:50px;
}

#util_search {
float:left;

text-align:right;
top:70px;
width:560px;

}

#util_search ul {
background:transparent url(/res/img/ul_bg.jpg) repeat-x scroll center center;
clear:both;
color:#000000;
float:left;
list-style-type:none;
margin:0;
padding:0 10px;

text-align:right;
top:10px;
width:720px;
}

#util_search ul li {
display:block;
float:left;
border-left:solid 1px #ccc;
margin:5px 2px;
padding:0 0 0 5px;
}

#util_search ul li.right {
display:block;
float:right;
border-left:solid 1px #ccc;
margin:5px 2px;
padding:0 0 0 5px;
}

#util_search ul li.first {
display:block;
float:left;
border-left:solid 1px #fff;
margin:5px 2px;
padding:0;
}

#util_search ul li a:link,#util_search ul li a:active,#util_search ul li a:visited {
font-size:11px;
color:#000;
}

#util_search ul li a:hover {
text-decoration:underline;
}

#util_search form {
display:block;
position:absolute;
top:0;
right:5px;
width:220px;
margin:15px 0 0;
padding:0;
}

#util_search form input {
vertical-align:middle;
text-align:right;
}

#util_search form input.search_input {
vertical-align:middle;
width:100px;
font-size:9px;
border:solid 1px #ddd;
height:12px!important;
color:#999;
padding-right:3px;
}
#MinHeightDiv {

       height:00px;
       width:0px;
       float: right;
display: block;

}

#cn_header {
width:740px;
font-size:11px;
color:#999;
text-align:left;
background:#fff;
position:relative;
margin:0 auto;
padding:0;



}

.tablediv_f {
background-color:#ECECEC;
display:table;
padding-top:1em;
width:740px;
border-color:#224474;
border-style:solid;
border-width:thin;}

.tablediv {
background-color:#ECECEC;
display:table;
padding-top:1em;
width:740px;
border-color:#224474;
border-style:solid;
border-width:thin;
}

textarea {

	width: 735px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px 5px 5px 5px;
	font-family:verdana,sans-serif;
	
}
.headerdiv {
color:#224474;
display:table-cell;
float:left;
font-weight:700;
text-align:center;
width:52px;
}

.headerdivlong {
color:#224474;
display:table-cell;
float:left;
font-weight:700;
text-align:center;
width:110px;
}

.rowdiv {
display:block;
float:left;
width:auto;
}

.rowdiveven {
background-color:#FFF;
display:block;
float:left;
width:740px;
}

.rowdivodd {
background-color:#ECECEC;
display:block;
float:left;
width:740px;
}

.questiondiv {
display:block;
float:left;
font-weight:700;
text-align:left;
width:320px;
padding:5px 10px;
}

.celldiv {
display:table-cell;
float:left;
text-align:center;
width:52px;
}

.celldivlong {
display:table-cell;
float:left;
text-align:center;
width:110px;
}

fieldset {
border:none;
padding:0;
}

fieldset
legend {
display:none;
}

.hide {
display:none;
width:auto;
}

#section_title {
color:#224474;
font-size:110%;
font-style:normal;
font-weight:700;
padding-top:10px;
padding-bottom:10px;
}

#objective_title {
color:#224474;
font-size:90%;
font-style:normal;
font-weight:700;
padding-top:5px;
padding-bottom:5px;
}

#site_title {
color:#646464;
display:block;
font-size:140%;
font-weight:normal;
padding-top:0;
text-align:center;
}

h1 {
color:#333;
font-size:100%;
text-decoration:none;
}

h2 {
font-size:80%;
font-weight:400;
}

P.note {
border-right:#224474 1px solid;
border-top:#224474 1px solid;
margin-top:0;
background:#ECECEC;
border-left:#224474 1px solid;
border-bottom:#224474 1px solid;
font-family:verdana,sans-serif;
padding:4px;
}

select {
width:140px;
margin:5px 0;
}

#page_marker,#controls {
text-align:right;
width:740px;
right:15px;
padding-top:10px;
}








.sectionScoreCellDivs
{
	display: table-cell;
	float: left;
	text-align: center;
	width: 110px;
	background-color: #5A6F8E;
	color: #FFFFFF;

	height: 22px;
	
	
}
.sectionScoreCellDivlong
{
	display: table-cell;
	text-align: center;
	width: 110px;
	background-color: #5A6F8E;
	color: #FFFFFF;
	border-style: solid;
	border-width: thin;
	height: 22px;
	
	float:left;
}
.sectionScoreCellDiv
{
	display: table-cell;
	text-align: center;
	width: 50px;
	background-color: #5A6F8E;
	color: #FFFFFF;
	border-style: solid;
	border-width: thin;
	height: 22px;
	float:left;
	
}

.sectionScoreCellRowDiv
{
	
float:left;
	display: inline;
	width: auto;
}
.questiondivshort
{
	display: table-cell;
	float: left;
	font-weight: bold;
	padding-bottom: 1em;
	text-align: left;
	width: 150px;
}
.celldivxlong
{
	display: table-cell;
	float: left;
	text-align: center;
	width: 120px;
}
.celldivgraph
{
	display: table-cell;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	width: 65px;
}


.commentdiv
{
	display: table-cell;
	float: left;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: left;
	width: 100%;
}
.tipbox {
	BORDER-RIGHT: #224271 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #224271 1px solid; 
	DISPLAY: none;
	PADDING-LEFT: 5px;
	FONT-SIZE: 100%;
	BACKGROUND: #ECECEC;
	PADDING-BOTTOM: 5px;
	MARGIN-LEFT: 25px;
	BORDER-LEFT: #224271 1px solid;
	WIDTH: 300px;
	BORDER-BOTTOM:#224271 1px solid;
	POSITION: absolute;
	left:500px;
}


.tip-tablediv {

display:table;
padding-top:1px;
width:400px;

}
.tip-imgdiv{
display:table-cell;
float:left;
text-align:center;
width:10px;
padding-left:1px;
padding-right:1px;
}


.tip-typediv{
display:table-cell;
float:left;
text-align:left;
width:70px;
}



.tip-numberdiv{
display:table-cell;
float:left;
text-align:left;
width:100px;
}


.tip-percentdiv{
display:table-cell;
float:left;
text-align:left;
width:150px;
}

.tip-title{
display:table-cell;
float:left;
text-align:left;
vertical-align:middle;
width:130px;
height: 40px;
font-weight:700;
MARGIN-TOP: 10px;
}

.tip-graph{
display:table-cell;
float:left;
align:center;
text-align:center;

width:130px;

height: 40px;
}
