
UL#menu {

	PADDING-RIGHT: 10px;	
	 PADDING-LEFT: 10px;	
	 PADDING-BOTTOM: 10px;	
	 MARGIN: 0px;	
	 WIDTH: 300px;	
	 PADDING-TOP: 6px;
	  FONT-SIZE: 70%;
	  LIST-STYLE-TYPE: none;
	
}
UL#menu LI {
	LIST-STYLE-TYPE: none;
	DISPLAY: block;
}
UL#menu LI UL {
	DISPLAY: block;
 	MARGIN: 0px 0px 0px 15px;	
 
}


UL#menu LI.document {
	DISPLAY: block;
	height:40px;
	
}
UL#menu LI.document A {
	height:40px;
	BACKGROUND-POSITION: 0px 4px;	
 	DISPLAY: block;	
 	BACKGROUND-IMAGE: url(/res/img/document.gif);	
 	COLOR: #333333;	
 	PADDING-LEFT: 20px;	
 	PADDING-RIGHT: 5px;	
 	margin-top:2px;
	BACKGROUND-REPEAT: no-repeat;	
 	TEXT-DECORATION: none;
 
}
UL#menu LI.document A:hover {
	BACKGROUND-IMAGE: url(/res/img/document.gif);	
 	COLOR: #000000;	
 	BACKGROUND-COLOR: #eeeeee;
}
.helpBody
{
	FONT-SIZE: 70%;
}