fieldset {
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    text-align: left;
}

label {
    width: auto;
}

.year_outer {
    margin: 30px 0px 0px 0px;
    padding: 3px;
    background-color: #FF6600; 
}

.year_inner {
    border: 1px solid #FFFFFF;
    padding-bottom: 5px;
    color: #FFFFFF;
}

.year_inner h2 {
    text-align: center;
}

