/* CSS file generated on Mon Jan 06 08:56:09 PST 2003 */
A:link {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#663300}
A:active {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#ff6600}
A:visited {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#996633}
.OraBGColorVeryDark {background-color:#003366}
.OraBGColorDark {background-color:#336699}
.OraBGColorMedium {background-color:#6699cc}
.OraBGColorLight {background-color:#99ccff}
.OraBGGrayVeryDark {background-color:#333333}
.OraBGGrayDark {background-color:#666666}
.OraBGGrayMedium {background-color:#999999}
.OraBGGrayLight {background-color:#cccccc}
.OraBGAccentVeryDark {background-color:#999966}
.OraBGAccentDark {background-color:#cccc99}
.OraBGAccentMedium {background-color:#ffffcc}
.OraBGAccentLight {background-color:#f7f7e7}
.OraBody {background-color:#ffffff;font-family:Arial,Helvetica,Geneva,sans-serif}
.OraPromptText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:right;color:#000000;font-weight:normal}
.OraDataText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;color:#000000}
.OraDataNumber {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;color:#000000;text-align:right}
.OraFieldText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#000000}
.OraFieldTextDisabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#999999}
.OraFieldNumber {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#000000}
.OraFieldNumberDisabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#999999}
.OraInstructionText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#000000}
.OraInstructionTextStrong {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;color:#000000}
.OraButtonText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;background-color:#f7f7e7;color:#000000}
.OraButtonTextDisabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;background-color:#f7f7e7;color:#999966}
.OraApplicationSwitcherText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:8pt}
.OraGlobalButtonText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:8pt;color:#663300}
.OraGlobalButtonTextSelected {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:8pt;color:#336699}
.OraGlobalButtonTextDisabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:8pt;color:#999966}
.OraLinkText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#663300}
.OraVLinkText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#996633}
.OraALinkText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#ff6600}
.OraTipLabel {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;color:#336699}
.OraTipText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#336699}
.OraInlineInfoText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:8pt;color:#336699}
.OraErrorText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#cc0000}
.OraErrorNameText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;color:#cc0000}
.OraInlineErrorText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:8pt;color:#cc0000}
.OraHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:16pt;color:#336699}
.OraHeaderSub {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:13pt;color:#336699;font-weight:bold}
.OraHeaderSubSub {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;color:#336699;font-weight:bold}
.OraDarkHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:16pt;color:#003366}
.OraDarkHeaderSub {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:13pt;color:#003366;font-weight:bold}
.OraDarkHeaderSubSub {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;color:#003366;font-weight:bold}
.OraLightHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:16pt;color:#6699cc}
.OraLightHeaderSub {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:13pt;color:#6699cc;font-weight:bold}
.OraLightHeaderSubSub {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;color:#6699cc;font-weight:bold}
.OraColorHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:16pt;color:#ffffcc}
.OraColorHeaderSub {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:13pt;color:#ffffcc;font-weight:bold}
.OraColorHeaderSubSub {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;color:#ffffcc;font-weight:bold}
.OraPortletHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;color:#000000}
.OraDarkPortletHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#000000}
.OraErrorHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:16pt;color:#cc0000}
.OraIndentHeader {margin:20px}
.OraSpacingHeader {margin:7px 0px 2px 0px}
.OraSpacingHeaderSub {margin:10px 0px 2px 0px}
.OraSpacingHeaderLarge {margin:20px 0px 2px 0px}
.OraSearchBorderStart {border-style:solid;border-color:#cccc99;border-width:0px 0px 0px 1px}
.OraSearchBottomStart {border-style:solid;border-color:#cccc99;background-color:#f7f7e7;padding:0pt 0pt 5pt 5pt;border-width:0px 0px 1px 1px}
.OraGlobalPageTitle {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:13pt;color:#ffffff;font-weight:bold}
.OraNav1Selected {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;background-color:#336699;color:#99ccff;font-weight:bold;text-decoration:none}
.OraNav1Enabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;background-color:#cccc99;color:#003366;text-decoration:none}
.OraNav1Disabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;background-color:#cccc99;color:#ffffcc;text-decoration:none}
.OraNav2Selected {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;color:#ffffff;text-decoration:none}
.OraNav2Enabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#cccc99;text-decoration:none}
.OraNav2Disabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#6699cc;text-decoration:none}
.OraNav3Selected {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;background-color:#336699;color:#ffffff;text-decoration:none}
.OraNav3Enabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;background-color:#cccc99;color:#003366}
.OraNav3Disabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;background-color:#cccc99;color:#ffffcc;text-decoration:none}
.OraSelected {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;background-color:#336699;color:#ffffff;text-decoration:none}
.OraDisabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt}
.OraSideBar {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;background-color:#cccc99;color:#003366}
TD.OraSideBar A:link {color:#003366}
TD.OraSideBar A:active {color:#003399}
TD.OraSideBar A:visited {color:#336699}
TD.OraSideBar SPAN.OraDisabled {color:#ffffcc}
TD.OraSideBar TD.OraSelected  A:link {color:#ffffff;text-decoration:none}
TD.OraSideBar TD.OraSelected  A:active {color:#ffffff;text-decoration:none}
TD.OraSideBar TD.OraSelected  A:visited {color:#ffffff;text-decoration:none}
.OraTextInline {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:8pt;color:#6699cc}
.OraTableTitle {background-color:#ffffff;color:#336699;font-family:Arial,Helvetica,Geneva,sans-serif;font-size:16pt}
.OraTable {background-color:#999966}
.OraTableControlBarText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;background-color:#cccc99;color:#336699;font-weight:bold}
.OraTableColumnHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;text-align:left;background-color:#cccc99;color:#336699;vertical-align:bottom}
.OraTableColumnHeaderNumber {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;background-color:#cccc99;color:#336699;vertical-align:bottom;text-align:right}
.OraTableColumnHeaderIconButton {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;background-color:#cccc99;color:#336699;vertical-align:bottom;text-align:center}
.OraTableSortableColumnHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;text-align:left;background-color:#cccc99;color:#336699;vertical-align:bottom;cursor:hand}
.OraTableSortableColumnHeaderNumber {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;background-color:#cccc99;color:#336699;vertical-align:bottom;cursor:hand;text-align:right}
.OraTableSortableColumnHeaderIconButton {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;background-color:#cccc99;color:#336699;vertical-align:bottom;cursor:hand;text-align:center}
.OraTableRowHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;text-align:right;background-color:#cccc99;color:#336699}
.OraTableColumnFooter {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;text-align:left;background-color:#cccc99;color:#336699}
.OraTableTotal {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;text-align:right;background-color:#cccc99;color:#336699}
.OraTableAddTotal {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;text-align:left;background-color:#cccc99;color:#336699}
.OraTableTotalNumber {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;text-align:right;background-color:#cccc99;color:#000000;vertical-align:baseline}
.OraTableTotalText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;text-align:left;background-color:#cccc99;color:#000000;vertical-align:baseline}
.OraTableCellText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;background-color:#f7f7e7;color:#000000;vertical-align:baseline}
.OraTableCellTextBand {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#000000;background-color:#ffffff;vertical-align:baseline}
.OraTableCellNumber {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:right;background-color:#f7f7e7;color:#000000;vertical-align:baseline}
.OraTableCellNumberBand {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:right;color:#000000;background-color:#ffffff;vertical-align:baseline}
.OraTableCellIconButton {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center;background-color:#f7f7e7;color:#000000;vertical-align:baseline}
.OraTableCellIconButtonBand {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center;color:#000000;background-color:#ffffff;vertical-align:baseline}
.OraTableCellSelect {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center;background-color:#f7f7e7;color:#000000;vertical-align:baseline}
.OraTableCellSelectBand {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center;color:#000000;background-color:#ffffff;vertical-align:baseline}
.OraTableVerticalGrid {background-color:#cccc99;width:1px}
.OraTableVerticalHeaderGrid {background-color:#f7f7e7;width:1px}
.OraTableHorizontalGrid {background-color:#cccc99;width:1px}
.OraTableHorizontalHeaderGrid {background-color:#f7f7e7;width:1px}
.OraTableShadowHeaderGrid {background-color:#666633;width:1px}
.OraTableHeaderLink {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;background-color:#cccc99;color:#336699;text-decoration:none}
.OraTableSortableHeaderLink {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;background-color:#cccc99;color:#336699;vertical-align:bottom;text-decoration:underline}
.OraTableDetail {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#000000;background-color:#ffffff}
.OraTrainActive {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;text-align:center;color:#336699;font-weight:bold}
.OraTrainVisited {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;text-align:center;color:#cccc99}
.OraTrainUnvisited {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;text-align:center;color:#336699}
.OraPrivacy {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:8pt;text-align:right;color:#663300}
.OraCopyright {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:8pt;text-align:left;color:#000000}
.OraCrumbsSelected {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#000000;text-decoration:none}
.OraCrumbsEnabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#663300}
.OraNavBarActiveLink {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#663300}
.OraNavBarInactiveLink {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#999966}
.OraNavBarViewOnly {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#336699}
.OraCalendarTitle {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:13pt;text-align:center;background-color:#ffffff;color:#336699}
.OraCalendarHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;text-align:center;background-color:#cccc99;color:#336699;padding:2px}
.OraCalendarEnabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center;background-color:#f7f7e7;padding:2px;line-height:1.0;color:#336699;text-decoration:none}
.OraCalendarDisabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center;background-color:#f7f7e7;padding:2px;line-height:1.0;color:#999999}
.OraCalendarSelected {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center;padding:2px;line-height:1.0;background-color:#999966;color:#ffffff}
TABLE.OraCalendarDisabled A:link {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center;background-color:#f7f7e7;padding:2px;line-height:1.0;color:#336699;text-decoration:none}
TABLE.OraCalendarDisabled A:active {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center;background-color:#f7f7e7;padding:2px;line-height:1.0;color:#336699;text-decoration:none}
TABLE.OraCalendarDisabled A:visited {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center;background-color:#f7f7e7;padding:2px;line-height:1.0;color:#336699;text-decoration:none}
.OraSubTab {background-color:#f7f7e7;font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#999966;padding-bottom:2pt}
.OraSubTabSelected {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;color:#336699;font-weight:bold}
TD.OraSubTabSelected A:link {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;color:#336699;text-decoration:none}
TD.OraSubTabSelected A:active {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;color:#336699;text-decoration:none}
TD.OraSubTabSelected A:visited {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;color:#336699;text-decoration:none}
.OraTreeIcon {vertical-align:top}
.OraTreeNodeAdjust {padding-bottom:0px}
.OraTreeRowSelected {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;background-color:#336699;color:#ffffff}
.OraTreeRow {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#003366}
SPAN.OraTreeRow A:link {color:#663300}
SPAN.OraTreeRow A:active {color:#663300}
SPAN.OraTreeRow A:visited {color:#663300}
SPAN.OraTreeRowSelected A:link {color:#ffffff;text-decoration:none}
SPAN.OraTreeRowSelected A:active {color:#ffffff;text-decoration:none}
SPAN.OraTreeRowSelected A:visited {color:#ffffff;text-decoration:none}
.OraShuttleHeader {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:11pt;color:#336699;font-weight:bold}
.OraShuttleLinkText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#663300}
.OraMessageBoxList {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#336699;margin-bottom:0px}
.OraMessageBoxLink {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;color:#336699}
.OraMessageBoxParagraph {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#336699;margin-top:15px}
.OraMessageBoxErrorList {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#cc0000;margin-bottom:0px}
.OraMessageBoxErrorLink {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;color:#cc0000}
.OraMessageBoxErrorParagraph {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;color:#cc0000;margin-top:15px}
.TimeScaleText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;text-align:center}
.TimeScaleHeading {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:center}
.TimeScaleEndings {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;text-align:right}
.RowLabelsText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:right;vertical-align:bottom}
.RowLabelsTitleText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;font-weight:bold;text-align:right}
.LegendText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;text-align:left}
.ITRHomeWelcome {font-family:Arial,Helvetica,Geneva,sans-serif;font-weight:bold;color:#336699;font-size:15pt}
.ITRHomeUser {font-family:Arial,Helvetica,Geneva,sans-serif;color:#336699;font-size:13pt}
.ITRHomeTo {font-family:Arial,Helvetica,Geneva,sans-serif;font-weight:bold;color:#999966;font-size:15pt}
.BscSimTreeMode {font-family:Arial,Helvetica,Geneva,sans-serif;color:#999999;font-size:15pt}
.BscSimTreeNodeText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#000000}
A.BscSimTreeNodeLink:link {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#663300}
A.BscSimTreeNodeLink:active {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#ff6600}
A.BscSimTreeNodeLink:visited {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#996633}
.BscTabNameText {font-family:Arial,Helvetica,Geneva,sans-serif;color:#336699;font-size:14pt}
.BscKpiGroupNameText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#000000;font-weight:bold}
.BscDefaultFontFamily {font-family:Arial,Helvetica,Geneva,sans-serif}
.BscTableCellText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:10pt;background-color:#f7f7e7;color:#000000}
.BscPortletBodyText {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#003366;text-indent:3px}
A.BscPortletLink:link {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#003366}
A.BscPortletLink:active {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#003366}
A.BscPortletLink:visited {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#003366}
.BscPortletBodyTextDisabled {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#999999;text-indent:3px}
.BscPortletBodyTextBlack {font-family:Arial,Helvetica,Geneva,sans-serif;font-size:9pt;color:#000000}
