body {
  background: black;
}

#page_container {
  width: 100%;
  background: url("../images/border.jpg") repeat-x scroll 0 0 #444;
}

#page {
  width: 960px;
  background-color: white;
}

/* 
 * Login page
 */

body.login {
  background: none;
  background-color: #444;
}

body.login #login {
  margin-top: 200px;
  background: white;
  border-radius: 15px;
  height: 170px;
  padding-top: 30px;
}

body.login #login input {
  width: 80%;
}

body.login #login input[type=submit] {
  width: 30%;
  height: 2em;
  margin-top: 5px;
}

body.login #login p {
  margin-bottom: 5px;
}

body.login img {
  margin-left: 10px;
}

/*
 * LoggedInToolbar
 */

#tools {
  clear: both;
  background-color: black;
  height: 38px;
  font-size: 1.1em;
  color: white;
  font-family: "Tahoma", helvetica, sans-serif;
}

#tools ul.info {
  float: left;
  margin: 0 auto;
  padding: 0;
}

#tools ul.info li {
  display: block;
  float: left;
  padding-left: .6em;
  padding-right: .6em;
  height: 30px;
  padding-top: 4px;
  color: white;
}

#tools ul.info li a, #tools ul.tools li a {
  color: white;
}

#tools span.account_name {
  font-weight: bold;
}

#tools ul.tools {
  float: right;
  margin: 0 auto;
  padding: 0;
}

#tools ul.tools li {
  display: block;
  float: right;
  padding-left: .6em;
  padding-right: .6em;
  height: 30px;
  padding-top: 4px;
  color: white;
}

/*
 *  HEADER
 */
#header #tools {
  background-color: #444;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#header #tools ul.info {
  float: left;
}

#header #tools ul.info li {
  display: block;
  float: left;
  color: white;
}

#header #tools ul.info li a, #header #tools ul.tools li a {
  color: white;
}

#header #tools span.account_name {
  font-weight: bold;
}

#header #tools ul.tools {
  float: right;
}

#header #tools ul.info li form {
  display: inline;
}

#header #tools ul.tools li {
  display: block;
  float: right;
  margin-left: 10px;
  color: white;
}

#header #header_wrapper {
  height: 140px;
  background-image: url(../images/chimp.jpg); 
  background-repeat:no-repeat; 
  background-position:right top;
  background-color: black;
}

#header h1 {
  font-family: fontin, "lucida sans", verdana;
  font-size: 3.2em;
  font-weight: normal;
  color: white;
  margin-top: 40px;
  margin-left: 30px;
}

#header h1 span.subtitle {
  color: #aaa;
}

/*
 *  BREADCRUMB WIDGET
 */
#breadcrumb_area {
  background-color: #ddd;
  height: 38px;
  margin-bottom: 2em;
}

h1#breadcrumbs {
  background: #ddd;
  text-transform: uppercase;
  font-family: "Tahoma", helvetica, sans-serif;
  font-size: 1em;
  color: #999;
  margin-top: .75em;
  padding-left: 2em;
}

h1#breadcrumbs a {
  height: 30px;
  color: #999;
}

h1#breadcrumbs .breadcrumb_here {
  font-weight: bold;
  color: #888;
}

/*
 *  SEARCH WIDGET
 */

#search_form {
  position: relative;
}

#search {
  position: absolute;
  top: 7px;
  height: 20px;
  padding-left: 5px;
  color: #999;
}

#send {
  position: absolute;
  width: 30px;
  height: 24px;
  right: -42px;
  top: 7px;
  border: none;
}

#search.active {
  background: #feeeae;
  color: #333;
}

/*
 *  FOOTER
 */
#footer {
  background-color: #999;
  font-family: "Tahoma", helvetica, sans-serif;
  float: left;
  font-size: .9em;
  height: 38px;
}
#footer .grid_3 {
  padding: 2em 0 1em 0;
}
#footer a {
  color: white;
}

#footer p {
  color: white;  
}

#footer h4 {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: .75em;
}

#footer .first {
  margin-left: 3em;
}

#footer .caltech_logo {
  width: 204px;
  background: white;
  height: 225px;
}

#footer .caltech_logo p {
  color: #777;
  margin-top: 1em;
  margin-left: 1.5em;
}
#footer .caltech_logo img {
  margin: auto;
  display:block;
}

/*
 *  SIDEBAR
 */

.panel ul {
  list-style: none;
  color: #666;
}

.panel ul li {
}

.panel ul li a, .panel ul li a:visited {
  color: #666;
  cursor: pointer;
}

.panel ul li.shaded {
  background-color: #ddd;
}

.panel ul li.current {
  font-weight: bold;
  color: #0A0;
}

.panel ul li.past {
  font-style: italic;
}

.panel ul li.future {
  font-style: italic;
  color: #AAA;
}

/*
 *  CONTENT
 */

#content table {
}

#content table tr {
}

#content table tr.shaded {
  background-color: #eee;
}

#content table tr th {
  border: 1px solid black;
  text-transform: uppercase;
  background-color: #ccc;
  color: black;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 7px;
  padding-right: 7px;
}

#content table tr td {
  border: 1px solid black;
  color: black;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 7px;
  padding-right: 7px;
}

.title {
  font-weight: bold;
}

.field {
  border-bottom: 1px dotted black;
}

.field p {
  padding-left: 5px;
  margin-bottom: 0px;
}

h2.close {
  margin-bottom: 5px;
}

p.textbox {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;  
  border: 1px dotted black;
  overflow: auto;
}

p.textbox.tall {
  height: 200px;
}

p.textbox.medium {
  height: 100px;
}

p.textbox span {
  margin: 5px 5px 0px 5px;
}

input {
  width: 100%;
  margin-bottom: 5px;  
  border: 1px dotted black;
}

textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;  
  border: 1px dotted black;
}

textarea.tall {
  height: 200px;
}

textarea.medium {
  height: 100px;
}

button span {
  font-size: 75%;
}

/*
 * Home page
 */

.home .panel h2 {
  border: none;
  padding: 0;
}

.catalog_section {
  font-size: 1.1em;
  margin: 0.25em 0 0 0;
}

.panel ul li.catalog_section.courses a {
  font-weight:bold;
}

.full_catalog { 
  font-size: 1.1em;
  margin: 1em 0 0 0;
}

.home .catalog_section, .home .full_catalog {
  font-size: 1.2em;
}
  
.panel ul li.full_catalog a {
  color: #555;
  font-weight: bold;
}


/*
 * CourseHome page
 */

.department_list li.department_name {
  font-size: 1.1em;
  font-family: "Tahoma", helvetica, sans-serif;
  margin: 0.25em 0 0 0;
}

.departments .department_name a, .department_name a:visited {
  color: #222;
  cursor: pointer;
}

.panel ul li.catalog_section.active {
  color: #8F1D1D;
  font-weight: bold;
}

/*
 * Course entries
 */

.course {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.course.not_offered {
  color: #999;
}

.course span.highlight {
  background: yellow;
}
.course .course_name, .course .course_title {
  font-weight: bold;
}

.course .prerequisites, .course .special_note, .course .units, .course .terms {
  font-style:italic;
}

.course.segment {
  margin-left: 2em;
}
/*
 * SearchResults 
 */

.search_results #content h1 {
  margin-bottom: 5px;
}

.search_results h3.count {
   color: #999;
}

/*
 * Panel
 */

.panel {
  margin-bottom: 1em;
  margin-left: 2em;
}

.error .panel {
  margin-left: 0;
}


.panel h2 {
  margin: 0;
  text-transform: uppercase;
  color: black;
  font-size: 1.3em;
  padding: 10px 0 10px 0;
  border-bottom: 1px dotted black;
}

.panel .bottom {
  padding: 10px 0 1.5em 0;
  margin: 0;
  width: 100%;
}

.panel.highlight h2 {
  color: #8F1D1D;
}

/*
 * General-purpose Sizers
 */
.wide {
  width: 100%;
}

.close {
  margin-bottom: 0px;
}

.gap {
  margin-bottom: 5px;
}

.btn_small {
  height: 18px;
}

.btn_small span {
  padding: 0px .5em !important;
}

/*
 *  General-purpose Stylers
 */
.underline
{
  border-bottom:1px dotted black;
}

.modified
{
  background-color: #FFFFAA !important;
}

.valid
{
  background-color: #AAFFAA !important;
}

.ajax_error
{
  color: #FFFF00;
  background-color: #AA8888;
}

.ajax_success
{
  color: #000000;
  background-color: #AAFFAA;
}

.bg_dark {
  background-color: #DDD;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}
/*
 * Error box used on Error.psp
 */

#big_404 h1 {
  font-size: 80px;
  color: #999;
}
div.error {
  border: 3pt solid #a33;
  margin-bottom: 18px;
}

div.error h2 {
  text-align: center;
  letter-spacing: .08em;
  background: #a33;
  color: white;
}

div.error p {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
/*
 *  ICONS
 */
div.icon {
  width: 16px;
  height: 16px;
  margin: 2px;
  overflow: hidden;
  background-image: url("../images/icons.png");
  float: left;
  background-repeat: no-repeat;
  color:transparent;
  cursor: pointer;
}

div.icon.mag_en {
  background-position: 0px 0px;
}

div.icon.mag_dis {
  background-position: 0px -16px;
}

div.icon.can_en {
  background-position: -16px 0px;
}

div.icon.can_dis {
  background-position: -16px -16px;
}

div.icon.add_en {
  background-position: -32px 0px;
}

div.icon.add_dis {
  background-position: -32px -16px;
}

/*
 * CUSTOM ZOOKEEPER STUFF
 */
#paginator {
  font-size: 1.5em;
}

#paginator a, #paginator span {
  display: inline-block;
  text-align: center;
  min-width: 25px;
}


#paginator a {
  background-color: #eee;
  border: 1px solid black;
}

span.field_error {
  color: red;
  display: block;
}

.error_border {
  border: 1px solid red;
  padding: 0 6px 0 2px;
}

.account-groups-select {
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

#edit-account label.field_opt {
  display: block;
  clear: both;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

#content #messages .info {
  color: #54C571;
  border: 1px solid #54C571;
}

#sync-group-button {
  width: auto;
}

#please-wait {
  text-align: center;
  width: 460px;
}

#job-status {
  text-align: center;
  width: 460px;
}

select[id$='-list-names'], #hideme {
  display: none;
}

table.list tr:nth-child(even) {
  background-color: #EEE;
}

a.warning, div.warning {
  color: red !important;
  font-size: 125%;
}

table.reconciler-table {
  width: 100%;
  border: 0;
}

table.reconciler-table td {
  vertical-align: middle;
}

ol#reconciler {
  list-style: none;
}

ol#reconciler input {
  margin: auto;
  padding: 0;
}

ol#reconciler input.reconcile-type-radio {
  width: auto;
}

ol#reconciler li.unreconciled {
  display: none;
}

ol#reconciler li.reconciling {
  display: block;
}

td.reconcile-email  {}
td.reconcile-name   {width: 20%;}
td.reconcile-groups {width: 20%;}
td.reconcile-type   {width: 16%; padding: 2px !important;}
td.reconcile-keep   {width: 7%}
td.reconcile-save   {width: 8%}

td.reconcile-type div {
  float: right;
  padding-right: 2px;
}

#conflict-count {
  font-size: 125%;
  margin-bottom: 5px;
}

#conflict-count span:nth-child(1) {
  color: blue;
}

#conflict-count span:nth-child(2) {
  color: red;
}

h2#reconcile-contacts-heading {
  margin-bottom: 10px;
}

td.sync_type {
  width: 90px;
}

table.history {
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

table.history .error_msg {
  width: 300px;
  overflow: hidden;
  height: 200px;
}

.no-groups {
  font-size: 75%;
  color: red;
}
