img.apexDatePickerIcon[class]{vertical-align:middle;}
span.lov,span.lov *{white-space:nowrap;vertical-align:middle;}
span.lov{display:inline-block;}
ol{margin:0 0 0 25px;padding:0;}
ul{margin:0 0 0 15px;padding:0;}
.apexir_BUTTONS table td{text-align:left;}
.apexir_TOOLBAR_CLOSE{padding:4px 8px 7px 0;}

.apexir_TOOLBAR_OPEN {
	float: left;
	height: 40px;
	display: inline;
	overflow: visible;
	background-image:none;
	border: 1px solid #cccccc;
	background-color:#efefef;
}

.apexir_TOOLBAR_CLOSE {
	color: #000000;
	float: left;	
	overflow: visible;
	background-image:none;
	padding: 4px 8px 8px 0;
}

#apex-dev-toolbar ul li {
	*display: inline;
}