/* BASE HTML ELEMENT MODIFICATIONS */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

table {
	empty-cells: show;
}

br {
	clear: both !important;
}

.pbutton,.pb {
	cursor: pointer;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.formlayout {
	
}

/* ANCHOR TAGS */

a.noline:link,a.noline:visited {
	text-decoration: none;
}

a.itemLabel:visited,a.itemLabel:link,a.itemLabel {
	color: black;
	font-size: 10pt;
	text-decoration: none;
}

a.itemLabel:hover {
	text-decoration: underline;
}

a.list,a.list:link,a.list:visited {
	color: black;
	font-size: 10pt;
	text-decoration: none;
}

a.list:hover {
	text-decoration: underline;
}

a.nolink:link,a.nolink:visited,a.nolink:hover {
	color: black;
	text-decoration: none;
}

/* FONTS */

/* RELATIVE SIZES */

.black80 {
	font-size: 80%;
	color: black;
}

.black85 {
	font-size: 85%;
	color: black;
}

.black90 {
	font-size: 90%;
	color: black;
}

.black95 {
	font-size: 95%;
	color: black;
}

.black100 {
	font-size: 100%;
	color: black;
}

.black110 {
	font-size: 110%;
	color: black;
}

.black120 {
	font-size: 120%;
	color: black;
}

.black130 {
	font-size: 130%;
	color: black;
}

.black140 {
	font-size: 140%;
	color: black;
}

.black150 {
	font-size: 150%;
	color: black;
}

.white80 {
	font-size: 80%;
	color: white;
}

.white85 {
	font-size: 85%;
	color: white;
}

.white90 {
	font-size: 90%;
	color: white;
}

.white95 {
	font-size: 95%;
	color: white;
}

.white100 {
	font-size: 100%;
	color: white;
}

.white110 {
	font-size: 110%;
	color: white;
}

.white120 {
	font-size: 120%;
	color: white;
}

.white130 {
	font-size: 130%;
	color: white;
}

.white140 {
	font-size: 140%;
	color: white;
}

.white150 {
	font-size: 150%;
	color: white;
}

/* ABSOLUTE SIZES - we need to change these to relative sizes eventually. */

.fielddata {
	font-size: 10pt;
	color: #000000;
}

.fielddatabold {
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
}

.fielddatasmall {
	font-size: 8pt;
	color: #000000;
}

table.tiny td {
	padding: 2px;
}

.tiny {
	font-size: 7.5pt;
}

.code {
	font-size: 10pt;
	font-family: "courier new",monospaced;
}

/* CLASSES USED BY THE REPORTING ENGINE, MAY BE COLOR SPECIFIC */

.tableheader {
	font-size: 10pt;
	font-weight: bold;
	background: #cccc99;
	color: #336699;
}

.tabledata {
	font-size: 10pt;
	background: #f7f7e7;
	color: #000000;
}

.tabledata-alt {
	font-size: 10pt;
	background: #ffffff;
	color: #000000;
}

.tabledatabold {
	font-size: 10pt;
	font-weight: bold;
	background: #f7f7e7;
	color: #000000;
}

table.standardLook th {
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	padding: 2px 3px 2px 3px;
	white-space: nowrap;
	vertical-align: bottom;
}

table.standardLook td {
	font-size: 10pt;
	color: #000000;
	padding: 2px 3px 2px 3px;
}

table.default1 th {
	font-size: 10pt;
	font-weight: bold;
	background: #cccc99;
	color: #336699;
	padding: 2px;
	white-space: nowrap;
	vertical-align: bottom;
}

table.default1 td {
	font-size: 10pt;
	background: #f7f7e7;
	color: #000000;
	padding: 2px;
}

table.default1 td.alt {
	font-size: 10pt;
	background: #ffffff;
	color: #000000;
}

table.default2 {
	border-left: 1px #cccc99 solid;
	border-top: 1px #cccc99 solid;
	background: #f7f7e7;
	font-size: 10pt;
	margin-top: 1px;
}

table.default2 th {
	font-weight: bold;
	background: #cccc99;
	color: #336699;
	padding: 2px;
	border-bottom: 1px #f7f7e7 solid;
	border-right: 1px #f7f7e7 solid;
	font-size: 10pt;
	white-space: nowrap;
	vertical-align: bottom;
}

table.default2 td {
	padding: 2px;
	border-bottom: 1px #cccc99 solid;
	border-right: 1px #cccc99 solid;
	font-size: 10pt;
}

table.default3 th {
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
}

table.default3 td {
	font-size: 8pt;
	color: #000000;
}

table.default4 {
	margin: 5px auto 0.5em auto;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	background-color: #efefef;
}

table.default4 td {
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

table.default4 th {
	font-weight: bold;
	font-size: 10pt;
	color: #ffffff;
	background-color: #bbbbbb;
	border-left: 1px solid #e0e7f7;
	border-top: 1px solid #e0e7f7;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	white-space: nowrap;
	vertical-align: bottom;
}

table.default4 td.even {
	background-color: #fefefe;
	font-size: 10pt;
	white-space: nowrap;
}

table.default4 td.odd {
	background-color: #efefef;
	font-size: 10pt;
	white-space: nowrap;
}

table.vertical1 td {
	font-size: 10pt;
	color: #000000;
	padding: 2px 5px 2px 5px;
}

table.vertical1 td.L {
	text-align: right;
	padding-right: 6px;
}

table.vertical1 td.R {
	text-align: left;
	font-weight: bold;
	padding-left: 3px;
}

table.vertical1 td.vertical1Border {
	font-size: 0pt;
	height: 1px;
}

table.vertical2 {
	border: 1px #bbbbbb solid;
	border-collapse: collapse;
	background: #ffffff;
	font-size: 10pt;
	margin-top: 1px;
}

table.vertical2 td.L {
	font-weight: bold;
	padding: 2px;
	white-space: nowrap;
	vertical-align: bottom;
	width: 30%;
	text-align: right;
	border: 1px #bbbbbb solid;
	background: #999999;
	color: #ffffff;
}

table.vertical2 td {
	padding: 2px;
	border: 1px #bbbbbb solid;
	text-align: left;
}

/* USED FOR INLINE EDIT IMAGES */

img.eLink,a.eLink {
	border: none;
	display: none !important;
}

img.eLinkOn,a.eLinkOn {
	border: none;
	display: inline !important;
}

ul.noIndent {
	margin: 0em;
	padding-left: 1.2em;
}

ul.noIndent li {
	padding-left: 0em;
}

div.popupHead {
	background-color: #cccccc;
	padding: 4px;
	border-bottom: 1px #999999 solid;
}

/* Class(es) to hide html elements that only apply to Section 508 rules */

.hideMe508 {
	display: none;
}

/* Class to hide html elements from being displayed on screen, but that will still be audible with a screen reader */

.hideMeButHearMe {
	position: absolute;
	top: -999px;
}

/* styles for developer toolbar */
#apex-dev-toolbar{display:block;position:fixed;bottom:0px;left:0px;width:100%;padding:0px;margin:0 auto 0 auto;background:url(../apex/builder/dev-bar.png) 0 0 repeat-x transparent;background-repeat:repeat-x;-webkit-box-shadow:0 0 6px rgba(0,0,0,0.5);-moz-box-shadow:0 0 6px rgba(0,0,0,0.5);box-shadow:0 0 6px rgba(0,0,0,0.5);z-index:9999;-webkit-transition:background-color 0.1s;-moz-transition:background-color 0.1s;transition:background-color 0.1s}
#apex-dev-toolbar:hover{background-color:#606060}
#apex-dev-toolbar ul{list-style-type:none;text-align:center;white-space:nowrap}
#apex-dev-toolbar ul li{list-style:none;display:inline-block}
a.apex-toolbar,a.apex-toolbar:visited,a.apex-toolbar:link{line-height:24px;font-size:11px;color:#F0F0F0;text-shadow:0 -1px 0 rgba(0,0,0,0.35);text-decoration:none;display:block;padding:0 8px;margin:0;font-weight:bold}
a.apex-toolbar:hover,a.apex-toolbar:focus{text-decoration:none;color:#FFF;background:url(../apex/builder/dev-bar.png) 0 0 repeat-x #000}

/* Other */

span.errTxt {
	color: #ff0000;
	font-size: 7.5pt;
}

div.htmldbDebug {
	padding-left: 3px;
	font-size: 10px !important;
}

div.htmldbHtmlEditor {
	font-size: 12px;
}

div.htmldbHtmlEditor p {
	font-size: inherit;
}

div.htmldbHtmlEditor em {
	font-style: italic;
	font-size: 12px;
}

div.htmldbHtmlEditor h1 {
	font-size: 120%
}

div.htmldbHtmlEditor h2 {
	font-size: 140%
}

div.htmldbHtmlEditor h3 {
	font-size: 160%
}

div.htmldbHtmlEditor h4 {
	font-size: 180%
}

div.htmldbHtmlEditor h5 {
	font-size: 200%
}

div.htmldbHtmlEditor h6 {
	font-size: 220%
}

div.htmldbHtmlEditor ol,div.htmldbHtmlEditor ol li {
	list-style-type: decimal;
	font-size: inherit;
}

div.htmldbHtmlEditor ul,div.htmldbHtmlEditor ul li {
	list-style-type: disc;
	font-size: inherit;
}

img.apexDatePickerIcon[class] {
	vertical-align: middle;
}

ol {
	margin: 0 0 0 20px;
	padding: 0;
}

ul {
	margin: 0 0 0 15px;
	padding: 0;
}

/* built in for shuttle */

.shuttleSort1 img, .shuttleSort2 img, .shuttleControl img {
	display: block;
	cursor: pointer;
	margin: 3px;
}

.shuttleSelect1 select,.shuttleSelect2 select {
	width: 150px;
}

/* built in for color picker */

body.colorpicker {
	background: #fff;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	margin: 0;
	padding: 1px;
}

#color_pallet_tab {
	margin: 0 auto;
}

#color_pallet_tab .color {
	display: block;
	float: left;
	width: 18px;
	height: 12px;
	margin: 1px 1px 0 0;
	cursor: pointer;
}

#color_pallet_tab .color br {
	display: block;
	width: 1px;
	height: 1px;
	font-size: 1px;
}

#current_color {
	height: 20px;
	margin: 2 auto;
	clear: both;
}

.colorpreview {
	margin: 0 0 0 5px;
	width: 16px;
	height: 16px;
	border: 1px #000000 solid;
}

/*
* complex default layout
**/

.calculator, .colorpicker,.lov,.datepicker {
	white-space: nowrap;
}

.calculator *, .colorpicker *,.lov *,.datepicker * {
	vertical-align: middle;
}

.calculator a, .colorpicker a,.lov a,.datepicker a {
	margin: 0 0 0 2px;
}

fieldset.listmanager table td {
	padding: 3px;
}

.checkbox_group ,.radio_group {
	vertical-align: top;
margin auto 0;
}

.ajax_shuttle select {
	height: 150px;
	width: 300px;
}

.hasDatepicker {
	margin: 1px 2px 0 0;
	vertical-align: top;
}

.ui-datepicker-trigger {
	margin: 0 0 0 2px;
	vertical-align: text-bottom;
}

/*worksheet specific*/

.worksheet_detail {
	font-size: 12px;
}

.worksheet_detail th,.worksheet_detail td {
	font-size: 1em;
	padding: 2px 8px;
}

.worksheet_detail th {
	text-align: right;
	background: none;
	background-image: none;
}

.worksheet .worksheet_detail th.group, .worksheet_detail th.group {
	text-align: left;
	padding: 6px;
	border-bottom: 1px solid #efefef;
	border-top: 1px solid #efefef;
	background: #efefef;
}

.worksheet_detail th.group img {
	margin-right: 5px;
	cursor: pointer;
}

.worksheet .worksheet_detail th.group,.worksheet .worksheet_detail th {
	background: none;
	border: none;
	background-image: none;
	color: #000;
}

.calculator td.w20 {
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	color: #000000;
	padding: 4px;
	border: 1px solid #ffffff;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	white-space: nowrap;
	cursor: pointer;
}

.calculator td.w40 {
	width: 40px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	color: #000000;
	padding: 4px;
	border: 1px solid #ffffff;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	white-space: nowrap;
	cursor: pointer;
}

.calculator td.w120 {
	width: 100%;
	height: 20px;
	font-size: 12px;
	color: #000000;
	padding: 4px;
	border: 1px solid #ffffff;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
}

th.current {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	background: #efefef;
	color: #000;
	background-image: none;
}

#webpage {
	font-size: 12px !important;
	empty-cells: show;
	height: 100%;
}

#webpage * {
	font-size: 12px !important;
}

#webpage td.column {
	height: 100%;
	border: 1px solid #efefef;
	empty-cells: show;
	padding: 15px 5px;
}

table.wb_region {
	border: 1px solid #999;
	width: 300px;
	font-size: 12px !important;
	margin: 2px;
}

table.wb_region th {
	border-bottom: 1px solid #999;
	background: #efefef;
}

#columnbuilder {
	border: 1px solid #aaaaaa;
	background: #efefef;
}

#columnbuilder td {
	white-space: nowrap;
	font-size: 9px;
	border-bottom: 1px solid #fff;
	vertical-align: middle !important;
	height: 1em;
	line-height: 1em;
}

#columnbuilder td span {
	vertical-align: middle !important;
	height: 1em;
	line-height: 1em;
}

#columnbuilder td input {
	border: 1px solid #999 !important;
}

table.TopBarUIFix {
	margin: 0 0 6px 0;
	empty-cells: show
}

td.TopBarUIFixL {
	white-space: nowrap;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #eeeeee;
}

td.TopBarUIFixC {
	white-space: nowrap;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #eeeeee;
}

td.TopBarUIFixC a {
	display: block;
	height: 100%;
	width: 25px;
	text-decoration: none;
	cursor: help;
}

td.TopBarUIFixR {
	border: none;
	white-space: nowrap;
}

td.TopBarUIFixL *,td.TopBarUIFixR *,td.TopBarUIFixC * {
	vertical-align: middle;
}

.dhtmlSubMenu {
	background: #f6f6f6;
	font-size: 11px;
	width: 200px;
	border: 2px solid #b7b7b7;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dhtmlSubMenu li {
	margin: 0;
	padding: 0;
}

.dhtmlMenuSep {
	text-align: center;
}

img.dhtmlMenuSep {
	display: block;
	margin: auto;
	width: 80%;
	border: 1px solid #f6f6f6;
	height: 1px;
	background: #ccc;
}

.dhtmlSubMenu img.dhtmlSep {
	width: 180px;
	height: 1px;
}

.dhtmlSubMenu .htmldbMIMG,.dhtmlSubMenuS .htmldbMIMG {
	vertical-align: middle;
	float: right;
	width: 5px;
	height: 9px;
}

.dhtmlSubMenu .dhtmlSubMenuP {
	text-align: center;
	color: #808080;
	padding: 3px 8px;
	border-bottom: #ccc 1px solid;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
	margin: 1px;
}

.dhtmlSubMenu a.dhtmlSubMenuS,.dhtmlSubMenu a.dhtmlSubMenuN {
	border: 1px solid #f6f6f6;
	color: #808080;
	display: block;
	font-weight: normal;
	padding: 3px 8px;
	text-decoration: none;
	white-space: nowrap;
	margin: 1px;
	height: 1%;
	overflow: hidden;
}

/* Shows current number of rows selected */

li.dhtmlSubMenuSelected a.dhtmlSubMenuN {
	background-color: #CCC;
}

.dhtmlSubMenu a.dhtmlSubMenuS:hover,
.dhtmlSubMenu a.dhtmlSubMenuN:hover,
.dhtmlSubMenu a.dhtmlSubMenuS:focus,
.dhtmlSubMenu a.dhtmlSubMenuN:focus,
.dhtmlSubMenu a.dhtmlSubMenuS:active,
.dhtmlSubMenu a.dhtmlSubMenuN:active {
	background: #FFC06F;
	border: 1px solid #000;
	color: #000;
}

a.dhtmlSubMenuS,a.dhtmlSubMenuN {
	font-size: 1em;
	display: block;
	vertical-align: middle;
	line-height: 1.2em;
	outline: none;
}

a.dhtmlSubMenuS *,a.dhtmlSubMenuN * {
	vertical-align: middle;
}

a.dhtmlSubMenuS span {
	display: block;
	font-size: 1em;
	float: left;
}

a.dhtmlSubMenuS img {
	display: block;
	float: right;
	width: 5px;
	height: 9px;
}

.dhtmlSubMenu a.dhtmlSubMenuS, .dhtmlSubMenu a.dhtmlSubMenuN {
	color: #000;
}

div.dhtmlMenuLG {
	list-style-type: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	white-space: nowrap;
}

div.dhtmlMenuLG div.dhtmlMenuItem {
	text-align: center;
	float: left;
	margin: 0 8px 0 0;
}

div.dhtmlMenuLG a.dhtmlBottom {
	text-decoration: none;
	display: block;
	font-size: 12px;
	margin: 0 5px;
	font-weight: bold;
}

div.dhtmlMenuLGButton {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 4px;
	vertical-align: middle;
	white-space: nowrap;
}

div.dhtmlMenuLGButton div.dhtmlMenuItem {
	text-align: center;
	float: left;
	margin: 0 8px 0 0;
}

div.dhtmlMenuLGButton a.dhtmlBottom {
	text-decoration: none;
	display: block;
	font-size: 12px;
	margin: 0 5px;
	font-weight: bold;
}

.apex-tabular-form-error {
	border: 1px solid #990000;
	background-color: #fccfcc;
	padding: 2px;
}

.apex-tabular-form-error-highlight {
	border: 2px solid #990000;
	background-color: #fccfcc;
	padding: 2px;
}

.apex-tabular-highlight {
	border: 1px solid #cc9900;
	background-color: #ffffcc;
	padding: 2px;
}

.apex-tabular-form-error-box {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #ffffcc;
	border: 1px solid #ffcc66;
	margin: 10px;
	width: 600px;
}

.apex-tabular-form-error-box .msg {
	padding: 10px;
	text-align: center;
}

/**
 * Default Month Calendar - Below Calendar Data Display CSS
 */
 .DefMonthCalendar {

 }
 .DefMonthCalendar .DefDay {
 	text-align:left;
 	v-align: top;
 	height: 50px;
 	padding: 0;
 	color: #465769
 	font-weight:bold;
 	border-width: 1px 0px 0 0 ;
 	border-style: solid ;
 	border-color: #999999;
 	margin: 0;
 	padding: 4px;
 	background-color: #E5E5E5;
 }
 
 
 .DefMonthCalendar .DefHour {
 	width: 30px;
 	font: bold 12px/16px Arial, sans-serif;
 	color: #465769
 	font-weight:bold;
 	text-align: right;
 	padding: 0px 5px 35px 10px;
 	border-width: 0px 0px 0 0;
 	white-space: nowrap;
 	background-color: #E5E5E5;
 	v-align:center;
}


/**
 * Default Week Calendar CSS
 */

.DefWeekCalendarHolder {
	width: 600px;
}

.DefWeekCalendarHolder .DefMonthTitle {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	color: #FF0000;
}

.DefWeekCalendar {
	border-left: 1px solid #666666;
	border-bottom: 1px solid #666666;
	width: 100%;
}

.DefWeekCalendar .DefDayOfWeek {
	color: #000000;
	padding: 3px;
	background-color: #999999;
	border-right: 1px solid #666666;
}

.DefWeekCalendar td {
	width: 75px;
	height: 30px;
	width: 14%;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
}

.DefWeekCalendar .DefDayTitle {
	padding: 0px;
	font-weight: bold;
	text-align: right;
	float: right;
	border: 0px solid #666666;
	border-right: none;
	border-top: none;
}

.DefWeekCalendar .DefDay {
	vertical-align: top;
}

.DefWeekCalendar .DefNonDay {
	background-color: #EEEEEE;
}

.DefWeekCalendar .DefToday {
	vertical-align: top;
	border-top: #999999 1px solid;
	background-color: #DDDDDD;
}

.DefWeekCalendar .DefToday .DefDayTitle {
	background-color: #FFFFFF
}

.DefWeekCalendar .DefHour {
	width: 40px;
	height: 30px;
	width: 5%;
	border-top: 1px solid #666666;
	background-color: #999999;
}

.DefWeekCalendar .DefHourTitle {
	width: 40px;
	background-color: #999999;
}

/**
 * Default Daily Calendar CSS
 */

.DefDayCalendarHolder {
	width: 600px;
}

.DefDayCalendarHolder .DefMonthTitle {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	color: #FF0000;
}

.DefDayCalendar {
	border-left: 1px solid #666666;
	border-bottom: 1px solid #666666;
	width: 100%;
}

.DefDayCalendar .DefDayOfWeek {
	color: #000000;
	padding: 3px;
	background-color: #999999;
	border-right: 1px solid #666666;
}

.DefDayCalendar td {
	width: 560px;
	height: 30px;
	border-right: 1px solid #666666;
	border-top: 1px solid #666666;
}

.DefDayCalendar .DefDayTitle {
	padding: 0px;
	font-weight: bold;
	text-align: right;
	float: right;
	border: 0px solid #666666;
	border-right: none;
	border-top: none;
}

.DefDayCalendar .DefDay {
	vertical-align: top;
}

.DefDayCalendar .DefToday {
	vertical-align: top;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	background-color: #DDDDDD;
}

.DefDayCalendar .DefToday .DefDayTitle {
	background-color: #FFFFFF
}

.DefDayCalendar .DefHour {
	width: 40px;
	height: 30px;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	background-color: #999999;
}

.DefDayCalendar .DefHourTitle {
	width: 40px;
	background-color: #999999;
}

/**
* Default Custom Calendar styles
**/

.DefcstCalendarHolder {
	width: 600px;
}

.DefcstCalendarHolder .DefMonthTitle {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	color: #FF0000;
}

.DefcstCalendar {
	border-left: 1px solid #666666;
	border-bottom: 1px solid #666666;
	width: 100%;
}

.DefcstCalendar .DefDayOfWeek {
	color: #000000;
	padding: 3px;
	background-color: #999999;
	border-right: 1px solid #666666;
}

.DefcstCalendar td {
	width: 75px;
	height: 75px;
	width: 14%;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
}

.DefcstCalendar .DefDayTitle {
	padding: 0px;
	font-weight: bold;
	text-align: right;
	float: right;
	border: 0px solid #666666;
	border-right: none;
	border-top: none;
}

.DefcstCalendar .DefDay {
	vertical-align: top;
}

.DefcstCalendar .DefNonDayTitle {
	text-align: right;
	color: #CCCCCC;
}

.DefcstCalendar .DefNonDay {
	background-color: #EEEEEE;
}

.DefcstCalendar .DefWeekendDayTitle {
	padding: 2px;
	font-weight: bold;
	text-align: right;
	float: right;
	border: 2px solid #666666;
	border-right: none;
	border-top: none;
	text-align: right;
	color: #CCCCCC;
}

.DefcstCalendar .DefWeekendDay {
	
}

.DefcstCalendar .DefToday {
	vertical-align: top;
	border-top: #999999 1px solid;
	background-color: #DDDDDD;
}

.DefcstCalendar .DefToday .DefDayTitle {
	background-color: #FFFFFF
}

.DefCstWeekCalendarHolder {
	width: 600px;
}

.DefCstWeekCalendarHolder .DefMonthTitle {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	color: #FF0000;
}

.DefCstWeekCalendar {
	border-left: 1px solid #666666;
	border-bottom: 1px solid #666666;
	width: 100%;
}

.DefCstWeekCalendar .DefDayOfWeek {
	color: #000000;
	padding: 3px;
	background-color: #999999;
	border-right: 1px solid #666666;
}

.DefCstWeekCalendar td {
	width: 75px;
	height: 30px;
	width: 14%;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
}

.DefCstWeekCalendar .DefDayTitle {
	padding: 0px;
	font-weight: bold;
	text-align: right;
	float: right;
	border: 0px solid #666666;
	border-right: none;
	border-top: none;
}

.DefCstWeekCalendar .DefDay {
	vertical-align: top;
}

.DefCstWeekCalendar .DefNonDay {
	background-color: #EEEEEE;
}

.DefCstWeekCalendar .DefToday {
	vertical-align: top;
	border-top: #999999 1px solid;
	background-color: #DDDDDD;
}

.DefCstWeekCalendar .DefToday .DefDayTitle {
	background-color: #FFFFFF
}

.DefCstWeekCalendar .DefHour {
	width: 40px;
	height: 30px;
	width: 5%;
	border-top: 1px solid #666666;
	background-color: #999999;
}

.DefCstWeekCalendar .DefHourTitle {
	width: 40px;
	background-color: #999999;
}


.DefAgendaCalendar {
		width:100%;
		padding: 0 0 0 0;
		border: 0px ;
		border-collapse: collapse;
		border-spacing: 0px;
		padding: 0;
}

.DefAgendaCalendar .DefMonthTitle {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	color: #FF0000;
}



.DefAgendaCalendar .DefDayTitle {
	font: bold 14px/18px Arial, sans-serif;
	text-align:center;
	color:#ffffff;
	border-width: 1px 0px 0 0;
	background-color: #999999;
	border-left: 0px solid #666666;
	border-right: 0px solid #666666;
	border-top: 0px solid #999999;
	border-bottom: 0px solid #999999;
	margin: 0;
}

.DefAgendaCalendar .DefDay {
	text-align:left;
	v-align: top;
	height: 50px;
	padding: 0;
	color: #465769
	font-weight:bold;
	border-width: 1px 0px 0 0 ;
	border-style: solid ;
	border-color: #999999;
	margin: 0;
	padding: 4px;
	background-color: #E5E5E5;
}

.DefAgendaCalendar .DefHourTitle {
	font: bold 14px/18px Arial, sans-serif;
	text-align:center;
	color:#ffffff;
	background-color: #999999;
	border-width: 1px 0px 1px 0 ;
	border-style: solid ;
	border-color: #999999;
	margin: 0;
}

.DefAgendaCalendar .DefHour {
	width: 30px;
	font: bold 12px/16px Arial, sans-serif;
	color: #465769
	font-weight:bold;
	text-align: right;
	padding: 0px 5px 35px 10px;
	border-width: 0px 0px 0 0;
	white-space: nowrap;
	background-color: #E5E5E5;
	v-align:center;
}

.DefAgendaCalendar .DefToDayTitle {
	font: bold 14px/18px Arial, sans-serif;
	text-align:center;
	color:#999999;
	border-width: 1px 0px 0 0;
	background-color: #DDDDDD;
	border-left: 0px solid #666666;
	border-right: 0px solid #666666;
	border-top: 0px solid #999999;
	border-bottom: 0px solid #999999;
	margin: 0;
}

.DefAgendaCalendar .DefToday {
	text-align:left;
	v-align: top;
	height: 50px;
	padding: 0;
	color: #465769
	font-weight:bold;
	border-width: 1px 0px 0 0 ;
	border-style: solid ;
	border-color: #999999;
	margin: 0;
	padding: 4px;
	background-color: #F5F6F5;
}

.DefAgendaCalendar .DefTodayHourTitle {
	font: bold 14px/18px Arial, sans-serif;
	text-align:center;
	color:#999999;
	background-color: #DDDDDD;
	border-width: 1px 0px 1px 0 ;
	border-style: solid ;
	border-color: #DDDDDD;
	margin: 0;
}

.DefAgendaCalendar .DefTodayHour {
	width: 30px;
	font: bold 12px/16px Arial, sans-serif;
	color: #465769
	font-weight:bold;
	text-align: right;
	padding: 0px 5px 35px 10px;
	border-width: 0px 0px 0 0;
	white-space: nowrap;
	background-color: #F5F6F5;
	v-align:center;
}

/**
*This is Calendar Drag & Drop related Classes
* */

.calDragDrop {
	width:98%;
}

.apex_cal_data_grid_src {
	width:100%;
	margin-top:2px;
}

/**
 *This is the standard apex finderbar
 * */

table.apex_finderbar {
	margin: 5px 0;
	empty-cells: show
}

td.apex_finderbar_middle {
	white-space: nowrap;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #eeeeee;
}

td.apex_finderbar_middle a {
	display: block;
	height: 100%;
	text-decoration: none;
}

td.apex_finderbar_left {
	white-space: nowrap;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #eeeeee;
}

.apex_finderbar_left_middle {
	background-image: url(../htmldb/builder/builder_find_bg.png);
}

.apex_finderbar_left_top {
	background-image: url(../htmldb/builder/builder_find_bg.png);
}

.apex_finderbar_left_top img.spacer {
	display: block;
	background-image: url(../htmldb/builder/builder_find_top.png);
}

.apex_finderbar_left_bottom {
	background-image: url(../htmldb/builder/builder_find_bg.png);
}

.apex_finderbar_left_bottom img.spacer {
	display: block;
	background-image: url(../htmldb/builder/builder_find_bottom.png);
}

.apex_finderbar_buttons {
	padding-left: 10px;
	white-space: nowrap;
}

.apex_close {
	margin-right: 10px;
}

/**
 *
 * Begin Apex Interactive Report
 **/

#apexir_WORKSHEET {
	
}

#search_column_drop {
	font-size: 10pt;
	color: #000000;
}

table.worksheet tr td div {
	max-width: 300px;
}

.worksheet_detail {
	clear: both;
}

#apexir_columnsearch,#apexir_col_values_drop,#apexir_rollover {
	background: #ffffff;
	font-size: 11px;
	width: 200px;
	border-left: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	-moz-box-shadow: 2px 2px 4px #888888;
	-webkit-box-shadow: 2px 2px 4px #888888;
	box-shadow: 2px 2px 4px #888888;
	overflow: hidden;
	overflow-x: hidden;
	position: absolute;
	z-index: 1000;
}

#apexir_col_values_drop,#apexir_rollover_content {
	overflow: auto;
	overflow: hidden;
	overflow-y: auto;
	overflow-x: hidden;
}

#apexir_columnsearch a,#apexir_col_values_drop a,#apexir_rollover_content a {
	display: block;
	padding: 2px !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	width: 100% !important;
	color: #000 !important;
	text-decoration: none !important;
}

#apexir_rollover_content a:hover,#apexir_col_values_drop a:hover,#apexir_rollover_content a:focus,#apexir_col_values_drop a:focus,#apexir_rollover_content a:active,#apexir_col_values_drop a:active {
	background: #8fb1e4;
	color: #ffffff;
	cursor: pointer;
}

#apexir_SEARCHDROP a:hover,#apexir_SEARCHDROP a:focus,#apexir_SEARCHDROP a:active {
	background: #8fb1e4;
	color: #ffffff;
	cursor: pointer;
}

/*
 * Label for text populated from Search Dropdown (flash light)
 */

#apexir_SEARCH_COLUMN_DROP {
	font-size: 12px;
	float: left;
	padding: 9px 4px 4px 2px;
}

/*
 * Search Dropdown (flash light)
 */

#apexir_SEARCHDROP {
	padding: 24px 0 0 0;
}

.apexir_SEARCHICON {
	background-image: url(../apex/builder/finder_w_dropdown.png);
	float: left;
	display: block;
	height: 24px;
	width: 24px;
}

.apexir_SEARCHICON span {
	display: none;
}

.apexir_ICON {
	background-image: url(../apex/builder/finder.png);
	float: left;
	display: block;
	height: 24px;
	width: 24px;
}

.apexir_ICON span {
	display: none;
}

#apexir_rollover #search {
	width: 100%;
}

/* adding missing outline for IE */
#apexir_EXPR_ICON_LINK:focus {
  outline: 1px dotted #000;
}


#apexir_rollover table img {
	cursor: pointer;
}

.htmldbMinReport tr th div {
	text-decoration: underline;
	cursor: pointer;
}

#apexir_rollover #apexir_search {
	width: 100%;
	margin: 2px;
	border: 1px solid #999;
}

#apexir_rollover table {
	background: #efefef;
	border-bottom: 2px solid #ddd;
	width: 100%;
}

#apexir_rollover table td {
	padding: 2px;
}

#apexir_rollover table img {
	cursor: pointer;
}

#apexir_rollover table span {
	border: 1px solid #efefef;
	display: block;
	cursor: pointer;
	font-size: 10px;
	margin: 2px;
	float: left;
	padding: 2px;
	background: #eee;
}

#apexir_rollover table span:hover {
	border: 1px solid #000;
	background: #ddd;
}

#ir_help {
	margin: 5px 10px 15px 10px;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 13px
}

#ir_help p {
	margin-top: 10px !important;
}

#ir_help h3 {
	border-bottom: 1px solid #999;
}

.irr-pill {
	float: left;
	display: block;
	height: 20px;
}

.irr-pill span {
	display: none;
}

.irr-pill-group {
	background-image: url(../apex/builder/pill-group.gif);
	width: 30px;
	margin: 0 0 0 4px;
}

.irr-pill-group-active {
	background-image: url(../apex/builder/pill-group-active.gif);
	width: 30px;
	margin: 0 0 0 4px;
}

.irr-pill-chart {
	background-image: url(../apex/builder/pill-chart.gif);
	width: 30px;
	margin: 0 0 0 4px;
}

.irr-pill-chart-active {
	background-image: url(../apex/builder/pill-chart-active.gif);
	width: 30px;
	margin: 0 0 0 4px;
}

.irr-pill-icons-left {
	background-image: url(../apex/builder/pill-icons-left.gif);
	width: 25px;
}

.irr-pill-icons-left-active {
	background-image: url(../apex/builder/pill-icons-left-active.gif);
	width: 25px;
}

.irr-pill-report-center {
	background-image: url(../apex/builder/pill-report-center.gif);
	width: 20px;
}

.irr-pill-report-center-active {
	background-image: url(../apex/builder/pill-report-center-active.gif);
	width: 20px;
}

.irr-pill-report {
	background-image: url(../apex/builder/pill-report.png);
	width: 30px;
	margin: 0 0 0 4px;
}

.irr-pill-report-active {
	background-image: url(../apex/builder/pill-report-active.png);
	width: 30px;
	margin: 0 0 0 4px;
}

.irr-pill-report-left {
	background-image: url(../apex/builder/pill-report-left.gif);
	width: 25px;
}

.irr-pill-report-left-active {
	background-image: url(../apex/builder/pill-report-left-active.gif);
	width: 25px;
}

.irr-pill-report-right {
	background-image: url(../apex/builder/pill-report-right.gif);
	width: 25px;
}

.irr-pill-report-right-active {
	background-image: url(../apex/builder/pill-report-right-active.gif);
	width: 25px;
}

.irr-pill-details-right {
	background-image: url(../apex/builder/pill-details-right.gif);
	width: 25px;
}

.irr-pill-details-right-active {
	background-image: url(../apex/builder/pill-details-right-active.gif);
	width: 25px;
}

#loader {
	position: absolute;
	top: 0;
	left: 45%;
}

td.apex_finderbar_middle label {
	display: block;
}

span.ws_link {
	text-decoration: underline;
	cursor: pointer;
}

.error {
	border: 1px solid red;
}

.error_text {
	color: red;
}

table.accessible-report {
	border: 1px #aaa solid;
	margin: 4px;
}

table.accessible-report tfoot tr td, table.accessible-report tfoot, table.accessible-report tfoot tr {
	background: #f4f4f4;
	border: 0;
}

table.accessible-report > tbody > tr > th {
	background: #aaaaaa;
	font-weight: bold;
	border-bottom: 1px #aaa solid;
	font-size: 11px;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 4px 9px;
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1;
	background-repeat: repeat-x;
}

table.accessible-report > tbody > tr > td {
	background: #f4f4f4;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
	font-size: 12px;
	padding: 2px 9px;
	empty-cells: show;
}

table.accessible-report > tbody > tr > th a {
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1;
}

table.standard-report {
	border: 1px #aaa solid;
}

table.standard-report tfoot tr td, table.standard-report tfoot, table.standard-report tfoot tr {
	background: #f4f4f4;
	border: 0;
}

table.standard-report > tbody > tr > th {
	background: #879cbd;
	font-weight: bold;
	border-bottom: 1px #aaa solid;
	font-size: 11px;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 4px 9px;
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1;
	background-image: url(../apex/reg_top_bg.png);
	background-repeat: repeat-x;
}

table.standard-report > tbody > tr > td {
	background: #f4f4f4;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
	font-size: 12px;
	padding: 2px 9px;
	empty-cells: show;
}

table.standard-report > tbody > tr > th a {
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1;
}

table.column_mapping {
	border-top: 1px #aaa solid;
	width: 100%;
}

table.column_mapping tfoot tr td, table.column_mapping tfoot, table.column_mapping tfoot tr {
	border: 0;
}

table.column_mapping > tbody > tr > th {
	font-weight: bold;
	border-bottom: 1px #ccc solid;
	font-size: 11px;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 4px 9px;
	color: #000000;
	font-size: 12px;
	letter-spacing: 1;
	background-repeat: repeat-x;
}

table.column_mapping > tbody > tr > td {
	border-bottom: 1px #ccc solid;
	font-size: 12px;
	padding: 2px 9px;
	empty-cells: show;
}

table.column_mapping > tbody > tr > th a {
	color: #efefef;
	font-size: 12px;
	letter-spacing: 1;
}

/*
 * #apexir_
 * Start
 **/

/**
 * This is the acutal data table for worksheets

**/

.apexir_WORKSHEET_DATA {
	border: 0px #ffffff solid;
	empty-cells: show;
	border-collapse: collapse;
	font-size: 8pt;
}

.apexir_WORKSHEET_DATA tfoot tr td {
	background: #efefef;
}

.apexir_WORKSHEET_DATA th {
	background: #aaaaaa;
	font-weight: bold;
	color: #ffffff;
	border-top: 1px #aaa solid;
	border-bottom: 1px #aaa solid;
	white-space: nowrap;
	vertical-align: center;
	letter-spacing: 1;
	font-size: 12px;
	background-image: url(../ws/report_bg.gif);
	background-repeat: repeat-x;
}

.apexir_WORKSHEET_DATA th div {
	color: #ffffff;
	letter-spacing: 1;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
	margin: 3px 9px;
}

.apexir_WORKSHEET_DATA th.current {
	background: #aaaaaa;
	background-image: url(../ws/report_bg_current.gif);
}

.apexir_WORKSHEET_DATA th.current div {
	color: #000000;
}

.apexir_WORKSHEET_DATA td {
	background: #efefef;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
	font-size: 12px;
	padding: 3px 9px;
	empty-cells: show !important;
	overflow: hidden;
}

.apexir_WORKSHEET_DATA tr.odd td {
	background-color: #f0f0f0;
}

.apexir_WORKSHEET_DATA tr.even td {
	background-color: #f0f0f0;
}

.apexir_WORKSHEET_DATA tr.odd:hover td {
	background-color: #ccddff !important;
}

.apexir_WORKSHEET_DATA tr.even:hover td {
	background-color: #ccddff !important;
}

.apexir_WORKSHEET_ICONS td {
	background: none;
	border: none;
	width: 160px;
	max-width: 160px;
	height: 100px;
	vertical-align: top;
}

.apexir_WORKSHEET_ICONS td a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #808080;
	font-size: 12px;
	font-weight: normal;
}

.apexir_WORKSHEET_ICONS td a * {
	vertical-align: top;
/*	padding-bottom: 3px;*/
}

.apexir_WORKSHEET_CUSTOM td {
	background: none;
	border: none;
}

#apexir_WORKSHEET .apexir_REPEAT_HEADING {
	padding: 10px 0 5px 0;
	border: 0px solid #ffffff;
	background: #ffffff;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	color: #000;
}

#apexir_WORKSHEET .apexir_AGGREGATE_VALUE {
	font-weight: bold;
	background: #eeeeee;
	text-align: right;
}

#apexir_REPORT_TABS {
	border-bottom: 1px solid #999;
	padding: 0 0 1px 0;
	margin: 10px 0 5px 0;
	clear: both;
	display: block;
}

#apexir_REPORT_TABS span {
	font-weight: bold;
	display: inline-block;
	font-size: 12px;
	margin: 0 3px;
	cursor: pointer;
	border: 1px solid #999;
	background: #efefef;
	border-bottom: none;
	padding: 2px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-bottom: 2px;
}

#apexir_REPORT_TABS span.current {
	background: #FF6600;
	color: #fff;
	margin-bottom: 0;
}

#apexir_REPORT_TABS span a {
	display: none;
}

#apexir_CONTROL_PANEL {
	clear: both;
}

#apexir_CONTROL_PANEL_CONTROL {
	cursor: pointer;
	width: 20px;
	height: 100%;
}

#apexir_CONTROL_PANEL_SUMMARY,#apexir_CONTROL_PANEL_COMPLETE td,#apexir_CONTROL_PANEL_COMPLETE a {
	vertical-align: middle;
	font-size: 12px;
}

#apexir_CONTROL_PANEL_DROP {
	background: #efefef;
	border: 1px solid #999999;
	z-index: 1;
	padding: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 1px 1px 1px #aaaaaa;
	-webkit-box-shadow: 1px 1px 1px #aaaaaa;
	box-shadow: 1px 1px 1px #aaaaaa;
	clear: both;
	float: left;
}

#apexir_CONTROL_PANEL_DROP label {
	font-size: 12px !important;
}

#apexir_CONTROL_PANEL_DROP td {
	white-space: nowrap !important;
}

#apexir_CONTROL_PANEL_DROP input,#apexir_CONTROL_PANEL_DROP select,#apexir_CONTROL_PANEL_DROP textarea {
	
}

#apexir_DATA_PANEL {
	clear: both;
}

#apexir_LOADER {
	position: absolute;
	top: 4px;
	left: 48%;
}

.apexir_TOOLBAR_OPEN {
	float: left;
	height: 40px;
	display: inline;
	overflow: visible;
	background: url(../apex/builder/bg-topbar-40px-l.gif) repeat-y scroll 0 0;
}

.apexir_TOOLBAR_CLOSE {
	color: #000000;
	float: left;
	overflow: visible;
	background: url(../apex/builder/bg-topbar-40px-r.gif) repeat-y scroll 100% 0;
	padding: 4px 8px 8px 0;
}

#apexir_TOOLBAR {
	float: left;
	padding: 0 0 4px 0;
}

.apexir_COLUMN_SELECTOR {
	float: left;
	padding: 1px 4px 0px 8px;
}

.apexir_SEARCH {
	float: left;
	padding: 4px 4px 0px 2px;
}

.apexir_SEARCH input {
	margin: 0;
}

.apexir_SEARCH button {
	margin: 1px 0 0 4px;
}

.apexir_SAVED_REPORTS {
	float: left;
	padding: 5px 4px 0px 2px;
}

.apexir_SAVED_REPORTS select {
	margin: 0 0 0 2px;
}

.apexir_ROW_SELECT_LIST {
	float: left;
	padding: 7px 4px 9px 2px;
}

.apexir_ROW_SELECT_LIST select {
	margin: 0 0 0 2px;
}

#apexir_SEARCH_BAR_OPTIONS {
	float: left;
	padding: 4px 4px 0px 2px;
	margin: 1px;
}

.apexir_ACTION_MENU {
	float: left;
	padding: 4px 4px 0px 4px;
}

.apexir_WEBSHEET_MENU {
	float: left;
	padding: 4px 4px 0px 2px;
}

.apexir_WEBSHEET_MENU button {
	margin: 1px;
}

.apexir_BUTTONS {
	float: left;
	padding: 9px 4px 2px 10px;
}

.apexir_BUTTONS button {
	margin: 0;
}

#apexir_TOOLBAR div.dhtmlMenuLGButton {
	padding: 0;
}

.apexir_ACTION_MENU button {
	margin: 1px;
}

/**
 *AJAX Based data adding to Calendar
 */

#apex_cal_DATA_PANEL_DROP {
	background: #efefef;
	border: 1px solid #999999;
	z-index: 1;
	padding: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	clear: both;
	float: left;
}

#apex_cal_DATA_PANEL_DROP label {
	font-size: 12px !important;
}

#apex_cal_DATA_PANEL_DROP td {
	white-space: nowrap !important;
}

#apex_cal_DATA_PANEL_DROP input,#apex_cal_DATA_PANEL_DROP select,#apex_cal_DATA_PANEL_DROP textarea {
	
}

/**
 *apex_
 *everthing we automatically output will should be prepended with apex_
 */

table tr td.apex_report_break {
	border-left: none !important;
	border-right: none !important;
	padding: 5px;
}

.apex_size_bar {
	background: #EEEEEE;
	background-image: none;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 0 1px 1px;
	cursor: s-resize;
	height: 9px;
	overflow: hidden;
}

.apex_size_grip {
	background: #EEEEEE url(../widgets/size_grip.png) no-repeat scroll right top;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 1px 0 0;
	cursor: se-resize;
	height: 9px;
	width: 9px;
	float: right;
	overflow: hidden;
}

.apex_wait_popup {
	display: block;
	padding: 5px;
	font-size: 16px;
	width: 300px;
	text-align: center;
	left: 40%;
	top: 30%;
	position: absolute;
	border: 2px solid #666;
	background-color: #FFF;
	z-index: 1002;
}

.apex_wait_overlay {
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.5;
	opacity: .5;
	filter: alpha(opacity=50);
}

/**
 * item type autocomplete (based on jquery.autocomplete.css)
 */

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	

/*

if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/






/*

width: 100%;*/
	font: menu;
	font-size: 12px;
	

/*


it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	

/*

if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/






/*

width: 100%;*/
	font: menu;
	font-size: 12px;
	

/*


it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('../apex/builder/loading16x16.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

.apex-loading-indicator {
	background-image: url(../apex/builder/loading16x16.gif);
	padding: 1px 8px 1px 8px;
}

/*.apex_disabled {
	background-color: #ccc;
}
*/
.apex_disabled_multi {
	color: #ccc;
}

/* topbar */

.topbar {
	padding: 0 0 4px 0;
	float: left;
	clear: right;
	overflow: hidden;
}

.topbar .topbar-items {
	float: left;
}

.topbar .topbar-buttons {
	float: left;
	padding: 16px 0;
}

.topbar .topbar-top {
	width: 100%;
	float: left;
	background: url(../apex/builder/bg-topbox.gif) no-repeat 0 0;
}

.topbar .topbar-top .topbar-top-r {
	height: 3px;
	color: #ffffff;
	font-size: 1px;
	font-weight: bold;
	background: url(../apex/builder/bg-topbox-r.gif) no-repeat 100% 0;
}

.topbar .topbar-body {
	float: left;
	width: 100%;
	background: url(../apex/builder/bg-region-frame-l.gif) repeat-y scroll 0 0;
}

.topbar .topbar-body .topbar-body-r {
	color: #000000;
	font-size: 14px;
	padding: 0 12px 0 2px;
	background: url(../apex/builder/bg-region-frame-r.gif) repeat-y scroll 100% 0;
}

.topbar .topbar-body .topbar-content {
	padding: 6px;
	clear: right;
	background: #f8f8f8 url(../apex/builder/bg-announcements.gif) repeat-x scroll 0 100%;
	height: 1%;
	overflow: hidden;
}

.topbar .topbar-body .topbar-content .formlayout .body {
	padding: 2px 0 0 0;
}

.topbar .topbar-bottom {
	width: 100%;
	float: left;
	height: 10px;
	overflow: hidden;
	background: url(../apex/builder/bg-region-bottom-l.gif) no-repeat scroll 0 0;
}

.topbar .topbar-bottom .topbar-bottom-r {
	color: #000000;
	height: 5px;
	overflow: hidden;
	background: url(../apex/builder/bg-region-bottom-r.gif) no-repeat scroll 100% 0;
}

/* Two Col Report */

div.two-col-report-portlet {
	
}

div.two-col-report-portlet div.report-row {
	clear: both;
	border-bottom: 1px dotted #CCC;
}

div.two-col-report-portlet div.report-row div.report-col-hdr {
	float: left;
	font: normal 12px/20px Arial, sans-serif;
}

div.two-col-report-portlet div.report-row div.report-col-val {
	float: right;
	font: bold 12px/20px Arial, sans-serif;
}

/* show pre- and post-text on the same line as the item type */

fieldset.checkbox_group {
	display: inline;
	vertical-align: baseline;
}

fieldset.datepicker, fieldset.lov, fieldset.radio_group, fieldset.textarea, fieldset.shuttle, fieldset.colorpicker, fieldset.html_editor, fieldset.listmanager {
	display: inline;
	vertical-align: middle;
}

.fixed-header-report table {
	empty-cells: show;
	border: 1px solid #cccccc;
}

.fixed-header-report table tbody {
	display: block;
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
}

.fixed-header-report table thead tr {
	background-color: #cccccc;
	background-image: url(../images/report_bg.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #cccccc;
	display: block;
}

.fixed-header-report table th.header {
	color: #ffffff;
	padding: 4px 10px;
	font-size: 12px;
}

.fixed-header-report table th.header a {
	color: #ffffff;
	text-decoration: underline;
	font-size: 12px;
}

.fixed-header-report table td.data {
	background-color: #f0f0f0;
	padding: 4px 10px;
	border-bottom: 1px solid #cccccc;
}

.fixed-header-report table td.data-alt {
	background-color: #ffffff;
	padding: 4px 10px;
	border-bottom: 1px solid #cccccc;
}

.fixed-header-report table p {
	overflow: hidden;
	margin: 0px;
}

/*  disabled button */
button[disabled]{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:0.5;cursor:default;pointer-events:none}
.apex_disabled{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:0.5;cursor:default;pointer-events:none}

/* Visually Hidden for Accessibility */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }


/* Adding span class used for emitting empty columns in grid layout */
.apex-grid-nbsp {
  line-height: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
}
