div.iconlist a {
	display:inline-block!important;
}
.htmldbInvisDiv {
	filter:alpha(opacity=0);
}
.htmldbDisablePage {
	filter:alpha(opacity=50);
}
button {
	margin: 0 4px 0 4px;
	width:auto;
	overflow:visible;
	margin-top:0px;
}
button span {
	margin-top:0px;
}
.dhtmlSubMenu {
    background: #ffffff;
    background-image: none;
}

.apexir_TOOLBAR_OPEN {
	background: url(../apex/builder/bg-topbar-40px-l.gif) repeat-y scroll 0 0;
	border: none;
	background-color: none;	
}

.apexir_TOOLBAR_CLOSE {
	background: url(../apex/builder/bg-topbar-40px-r.gif) repeat-y scroll 100% 0;
}

button {
	margin: 0 4px 0 4px;
	width:auto;
	overflow:visible;
	margin-top:0px;
}
button span {
	margin-top:0px;
}

button.button-small-gray-blue-bg,
button.button-small-gray-gray-bg,
button.button-small-gray-white-bg,
button.button-small-gray,
button.button-small-orange-blue-bg,
button.button-small-orange-gray-bg,
button.button-small-orange-white-bg,
button.button-small-orange {
	padding: 0 11px 0 0;
	margin-left: 5px;
	border: none;
	box-shadow: none;
	border-radius: 0;
}

button.button-small-gray-blue-bg span,
button.button-small-gray-gray-bg span,
button.button-small-gray-white-bg span,
button.button-small-gray span,
button.button-small-orange-blue-bg span,
button.button-small-orange-gray-bg span,
button.button-small-orange-white-bg span,
button.button-small-orange span {
	padding: 4px 4px 0 15px;
	height: 16px;
	color: #4F4F4F;
	font: normal 13px/13px Arial, sans-serif !important;
	margin-top: 0;
}

button.button-small-gray-blue-bg,
button.button-small-gray-gray-bg,
button.button-small-gray-white-bg,
button.button-small-gray,
button.button-small-gray-blue-bg:hover,
button.button-small-gray-gray-bg:hover,
button.button-small-gray-white-bg:hover,
button.button-small-gray:hover {
	background: transparent url(../apex/builder/builder_button_sprite.png) no-repeat right -50px;
}
button.button-small-gray-blue-bg span,
button.button-small-gray-gray-bg span,
button.button-small-gray-white-bg span,
button.button-small-gray span {
	background: transparent url(../apex/builder/builder_button_sprite.png) no-repeat left 0;
}

button.button-small-orange-blue-bg,
button.button-small-orange-gray-bg,
button.button-small-orange-white-bg,
button.button-small-orange,
button.button-small-orange-blue-bg:hover,
button.button-small-orange-gray-bg:hover,
button.button-small-orange-white-bg:hover,
button.button-small-orange:hover {
	background: transparent url(../apex/builder/builder_button_sprite.png) no-repeat right -150px;
}
button.button-small-orange-blue-bg span,
button.button-small-orange-gray-bg span,
button.button-small-orange-white-bg span,
button.button-small-orange span {
	background: transparent url(../apex/builder/builder_button_sprite.png) no-repeat left -100px;
}

/* IE Buttons use Sprites */
a.button-gray,
a.button-orange {
  display: inline-block;
  height: 20px;
  color: #4F4F4F;
  text-decoration: none;
  -webkit-background-clip: content-box;
  white-space: nowrap;
  padding-right: 15px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

a.button-gray span,
a.button-orange span {
  padding: 0 0 0 15px;
  font: normal 13px/20px Arial, sans-serif;
  display: inline-block;
  height: 20px;
  cursor: pointer;
}

a.button-gray:hover, a.button-gray:active,
a.button-orange:hover,
a.button-orange:active {
  background-color: transparent;
}


a.button-gray {
  background: url(../apex/builder/builder_button_sprite.png) 100% -50px no-repeat;
}

a.button-gray span {
  background: url(../apex/builder/builder_button_sprite.png) 0 0 no-repeat;
}


a.button-orange {
  background: url(../apex/builder/builder_button_sprite.png) 100% -150px no-repeat;
}

a.button-orange span {
  background: url(../apex/builder/builder_button_sprite.png) 0 -100px no-repeat;
}

/* Adding styles to fix CSS Bar Charts bugs in IE */
.cbc .cbc_bar_background { 
  background-color: #FFF; 
  border: 1px solid #AAA; 
	} 
.cbc {
	text-align: left;
	}

.cbc .cbc_value { 
  color: #000; 
  border-right: 1px solid #AAA; 
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	left: 0;
} 
.cbc .cbc_bar {
	display: block;
	margin: 0;
	background-color: #DDD !important;
}

.cbc .cbc_value a { 
  color: #000; 
} 
.cbc .cbc_value a:hover { 
  text-decoration: underline 
}
