@import "compass/css3";
@import "settings/gradient";
@import "settings/multi-shadow";
@import "settings/vars";

/* Set up Variable Colors */
$windowBorder: #AAA;
$dividerBorder: #888;

$white75: rgba(255,255,255,.75);
$black75: rgba(0,0,0,.75);
$black75hex: #404040;

$white50: rgba(255,255,255,.50);
$black50: rgba(0,0,0,.50);
$black50hex: #7f7f7f;

$white25: rgba(255,255,255,.25);
$black25: rgba(0,0,0,.25);
$black25hex: #bfbfbf;


$fontFamily: Arial, sans-serif;

$frameBorderRadius: 6px;

$buttonBorderRadius: 4px;
$buttonBorder: #666;

div.ebaFrameHeader {
	filter: none;
	background: url(../img/eba_gradients_ie.png) 0 0 repeat-x #CCC;
}

div.ebaFrameHeader div.ebaButtons a {
	color: $black75hex;
}

div.ebaContent {
	width: 100%;
	display: block;
	background: url(../img/eba_frame_bg_ie.gif) 0 right repeat-y;
	/* Adding Position Relative Breaks IE7 Interactive Reports*/
	/*position: relative;*/
	}
	div.ebaContent.ebaOneCol {
		background: none #FFF;
	}
	div.ebaContent div.ebaMainCol {
		margin: 0 201px 0 0;
		padding: 5px 0;
	}
	div.ebaContent div.ebaSideCol {
		position: absolute;
		right: 0;
		top: 0;
		width: 200px;
		padding: 5px 0;
		}
div.contentSection h3 a,
div.ebaContent a.ebaEditLink {
	color: $black50hex;
	}
	div.contentSection h3 a:hover,
	div.ebaContent a.ebaEditLink:hover {
		color: $black75hex;
		}
div.contentSection h2 {
	height: 28px;
	padding: 0 10px 0 30px;
	}
div.contentSection h2.secondaryHeading {
	background: none #FFF;
	filter: none;
	}
	div.contentSection h2 a.ebaDSControl img,
	div.contentSection h2 a.ebaDSControlCollapsed img {
		margin: 5px 6px;
		float: left;
		}
div.contentSection h2 > span a {
	height: 28px;
}
div.contentSection div.sectionBody > h3 {
	padding: 10px;
}

div.ebaContent div.ebaSideCol h3 {
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	}	
	
div.ebaSideCol a.ebaButton {
	filter: none;
	background: url(../img/eba_gradients_ie.png) 0 1px repeat-x #AAA;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 24px;
	}
	div.ebaSideCol a.ebaButton:active {
	filter: none;
	background: url(../img/eba_gradients_ie.png) 0 1px repeat-x #888;
	}
div.ebaSideCol a.ebaHotButton {
	filter: none;
	background: url(../img/eba_gradients_ie.png) 0 -49px repeat-x #C3000F;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 24px;
	}
	div.ebaSideCol a.ebaHotButton:active {
	filter: none;
	background: url(../img/eba_gradients_ie.png) 0 -49px repeat-x #A2000D;
	}



div.textBox {
	filter: none;
	background: none #BBB;
	zoom: 1;
}
div.sectionBody {
	zoom: 1;
}
div.contentSection table.ebaVAPTable {
	margin: 0 0 5px 0;
	}
table.ebaReportView tbody tr td {
	border-bottom: 1px solid #EEE;
	}
	
/* ================= */
/* = Small Wizard  = */
/* ================= */
/* ======================= */
/* = Wizard Progress Bar = */
/* ======================= */
ul.ebaProgressWizard {
	li {
		span {
			display: block;
			min-width: 100px;
		}
	}
	li:last-child span,
	li.last-current span,
	li.last-non-current span {
		@include border-radius(0 4px 4px 0);
		border-right: 1px solid $buttonBorder;
	}
	
}

/* Wizard Container in Header */
div.ebaProgressBar {
	ul.ebaProgressWizard li {
		span {
			min-width: 40px;
			border-right: 1px solid #666 !important;
		}
	}
}

div.ebaWizardFrame {
	div.ebaContent {
		background: none #FFF;
		width: auto;
	}
	div.contentSection h2 {
	height: 30px;
	}
	div.ebaFrameFooter,
	div.ebaFrameHeader {
		a.ebaNextButton,
		a.ebaPrevButton {
			img {
				vertical-align: middle;
			}
		}
	}
}

div.ebaTwoColPane {
	position: relative;
	background: url(../img/ie/two_col_left_pane_bg.gif) 0 0 repeat-y #FFF;
	div.ebaSideCol {
		position: absolute;
		left: 0;
		top: 0;
	}
	div.ebaMainCol {
		margin-left: 321px;
	}
}
ul.sectionList li a.active,
ul.sectionList li a.active:hover {
	background: url(../img/eba_gradients_ie.png) 0 0 repeat-x #CCC !important;
}
