@import "compass/css3";
@import "settings/gradient";
@import "settings/multi-shadow";
@import "settings/vars";

/* Set up Variable Colors */
$windowBorder: #AAA;
$dividerBorder: #888;

$white75: rgba(255,255,255,.75);
$black75: rgba(0,0,0,.75);
$black75hex: #404040;

$white50: rgba(255,255,255,.50);
$black50: rgba(0,0,0,.50);
$black50hex: #7f7f7f;

$white25: rgba(255,255,255,.25);
$black25: rgba(0,0,0,.25);
$black25hex: #bfbfbf;

$fontFamily: Arial, sans-serif;

$frameBorderRadius: 6px;

$buttonBorderRadius: 4px;
$buttonBorder: #666;

div.ebaFrameHeader {
	filter: none;
	background: url(../img/eba_gradients_ie.png) 0 0 repeat-x #CCC;
}
div.ebaFrameHeader div.ebaButtons a {
	color: $black75hex;
}

div.contentSection h2.secondaryHeading {
	background: none #FFF;
	filter: none;
	}
/*table.ebaReportView thead tr th {
	filter: none;
	background: none;
}*/
table.ebaReportView tbody tr:first-child td {
	border-top: 1px solid #CCC;
}
table.ebaReportView tbody tr td {
	border-bottom: 1px solid #EEE;
	}
	
/* Wizard Progress List */
ul.ebaProgressWizard {
	li:last-child span,
	li.last-current span,
	li.last-non-current span {
		@include border-radius(0 4px 4px 0);
		border-right: 1px solid $buttonBorder;
	}
}