@import "compass/css3";
@import "settings/gradient";
@import "settings/multi-shadow";
@import "settings/multi-transition";
@import "settings/vars";

/* Set up Variable Colors */
$windowBorder: #AAA;
$dividerBorder: #888;

$black90: rgba(0,0,0,.90);
$black90hex: #141414;

$white75: rgba(255,255,255,.75);
$black75: rgba(0,0,0,.75);
$black75hex: #404040;

$white50: rgba(255,255,255,.50);
$black50: rgba(0,0,0,.50);
$black50hex: #7f7f7f;

$white25: rgba(255,255,255,.25);
$black25: rgba(0,0,0,.25);
$black25hex: #bfbfbf;

$black10: rgba(0,0,0,.10);
$black10hex: #DFDFDF;

$fontFamily: Arial, sans-serif;

$frameBorderRadius: 6px;

$buttonBorderRadius: 4px;
$buttonBorder: #666;


/* Z-Index */
div.ebaFrameHeader {
	z-index: 30;
	position: relative;
	filter: none;
	background: url(../img/eba_gradients_ie.png) 0 0 repeat-x #CCC;
}
div.ebaContentContainer {
	z-index: 20;
}

div.ebaContent {
	z-index: 10;
}
div.wsBreadcrumb {
	z-index: 20;
}

ul.wsMenu > li > a {
	color: $black75hex;
}
ul.wsMenu > li > a > img {
	vertical-align: middle;
}
ul.wsMenu > li > ul {
	background: $black90hex;
	border-bottom: 1px solid #AAA;
}
ul.wsMenu > li > ul li a:hover {
	background: #C0C0C0;
	color: #000;
	text-shadow: none;
}
ul.wsMenu > li > ul li a:hover span {
	color: #000;
}
ul.wsMenu > li > a:active,
ul.wsMenu > li > a.wsMenuActive,
ul.wsMenu > li > a.wsMenuActive:active {
	filter: none;
}
ul.wsMenu > li > ul li a {
	height: 24px;
	}
	ul.wsMenu > li > ul li a span {
		height: 24px;
		}
ul.wsMenu > li > ul li.wsMenuSeparator {
	margin: 3px 0 3px 0;
	font: normal 2px/10px Arial, sans-serif;
	border-top: 1px solid $black75hex;
	padding: 0 0 0 0;
	}
div.wsSearch input {
	border: 1px solid $black50hex;
}

div.wsBreadcrumb > ul > li > a {
		border-right: 1px solid $black10hex;
	}
div.wsBreadcrumb > ul {
	border-bottom: 1px solid #AAA;
	background: url(../img/eba_gradients_ie.png) 0 -10px repeat-x #DDD;
	}
	
/* Next Button */
a.ebaNextButton,
a.ebaPrevButton,
a.ebaDeleteButton,
a.ebaCloseButton {
	img {
		vertical-align: middle;
	}
}
	
/* IE 7 Right + Left Col Fixes*/
div.ebaContent div.ebaMainCol,
div.wsPopUpContent div.wsMainCol {
/*	margin: 0 201px 0 0;*/
	margin: 0;
	width: expression(document.body.clientWidth - 225);
	padding: 10px;
	float: left;
}
div.ebaContent div.ebaSideCol,
div.wsPopUpContent div.wsSideCol {
	position: relative;
	float: left;
	width: 200px;
	padding: 5px 0;
	}
div.wsSideSection h3 {
	height: 24px;
}
div.wsSideSection h3 span a {
	border-left: 1px solid #BBB;
	height: 24px;
	}
.wsControlPanel li.wsSeparator {
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #F8F8F8;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 0px;
	font: normal 0px/0px Arial, sans-serif;
}
div.wsSection h2 {
	margin: 0;
	padding: 0;
	font: bold 14px/30px Arial, sans-serif;
	color: #333;
	border-bottom: 1px solid #DDD;
	position: relative;
	height: 30px;
	span {
		position: absolute;
		right: 0;
		top: 0;
		}
	}
img.topIcon {
	width: 9px;
	height: 9px;
	background: url(../img/ws_control_icons.png) -39px 0 no-repeat;
	margin: 3px 0 2px 0;
}

/* Give min-width to actions bar for IE7 */
.wsActionBar {min-width: 440px;}

div.wsSideSection h3 {
	background: url(../img/eba_gradients_ie.png) 0 -10px repeat-x #CCC;
}

.apexir_ACTION_MENU,
.apexir_WEBSHEET_MENU {
	button#apexir_ACTIONSMENUROOT,
	button#apexir_WEBSHEETSMANAGE {
		span {
			height: auto;
		}
	}
}