@import "compass/css3";
@import "settings/gradient";
@import "settings/multi-shadow";
@import "settings/multi-transition";
@import "settings/vars";

/* Set up Variable Colors */
$windowBorder: #AAA;
$dividerBorder: #888;

$black90: rgba(0,0,0,.90);
$black90hex: #141414;

$white75: rgba(255,255,255,.75);
$black75: rgba(0,0,0,.75);
$black75hex: #404040;

$white50: rgba(255,255,255,.50);
$black50: rgba(0,0,0,.50);
$black50hex: #7f7f7f;

$white25: rgba(255,255,255,.25);
$black25: rgba(0,0,0,.25);
$black25hex: #bfbfbf;

$black10: rgba(0,0,0,.10);
$black10hex: #DFDFDF;

$fontFamily: Arial, sans-serif;

$frameBorderRadius: 6px;

$buttonBorderRadius: 4px;
$buttonBorder: #666;


/* Z-Index */
div.ebaFrameHeader {
	z-index: 30;
	position: relative;
	filter: none;
	background: url(../img/eba_gradients_ie.png) 0 0 repeat-x #CCC;
}
div.ebaContentContainer {
	z-index: 20;
}
ul.wsMenu > li > a {
	color: $black75hex;
}
ul.wsMenu > li > a > img {
	vertical-align: middle;
}
ul.wsMenu > li > ul {
	background: $black90hex;
	border-bottom: 1px solid #AAA;
}
ul.wsMenu > li > ul li a:hover {
	background: #C0C0C0;
	color: #000;
	text-shadow: none;
}
ul.wsMenu > li > ul li a:hover span {
	color: #000;
}
ul.wsMenu > li > a:active,
ul.wsMenu > li > a.wsMenuActive,
ul.wsMenu > li > a.wsMenuActive:active {
	filter: none;
}
ul.wsMenu > li > ul li a {
	height: 24px;
	}
	ul.wsMenu > li > ul li a span {
		height: 24px;
		}
ul.wsMenu > li > ul li.wsMenuSeparator {
	margin: 3px 0 3px 0;
	font: normal 2px/10px Arial, sans-serif;
	border-top: 1px solid $black75hex;
	padding: 0 0 0 0;
	}
div.wsSearch input {
	border: 1px solid $black50hex;
}

div.wsBreadcrumb > ul > li > a {
	border-right: 1px solid $black10hex;
}
div.wsBreadcrumb > ul {
	border-bottom: 1px solid #AAA;
	background: url(../img/eba_gradients_ie.png) 0 -10px repeat-x #DDD;
	}
	
div.wsBreadcrumb > ul > li > a:hover,
div.wsBreadcrumb > ul > li.active > a {
	color: #333;
	background-color: #FFF;
	border-right: 1px solid $windowBorder;
	border-left: 1px solid $windowBorder;
	}
div.wsBreadcrumb > ul > li.lastChild a.noChildren,
div.wsBreadcrumb > ul > li.lastChild a.noChildren:hover {
	background:none !important;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	padding: 0 9px 0 9px;
	color: #333;
	}
div.wsBreadcrumb > ul > li.lastChild > a,
div.wsBreadcrumb > ul > li.lastChild > a:hover {
	color: #333;
	}
div.wsSideSection h2 span a {
	border-left: 1px solid #BBB;
	}
div.wsSideSection h3 {
	background: url(../img/eba_gradients_ie.png) 0 -10px repeat-x #CCC;
}
ul.sectionList li a.active,
ul.sectionList li a.active:hover {
	background: url(../img/eba_gradients_ie.png) 0 0 repeat-x #CCC !important;
}
