/* Theme 3 */
/** {
    font-size: 12px;
}
*/
a {
    color: #FFF;
}

.clear {
    clear: both;
    }

/* -------------------- Page Structure -------------------- */

body {
    background-color: #0C0C37;
    min-width: 980px;
    max-width: 1920px;
    margin: 0 0 24px 0;
    padding: 0;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 12px;
    color: #CCC;
}

#header {
    height: 50px;
    overflow: hidden;
    width: 100%;
    background: url(../images/cHeaderBG.png) 0 0 repeat-x transparent;
}

#logo {
    display: block;
    position: absolute;
    top: 16px;
    left: 10px;
}
#logo a, #logo a span {
    display: block;
    font: bold 20px/20px Arial, sans-serif;
    color: #f7f7f8;
    text-decoration: none;
    text-shadow: 0 1px 0px rgba(0,0,0,.3);
    }

#navbar {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 16px;
    right: 10px;
    font: normal 11px/12px Arial, sans-serif;
    color: #EEE;
    text-shadow: 0 1px 0px rgba(0,0,0,.3);
}

.navbar-entry {
    float: left;
    padding: 0 4px;
}

.navbar-entry a {
    text-decoration: none;
    color: #EEE;
}

.navbar-entry a:hover {
    color: #FFF;
}

.app-user {
    float: left;
    padding: 0 4px;
}

#body {
/*  background-color: rgba(0,0,0,0.5);*/
    min-height: 600px;
    margin: 0;
    padding: 10px;
}

.tbl-body {
    display: table;
    margin: 0;
}

.tbl-main {
    vertical-align: top;
}

.tbl-sidebar {
    padding: 0 0 0 10px;
    vertical-align: top;
}

#three-col {
    padding: 0 0 0 200px;
    overflow: hidden;
}

#two-col-sb-left {
    padding: 0 0 0 200px;
    overflow: hidden;
}

#two-col {
    margin: 0;
    overflow: hidden;
    padding: 0 200px 0 0;
}

#two-col-tbl {
    margin: 0;
    overflow: hidden;
}

#sidebar {
    display: inline;
    float: right;
    overflow: hidden;
    width: 200px;
    margin: 0 -200px 0 0;
}

#left-sidebar {
    display: inline;
    float: left;
    margin: 0 0 0 -200px;
    overflow: hidden;
    width: 200px;
}

#main {
    float: left;
}

#main-sb-left {
    float: left;
    width: 100%;
}

#login {
    height: 1%;
    overflow: hidden;
    min-height: 400px;
}

#login-main {
    width: 640px;
    margin: 100px auto 0 auto;
}

#footer {
/*  background:url(../images/sFooterBG.png) 0 0 repeat-x;*/
/*  min-height: 120px;*/
}

#footer .content {
    min-height: 20px;
}

#customize {
    float: left;
    padding: 10px;
}
#customize a {
    display: block;
    float: left;
    padding: 4px 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: url(../images/sReportBG.png) 0 0 #121212 repeat-x;
    border: 1px solid #444;
    border: 1px solid rgba(255,255,255,.5);
    color: #CCC;
    font: normal 11px/11px Arial, sans-serif;
    text-decoration: none;
    }

/* -------------------- Messages -------------------- */

div#messages {
    /*background-color: rgba(0,0,0,0.5);*/
    }
    body.login-page div#messages {
        background-color: transparent !important;
        }

#success-message {
    margin: 0 auto;
    font: bold 14px/20px Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #CCC;
    background: url(../images/sReportBG.png) 0 0 #121212 repeat-x;
    width: 560px;
    padding: 15px;
    border: 1px solid #252525;
    border: 1px solid rgba(0,0,0,.5);
    border-top: none;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
}

#notification-message {
    margin: 0 auto;
    font: bold 14px/20px Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #A7030A;
    background: url(../images/sReportBG.png) 0 0 #121212 repeat-x;
    width: 560px;
    padding: 15px;
    border: 1px solid #252525;
    border: 1px solid rgba(0,0,0,.5);
    border-top: none;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
}
ul.htmldbUlErr {
    font-weight: normal;
    padding: 10px 0 0 10px;
    margin: 0 0 0 10px;
    }
    ul.htmldbUlErr li {
    font: normal 12px/20px Arial, sans-serif;
    color: #CCC;
    }

/* -------------------- Tabs -------------------- */

#tabs {
    overflow: hidden;
    margin: 0;
    background: url(../images/sTabs.png) bottom repeat-x transparent;
    }

#tabs .frame {
    padding: 0 10px;
    }

#tabs .bg {
    height: 32px;
    line-height: 32px;
    width: 100%;
    overflow: hidden;
    }

#tabs .tab-holder {
    margin: 0;
    }

#tabs .first-non-current, #tabs .non-current, #tabs .first-non-current a, #tabs .non-current a {
    color: #FFF;
    color: rgba(255,255,255,.75);
    text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    text-decoration: none;
    font: bold 14px/32px Arial, sans-serif;
    }

#tabs .first-non-current:hover a, #tabs .non-current:hover a {
    color: #FFF;
    color: rgba(255,255,255,.75);
    text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    }

#tabs .first-current, #tabs .current, #tabs .first-current a, #tabs .current a {
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    text-decoration: none;
    font: bold 14px/32px Arial, sans-serif;
    }
    
#tabs .first-current, #tabs .first-non-current, #tabs .current, #tabs .non-current {
    float: left;
    margin: 0 0 0 0;
    display: inline;
    }

#tabs .first-non-current, #tabs .non-current {
    background: url(../images/sTabs.png) right -50px no-repeat;
    padding: 0 10px 0 0;
    }
    #tabs .first-non-current div, #tabs .non-current div {
        background: url(../images/sTabs.png) 0 0 no-repeat;
        padding: 0 1px 0 10px;
        }

/* Hover */
#tabs .first-non-current:hover, #tabs .non-current:hover {
    background: url(../images/sTabs.png) right -150px no-repeat;
    } 
    #tabs .first-non-current:hover div, #tabs .non-current:hover div {
        background: url(../images/sTabs.png) 0 -100px no-repeat;
        } 

#tabs .first-current, #tabs .current {
    background: url(../images/sTabs.png) right -250px no-repeat;
    padding: 0 10px 0 0;
    }
    #tabs .first-current div, #tabs .current div {
        background: url(../images/sTabs.png) 0 -200px no-repeat;
        padding: 0 1px 0 10px;
        }
/* -------------------- Parent Tabs -------------------- */

#parent-tabs {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50px;
    right: 10px;
}

#parent-tabs .tab-holder {
    margin: 0;
}

#parent-tabs .current, #parent-tabs .noncurrent {
    display: block;
    float: left;
    background-color: #000;
    padding: 4px 8px;
    border-left: 1px solid #666;
    text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    font: bold 11px/12px Arial, sans-serif;
}
#parent-tabs .tab-holder div.current:first-child, 
#parent-tabs .tab-holder div.noncurrent:first-child {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-left: none;
    }
#parent-tabs .tab-holder div.current:last-child, 
#parent-tabs .tab-holder div.noncurrent:last-child {
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    }
#parent-tabs .current a, #parent-tabs .current a,
#parent-tabs .current, #parent-tabs .noncurrent {
    text-decoration: none;
    color: #CCC;
    }

#parent-tabs .current {
    background-color: #444;
}

#parent-tabs .noncurrent a {
    color: #888;
    text-shadow: 0 1px 0 rgba(0,0,0,0.65);
    text-decoration: none;
}
#parent-tabs .noncurrent a:hover {
    color: #CCC;
}

/* -------------------- Breadcrumbs --------------------  */

#topbar {
    background-color: #181818;
    border-bottom: 1px solid #222;
    border-bottom: 1px solid rgba(0,0,0,.5);
    padding: 4px 0 0 0;
    }
.breadcrumb-region {
/*  background: url(../images/sTabs.png) 0 -300px repeat-x #000;*/
/*  background-color: #181818;
    border-bottom: 1px solid #222;*/
    }

#breadcrumbs {
    overflow: hidden;
    margin: 0;
}

ul.breadcrumb-list {
    margin: 0 20px 0 20px;
    padding: 0;
    font: normal 12px/12px Arial, sans-serif;
    list-style: none;
}

.breadcrumb-list li {
    display: block;
    float: left;
    margin: 0;
    padding: 5px 6px 7px 0;
}

.breadcrumb-list li.sep {
    color:#AAA;
    text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    font: normal 18px/8px Georgia, sans-serif;
/*  text-indent: -9999px;*/
/*  background: url(../images/sTabs.png) 0 -342px no-repeat;*/
    padding-right: 4px;
    padding-left: 0px;
    }
.breadcrumb-list li.current {
    color:#AAA;
    text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    font-weight: bold;
    }

.breadcrumb-list a {
    color:#AAA;
    text-shadow: 0 1px 0 rgba(0,0,0,0.75);
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    }

.breadcrumb-list a:hover {
    text-decoration: none;
    color: #FFF;
}

/* --------------------- Hide Show Region -------------------- */

.hide-show-region {
    padding: 0 0 4px 0;
    display: block;
    color: #CCC;
    clear: both;
}

.hide-show-region a {
    text-decoration: none;
}

.hide-show-region a:hover {
    text-decoration: none;
}

.hide-show-region .hide-show-top {
    width: 100%;
    float: left;
}

.hide-show-region .hide-show-title {
    font-weight: bold;
    font-size: 12px;
    margin: 3px 0 0 0;
}

.hide-show-region .hide {
    display: none;
}

/* -------------------- Borderless Region -------------------- */

.borderless-region {
    padding: 0 0 10px 0;
    display: block;
    color: #CCC;
}

.borderless-region a {
    text-decoration: none;
}

.borderless-region a:hover {
    text-decoration: underline;
}

.borderless-region .bl-top {
    width: 100%;        
    float: left;
}

.borderless-region .bl-title {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 0 0;
}

.borderless-region .bl-buttons {
    float: right;
}

.borderless-region .bl-body {
    width: 100%;        
    float: left;
    padding: 0 0 10px 0;
}

/* -------------------- Bracketed Region -------------------- */

.bracketed-region {
    padding: 0 0 4px 0;
    display: block;
    color: #CCC;
}

.bracketed-region a {
    text-decoration: none;
}

.bracketed-region a:hover {
    text-decoration: underline;
}

.bracketed-region .bk-top {
    width: 100%;
    float: left;
}

.bracketed-region .bk-top .bk-top-r {
    height: 18px;
    font-weight: bold;
    padding: 5px 0px 0px 10px;
    margin: 0px 10px 5px 0px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
}

.bracketed-region .bk-title {
    float: left;
    font-size: 14px;
    margin: 3px 0 0 0;
}

.bracketed-region .bk-buttons {
    float: right;
}

.bracketed-region .bk-body {
    float: left;
    padding: 0 10px 0 10px;
}

.bracketed-region .bk-bottom {
    width: 100%;
    float: left;
}

.bracketed-region .bk-bottom .bk-bottom-r {
    height: 10px;
    font-weight: bold;
    padding: 5px 0px 0px 10px;
    margin: 0px 10px 5px 0px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
}

/* -------------------- Rounded Corner Region -------------------- */

.rounded-corner-region, .rounded-corner-region-blank, .rounded-corner-region-nested, .rounded-corner-region-alt  {
    margin: 0 0 0 0;
    padding: 0 0 9px 0;
    display: block;
    clear: left;
}

.rounded-corner-region-wizard {
    float: left;
    width: 700px;
    }

.rounded-corner-region-nested {
    background-color: transparent;
    background-color: rgba(255,255,255,0.1);
    z-index: 1;
    margin-bottom: 15px;
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.85);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.85);
    box-shadow: 0 0 2px #000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #CCC;
    border: 1px solid rgba(0,0,0,.5);
    padding: 0 0 10px 0;
    }
    .rc-content-main .rounded-corner-region-nested {
        margin-bottom: 10px;
        margin-top: 10px;
        }

.float-left-100pct {
    float: left;
    width: 100%;
}

.rounded-corner-region a, .rounded-corner-region-blank a {
    text-decoration: none;
}

.rounded-corner-region a:hover, .rounded-corner-region-blank a:hover {
    text-decoration: none;
}

.rounded-corner-region .rc-gray-top {
    background: url(../images/sRegion.png) no-repeat 100% -50px;
    padding: 0 10px 0 0;
}
.rounded-corner-region-nested .nr-top {
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    font: bold 14px/28px Arial, sans-serif;
    overflow: hidden;
    }
    .rounded-corner-region-nested .nr-top-r {
        border-bottom: 1px solid #CCC;
        border-bottom: 1px solid rgba(0,0,0,.5);
        padding: 0 10px;
        }
.rounded-corner-region-blank .rc-gray-top {
    background: url(../images/sRegion-Blank.png) no-repeat 100% -50px;
    padding: 0 10px 0 0;
    }

.rounded-corner-region .rc-gray-top .rc-gray-top-r {
    height: 23px;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0 4px 10px;
    background: url(../images/sRegion.png) no-repeat 0 0;
    overflow: hidden;
}

.rounded-corner-region-blank .rc-gray-top .rc-gray-top-r {
    height: 7px;
    padding: 0 0 0 10px;
    background: url(../images/sRegion-Blank.png) no-repeat 0 0;
    overflow: hidden;
}

.rounded-corner-region-alt .rc-gray-top {
    background: url(../images/sRegionAlt.png) no-repeat 100% -50px;
    padding: 0 10px 0 0;
}

.rounded-corner-region-alt .rc-gray-top .rc-gray-top-r {
    height: 23px;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    font-size: 14px;
    font-weight: bold;
    padding: 4px 0 4px 10px;
    background: url(../images/sRegionAlt.png) no-repeat 0 0;
}

.rounded-corner-region .rc-title,
.rounded-corner-region-alt .rc-title {
    float: left;
    font-size: 14px;
    margin: 3px 0 0 1px;
    white-space: nowrap;
    overflow: hidden;
}


.rounded-corner-region .rc-buttons,
.rounded-corner-region-alt .rc-buttons,
.rounded-corner-region-nested .nr-buttons {
    padding-top: 1px;
    float: right;
}

.rounded-corner-region .rc-buttons a img ,
.rounded-corner-region-alt .rc-buttons a img ,
.rounded-corner-region-nested .nr-buttons a img {
    padding: 6px 0 0 6px;
    }

.rounded-corner-region-alt .rc-body {
    background: url(../images/sRegion-Alt-Body.png) repeat-y scroll 100% 0;
    padding: 0 1px 0 0;
    }
.rounded-corner-region .rc-body,
.rounded-corner-region-blank .rc-body {
    background: url(../images/sRegion-Body.png) repeat-y scroll 100% 0;
    padding: 0 1px 0 0;
}
.rounded-corner-region-blank .rc-left {
    float: left;
    line-height: 22px;
    }
.rounded-corner-region-blank .rc-right {
    float: right;
    line-height: 22px;
    }
    
.rounded-corner-region-alt .rc-body .rc-body-r {
    color: #CCC;
    font-size: 12px;
    padding: 0 0 0 1px;
    background: url(../images/sRegion-Alt-Body.png) repeat-y scroll 0 0;    
    }

.rounded-corner-region .rc-body .rc-body-r,
.rounded-corner-region-blank .rc-body .rc-body-r {
    color: #CCC;
    font-size: 12px;
    padding: 0 0 0 1px;
    background: url(../images/sRegion-Body.png) repeat-y scroll 0 0;
}

.rounded-corner-region .rc-body .rc-content-main {
    padding: 10px 10px 2px 10px;
    overflow: hidden;
}
.rounded-corner-region-alt .rc-body .rc-content-main {
    padding: 2px 10px 2px 10px;
    height: 1%;
    }

.rounded-corner-region-nested .nr-body .nr-content-main {
    padding: 10px 10px 0 10px;
    color: #CCC;
    }

.rounded-corner-region-blank .rc-body .rc-content-main {
    overflow: auto;
    padding: 4px 10px 0 10px;
    }

.rounded-corner-region .rc-body .rc-image {
    display: inline;
    float: left;
    padding: 0 10px 0 0;
    overflow: hidden;
    width: 140px;
}

.rounded-corner-region .rc-body .rc-content,
.rounded-corner-region-blank .rc-body .rc-content {
    display: inline;
    float: left;
    padding: 0;
    overflow: hidden;
    width: 80%;
}

.rounded-corner-region .rc-bottom,
.rounded-corner-region-blank .rc-bottom {
    height: 10px;
    overflow: hidden;
    background: url(../images/sRegion-Bottom.png) no-repeat scroll 100% -50px;
    padding: 0 10px 0 0;
}

.rounded-corner-region .rc-bottom .rc-bottom-r,
.rounded-corner-region-blank .rc-bottom .rc-bottom-r {
    height: 10px;
    overflow: hidden;
    background: url(../images/sRegion-Bottom.png) no-repeat scroll 0 0;
    padding: 0 0 0 10px;
}

.rounded-corner-region-alt .rc-bottom{
    height: 10px;
    overflow: hidden;
    background: url(../images/sRegion-Alt-Bottom.png) no-repeat scroll 100% -50px;
    padding: 0 10px 0 0;
}

.rounded-corner-region-alt .rc-bottom .rc-bottom-r {
    height: 10px;
    overflow: hidden;
    background: url(../images/sRegion-Alt-Bottom.png) no-repeat scroll 0 0;
    padding: 0 0 0 10px;
}

/* -------------------- Sidebar Region  -------------------- */

.sidebar-region {
    float: right;
    width: 200px;
    display: inline;
    overflow: hidden;
}

.sidebar-region h3 {
    color: #222222;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font: bold 14px/31px Arial, sans-serif;
    height: 31px;
    margin: 0;
    padding: 0 4px 0 10px;
    background: url(../images/sSideRegions.png) 0 0 no-repeat;
    overflow: hidden;
}

.sidebar-region .box, .sidebar-region-alt .box {
    background: url(../images/sSideRegions.png) -400px 0 repeat-y;
    margin: 0 0 10px;
}

.sidebar-region .box .frame, .sidebar-region-alt .box .frame {
    background: url(../images/sSideRegions.png) -600px 100% no-repeat;
    overflow: hidden;
    padding: 10px;
}

.sidebar-region .content, .sidebar-region-alt .content {

}

.sidebar-region-alt {
    float: right;
    width: 200px;
    display: inline;
    overflow: hidden;
}

.sidebar-region-alt h3 {
    color: #3a3b3d;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    font: bold 14px/31px Arial, sans-serif;
    height: 31px;
    margin: 0;
    padding: 0 4px 0 10px;
    background: url(../images/sSideRegions.png) -200px 0 no-repeat;
    overflow: hidden;
}


/* -------------------- Breadcrumb Region -------------------- */

.breadcrumb-region {
    display: block;
}

/* -------------------- Navigation -------------------- */

.navigation-region-alt {
    color: #CCC;
    width: 190px;
    }

.navigation-region {
    background: url(../images/sNavBG.png) -400px bottom no-repeat;
    margin: 0 0 10px 0;
    overflow: hidden;
    width: 190px;
    padding: 0 0 10px 0;
}

.navigation-region div {
    overflow: hidden;
    width: 190px;
    padding: 0;
    background: url(../images/sNavBG.png) -200px top repeat-y;
}

.navigation-region h3 {
    margin: 0;
    height: 30px;
    background: url(../images/sNavBG.png) 0 0 no-repeat;
    overflow: hidden;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    font: bold 14px/34px Arial, sans-serif;
    padding: 0 10px;
}

.navigation-region ul {
    margin: 4px 1px 0 1px;
    padding: 0;
    width: 188px;
    overflow: hidden;
}

.navigation-region ul li {
    display: block;
    line-height: 24px;
    padding: 0;
}

.navigation-region a {
    text-decoration: none;
    color: #CCC;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    display: block;
    padding: 0 0 0 10px;
    font: bold 12px/24px Arial, sans-serif;
}

.navigation-region .active a, .navigation-region .active a:hover {
    background: url(../images/sNavBG.png) -600px 0 no-repeat;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
}
.navigation-region a:hover {
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background: none #0C0C37;
    }
.navigation-region .active a {
    font-weight: bold;
    }
    
.navigation-region ul .active ul {
    margin: 0;
    padding: 1px 0 0;
    list-style: none;
    border: none;
}

.navigation-region ul .active ul li {
    padding: 0;
}

.navigation-region ul .active ul a {
    background: none;
    border-left: 4px solid #a3a3a3;
    background: #f2f2f2;
}

.navigation-region ul .active ul .active a, .navigation-region ul .active ul a:hover {
    background: #f2f2f2;
    color: #f00;
}

/* -------------------- Tabbed Navigation List -------------------- */

div.sHorizontalTabs {
clear: left;
    background: url(../images/sTabsHorizontal.png) 0 0 no-repeat;
    padding: 0 0 0 5px;
    margin: 0 0 10px 0;
    }
    div.sHorizontalTabs div.sHorizontalTabsInner {
        background: url(../images/sTabsHorizontal.png) 100% -50px no-repeat;
        padding: 0 5px 0 0;
        }
div.sHorizontalTabs div.sHorizontalTabsInner ul {
    margin: 0;
    padding: 0;
    background: url(../images/sTabsHorizontal.png) 0 100% repeat-x;
    list-style: none;
    height: 28px;
    }
    div.sHorizontalTabs div.sHorizontalTabsInner ul li {
        float: left;
        display: block;
        margin: 0;
        }
        div.sHorizontalTabs div.sHorizontalTabsInner ul li a {
            display: block;
            background: url(../images/sTabsHorizontal.png) 100% -250px no-repeat;
            padding: 0 5px 0 0;
            font: normal 13px/24px Arial, sans-serif;
            height: 28px;
            text-decoration: none;
            color: #FFF;
            }
            div.sHorizontalTabs div.sHorizontalTabsInner ul li a span {
                display: block;
                background: url(../images/sTabsHorizontal.png) -1px -200px no-repeat;
                padding: 0 5px 0 10px;
                height: 28px;
                }
        div.sHorizontalTabs div.sHorizontalTabsInner ul li a:hover {
            background: url(../images/sTabsHorizontal.png) 100% -350px no-repeat;
            }
            div.sHorizontalTabs div.sHorizontalTabsInner ul li a:hover span {
                background: url(../images/sTabsHorizontal.png) -1px -300px no-repeat;
                }
        div.sHorizontalTabs div.sHorizontalTabsInner ul li.active a, div.sHorizontalTabs div.sHorizontalTabsInner ul li.active a:hover {
            background: url(../images/sTabsHorizontal.png) 100% -150px no-repeat;
            }
            div.sHorizontalTabs div.sHorizontalTabsInner ul li.active a span, div.sHorizontalTabs div.sHorizontalTabsInner ul li.active a:hover span {
                background: url(../images/sTabsHorizontal.png) -1px -100px no-repeat;
                }
                
    /* First Tab */
    div.sHorizontalTabs div.sHorizontalTabsInner ul li.first a {
        background: url(../images/sTabsHorizontal.png) 100% -250px no-repeat;
        }
        div.sHorizontalTabs div.sHorizontalTabsInner ul li.first a span {
            background: url(../images/sTabsHorizontal.png) 0 -200px no-repeat;
            }
    div.sHorizontalTabs div.sHorizontalTabsInner ul li.first a:hover {
        background: url(../images/sTabsHorizontal.png) 100% -350px no-repeat;
        }
        div.sHorizontalTabs div.sHorizontalTabsInner ul li.first a:hover span {
            background: url(../images/sTabsHorizontal.png) 0 -300px no-repeat;
            }
    div.sHorizontalTabs div.sHorizontalTabsInner ul li.first_active a, div.sHorizontalTabs div.sHorizontalTabsInner ul li.first_active a:hover {
        background: url(../images/sTabsHorizontal.png) 100% -150px no-repeat;
        }
        div.sHorizontalTabs div.sHorizontalTabsInner ul li.first_active a span, div.sHorizontalTabs div.sHorizontalTabsInner ul li.first_active a:hover span {
            background: url(../images/sTabsHorizontal.png) 0 -100px no-repeat;
            }


/* -------------------- Button List -------------------- */

.button-list {
    float: left;
    display: block;
}

/* -------------------- Images Lists -------------------- */

.horizontal-images-list {
    float: left;
    display: block;
}

.horizontal-images-list .list-item {
    float: left;
    display: inline;
    min-width: 80px;
    padding: 0 4px 0 4px;
}

.horizontal-images-list .list-item-current {
    float: left;
    display: inline;
    min-width: 80px;
    padding: 0 4px 0 4px;
}

.horizontal-images-list .list-item-image {
    padding: 2px;
    text-align: center;
}

.horizontal-images-list .list-item-label {
    padding: 2px;
    text-align: center;
}

.vertical-images-list {
    float: left;
    display: block;
}

.vertical-images-list .list-item {
    float: left;
    display: block;
    clear: both;
    min-width: 120px;
    padding: 4px 0 4px 0;
}

.vertical-images-list .list-item-current {
    float: left;
    display: block;
    clear: both;
    min-width: 120px;
    padding: 4px 0 4px 0;
}

.vertical-images-list .list-item-image {
    float: left;
    display: inline;
    padding: 2px;
    text-align: center;
}

.vertical-images-list .list-item-label {
    float: left;
    display: inline;
    padding: 2px;
    margin: 10px 0 10px 0;
}

.list-item-current a {
    font-weight: bold;
    border-bottom: 4px solid #000000;
}

.list-item a:hover {
    text-decoration: underline;
}

/* -------------------- Horizontal Links List -------------------- */

.horizontal-links-list {
    float: left;
    display: block;
}

.horizontal-links-list a {
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    text-decoration: underline;
}

.horizontal-links-list a.current {
    font-weight: bold;
    text-decoration: none;
}

/* -------------------- Vertical Lists -------------------- */

.vertical-ordered-List {
    float: left;
    display: block;
}

.vertical-ordered-List .current {
    font-weight: bold;
}

.vertical-unordered-list-without-bullets {
    float: left;
    display: block;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px
}

.vertical-unordered-list-without-bullets .current {
    font-weight: bold;
}

.vertical-unordered-list-with-bullets {
    float: left;
    display: block;
}

.vertical-unordered-list-with-bullets .current {
    font-weight: bold;
}

.vertical-sidebar-list {
    float: left;
    display: block;
}

.vertical-sidebar-list.current {
    font-weight: bold;
}

/* -------------------- Wizard Progress List -------------------- */

.wizard-progress-list {
    margin-right: 10px;
    width: 190px;
}
.wizard-progress-list ul {
    list-style: none;
    margin: 0;
    }
    
.wizard-progress-list li {

}

.wizard-progress-list li.current, .wizard-progress-list li.non-current {
    text-decoration: none;
    display: block;
    color: #CCC;
    text-align: center;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,.75);
    background: url(../images/sTabs.png) -20px -101px no-repeat;
    padding: 4px;
    margin: 0 0 5px 0;
    font: normal 13px/16px Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(0,0,0,0.8);
}

.wizard-progress-list li.current {
    color: #FFF;
    background: url(../images/sTabs.png) -20px -101px no-repeat #383ac1;
    font-weight: bold;
    }

.wizard-progress-list li.progress-indicator {
    background: url(../images/sWizardDownArrow.png) 50% 2px no-repeat;
    }

/* -------------------- Buttons -------------------- */

/* APEX BUTTON STYLES */
button {
    border: 0;
    cursor: pointer;
    font-weight: normal;
    padding: 0 10px 0 0;
    text-align: center;
    /*outline: none;*/
}

button:focus, button:active {
    outline: 1px dotted #CCC !important;
    }

button span {
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 13px;
    padding: 0 4px 0 15px;
}

/* REQUIRED BUTTON STYLES: */       
button.button-default, button.button-alt1, button.button-alt2, button.button-alt3 { 
    position: relative;
    border: 0; 
    padding: 0;
    cursor: pointer;
    overflow: visible; /* removes extra side padding in IE */
}

button.button-default::-moz-focus-inner, button.button-alt1::-moz-focus-inner, button.button-alt2::-moz-focus-inner, 
button.button-alt3::-moz-focus-inner {
    border: none;  /* overrides extra padding in Firefox */
    padding: 0 !important;
}

button.button-default span, button.button-alt1 span, button.button-alt2 span, button.button-alt3 span,
button.apexir-button span, button.apexir-go-button span { 
    position: relative;
    display: block; 
    white-space: nowrap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    .rc-buttons {
        margin-top: -2px;
        padding-top: 0;
        }
    
    button.button-default span, button.button-alt1 span, button.button-alt2 span, button.button-alt3 span {
        margin-top: -1px;
        padding-top: 4px !important;
    }
    
        
}


/* OPTIONAL BUTTON STYLES for applying custom look and feel: */     
button.button-default, button.button-alt1, button.button-alt2, button.button-alt3 {
    padding: 0 11px 0 0;
    margin-left: 5px;
    font: normal 13px/13px Arial, sans-serif !important;
    }
    button.button-default span, button.button-alt1 span, button.button-alt2 span, button.button-alt3 span{
        padding: 3px 4px 0 15px;
        height: 20px;
        color: #FFF;
        }

button.button-default { text-shadow:0 1px 0 rgba(255, 255, 255, 0); background:transparent url(../images/sButtons.png) no-repeat right -50px; }
button.button-default span { background:transparent url(../images/sButtons.png) no-repeat left 0; }
button.button-default:hover { background-position:right -150px; }
button.button-default:hover span { background-position:0 -100px; }
button.button-alt1 { text-shadow:0 1px 0 rgba(255, 255, 255, 0);background:transparent url(../images/sButtons.png) no-repeat right -250px; }
button.button-alt1 span { background:transparent url(../images/sButtons.png) no-repeat left -200px; }
button.button-alt1:hover { background-position:right -350px; }
button.button-alt1:hover span { background-position:0 -300px; }
button.button-alt2 { text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);background:transparent url(../images/sButtons.png) no-repeat right -450px; }
button.button-alt2 span { background:transparent url(../images/sButtons.png) no-repeat left -400px; }
button.button-alt2:hover { background-position:right -550px; }
button.button-alt2:hover span { background-position:0 -500px; }
button.button-alt3 { text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);background:transparent url(../images/sButtons.png) no-repeat right -650px; }
button.button-alt3 span { background:transparent url(../images/sButtons.png) no-repeat left -600px; }
button.button-alt3:hover { background-position:right -750px; }
button.button-alt3:hover span { background-position:0 -700px; }



/* APEX IR Buttons */
button.apexir-button, button.apexir-go-button,
#apexir_TOOLBAR button.dhtmlMenu,
#apexir_TOOLBAR button.dhtmlMenuOn { 
    position: relative;
    border: 0; 
    cursor: pointer;
    overflow: visible; /* removes extra side padding in IE */
    padding: 0 11px 0 0;
    margin-left: 5px;
    font: normal 13px/13px Arial, sans-serif !important;
    margin: 0;
}
#apexir_TOOLBAR button.dhtmlMenu,
#apexir_TOOLBAR button.dhtmlMenuOn {
    padding: 0 22px 0 0;
    }
 button.apexir-button::-moz-focus-inner, button.apexir-go-button::-moz-focus-inner,
#apexir_TOOLBAR button.dhtmlMenu::-moz-focus-inner, #apexir_TOOLBAR button.dhtmlMenuOn::-moz-focus-inner {
    border: none;  /* overrides extra padding in Firefox */
    padding: 0 !important;
}

button.apexir-button span, button.apexir-go-button span,
#apexir_TOOLBAR button.dhtmlMenu span, #apexir_TOOLBAR button.dhtmlMenuOn span {
        padding: 4px 8px 0 15px;
        height: 22px;
        color: #FFF;
    }
    
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    
    button.apexir-button, button.apexir-go-button, #apexir_TOOLBAR button.dhtmlMenu, #apexir_TOOLBAR button.dhtmlMenuOn,  {
        margin-top: -1px;
        padding-top: 4px !important;
    }
    
        
}
    
button.apexir-button { background:url(../images/sIRButton.png) 100% -50px no-repeat; }
button.apexir-button span { background:url(../images/sIRButton.png) 0 0 no-repeat;}

button.apexir-go-button { background:url(../images/sIRButton.png) 100% -200px no-repeat; }
button.apexir-go-button span { background:url(../images/sIRButton.png) 0 -150px no-repeat; }

#apexir_TOOLBAR button.dhtmlMenu { background:url(../images/sIRButton.png) 100% -100px no-repeat; }
#apexir_TOOLBAR button.dhtmlMenu span { background:url(../images/sIRButton.png) 0 0 no-repeat; }

#apexir_TOOLBAR button.dhtmlMenuOn { background:url(../images/sIRButton.png) 100% -100px no-repeat; }
#apexir_TOOLBAR button.dhtmlMenuOn span { background:url(../images/sIRButton.png) 0 0 no-repeat;s }

div.apexir_ACTION_MENU {
    padding: 7px 0 1px 0;
    }
    
div#apexir_SEARCH_BAR_OPTIONS {
    padding: 6px 8px 0 0;
    }

.apexir_ROW_SELECT_LIST  {
    padding: 9px 4px 9px 2px;
    }
div.apexir_COLUMN_SELECTOR {
    padding: 4px 0 4px 7px;
    }
div.apexir_COLUMN_SELECTOR a.apexir_SEARCHICON {
    background: url(../images/sIRButton.png) 0 -250px no-repeat;
    display:block;
    float:left;
    height:28px;
    width:28px;
    /*outline: none;*/
    }

/* -------------------- Labels --------------------  */
.nolabel {
    font-weight: bold;
    white-space: nowrap;
}

.optional {
    font-weight: bold;
    white-space: nowrap;
}

.optional-w-help {
    cursor: help;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none !important;
}

a.optional-w-help, a.required-w-help {
    text-decoration: none !important;
}
a.optional-w-help:hover, a.required-w-help:hover {
    text-decoration: underline !important;
    }

.required {
    font-weight: bold;
    white-space: nowrap;
}

.required-w-help {
    cursor: help;
    font-weight: bold;
    white-space: nowrap;
}

a.required-w-help {
    text-decoration: underline;
}
/* -------------------- Reports -------------------- */

.report-holder {
    margin: 4px;
}

.report-standard-alternatingrowcolors {
    empty-cells: show;
    border: 1px solid #1C1C1C;
    border-bottom: none;
}

.report-standard-alternatingrowcolors th.header {
    color:#CCC;
    font: bold 12px/12px Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    padding: 4px 10px;
    background: url(../images/sReportBG-Carbon.png) 0 50% #0C0C37 repeat-x;
    border-bottom: 1px solid #1C1C1C;
}

.report-standard-alternatingrowcolors th.header a {
    color: #FFF;
    text-decoration: underline;
}

.report-standard-alternatingrowcolors td.data {
    padding: 4px 10px;
    border-bottom: 1px solid #1C1C1C;
    background-color: #161616;
}

.report-standard-alternatingrowcolors td.dataalt {
    background-color: #202020;
    padding: 4px 10px;
    border-bottom: 1px solid #1C1C1C;
}

.report-standard {
    empty-cells: show;
    border: 1px solid #1C1C1C;
    border-bottom: none;
}

.report-standard th.header, .report-borderless th.header {
    color:#CCC;
    font: bold 12px/12px Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    padding: 4px 10px;
    background: url(../images/sReportBG-Carbon.png) 0 50% #0C0C37 repeat-x;
    border-bottom: 1px solid #1C1C1C;
}
.report-borderless th.header {
    border-top: 1px solid #1C1C1C;
    }


.report-standard th.header a {
    color:#CCC;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.report-standard td.data {
    background-color: #161616;
    padding: 4px 10px;
    border-bottom: 1px solid #1C1C1C;
}

.report-borderless {
    empty-cells: show;
    border-bottom: none;
}

.report-borderless th.header a {
    color:#CCC;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.report-borderless td.data {
    padding: 4px 10px;
}

a.pagination {
    display: block;
    vertical-align: middle;
    padding: 2px;
    text-decoration: none;
}
a.pagination:hover { text-decoration: none }

a.pagination img {
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

/* Fixed Header Styles */

.fixed-header-report table {
    border:1px solid #1C1C1C;
    empty-cells:show;
}
.fixed-header-report table tbody {
    display:block;
    height:200px;
    overflow-x:hidden;
    overflow-y:scroll;
    width:100%;
}
.fixed-header-report table thead tr {
    display:block;
    background: url(../images/sReportBG-Carbon.png) 0 50% #0C0C37 repeat-x;
    border-bottom: 1px solid #1C1C1C;
}
.fixed-header-report table th.header {
    white-space: nowrap;
    vertical-align: center;
    color:#CCC;
    font: bold 12px/12px Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    padding: 4px 10px;
}
.fixed-header-report table th.header a {
color:#FFFFFF;
text-decoration:underline;
}
.fixed-header-report table td.data {
background-color:#161616;
border-bottom:1px solid #1C1C1C;
padding:4px 10px;
}
.fixed-header-report table td.data-alt {
background-color:#202020;
border-bottom:1px solid #1C1C1C;
padding:4px 10px;
}
.fixed-header-report table p {
margin:0;
overflow:hidden;
}



/* -------------------- Interactive Reports -------------------- */

#apexir_CONTROL_PANEL_DROP, table.apex_finderbar, table.worksheet_detail {
    background: url(../images/sReportBG.png) 0 0 #121212 repeat-x;
    z-index: 1;
    padding: 10px;
    margin-bottom: 15px;
    clear: both;
    float: left;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px #000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #111;
    border-right: none !important;
    border-left: none !important;
    color: #CCC !important;
}
#apexir_CONTROL_PANEL_DROP .fielddata, #apexir_CONTROL_PANEL_DROP .fielddatabold,
#apexir_DETAIL, #apexir_DETAIL .formlayout, #apexir_DETAIL .fielddata, #apexir_DETAIL .fielddatabold,
#apexir_CONTROL_PANEL_COMPLETE .fielddata,
.fielddatabold, .fielddata {
    color: #CCC !important;
    }
table.apex_finderbar {
    padding: 0 10px 0 0;
    }
    table.apex_finderbar .apex_finderbar_left_top,
    table.apex_finderbar .apex_finderbar_left_top img,
    table.apex_finderbar .apex_finderbar_left,
    table.apex_finderbar .apex_finderbar_left_bottom,
    table.apex_finderbar .apex_finderbar_left_bottom img,
    table.apex_finderbar .apex_finderbar_middle {
        background: none;
        border: none;
        }
        table.apex_finderbar .fielddata {
            font-size: 12px;
            }

.apexir_WORKSHEET_DATA {
    empty-cells: show;
    border-collapse: collapse;
    font-size: 8pt;
    border: 1px solid #1C1C1C !important;
    color: #CCC !important;
}

.apexir_WORKSHEET_DATA tfoot tr td {
    background: #efefef;
}

.apexir_WORKSHEET_DATA th {
    color:#CCC;
    font: bold 12px/12px Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    padding: 3px 10px 2px 10px;
    background: url(../images/sReportBG-Carbon.png) 0 50% #0C0C37 repeat-x;
    border-bottom: 1px solid #1C1C1C;
    border-top: 1px solid #1C1C1C;
    white-space: nowrap;
    vertical-align: center;
}

.apexir_WORKSHEET_DATA th div {
    color:#CCC;
    font: bold 12px/12px Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
    text-decoration: underline;
    cursor: pointer;
/*  margin: 3px 9px;*/
}

.apexir_WORKSHEET_DATA th.current {
    background: url(../images/sReportBG-Carbon-Hover.png) 0 50% #0C0C37 repeat-x;
    border-left: #1C1C1C;
    border-right: #1C1C1C;
}

.apexir_WORKSHEET_DATA th.current div {
    color:#FFF;
}

.apexir_WORKSHEET_DATA td {
    border-bottom: 1px #1C1C1C solid;
    font-size: 12px;
    padding: 4px 10px;
    empty-cells: show !important;
}

.apexir_WORKSHEET_DATA tr.even td {
    background: #161616;
}

.apexir_WORKSHEET_DATA tr.even:hover td {
    background-color: #333 !important;
}

.apexir_WORKSHEET_DATA tr.odd td {
    background: #202020;
}

.apexir_WORKSHEET_DATA tr.odd:hover td {
    background-color: #333 !important;
}

/*, input#apexir_EXPR, input#apexir_WORKSHEET_NAME, input#apexir_DESCRIPTION*/ 
div.apexir_SEARCH {
    padding: 7px 0 6px 2px;
    }
input#apexir_SEARCH {
    border: 1px solid #111;
    padding: 2px 4px 2px 4px;
    font: normal 14px/14px Arial, sans-serif;
    background-color: #333;
    color: #FFF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 0 8px 0 0;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input#apexir_SEARCH {
        padding-top: 1px;
        }
}

.apexir_ROW_SELECT_LIST {
    color: #CCC;
    }


/* -------------------- Small Calendar -------------------- */

.Day a {
    font: bold 11px/20px Arial, sans-serif;
    display: block;
    float: left;
    text-decoration: none;
    text-shadow: none;
    padding: 0 8px;
    color: #888;
    }
    .Day a:hover {
        text-decoration: underline;
        }

.small-calendar-holder {
    border: 5px solid #19196c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
}

.small-calendar-holder .month-title {
    text-align: center;
    color: #AAAAAA;
    background-color: #121212;
    font: bold 14px/16px Arial, sans-serif;
    padding: 8px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    border: 1px solid #070707;
    border-bottom: none;
    text-transform:;
}

.small-calendar {
    width: 250px;
    border-right: 1px solid #070707;
}

.small-calendar .day-of-week {
    font: bold 10px/11px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-transform: capitalize;
    padding-bottom: 5px;
    border-bottom: 1px solid #070707;
}
.small-calendar .day-of-week:first-child {
    border-left: 1px solid #070707;
    }

.small-calendar td {
    height: 14%;
    width: 14%;
    padding: 0;
    border-left: 1px solid #070707;
    border-bottom: 1px solid #070707;
    font: bold 13px/13px Arial, sans-serif;
    background-color: #121212;
    text-align: center;
    vertical-align: middle;
}

/* Format Day Numbers */
.non-day-title,
.day-title,
.weekend-day-title {
    color: #AAAAAA;
    padding: 8px 0;
    border-top: 1px solid #202020;
    border-left: 1px solid #202020;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    }
    .non-day-title {
        color: #333333;
        }
.small-calendar td.today div.day-title,
.small-calendar td.today div.weekend-day-title {
    background-color: #1c1c8c;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.6);
    border-top: 1px solid #2121a6;
    border-left: 1px solid #2121a6;
    }

.CalendarHolder {
    width: 100%;
    border: 5px solid #19196c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.CalendarHolder .MonthTitle {
    text-align: center;
    color: #AAAAAA;
    background-color: #121212;
    font: bold 14px/16px Arial, sans-serif;
    padding: 8px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    border: 1px solid #070707;
    border-bottom: none;
}

.Calendar {
    border: 0;
    width: 100%;
    border-right: 1px solid #070707;
}

.Calendar .DayOfWeek {
    font: bold 11px/11px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-transform: capitalize;
    padding-bottom: 5px;
    border-bottom: 1px solid #070707;
}
.Calendar .DayOfWeek:first-child {
    border-left: 1px solid #070707;
    }

.Calendar td {
    width: 75px;
    height: 75px;
    width: 14%;
    padding: 0;
    border-left: 1px solid #070707;
    border-bottom: 1px solid #070707;
    font: bold 13px/13px Arial, sans-serif;
    background-color: #181818;
}

.Calendar .DayTitle {
    padding: 5px 5px;
    font: normal 12px/12px Arial, sans-serif;
    text-align: right;
    float: right;
    color: #CCCCCC;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
}

.Calendar .Day {
    background-color: #181818;
    vertical-align: top;
}

.Calendar .NonDayTitle {
    padding: 5px 5px;
    font: normal 12px/12px Arial, sans-serif;
    text-align: right;
    float: right;
    color: #333333;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
}

.Calendar .NonDay {

}

.Calendar .WeekendDayTitle {
    padding: 5px 5px;
    font: normal 12px/12px Arial, sans-serif;
    text-align: right;
    float: right;
    color: #CCCCCC;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
}

.Calendar .WeekendDay {
    background-color: #181818;
}

.Calendar .Today {
    vertical-align: top;
    background-color: #121212;
}

.Calendar .Today .DayTitle {
/*  background-color: #FFFFFF*/
}

/* custom calendar */

.cstCalendarHolder {
    width: 600px;
}

.cstCalendarHolder .MonthTitle {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: #FF0CCCCCC;
}

.cstCalendar {
    border: 1px solid #86888a;
    width: 100%;
}

.cstCalendar .DayOfWeek {
    color: #CCCCCC;
    padding: 3px;
    background-color: #DDDDDD;
    border-right: 1px solid #86888a;
}

.cstCalendar td {
    width: 75px;
    height: 75px;
    width: 14%;
    border: 1px solid #86888a;
}

.cstCalendar .DayTitle {
    padding: 2px;
    font-weight: bold;
    text-align: right;
    float: right;
    border: 2px solid #86888a;
    border-right: none;
    border-top: none;
}

.cstCalendar .Day {
    vertical-align: top;
}

.cstCalendar .NonDayTitle {
    text-align: right;
    color: #CCCCCC;
}

.cstCalendar .NonDay {
    background-color: #EEEEEE;
}

.cstCalendar .WeekendDayTitle {
    padding: 2px;
    font-weight: bold;
    text-align: right;
    float: right;
    border: 2px solid #86888a;
    border-right: none;
    border-top: none;
    text-align: right;
    color: #CCCCCC;
}

.cstCalendar .WeekendDay {
    
}

.cstCalendar .Today {
    vertical-align: top;
    border: #FF0000 2px solid;
}

.cstCalendar .Today .DayTitle {
    background-color: #FFFFFF
}

/* Week Calendar */

.WeekCalendarHolder {
    width: 100%;
    border: 5px solid #19196c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.WeekCalendarHolder .MonthTitle {
    text-align: center;
    color: #AAAAAA;
    background-color: #121212;
    font: bold 14px/16px Arial, sans-serif;
    padding: 8px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    border: 1px solid #070707;
    border-bottom: none;
}

.WeekCalendar {
    border: 0;
    width: 100%;
    border-right: 1px solid #070707;
}

.WeekCalendar .DayOfWeek {
    font: bold 11px/11px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    padding-bottom: 5px;
    border-bottom: 1px solid #070707;
}

.WeekCalendar td {
    height: 40px;
    width: 14%;
    padding: 0;
    border-left: 1px solid #070707;
    border-bottom: 1px solid #070707;
    font: bold 13px/13px Arial, sans-serif;
    background-color: #181818;
}

.WeekCalendar th {
    
    }

.WeekCalendar .DayTitle {

}

.WeekCalendar .Day {
    vertical-align: top;
}

.WeekCalendar .NonDayTitle {

}

.WeekCalendar .NonDay {
    background-color: #181818;
}

.WeekCalendar .WeekendDayTitle {

}

.WeekCalendar .Today {
    vertical-align: top;
    background-color: #121212;
}

.WeekCalendar .Today .DayTitle {
}

.WeekCalendar th.Hour {
    width: 40px;
    font: bold 10px/14px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-align: right;
    padding: 5px 5px 5px 10px;
    white-space: nowrap;
    border-left: 1px solid #070707;
}

.WeekCalendar .HourTitle {

}

/* custom calendar */

.cstWeekCalendarHolder {
    width: 600px;
}

.cstWeekCalendarHolder .MonthTitle {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: #FF0CCCCCC;
}

.cstWeekCalendar {
    border-left: 1px solid #86888a;
    border-bottom: 1px solid #86888a;
    width: 100%;
    empty-cells: show;
}

.cstWeekCalendar .DayOfWeek {
    color: #CCCCCC;
    background-color: #DDDDDD;
}

.cstWeekCalendar td,.cstWeekCalendar th {
    padding: 3px;
    height: 40px;
    width: 14%;
    border-right: 1px solid #86888a;
    border-top: 1px solid #86888a;
}

.cstWeekCalendar .DayTitle {
    padding: 0px;
    font-weight: bold;
    text-align: right;
    float: right;
    border: 0px solid #86888a;
    border-right: none;
    border-top: none;
}

.cstWeekCalendar .Day {
    vertical-align: top;
}

.cstWeekCalendar .NonDayTitle {
    text-align: right;
    color: #CCCCCC;
}

.cstWeekCalendar .NonDay {
    background-color: #EEEEEE;
}

.cstWeekCalendar .WeekendDayTitle {
    padding: 2px;
    font-weight: bold;
    text-align: right;
    float: right;
    border: 2px solid #86888a;
    border-right: none;
    border-top: none;
    text-align: right;
    color: #CCCCCC;
}

.cstWeekCalendar .Today {
    vertical-align: top;
    border: #FF0000 1px solid;
}

.cstWeekCalendar .Today .DayTitle {
    background-color: #FFFFFF
}

.cstWeekCalendar .Hour {
    width: 40px;
    height: 40px;
    background-color: #DDDDDD;
    white-space: nowrap;
    text-align: right;
}

.cstWeekCalendar .HourTitle {
    width: 40px;
    height: 40px;
    border: 1px solid #86888a;
    background-color: #DDDDDD;
}

/* Day Calendar */

.DayCalendarHolder {
    width: 100%;
    border: 5px solid #19196c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.DayCalendarHolder .MonthTitlem, .DayCalendarHolder .t1MonthTitle {
    text-align: center;
    color: #AAAAAA;
    background-color: #121212;
    font: bold 14px/16px Arial, sans-serif;
    padding: 8px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    border: 1px solid #070707;
    border-bottom: none;
}

.DayCalendar {
    border: 0;
    width: 100%;
    border-right: 1px solid #070707;
}

.DayCalendar .DayOfWeek {
    font: bold 11px/11px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    padding-bottom: 5px;
    border-bottom: 1px solid #070707;
}

.DayCalendar td {
    height: 40px;
    width: 98%;
    padding: 0;
    border-left: 1px solid #070707;
    border-bottom: 1px solid #070707;
    font: bold 13px/13px Arial, sans-serif;
    background-color: #181818;
}

.DayCalendar .DayTitle {
}

.DayCalendar .Day {
    vertical-align: top;
}

.DayCalendar .Today {
    vertical-align: top;
    background-color: #121212;
}

.DayCalendar .Today .DayTitle {
}

.DayCalendar .Hour {
    width: 40px;
    font: bold 10px/14px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-align: right;
    padding: 5px 5px 5px 10px;
    white-space: nowrap;
    border-left: 1px solid #070707;
}

.DayCalendar .HourTitle {

}

/**/
.CalendarAlternative1Holder {
    width: 100%;
}

.CalendarAlternative1Holder .MonthTitle {
    text-align: center;
    color: #AAAAAA;
    background-color: #121212;
    font: bold 14px/16px Arial, sans-serif;
    padding: 8px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    border: 1px solid #070707;
    border-bottom: none;
}

.CalendarAlternative1 {
    border: 0;
    width: 100%;
    border-right: 1px solid #070707;
}

.CalendarAlternative1 .DayOfWeek {
    font: bold 11px/11px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-transform: capitalize;
    padding-bottom: 5px;
    border-bottom: 1px solid #070707;
}
.CalendarAlternative1 .DayOfWeek:first-child {
    border-left: 1px solid #070707;
    }

.CalendarAlternative1 td {
    width: 75px;
    height: 75px;
    width: 14%;
    padding: 0;
    border-left: 1px solid #070707;
    border-bottom: 1px solid #070707;
    font: bold 13px/13px Arial, sans-serif;
    background-color: #181818;
}

.CalendarAlternative1 .DayTitle {
    padding: 5px 5px;
    font: normal 12px/12px Arial, sans-serif;
    text-align: right;
    float: right;
    color: #CCCCCC;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
}

.CalendarAlternative1 .Day {
    background-color: #181818;
    vertical-align: top;
}

.CalendarAlternative1 .NonDayTitle {
    padding: 5px 5px;
    font: normal 12px/12px Arial, sans-serif;
    text-align: right;
    float: right;
    color: #333333;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
}

.CalendarAlternative1 .NonDay {

}

.CalendarAlternative1 .WeekendDayTitle {
    padding: 5px 5px;
    font: normal 12px/12px Arial, sans-serif;
    text-align: right;
    float: right;
    color: #CCCCCC;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
}

.CalendarAlternative1 .WeekendDay {
    background-color: #181818;
}

.CalendarAlternative1 .Today {
    vertical-align: top;
    background-color: #121212;
}

.CalendarAlternative1 .Today .DayTitle {
/*  background-color: #FFFFFF*/
}


/* Alternate Week Calendar */

/* Week Calendar */

.WeekCalendarAlternative1Holder {
    width: 100%;
}

.WeekCalendarAlternative1Holder .MonthTitle {
    text-align: center;
    color: #AAAAAA;
    background-color: #121212;
    font: bold 14px/16px Arial, sans-serif;
    padding: 8px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    border: 1px solid #070707;
    border-bottom: none;
}

.WeekCalendarAlternative1 {
    border: 0;
    width: 100%;
    border-right: 1px solid #070707;
}

.WeekCalendarAlternative1 .DayOfWeek {
    font: bold 11px/11px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    padding-bottom: 5px;
    border-bottom: 1px solid #070707;
}

.WeekCalendarAlternative1 td {
    height: 40px;
    width: 14%;
    padding: 0;
    border-left: 1px solid #070707;
    border-bottom: 1px solid #070707;
    font: bold 13px/13px Arial, sans-serif;
    background-color: #181818;
}

.WeekCalendarAlternative1 th {
    
    }

.WeekCalendarAlternative1 .DayTitle {

}

.WeekCalendarAlternative1 .Day {
    vertical-align: top;
}

.WeekCalendarAlternative1 .NonDayTitle {

}

.WeekCalendarAlternative1 .NonDay {
    background-color: #181818;
}

.WeekCalendarAlternative1 .WeekendDayTitle {

}

.WeekCalendarAlternative1 .Today {
    vertical-align: top;
    background-color: #121212;
}

.WeekCalendarAlternative1 .Today .DayTitle {
}

.WeekCalendarAlternative1 th.Hour {
    width: 40px;
    font: bold 10px/14px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-align: right;
    padding: 5px 5px 5px 10px;
    white-space: nowrap;
    border-left: 1px solid #070707;
}
.WeekCalendarAlternative1 tr:last-child th.Hour {
    border-bottom: 1px solid #070707;
    }

.WeekCalendarAlternative1 .HourTitle {

}
/* alternate Day Calendar */
.DayCalendarAlternative1Holder {
    width: 100%;
}

.DayCalendarAlternative1Holder .MonthTitle {
    text-align: center;
    color: #AAAAAA;
    background-color: #121212;
    font: bold 14px/16px Arial, sans-serif;
    padding: 8px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    border: 1px solid #070707;
    border-bottom: none;
}

.DayCalendarAlternative1 {
    border: 0;
    width: 100%;
    border-right: 1px solid #070707;
}

.DayCalendarAlternative1 .DayOfWeek {
    font: bold 11px/11px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    padding-bottom: 5px;
    border-bottom: 1px solid #070707;
}

.DayCalendarAlternative1 td {
    height: 40px;
    width: 98%;
    padding: 0;
    border-left: 1px solid #070707;
    border-bottom: 1px solid #070707;
    font: bold 13px/13px Arial, sans-serif;
    background-color: #181818;
}

.DayCalendarAlternative1 .DayTitle {
}

.DayCalendarAlternative1 .Day {
    vertical-align: top;
}

.DayCalendarAlternative1 .Today {
    vertical-align: top;
    background-color: #121212;
}

.DayCalendarAlternative1 .Today .DayTitle {
}

.DayCalendarAlternative1 .Hour {
    width: 40px;
    font: bold 10px/14px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-align: right;
    padding: 5px 5px 5px 10px;
    white-space: nowrap;
    border-left: 1px solid #070707;
}
.DayCalendarAlternative1 tr:last-child .Hour {
    border-bottom: 1px solid #070707;
    }

.DayCalendarAlternative1 .HourTitle {

}

/**/

.SmallCalendarHolder {
    
}

.SmallCalendarHolder .MonthTitle {
    text-align: center;
    font-size: 13px;
    color: #FF0CCCCCC;
    font-weight: bold;
}

.SmallCalendar {
    width: 250px;
    border: 1px solid #CCCCCC;
}

.SmallCalendar .DayOfWeek {
    height: 14px;
}

.SmallCalendar td {
    height: 14%;
    width: 14%;
    padding: 2px;
    border: 1px solid #CCCCCC;
}

.SmallCalendar .DayTitle {
    font-weight: bold;
    text-align: right;
    text-decoration: underline;
}

.SmallCalendar .Day {
    vertical-align: top;
}

.SmallCalendar .NonDayTitle {
    text-align: right;
    color: #CCCCCC;
    text-align: right;
    text-decoration: underline;
}

.SmallCalendar .NonDay {
    border: 1px dotted #CCCCCC;
}

.SmallCalendar .WeekendDayTitle {
    text-align: right;
    color: #CCCCCC;
    text-align: right;
    text-decoration: underline;
}

.SmallCalendar .WeekendDay {
    
}

.SmallCalendar .Today {
    vertical-align: top;
    vertical-align: top;
    border: 1px solid #FF0CCCCCC;
}

/* Small Week Calendar */

.SmallWeekCalendarHolder {
    border: 5px solid #19196c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.SmallWeekCalendarHolder .MonthTitle {
    text-align: center;
    color: #AAAAAA;
    background-color: #121212;
    font: bold 14px/16px Arial, sans-serif;
    padding: 8px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    border: 1px solid #070707;
    border-bottom: none;
}

.SmallWeekCalendar {
    width: 300px;
    empty-cells: show;
}

.SmallWeekCalendar .DayOfWeek {
    font: bold 10px/14px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-transform: capitalize;
    border-bottom: 1px solid #070707;
    padding: 5px 0;
}

.SmallWeekCalendar td {
    height: 14%;
    width: 14%;
    padding: 0;
    border-left: 1px solid #070707;
    border-bottom: 1px solid #070707;
    font: bold 13px/13px Arial, sans-serif;
    background-color: #121212;
    text-align: center;
    vertical-align: top;
}

.SmallWeekCalendar td.t1Today {
    background-color: #d2d2d4;
    color:#000;
    }

.SmallWeekCalendar td .inner {
    border-top: 1px solid #202020;
    border-left: 1px solid #202020;
    display: block;
    }

.SmallWeekCalendar .DayTitle {

}

.SmallWeekCalendar .Day {

}

.SmallWeekCalendar .WeekendDayTitle {

}

.SmallWeekCalendar .WeekendDay {
    
}

.SmallWeekCalendar .Today {
    color:#000;
}

.SmallWeekCalendar .Hour {
    font: bold 10px/14px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-transform: capitalize;
    padding: 5px 2px 5px 10px;
}

.SmallWeekCalendar .HourTitle {

}

/* Small Day Calendar */

.SmallDayCalendarHolder {
    border: 5px solid #19196c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.SmallDayCalendarHolder .MonthTitle {
    text-align: center;
    color: #AAAAAA;
    background-color: #121212;
    font: bold 14px/16px Arial, sans-serif;
    padding: 8px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    border: 1px solid #070707;
    border-bottom: none;
    }

.SmallDayCalendar {
    width: 300px;
    empty-cells: show;
}

.SmallDayCalendar .DayOfWeek {
    font: bold 10px/14px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-transform: capitalize;
    border-bottom: 1px solid #070707;
    padding: 5px 0;
}

.SmallDayCalendar td {
    height: 14%;
    width: 98%;
    padding: 0;
    border-left: 1px solid #070707;
    border-bottom: 1px solid #070707;
    font: bold 13px/13px Arial, sans-serif;
    background-color: #121212;
    text-align: center;
    vertical-align: top;
}

.SmallDayCalendar .DayTitle {

}

.SmallDayCalendar .Day {
    vertical-align: top;
}

.SmallDayCalendar .Today {
    background-color: #d2d2d4;
    color:#000;
    }

.SmallDayCalendar .Hour {
    font: bold 10px/14px Arial, sans-serif;
    color: #AAAAAA;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    background-color: #121212;
    text-transform: capitalize;
    padding: 5px 2px 5px 10px;
}

.SmallDayCalendar .HourTitle {
}

/* list Calendar*/
.ListCalendarHolder {
    width: 100%;
    border: 5px solid #19196c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-collapse: collapse;
}

.ListCalendarHolder .ListCalendar {
  width: 100%;
  border-collapse: collapse;
  border: 0px;
}

.ListCalendarHolder .MonthTitle {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: #FF0CCCCCC;
    background-color: #121212;
}

.ListCalendarHolder .PastDayTitle {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #121212;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarHolder .PastDay {
  text-align: left;
  v-align: top;
  height: 50px;
  padding: 0;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #181818;
}

.ListCalendarHolder .PastHourTitle {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #121212;
  border-width: 1px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarHolder .PastHour {
  width: 30px;
  padding: 0px 5px 35px 10px;
  white-space: nowrap;
  v-align: center;
  height: 50px;
  padding: 0;
  color:  #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #181818;
}

.ListCalendarHolder .FutureDayTitle {
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #181818;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarHolder .FutureDay {
  text-align: left;
  v-align: top;
  height: 50px;
  padding: 0;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #181818;
}

.ListCalendarHolder .FutureHour {
  width: 30px;
  padding: 0px 5px 35px 10px;
  white-space: nowrap;
  v-align: center;
  height: 50px;
  padding: 0;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #181818;
}

.ListCalendarHolder .FutureHourTitle {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #181818;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarHolder .ToDayTitle {
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 0px 0px 0 0;
  background-color: #121212;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarHolder .ToDay {
  text-align: left;
  v-align: top;
  height: 50px;
  padding: 0;
  color: #FFFFFF;
  background-color: #121212;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
}

.ListCalendarHolder .TodayHourTitle {
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #121212;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarHolder .TodayHour {
  width: 30px;
  padding: 0px 5px 35px 10px;
  white-space: nowrap;
  v-align: center;
  height: 50px;
  padding: 0;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #121212;
}


.ListCalendarAlternateHolder {
    width: 100%;
    border: 5px solid #19196c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-collapse: collapse;
}

.ListCalendarAlternateHolder .ListCalendarAlternate {
  width: 100%;
  padding: 0 0 0 0;
  border: 1px;
  border-collapse: collapse;
  border-color: #363636;
}

.ListCalendarAlternateHolder .MonthTitle {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: #FF0CCCCCC;
    background-color: #121212;
}

.ListCalendarAlternateHolder .PastDayTitle {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #121212;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarAlternateHolder .PastDay {
  text-align: left;
  v-align: top;
  height: 50px;
  padding: 0;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #181818;
}

.ListCalendarAlternateHolder .PastHourTitle {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #121212;
  border-width: 1px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarAlternateHolder .PastHour {
  width: 30px;
  padding: 0px 5px 35px 10px;
  white-space: nowrap;
  v-align: center;
  height: 50px;
  padding: 0;
  color:  #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #181818;
}

.ListCalendarAlternateHolder .FutureDayTitle {
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #181818;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarAlternateHolder .FutureDay {
  text-align: left;
  v-align: top;
  height: 50px;
  padding: 0;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #181818;
}

.ListCalendarAlternateHolder .FutureHour {
  width: 30px;
  padding: 0px 5px 35px 10px;
  white-space: nowrap;
  v-align: center;
  height: 50px;
  padding: 0;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #181818;
}

.ListCalendarAlternateHolder .FutureHourTitle {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #181818;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarAlternateHolder .ToDayTitle {
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 0px 0px 0 0;
  background-color: #121212;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarAlternateHolder .ToDay {
  text-align: left;
  v-align: top;
  height: 50px;
  padding: 0;
  color: #FFFFFF;
  background-color: #121212;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
}

.ListCalendarAlternateHolder .TodayHourTitle {
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #121212;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarAlternateHolder .TodayHour {
  width: 30px;
  padding: 0px 5px 35px 10px;
  white-space: nowrap;
  v-align: center;
  height: 50px;
  padding: 0;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #121212;
}

.ListCalendarSmallHolder {
    width: 300px;
    empty-cells: show;
    border: 5px solid #19196c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
    border-collapse: collapse;    
}


.ListCalendarSmallHolder .ListCalendarSmall {
  width: 300px;
  padding: 0 0 0 0;
  border: 1px;
  border-collapse: collapse;
  border-color: #363636;
}

.ListCalendarSmallHolder .MonthTitle {
    text-align: center;
    color: #AAAAAA;
    background-color: #121212;
    font: bold 14px/16px Arial, sans-serif;
    padding: 8px 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
    border: 1px solid #070707;
    border-bottom: none;
}

.ListCalendarSmallHolder .PastDayTitle {
  font: bold 10px/14px Arial, sans-serif;
  text-align: center;
  width:270px;  
  font-weight: bold;
  color: #FFFFFF;
  background-color: #121212;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarSmallHolder .PastDay {
  font: 10px/14px Arial, sans-serif;
  text-align: left;
  width:270px;
  v-align: top;
  height: 25px;
  padding: 0;
  color: #FFFFFF;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #121212;
}

.ListCalendarSmallHolder .PastHourTitle {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #121212;
  border-width: 1px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarSmallHolder .PastHour {
  font: bold 10px/14px Arial, sans-serif;
  width: 30px;
  padding: 0px 5px 35px 10px;
  white-space: nowrap;
  v-align: center;
  height: 25px;
  padding: 0;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #121212;
}

.ListCalendarSmallHolder .FutureDayTitle {
  font: bold 10px/14px Arial, sans-serif;
  text-align: center;
  width:270px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #181818;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarSmallHolder .FutureDay {
  font: 10px/14px Arial, sans-serif;
  text-align: left;
  width:270px;
  v-align: top;
  height: 25px;
  padding: 0;
  color: #FFFFFF;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #181818;
}

.ListCalendarSmallHolder .FutureHour {
  font: bold 10px/14px Arial, sans-serif;
  width: 30px;
  padding: 0px 5px 35px 10px;
  white-space: nowrap;
  v-align: center;
  height: 25px;
  padding: 0;
  color: #FFFFFF;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #181818;
}

.ListCalendarSmallHolder .FutureHourTitle {
  font: bold 10px/14px Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #181818;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarSmallHolder .ToDayTitle {
  font: bold 10px/14px Arial, sans-serif;
  text-align: center;
  width:270px;  
  color: #FFFFFF;
  font-weight: bold;
  border-width: 0px 0px 0 0;
  background-color: #121212;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarSmallHolder .ToDay {
  font: 10px/14px Arial, sans-serif;
  text-align: left;
  v-align: top;
  width:270px;  
  height: 25px;
  padding: 0;
  color: #000;
  background-color: #D2D2D4;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
}

.ListCalendarSmallHolder .TodayHourTitle {
  font: bold 10px/14px Arial, sans-serif;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #121212;
  border-width: 0px 0px 0px 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
}

.ListCalendarSmallHolder .TodayHour {
  font: bold 10px/14px Arial, sans-serif;
  width: 30px;
  padding: 0px 5px 35px 10px;
  white-space: nowrap;
  v-align: center;
  height: 25px;
  padding: 0;
  color: #000;
  font-weight: bold;
  border-width: 1px 0px 0 0;
  border-style: solid;
  border-color: #363636;
  margin: 0;
  padding: 4px;
  background-color: #D2D2D4;
}



.apex_cal_data_grid_src {width:96%;margin-top:2px;}
/* -------------------- DHTML SubMenu -------------------- */

/* COLUMN SEARCH */
div#apexir_columnsearch {
    background-color: #FFF !important;
    font-size: 12px;
    width: 200px;
    list-style-type: none;
    margin: 0;
    padding: 1px;
    border: none;
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.75);
    box-shadow: 0 5px 10px #000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    }
#apexir_columnsearch, #apexir_col_values_drop, #apexir_rollover {
    background: #FFF !important;
    }
#apexir_columnsearch a, #apexir_col_values_drop a, #apexir_rollover_content a {
    color:#000000;
    display:block;
    overflow:hidden !important;
    padding:2px !important;
    width:auto !important;
    font: normal 13px/14px Arial, sans-serif;
    background-color: #FFF;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    }
    #apexir_columnsearch a:hover, #apexir_col_values_drop a:hover, #apexir_rollover_content a:hover {
        background-color: #1e1e1e;
        color: #FFF !important;
        }

.dhtmlSubMenu {
    background-color: #FFF;
/*transparent;
    background-image: url(../images/1px-white-trans.png);*/
    font-size: 13px;
    width: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.75);
    box-shadow: 0 5px 10px #000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.dhtmlSubMenu li {
    margin: 0;
    padding: 0;
}

.dhtmlMenuSep {
    text-align: center;
    background-color: #FFF;
}

img.dhtmlMenuSep {
    display: block;
    margin: auto;
    border-bottom: 2px solid #e1e1e2;
    height: 1px;
    background: #e1e1e2;
    margin: 5px 0;
    width: 100%;
}

.dhtmlSubMenu img.dhtmlSep {
    width: 180px;
    height: 1px;
}

.dhtmlSubMenu .htmldbMIMG,.dhtmlSubMenuS .htmldbMIMG {
    vertical-align: middle;
    float: right;
    width: 5px;
    height: 9px;
    padding-top: 6px;
}

.dhtmlSubMenu .dhtmlSubMenuP {
    text-align: center;
    color: #808080;
    padding: 3px 8px;
/*  border-bottom: #ccc 1px solid;*/
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    margin: 1px;
}

.dhtmlSubMenu a.dhtmlSubMenuS,.dhtmlSubMenu a.dhtmlSubMenuN {
    display: block;
    font-weight: normal;
    padding: 3px 8px;
    text-decoration: none;
    white-space: nowrap;
    margin: 1px;
    height: 1%;
    overflow: hidden;
    border: 1px solid #FFF;
}

.dhtmlSubMenu a.dhtmlSubMenuS:hover,.dhtmlSubMenu a.dhtmlSubMenuN:hover, a.dhtmlSubMenuS:focus, a.dhtmlSubMenuN:focus, a.dhtmlSubMenuS:active, a.dhtmlSubMenuN:active {
    /*background: url(../images/sHoverMenuBG.png) 0 50% repeat-x #285ff6;*/
    background-color: #1e1e1e;
    color: #FFF;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #1e1e1e;
}

a.dhtmlSubMenuS,a.dhtmlSubMenuN {
    font-size: 1em;
    display: block;
    vertical-align: middle;
    line-height: 1.2em;
}

a.dhtmlSubMenuS *,a.dhtmlSubMenuN * {
    vertical-align: middle;
}

a.dhtmlSubMenuS span {
    display: block;
    font-size: 1em;
    float: left;
    line-height: 24px;
    padding-left: 1px;
}

a.dhtmlSubMenuS img {
    display: block;
    float: right;
    width: 5px;
    height: 9px;
}

.dhtmlSubMenu a.dhtmlSubMenuS, .dhtmlSubMenu a.dhtmlSubMenuN {
    color: #000;
}

ul.dhtmlTree {
    list-style: none;
}

ul.dhtmlTree li {
    padding: 2px 0;
    vertical-align: middle;
}

ul.dhtmlTree li img {
    margin: 0 4px;
    vertical-align: middle;
}

div.dhtmlMenuLG {
    white-space: nowrap;
    clear: both;
}

div.dhtmlMenuLG div.dhtmlMenuItem {
    text-align: center;
    float: left;
    margin: 0px 15px 0px 0px;
}

div.dhtmlMenuLG a.dhtmlBottom {
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin: 0px 5px;
    font-weight: bold;
}

div.dhtmlMenuLG img.dhtmlMenu {
    
}

div.dhtmlMenuLG div.htmldbBKHolder {
    float: left;
}

div.dhtmlMenuLG img.dhtmlMenuOn {
    
}

.dhtmlMenuLG2 li a {
    float: left;
}

.dhtmlMenuLG2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.dhtmlMenuLG2 * {
    float: left;
    text-decoration: none;
    display: block;
    line-height: 25px;
    height: 25px;
    vertical-align: middle;
    white-space: nowrap;
}

.dhtmlMenuLG2 li {
/*  background-image: url(../menu_small_m.gif);*/
/*  border: 1px solid #999;*/
}

.dhtmlMenuLG2 li.dhtmlMenuItem {
    background: #121212;
    background-image: url(../images/sReportBG.png);
    background-repeat: repeat-x;
    margin: 0 4px 0 0;
}

.dhtmlMenuLG2 li.dhtmlMenuItem a {
    padding: 0 4px;
    color: #CCC;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.dhtmlMenuLG2 li.dhtmlMenuItem1 {
    background: #efefef;
    background-image: url(../images/sReportBG.png);
    background-repeat: repeat-x;
    margin: 0 4px 0 0;
}

.dhtmlMenuLG2 li.dhtmlMenuItem1 a {
    padding: 0 4px;
    margin: 0 4px 0 0;
    color: #CCC;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.dhtmlMenuLG2 li.dhtmlMenuItem1 img {
    margin: 0 2px 0 0;
}

.dhtmlSubMenu2 {
    background-color: #FFF;
    font-size: 13px;
    width: 200px;
    list-style-type: none;
    padding: 1px;
    border: none;
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.75);
    box-shadow: 0 5px 10px #000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin: 0em;
}

.dhtmlSubMenu2 li {
    margin: 0em;
    padding-left: 0em;
}

.dhtmlMenuSep2 {
    text-align: center;
}

img.dhtmlMenuSep2 {
    display: block;
    margin: auto;
    width: 80%;
    border: 1px solid #efefef;
    height: 1px;
    background-color: #ccc;
}

.dhtmlSubMenu2 img.dhtmlSep {
    width: 180px;
    height: 1px;
}

.dhtmlSubMenu2 .t13MIMG {
    vertical-align: middle;
    float: right;
    padding-top: 6px;
}

.dhtmlSubMenu2 .dhtmlSubMenuP {
    background-color: #ddd;
    text-align: center;
    color: #808080;
    border-bottom: #ccc 1px solid;
    padding: 3px 8px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.dhtmlSubMenu2 a.dhtmlSubMenuN:link,.dhtmlSubMenu2 a.dhtmlSubMenuN:visited {
    color: #222222;
    display: block;
    font-weight: normal;
    padding: 3px 8px;
    text-decoration: none;
    white-space: nowrap;
    height: 1%;
    overflow: hidden;
    line-height: 24px;
}

.dhtmlSubMenu2 a.dhtmlSubMenuN:hover {
    background: #1e1e1e;
    color: #FFF;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.dhtmlSubMenu2 a.dhtmlSubMenuS:link,.dhtmlSubMenu2 a.dhtmlSubMenuS:visited {
    color: #222222;
    display: block;
    font-weight: normal;
    padding: 3px 8px;
    text-decoration: none;
    white-space: nowrap;
    height: 1%;
    overflow: hidden;
}

.dhtmlSubMenu2 a.dhtmlSubMenuS:hover {
    background: #1e1e1e;
    color: #FFF;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.dhtmlSubMenuN {
    border: none !important;
}

img.dhtmlMenuSep {
    height: 1px !important;
    border: none !important;
}

/* APEX IR TOOLBAR */
#apexir_TOOLBAR {
    padding: 0 0 10px 0 !important;
    }
.apexir_TOOLBAR_OPEN {
background:url("../images/sIRControllerBG-R.png") top right no-repeat !important;
display:inline;
float:left;
height:40px;
overflow:hidden;
padding:0 8px 0 0;
}
.apexir_TOOLBAR_OPEN .apexir_TOOLBAR_CLOSE {
background:url("../images/sIRControllerBG-L.png") 0 0 no-repeat !important;
color:#CCC;
height:38px;
overflow:hidden;
padding-top: 2px;
}

#apexir_SEARCH_COLUMN_DROP {
    padding-top: 11px;
    font-weight: bold;
    }

/* APEX REPORT CONTROLS */
#apexir_CONTROL_PANEL {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 5px 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px #000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background: url(../images/sReportBG.png) 0 0 #121212 repeat-x;
    margin: 0 0 10px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #111;
    border-right: none !important;
    border-left: none !important;
    }
    
#apexir_DATA_PANEL .pagination span.fielddata {
    color: #CCC;
    font-size: 12px;
    }

/* Error Messages */
div.t1InlineError {
    font: normal 11px/16px Arial, sans-serif;
    }
    div.t1InlineError label {
        font: normal 12px/16px Arial, sans-serif;
        }

/* Valign top forms */
table.formlayout td {
    padding-bottom: 5px;
    }
    
#apexir_WORKSHEET_REGION {
    color: #CCC;
    }

/* Styles for POP-UP Page Template */
body.pop-up-body {
    background-position: 0 -150px;
    min-width: 500px !important;
    max-width: 1920px;
    margin: 10px;
    }
    body.pop-up-body .optional-w-help {
        font: bold 12px/16px Arial, sans-serif;
        }
        
/* POP UP LOV */
body.pop-up-lov {
    min-width: 300px;
    }
.t1PopupHead {
    padding: 10px;
    }
    .t1PopupBody {
        background-color: #0C0C37;
        padding: 0 10px;
        }
    .t1PopupBody a {
        color: #999;
        }
        
/* Region Display Selector */
.apex-rds-container {
    height: 21px;
    margin: 0 0 9px 0;
    }
    ul.apex-rds {
        list-style-type: none;
        margin: 0;
        }
        ul.apex-rds li {
            float: left;
            list-style: none;
            }
            ul.apex-rds li a, ul.apex-rds li.apex-rds-selected a {
                background: url(../images/sButtons.png) -20px -800px no-repeat;
                font: normal 12px/20px Arial, sans-serif;
                text-decoration: none;
                height: 21px;
                display: block;
                /*outline: none;*/
                }
                ul.apex-rds li a:hover, ul.apex-rds li.apex-rds-selected a {
                    background: url(../images/sButtons.png) -20px -900px no-repeat;
                    }
                ul.apex-rds li a span {
                    display: block;
                    height: 21px;
                    padding: 0 10px 0 12px;
                    background: url(../images/sButtons.png) 0 -1000px no-repeat;
                    }
            /* First List Item */
            ul.apex-rds li.apex-rds-first a, ul.apex-rds li.apex-rds-first.apex-rds-selected a {
                background: url(../images/sButtons.png) 0 -800px no-repeat;
                font: normal 12px/20px Arial, sans-serif;
                text-decoration: none;
                height: 21px;
                display: block;
                }
                ul.apex-rds li.apex-rds-first a:hover, ul.apex-rds li.apex-rds-first.apex-rds-selected a {
                    background: url(../images/sButtons.png) 0 -900px no-repeat;
                    }
                ul.apex-rds li#apex-rds-first a span {
                    background: none;
                    padding: 0 10px 0 13px;
                    }
            /* Last List Item */
            ul.apex-rds li.apex-rds-last a, ul.apex-rds li.apex-rds-last.apex-rds-selected a {
                background: url(../images/sButtons.png) 100% -850px no-repeat;
                font: normal 12px/20px Arial, sans-serif;
                text-decoration: none;
                height: 21px;
                display: block;
                }
                ul.apex-rds li.apex-rds-last a:hover, ul.apex-rds li.apex-rds-last.apex-rds-selected a {
                    background: url(../images/sButtons.png) 100% -950px no-repeat;
                    }
                ul.apex-rds li.apex-rds-last a span {
                    padding: 0 13px 0 12px;
                    }

/* Interactive Report Pill */
.irr-pill {
  float:left;
  display:block;
  height:22px;
    width: 28px;
    outline: none;
}

.irr-pill span {
  display: block;
    text-indent: -99999px;
  height:22px;
    width: 28px;
    }
.irr-pill-icons-left span{background:url(../images/sIRPill.png) -100px 0 no-repeat;}
.irr-pill-report-center span,.irr-pill-report-left span{background:url(../images/sIRPill.png) -100px -50px no-repeat;}
.irr-pill-report-right span{background:url(../images/sIRPill.png) -101px -50px no-repeat;}
.irr-pill-details-right span{background:url(../images/sIRPill.png) -102px -100px no-repeat;}
.irr-pill-icons-left-active span{background:url(../images/sIRPill.png) -150px 0 no-repeat;}
.irr-pill-report-center-active span,.irr-pill-report-left-active span{background:url(../images/sIRPill.png) -150px -50px no-repeat;}
.irr-pill-report-right-active span{background:url(../images/sIRPill.png) -151px -50px no-repeat;}
.irr-pill-details-right-active span{background:url(../images/sIRPill.png) -152px -100px no-repeat;}



.irr-pill-icons-left, .irr-pill-report-left {
    background: url(../images/sIRPill.png) 0 0 no-repeat;
}

.irr-pill-icons-left-active, .irr-pill-report-left-active {
  background: url(../images/sIRPill.png) -50px 0 no-repeat;
}

.irr-pill-report-center {
  background: url(../images/sIRPill.png) 0 -50px no-repeat;
}

.irr-pill-report-center-active {
  background: url(../images/sIRPill.png) -50px -50px no-repeat;
}

.irr-pill-details-right, .irr-pill-report-right {
  background: url(../images/sIRPill.png) 0 -100px no-repeat;
}

.irr-pill-details-right-active, .irr-pill-report-right-active {
    background: url(../images/sIRPill.png) -50px -100px no-repeat;
}

.irr-pill-chart, .irr-pill-group, .irr-pill-report {
    background: url(../images/sIRPill.png) 0px -150px no-repeat;
    width: 40px;
    margin-left: 8px;
    }
.irr-pill-chart-active, .irr-pill-group-active, .irr-pill-report-active {
    background: url(../images/sIRPill.png) -50px -150px no-repeat;
    width: 40px;
    margin-left: 8px;
    }

.irr-pill-chart span{background:url(../images/sIRPill.png) -100px -150px no-repeat;}
.irr-pill-chart-active span{background:url(../images/sIRPill.png) -150px -150px no-repeat;}
.irr-pill-group span{background:url(../images/sIRPill.png) -100px -200px no-repeat;}
.irr-pill-group-active span{background:url(../images/sIRPill.png) -150px -200px no-repeat;}

.irr-pill-report span{background:url(../images/sIRPill.png) -94px -50px no-repeat;}
.irr-pill-report-active span{background:url(../images/sIRPill.png) -144px -50px no-repeat;}


#apexir_GROUP_BY .apexir_WORKSHEET_DATA td {
    background: #202020 !important;
    }
#apexir_CHART {
    background-color: #EEE;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    }
    
/* Two Col Report */
div.two-col-report-portlet {
    
    }
div.two-col-report-portlet div.report-row {
    clear: both;
    border-bottom: 1px dotted #444;
    }
    div.two-col-report-portlet div.report-row div.report-col-hdr {
        float: left;
        font: normal 12px/20px Arial, sans-serif;
        }
    div.two-col-report-portlet div.report-row div.report-col-val {
        float: right;
        font: bold 12px/20px Arial, sans-serif;
        }
        
/* Input Gray Backgrounds */
.number_field, .textarea, .text_field, .datepicker, .popup_lov, .password,
.shuttle_left, .shuttle_right, .selectlist,
td.colorpicker input,
input.autocomplete,
input[type="password"], input[type="text"]
 {
    background-color: #444;
    color: #EEE;
    text-align: left;
    border: 1px solid #222;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 2px;
    }

fieldset.textarea textarea {
    border: none;
    }

/* New Styles */
.apexir_WORKSHEET_CUSTOM td:first-child {
    padding: 0;
    }

.apexir_WORKSHEET_CUSTOM td, .apexir_WORKSHEET_CUSTOM th {
    border: none;
    background: none transparent;
    text-align: left;
    }
    
.sidebar-region .rounded-corner-region,
.sidebar-region .rounded-corner-region-alt,
.sidebar-region .rounded-corner-region-alt2 {
    width: 190px;
    }
    
/* Fixing Nav / Wizard Progress Region Overflow Bugs*/
.navigation-region a,.wizard-progress-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table.CalendarHolder table tr td div, table.CalendarAlternative1Holder table tr td div, table.CalendarAlternativeHolder table tr td div,
table.WeekCalendarHolder table tr td div, table.DayCalendarHolder table tr td div,
table.WeekCalendarAlternative1Holder table tr td div, table.DayCalendarHolderAlternative1 table tr td div {
    font: normal 11px/18px Arial, sans-serif;
    padding: 0 0 0 5px;
    }
    
/* Footer App Version   */
.app-version {
    float: right;
    font: normal 11px/11px Arial, sans-serif;
    padding: 10px;
    }

.tree a {
    color: #EEE !important;
    }

.sCustomSearch {
    margin: 0 auto;
    padding: 20px 0 24px 0;
    }
    .sCustomSearch table {
        margin: 0 auto;
        }
.sCustomSearch.left {
    margin: 0;
    padding: 0 0 8px 0;
    }
    .sCustomSearch.left table,
    .sCustomSearch.left td {
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        border-spacing: 0;
        }
    
.sCustomSearch table.formlayout {
    padding: 0;
    }
.sCustomSearch table.formlayout td {
    vertical-align: top;
    padding: 0;
    margin: 0;
    }
    .sCustomSearch table.formlayout td button {
        margin-top: 0;
        }
.sCustomSearch table.formlayout br {
    display: none;
    }
.sCustomSearch.large .sSearchField {
    min-width: 300px;
    }
.sSearchField {
        font: normal 14px/16px Arial, sans-serif;
        border: 1px solid #999;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        padding: 4px 4px 2px 20px;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.35), 0 1px 2px rgba(0,0,0,.20) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.35), 0 1px 2px rgba(0,0,0,.20) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.35), 0 1px 2px rgba(0,0,0,.20) inset;
        color: #333;
        margin: 0;
        background: url(../images/rSearchField.png) no-repeat 6px -50px #111;
        }
        .sSearchField:focus {
            background-color: #222;
            color: #AAA;
            }
.sSearchFieldBig {
    display: block;
    font: normal 18px/18px Arial, sans-serif;
    border: 1px solid #222;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 10px 10px 30px !important;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.35), 0 1px 2px rgba(0,0,0,.20) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.35), 0 1px 2px rgba(0,0,0,.20) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.35), 0 1px 2px rgba(0,0,0,.20) inset;
    color: #888;
    margin: 0;
    background: url(../images/rSearchField.png) no-repeat 8px 0 #111;
    }
    .sSearchFieldBig:focus {
        background-color: #222;
        color: #AAA;
        }

ul.sSearchResultsReport {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    }
    ul.sSearchResultsReport li {
        display: block;
        list-style: none;
        padding: 0 0 10px 0;
        margin: 0;
        }
        ul.sSearchResultsReport li span.title {
            display: block;
            }
        ul.sSearchResultsReport li span.title a {
            font: bold 16px/24px Arial, sans-serif;
            color: #EEE;
            text-decoration: underline;
            clear: both;
            }
        ul.sSearchResultsReport li span.description {
            font: normal 13px/16px Arial, sans-serif;
            color: #EEE;
            display: block;
            }
        ul.sSearchResultsReport li span.type {
            font: normal 11px/16px Arial, sans-serif;
            padding: 0 10px 0 0;
            color: #999;
            }
            ul.sSearchResultsReport li span.last_modified {
                font: normal 13px/16px Arial, sans-serif;
                padding: 0 10px 0 0;
                color: #999;
                }
                
/* Horizontal Progress List */
div.sHorizontalProgressList {
    width: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    }
                
div.sHorizontalProgressList ul {
    margin: 0 0 10px 0;
    height: 50px;
    padding: 0;
    clear: left;
    float: left;
    position: relative;
    left: 50%;
    }
    div.sHorizontalProgressList ul li {
        float: left;
        display: block;
        position: relative;
        right: 50%;
        background: url(../images/sHorizontalProgress.png) 0 -150px no-repeat;
        }
        div.sHorizontalProgressList ul li span {
            display: block;
            float: left;
            padding: 10px 5px 27px 5px;
            font: normal 13px/13px Arial, sans-serif;
            color: #999;
            background-image: url(../images/sHorizontalProgress.png);
            background-repeat: no-repeat;
            white-space: nowrap;
            text-align: center;
            min-width: 80px;
            }
div.sHorizontalProgressList ul li.current span, 
div.sHorizontalProgressList ul li.first-current span, 
div.sHorizontalProgressList ul li.last-current span {
    color: #EEE;
    font-weight: bold;
    background-position: 50% -50px;
    }
div.sHorizontalProgressList ul li.non-current span, 
div.sHorizontalProgressList ul li.first-non-current span, 
div.sHorizontalProgressList ul li.last-non-current span {
    background-position: 50% 0;
    }

div.sHorizontalProgressList ul li.last-non-current, 
div.sHorizontalProgressList ul li.last-current {
    background: url(../images/sHorizontalProgress.png) 50% -200px no-repeat;
    }
    
div.sHorizontalProgressList ul li.first-non-current, 
div.sHorizontalProgressList ul li.first-current {
    background: url(../images/sHorizontalProgress.png) 50% -100px no-repeat;
    }

div.ac_results {
    background: #222;
    color: #EEE;
    }
    div.ac_results li.ac_even {
        background-color: #111;
        color: #EEE;
        }
    div.ac_results li.ac_odd {
        background-color: #222;
        color: #EEE;
        }
    div.ac_results li.ac_over {
        background-color: #3333ff;
        color: #FFF;
        }
        
table.horizontal-border table.report-standard tr td {
    border-bottom: 2px solid #222;
    }
    
hr {
    background-color: #666;
    border: 1px solid #666;
    }
    
/* Pagination for Reports */
table table td.pagination a.pagination {
    display: block;
    float: left;
    padding: 6px 6px;
    font: normal 11px/15px Arial, sans-serif;
    background: none;
    }
a.sPaginationPrev, a.sPaginationNext {
    display: block;
    font: normal 11px/15px Arial, sans-serif;
    text-decoration: none !important;
    }
    a.sPaginationPrev:hover, a.sPaginationNext:hover {
        text-decoration: underline !important;
        }
a.sPaginationPrev {
    padding: 6px 6px 6px 20px;
    background: url(../images/left_arrow.png) 0 6px no-repeat;
    }

a.sPaginationNext {
    padding: 6px 20px 6px 6px;
    background: url(../images/right_arrow.png) 100% 6px no-repeat;
    font-weight: bold;
    }
table table td.pagination span.fielddata {
    font: normal 11px/16px Arial, sans-serif;
    }
    
div.error_container, div.ErrorPageMessage {
    width: 600px;
    margin: 30px auto 0;
    }
div.error_container div.sErrorText {
    background: url(../images/sErrorIcon.png) 0 5px no-repeat;
    padding-left: 58px;
    }
    div.error_container div.sErrorText strong {
        display: block;
        padding: 5px 0;
        }
    div.error_container div.sErrorText p {
        text-align: right;
        margin: 10px 0 0 0;
        }
/* Making background of calc pop-up clear */
.calculator {
    background: none transparent;
    }