#header {
    margin-bottom: 0;
}

#bottom {
    margin: 0;
}

#sidebar {
	margin-left: 2%;
}

#content {
	margin-left: 2%;
}

h1 {
    padding-left: 4.5%;
    font-size: 1.4em;
}

/* -----------------------
 * Breadcrumbs widget
   ----------------------- */

#breadcrumbs {
	padding-left: 4%;
}  

/* -----------------------
 * TransactionQueueTabs widget
   ----------------------- */

.menu li {
    height: 24px;
}

/* -----------------------
 * Form widgets
   ----------------------- */

form tr th {
    vertical-align: top;
}

form tr td {
    padding-top: 0;
}

form tr.header_row th {
    vertical-align: middle;
}


