#bottom {
 line-height: 1.5em;
}

#header h1 {
    top: 80px;
}
/* -----------------------
 * TransactionTable widget
   ----------------------- */
  
h2 span.action {
    top: 7px;
}


/* -----------------------
 * Form widgets
   ----------------------- */

form tr td {
    padding-top: 0;
}
