												*{
													font-family : Arial, Helvetica, sans-serif;
													font-size: 12px;
												}

												.static_buttons{
													display:inline;
												}
												.th_row{
													padding:1px;
													padding-left:5px;
													padding-right:5px;
													font-size: 12px;
													border-bottom:1px solid black;
												}

												.th_row_odd{
													padding:1px;
													padding-left:5px;
													padding-right:5px;
													font-size: 12px;
													background:FFFFFF;
													border-bottom:1px solid black;
												}
												.th_row_even{
													padding:1px;
													padding-left:5px;
													padding-right:5px;
													font-size: 12px;
													background:#EEEEEE;
													border-bottom:1px solid black
												}
												.th_th_report{
													padding:2px;
													padding-left:5px;
													padding-right:5px;
												}

												th{
													padding:1px;
													border-bottom:2px solid black;
													font-size: 12px;
													font-weight:bold;
													background:#EEEEEE;
												}
												.th_content_body{
													padding:10px;
												}
												.th_tab_region_header{
													font-weight:900;
													color:#996699;
													font-size: 20px;
													text-align:left;
												}
												.th_report_table{
													border:none;

												}
												.th_panel{
													background:#EEEEEE;
												}
												option{
													font-size:14px;
												}
												body{
													margin:0px;
												}

												img{
													border:0px;
												}

												a.help:link{color:black;font-size: 12px;}
												a.help:visited{color:black;font-size: 12px;}
												a.help:hover{color:red;font-size: 12px;}


												ul{
													white-space : nowrap;
												}
												li{
													white-space : nowrap;
												}
												.th_navbar{
													color:#FFFFFF;
													font-size: 14px;
													font-weight: 900;
												}

												.th_editpanel{
													background-color : Silver;
												}

												a:link{color:#990099;}
												a:visited{color:#990099;}
												a:hover{color:#FF0000;}

												a.th_buttonhtml:link{color:#FFFFFF;font-weight: 900;}
												a.th_buttonhtml:visited{color:#FFFFFF;font-weight: 900;}
												a.th_buttonhtml:hover{color:#FFFFFF;font-weight: 900;}

												a.th_navbar:link{color:#FFFFFF;font-weight: 900;}
												a.th_navbar:visited{color:#FFFFFF;font-weight: 900;}
												a.th_navbar:hover{color:#FFFFFF;font-weight: 900;}

												a.th_tabhtml:link{font-size:17px;color:#FFFFFF;font-weight: bold;text-decoration:none;}
												a.th_tabhtml:visited{font-size:17px;color:#FFFFFF;font-weight: bold;text-decoration:none;}
												a.th_tabhtml:hover{font-size:17px;color:#FFFFFF;font-weight: bold;text-decoration:none;}
