
table.tbl-body td.tbl-sidebar {
	padding: 0 !important;
	}

div.ebaLaunchPadRegion {
	margin: 0 0 10px 0;
	overflow: hidden;
	}
div.ebaLaunchPadRegion section.aRegion {
	overflow: visible;
}
div.ebaLaunchPadRegion section.aRegion div.aRegionHeading {
	padding: 16px 0;
	min-height: 0;
}


	

#LAUNCHPAD .rc-content-main {
	padding: 0;
	}
#LAUNCHPAD .sCustomSearch {
	padding: 0;
	}
.tbl-sidebar {
	padding: 0;
	}

div.ebaLaunchPad {
	overflow: hidden;
	min-height: 400px;
	}
	div.ebaNoApps {
		background: #EFEFEF;
		padding: 20px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		margin: 10px;
		text-align: center;
		font: normal 14px/20px Arial, sans-serif;
		color: rgba(0,0,0,.60);
		text-shadow: 0 1px 1px rgba(0,0,0,.2);
		}
		div.ebaNoApps img {
			padding-bottom: 10px;
			}
	
div.ebaLPSearchBar {
	}
div.ebaLPSearchBar div.ebaWorkspaceTitle {
	text-align: center;
	padding: 5px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	color: #222;
	}
	div.ebaLPSearchBar div.ebaWorkspaceTitle span {
		display: inline-block;
		font: bold 13px/14px Arial, sans-serif;
		}
		div.ebaLPSearchBar div.ebaWorkspaceTitle span em {
			display: inline-block;
			font: normal 13px/14px Arial, sans-serif;
			}
div.ebaLPSearchBar div.ebaBar {
	display: table;
	width: 100%;
	padding: 0 0 10px 0;
	}
div.ebaLPSearchBar div.ebaBar > div {
	display: table-cell;
	}
div.ebaLPSearchBar div.ebaLeft {
	padding:  0 0 0 16px;
/*	width: 328px;*/
	}
	div.ebaBreadCrumbs.ebaMBC {
		float: left;
		padding: 2px 9px 0 1px !important;
		}
div.ebaLPSearchBar div.ebaRight {
	float: right;
	}

div.ebaLPSearchBar div.ebaLPSearch {
	position: relative;
	width: 228px;
	margin-right: 16px;
	}
div.ebaLPSearchBar div.ebaLPSearch input {
	display: block;
	float: left;
	border-radius: 20px;
	-moz-border-radius: 20px;
	height: 24px;
	font: normal 14px/24px Arial, sans-serif;
	width: 180px;
	padding: 0 24px;
	border: 1px solid rgba(0,0,0,.50);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px 0 rgba(0,0,0,.25) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px 0 rgba(0,0,0,.25) inset;
	background: url(../img/eba_launchpad_searchbar.png) 0 0 no-repeat #FFF;
	margin: 0;
	}
	div.ebaLPSearchBar div.ebaLPSearch input:focus {
/*		border: 2px solid #000;*/
		}
	div.ebaLPSearchBar div.ebaLPSearch span.ebaClearSearch {
		display: block;
		width: 18px;
		height: 18px;
		background: url(../img/eba_launchpad_searchbar.png) 0 -32px no-repeat #DDD;
		position: absolute;
		right: 4px;
		top: 4px;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-transition: background .1s linear;
		}
		div.ebaLPSearchBar div.ebaLPSearch span.ebaClearSearch:hover {
			background: url(../img/eba_launchpad_searchbar.png) 0 -32px no-repeat #AAA;
			}
		div.ebaLPSearchBar div.ebaLPSearch span.ebaClearSearch:active {
			background: url(../img/eba_launchpad_searchbar.png) 0 -32px no-repeat #666;
			}
div.ebaLPSearchBar span.ebaLabel {
	display: block;
	float: left;
	font: normal 11px/24px Arial, sans-serif;
	margin: 0 6px 0 0;
	color: rgba(0,0,0,.75);
	text-shadow: 0 1px 0 rgba(255,255,255,.75);
	}
	
div.ebaLPSearchBar div.ebaPullDownMenuContainer {
	display: block;
	float: left;
	position: relative;
	}
	
div.ebaLPSearchBar a.ebaPullDownMenu {
	display: block;
	float: left;
	border-radius: 4px;
	-moz-border-radius: 4px;
	height: 24px;
	background-color: #CCC;
	border: 1px solid #777;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#CCC));
	background: -moz-linear-gradient(top, #FFF, #CCC);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 0 rgba(255,255,255,.75) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 0 rgba(255,255,255,.75) inset;
	margin: 0 9px 0 0;
	color: rgba(0,0,0,.7);
	text-decoration: none;
	}
	div.ebaLPSearchBar a.ebaPullDownMenu span {
		font: bold 12px/24px Arial, sans-serif;
		padding: 0 34px 0 10px;
		display: block;
		background: url(../img/eba_launchpad_searchbar.png) 100% -170px no-repeat;
		text-shadow: 0 1px 0 rgba(255,255,255,.4);
		}
div.ebaLPSearchBar a.ebaPullDownMenu:active {
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#DDD), to(#AAA));
			background: -moz-linear-gradient(top, #DDD, #AAA);
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.5) inset;
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.5) inset;
			}
div.ebaLPSearchBar div.ebaPullDownMenuContainer div.ebaPullDownMenu {
	position: absolute;
	top: -5px;
	right: 24px;
	z-index: 1000;
	background: #222222;
	background: rgba(0,0,0,.8);
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.35);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.35);
	display: none;
	}
	
div.ebaLPSearchBar ul.ebaPillButton {
	display: block;
	margin: 0 9px 0 0;
	padding: 0;
	list-style: none;
	float: left;
	}
	div.ebaLPSearchBar ul.ebaPillButton li {
		display: block;
		float: left;
		}
		div.ebaLPSearchBar ul.ebaPillButton li:first-child a {
			border-radius: 4px 0 0 4px;
			-moz-border-radius: 4px 0 0 4px;
			}
		div.ebaLPSearchBar ul.ebaPillButton li:last-child a {
			border-radius: 0 4px 4px 0;
			-moz-border-radius: 0 4px 4px 0;
			border: 1px solid #777;
			}
		div.ebaLPSearchBar ul.ebaPillButton li:only-child a {
			border-radius: 4px;
			-moz-border-radius: 4px;
			border: 1px solid #777;
			}
		div.ebaLPSearchBar ul.ebaPillButton li a {
			display: block;
			color: rgba(0,0,0,.75);
			text-shadow: 0 1px 0 rgba(255,255,255,.75);
			text-decoration: none;
			font: normal 11px/24px Arial, sans-serif;
			border: 1px solid #777;
			border-right: none;
			padding: 0 10px;
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#CCC));
			background: -moz-linear-gradient(top, #FFF, #CCC);
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 0 rgba(255,255,255,.75) inset;
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 0 rgba(255,255,255,.75) inset;
			}
			div.ebaLPSearchBar ul.ebaPillButton li a span {
				display: block;
				width: 24px;
				height: 24px;
				background-image: url(../img/eba_launchpad_searchbar.png);
				background-repeat: no-repeat;
				}
			div.ebaLPSearchBar ul.ebaPillButton li a span.ebaIconAllApps{background-position:0 -50px;}
			div.ebaLPSearchBar ul.ebaPillButton li.active a span.ebaIconAllApps{background-position:-24px -50px;}
			div.ebaLPSearchBar ul.ebaPillButton li a span.ebaIconAPEXApps{background-position:0 -74px;}
			div.ebaLPSearchBar ul.ebaPillButton li.active a span.ebaIconAPEXApps{background-position:-24px -74px;}
			div.ebaLPSearchBar ul.ebaPillButton li a span.ebaIconWebsheets{background-position:0 -122px;}
			div.ebaLPSearchBar ul.ebaPillButton li.active a span.ebaIconWebsheets{background-position:-24px -122px;}
			div.ebaLPSearchBar ul.ebaPillButton li a span.ebaIconLinks{background-position:0 -146px;}
			div.ebaLPSearchBar ul.ebaPillButton li.active a span.ebaIconLinks{background-position:-24px -146px;}

			
div.ebaLPSearchBar ul.ebaPillButton li.ebaAddApp {
	position: relative;
	}

div.ebaLPSearchBar ul.ebaPillButton li.ebaAddApp a {
	padding: 0 3px 0 4px;
	}
			div.ebaLPSearchBar ul.ebaPillButton li a span.ebaIconAdd{background-position:0 -98px;}
			div.ebaLPSearchBar ul.ebaPillButton li.active a span.ebaIconAdd{background-position:-24px -98px;}

		div.ebaLPSearchBar ul.ebaPillButton li.active a,
		div.ebaLPSearchBar ul.ebaPillButton li.active a:active {
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#444));
			background: -moz-linear-gradient(top, #999, #444);
			color: #FFF;
			text-shadow: 0 1px 1px rgba(0,0,0,.5);
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.5) inset;
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.5) inset;
			}
		div.ebaLPSearchBar ul.ebaPillButton li a:active {
			background: -webkit-gradient(linear, 0 0, 0 100%, from(#DDD), to(#AAA));
			background: -moz-linear-gradient(top, #DDD, #AAA);
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.5) inset;
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 2px rgba(0,0,0,.5) inset;
			}
	

/* Label for Pill Under the Icons*/
div.ebaPill {
	float: left;
	margin: 8px 9px 0 0;
	}
	div.ebaLPSearchBar div.ebaPill ul {
		margin: 0;
		}
div.ebaLPSearchBar div.ebaPill span.ebaPillLabel {
	clear: left;
	display: block;
	margin: 0 auto;
	text-align: center;
	font: normal 11px/11px Arial, sans-serif;
	color: rgba(0,0,0,.75);
	text-shadow: 0 1px 0 rgba(255,255,255,.75);
	padding: 2px 0 0 0;
	margin: 0;
	}
	
div.ebaAddButton {
	float: left;
	display: block;
	position: relative;
	}
	
/* Add Menu */
div.ebaAddMenu {
	width: 140px;
	padding-top: 9px;
	background: url(../img/eba_apps_menu_carrot.png) 50% 0 no-repeat;
	position: absolute;
	z-index: 1000;
	display: none;
	left: -54px;
	top: 22px;
	}

div.ebaLPSearchBar div.ebaPullDownMenuContainer div.ebaPullDownMenu ul,
div.ebaAddMenu ul {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
	background: rgba(0,0,0,.8);
	padding: 6px 0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.35);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.35);
	}
	div.ebaLPSearchBar div.ebaPullDownMenuContainer div.ebaPullDownMenu ul {
		margin: 0;
		background: none;
		}
div.ebaLPSearchBar div.ebaPullDownMenuContainer div.ebaPullDownMenu ul li,
div.ebaAddMenu ul li {
	display: block;
	}
	div.ebaAddMenu ul li.ebaSeparator {
		margin: 5px 0 0 0;
		border-top: 1px solid rgba(255,255,255,.25);
		padding: 0 0 5px 0;
		}
div.ebaLPSearchBar div.ebaPullDownMenuContainer div.ebaPullDownMenu ul li a,
div.ebaAddMenu ul li a {
	display: block;
	font: normal 13px/24px Arial, sans-serif;
	color: #FFF;
	text-shadow: 0 1px 1px rgba(255,255,255,.15);
	text-decoration: none;
	padding: 0 10px;
	white-space: nowrap;
	}
div.ebaLPSearchBar div.ebaPullDownMenuContainer div.ebaPullDownMenu ul li a:hover,
div.ebaAddMenu ul li a:hover {
	background: #DDD;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.8)), to(rgba(255,255,255,.7)));
	background: -moz-linear-gradient(top, rgba(255,255,255,.8), rgba(255,255,255,.7));
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.7), inset 0 -1px 0 0 rgba(0,0,0,.7);
	-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.7), inset 0 -1px 0 0 rgba(0,0,0,.7);
	color: #000;
	text-shadow: none;
	}

/* Bread Crumbs */
/*<div class="ebaBreadCrumbs">
	<ul class="ebaBC">
		<li><a href="#">Home</a></li>
		<li class="ebaBCSeperator"></li>
		<li class="ebaBCCurrent"><span>Current Page</span></li>
	</ul>
</div>*/
div.ebaLPSearchBar div.ebaBreadCrumbs {
	padding: 2px 10px 12px 9px;
	}
div.ebaBreadCrumbs {
	padding: 0 0 6px 0;
	}
div.ebaBreadCrumbs ul.ebaBC {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	}
div.ebaBreadCrumbs ul.ebaBC li {
	display: block;
	float: left;
	}
	div.ebaBreadCrumbs ul.ebaBC li:first-child {
		border-radius: 4px 0 0 4px;
		-moz-border-radius: 4px 0 0 4px;
		border-left: 1px solid #777;
		padding-left: 8px;
		}
	div.ebaBreadCrumbs ul.ebaBC li:last-child {
		border-radius: 0 4px 4px 0;
		-moz-border-radius: 0 4px 4px 0;
		border-right: 1px solid #777;
		padding-right: 8px;
		}
	div.ebaBreadCrumbs ul.ebaBC li:only-child {
		border-radius: 4px;
		-moz-border-radius: 4px;
		border: 1px solid #777;
		padding: 0 8px;
		}
div.ebaBreadCrumbs ul.ebaBC li {
		display: block;
		color: rgba(0,0,0,.85);
		text-shadow: 0 1px 0 rgba(255,255,255,.75);
		text-decoration: none;
		font: normal 11px/20px Arial, sans-serif;
		border-top: 1px solid #777;
		border-bottom: 1px solid #777;
		border-right: none;
		padding: 0 2px;
		background: #CCC;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#CCC));
		background: -moz-linear-gradient(top, #FFF, #CCC);
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 0 rgba(255,255,255,.75) inset;
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,.75), 0 1px 0 rgba(255,255,255,.75) inset;
	}
	div.ebaBreadCrumbs ul.ebaBC li.ebaBCSeparator {
		width: 14px;
		padding: 0;
		}
	div.ebaBreadCrumbs ul.ebaBC li.ebaBCSeparator span {
		background: url(../img/eba_breadcrumb_separator.png) 0 50% no-repeat;
		display: block;
		width: 14px;
		height: 20px;
		}
	div.ebaBreadCrumbs ul.ebaBC li.ebaBCCurrent {
		font-weight: bold;
		}
	div.ebaBreadCrumbs ul.ebaBC li a {
		color: rgba(0,0,0,.85);
		text-decoration: none;
		}
		
div.ebaAppFrameBody {
	padding: 0 6px;
	}

/* FRAME */
div#ebaAppFrameTable {
	display: table;
	width: 100%;
	}
	div#ebaAppFrameTable div#ebaAppFrameLeft,
	div#ebaAppFrameTable div#ebaAppFrameRight {
		display: table-cell;
		padding: 16px;
		vertical-align: top;
		*display: block;
		*float: left;
		}
	div#ebaAppFrameTable div#ebaAppFrameLeft {
		border-right: 1px solid #B5BCC6;
		*width: 48%;
		}
	div#ebaAppFrameTable div#ebaAppFrameRight {
		width: 500px;
		*width: 44%;
		}
div#ebaAppFrameTable p {
	margin: 0 0 10px 0;
	font: normal 13px/18px Arial, sans-serif;
	}
div#ebaAppFrameTable ul {
  margin: 0 0 0 24px;
}

div#ebaAppFrameTable ul li {
	font: normal 13px/18px Arial, sans-serif;
	}
div#ebaAppFrameTable div#ebaAppFrameRight img {
	padding: 2px;
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.5);
	box-shadow: 0 2px 6px rgba(0,0,0,.5);	
	display: block;
	margin: 0 auto;
	background-color: #FFF;
	}
div#ebaAppFrameTable div#ebaAppFrameRight span.imgCaption {
	display: block;
	text-align: center;
	font: normal 11px/16px Arial, sans-serif;
	color: #666;
	padding: 10px 20px 40px 20px;
	}
div#ebaAppFrameTable div.ebaLargeDescription {
	font: normal 13px/18px Arial, sans-serif;
	}
	div#ebaAppFrameTable div.ebaLargeDescription ul {
		list-style: none;
		margin: 0 0 10px 0;
		padding: 0 0 0 15px;
		text-indent: -15px;
		}
	div#ebaAppFrameTable div.ebaLargeDescription ul li {
		}
	div#ebaAppFrameTable div.ebaLargeDescription ul li:before {
		content: "\00BB \0020";
		color: #888;
		padding-right: 5px;
		}
		
div.ebaAppAttributes {
  
}
div.ebaAppAttributes ul {
  margin: 0;
  list-style: none;
}
div.ebaAppAttributes ul li {
  display: block;
  padding: 4px 0;
}
div.ebaAppAttributes ul li label {
  display: inline-block;
  font: bold 11px/16px Arial, sans-serif;
  color: #666;
  width: 110px;
}
div.ebaAppAttributes ul li span {
  display: inline-block;
  font: normal 11px/16px Arial, sans-serif;
  color: #666;
}




		
/* Warning Icon */
img.ebaWarningDimLarge {
	width: 64px;
	height: 64px;
	background: url(../img/eba_warning_icons.png) 0 0 no-repeat;
	}
	
	
div.cContentContainer {
    padding-top: 5px;
}

div.cWizard div.cWizardContent table.formlayout label {
	width: 80px !important;
}