button {
	margin: 0 4px 0 4px;
	width:auto;
	overflow:visible;
	margin-top:0px;
}
button span {
	margin-top:0px;
}
div#apexir_columnsearch {
	border: 2px solid #606060;
	}
.dhtmlSubMenu {
	border: 2px solid #606060;
	}
.rounded-corner-region .rc-body-r,
.rounded-corner-region-alt .rc-body-r,
.rounded-corner-region-alt2 .rc-body-r {
	height: 1%;
	}

.fixed-header-report {
  position: relative;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fixed-header-report table thead tr {
  position: absolute;
  top: expression(this.offsetParent.scrollTop);
}

.fixed-header-report table thead {
  height: auto;
}

.fixed-header-report table tbody {
  height: auto;
}
