/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
/* ========================================================================== Search Component (used for Icon Search) ========================================================================== */
.dm-Search:empty:before { content: 'No Results'; font-size: 14px; text-align: left; padding: 16px 0; color: rgba(0, 0, 0, 0.5); display: block; }

/* Search Field ========================================================================== */
input#P4000_SEARCH { background: #FFF; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); border: 1px solid rgba(0, 0, 0, 0.075); }

.apex-theme-vita-dark input#P4000_SEARCH { background-color: #000; border-color: rgba(255, 255, 255, 0.075); }

#P4000_SIZE.apex-item-group--rc { margin: 0; }

/* Search Category Container ========================================================================== */
.dm-Search-category { display: block; background: #FFF; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); border: 1px solid rgba(0, 0, 0, 0.075); border-radius: 2px; padding: 16px; margin-bottom: 16px; }

.apex-theme-vita-dark .dm-Search-category { background-color: rgba(0, 0, 0, 0.5); border-color: rgba(255, 255, 255, 0.075); }

.dm-Search-title { text-transform: capitalize; margin-bottom: 0; padding: 8px; font-weight: 500; }

.dm-Search-list { list-style: none; margin: 0; padding: 0; clear: both; overflow: hidden; }

.dm-Search-list li { width: 25%; float: left; }

.dm-Search-result { display: block; color: #404040; padding: 4px; cursor: pointer; border-radius: 2px; overflow: hidden; }

.apex-theme-vita-dark .dm-Search-result { color: #ccc; }

.dm-Search-result:focus { outline: none; box-shadow: 0 0 0 1px #0572CE inset; background-color: #FFF; }

.apex-theme-vita-dark .dm-Search-result:focus { background-color: rgba(0, 0, 0, 0.5); }

.dm-Search-result:hover { background-color: #FFF; box-shadow: 0 0 0 1px #0572CE inset, 0 2px 1px rgba(0, 0, 0, 0.1); }

.apex-theme-vita-dark .dm-Search-result:hover { background-color: rgba(0, 0, 0, 0.5); }

.dm-Search-icon { float: left; padding: 8px 0 8px 8px; }

.dm-Search-icon .t-Icon { -webkit-transform-origin: left; transform-origin: left; vertical-align: top; line-height: 24px; }

.dm-Search-info { overflow: hidden; padding: 8px; }

.dm-Search-class { font-size: 14px; line-height: 24px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

@media (max-width: 768px) { .dm-Search-list li { width: 33.33%; } }

@media (max-width: 640px) { .dm-Search-list li { width: 50%; } }
