/* ==========================================================================
   Theme Configuration File
   ========================================================================== */
/**
 * Base Colors
 * 
 * Description:
 * Provides a base for the UI.
 * 
 * Usage:
 * General UI Background, Region Headers, Buttons
 */
/**
 * Highlight Colors
 * 
 * Description:
 * Used for providing emphasis or importance to UI components.
 * 
 * Usage:
 * Region Headers, Primary / Hot Buttons
 */
/**
 * Accent and Status Colors
 * 
 * Description:
 * Used for indicating state-based UI components, status, or accents.
 * 
 * Usage:
 * Warnings, Errors, Danger Text, Success, Focus
 */
/**
 * Application Based Colors
 * 
 * Description:
 * Used for applications within APEX development
 */
/* ==========================================================================
 Layout utilities
 ========================================================================== */
/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--1 {
  background-color: #5856D6;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--1 {
  color: #5856D6;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--2 {
  background-color: #007aff;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--2 {
  color: #007aff;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--3 {
  background-color: #34aadc;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--3 {
  color: #34aadc;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--4 {
  background-color: #5ac8fa;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--4 {
  color: #5ac8fa;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--5 {
  background-color: #4cd964;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--5 {
  color: #4cd964;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--6 {
  background-color: #ff2d55;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--6 {
  color: #ff2d55;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--7 {
  background-color: #ff3b30;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--7 {
  color: #ff3b30;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--8 {
  background-color: #ff9500;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--8 {
  color: #ff9500;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--9 {
  background-color: #ffcc00;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--9 {
  color: #ffcc00;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--10 {
  background-color: #8e8e93;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--10 {
  color: #8e8e93;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--11 {
  background-color: #7978de;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--11 {
  color: #7978de;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--12 {
  background-color: #3395ff;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--12 {
  color: #3395ff;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--13 {
  background-color: #5dbbe3;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--13 {
  color: #5dbbe3;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--14 {
  background-color: #7bd3fb;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--14 {
  color: #7bd3fb;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--15 {
  background-color: #70e183;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--15 {
  color: #70e183;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--16 {
  background-color: #ff5777;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--16 {
  color: #ff5777;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--17 {
  background-color: #ff6259;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--17 {
  color: #ff6259;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--18 {
  background-color: #ffaa33;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--18 {
  color: #ffaa33;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--19 {
  background-color: #ffd633;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--19 {
  color: #ffd633;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--20 {
  background-color: #a5a5a9;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--20 {
  color: #a5a5a9;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--21 {
  background-color: #4f4dc1;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--21 {
  color: #4f4dc1;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--22 {
  background-color: #006ee6;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--22 {
  color: #006ee6;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--23 {
  background-color: #2f99c6;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--23 {
  color: #2f99c6;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--24 {
  background-color: #51b4e1;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--24 {
  color: #51b4e1;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--25 {
  background-color: #44c35a;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--25 {
  color: #44c35a;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--26 {
  background-color: #e6294d;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--26 {
  color: #e6294d;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--27 {
  background-color: #e6352b;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--27 {
  color: #e6352b;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--28 {
  background-color: #e68600;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--28 {
  color: #e68600;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--29 {
  background-color: #e6b800;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--29 {
  color: #e6b800;
}

/* line 12, ../../scss/util/u-Color.scss */
.u-ColorBG--30 {
  background-color: #808084;
}

/* line 16, ../../scss/util/u-Color.scss */
.u-ColorFG--30 {
  color: #808084;
}

/* ==========================================================================
   Table Layout for Divs
   ========================================================================== */
/* line 5, ../../scss/util/u-Table.scss */
.u-Table {
  display: table;
  margin: 0;
  padding: 0;
  table-layout: auto;
  width: 100%;
}

/* line 13, ../../scss/util/u-Table.scss */
.u-Table-fill,
.u-Table-fit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}

/* line 20, ../../scss/util/u-Table.scss */
.u-Table-fill {
  width: 100%;
}

/* line 24, ../../scss/util/u-Table.scss */
.u-Table--middle .u-Table-fill,
.u-Table--middle .u-Table-fit {
  vertical-align: middle;
}

/* line 29, ../../scss/util/u-Table.scss */
.u-Table--bottom .u-Table-fill,
.u-Table--bottom .u-Table-fit {
  vertical-align: bottom;
}

/* line 34, ../../scss/util/u-Table.scss */
.u-Table--equal {
  table-layout: fixed;
}

/* line 38, ../../scss/util/u-Table.scss */
.u-Table--equal > .u-Table-fill,
.u-Table--equal > .u-Table-fit {
  width: auto;
}

/* line 44, ../../scss/util/u-Table.scss */
.u-Table--withBorder > .u-Table-fit, .u-Table--withBorder > .u-Table-fill {
  border-left: 1px solid #F0F0F0;
}
/* line 48, ../../scss/util/u-Table.scss */
.u-Table--withBorder > .u-Table-fit:first-child, .u-Table--withBorder > .u-Table-fill:first-child {
  border-left: none;
}

/* line 23, ../../scss/util/u-Text.scss */
.u-textSuccess {
  color: #24CB7F;
}

/* line 26, ../../scss/util/u-Text.scss */
.u-textDanger {
  color: red;
}

/* ==========================================================================
   Height Utility Classes
   ========================================================================== */
/**
 * Contain floats
 * 
 * Increment by 10px
 * Max Height: mxh[height]
 * Min Height: mnh[height]
 * Height: h[height]
 */
/* line 25, ../../scss/util/u-Height.scss */
.mxh10 {
  max-height: 10px;
}

/* line 26, ../../scss/util/u-Height.scss */
.mxh20 {
  max-height: 20px;
}

/* line 27, ../../scss/util/u-Height.scss */
.mxh30 {
  max-height: 30px;
}

/* line 28, ../../scss/util/u-Height.scss */
.mxh40 {
  max-height: 40px;
}

/* line 29, ../../scss/util/u-Height.scss */
.mxh50 {
  max-height: 50px;
}

/* line 30, ../../scss/util/u-Height.scss */
.mxh60 {
  max-height: 60px;
}

/* line 31, ../../scss/util/u-Height.scss */
.mxh70 {
  max-height: 70px;
}

/* line 32, ../../scss/util/u-Height.scss */
.mxh80 {
  max-height: 80px;
}

/* line 33, ../../scss/util/u-Height.scss */
.mxh90 {
  max-height: 90px;
}

/* line 34, ../../scss/util/u-Height.scss */
.mxh100 {
  max-height: 100px;
}

/* line 35, ../../scss/util/u-Height.scss */
.mxh110 {
  max-height: 110px;
}

/* line 36, ../../scss/util/u-Height.scss */
.mxh120 {
  max-height: 120px;
}

/* line 37, ../../scss/util/u-Height.scss */
.mxh130 {
  max-height: 130px;
}

/* line 38, ../../scss/util/u-Height.scss */
.mxh140 {
  max-height: 140px;
}

/* line 39, ../../scss/util/u-Height.scss */
.mxh150 {
  max-height: 150px;
}

/* line 40, ../../scss/util/u-Height.scss */
.mxh160 {
  max-height: 160px;
}

/* line 41, ../../scss/util/u-Height.scss */
.mxh170 {
  max-height: 170px;
}

/* line 42, ../../scss/util/u-Height.scss */
.mxh180 {
  max-height: 180px;
}

/* line 43, ../../scss/util/u-Height.scss */
.mxh190 {
  max-height: 190px;
}

/* line 44, ../../scss/util/u-Height.scss */
.mxh200 {
  max-height: 200px;
}

/* line 45, ../../scss/util/u-Height.scss */
.mxh210 {
  max-height: 210px;
}

/* line 46, ../../scss/util/u-Height.scss */
.mxh220 {
  max-height: 220px;
}

/* line 47, ../../scss/util/u-Height.scss */
.mxh230 {
  max-height: 230px;
}

/* line 48, ../../scss/util/u-Height.scss */
.mxh240 {
  max-height: 240px;
}

/* line 49, ../../scss/util/u-Height.scss */
.mxh250 {
  max-height: 250px;
}

/* line 50, ../../scss/util/u-Height.scss */
.mxh260 {
  max-height: 260px;
}

/* line 51, ../../scss/util/u-Height.scss */
.mxh270 {
  max-height: 270px;
}

/* line 52, ../../scss/util/u-Height.scss */
.mxh280 {
  max-height: 280px;
}

/* line 53, ../../scss/util/u-Height.scss */
.mxh290 {
  max-height: 290px;
}

/* line 54, ../../scss/util/u-Height.scss */
.mxh300 {
  max-height: 300px;
}

/* line 55, ../../scss/util/u-Height.scss */
.mxh310 {
  max-height: 310px;
}

/* line 56, ../../scss/util/u-Height.scss */
.mxh320 {
  max-height: 320px;
}

/* line 57, ../../scss/util/u-Height.scss */
.mxh330 {
  max-height: 330px;
}

/* line 58, ../../scss/util/u-Height.scss */
.mxh340 {
  max-height: 340px;
}

/* line 59, ../../scss/util/u-Height.scss */
.mxh350 {
  max-height: 350px;
}

/* line 60, ../../scss/util/u-Height.scss */
.mxh360 {
  max-height: 360px;
}

/* line 61, ../../scss/util/u-Height.scss */
.mxh370 {
  max-height: 370px;
}

/* line 62, ../../scss/util/u-Height.scss */
.mxh380 {
  max-height: 380px;
}

/* line 63, ../../scss/util/u-Height.scss */
.mxh390 {
  max-height: 390px;
}

/* line 64, ../../scss/util/u-Height.scss */
.mxh400 {
  max-height: 400px;
}

/* line 65, ../../scss/util/u-Height.scss */
.mxh410 {
  max-height: 410px;
}

/* line 66, ../../scss/util/u-Height.scss */
.mxh420 {
  max-height: 420px;
}

/* line 67, ../../scss/util/u-Height.scss */
.mxh430 {
  max-height: 430px;
}

/* line 68, ../../scss/util/u-Height.scss */
.mxh440 {
  max-height: 440px;
}

/* line 69, ../../scss/util/u-Height.scss */
.mxh450 {
  max-height: 450px;
}

/* line 70, ../../scss/util/u-Height.scss */
.mxh460 {
  max-height: 460px;
}

/* line 71, ../../scss/util/u-Height.scss */
.mxh470 {
  max-height: 470px;
}

/* line 72, ../../scss/util/u-Height.scss */
.mxh480 {
  max-height: 480px;
}

/* line 73, ../../scss/util/u-Height.scss */
.mxh490 {
  max-height: 490px;
}

/* line 74, ../../scss/util/u-Height.scss */
.mxh500 {
  max-height: 500px;
}

/* line 75, ../../scss/util/u-Height.scss */
.mxh510 {
  max-height: 510px;
}

/* line 76, ../../scss/util/u-Height.scss */
.mxh520 {
  max-height: 520px;
}

/* line 77, ../../scss/util/u-Height.scss */
.mxh530 {
  max-height: 530px;
}

/* line 78, ../../scss/util/u-Height.scss */
.mxh540 {
  max-height: 540px;
}

/* line 79, ../../scss/util/u-Height.scss */
.mxh550 {
  max-height: 550px;
}

/* line 80, ../../scss/util/u-Height.scss */
.mxh560 {
  max-height: 560px;
}

/* line 81, ../../scss/util/u-Height.scss */
.mxh570 {
  max-height: 570px;
}

/* line 82, ../../scss/util/u-Height.scss */
.mxh580 {
  max-height: 580px;
}

/* line 83, ../../scss/util/u-Height.scss */
.mxh590 {
  max-height: 590px;
}

/* line 84, ../../scss/util/u-Height.scss */
.mxh600 {
  max-height: 600px;
}

/* line 85, ../../scss/util/u-Height.scss */
.mxh610 {
  max-height: 610px;
}

/* line 86, ../../scss/util/u-Height.scss */
.mxh620 {
  max-height: 620px;
}

/* line 87, ../../scss/util/u-Height.scss */
.mxh630 {
  max-height: 630px;
}

/* line 88, ../../scss/util/u-Height.scss */
.mxh640 {
  max-height: 640px;
}

/* line 89, ../../scss/util/u-Height.scss */
.mxh650 {
  max-height: 650px;
}

/* line 90, ../../scss/util/u-Height.scss */
.mxh660 {
  max-height: 660px;
}

/* line 91, ../../scss/util/u-Height.scss */
.mxh670 {
  max-height: 670px;
}

/* line 92, ../../scss/util/u-Height.scss */
.mxh680 {
  max-height: 680px;
}

/* line 93, ../../scss/util/u-Height.scss */
.mxh690 {
  max-height: 690px;
}

/* line 94, ../../scss/util/u-Height.scss */
.mxh700 {
  max-height: 700px;
}

/* line 95, ../../scss/util/u-Height.scss */
.mxh710 {
  max-height: 710px;
}

/* line 96, ../../scss/util/u-Height.scss */
.mxh720 {
  max-height: 720px;
}

/* line 97, ../../scss/util/u-Height.scss */
.mxh730 {
  max-height: 730px;
}

/* line 98, ../../scss/util/u-Height.scss */
.mxh740 {
  max-height: 740px;
}

/* line 99, ../../scss/util/u-Height.scss */
.mxh750 {
  max-height: 750px;
}

/* line 100, ../../scss/util/u-Height.scss */
.mxh760 {
  max-height: 760px;
}

/* line 101, ../../scss/util/u-Height.scss */
.mxh770 {
  max-height: 770px;
}

/* line 102, ../../scss/util/u-Height.scss */
.mxh780 {
  max-height: 780px;
}

/* line 103, ../../scss/util/u-Height.scss */
.mxh790 {
  max-height: 790px;
}

/* line 104, ../../scss/util/u-Height.scss */
.mxh800 {
  max-height: 800px;
}

/* line 107, ../../scss/util/u-Height.scss */
.mnh10 {
  min-height: 10px;
}

/* line 108, ../../scss/util/u-Height.scss */
.mnh20 {
  min-height: 20px;
}

/* line 109, ../../scss/util/u-Height.scss */
.mnh30 {
  min-height: 30px;
}

/* line 110, ../../scss/util/u-Height.scss */
.mnh40 {
  min-height: 40px;
}

/* line 111, ../../scss/util/u-Height.scss */
.mnh50 {
  min-height: 50px;
}

/* line 112, ../../scss/util/u-Height.scss */
.mnh60 {
  min-height: 60px;
}

/* line 113, ../../scss/util/u-Height.scss */
.mnh70 {
  min-height: 70px;
}

/* line 114, ../../scss/util/u-Height.scss */
.mnh80 {
  min-height: 80px;
}

/* line 115, ../../scss/util/u-Height.scss */
.mnh90 {
  min-height: 90px;
}

/* line 116, ../../scss/util/u-Height.scss */
.mnh100 {
  min-height: 100px;
}

/* line 117, ../../scss/util/u-Height.scss */
.mnh110 {
  min-height: 110px;
}

/* line 118, ../../scss/util/u-Height.scss */
.mnh120 {
  min-height: 120px;
}

/* line 119, ../../scss/util/u-Height.scss */
.mnh130 {
  min-height: 130px;
}

/* line 120, ../../scss/util/u-Height.scss */
.mnh140 {
  min-height: 140px;
}

/* line 121, ../../scss/util/u-Height.scss */
.mnh150 {
  min-height: 150px;
}

/* line 122, ../../scss/util/u-Height.scss */
.mnh160 {
  min-height: 160px;
}

/* line 123, ../../scss/util/u-Height.scss */
.mnh170 {
  min-height: 170px;
}

/* line 124, ../../scss/util/u-Height.scss */
.mnh180 {
  min-height: 180px;
}

/* line 125, ../../scss/util/u-Height.scss */
.mnh190 {
  min-height: 190px;
}

/* line 126, ../../scss/util/u-Height.scss */
.mnh200 {
  min-height: 200px;
}

/* line 127, ../../scss/util/u-Height.scss */
.mnh210 {
  min-height: 210px;
}

/* line 128, ../../scss/util/u-Height.scss */
.mnh220 {
  min-height: 220px;
}

/* line 129, ../../scss/util/u-Height.scss */
.mnh230 {
  min-height: 230px;
}

/* line 130, ../../scss/util/u-Height.scss */
.mnh240 {
  min-height: 240px;
}

/* line 131, ../../scss/util/u-Height.scss */
.mnh250 {
  min-height: 250px;
}

/* line 132, ../../scss/util/u-Height.scss */
.mnh260 {
  min-height: 260px;
}

/* line 133, ../../scss/util/u-Height.scss */
.mnh270 {
  min-height: 270px;
}

/* line 134, ../../scss/util/u-Height.scss */
.mnh280 {
  min-height: 280px;
}

/* line 135, ../../scss/util/u-Height.scss */
.mnh290 {
  min-height: 290px;
}

/* line 136, ../../scss/util/u-Height.scss */
.mnh300 {
  min-height: 300px;
}

/* line 137, ../../scss/util/u-Height.scss */
.mnh310 {
  min-height: 310px;
}

/* line 138, ../../scss/util/u-Height.scss */
.mnh320 {
  min-height: 320px;
}

/* line 139, ../../scss/util/u-Height.scss */
.mnh330 {
  min-height: 330px;
}

/* line 140, ../../scss/util/u-Height.scss */
.mnh340 {
  min-height: 340px;
}

/* line 141, ../../scss/util/u-Height.scss */
.mnh350 {
  min-height: 350px;
}

/* line 142, ../../scss/util/u-Height.scss */
.mnh360 {
  min-height: 360px;
}

/* line 143, ../../scss/util/u-Height.scss */
.mnh370 {
  min-height: 370px;
}

/* line 144, ../../scss/util/u-Height.scss */
.mnh380 {
  min-height: 380px;
}

/* line 145, ../../scss/util/u-Height.scss */
.mnh390 {
  min-height: 390px;
}

/* line 146, ../../scss/util/u-Height.scss */
.mnh400 {
  min-height: 400px;
}

/* line 147, ../../scss/util/u-Height.scss */
.mnh410 {
  min-height: 410px;
}

/* line 148, ../../scss/util/u-Height.scss */
.mnh420 {
  min-height: 420px;
}

/* line 149, ../../scss/util/u-Height.scss */
.mnh430 {
  min-height: 430px;
}

/* line 150, ../../scss/util/u-Height.scss */
.mnh440 {
  min-height: 440px;
}

/* line 151, ../../scss/util/u-Height.scss */
.mnh450 {
  min-height: 450px;
}

/* line 152, ../../scss/util/u-Height.scss */
.mnh460 {
  min-height: 460px;
}

/* line 153, ../../scss/util/u-Height.scss */
.mnh470 {
  min-height: 470px;
}

/* line 154, ../../scss/util/u-Height.scss */
.mnh480 {
  min-height: 480px;
}

/* line 155, ../../scss/util/u-Height.scss */
.mnh490 {
  min-height: 490px;
}

/* line 156, ../../scss/util/u-Height.scss */
.mnh500 {
  min-height: 500px;
}

/* line 157, ../../scss/util/u-Height.scss */
.mnh510 {
  min-height: 510px;
}

/* line 158, ../../scss/util/u-Height.scss */
.mnh520 {
  min-height: 520px;
}

/* line 159, ../../scss/util/u-Height.scss */
.mnh530 {
  min-height: 530px;
}

/* line 160, ../../scss/util/u-Height.scss */
.mnh540 {
  min-height: 540px;
}

/* line 161, ../../scss/util/u-Height.scss */
.mnh550 {
  min-height: 550px;
}

/* line 162, ../../scss/util/u-Height.scss */
.mnh560 {
  min-height: 560px;
}

/* line 163, ../../scss/util/u-Height.scss */
.mnh570 {
  min-height: 570px;
}

/* line 164, ../../scss/util/u-Height.scss */
.mnh580 {
  min-height: 580px;
}

/* line 165, ../../scss/util/u-Height.scss */
.mnh590 {
  min-height: 590px;
}

/* line 166, ../../scss/util/u-Height.scss */
.mnh600 {
  min-height: 600px;
}

/* line 167, ../../scss/util/u-Height.scss */
.mnh610 {
  min-height: 610px;
}

/* line 168, ../../scss/util/u-Height.scss */
.mnh620 {
  min-height: 620px;
}

/* line 169, ../../scss/util/u-Height.scss */
.mnh630 {
  min-height: 630px;
}

/* line 170, ../../scss/util/u-Height.scss */
.mnh640 {
  min-height: 640px;
}

/* line 171, ../../scss/util/u-Height.scss */
.mnh650 {
  min-height: 650px;
}

/* line 172, ../../scss/util/u-Height.scss */
.mnh660 {
  min-height: 660px;
}

/* line 173, ../../scss/util/u-Height.scss */
.mnh670 {
  min-height: 670px;
}

/* line 174, ../../scss/util/u-Height.scss */
.mnh680 {
  min-height: 680px;
}

/* line 175, ../../scss/util/u-Height.scss */
.mnh690 {
  min-height: 690px;
}

/* line 176, ../../scss/util/u-Height.scss */
.mnh700 {
  min-height: 700px;
}

/* line 177, ../../scss/util/u-Height.scss */
.mnh710 {
  min-height: 710px;
}

/* line 178, ../../scss/util/u-Height.scss */
.mnh720 {
  min-height: 720px;
}

/* line 179, ../../scss/util/u-Height.scss */
.mnh730 {
  min-height: 730px;
}

/* line 180, ../../scss/util/u-Height.scss */
.mnh740 {
  min-height: 740px;
}

/* line 181, ../../scss/util/u-Height.scss */
.mnh750 {
  min-height: 750px;
}

/* line 182, ../../scss/util/u-Height.scss */
.mnh760 {
  min-height: 760px;
}

/* line 183, ../../scss/util/u-Height.scss */
.mnh770 {
  min-height: 770px;
}

/* line 184, ../../scss/util/u-Height.scss */
.mnh780 {
  min-height: 780px;
}

/* line 185, ../../scss/util/u-Height.scss */
.mnh790 {
  min-height: 790px;
}

/* line 186, ../../scss/util/u-Height.scss */
.mnh800 {
  min-height: 800px;
}

/* line 189, ../../scss/util/u-Height.scss */
.h10 {
  height: 10px;
}

/* line 190, ../../scss/util/u-Height.scss */
.h20 {
  height: 20px;
}

/* line 191, ../../scss/util/u-Height.scss */
.h30 {
  height: 30px;
}

/* line 192, ../../scss/util/u-Height.scss */
.h40 {
  height: 40px;
}

/* line 193, ../../scss/util/u-Height.scss */
.h50 {
  height: 50px;
}

/* line 194, ../../scss/util/u-Height.scss */
.h60 {
  height: 60px;
}

/* line 195, ../../scss/util/u-Height.scss */
.h70 {
  height: 70px;
}

/* line 196, ../../scss/util/u-Height.scss */
.h80 {
  height: 80px;
}

/* line 197, ../../scss/util/u-Height.scss */
.h90 {
  height: 90px;
}

/* line 198, ../../scss/util/u-Height.scss */
.h100 {
  height: 100px;
}

/* line 199, ../../scss/util/u-Height.scss */
.h110 {
  height: 110px;
}

/* line 200, ../../scss/util/u-Height.scss */
.h120 {
  height: 120px;
}

/* line 201, ../../scss/util/u-Height.scss */
.h130 {
  height: 130px;
}

/* line 202, ../../scss/util/u-Height.scss */
.h140 {
  height: 140px;
}

/* line 203, ../../scss/util/u-Height.scss */
.h150 {
  height: 150px;
}

/* line 204, ../../scss/util/u-Height.scss */
.h160 {
  height: 160px;
}

/* line 205, ../../scss/util/u-Height.scss */
.h170 {
  height: 170px;
}

/* line 206, ../../scss/util/u-Height.scss */
.h180 {
  height: 180px;
}

/* line 207, ../../scss/util/u-Height.scss */
.h190 {
  height: 190px;
}

/* line 208, ../../scss/util/u-Height.scss */
.h200 {
  height: 200px;
}

/* line 209, ../../scss/util/u-Height.scss */
.h210 {
  height: 210px;
}

/* line 210, ../../scss/util/u-Height.scss */
.h220 {
  height: 220px;
}

/* line 211, ../../scss/util/u-Height.scss */
.h230 {
  height: 230px;
}

/* line 212, ../../scss/util/u-Height.scss */
.h240 {
  height: 240px;
}

/* line 213, ../../scss/util/u-Height.scss */
.h250 {
  height: 250px;
}

/* line 214, ../../scss/util/u-Height.scss */
.h260 {
  height: 260px;
}

/* line 215, ../../scss/util/u-Height.scss */
.h270 {
  height: 270px;
}

/* line 216, ../../scss/util/u-Height.scss */
.h280 {
  height: 280px;
}

/* line 217, ../../scss/util/u-Height.scss */
.h290 {
  height: 290px;
}

/* line 218, ../../scss/util/u-Height.scss */
.h300 {
  height: 300px;
}

/* line 219, ../../scss/util/u-Height.scss */
.h310 {
  height: 310px;
}

/* line 220, ../../scss/util/u-Height.scss */
.h320 {
  height: 320px;
}

/* line 221, ../../scss/util/u-Height.scss */
.h330 {
  height: 330px;
}

/* line 222, ../../scss/util/u-Height.scss */
.h340 {
  height: 340px;
}

/* line 223, ../../scss/util/u-Height.scss */
.h350 {
  height: 350px;
}

/* line 224, ../../scss/util/u-Height.scss */
.h360 {
  height: 360px;
}

/* line 225, ../../scss/util/u-Height.scss */
.h370 {
  height: 370px;
}

/* line 226, ../../scss/util/u-Height.scss */
.h380 {
  height: 380px;
}

/* line 227, ../../scss/util/u-Height.scss */
.h390 {
  height: 390px;
}

/* line 228, ../../scss/util/u-Height.scss */
.h400 {
  height: 400px;
}

/* line 229, ../../scss/util/u-Height.scss */
.h410 {
  height: 410px;
}

/* line 230, ../../scss/util/u-Height.scss */
.h420 {
  height: 420px;
}

/* line 231, ../../scss/util/u-Height.scss */
.h430 {
  height: 430px;
}

/* line 232, ../../scss/util/u-Height.scss */
.h440 {
  height: 440px;
}

/* line 233, ../../scss/util/u-Height.scss */
.h450 {
  height: 450px;
}

/* line 234, ../../scss/util/u-Height.scss */
.h460 {
  height: 460px;
}

/* line 235, ../../scss/util/u-Height.scss */
.h470 {
  height: 470px;
}

/* line 236, ../../scss/util/u-Height.scss */
.h480 {
  height: 480px;
}

/* line 237, ../../scss/util/u-Height.scss */
.h490 {
  height: 490px;
}

/* line 238, ../../scss/util/u-Height.scss */
.h500 {
  height: 500px;
}

/* line 239, ../../scss/util/u-Height.scss */
.h510 {
  height: 510px;
}

/* line 240, ../../scss/util/u-Height.scss */
.h520 {
  height: 520px;
}

/* line 241, ../../scss/util/u-Height.scss */
.h530 {
  height: 530px;
}

/* line 242, ../../scss/util/u-Height.scss */
.h540 {
  height: 540px;
}

/* line 243, ../../scss/util/u-Height.scss */
.h550 {
  height: 550px;
}

/* line 244, ../../scss/util/u-Height.scss */
.h560 {
  height: 560px;
}

/* line 245, ../../scss/util/u-Height.scss */
.h570 {
  height: 570px;
}

/* line 246, ../../scss/util/u-Height.scss */
.h580 {
  height: 580px;
}

/* line 247, ../../scss/util/u-Height.scss */
.h590 {
  height: 590px;
}

/* line 248, ../../scss/util/u-Height.scss */
.h600 {
  height: 600px;
}

/* line 249, ../../scss/util/u-Height.scss */
.h610 {
  height: 610px;
}

/* line 250, ../../scss/util/u-Height.scss */
.h620 {
  height: 620px;
}

/* line 251, ../../scss/util/u-Height.scss */
.h630 {
  height: 630px;
}

/* line 252, ../../scss/util/u-Height.scss */
.h640 {
  height: 640px;
}

/* line 253, ../../scss/util/u-Height.scss */
.h650 {
  height: 650px;
}

/* line 254, ../../scss/util/u-Height.scss */
.h660 {
  height: 660px;
}

/* line 255, ../../scss/util/u-Height.scss */
.h670 {
  height: 670px;
}

/* line 256, ../../scss/util/u-Height.scss */
.h680 {
  height: 680px;
}

/* line 257, ../../scss/util/u-Height.scss */
.h690 {
  height: 690px;
}

/* line 258, ../../scss/util/u-Height.scss */
.h700 {
  height: 700px;
}

/* line 259, ../../scss/util/u-Height.scss */
.h710 {
  height: 710px;
}

/* line 260, ../../scss/util/u-Height.scss */
.h720 {
  height: 720px;
}

/* line 261, ../../scss/util/u-Height.scss */
.h730 {
  height: 730px;
}

/* line 262, ../../scss/util/u-Height.scss */
.h740 {
  height: 740px;
}

/* line 263, ../../scss/util/u-Height.scss */
.h750 {
  height: 750px;
}

/* line 264, ../../scss/util/u-Height.scss */
.h760 {
  height: 760px;
}

/* line 265, ../../scss/util/u-Height.scss */
.h770 {
  height: 770px;
}

/* line 266, ../../scss/util/u-Height.scss */
.h780 {
  height: 780px;
}

/* line 267, ../../scss/util/u-Height.scss */
.h790 {
  height: 790px;
}

/* line 268, ../../scss/util/u-Height.scss */
.h800 {
  height: 800px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h100 > .a-Region-body {
  height: 100px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h110 > .a-Region-body {
  height: 110px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h120 > .a-Region-body {
  height: 120px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h130 > .a-Region-body {
  height: 130px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h140 > .a-Region-body {
  height: 140px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h150 > .a-Region-body {
  height: 150px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h160 > .a-Region-body {
  height: 160px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h170 > .a-Region-body {
  height: 170px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h180 > .a-Region-body {
  height: 180px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h190 > .a-Region-body {
  height: 190px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h200 > .a-Region-body {
  height: 200px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h210 > .a-Region-body {
  height: 210px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h220 > .a-Region-body {
  height: 220px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h230 > .a-Region-body {
  height: 230px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h240 > .a-Region-body {
  height: 240px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h250 > .a-Region-body {
  height: 250px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h260 > .a-Region-body {
  height: 260px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h270 > .a-Region-body {
  height: 270px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h280 > .a-Region-body {
  height: 280px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h290 > .a-Region-body {
  height: 290px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h300 > .a-Region-body {
  height: 300px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h310 > .a-Region-body {
  height: 310px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h320 > .a-Region-body {
  height: 320px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h330 > .a-Region-body {
  height: 330px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h340 > .a-Region-body {
  height: 340px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h350 > .a-Region-body {
  height: 350px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h360 > .a-Region-body {
  height: 360px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h370 > .a-Region-body {
  height: 370px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h380 > .a-Region-body {
  height: 380px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h390 > .a-Region-body {
  height: 390px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h400 > .a-Region-body {
  height: 400px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h410 > .a-Region-body {
  height: 410px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h420 > .a-Region-body {
  height: 420px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h430 > .a-Region-body {
  height: 430px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h440 > .a-Region-body {
  height: 440px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h450 > .a-Region-body {
  height: 450px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h460 > .a-Region-body {
  height: 460px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h470 > .a-Region-body {
  height: 470px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h480 > .a-Region-body {
  height: 480px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h490 > .a-Region-body {
  height: 490px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h500 > .a-Region-body {
  height: 500px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h510 > .a-Region-body {
  height: 510px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h520 > .a-Region-body {
  height: 520px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h530 > .a-Region-body {
  height: 530px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h540 > .a-Region-body {
  height: 540px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h550 > .a-Region-body {
  height: 550px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h560 > .a-Region-body {
  height: 560px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h570 > .a-Region-body {
  height: 570px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h580 > .a-Region-body {
  height: 580px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h590 > .a-Region-body {
  height: 590px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h600 > .a-Region-body {
  height: 600px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h610 > .a-Region-body {
  height: 610px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h620 > .a-Region-body {
  height: 620px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h630 > .a-Region-body {
  height: 630px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h640 > .a-Region-body {
  height: 640px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h650 > .a-Region-body {
  height: 650px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h660 > .a-Region-body {
  height: 660px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h670 > .a-Region-body {
  height: 670px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h680 > .a-Region-body {
  height: 680px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h690 > .a-Region-body {
  height: 690px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h700 > .a-Region-body {
  height: 700px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h710 > .a-Region-body {
  height: 710px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h720 > .a-Region-body {
  height: 720px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h730 > .a-Region-body {
  height: 730px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h740 > .a-Region-body {
  height: 740px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h750 > .a-Region-body {
  height: 750px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h760 > .a-Region-body {
  height: 760px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h770 > .a-Region-body {
  height: 770px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h780 > .a-Region-body {
  height: 780px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h790 > .a-Region-body {
  height: 790px;
}

/* line 272, ../../scss/util/u-Height.scss */
.i-h800 > .a-Region-body {
  height: 800px;
}

/* ==========================================================================
 Layout utilities
 ========================================================================== */
/**
* Float Right / Left
*/
/* line 39, ../../scss/util/u-Layout.scss */
.u-staticWidth {
  padding: 64px 5%;
}
/* line 43, ../../scss/util/u-Layout.scss */
.u-staticWidth .apex-grid-container {
  width: 100%;
}

/* line 48, ../../scss/util/u-Layout.scss */
.u-circlePhoto {
  border-radius: 100%;
}

/* line 55, ../../scss/util/u-Layout.scss */
.u-Layout--centerVertically {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 88, ../../scss/util/u-Layout.scss */
.u-Border--bottom {
  border-bottom-width: 1px !important;
}

/* line 91, ../../scss/util/u-Layout.scss */
.u-Border--top {
  border-top-width: 1px !important;
}

/* ==========================================================================
 Report Utility Class
 ---
 Slightly updated styles to better fit Builder
 ========================================================================== */
/* line 8, ../../scss/util/u-Report.scss */
.u-Report .u-Report-header,
.u-Report th {
  padding: 12px;
}
/* line 12, ../../scss/util/u-Report.scss */
.u-Report td {
  padding: 8px 12px;
}
/* line 15, ../../scss/util/u-Report.scss */
.u-Report td,
.u-Report th {
  border-left-color: #F0F0F0;
  border-top-color: #F0F0F0;
}
/* line 20, ../../scss/util/u-Report.scss */
.u-Report tr td:last-child,
.u-Report tr th:last-child {
  border-right-color: #F0F0F0;
}
/* line 24, ../../scss/util/u-Report.scss */
.u-Report tr:last-child td {
  border-bottom-color: #F0F0F0;
}
