<!--
/* Bug 2331042 - mskees 2002.08.20 - tabs and button background are shown as 
links, actually any background-color style failed due to a case sensitivity
in the style sheet and generated html.  Forcing all class names to be lower */
.color1 {
	background-color:#000000 }
.color2 {
	background-color:#003366 }
.color3 {
	background-color:#336699 }
.color4 {
	background-color:#6699CC }
.color5 {
	background-color:#99CCFF }
.color6 {
	background-color:#FFFFFF }
.colorg2 {
	background-color:#333333 }
.colorg3 {
	background-color:#666666 }
.colorg4 {
	background-color:#999999 }
.colorg5 {
	background-color:#cccccc }
.appswindow {
	background-color:#336699 }
.biswindow {
	background-color:#FFFFFF }
.printwindow {
	background-color:#FFFFFF }
.homewindow {
	background-color:#FFFFFF }
.highlight {
	background-color:#FFFFFF }
.shadow {
	background-color:#666666 }
.darkshadow {
	background-color:#333333 }
.panel {
	background-color:#CCCCCC }
.softpanel {
	background-image:url(images/page_background_blue.gif);
	background-color:#99CCFF}
.helptext {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt }
.promptblack {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt }
.promptwhite {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt }
.datablack {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	font-weight:bold }
.datawhite {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt;
	font-weight:bold }
.datatotals {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	font-weight:bold }
.infoblack {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt }
.infowhite {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt }
.alerttext {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt }
.alerttitle {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:12pt;
	font-weight:bold }
.fielddata {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	font-weight:bold }
.link {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	font-size:10pt; }
.linkbold {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	font-weight:bold; 
	font-size:10pt; }
.widefielddata {
	font-family:"Arial narrow", Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt }
.tableheader {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	vertical-align:bottom }
.tableheadercenter {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	text-align:center; 
	vertical-align:bottom }
.tableheaderleft {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	text-align:left; 
	vertical-align:bottom }
.tableheaderright {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	text-align:right; 
	vertical-align:bottom }
.sortheader {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	text-decoration:none }	
.tablecell {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#000000; 
	font-size:10pt; 
	background-color:#FFFFFF }
.tablerowheader {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC }
.tablecellshaded {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	background-color:#99CCFF }
.tablecellgrayshaded {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	background-color:#CCCCCC }
.inputcell {
	font-family:"Arial narrow", Arial, Helvetica, Geneva, sans-serif;
	color:#000000; 
	font-size:10pt; 
	background-color:#FFFFFF }
.inputcellshaded {
	font-family:"Arial narrow", Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt; 
	background-color:#99CCFF }
.tablesurround {
	background-color:#6699CC }
.printheader {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	text-align:center; 
	vertical-align:bottom }
.printcell {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#000000; 
	font-size:10pt; 
	background-color:#FFFFFF }
.printrowheader {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC }
.printcellshaded {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	background-color:#99CCFF }
.printsurround {
	background-color:#6699CC }
.bisheader {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	text-align:center; 
	vertical-align:bottom }
.biscell {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#000000; 
	font-size:10pt; 
	background-color:#FFFFFF }
.bisrowheader {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC }
.biscellshaded {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	background-color:#99CCFF }
.bissurround {
	background-color:#6699CC }
.button {
	background-color:#CCCCCC }
.buttontext {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000;	
	font-size:10pt;
	text-decoration:none }
.disabledbuttontext {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#999999;	
	font-size:10pt;
	text-decoration:none }
.toolbar {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#336699;
	font-size:13PT;
	font-style:italic;	
	font-weight:bold;
	background-color:#CCCCCC }
.paneltitle {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#FFFFFF;
	font-size:10PT;
	font-weight:bold;
	background-color:#003366 }
.tabtitle {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#FFFFFF;
	font-size:10PT;
	font-weight:bold }
.currenttab {
	background-color:#CCCCCC }
.currenttabtext {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000;
	font-size:10PT;
	text-decoration:none }
.othertab {
	background-color:#6699CC }
.othertabtext {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000;
	font-size:10PT;
	text-decoration:none }
.disabledtabtext {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#CCCCCC;	
	font-size:10pt;
	text-decoration:none }
.weekdaycell {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#FFFFFF;
	font-size:10PT;
	font-weight: bold;
	background-color: #6699CC }
.monthdaycell {
	background-color: #FFFFFF }
.daylink {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color: #000000;
	font-size:10PT;
	font-weight: bold;
	text-decoration:none }
.disableddaylink {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color: #999999;
	font-size:10PT;
	font-weight: bold;
	text-decoration:none }
.groupbox {
	background-color:#333333 }
.groupboxlayer {
	position:absolute;
	layer-background-color:#FFFFFF; 
	font-family:Arial, Geneva, arial, sans-serif; 
	font-size:14pt;
	color:#000000; 
	font-weight:bold;
	visibility:hidden }
.groupboxtext {
	font-family:Arial, Geneva, arial, sans-serif; 
	font-size:12pt;
	color:#000000; 
	font-weight:bold }
.tree {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000;	
	font-size:10pt;
	text-decoration:none; }
.treeselected {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	background-color:#000099;
	color:#FFFFFF;	
	font-weight:bold;
	font-size:10pt;
	text-decoration:none; } 
.divpanel {
        font-weight:bold;
        background-color: #CCCCCC;
        layer-background-color: #CCCCCC;
        position:absolute;
        top:0px;
        border-width: 0px;
        z-index:1; }
.divfloatpanel {
        font-weight:bold;
        background-color: #CCCCCC;
        layer-background-color: #CCCCCC;
        position:absolute;
        top:0px;
        border-width: 0px;
        z-index:2; }
	
	
.sectionbar {}
.sectiontext {
        font-family:Arial, sans-serif;
        color:#FFFFFF;
        font-size:10pt;
        font-weight: bold;
        background-color:#4466CC;
        text-align:left;
        vertical-align:bottom }
.subsectionbar {}
.subsectiontext {
        font-family:Arial, sans-serif;
        color:#FFFFFF;
        font-size:10pt;
        font-weight: bold;
        background-color:#6699CC;
        text-align:left;
        vertical-align:bottom }
.buffercolor {
        background-color:#666666 }

.menucurrent {}
.menuheaderbar {}
.menuheadertext {}
.menusubheaderbar {}
.menusubheadertext {}
.menuverticalbar {}

-->
