<!--
BODY {
/*    background-color: #EFE7D6; */
    background-color: #CCCCCC;
}

SELECT {
  color: black; font-size: 7pt; font-family:arial;
}

P {
    FONT-FAMILY: arial, helvetica, sans-serif
}

INPUT {
  color: black; font-size: 9pt; font-family:arial;
}

TH {
  color: black; font-size: 8pt; font-family:arial;
}

TD {
    VERTICAL-ALIGN: top;
    color: black; font-family: verdana,arial,helvetica; 
    font-size: 8pt;
}

AH:link { COLOR:#FAEBD7 } 
AH:visited { COLOR:WHITE }

AD:link { COLOR:#0000FF } 
AD:visited { COLOR:#8A2BE2 }


/* begin caltech webenr customizations */
.sameColorLink:link { COLOR: WHITE  }
.sameColorLink:visited { COLOR: WHITE }
.sameColorLink:active { COLOR: WHITE }
/*.sameColorLink:hover { COLOR: AntiqueWhite }*/
.sameColorLink:hover { COLOR: #FFCC66 }

.actionLink1:link
{
    FONT-SIZE: 10px;
    COLOR: BLUE;
    FONT-FAMILY: arial, helvetica, sans-serif;
}

.actionLink1:visited
{
    FONT-SIZE: 10px;
    COLOR: BLUE;
    FONT-FAMILY: arial, helvetica, sans-serif
}

.actionLink1:active
{
    FONT-SIZE: 10px;
    COLOR: BLUE;
    FONT-FAMILY: arial, helvetica, sans-serif
}

.actionLink1:hover
{
    FONT-SIZE: 10px;
    COLOR: RED;
    FONT-FAMILY: arial, helvetica, sans-serif
    font-weight: bold;
}

.actionLink2:link
{
    FONT-SIZE: 10px;
    COLOR: RED;
    FONT-FAMILY: arial, helvetica, sans-serif;
    font-weight: bold;
}

.actionLink2:visited
{
    FONT-SIZE: 10px;
    COLOR: RED;
    FONT-FAMILY: arial, helvetica, sans-serif
}

.actionLink2:active
{
    FONT-SIZE: 10px;
    COLOR: RED;
    FONT-FAMILY: arial, helvetica, sans-serif
}

.actionLink2:hover
{
    FONT-SIZE: 10px;
    COLOR: #FFCC66;
    FONT-FAMILY: arial, helvetica, sans-serif
}

.documentLink:link
{
    FONT-SIZE: 10px;
    COLOR: BLUE;
    FONT-FAMILY: arial, helvetica, sans-serif;
}

.documentLink:visited
{
    FONT-SIZE: 10px;
    COLOR: BLUE;
    FONT-FAMILY: arial, helvetica, sans-serif
}

.documentLink:active
{
    FONT-SIZE: 10px;
    COLOR: BLUE;
    FONT-FAMILY: arial, helvetica, sans-serif
}

.documentLink:hover
{
    FONT-SIZE: 10px;
    COLOR:  #FF6600;
    FONT-FAMILY: arial, helvetica, sans-serif
    font-weight: bold;
}

/* end caltech webenr customizations */


.trHeader {
  background-color:#C8D7DE;  
} 

.text {
  color: black; font-family: verdana,arial,helvetica; 
                font-size: 9pt;
} 

.attachmentText          
{
  color: black; font-family: verdana,arial,helvetica; 
                font-size: 8pt;
} 

.requiredText {color: red; font-family: verdana,arial,helvetica; 
                font-size: 8pt; font-weight:bold;}

.finePrintText {color: gray; font-family: verdana,arial,helvetica; 
                font-size: 8pt;}
.sectionHdr{
  color: blue;
  font-family: verdana,arial,helvetica; 
  font-size: 10pt;
  font-weight: bold;
}

.xtbFormBG{
  background-color: #CCCCCC;
  padding: 0pt;
  border-width: 0pt;
}

.tbFormFrame{
  background-color: #FFFFFF;
}

.tbSectionBG{
  background-color: #b6c7e5;
  padding: 0pt;
  border-width: 0pt;
}

.tbSectionFrame{
  background-color: #FFFFFF;
}

.tbFormContent{
  background-color: #FFFFFF;
  border-width: 0pt;
}

.tdFormHdr{
  background-color: #b6c7e5;
  width: 1000pt;
}

.formHdr{
  color: black;
  font-family: verdana,arial,helvetica; 
  font-size: 10pt;
  font-weight: bold;
}

.tbSectionContent{
  background-color: #FFFFFF;
  border-width: 0pt;
}

.tdSectionHdr{
  background-color: #b6c7e5;
  width: 1000pt;
}

.tb{
  background-color: #FFFFFF;
  border-width: 1pt;
  border-color: #CCCCFF;
}

.feedbackMessage

{

    FONT-SIZE: 12px;

    COLOR: #FF0000;

    FONT-FAMILY: arial, helvetica, sans-serif

}

.errorMessage

{

    FONT-SIZE: 12px;

    COLOR: #FF0000;

    FONT-FAMILY: arial, helvetica, sans-serif

}

.errorText

{

    FONT-SIZE: 12px;

    COLOR: #FF0000;

    FONT-FAMILY: arial, helvetica, sans-serif

}

.defaultFont

{

    FONT-SIZE: 12px;

    COLOR: #000000;

    FONT-FAMILY: arial, helvetica, sans-serif

}

.defaultLink

{

    FONT-SIZE: 12px;

    COLOR: #003399;

    FONT-FAMILY: arial, helvetica, sans-serif

}

.defaultLink:visited

{

    FONT-SIZE: 12px;

    COLOR: #333333;

    FONT-FAMILY: arial, helvetica, sans-serif

}

.homePageFont

{

    FONT-SIZE: 11px;

    COLOR: #000000;

    FONT-FAMILY: arial, helvetica, sans-serif

}

.homePageLink:link

{

    FONT-SIZE: 11px;

    COLOR: #FFFFFF;

    FONT-FAMILY: arial, helvetica, sans-serif;
  
    font-weight: bold;

}

.homePageLink:visited

{

    FONT-SIZE: 11px;

    COLOR: #FFFFFF;

    FONT-FAMILY: arial, helvetica, sans-serif

}

.homePageLink:active

{

    FONT-SIZE: 11px;

    COLOR: #000000;

    FONT-FAMILY: arial, helvetica, sans-serif

}

.homePageLink:hover

{

    FONT-SIZE: 11px;

    COLOR: #FFCC66;

    FONT-FAMILY: arial, helvetica, sans-serif

}

.tableHeader

{
   FONT-SIZE: 12px;

	COLOR: #FFFFFF;

	FONT-WEIGHT: bold;        

   FONT-FAMILY: arial, helvetica, sans-serif;

   TEXT-DECORATION: none
}

.nonDisplay {
  position:relative; 
  left:0; 
  top:0; 
  display:none;
}

.display {
  position:relative; 
  left:0; 
  top:0; 
  display:show;
}

-->
