a img {
	border: 0;
}

html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

head {
    background: #ff5e99 none repeat scroll 0 0;
    color: white;
    text-shadow: none;
}

body {
    height: 100%;
    width: 100%;
    font: normal 75%/1.6em "Tahoma", Helvetica, sans-serif;
    color: #444;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

#page {
    background-color: white;
    min-height: 100%;
    height: auto;
    min-height: ~"calc(100% - 30px)";
    margin: 0 auto -50px;
    width: 1000px;
    font-family: @font_vaud;
}

/* ----------------------------------------------------------------------
 * A generic alternating row color table
   ---------------------------------------------------------------------- */
 
table {
	border-collapse: collapse;
}

tr {
    background: #eee;
	height: 30px;
}

td {
    padding: 5px;
}

tr.odd {
    background: white;
}

/* ----------------------------------------------------------------------
 * Header
   ---------------------------------------------------------------------- */

#header {
    clear: both;
    height: 100px;
    margin-bottom: 9em;
}

.actions_admin #header,
.activity_admin #header,
.add_book_order #header,
.add_reserve #header,
.browse_division #header,
.browse_courses #header,
.browse_instructors #header,
.course #header,
.edit_book_order #header,
.edit_reserve #header,
.home #header,
.instructor_courses #header,
.my_courses #header,
.reports_admin #header,
.help #header {
    position: relative;
    height: 90px; /* todd */
    margin-bottom: 17px;
    clear: both;
}

.home.home_admin #header {
    margin-bottom: 17em;
}

/* ----------------------------------------------------------------------
 * Horizontal tab menus
   ---------------------------------------------------------------------- */

.horiz_menu {
	background-color: @dark_gray;
	height: 34px;
	font-size: 1.3em;
	padding-right: 35px;
	padding-left: 20px;
    margin: 30px 0;
    font-family: @font_vaud;

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline; 
    }
}

#search_sub_menu {
	background-color: @light_gray;
    margin: 0 -55px;
}

ul.nav {
	float: left;
	margin: 0 auto;
	padding: 0;

    li {
	    display: block;
        float: left;
        padding-left: .6em;
        padding-right: .6em;
        height: 24px;
	    padding-top: 8px;
	    padding-bottom: 8px;
    }
}

/* ----------------------------------------------------------------------
 * Horizontal tab menu highlights
   ---------------------------------------------------------------------- */

.home #nav-home a { color: darkorange; }

.admin #nav-admin a { color: darkorange; }

.my_courses #nav-mycourses a { color: darkorange; }

.my_delegates #nav-mydelegates { background: white; }
.my_delegates #nav-mydelegates a { color: #333; }

.delegates_admin #nav-delegates { background: white; }
.delegates_admin #nav-delegates a { color: #333; }

.actions_admin #nav-actions a { color: darkorange; }

.actions_admin.overview #nav-actions_overview { background: white; }
.actions_admin.overview #nav-actions_overview a { color: #333; }

.actions_admin.delegates #nav-actions_delegates { background: white; }
.actions_admin.delegates #nav-actions_delegates a { color: #333; }

.browse_courses #nav-bycourse a {
  color: @medium_gray;
  background: white;
  padding: 6px;
}

.browse_division #nav-browse a { color: darkorange; }

.browse_courses #nav-browse a { color: darkorange; }

.browse_instructors #nav-browse a { color: darkorange; }

.browse_division #nav-bydivision a {
  color: @medium_gray;
  background: white;
  padding: 6px;
}

.activity_admin #nav-activity a { color: darkorange; }

.reports_admin #nav-reports a { color: darkorange; }

.reports_admin.overview #nav-reports_overview { background: white; }
.reports_admin.overview #nav-reports_overview a { color: #333; }

.reports_admin.book_orders #nav-reports_book_orders { background: white; }
.reports_admin.book_orders #nav-reports_book_orders a { color: #333; }

.reports_admin.reserves #nav-reports_reserves { background: white; }
.reports_admin.reserves #nav-reports_reserves a { color: #333; }

/* ----------------------------------------------------------------------
 * Top tool menu
   ---------------------------------------------------------------------- */

#tools {
	clear: both;
	background-color: @medium_gray;
	height: 30px;
	font-size: 1.1em;
	font-family: "Tahoma", helvetica, sans-serif;
	color: white;

    a {
	    color: white;
        text-decoration: none;
    }

    ul {
	    margin: 0 25px;
	    padding: 0;

        li {
	        display: block;
    	    padding-left: .6em;
    	    padding-right: .6em;
	        padding-top: 4px;
        }

        &.info {
	        float: left;

            &.delegate li {
                padding-top: 0;
            }

            li {
                float: left;

                form {
                    display: inline;
                }
            }   

            input {
                padding: 0;
            }
        }

        &.tools {
    	    float: right;

            li {
                float: right;
            }   
        }
    }
}

/* ----------------------------------------------------------------------
 * Alphabet menu
   ---------------------------------------------------------------------- */

#alphabet {
    font-family: @font_kievit_medium;
    font-size: 1.8em;
    clear: both;
    height: 44px;
    margin-top: 2em;

    a {
    	color: #333;
    } 

    ul {
    	float: left;
    	margin: 0 auto;
    	padding: 0;

        li {
    	    display: block;
    	    float: left;
    	    padding-left: .6em;
    	    padding-right: .6em;
    	    height: 30px;
    	    padding-top: 12px;
    	    padding-bottom: 8px;
    	    list-style: none;

            &.selected {
    	        color: @caltech_orange;
            }
        }
    }
}

.browse_courses {
    tr {
        height: 40px;
    }

    #alphabet {
        margin-left: 7%;
    }
}

.browse_instructors #alphabet {
    font-size: 1.4em;
    margin-left: 7%;

    ul li {
    	padding-right: .5em;
    }
} 

/* ----------------------------------------------------------------------
 * Term selector widget
   ---------------------------------------------------------------------- */

#for_term {
    float: right;
    margin: 0;
    font-size: 0.8em;
    padding-top: 1px;

    span.label {
    	font-weight: normal;
    	color: white;
    	width: 5em;
    }
 
    select {
    	margin-right: .5em;
    }

    input {
	    padding: 3px;
    }
}

/* ----------------------------------------------------------------------
 * Stats box for # reserves, # book_orders, # courses, etc.
   ---------------------------------------------------------------------- */

#stats {
    font-family: @font_caslon_long;
    font-size: 1.5em;
    color: #777;
    padding-left: 25px;

    li {
    	list-style: none;
    	height: 3.5em;
        margin-right: 10px;

        span.count {
    	    font-size: 1.4em;
    	    display: block;
    	    float: left;
    	    margin-right: 0.5em;
    	    margin-top: -0.3em;
    	    padding-bottom: 0.3em;
    	    padding-top: 0.3em;
            font-weight: bold;
    	    text-align: center;
    	    width: 1.5em;
        }

        span.total {
    	    font-size: 1.4em;
    	    padding-left: 0.5em;
    	    padding-right: 0.5em;
        }
    }
}

/* ----------------------------------------------------------------------
 * Breadcrumbs
   ---------------------------------------------------------------------- */

h1.breadcrumbs {
	color:white;
	font-size:1em;
	font-weight:normal;
	padding:0.5em 0.75em 0.5em 30px;
	background: #aaa;
	margin: 0 -55px 1em;
	text-transform:uppercase;

    a {
	    color:white;
	    text-transform:uppercase;
    }
}

/* ----------------------------------------------------------------------
 * Flash messages on Home pages
   ---------------------------------------------------------------------- */

div#display_message {
	background: @verdun_green;
    color: white;
    width: 95.5%;
    font-size: 1.2em;
    padding: 0.5em;
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* ----------------------------------------------------------------------
 * Error box used on the exception page and "not implemented" page
   ---------------------------------------------------------------------- */

div.error {
    border: 3pt solid #a33;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 2em;

    h2 {
    	text-align: center;
    	letter-spacing: .08em;
    	background: #a33;
    	color: white;
    	margin: 0;
    	padding-top: .25em;
    	padding-bottom: .5em;
    }

    p {
    	padding: 1em;
    	font-size: 1.3em;
    	line-height: 1.8em;
    }
}

/* ----------------------------------------------------------------------
 * Footer
   ---------------------------------------------------------------------- */

#footer {
	clear: both;
	background-color: @medium_gray;
	height: 30px;
    width: 100%;
	font-size: 1.1em;
	//margin-top: 6em;
	padding-top: 15px;
	padding-bottom: 5px;
    bottom: 0;
    position: static;
    font-family: @font_vaud;

    a {
	    text-decoration: none;
	    color: white;
	    text-transform: uppercase;
    }

    ul.left {
	    float: left;
	    margin: 0 auto;
	    padding: 0 25px;

        li {
	        display: block;
    	    float: left;
    	    padding-right: 10px;
        }
    }

    ul.right {
	    margin: 0;
	    padding: 0 25px;

        li {
	        display: block;
    	    float: right;
    	    padding-left: 10px;
        }
    }
}

/* ----------------------------------------------------------------------
 * Content from here down
   ---------------------------------------------------------------------- */

#bottom {
	clear: both;
    margin: 0 55px;
    padding-bottom: 80px;

    .left {
        float: left;
        margin-bottom: 6em;
        padding-left: 5%;
        font-size: 1.4em;
        line-height: 1.5em;
        width: 45%;

        p {
            margin-top: 0;
            color: #667;

            &.welcome {
                color: #333;
            }
        }
    }

    .right {
        float: left;
        margin-botton: 6em;
        font-size: 1.5em;
        margin-left: 8%;
        width: 37%;
    }
}

.admin #bottom {
    padding-top: 89px;
}

.help #bottom .right {
	font-size: 1.4em;
	line-height: 1.5em;
	width: 45%;
}

body.main #bottom .right {
	background: @light_gray;

    h2 {
	    background-color: @medium_gray;
	    padding: 10px;
	    margin: 0;
	    text-transform: uppercase;
	    text-align: center;
	    color: white;
	    font-size: 1em;
    }
}

input {
	background: white;
	padding:3px;
	margin-top: 5px;
}

blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}

#post {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

span.alert {
	font-size: .8em;
	color: #ff9900;
}

/* ----------------------------------------------------------------------
 * Various buttons
   ---------------------------------------------------------------------- */

#buttons {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 1em;
    padding-bottom: 2em;

    input {
    	font-size: 1.2em;
    	float: right;
    	margin-right: 1.8em;
        padding: 5px;
    }
}

input.add {
    background: @orange;
    padding: .25em;
    font-size: 1.2em;
    margin-top: 1.5em;
    margin-left: 1em;
}

input {

    &.admin_actions {
        background: @medium_gray;
        color: white;
        padding: .4em;
        font-size: 1.3em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        margin-left: 6.5em;
    }

    &.edit {
    	background: #999;
    	padding: .25em;
    	font-size: 1.2em;
    }

    &.delete {
    	background: #eee;
    	padding: .25em;
    	font-size: 1.2em;
    }

    &.no_reserves {
    	background: #ddd;
    	font-size: 1.2em;
    	padding: .3em .25em;
	    color: #777;
	    border: 1px solid #999;
    }

    &.no_book_orders {
        background: #ddd;
        font-size: 1.2em;
        padding: .3em .25em;
        color: #777;
        border: 1px solid #999;
    }

    &.change {
    	margin: 0;
    	background: #eee;
    	padding: .25em;
    	font-size: 1.2em;
    }
}

p.instructions {
    font-style: italic;
    font-size: 1.2em;
    padding-left: 2.5%;
}

/* ----------------------------------------------------------------------
 * Spans
   ---------------------------------------------------------------------- */
  
span {

    &.or {
	    display: block;
	    float: right;
	    font-family: @font_vaud;
	    font-size: 1.2em;
	    text-transform: uppercase;
	    padding: .5em .5em 0 .5em;
	    color: #777;
    }

    &.label {
    	clear: left;
    	display: block;
    	float: left;
    	padding-top: 0.4em;
        padding-right: 5px;
    	width: 9em;
    	font-weight: bold;
    	font-size: 1.4em;
    }

    &.indent_label {
    	clear: left;
    	display: block;
    	float: left;
    	padding-top: .5em;
    	padding-left: 1.5em;
    	width: 8.25em;
    	font-size: 1.1em;
    }

    &.instructions {
    	display: block;
    	padding-left: 2em;
    	font-size: 73%;
    }

    &.radio {
    	width: 9em;
    	font-size: 1.2em;
    	line-height: 2.5em;
        padding-left: 4px;
    }

    &.count {
    	border: 1px solid #999;
    	font-size: 1.1em;
    	padding: 7px 12px 3px;
    }

    &.total {
    	font-size: 1.4em;
    	color: black;
    	font-family: @font_vaud;
    }   

    &.grey {
    	color: #eee;
    }

    &.required {
    	color: red;
    }

    &.journal {
    	width: 20em;
    }
}

/* ----------------------------------------------------------------------
 * Enrollment period box
   ---------------------------------------------------------------------- */

#enrollment_period {
    width: 94%;

    ul {
    	float: left;
    	margin: 0;
    	margin-left: 5%;
    	margin-bottom: 1em;
    	padding: 0;
    	padding-left: 5%;
    	width: 87%;
    	background: white;

        li {
            display: block;
            float: left;
            padding-right: 2.3%;
            padding-bottom: .4em;
            list-style: none;
            width: 47.7%;
            font-size: 1em;
            padding-top: .4em;
            text-transform: uppercase;
            color: #555;
        }

        &#closed {
    	    background: #aaa99f;
            margin-left: 38px;
    	    padding: 0;
    	    width: 87%;

            li {
    	        display: block;
    	        width: 90%;
    	        color: white;
    	        font-size: 1.2em;
    	        padding-left: 5%;
    	        padding-right: 6%;

                &.message {
    	            color: #777;
    	            background: white;
    	            text-transform: none;
    	            font-size: 1em; /* todd */
                }
            }
        }    

        &#open_soon li {
            width: 82%;
        }
    }

    li.date {
        text-align: center;
        background: @amethyst_smoke;
        color: white;
    }

    li.days_remaining {
    	text-align: center;
    	background: #eee;
    	color: #555;
    }
}

/* ----------------------------------------------------------------------
 * A book order or reserve detail box
   ---------------------------------------------------------------------- */

.add_reserve #bottom form,
.edit_reserve #bottom form,
.add_book_order #bottom form #book_order,
#bottom form #library_reserve,
.edit_book_order #bottom form {
    background-color: #eee;
    width: 92%;
    margin-left: 4%;
    float: left;
    //font-family: "Tahoma", helvetica;
    margin-bottom: 1em;
} 

#bottom form #library_reserve {
    background-color: @orange_yellow;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-left: 2.5%;
    width: 94%;
} 

#bottom form #library_reserve input {
    margin-left: 1em;
    vertical-align: middle;
} 

#reserve h2, #book_order h2 {
    margin: 0;
    width: 89%;
    margin-left: 4%;
    padding: 1.5%;
    color: white;
    background-color: @orange_yellow;
    margin-bottom: 1em;
    float: left;
} 


#library_reserve span.label {
    display: inline;
    float: none;
    vertical-align: middle;
    font-size: 1.2em;
    color: white;
} 

#library_data span.label {
    display: inline;
    float: none;
}

#resource_data {
    clear: both;
}

textarea {
    font-size: 1.2em;
    font-family: @font_vaud;
    padding: 4px;

    &#notes {
    	width: 93%;
    	margin-left: 2.5%;
    	padding: .25em;
    	margin-bottom: 2em;
    }
}

ul#library_data {
    float: left;
    margin: 0 auto;
    padding: 0;
    padding-left: 5%;
    margin-left: 2%;
    width: 90%;
    background: #ccc;

    li {
    	display: block;
    	float: left;
    	padding-right: 1.2em;
    	height: 30px;
    	padding-top: 12px;

        &.copies {
    	    padding-top: 5px;
        }
    }
}

#data {
    ul {
        list-style-type: none;
        margin-bottom: 1em;
        margin-right: 8%;
        margin-top: 2em;

        li {
    	    margin-bottom: .25em;

            a {
	            font-weight: bold;
	            color: #667;
            } 

            select#resource_type {
    	        height: 2em;
            } 

            input {
    	        width: 71%;
    	        border: 1px solid #999;
    	        font-size: 1.2em;

                &.resource_type {
                    border: none;
                    width: auto;
                    background: none;
                }

                &#copies {
    	            width: 2em;
                } 

                &#year {
    	            width: 15%;
                } 

                &#month {
    	            width: 15%;
                } 

                &#day {
    	            width: 15%;
                }        

                &#journal {
    	            width: 52%;
                } 

                &#volume {
    	            width: 15%;
                } 

                &#issue {
    	            width: 15%;
                } 

                &#page_numbers {
    	            width: 25%;
                } 

                &#isbn {
    	            width: 30%;
                    margin-right: 5px;
                } 

                &#edition {
    	            width: 25%;
                }
            } 

            &#order_type {
    	        margin-top: 2em;

                input {
    	            border: none;
    	            width: auto;
    	            background: #eee;
                }
            } 

            &.required span.label {
    	        color: red;
            }
        }
    } 

    li.validation {
    	background: #E87871;
    	color: white;

        p {
    	    margin-left: 0;
    	    padding: 5px;
        }
    } 

    p {  
        margin-left: 2.5%;
        font-size: 1.2em;
        margin-right: 2.5%;
        line-height: 1.6em;

        &.validation {
    	    margin-left: 2%;
    	    float: left;
    	    width: 93.5%;
    	    padding: 5px;
    	    background: #E87871;
    	    color: white;
        }
    }
}

/* ----------------------------------------------------------------------
 * A generic alternating row color list
   ---------------------------------------------------------------------- */

.actions_admin ul.list li,
.reports_admin ul.list li {
    padding-left: 4em;
}

ul.list {
    width: 100%;
    padding: 0;
    margin: 0;

    li {
    	list-style: none;
    	background: #eee;
    	padding: .5em .25em .5em 1.5em;
    	font-size: 1.2em;

        a {
    	    line-height: 1.8em;
    	    color: #444;
        } 

        &.odd {
    	    background: white;
        } 

        &.highlighted {
    	    background: @cornflower;
    	    color: black;
        }
    }
} 

/* ----------------------------------------------------------------------
 * A generic alternating row color table
   ---------------------------------------------------------------------- */

table.list {
	width: 100%;

    a {
        line-height: 1.8em;
        color: #444;
        font-size: 1.2em;
    } 

    tr {
        padding: .25em .25em .25em 1em;
    }

    td {
    	padding: .25em .25em .25em 1em;

        &.name {
    	    width: 27%;
        } 

        &.description {
    	    width: 80%;
        }
    }
} 

/* ----------------------------------------------------------------------
 * Course info box
   ---------------------------------------------------------------------- */

#course_info {
    float: left;
    font-size: 1.3em;
    padding: 1em 0 1em 0;
    font-family: @font_caslon_long;
    background: @dark_gray;
	margin: 1.5em 0 2em 4%;
	width: 92%;

    dl {
    	float: left;
    	width: 80%;
    	margin: 0;

        dt {
    	    font-weight: bold;
    	    height: 1.5em;
    	    clear: left;
    	    float: left;
    	    padding-left: 2%;
    	    padding-top: .25em;
    	    color: white;
    	    width: 13%;
    	    padding-right: .3em;

            &.course_name {
                padding-top: 0.3em;
            }
        } 

        dd {
    	    float: left;
    	    padding-top: .25em;
            margin-left: 15px;
    	    width: 70%;
    	    color: #ddd;

            &.course_name {
                margin-left: 0.53em;
                margin-right: 0.2em;
                padding-top: 0;
                line-height: 36px;
            }
        } 

        .course_name {
    	    font-size: 1.7em;
    	    width: auto;
        } 
    } 

    #copy {
    	float: left;
    	width: 5em;

        p {
    	    font-size: 0.85em;
    	    width: 12em;
            color: @light_gray;
        }
    }

    input.copy {
    	background: #888;
    	padding: .25em .9em .43em;
    	font-size: 0.9em;
    	margin: 0 0 0 .25em;
    	border: 2px outset #aaa;
    	color: #ddd;
    }
}

#copy_info {
    float: left;
    padding: 0;
    margin: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 95%;
    margin-left: 2%;
    padding-left: .75em;
    font-family: @font_caslon;
    background: #777;
    margin-top: 20px;
    padding-left: 30px;

    h2 {
    	color: #eee;
    }
}

/* ----------------------------------------------------------------------
 * About page
   ---------------------------------------------------------------------- */

.help #bottom {
    font-size: 1em;

    #help {
    	font-family: @font_caslon;
    	margin-left: 4%;
        padding-top: 20px;
    	width: 86%;
    } 

    h2 {
    	font-size: 2em;
    	margin-bottom: 1.5em;

        &.sentry {
            font-size: 1.8em;
        }
    } 

    h3 {
    	font-size: 1.6em;
    } 

    p {
    	font-size: 1.3em;
    	line-height: 1.4em;
    }

    li {
    	font-size: 1.3em;
    	line-height: 1.4em;
	    margin-bottom: .75em;

        a {
	        font-weight: bold;
	        color: #667;
        }
    }
}

/* ----------------------------------------------------------------------
 * Home page
   ---------------------------------------------------------------------- */

#recent_activity table {
    margin-top: 25px;
    font-size: 10pt;
}

.home {
    h2 {
        padding-top: .5em;
        margin: 0 0 .3em;
        font-family: @font_caslon;
        font-size: 2em;
        color: black;

        &.open {
            margin: 0;
            margin-left: 10%;
            padding-left: 5%;
            font-family: @font_vaud;
            text-transform: uppercase;
            width: 82%;
            background: @cherokee;
            color: #555;
            font-weight: normal;
            font-size: 1.3em;
            margin-top: 1em;
            float: left;
            padding-bottom: 0.6em;
        }

        &.term {
            margin: 0;
            margin-left: 10%;
            padding-left: 5%;
            font-family: @font_vaud;
            text-transform: uppercase;
            width: 82%;
            background: @caltech_orange;
            color: white;
            font-weight: normal;
            font-size: 1.3em;
            margin-top: 1em;
            float: left;
            padding-bottom: 0.6em;
        }
    }

    table {
        width: 100%;
    }

    td {
        padding-left: 10px;
    }

    #recent_activity {
        width: 84%;
        float: left;
        padding-bottom: 2em;
        margin-left: 5%;
        margin-bottom: 1em;

        a {
            color: black;
        }

        td.course_name {
            width: 8%;
        }

        td.activity {
            width: 20%;
        }

        td.modified_at {
            width: 10%;
        }

        td.modified_by {
            width: 5%;
        }
    }

    #my_courses {
    	width: 84%;
    	float: left;
    	padding-bottom: 2em;
    	border-bottom: 1px black dotted;
        margin-left: 5%;
        margin-bottom: 1em;

        a {
    	    color: black;
        }

        table {
            margin-top: 25px;
        }

        td.course_name {
    	    width: 25%;
        } 

        td.course_description {
    	    width: 75%;
        }
    } 

    #left {
    	float: left;
    	width: 56%;
    	border-right: 1px black dotted;
    	margin-bottom: 2em;
    } 

    #right {
    	margin-left: 55%;

        p {
    	    padding-left: 10%;
    	    padding-right: 8%;
    	    padding-top: .5em;
    	    font-family: @font_caslon;
    	    font-size: 1.5em;
    	    line-height: 1.5em;
        }
    }

    #header_wrapper {
    	width: 100%;
    	height: 16em;

        p {
    	    clear: left;
    	    float: left;
    	    font-size: 1.4em;
            margin: 20px 75px;
            font-family: @font_caslon;
    	    color: #777;
            line-height: 25px;
        }
    } 

    .instructions {
    	color: #777;
    	font-size: 1.2em; /* todd */
    	line-height: 1.3em;
    }
}

/* ----------------------------------------------------------------------
 * Admin home page
   ---------------------------------------------------------------------- */

.home_admin {

    #right {
        margin-top: 0;
    } 

    h2.term {
        margin-top: 0;
    }
}

/* ----------------------------------------------------------------------
 * My courses page
   ---------------------------------------------------------------------- */
  
.my_courses .instructions {

    padding-left: 5%;
    margin-top: 35px;
    width: 85%;
    line-height: 1.5em;
    color: #777;
}

/* ----------------------------------------------------------------------
 * Instructor courses page
   ---------------------------------------------------------------------- */

.instructor_courses {

    #bottom {
    	font-family: @font_vaud;
    }

    #carts {
    	margin-left: 4%;
        padding-top: 30px;
    } 

    h2 {
    	font-size: 2em;
        font-family: @font_vaud;
    }    

    table {
    	font-size: 1.2em;
    	width: 92%;
    } 

    td {
    	padding-left: .5em;
    	padding-right: .5em;

        a {
    	    line-height: 1.8em;
    	    color: #667;
        }
    }
} 


/* ----------------------------------------------------------------------
 * My delegates page
   ---------------------------------------------------------------------- */

.my_delegates { 
    #bottom {
    	font-family: @font_caslon;
    	width: 100%;
    }    

    #add_delegate {
    	float: left;
    	margin: 3em 30% 3em;
    	width: 50%;
    } 

    table {
    	clear: both;
    	float: left;
    	margin: 0 30% 3em;
    	width: 40%;
    	font-size: 1.3em;

        td input {
            font-size: 0.9em;
        }
    } 

    td {
    	padding-left: .5em;
    	padding-right: .5em;

        &.full_name {
    	    width: 75%;
        } 
    }
}

/* ----------------------------------------------------------------------
 * Admin actions pages
   ---------------------------------------------------------------------- */

.actions_admin {
    h2 {
    	color: white;
    	background: @verdun_green;
    	padding: 0.75em;
    	padding-left: 1.9em;
    	margin: 1.5em 20px;
    	font-weight: normal;
    	text-transform: uppercase;
    	font-size: 1.5em;
    }

    input.add {
    	background: @medium_gray;
    	color: white;
    	font-size: 1.25em;
    	margin-left: 1em;
    	margin-top: 0.7em;
    	padding: 0.4em;
    }

    #action {
	    width: 50%;
	    margin: auto;

        ul {
            float: left;

            li {
                list-style: none;
            }

            p {
	            margin: 1em;
            }
        }

        a.add {
    	    float: left;
    	    margin-left: 2em;;
    	    margin-top: 1.5em;
        }
    }

    span {
        &.label {
    	    width: 7em;
        }

        &.long_label {
	        font-size: 1.2em;
	        padding-right: 3em;
        }

        &.subhead {
	        width: 9em;
	        font-size: 1.7em;
	        font-weight: bold;
	        height: 1em;
        }
    }

    table {
	    clear: left;
	    margin: 0 auto;
	    margin-top: 2em;
	    width: 95%;

        tr {
            th {
    	        background: white;
    	        padding-top: 1.5em;
            }

            td {
    	        padding: .1em .25em .5em 1em;
    	        padding-left: 1em;
            }
        }
    }

    li.validation {
        background: @orange;
        color: white;

        p {
            margin-left: 0.5em;
            padding: 5px;
        }
    }

    p.validation {
        margin-left: 2%;
        float: left;
        width: 93.5%;
        padding: 5px;
        background: #E87871;
        color: white;
    }

    .ui-datepicker td {
        padding: 0;
    }
}

.actions_admin .delegator,
.actions_admin .delegate,
.actions_admin .temp_uid,
.actions_admin .admin_uid {
    text-align: left;
    padding-left: 13px;
    padding-bottom: 15px;
    font-size: 1.3em;
}

.actions_admin .temp_name,
.actions_admin .admin_name {
    text-align: left;
    padding-left: 125px;
    font-size: 1.3em;
    padding-bottom: 15px;
}

.actions_admin .delegator_full_name,
.actions_admin .delegate_full_name,
.admin_access .username,
.temp_access .username {
    font-size: 1.1em;
}

.admin_access .full_name,
.temp_access .full_name {
    font-size: 1.1em;
    padding-left: 125px;
}

/* ----------------------------------------------------------------------
 * Delegates admin actions page
   ---------------------------------------------------------------------- */

.actions_admin.delegates {

    table tr td.button {
        width: 67px;
        padding-right: 10px;
    }

    input.add {
	    margin-top: 1.6em;
    }
}

/* ----------------------------------------------------------------------
   Open Term action page
   ---------------------------------------------------------------------- */

.actions_admin.open_term {

    select {
        margin-top: 0.5em;
	    margin-left: 2em;
        font-size: 1.2em;
    }

    span.label {
        font-size: 1.6em;
    }

    span.subhead {
        font-size: 1.6em;
    }

    span.indent_label {
        font-size: 1.35em;
    }

    input.hasDatepicker {
        font-size: 1.15em;
    }

    #action ul li {
        padding: 2px;
    }
}

/* ----------------------------------------------------------------------
   Temp Access action page
   ---------------------------------------------------------------------- */

.actions_admin.temp_access {

    #action ul li {
	    margin-left: -1em;
    }

    table tr {

        td.username {
    	    width: 100px;
        }

        td.button {
            width: 67px;
            padding-right: 10px;
        }
    }

    input#username {
    	width: 170px;
    }
}

/* ----------------------------------------------------------------------
   Close Reopen action page
   ---------------------------------------------------------------------- */

.actions_admin.close_reopen {

    #term_name {
	    width: 400px;
	    margin: 0 auto;

        span.label {
            font-size: 2.2em;
            font-weight: normal;
            padding-top: 1em; 
            width: 100%;
            margin-left: 1em;
            margin-bottom: 1em; 
            margin-top: 1em; 
            color: @medium_gray;
        }
    }

    #periods {
    	clear: left;
	    width: 400px;
	    margin: 0 auto;

        ul {
    	    margin-left: -2.8%;

            li {
    	        list-style: none;
    	        margin-bottom: 1em;
                padding-top: 7px;
            }
        }

        span.label {
            font-size: 1.6em;
            font-weight: normal;
            width: 8em;
        }

        span.text {
            font-size: 1.35em;
            padding: 5px;
        }
    }

    input {
    	margin-top: 1.05em;

        &.submit {
            background: @medium_gray;
            color: white;
            padding: .4em;
            font-size: 1.3em;
            margin-top: 1.5em;
            margin-left: 6.5em;
        }
    }
}

/* ----------------------------------------------------------------------
   Admin Access action page
   ---------------------------------------------------------------------- */

.actions_admin.admin_access {

    #action ul li {
	    margin-left: -1em;
    }

    table tr {

        td.username {
    	    width: 100px;
        }

        td.button {
            width: 67px;
        }
    }

    input#username {
    	width: 170px;
    }
}

/* ----------------------------------------------------------------------
   Activity Report action page
   ---------------------------------------------------------------------- */

.actions_admin.activity_report {

    .ui-dialog-title {
        margin-left: 7px;
    }

    .ui-button {
        float: right;
        padding: 0;
    }

    .ui-dialog-content {
        padding-left: 7px;
    }

    span.indent_label {
        font-size: 1.4em;
    }

    #action ul li {
        padding: 5px;
    }

    input.hasDatepicker {
        font-size: 1.1em;
    }
}

/* ----------------------------------------------------------------------
   Prevous Terms action page
   ---------------------------------------------------------------------- */

.actions_admin.prev_terms {

    select {
        margin-top: 1em;
        margin-left: 2.3em;
    }

    #action ul {
	    margin-bottom: 2.5em;
    }

    table {
	    width: 98%;
        font-size: 1.4em;
        margin: 0;
    }

    tr {
        height: 35px;
    }

    td {
        padding-top: 8px;

        &.align_right {
	        text-align: right;
	        padding-right: 10px;
        }
    }

    span.label {
        font-size: 1.6em;
        margin-left: 25px;
    }

    select {
        font-size: 1.2em;
        margin-top: 0.5em;
    }
}

/* ----------------------------------------------------------------------
 * Reports admin page
   ---------------------------------------------------------------------- */

.reports_admin {

    #bottom {

        #description {
    	    width: 95%;
    	    margin: 1.4em 4% 1em 20px;
    	    float: left;
    	    background: @verdun_green;
        } 

        h2 {
    	    width: 83%;
    	    padding: 1em 1.75%;
    	    color: white;
    	    float: left;
    	    margin: 0;
        }
    } 

    #description form {
	    margin: 1em 1em 0 0;
	    float: right;
    }

    #for_term {
    	float: right;
    	margin: 5em 3% 0 0;
    	padding: .5em .75em .75em;
	    background: #667;
	    border: 3px solid #999;
    }
} 

#pages {
    width: 92%;
    margin-left: 20px;
    padding: 1em;
    background: @light_gray;
    margin-top: 158px;
    margin-bottom: 4em;

    table {
        clear: both;
        width: 100%;

        a {
            font-weight: bold;
            color: #333;
        }

        th {
            background: #333;
            color: white;
            height: 2.5em;
            text-align: left;
        }

        td {
            padding: 3px;
            text-align: left;

            &.course_name {
                width: 18%;
            }

            &.combined_course_name {
                width: 8%;
            }

            &.resource {
                width: 45%;
            }

            &.combined_resource {
                width: 35%;
            }

            &.department {
                width: 25%;
            }

            &.division {
                width: 10%;
            }

            &.row {
                width: 5%;
                text-align: center;
            }
        }
    }
}

#report_header {
    width: 100%;
    min-height: 28px;

    ul.nav {
    	color: black;
    	font-size: 1.6em;

        li {
    	    height: 2em;
    	    padding: 0.07em 1.0em 0 0.2em;
        }
    } 

    form {
    	float: right;
    	margin-top: -3px;

        label {
    	    color: black;
    	    font-size: 1.4em;
        }
    }
} 

.notes {
    color: #333;
    font-size: 0.9em;
}

.notes_header {
	font-weight: normal;
	color: #999;
	font-size: 1.1em;

    a {
        font-weight: bold;
        color: #333;
    }
}

#report_list {
	width: 92%;
	margin: 4em 0 0 4%;

    ul {
        li {
            font-size: 1.3em;
        }
    }
}

/* ----------------------------------------------------------------------
 * Browse pages
   ---------------------------------------------------------------------- */

.browse_courses {

    #bottom {
    	font-family: @font_vaud;
    }

    h2 {
        font-size: 18pt;
    }

    #tracks {
        margin-left: 5%;
        width: 90%;
        margin-top: 2em;
    }
} 

.browse_division {

    #bottom {
        font-family: @font_vaud;
    }

    h2 {
    	font-size: 18pt;
    }

    #divisions {
    	float: left;
    	margin-bottom: 2em;
        margin-left: 3%;
        width: 17%;
        clear: left;
        margin-top: 2em;
    } 

    #departments {
        float: left;
        margin-bottom: 2em;
        margin-left: 6%;
        width: 30%;
        margin-top: 2em;
    }

    #tracks {
        float: left;
        margin-bottom: 2em;
        margin-left: 6%;
        width: 37%;
        margin-top: 2em;
    }
} 

.browse_instructors {

    #nav-byinstructor {
    	color: white;
    } 

    #bottom #search_sub_menu #nav-byinstructor a {
    	color: @medium_gray;
        background: white;
        padding: 6px;
    } 

    #instructors {
    	margin-left: 5%;
    	width: 90%;
    	margin-top: 2em;
    }
}

/* ----------------------------------------------------------------------
 * Course detail page
   ---------------------------------------------------------------------- */

#course_info h1.breadcrumbs {
    border-bottom:0.25em solid #555555;
    margin-left: .75em;
}

.course {
    
    .section_header {
    	width: 100%;
    	float: left;
    	margin-bottom: .5em;
    	border-bottom: 1px black dotted;
    	font-family: @font_caslon_long;

        h2 {
    	    margin: 0;
    	    padding-top: .25em;
    	    display: inline;
            font-size: 1.9em;
    	    float: left;
    	    padding-bottom: 15px;
    	    color: #667;
        } 

        input {
    	    margin: 0;
    	    display: inline;
    	    float: right;
        }
    } 

    #bottom form {
        width: 92%;
        margin-left: 4%;
        margin-bottom: 4em;

        table {
    	    clear: both;
            font-size: 1.05em;

            input {
    	        margin: 0;
            }
        } 

        th {
    	    text-align: left;
    	    background-color: @cornflower;
    	    padding: 5px;

            &.copies {
    	        width: 3%;
            } 

            &.where {
    	        width: 8%;
            } 

            &.modified_by {
                width: 7%;
            }

            &.modified_for {
                width: 7%;
            }

            &.modified_at {
                width: 13%;
            }

            &.empty {
                background-color: white;
            }
        }

        #book_orders {
            margin-bottom: 5em;

            th.description {
    	        width: 56%;
            }
        } 

        #library_reserves th.description {
    	    width: 50%;
        } 

        #course_comments {
    	    margin-top: 4em;

            textarea {
    	        margin-left: 0;
    	        width: 99%;
    	        border: 2px inset #aaa;
            } 

            input {
    	        float: right;
            }
        }
    } 

    ul.no_items_needed {
    	float: left;
    	margin: 0 auto;
    	padding: 0;
    	width: 100%;
    	margin-bottom: 3em;

        li {
    	    display: block;
    	    float: right;

            &.no_items_needed {
    	        float: left;
    	        font-size: 1.65em;
    	        color: red;
    	        font-family: @font_caslon;
    	        padding: .25em;
            }
        }
    }
}

/* ----------------------------------------------------------------------
 * Activity admin page
   ---------------------------------------------------------------------- */

.activity_admin {

    table {
    	width: 92%;
    	margin: 4em 0 0 4%;
    	padding: 0;
    } 

    tr {
    	height: 40px;
    	border: 0;

        th {
            background-color: white;
            text-align: left;
            padding-left: 10px;
        }
    }

    th {
        font-size: 1.3em;
    }

    td.term {
    	width: 6%;
    	padding-left: 10px;
    } 

    td.course_name {
    	width: 8%;
    	padding-left: 10px;
    } 

    td.activity {
    	width: 18%;
    	padding-left: 10px;
    } 

    td.modified_at {
    	width: 10%;
    	padding-left: 10px;
    } 

    td.modified_by {
   	    width: 5%;
    	padding-left: 10px;
    }
}

/* ----------------------------------------------------------------
 * Autocompleter
   ---------------------------------------------------------------- */

.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;

    ul {
	    width: 100%;
	    list-style-position: outside;
	    list-style: none;
	    padding: 0;
	    margin: 0;
    }

    iframe {
	    display: none;/*sorry for IE5*/
	    display: block;/*sorry for IE5*/
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -1;
	    filter: mask();
	    width: 3000px;
	    height: 3000px;
    }

    li {
	    margin: 0px;
	    padding: 2px 5px;
	    cursor: pointer;
	    display: block;
	    width: 100%;
	    font: menu;
	    font-size: 12px;
	    overflow: hidden;
    }
}

.ac_loading {
	background : Window url('./indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}

.page_logo {
    width: 128px;
}

div.hline {
    background: @caltech_orange;
    height: 1px;
    margin: 0 75px;
}

.home ul.info {
    list-style: none;
    margin: 10px 75px 30px;
    text-align: right;
}

.flex {
    margin: 30px 75px 20px;
}

#ribbon {
    background-color: @dark_gray;
    height: 30px;
    position: relative;

    a { 
        color: #EEEEEE;
        font-weight: bold;
    }
}

#ribbon-content {
    width: 1000px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

#identity {
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 2px;
    left: 1%; 
    color: #EEEEEE;
    font-size: 0.79em;
    width: 100%;
    font-family: @font_vaud;
    font-size: 1.05em;
}

.name {
    color: #EEEEEE;
    font-weight: bold;
}

#tools_2 {
    top: 10%;
    right: 10px;
    position: absolute;
    font-family: @font_vaud;
    font-size: 1.1em;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
 
    li {
        display: table-cell;
        text-transform: uppercase;
        font-size: 0.85em; /* todd */
        font-family: @font_vaud_medium;
        padding: 0 6px;
        margin: 0;

        a {
            text-decoration: none;
        }
    }
}

#logo_2 {
    position: absolute;
    bottom: 0;
    left: 5px; 
    width: 170px;
    display: block;

    img {
        width: 170px;
    }
}

#sitename {
    position: absolute;
    bottom: -15px;
    left: 210px;
    width: 790px;
    font-family: @font_kievit_medium;
    font-size: 2.6em;
    padding-bottom: 14px;
    background-image: url(orange-pixel.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

@media screen and (max-width: 1000px) {

    #page {
      width: 100%;
    }

    #ribbon-content {
      width: 100%;
    }

    #pages {
        width: 95%;
        margin-left: 10px;
    }

    .reports_admin #bottom #description {
        background: @orange none repeat scroll 0 0;
        float: left;
        margin-left: 10px;
        padding: 0 1em;
        width: 95%;
    }

    .reports_admin #for_term {
        margin-right: 1%;
    }

    .admin_access #action {
        width: 60%;
    }
}

@media screen and (max-width: 720px) {

    div.hline {
        margin: 0 5vw;
    }

    .flex {
        margin: 30px 5vw 15px;
    }

    #stats {
        padding-left: 15px;
    }
}

@media screen and (max-width: 916px) and (min-width: 664px) {

    #enrollment_period li.days_remaining {
        height: 39px;
    }
}

@media screen and (max-width: 900px) {

    #alphabet {
        height: 80px;
    }
}

@media screen and (max-width: 870px) {

    #course_info dl {
        width: 76%;
    }
}

@media screen and (max-width: 792px) {

    #course_info dl {
        width: 72%;
    }

    #report_header ul.nav {
        color: black;
        font-size: 1.4em;
    }

    #report_header form {
        float: right;
        margin-top: -10px;
        padding-bottom: 10px;
    }

    .admin_access #action {
        width: 70%;
    }
}

@media screen and (max-width: 748px) {

    ul.list li {
        font-size: 1.0em;
    }

    .browse_division h2, .browse_courses h2 {
        font-size: 16pt;
    }

    .reports_admin #bottom h2 {
        font-size: 13pt;
    }

    .reports_admin #description form {
        margin: 0;
        padding-top: 8px;
    }
}

@media screen and (max-width: 715px) {

    .actions_admin #action {
        width: 60%;
    }

    .admin_access #action {
        width: 80%;
    }
}

@media screen and (max-width: 656px) {

    #for_term span.label {
        color: @light_gray;
    }

    .browse_division #tracks {
        margin-top: -0.5em;
    }
}

@media screen and (max-width: 650px) {

    .browse_division #departments {
        margin-top: -0.5em;
    }
}

@media screen and (max-width: 627px) {

    .browse_division h2 {
        font-size: 1.5em;
    }

    #course_info dl {
        width: 68%;
    }

    .reports_admin #description form {
        margin-top: -20px;
        padding-bottom: 10px;
    } 

    .actions_admin #action {
        width: 80%;
    }
}

@media screen and (max-width: 570px) {

     #enrollment_period li.days_remaining {
        height: 58px;
    }

    #stats li {
        margin-bottom: 25px;
    }
}
