@font-face {
  font-family: 'LTCCaslonLong';
  src: url('/res/adoptatext/fonts/LTCCaslonLongWeb.eot'); /* IE9 Compat Modes */
  src: url('/res/adoptatext/fonts/LTCCaslonLongWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/res/adoptatext/fonts/LTCCaslonLongWeb.woff') format('woff'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KievitSlabMedium';
  src: url('/res/adoptatext/fonts/KievitSlabWebPro-Medium.eot'); /* IE9 Compat Modes */
  src: url('/res/adoptatext/fonts/KievitSlabWebPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/res/adoptatext/fonts/KievitSlabWebPro-Medium.woff') format('woff'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KievitSlabRegular';
  src: url('/res/adoptatext/fonts/KievitSlabWebPro.woff') format('woff'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vaud';
  src: url('/res/adoptatext/fonts/VaudBook-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudBook-webfont.eot?#iefix') format('embedded-opentype'),
       url('/res/adoptatext/fonts/VaudBook-webfont.woff') format('woff'),
       url('/res/adoptatext/fonts/VaudBook-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/res/adoptatext/fonts/VaudBook-webfont.svg#vaudregular') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vaud';
  src: url('/res/adoptatext/fonts/VaudBookIt-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudBookIt-webfont.eot?#iefix') format('embedded-opentype'),
       url('/res/adoptatext/fonts/VaudBookIt-webfont.woff') format('woff'),
       url('/res/adoptatext/fonts/VaudBookIt-webfont.ttf') format('truetype'),
       url('/res/adoptatext/fonts/VaudBookIt-webfont.svg#vauditalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Vaud';
  src: url('/res/adoptatext/fonts/VaudUltra-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudUltra-webfont.eot?#iefix') format('embedded-opentype'),
       url('/res/adoptatext/fonts/VaudUltra-webfont.woff') format('woff'),
       url('/res/adoptatext/fonts/VaudUltra-webfont.ttf') format('truetype'),
       url('/res/adoptatext/fonts/VaudUltra-webfont.svg#vaudregular') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Vaud';
  src: url('/res/adoptatext/fonts/VaudUltraIt-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudUltraIt-webfont.eot?#iefix') format('embedded-opentype'),
       url('/res/adoptatext/fonts/VaudUltraIt-webfont.woff') format('woff'),
       url('/res/adoptatext/fonts/VaudUltraIt-webfont.ttf') format('truetype'),
       url('/res/adoptatext/fonts/VaudUltraIt-webfont.svg#vauditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'VaudMedium';
  src: url('/res/adoptatext/fonts/VaudExtraBold-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/res/adoptatext/fonts/VaudExtraBold-webfont.woff') format('woff'),
       url('/res/adoptatext/fonts/VaudExtraBold-webfont.ttf') format('truetype'),
       url('/res/adoptatext/fonts/VaudExtraBold-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VaudMedium';
  src: url('/res/adoptatext/fonts/VaudExtraBoldIt-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudExtraBoldIt-webfont.eot?#iefix') format('embedded-opentype'),
       url('/res/adoptatext/fonts/VaudExtraBoldIt-webfont.woff') format('woff'),
       url('/res/adoptatext/fonts/VaudExtraBoldIt-webfont.ttf') format('truetype'),
       url('/res/adoptatext/fonts/VaudExtraBoldIt-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: italic;
}
