// Fonts

@font_caslon: LTCCaslon, Georgia, serif;
@font_caslon_long: LTCCaslonLong, Times, serif;
@font_kievit_medium: KievitSlabMedium, Times, serif;
@font_kievit_regular: KievitSlabRegular, Times, serif;
@font_vaud: Vaud, sans-serif;
@font_vaud_medium: VaudMedium, sans-serif;
@font_arial: Arial, sans-serif;

// Colors

@caltech_orange: #ff6c0c;
@orange: #ff9933;
@orange_yellow: #f9be00;
@cornflower: #b4d5ff;
@verdun_green: #9dae88;
@cherokee: #f1d384;
@amethyst_smoke: #849895;
@dark_gray: #696b73;
@medium_gray: #76777b;
@light_gray: #c8c8c8;
