.home #header_wrapper p {
    margin-left: 2.75%;
}


.home #my_courses, .home #recent_activity {
    margin-left: 2.75%;
}

.home h2.open, .home h2.term {
    margin-left: 4%;
}

#enrollment_period ul {
    margin-left: 4%;
}

.home #header {
    margin-bottom: 2em;
}

#header {
    margin-bottom: 3em;
}

.instructor_courses #header {
    margin-bottom: 5em;
}

.horiz_menu ul.nav li {
    height: 25px;
}

.browse_division #divisions {
    margin-left: 1.5%;
}

#for_term input {
    padding: 0;
    margin-top: .2em;
}

#for_term .label {
    padding-top: .63em;
}

.course #bottom form {
    margin-left: 2%;
}

#course_info dl dt {
    width: 14%;
}

#course_info dl dd {
    width: 75%;
    padding-top: .35em;
    padding-bottom: .25em;
    margin-left: 3.2%;
}

.course #bottom form #course_comments{
    margin-top: 2em;
}

.course #bottom form #course_comments h2 {
    margin: 0;
}

#course_info {
    margin-left: 2%;
}

#reserve h2, #book_order h2 {
    margin-left: 4.5%;
}


.add_book_order #bottom form #book_order, .edit_book_order #bottom form {
    margin-left: 4.5%;
    width: 80%;
}

.add_reserve #bottom form, .edit_reserve #bottom form {
    margin-left: 4.5%;
    width: 80%;
}

/* .add_reserve #bottom #reserve form, .edit_reserve #bottom #reserve form {
    width: 80%;
} */

#bottom form #library_reserve {
    margin-left: 1.25%;
    width: 94%;
}

span.radio {
    height: 4em;
}

span.label {
    padding-top: 0.65em;
}

#data  {
    width: 100%;
}

#data  ul li input, #data ul li textarea {
    width: 68%;
}

#data ul {
    margin-right: 4%;
}

ul#library_data {
    margin-left: 1%;
    margin-right: 1%;
}

#library_data select {
    margin: 0;
}
