td {
    height: 40px;
}

#recent_activity td.modified_by {
    padding-right: 10px;
}

#course_info #copy p {
    font-size: .75em;
    line-height: 1.75em;
}

#course_info input.copy {
    width: 8em;
}

.course #bottom form th {
    height: 22px;
}

.course .section_header h2 {
    font-size: 1.4em;
}

#reserve h2, #book_order h2 {
    font-size: 1.5em;
}

li.reserve_type {
    width: 27em;
}

textarea {
    font-size: 1.3em;
}

#order_type .label {
    padding-top: .75em;
}

#buttons input {
    margin-right: 2em;
}

#tools form select {
    font-size: .8em;
}

#tools form input {
    font-size: .7em;
    margin-top: .2em;
}
