@font-face {
  font-family: 'LTCCaslonLong';
  src: url('/res/adoptatext/fonts/LTCCaslonLongWeb.eot');
  src: url('/res/adoptatext/fonts/LTCCaslonLongWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('/res/adoptatext/fonts/LTCCaslonLongWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;/* IE9 Compat Modes */
  /* Modern Browsers */
}
@font-face {
  font-family: 'KievitSlabMedium';
  src: url('/res/adoptatext/fonts/KievitSlabWebPro-Medium.eot');
  src: url('/res/adoptatext/fonts/KievitSlabWebPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('/res/adoptatext/fonts/KievitSlabWebPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;/* IE9 Compat Modes */
  /* Modern Browsers */
}
@font-face {
  font-family: 'KievitSlabRegular';
  src: url('/res/adoptatext/fonts/KievitSlabWebPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;/* Modern Browsers */
}
@font-face {
  font-family: 'Vaud';
  src: url('/res/adoptatext/fonts/VaudBook-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudBook-webfont.eot?#iefix') format('embedded-opentype'), url('/res/adoptatext/fonts/VaudBook-webfont.woff') format('woff'), url('/res/adoptatext/fonts/VaudBook-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
   url('/res/adoptatext/fonts/VaudBook-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: normal;/* Legacy iOS */
}
@font-face {
  font-family: 'Vaud';
  src: url('/res/adoptatext/fonts/VaudBookIt-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudBookIt-webfont.eot?#iefix') format('embedded-opentype'), url('/res/adoptatext/fonts/VaudBookIt-webfont.woff') format('woff'), url('/res/adoptatext/fonts/VaudBookIt-webfont.ttf') format('truetype'), url('/res/adoptatext/fonts/VaudBookIt-webfont.svg#vauditalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Vaud';
  src: url('/res/adoptatext/fonts/VaudUltra-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudUltra-webfont.eot?#iefix') format('embedded-opentype'), url('/res/adoptatext/fonts/VaudUltra-webfont.woff') format('woff'), url('/res/adoptatext/fonts/VaudUltra-webfont.ttf') format('truetype'), url('/res/adoptatext/fonts/VaudUltra-webfont.svg#vaudregular') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Vaud';
  src: url('/res/adoptatext/fonts/VaudUltraIt-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudUltraIt-webfont.eot?#iefix') format('embedded-opentype'), url('/res/adoptatext/fonts/VaudUltraIt-webfont.woff') format('woff'), url('/res/adoptatext/fonts/VaudUltraIt-webfont.ttf') format('truetype'), url('/res/adoptatext/fonts/VaudUltraIt-webfont.svg#vauditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'VaudMedium';
  src: url('/res/adoptatext/fonts/VaudExtraBold-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('/res/adoptatext/fonts/VaudExtraBold-webfont.woff') format('woff'), url('/res/adoptatext/fonts/VaudExtraBold-webfont.ttf') format('truetype'), url('/res/adoptatext/fonts/VaudExtraBold-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VaudMedium';
  src: url('/res/adoptatext/fonts/VaudExtraBoldIt-webfont.eot');
  src: url('/res/adoptatext/fonts/VaudExtraBoldIt-webfont.eot?#iefix') format('embedded-opentype'), url('/res/adoptatext/fonts/VaudExtraBoldIt-webfont.woff') format('woff'), url('/res/adoptatext/fonts/VaudExtraBoldIt-webfont.ttf') format('truetype'), url('/res/adoptatext/fonts/VaudExtraBoldIt-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: italic;
}
a img {
  border: 0;
}
html {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
head {
  background: #ff5e99 none repeat scroll 0 0;
  color: white;
  text-shadow: none;
}
body {
  height: 100%;
  width: 100%;
  font: normal 75%/1.6em "Tahoma", Helvetica, sans-serif;
  color: #444;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
#page {
  background-color: white;
  min-height: 100%;
  height: auto;
  min-height: calc(100% - 30px);
  margin: 0 auto -50px;
  width: 1000px;
  font-family: Vaud, sans-serif;
}
/* ----------------------------------------------------------------------
 * A generic alternating row color table
   ---------------------------------------------------------------------- */
table {
  border-collapse: collapse;
}
tr {
  background: #eee;
  height: 30px;
}
td {
  padding: 5px;
}
tr.odd {
  background: white;
}
/* ----------------------------------------------------------------------
 * Header
   ---------------------------------------------------------------------- */
#header {
  clear: both;
  height: 100px;
  margin-bottom: 9em;
}
.actions_admin #header,
.activity_admin #header,
.add_book_order #header,
.add_reserve #header,
.browse_division #header,
.browse_courses #header,
.browse_instructors #header,
.course #header,
.edit_book_order #header,
.edit_reserve #header,
.home #header,
.instructor_courses #header,
.my_courses #header,
.reports_admin #header,
.help #header {
  position: relative;
  height: 90px;
  /* todd */

  margin-bottom: 17px;
  clear: both;
}
.home.home_admin #header {
  margin-bottom: 17em;
}
/* ----------------------------------------------------------------------
 * Horizontal tab menus
   ---------------------------------------------------------------------- */
.horiz_menu {
  background-color: #696b73;
  height: 34px;
  font-size: 1.3em;
  padding-right: 35px;
  padding-left: 20px;
  margin: 30px 0;
  font-family: Vaud, sans-serif;
}
.horiz_menu a {
  text-decoration: none;
  color: white;
}
.horiz_menu a:hover {
  text-decoration: underline;
}
#search_sub_menu {
  background-color: #c8c8c8;
  margin: 0 -55px;
}
ul.nav {
  float: left;
  margin: 0 auto;
  padding: 0;
}
ul.nav li {
  display: block;
  float: left;
  padding-left: .6em;
  padding-right: .6em;
  height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* ----------------------------------------------------------------------
 * Horizontal tab menu highlights
   ---------------------------------------------------------------------- */
.home #nav-home a {
  color: darkorange;
}
.admin #nav-admin a {
  color: darkorange;
}
.my_courses #nav-mycourses a {
  color: darkorange;
}
.my_delegates #nav-mydelegates {
  background: white;
}
.my_delegates #nav-mydelegates a {
  color: #333;
}
.delegates_admin #nav-delegates {
  background: white;
}
.delegates_admin #nav-delegates a {
  color: #333;
}
.actions_admin #nav-actions a {
  color: darkorange;
}
.actions_admin.overview #nav-actions_overview {
  background: white;
}
.actions_admin.overview #nav-actions_overview a {
  color: #333;
}
.actions_admin.delegates #nav-actions_delegates {
  background: white;
}
.actions_admin.delegates #nav-actions_delegates a {
  color: #333;
}
.browse_courses #nav-bycourse a {
  color: #76777b;
  background: white;
  padding: 6px;
}
.browse_division #nav-browse a {
  color: darkorange;
}
.browse_courses #nav-browse a {
  color: darkorange;
}
.browse_instructors #nav-browse a {
  color: darkorange;
}
.browse_division #nav-bydivision a {
  color: #76777b;
  background: white;
  padding: 6px;
}
.activity_admin #nav-activity a {
  color: darkorange;
}
.reports_admin #nav-reports a {
  color: darkorange;
}
.reports_admin.overview #nav-reports_overview {
  background: white;
}
.reports_admin.overview #nav-reports_overview a {
  color: #333;
}
.reports_admin.book_orders #nav-reports_book_orders {
  background: white;
}
.reports_admin.book_orders #nav-reports_book_orders a {
  color: #333;
}
.reports_admin.reserves #nav-reports_reserves {
  background: white;
}
.reports_admin.reserves #nav-reports_reserves a {
  color: #333;
}
/* ----------------------------------------------------------------------
 * Top tool menu
   ---------------------------------------------------------------------- */
#tools {
  clear: both;
  background-color: #76777b;
  height: 30px;
  font-size: 1.1em;
  font-family: "Tahoma", helvetica, sans-serif;
  color: white;
}
#tools a {
  color: white;
  text-decoration: none;
}
#tools ul {
  margin: 0 25px;
  padding: 0;
}
#tools ul li {
  display: block;
  padding-left: .6em;
  padding-right: .6em;
  padding-top: 4px;
}
#tools ul.info {
  float: left;
}
#tools ul.info.delegate li {
  padding-top: 0;
}
#tools ul.info li {
  float: left;
}
#tools ul.info li form {
  display: inline;
}
#tools ul.info input {
  padding: 0;
}
#tools ul.tools {
  float: right;
}
#tools ul.tools li {
  float: right;
}
/* ----------------------------------------------------------------------
 * Alphabet menu
   ---------------------------------------------------------------------- */
#alphabet {
  font-family: KievitSlabMedium, Times, serif;
  font-size: 1.8em;
  clear: both;
  height: 44px;
  margin-top: 2em;
}
#alphabet a {
  color: #333;
}
#alphabet ul {
  float: left;
  margin: 0 auto;
  padding: 0;
}
#alphabet ul li {
  display: block;
  float: left;
  padding-left: .6em;
  padding-right: .6em;
  height: 30px;
  padding-top: 12px;
  padding-bottom: 8px;
  list-style: none;
}
#alphabet ul li.selected {
  color: #ff6c0c;
}
.browse_courses tr {
  height: 40px;
}
.browse_courses #alphabet {
  margin-left: 7%;
}
.browse_instructors #alphabet {
  font-size: 1.4em;
  margin-left: 7%;
}
.browse_instructors #alphabet ul li {
  padding-right: .5em;
}
/* ----------------------------------------------------------------------
 * Term selector widget
   ---------------------------------------------------------------------- */
#for_term {
  float: right;
  margin: 0;
  font-size: 0.8em;
  padding-top: 1px;
}
#for_term span.label {
  font-weight: normal;
  color: white;
  width: 5em;
}
#for_term select {
  margin-right: .5em;
}
#for_term input {
  padding: 3px;
}
/* ----------------------------------------------------------------------
 * Stats box for # reserves, # book_orders, # courses, etc.
   ---------------------------------------------------------------------- */
#stats {
  font-family: LTCCaslonLong, Times, serif;
  font-size: 1.5em;
  color: #777;
  padding-left: 25px;
}
#stats li {
  list-style: none;
  height: 3.5em;
  margin-right: 10px;
}
#stats li span.count {
  font-size: 1.4em;
  display: block;
  float: left;
  margin-right: 0.5em;
  margin-top: -0.3em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  font-weight: bold;
  text-align: center;
  width: 1.5em;
}
#stats li span.total {
  font-size: 1.4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* ----------------------------------------------------------------------
 * Breadcrumbs
   ---------------------------------------------------------------------- */
h1.breadcrumbs {
  color: white;
  font-size: 1em;
  font-weight: normal;
  padding: 0.5em 0.75em 0.5em 30px;
  background: #aaa;
  margin: 0 -55px 1em;
  text-transform: uppercase;
}
h1.breadcrumbs a {
  color: white;
  text-transform: uppercase;
}
/* ----------------------------------------------------------------------
 * Flash messages on Home pages
   ---------------------------------------------------------------------- */
div#display_message {
  background: #9dae88;
  color: white;
  width: 95.5%;
  font-size: 1.2em;
  padding: 0.5em;
  padding-left: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* ----------------------------------------------------------------------
 * Error box used on the exception page and "not implemented" page
   ---------------------------------------------------------------------- */
div.error {
  border: 3pt solid #a33;
  width: 75%;
  margin-left: 12.5%;
  margin-top: 2em;
}
div.error h2 {
  text-align: center;
  letter-spacing: .08em;
  background: #a33;
  color: white;
  margin: 0;
  padding-top: .25em;
  padding-bottom: .5em;
}
div.error p {
  padding: 1em;
  font-size: 1.3em;
  line-height: 1.8em;
}
/* ----------------------------------------------------------------------
 * Footer
   ---------------------------------------------------------------------- */
#footer {
  clear: both;
  background-color: #76777b;
  height: 30px;
  width: 100%;
  font-size: 1.1em;
  padding-top: 15px;
  padding-bottom: 5px;
  bottom: 0;
  position: static;
  font-family: Vaud, sans-serif;
}
#footer a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
#footer ul.left {
  float: left;
  margin: 0 auto;
  padding: 0 25px;
}
#footer ul.left li {
  display: block;
  float: left;
  padding-right: 10px;
}
#footer ul.right {
  margin: 0;
  padding: 0 25px;
}
#footer ul.right li {
  display: block;
  float: right;
  padding-left: 10px;
}
/* ----------------------------------------------------------------------
 * Content from here down
   ---------------------------------------------------------------------- */
#bottom {
  clear: both;
  margin: 0 55px;
  padding-bottom: 80px;
}
#bottom .left {
  float: left;
  margin-bottom: 6em;
  padding-left: 5%;
  font-size: 1.4em;
  line-height: 1.5em;
  width: 45%;
}
#bottom .left p {
  margin-top: 0;
  color: #667;
}
#bottom .left p.welcome {
  color: #333;
}
#bottom .right {
  float: left;
  margin-botton: 6em;
  font-size: 1.5em;
  margin-left: 8%;
  width: 37%;
}
.admin #bottom {
  padding-top: 89px;
}
.help #bottom .right {
  font-size: 1.4em;
  line-height: 1.5em;
  width: 45%;
}
body.main #bottom .right {
  background: #c8c8c8;
}
body.main #bottom .right h2 {
  background-color: #76777b;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 1em;
}
input {
  background: white;
  padding: 3px;
  margin-top: 5px;
}
blockquote {
  border-left: 5px solid #ccc;
  margin-left: 1.5em;
  padding-left: 5px;
}
#post {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
span.alert {
  font-size: .8em;
  color: #ff9900;
}
/* ----------------------------------------------------------------------
 * Various buttons
   ---------------------------------------------------------------------- */
#buttons {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 1em;
  padding-bottom: 2em;
}
#buttons input {
  font-size: 1.2em;
  float: right;
  margin-right: 1.8em;
  padding: 5px;
}
input.add {
  background: #ff9933;
  padding: .25em;
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-left: 1em;
}
input.admin_actions {
  background: #76777b;
  color: white;
  padding: .4em;
  font-size: 1.3em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 6.5em;
}
input.edit {
  background: #999;
  padding: .25em;
  font-size: 1.2em;
}
input.delete {
  background: #eee;
  padding: .25em;
  font-size: 1.2em;
}
input.no_reserves {
  background: #ddd;
  font-size: 1.2em;
  padding: .3em .25em;
  color: #777;
  border: 1px solid #999;
}
input.no_book_orders {
  background: #ddd;
  font-size: 1.2em;
  padding: .3em .25em;
  color: #777;
  border: 1px solid #999;
}
input.change {
  margin: 0;
  background: #eee;
  padding: .25em;
  font-size: 1.2em;
}
p.instructions {
  font-style: italic;
  font-size: 1.2em;
  padding-left: 2.5%;
}
/* ----------------------------------------------------------------------
 * Spans
   ---------------------------------------------------------------------- */
span.or {
  display: block;
  float: right;
  font-family: Vaud, sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: .5em .5em 0 .5em;
  color: #777;
}
span.label {
  clear: left;
  display: block;
  float: left;
  padding-top: 0.4em;
  padding-right: 5px;
  width: 9em;
  font-weight: bold;
  font-size: 1.4em;
}
span.indent_label {
  clear: left;
  display: block;
  float: left;
  padding-top: .5em;
  padding-left: 1.5em;
  width: 8.25em;
  font-size: 1.1em;
}
span.instructions {
  display: block;
  padding-left: 2em;
  font-size: 73%;
}
span.radio {
  width: 9em;
  font-size: 1.2em;
  line-height: 2.5em;
  padding-left: 4px;
}
span.count {
  border: 1px solid #999;
  font-size: 1.1em;
  padding: 7px 12px 3px;
}
span.total {
  font-size: 1.4em;
  color: black;
  font-family: Vaud, sans-serif;
}
span.grey {
  color: #eee;
}
span.required {
  color: red;
}
span.journal {
  width: 20em;
}
/* ----------------------------------------------------------------------
 * Enrollment period box
   ---------------------------------------------------------------------- */
#enrollment_period {
  width: 94%;
}
#enrollment_period ul {
  float: left;
  margin: 0;
  margin-left: 5%;
  margin-bottom: 1em;
  padding: 0;
  padding-left: 5%;
  width: 87%;
  background: white;
}
#enrollment_period ul li {
  display: block;
  float: left;
  padding-right: 2.3%;
  padding-bottom: .4em;
  list-style: none;
  width: 47.7%;
  font-size: 1em;
  padding-top: .4em;
  text-transform: uppercase;
  color: #555;
}
#enrollment_period ul#closed {
  background: #aaa99f;
  margin-left: 38px;
  padding: 0;
  width: 87%;
}
#enrollment_period ul#closed li {
  display: block;
  width: 90%;
  color: white;
  font-size: 1.2em;
  padding-left: 5%;
  padding-right: 6%;
}
#enrollment_period ul#closed li.message {
  color: #777;
  background: white;
  text-transform: none;
  font-size: 1em;
  /* todd */

}
#enrollment_period ul#open_soon li {
  width: 82%;
}
#enrollment_period li.date {
  text-align: center;
  background: #849895;
  color: white;
}
#enrollment_period li.days_remaining {
  text-align: center;
  background: #eee;
  color: #555;
}
/* ----------------------------------------------------------------------
 * A book order or reserve detail box
   ---------------------------------------------------------------------- */
.add_reserve #bottom form,
.edit_reserve #bottom form,
.add_book_order #bottom form #book_order,
#bottom form #library_reserve,
.edit_book_order #bottom form {
  background-color: #eee;
  width: 92%;
  margin-left: 4%;
  float: left;
  margin-bottom: 1em;
}
#bottom form #library_reserve {
  background-color: #f9be00;
  padding-top: 0.5em;
  padding-bottom: 1em;
  margin-left: 2.5%;
  width: 94%;
}
#bottom form #library_reserve input {
  margin-left: 1em;
  vertical-align: middle;
}
#reserve h2,
#book_order h2 {
  margin: 0;
  width: 89%;
  margin-left: 4%;
  padding: 1.5%;
  color: white;
  background-color: #f9be00;
  margin-bottom: 1em;
  float: left;
}
#library_reserve span.label {
  display: inline;
  float: none;
  vertical-align: middle;
  font-size: 1.2em;
  color: white;
}
#library_data span.label {
  display: inline;
  float: none;
}
#resource_data {
  clear: both;
}
textarea {
  font-size: 1.2em;
  font-family: Vaud, sans-serif;
  padding: 4px;
}
textarea#notes {
  width: 93%;
  margin-left: 2.5%;
  padding: .25em;
  margin-bottom: 2em;
}
ul#library_data {
  float: left;
  margin: 0 auto;
  padding: 0;
  padding-left: 5%;
  margin-left: 2%;
  width: 90%;
  background: #ccc;
}
ul#library_data li {
  display: block;
  float: left;
  padding-right: 1.2em;
  height: 30px;
  padding-top: 12px;
}
ul#library_data li.copies {
  padding-top: 5px;
}
#data ul {
  list-style-type: none;
  margin-bottom: 1em;
  margin-right: 8%;
  margin-top: 2em;
}
#data ul li {
  margin-bottom: .25em;
}
#data ul li a {
  font-weight: bold;
  color: #667;
}
#data ul li select#resource_type {
  height: 2em;
}
#data ul li input {
  width: 71%;
  border: 1px solid #999;
  font-size: 1.2em;
}
#data ul li input.resource_type {
  border: none;
  width: auto;
  background: none;
}
#data ul li input#copies {
  width: 2em;
}
#data ul li input#year {
  width: 15%;
}
#data ul li input#month {
  width: 15%;
}
#data ul li input#day {
  width: 15%;
}
#data ul li input#journal {
  width: 52%;
}
#data ul li input#volume {
  width: 15%;
}
#data ul li input#issue {
  width: 15%;
}
#data ul li input#page_numbers {
  width: 25%;
}
#data ul li input#isbn {
  width: 30%;
  margin-right: 5px;
}
#data ul li input#edition {
  width: 25%;
}
#data ul li#order_type {
  margin-top: 2em;
}
#data ul li#order_type input {
  border: none;
  width: auto;
  background: #eee;
}
#data ul li.required span.label {
  color: red;
}
#data li.validation {
  background: #E87871;
  color: white;
}
#data li.validation p {
  margin-left: 0;
  padding: 5px;
}
#data p {
  margin-left: 2.5%;
  font-size: 1.2em;
  margin-right: 2.5%;
  line-height: 1.6em;
}
#data p.validation {
  margin-left: 2%;
  float: left;
  width: 93.5%;
  padding: 5px;
  background: #E87871;
  color: white;
}
/* ----------------------------------------------------------------------
 * A generic alternating row color list
   ---------------------------------------------------------------------- */
.actions_admin ul.list li,
.reports_admin ul.list li {
  padding-left: 4em;
}
ul.list {
  width: 100%;
  padding: 0;
  margin: 0;
}
ul.list li {
  list-style: none;
  background: #eee;
  padding: .5em .25em .5em 1.5em;
  font-size: 1.2em;
}
ul.list li a {
  line-height: 1.8em;
  color: #444;
}
ul.list li.odd {
  background: white;
}
ul.list li.highlighted {
  background: #b4d5ff;
  color: black;
}
/* ----------------------------------------------------------------------
 * A generic alternating row color table
   ---------------------------------------------------------------------- */
table.list {
  width: 100%;
}
table.list a {
  line-height: 1.8em;
  color: #444;
  font-size: 1.2em;
}
table.list tr {
  padding: .25em .25em .25em 1em;
}
table.list td {
  padding: .25em .25em .25em 1em;
}
table.list td.name {
  width: 27%;
}
table.list td.description {
  width: 80%;
}
/* ----------------------------------------------------------------------
 * Course info box
   ---------------------------------------------------------------------- */
#course_info {
  float: left;
  font-size: 1.3em;
  padding: 1em 0 1em 0;
  font-family: LTCCaslonLong, Times, serif;
  background: #696b73;
  margin: 1.5em 0 2em 4%;
  width: 92%;
}
#course_info dl {
  float: left;
  width: 80%;
  margin: 0;
}
#course_info dl dt {
  font-weight: bold;
  height: 1.5em;
  clear: left;
  float: left;
  padding-left: 2%;
  padding-top: .25em;
  color: white;
  width: 13%;
  padding-right: .3em;
}
#course_info dl dt.course_name {
  padding-top: 0.3em;
}
#course_info dl dd {
  float: left;
  padding-top: .25em;
  margin-left: 15px;
  width: 70%;
  color: #ddd;
}
#course_info dl dd.course_name {
  margin-left: 0.53em;
  margin-right: 0.2em;
  padding-top: 0;
  line-height: 36px;
}
#course_info dl .course_name {
  font-size: 1.7em;
  width: auto;
}
#course_info #copy {
  float: left;
  width: 5em;
}
#course_info #copy p {
  font-size: 0.85em;
  width: 12em;
  color: #c8c8c8;
}
#course_info input.copy {
  background: #888;
  padding: .25em .9em .43em;
  font-size: 0.9em;
  margin: 0 0 0 .25em;
  border: 2px outset #aaa;
  color: #ddd;
}
#copy_info {
  float: left;
  padding: 0;
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 95%;
  margin-left: 2%;
  padding-left: .75em;
  font-family: LTCCaslon, Georgia, serif;
  background: #777;
  margin-top: 20px;
  padding-left: 30px;
}
#copy_info h2 {
  color: #eee;
}
/* ----------------------------------------------------------------------
 * About page
   ---------------------------------------------------------------------- */
.help #bottom {
  font-size: 1em;
}
.help #bottom #help {
  font-family: LTCCaslon, Georgia, serif;
  margin-left: 4%;
  padding-top: 20px;
  width: 86%;
}
.help #bottom h2 {
  font-size: 2em;
  margin-bottom: 1.5em;
}
.help #bottom h2.sentry {
  font-size: 1.8em;
}
.help #bottom h3 {
  font-size: 1.6em;
}
.help #bottom p {
  font-size: 1.3em;
  line-height: 1.4em;
}
.help #bottom li {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-bottom: .75em;
}
.help #bottom li a {
  font-weight: bold;
  color: #667;
}
/* ----------------------------------------------------------------------
 * Home page
   ---------------------------------------------------------------------- */
#recent_activity table {
  margin-top: 25px;
  font-size: 10pt;
}
.home h2 {
  padding-top: .5em;
  margin: 0 0 .3em;
  font-family: LTCCaslon, Georgia, serif;
  font-size: 2em;
  color: black;
}
.home h2.open {
  margin: 0;
  margin-left: 10%;
  padding-left: 5%;
  font-family: Vaud, sans-serif;
  text-transform: uppercase;
  width: 82%;
  background: #f1d384;
  color: #555;
  font-weight: normal;
  font-size: 1.3em;
  margin-top: 1em;
  float: left;
  padding-bottom: 0.6em;
}
.home h2.term {
  margin: 0;
  margin-left: 10%;
  padding-left: 5%;
  font-family: Vaud, sans-serif;
  text-transform: uppercase;
  width: 82%;
  background: #ff6c0c;
  color: white;
  font-weight: normal;
  font-size: 1.3em;
  margin-top: 1em;
  float: left;
  padding-bottom: 0.6em;
}
.home table {
  width: 100%;
}
.home td {
  padding-left: 10px;
}
.home #recent_activity {
  width: 84%;
  float: left;
  padding-bottom: 2em;
  margin-left: 5%;
  margin-bottom: 1em;
}
.home #recent_activity a {
  color: black;
}
.home #recent_activity td.course_name {
  width: 8%;
}
.home #recent_activity td.activity {
  width: 20%;
}
.home #recent_activity td.modified_at {
  width: 10%;
}
.home #recent_activity td.modified_by {
  width: 5%;
}
.home #my_courses {
  width: 84%;
  float: left;
  padding-bottom: 2em;
  border-bottom: 1px black dotted;
  margin-left: 5%;
  margin-bottom: 1em;
}
.home #my_courses a {
  color: black;
}
.home #my_courses table {
  margin-top: 25px;
}
.home #my_courses td.course_name {
  width: 25%;
}
.home #my_courses td.course_description {
  width: 75%;
}
.home #left {
  float: left;
  width: 56%;
  border-right: 1px black dotted;
  margin-bottom: 2em;
}
.home #right {
  margin-left: 55%;
}
.home #right p {
  padding-left: 10%;
  padding-right: 8%;
  padding-top: .5em;
  font-family: LTCCaslon, Georgia, serif;
  font-size: 1.5em;
  line-height: 1.5em;
}
.home #header_wrapper {
  width: 100%;
  height: 16em;
}
.home #header_wrapper p {
  clear: left;
  float: left;
  font-size: 1.4em;
  margin: 20px 75px;
  font-family: LTCCaslon, Georgia, serif;
  color: #777;
  line-height: 25px;
}
.home .instructions {
  color: #777;
  font-size: 1.2em;
  /* todd */

  line-height: 1.3em;
}
/* ----------------------------------------------------------------------
 * Admin home page
   ---------------------------------------------------------------------- */
.home_admin #right {
  margin-top: 0;
}
.home_admin h2.term {
  margin-top: 0;
}
/* ----------------------------------------------------------------------
 * My courses page
   ---------------------------------------------------------------------- */
.my_courses .instructions {
  padding-left: 5%;
  margin-top: 35px;
  width: 85%;
  line-height: 1.5em;
  color: #777;
}
/* ----------------------------------------------------------------------
 * Instructor courses page
   ---------------------------------------------------------------------- */
.instructor_courses #bottom {
  font-family: Vaud, sans-serif;
}
.instructor_courses #carts {
  margin-left: 4%;
  padding-top: 30px;
}
.instructor_courses h2 {
  font-size: 2em;
  font-family: Vaud, sans-serif;
}
.instructor_courses table {
  font-size: 1.2em;
  width: 92%;
}
.instructor_courses td {
  padding-left: .5em;
  padding-right: .5em;
}
.instructor_courses td a {
  line-height: 1.8em;
  color: #667;
}
/* ----------------------------------------------------------------------
 * My delegates page
   ---------------------------------------------------------------------- */
.my_delegates #bottom {
  font-family: LTCCaslon, Georgia, serif;
  width: 100%;
}
.my_delegates #add_delegate {
  float: left;
  margin: 3em 30% 3em;
  width: 50%;
}
.my_delegates table {
  clear: both;
  float: left;
  margin: 0 30% 3em;
  width: 40%;
  font-size: 1.3em;
}
.my_delegates table td input {
  font-size: 0.9em;
}
.my_delegates td {
  padding-left: .5em;
  padding-right: .5em;
}
.my_delegates td.full_name {
  width: 75%;
}
/* ----------------------------------------------------------------------
 * Admin actions pages
   ---------------------------------------------------------------------- */
.actions_admin h2 {
  color: white;
  background: #9dae88;
  padding: 0.75em;
  padding-left: 1.9em;
  margin: 1.5em 20px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
}
.actions_admin input.add {
  background: #76777b;
  color: white;
  font-size: 1.25em;
  margin-left: 1em;
  margin-top: 0.7em;
  padding: 0.4em;
}
.actions_admin #action {
  width: 50%;
  margin: auto;
}
.actions_admin #action ul {
  float: left;
}
.actions_admin #action ul li {
  list-style: none;
}
.actions_admin #action ul p {
  margin: 1em;
}
.actions_admin #action a.add {
  float: left;
  margin-left: 2em;
  margin-top: 1.5em;
}
.actions_admin span.label {
  width: 7em;
}
.actions_admin span.long_label {
  font-size: 1.2em;
  padding-right: 3em;
}
.actions_admin span.subhead {
  width: 9em;
  font-size: 1.7em;
  font-weight: bold;
  height: 1em;
}
.actions_admin table {
  clear: left;
  margin: 0 auto;
  margin-top: 2em;
  width: 95%;
}
.actions_admin table tr th {
  background: white;
  padding-top: 1.5em;
}
.actions_admin table tr td {
  padding: .1em .25em .5em 1em;
  padding-left: 1em;
}
.actions_admin li.validation {
  background: #ff9933;
  color: white;
}
.actions_admin li.validation p {
  margin-left: 0.5em;
  padding: 5px;
}
.actions_admin p.validation {
  margin-left: 2%;
  float: left;
  width: 93.5%;
  padding: 5px;
  background: #E87871;
  color: white;
}
.actions_admin .ui-datepicker td {
  padding: 0;
}
.actions_admin .delegator,
.actions_admin .delegate,
.actions_admin .temp_uid,
.actions_admin .admin_uid {
  text-align: left;
  padding-left: 13px;
  padding-bottom: 15px;
  font-size: 1.3em;
}
.actions_admin .temp_name,
.actions_admin .admin_name {
  text-align: left;
  padding-left: 125px;
  font-size: 1.3em;
  padding-bottom: 15px;
}
.actions_admin .delegator_full_name,
.actions_admin .delegate_full_name,
.admin_access .username,
.temp_access .username {
  font-size: 1.1em;
}
.admin_access .full_name,
.temp_access .full_name {
  font-size: 1.1em;
  padding-left: 125px;
}
/* ----------------------------------------------------------------------
 * Delegates admin actions page
   ---------------------------------------------------------------------- */
.actions_admin.delegates table tr td.button {
  width: 67px;
  padding-right: 10px;
}
.actions_admin.delegates input.add {
  margin-top: 1.6em;
}
/* ----------------------------------------------------------------------
   Open Term action page
   ---------------------------------------------------------------------- */
.actions_admin.open_term select {
  margin-top: 0.5em;
  margin-left: 2em;
  font-size: 1.2em;
}
.actions_admin.open_term span.label {
  font-size: 1.6em;
}
.actions_admin.open_term span.subhead {
  font-size: 1.6em;
}
.actions_admin.open_term span.indent_label {
  font-size: 1.35em;
}
.actions_admin.open_term input.hasDatepicker {
  font-size: 1.15em;
}
.actions_admin.open_term #action ul li {
  padding: 2px;
}
/* ----------------------------------------------------------------------
   Temp Access action page
   ---------------------------------------------------------------------- */
.actions_admin.temp_access #action ul li {
  margin-left: -1em;
}
.actions_admin.temp_access table tr td.username {
  width: 100px;
}
.actions_admin.temp_access table tr td.button {
  width: 67px;
  padding-right: 10px;
}
.actions_admin.temp_access input#username {
  width: 170px;
}
/* ----------------------------------------------------------------------
   Close Reopen action page
   ---------------------------------------------------------------------- */
.actions_admin.close_reopen #term_name {
  width: 400px;
  margin: 0 auto;
}
.actions_admin.close_reopen #term_name span.label {
  font-size: 2.2em;
  font-weight: normal;
  padding-top: 1em;
  width: 100%;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #76777b;
}
.actions_admin.close_reopen #periods {
  clear: left;
  width: 400px;
  margin: 0 auto;
}
.actions_admin.close_reopen #periods ul {
  margin-left: -2.8%;
}
.actions_admin.close_reopen #periods ul li {
  list-style: none;
  margin-bottom: 1em;
  padding-top: 7px;
}
.actions_admin.close_reopen #periods span.label {
  font-size: 1.6em;
  font-weight: normal;
  width: 8em;
}
.actions_admin.close_reopen #periods span.text {
  font-size: 1.35em;
  padding: 5px;
}
.actions_admin.close_reopen input {
  margin-top: 1.05em;
}
.actions_admin.close_reopen input.submit {
  background: #76777b;
  color: white;
  padding: .4em;
  font-size: 1.3em;
  margin-top: 1.5em;
  margin-left: 6.5em;
}
/* ----------------------------------------------------------------------
   Admin Access action page
   ---------------------------------------------------------------------- */
.actions_admin.admin_access #action ul li {
  margin-left: -1em;
}
.actions_admin.admin_access table tr td.username {
  width: 100px;
}
.actions_admin.admin_access table tr td.button {
  width: 67px;
}
.actions_admin.admin_access input#username {
  width: 170px;
}
/* ----------------------------------------------------------------------
   Activity Report action page
   ---------------------------------------------------------------------- */
.actions_admin.activity_report .ui-dialog-title {
  margin-left: 7px;
}
.actions_admin.activity_report .ui-button {
  float: right;
  padding: 0;
}
.actions_admin.activity_report .ui-dialog-content {
  padding-left: 7px;
}
.actions_admin.activity_report span.indent_label {
  font-size: 1.4em;
}
.actions_admin.activity_report #action ul li {
  padding: 5px;
}
.actions_admin.activity_report input.hasDatepicker {
  font-size: 1.1em;
}
/* ----------------------------------------------------------------------
   Prevous Terms action page
   ---------------------------------------------------------------------- */
.actions_admin.prev_terms select {
  margin-top: 1em;
  margin-left: 2.3em;
}
.actions_admin.prev_terms #action ul {
  margin-bottom: 2.5em;
}
.actions_admin.prev_terms table {
  width: 98%;
  font-size: 1.4em;
  margin: 0;
}
.actions_admin.prev_terms tr {
  height: 35px;
}
.actions_admin.prev_terms td {
  padding-top: 8px;
}
.actions_admin.prev_terms td.align_right {
  text-align: right;
  padding-right: 10px;
}
.actions_admin.prev_terms span.label {
  font-size: 1.6em;
  margin-left: 25px;
}
.actions_admin.prev_terms select {
  font-size: 1.2em;
  margin-top: 0.5em;
}
/* ----------------------------------------------------------------------
 * Reports admin page
   ---------------------------------------------------------------------- */
.reports_admin #bottom #description {
  width: 95%;
  margin: 1.4em 4% 1em 20px;
  float: left;
  background: #9dae88;
}
.reports_admin #bottom h2 {
  width: 83%;
  padding: 1em 1.75%;
  color: white;
  float: left;
  margin: 0;
}
.reports_admin #description form {
  margin: 1em 1em 0 0;
  float: right;
}
.reports_admin #for_term {
  float: right;
  margin: 5em 3% 0 0;
  padding: .5em .75em .75em;
  background: #667;
  border: 3px solid #999;
}
#pages {
  width: 92%;
  margin-left: 20px;
  padding: 1em;
  background: #c8c8c8;
  margin-top: 158px;
  margin-bottom: 4em;
}
#pages table {
  clear: both;
  width: 100%;
}
#pages table a {
  font-weight: bold;
  color: #333;
}
#pages table th {
  background: #333;
  color: white;
  height: 2.5em;
  text-align: left;
}
#pages table td {
  padding: 3px;
  text-align: left;
}
#pages table td.course_name {
  width: 18%;
}
#pages table td.combined_course_name {
  width: 8%;
}
#pages table td.resource {
  width: 45%;
}
#pages table td.combined_resource {
  width: 35%;
}
#pages table td.department {
  width: 25%;
}
#pages table td.division {
  width: 10%;
}
#pages table td.row {
  width: 5%;
  text-align: center;
}
#report_header {
  width: 100%;
  min-height: 28px;
}
#report_header ul.nav {
  color: black;
  font-size: 1.6em;
}
#report_header ul.nav li {
  height: 2em;
  padding: 0.07em 1.0em 0 0.2em;
}
#report_header form {
  float: right;
  margin-top: -3px;
}
#report_header form label {
  color: black;
  font-size: 1.4em;
}
.notes {
  color: #333;
  font-size: 0.9em;
}
.notes_header {
  font-weight: normal;
  color: #999;
  font-size: 1.1em;
}
.notes_header a {
  font-weight: bold;
  color: #333;
}
#report_list {
  width: 92%;
  margin: 4em 0 0 4%;
}
#report_list ul li {
  font-size: 1.3em;
}
/* ----------------------------------------------------------------------
 * Browse pages
   ---------------------------------------------------------------------- */
.browse_courses #bottom {
  font-family: Vaud, sans-serif;
}
.browse_courses h2 {
  font-size: 18pt;
}
.browse_courses #tracks {
  margin-left: 5%;
  width: 90%;
  margin-top: 2em;
}
.browse_division #bottom {
  font-family: Vaud, sans-serif;
}
.browse_division h2 {
  font-size: 18pt;
}
.browse_division #divisions {
  float: left;
  margin-bottom: 2em;
  margin-left: 3%;
  width: 17%;
  clear: left;
  margin-top: 2em;
}
.browse_division #departments {
  float: left;
  margin-bottom: 2em;
  margin-left: 6%;
  width: 30%;
  margin-top: 2em;
}
.browse_division #tracks {
  float: left;
  margin-bottom: 2em;
  margin-left: 6%;
  width: 37%;
  margin-top: 2em;
}
.browse_instructors #nav-byinstructor {
  color: white;
}
.browse_instructors #bottom #search_sub_menu #nav-byinstructor a {
  color: #76777b;
  background: white;
  padding: 6px;
}
.browse_instructors #instructors {
  margin-left: 5%;
  width: 90%;
  margin-top: 2em;
}
/* ----------------------------------------------------------------------
 * Course detail page
   ---------------------------------------------------------------------- */
#course_info h1.breadcrumbs {
  border-bottom: 0.25em solid #555555;
  margin-left: .75em;
}
.course .section_header {
  width: 100%;
  float: left;
  margin-bottom: .5em;
  border-bottom: 1px black dotted;
  font-family: LTCCaslonLong, Times, serif;
}
.course .section_header h2 {
  margin: 0;
  padding-top: .25em;
  display: inline;
  font-size: 1.9em;
  float: left;
  padding-bottom: 15px;
  color: #667;
}
.course .section_header input {
  margin: 0;
  display: inline;
  float: right;
}
.course #bottom form {
  width: 92%;
  margin-left: 4%;
  margin-bottom: 4em;
}
.course #bottom form table {
  clear: both;
  font-size: 1.05em;
}
.course #bottom form table input {
  margin: 0;
}
.course #bottom form th {
  text-align: left;
  background-color: #b4d5ff;
  padding: 5px;
}
.course #bottom form th.copies {
  width: 3%;
}
.course #bottom form th.where {
  width: 8%;
}
.course #bottom form th.modified_by {
  width: 7%;
}
.course #bottom form th.modified_for {
  width: 7%;
}
.course #bottom form th.modified_at {
  width: 13%;
}
.course #bottom form th.empty {
  background-color: white;
}
.course #bottom form #book_orders {
  margin-bottom: 5em;
}
.course #bottom form #book_orders th.description {
  width: 56%;
}
.course #bottom form #library_reserves th.description {
  width: 50%;
}
.course #bottom form #course_comments {
  margin-top: 4em;
}
.course #bottom form #course_comments textarea {
  margin-left: 0;
  width: 99%;
  border: 2px inset #aaa;
}
.course #bottom form #course_comments input {
  float: right;
}
.course ul.no_items_needed {
  float: left;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  margin-bottom: 3em;
}
.course ul.no_items_needed li {
  display: block;
  float: right;
}
.course ul.no_items_needed li.no_items_needed {
  float: left;
  font-size: 1.65em;
  color: red;
  font-family: LTCCaslon, Georgia, serif;
  padding: .25em;
}
/* ----------------------------------------------------------------------
 * Activity admin page
   ---------------------------------------------------------------------- */
.activity_admin table {
  width: 92%;
  margin: 4em 0 0 4%;
  padding: 0;
}
.activity_admin tr {
  height: 40px;
  border: 0;
}
.activity_admin tr th {
  background-color: white;
  text-align: left;
  padding-left: 10px;
}
.activity_admin th {
  font-size: 1.3em;
}
.activity_admin td.term {
  width: 6%;
  padding-left: 10px;
}
.activity_admin td.course_name {
  width: 8%;
  padding-left: 10px;
}
.activity_admin td.activity {
  width: 18%;
  padding-left: 10px;
}
.activity_admin td.modified_at {
  width: 10%;
  padding-left: 10px;
}
.activity_admin td.modified_by {
  width: 5%;
  padding-left: 10px;
}
/* ----------------------------------------------------------------
 * Autocompleter
   ---------------------------------------------------------------- */
.ac_results {
  padding: 0px;
  border: 1px solid WindowFrame;
  background-color: Window;
  overflow: hidden;
}
.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ac_results iframe {
  display: none;
  display: block;
  /*sorry for IE5*/

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: mask();
  width: 3000px;
  height: 3000px;
}
.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  font: menu;
  font-size: 12px;
  overflow: hidden;
}
.ac_loading {
  background: Window url('./indicator.gif') right center no-repeat;
}
.ac_over {
  background-color: Highlight;
  color: HighlightText;
}
.page_logo {
  width: 128px;
}
div.hline {
  background: #ff6c0c;
  height: 1px;
  margin: 0 75px;
}
.home ul.info {
  list-style: none;
  margin: 10px 75px 30px;
  text-align: right;
}
.flex {
  margin: 30px 75px 20px;
}
#ribbon {
  background-color: #696b73;
  height: 30px;
  position: relative;
}
#ribbon a {
  color: #EEEEEE;
  font-weight: bold;
}
#ribbon-content {
  width: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
#identity {
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  top: 2px;
  left: 1%;
  color: #EEEEEE;
  font-size: 0.79em;
  width: 100%;
  font-family: Vaud, sans-serif;
  font-size: 1.05em;
}
.name {
  color: #EEEEEE;
  font-weight: bold;
}
#tools_2 {
  top: 10%;
  right: 10px;
  position: absolute;
  font-family: Vaud, sans-serif;
  font-size: 1.1em;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#tools_2 li {
  display: table-cell;
  text-transform: uppercase;
  font-size: 0.85em;
  /* todd */

  font-family: VaudMedium, sans-serif;
  padding: 0 6px;
  margin: 0;
}
#tools_2 li a {
  text-decoration: none;
}
#logo_2 {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 170px;
  display: block;
}
#logo_2 img {
  width: 170px;
}
#sitename {
  position: absolute;
  bottom: -15px;
  left: 210px;
  width: 790px;
  font-family: KievitSlabMedium, Times, serif;
  font-size: 2.6em;
  padding-bottom: 14px;
  background-image: url(orange-pixel.png);
  background-position: bottom;
  background-repeat: repeat-x;
}
@media screen and (max-width: 1000px) {
  #page {
    width: 100%;
  }
  #ribbon-content {
    width: 100%;
  }
  #pages {
    width: 95%;
    margin-left: 10px;
  }
  .reports_admin #bottom #description {
    background: #ff9933 none repeat scroll 0 0;
    float: left;
    margin-left: 10px;
    padding: 0 1em;
    width: 95%;
  }
  .reports_admin #for_term {
    margin-right: 1%;
  }
  .admin_access #action {
    width: 60%;
  }
}
@media screen and (max-width: 720px) {
  div.hline {
    margin: 0 5vw;
  }
  .flex {
    margin: 30px 5vw 15px;
  }
  #stats {
    padding-left: 15px;
  }
}
@media screen and (max-width: 916px) and (min-width: 664px) {
  #enrollment_period li.days_remaining {
    height: 39px;
  }
}
@media screen and (max-width: 900px) {
  #alphabet {
    height: 80px;
  }
}
@media screen and (max-width: 870px) {
  #course_info dl {
    width: 76%;
  }
}
@media screen and (max-width: 792px) {
  #course_info dl {
    width: 72%;
  }
  #report_header ul.nav {
    color: black;
    font-size: 1.4em;
  }
  #report_header form {
    float: right;
    margin-top: -10px;
    padding-bottom: 10px;
  }
  .admin_access #action {
    width: 70%;
  }
}
@media screen and (max-width: 748px) {
  ul.list li {
    font-size: 1.0em;
  }
  .browse_division h2,
  .browse_courses h2 {
    font-size: 16pt;
  }
  .reports_admin #bottom h2 {
    font-size: 13pt;
  }
  .reports_admin #description form {
    margin: 0;
    padding-top: 8px;
  }
}
@media screen and (max-width: 715px) {
  .actions_admin #action {
    width: 60%;
  }
  .admin_access #action {
    width: 80%;
  }
}
@media screen and (max-width: 656px) {
  #for_term span.label {
    color: #c8c8c8;
  }
  .browse_division #tracks {
    margin-top: -0.5em;
  }
}
@media screen and (max-width: 650px) {
  .browse_division #departments {
    margin-top: -0.5em;
  }
}
@media screen and (max-width: 627px) {
  .browse_division h2 {
    font-size: 1.5em;
  }
  #course_info dl {
    width: 68%;
  }
  .reports_admin #description form {
    margin-top: -20px;
    padding-bottom: 10px;
  }
  .actions_admin #action {
    width: 80%;
  }
}
@media screen and (max-width: 570px) {
  #enrollment_period li.days_remaining {
    height: 58px;
  }
  #stats li {
    margin-bottom: 25px;
  }
}
