/*
Copyright 2004-5 California Institute of Technology.  Questions or comments
may be directed to the author, Chris Malek at cmalek@caltech.edu.

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 2 of the License, or any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
this program; if not, write to the Free Software Foundation, Inc., 59 Temple
Place, Suite 330, Boston, MA  02111-1307  USA
*/

a img {
	border: 0;
}

body {
    font: normal 75% / 1.6em "Tahoma", Helvetica, sans-serif;
    color: #444;
    background-color: #444; }

#page {
    width: 820px;
    margin: 0px auto 35px auto;
    background-color: white;
}

#header {
    clear: both;
    height: 100px;
    margin-bottom: 10em;
}

.home #header {
    margin-bottom: 15em;
}

.home.home_admin #header {
    margin-bottom: 15em;
}

body.main #header {
	height: 200px; 
}

body.file_stored #header {
	height: 150px;
}

#header #menu, #bottom #search_sub_menu {
	clear: both;
	background-color: #666;
	height: 15px;
	font-size: 1.3em;
	padding-right: 35px;
	padding-left: 25px;
	font-family: "Tahoma", helvetica, sans-serif;
}

#bottom #search_sub_menu {
	background-color: #999;
}

#header #menu a, #bottom #search_sub_menu a {
	text-decoration: none;
	color: white;
}

#header #menu a:hover, #bottom #search_sub_menu a:hover { text-decoration: underline; }

#header #menu ul.nav, #bottom #search_sub_menu ul.nav {
	float: left;
	margin: 0 auto;
	padding: 0;
}

#header #menu ul.nav li, #bottom #search_sub_menu ul.nav li {
	display: block;
    float: left;
    padding-left: .6em;
    padding-right: .6em;
    height: 25px;
	padding-top: 15px;
	padding-bottom: 8px;
}

#header #tools {
	clear: both;
	background-color: #444;
	height: 38px;
	font-size: 1.1em;
	font-family: "Tahoma", helvetica, sans-serif;
}

#header #tools ul.info {
	float: left;
	margin: 0 auto;
	padding: 0;
}

#header #tools ul.info li {
	display: block;
    float: left;
    padding-left: .6em;
    padding-right: .6em;
    height: 30px;
	padding-top: 4px;
	color: white;
}

#header #tools ul.info.delegate li {
	padding-top: 0;
}

#header #tools ul.info li a, #header #tools ul.tools li a {
	color: white;
}

#header #tools span.username {
	font-weight: bold;
}

#header #tools ul.tools {
    float: right;
	margin: 0 auto;
	padding: 0;
}

#header #tools ul.info li form {
    display: inline;
}

#header #tools ul.info input {
    padding: 0;
}

#header #tools ul.tools li {
	display: block;
    float: right;
    padding-left: .6em;
    padding-right: .6em;
    height: 30px;
	padding-top: 4px;
	color: white;
}

#footer {
	clear: both;
	background-color: #ccc;
	height: 30px;
	font-size: 1.1em;
	/*width: 100%;*/
	margin-top: 6em;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom: 10px;
}

#footer a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

#footer ul.left {
	float: left;
	margin: 0 auto;
	padding: 0;
}

#footer ul.left li {
	display: block;
        float: left;
        padding-right: 10px;
}

#footer ul.right {
	margin: 0 auto;
	padding: 0;
}

#footer ul.right li {
	display: block;
    float: right;
    padding-left: 10px;
}

#bottom {
	clear: both;
	width: 100%;
	margin-top: -6em;
}

#bottom .left, #bottom .right {
	float: left;
	margin-bottom: 6em;
}

#bottom .left {
	padding-left: 5%;
}

#bottom .left, body.about #bottom .right {
	font-size: 1.4em;
	line-height: 1.5em;
	width: 45%;
}

body.about #bottom .right, body.about #bottom .left {
	width: 40%;
}

body.about #bottom {
	font-size: 1em;
}

body.about #bottom .right {
	margin-left: 8%;
}

body.about #bottom .right h2 {
	color: #999;
}

#bottom .left p {
	margin-top: 0;
	color: #666;
}

#bottom .left p.welcome {
	color: #333;
}

#bottom .right {
	font-size: 1.5em;
	margin-left: 2%;
	width: 37%;
}

body.main #bottom .right, body.file_stored #bottom .right {
	background:#ffcc99;
}

body.main #bottom .right h2, body.file_stored #bottom .right h2 {
	background-color: #ff9900;
	padding: 10px;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-size: 1em;
}


input {
	background: white;
	padding:3px;
	margin-top: 5px;
}


blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}

#post {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

span.alert {
	font-size: .8em;
	color: #ff9900;
}


#buttons {clear: both; float: left ;width: 100%; margin-top: 1em; padding-bottom: 2em; }
#buttons input { font-family: Tahoma, helvetica; font-size: 1.2em; float: right; margin-right: 1em;}

.home #nav-home { background: white; }
.home #header #menu #nav-home a { color: #333; }
.home #my_courses { width: 84%; float: left; background: white; padding-bottom: 2em; }
.home #my_courses a, .home #recent_activity a { font-family: Georgia; color: black;}
.home #recent_activity { width: 84%; float: left; background: white; padding-bottom: 2em }
.home #my_courses, .home #recent_activity { margin-left: 2%;  margin-bottom: 1em;}
.home #my_courses { border-bottom: 1px black dotted; }
.home h2 { padding-top: .5em; padding-bottom: .6em; margin: 0; margin-bottom: .3em; font-family: Georgia; font-size: 1.8em; color: black; }
.home table { width: 100%; margin: 0; padding: 0; border-collapse: collapse;  }
.home tr { height: 30px; border: 0;}
.home #my_courses tr { background-color: #f0f0f0;}
.home #recent_activity tr { background-color: #eee;}
.home #my_courses tr.odd { background-color: white; }
.home #recent_activity tr.odd { background-color: white; }
.home #my_courses td.course_name { width: 25%; padding-left: 10px;}
.home #my_courses td.course_description { width: 75%; padding-left: 10px; }
.home #recent_activity td.course_name { width: 8%; padding-left: 10px;}
.home #recent_activity td.activity { width: 18%; padding-left: 10px; }
.home #recent_activity td.modified_at { width: 10%; padding-left: 10px; }
.home #recent_activity td.modified_by { width: 5%; padding-left: 10px; }
.home #left { float: left; width: 52%; border-right: 1px black dotted; margin-bottom: 2em; }
.home #right { margin-left: 48%; margin-right: 1%; width: 45%; }

.home #header_wrapper { width: 100%; height: 16em; margin: 0; }
.home #bottom {margin-top: -12em;}
.home #header_wrapper p { clear: left; float: left; width: 57%; font-size: 1.4em; margin-top: 6.5em; margin-left: 2.8%; font-family: georgia, helvetica; color: #777;}
.home h2.open, .home h2.term { margin: 0; margin-left: 6%; padding-left: 5%; font-family: arial, helvetica; text-transform: uppercase; width: 82%; background: #E0FAB8; color: #777; font-weight: normal; font-size: 1.3em; margin-top: 1em; float: left;}
.home h2.term { background: #E8C05E; margin-top: 2.6em; color: white;}
.home_admin #right {margin-top: 0; padding-top: 2em; }
.home_admin h2.term {margin-top: 0; }
.home .instructions { color: #777;  font-size: 1em; line-height: 1.2em; }

#enrollment_period { width: 94%; margin-top: -2em;}
#enrollment_period ul { float: left; margin: 0; margin-left: 6%; margin-bottom: 1em; padding: 0; padding-left: 5%; width: 82%; background: #CFFC8C;}
#enrollment_period ul li { display: block; float: left; padding-right: .6em; padding-bottom: .4em; list-style: none; width: 47.3%; font-family: arial, helvetica; font-size: 1em; padding-top: .4em; text-transform: uppercase; color: #777;}
#enrollment_period li.days_remaining { text-align: center; background: #F3FAB8; color: #666; }
#enrollment_period ul#closed { background: #E8C05E; padding: 0; width: 87%; }
#enrollment_period ul#closed li { display: block; width: 95%; margin-right: -5%; color: white; font-size: 1.2em; padding-left: 5%;}
#enrollment_period ul#closed li.message { color: #777; background: white; text-transform: none; font-size: .9em;}

#course_info dl  { float: left; font-size: 1.2em; padding:0; margin:0; padding-top: 1.5em; padding-bottom: 1.5em; width: 92%; margin-left: 2%; margin-bottom: 2em; font-family: Georgia; background: #777;}
#course_info dl dt { font-weight: bold; height: 1.5em; clear:left; float: left; padding-left: 2%; padding-top: .25em; color: white; width: 8%; display: block; width: 10%;} 
#course_info dl dd { float: left;  padding-top: .5em; width: 80%; color: #ddd;}
#course_info dl .course_name { font-size: 1.6em; width: auto;}
#course_info dl dd.course_name { margin-left: 0.5em; padding-top: 0.25em; padding-bottom: 0.25em;}

p.instructions { font-style: italic; font-size: 1.2em; padding-left: 2.5%; padding-top: 1em;} 
input.add { background: orange; padding: .25em; font-size: 1.2em; }
input.edit { background: #999; padding: .25em; font-size: 1.2em; }
input.delete { background: #eee; padding: .25em; font-size: 1.2em; }
span.count { border: 1px solid #999; font-size: 1.4em; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;}
span.total { font-size: 1.4em; color: black; font-family: arial, helvetica;}

.course #bottom form { width: 92%; margin-left: 2%; float: left; font-family: "Tahoma",helvetica; margin-bottom: 4em;}
.course #bottom form .section_header { width: 100%; float: left; margin-bottom: .5em; border-bottom: 1px black dotted; font-family: Georgia;}
.course #bottom form .section_header h2 { margin: 0; padding-top: .25em; display: inline; float: left; padding-bottom: 15px;  color: #666;}
.course #bottom form .section_header input { margin: 0; display: inline; float: right;}
.course #bottom form table {clear: both;  border-collapse: collapse;}
.course #bottom form table input { margin:0; }
.course #bottom form tr {background-color: white;}
.course #bottom form tr.odd {background-color: #e6eded;}
.course #bottom form th {text-align: left; background-color: #c3e9e9; padding: 5px;}
.course #bottom form th.copies { width: 3%; }
.course #bottom form th.where { width: 6%; }
.course #bottom form #book_orders th.description { width: 56%; }
.course #bottom form #library_reserves th.description { width: 50%; }
.course #bottom form th.modified_by { width: 7%; }
.course #bottom form th.modified_for { width: 7%; }
.course #bottom form th.modified_at { width: 15%; }
.course #bottom form th.empty { background-color: white; }
.course #bottom form #book_orders { margin-bottom: 5em; }

.add_reserve #bottom form, .edit_reserve #bottom form, .add_book_order #bottom form #book_order, #bottom form #library_reserve, .edit_book_order #bottom form  { background-color: #eee;  width: 80%; margin-left: 4.5%; float: left; font-family: "Tahoma",helvetica; margin-bottom: 1em;}
#bottom form #library_reserve {background-color: orange; padding-top: 0.5em; padding-bottom: 1em; margin-left: 1.25%; width: 94.5%;}
#bottom form #library_reserve input {margin-left: 1em; vertical-align: middle;}
 #reserve h2, #book_order h2 { margin: 0; width: 77%; margin-left: 4.5%; padding: 1.5%;  color: white; background-color: orange; margin-bottom: 1em; float:left;}
 #data ul { list-style-type:none; margin-bottom: 1em; margin-right: 8%; margin-top: 2em;}
 #data p { margin-left: 2.5%; font-size: 1.2em;}
 #data ul li { margin-bottom: .25em; }
 #data ul li select#resource_type { height: 2em;  }
 #data ul li input { width: 71%; border: 1px solid #999; font-size: 1.2em; }
 #data ul li input#copies { width: 2em; }
 #data ul li input#year { width: 15%; }
 #data ul li input#month { width: 15%;}
 #data ul li input#day { width: 15%;}
 #data ul li input#journal { width: 52%; }
 #data ul li input#volume { width: 15%; }
 #data ul li input#issue { width: 15%; }
 #data ul li input#page_numbers { width: 25%; }
 #data ul li input#isbn { width: 30%; }
 #data ul li input#edition { width: 25%; }
 #data ul li#order_type { margin-top: 2em; }
 #data ul li#order_type input { border: none; width: auto; background: #eee;}
 #data ul li.required span.label { color: red; }
 #data li.validation { background: #E87871; color: white;}
 #data li.validation p { margin-left: 0; padding: 5px;}
 #data p.validation { margin-left: 2%; float: left; width: 93.5%;  padding: 5px; background: #E87871; color: white; }

span.label { clear: left; display: block; float: left; padding-top: .5em; width: 9em; font-weight: bold; font-size: 1.2em;}
span.radio { padding-top: .5em; width: 9em; font-size: 1.2em; line-height: 2.5em;}
#library_reserve span.label {display: inline; float: none; vertical-align:middle; font-size: 1.2em; color: white;}
#library_reserve input {display: inline; float: none; vertical-align:middle; font-size: 1.2em; color: white;}
span.grey { color: #eee; }
span.required { color: red; }
#library_data span.label { display: inline; float:none; }
#resource_data  { clear: both; }
#resource_data input.resource_type { border: none; width: 1em; background: #eee;}
textarea { font-size: 1.2em; font-family: arial, helvetica; padding: 4px;}
span.journal {  width: 20em;}
textarea#notes{ width: 93%;  margin-left: 2.5%; padding: .25em; margin-bottom: 2em;}

ul#library_data { float: left; margin: 0 auto; padding: 0; padding-left: 3%; margin-left: 1%; width: 90%; background: #ccc; }
ul#library_data li { display: block; float: left; padding-right: 1.2em; height: 30px; padding-top: 12px; }
ul#library_data li.copies { padding-top: 5px; }

.my_courses #nav-mycourses { background: white; }
.my_courses #header #menu #nav-mycourses a { color: #333; }
.my_courses .instructions { padding-left: 3%; width: 85%; }

.instructor_courses #header { margin-bottom: 10em; }
.instructor_courses #bottom { font-family: Georgia; width: 100%;}
.instructor_courses #carts { padding-left: 8%; }
.instructor_courses h2 { font-size: 1.8em; }
.instructor_courses table { font-size: 1.3em; border-collapse: collapse; width: 90%;}
.instructor_courses td { padding-left: .5em; padding-right: .5em; }
.instructor_courses td a { line-height: 1.8em; color: #666; }
.instructor_courses tr.odd, { background: #eee; }

.my_delegates #nav-mydelegates { background: white; }
.my_delegates #header #menu #nav-mydelegates a { color: #333; }

.my_delegates  #bottom { font-family: Georgia; margin:0; padding:0;}
.my_delegates  #add_delegate { float:left ; margin-left: 15%; }
.my_delegates table { clear: both; float: left; margin-bottom: 3em; margin-left: 15%; width: 42%;  border-collapse: collapse; font-size: 1.3em; margin-top: 3em;}
.my_delegates td { padding-left: .5em; padding-right: .5em; }
.my_delegates td.full_name { width: 75%; }
.my_delegates tr.odd   { background: #eee; }
.my_delegates table td input   { font-size: 0.9em;}

#for_term { float: right; margin:0; padding: 0; margin-bottom: -.6em; }
#for_term span.label { font-weight: normal; font-size: 1.1em; color: white;  padding-top: .8em; width: 5em;}
#for_term select {margin-top: .55em; margin-right: .5em;}

.browse_division #nav-browse, .browse_courses #nav-browse { background: white; }
.browse_division #header #menu #nav-browse a, .browse_courses #header #menu #nav-browse a { color: #333; }

.browse_division #nav-bydivision { background: white; }
.browse_division #bottom #search_sub_menu #nav-bydivision a { color: #999; }

.browse_division #bottom, .browse_courses #bottom { font-family: Georgia; width: 100%;}
.browse_division h2, .browse_courses h2 { font-size: 1.8em; }
.browse_division #divisions, .browse_division #departments,  .browse_division #tracks { float: left; margin-bottom: 2em;}
.browse_division #divisions { margin-left: 2%; width: 15%; clear: left; margin-top: 2em;}
.browse_division #departments { margin-left: 6%; width: 30%; margin-top: 2em;}
.browse_division #tracks { margin-left: 6%; width: 37%; margin-top: 2em;}
#bottom ul.list { width: 100%; padding: 0; margin:0; }
#bottom ul.list li { list-style: none; background: #eee; padding: .25em; padding-left: 1em;}
#bottom ul.list li a { line-height: 1.8em; color: #444; font-size: 1.2em; }
#bottom ul.list li.odd { background: white;}
#bottom ul.list li.highlighted {background: #FFD378; color: black; }
#bottom table.list { border-collapse: collapse; width: 100%;}
#bottom table.list tr { background: #eee; }
#bottom table.list tr td { padding: .25em; padding-left: 1em;}
#bottom table.list tr td.name { width: 20%; }
#bottom table.list tr td.description { width: 80%; }
#bottom table.list tr.odd { background: white;}
#bottom table.list tr td a { line-height: 1.8em; color: #444; font-size: 1.2em; }

#alphabet { font-family: Georgia; font-size: 1.8em; clear: both; height: 44px; padding-left: 8em; margin-top: 2em;}
.browse_instructors #alphabet { font-size: 1.4em; padding-left: 2em; }
#alphabet a { color: #333; }
#alphabet ul { float: left; margin: 0 auto; padding: 0; }
#alphabet ul li { display: block; float: left; padding-left: .6em; padding-right: .6em; height: 30px; padding-top: 12px; padding-bottom: 8px; list-style: none;}
.browse_instructors #alphabet ul li { padding-right: .5em; }
#alphabet ul li.selected { color: red; }

.browse_courses #nav-bycourse { background: white; }
.browse_courses #bottom #search_sub_menu #nav-bycourse a { color: #999; }
.browse_courses #tracks { margin-left: 18%; width: 60%; margin-top: 2em;}

.browse_instructors #nav-byinstructor { background: white; }
.browse_instructors #bottom #search_sub_menu #nav-byinstructor a { color: #999; }
.browse_instructors #instructors { margin-left: 18%; width: 60%; margin-top: 2em;}

div.error { border: 3pt solid #a33; width: 75%; margin-left: 12.5%; margin-top: 2em; }
div.error h2 { text-align: center; letter-spacing: .08em; background: #a33; color: white; margin: 0; padding-top: .25em; padding-bottom: .5em; }
div.error p { padding: 1em; font-size: 1.3em; line-height: 1.8em; }

.about #bottom {font-family: georgia; padding-left: 6%; width: 84%;}
.about #header {margin-bottom: 13em; }
.about #bottom h2 { font-size: 2em; margin-bottom: 1.5em;}
.about #bottom h3 { font-size: 1.6em; }
.about #bottom p { font-size: 1.3em;  line-height: 1.4em;}

ul#stats { font-family: Georgia; font-size: 1.5em; color: #777; }
ul#stats li { list-style: none; height: 3.5em; padding-top: .5em;} 
ul#stats li span.count { font-size: 1.3em; display: block; float: left; margin-right: 0.5em; margin-top: -0.3em; padding-bottom: 0.5em; padding-top: 0.25em; text-align: center; width: 1.5em;}
ul#stats li span.total {  font-size: 1.3em; padding-left: 0.5em; padding-right: 0.5em;}

.delegates_admin #nav-delegates { background: white; }
.delegates_admin #header #menu #nav-delegates a { color: #333; }

.delegates_admin #add_delegate {float: left; margin-left: 25%;}
.delegates_admin #add_delegate ul { float: left; }
.delegates_admin #add_delegate ul li {list-style: none; }
.delegates_admin #add_delegate a.add {float: left; margin-left: 2em;; margin-top: 1.5em;}
.delegates_admin table { clear: left; border-collapse: collapse; width: 45%; margin-left: 28%; margin-top: 4em;}
.delegates_admin table tr { background: #eee; }
.delegates_admin table tr th { background: white; padding-bottom: .5em;}
.delegates_admin table tr td { padding: .25em; padding-left: 1em;}
.delegates_admin table tr.odd { background: white;}

.email_admin #nav-email { background: white; }
.email_admin #header #menu #nav-email a { color: #333; }

.activity_admin #nav-activity { background: white; }
.activity_admin #header #menu #nav-activity a { color: #333; }

.activity_admin table, .activity_admin h2 { width: 92%; margin: 0; margin-left: 3%; padding: 0; border-collapse: collapse;  }
.activity_admin tr { height: 30px; border: 0;}
.activity_admin tr th { background-color: white; text-align: left; padding-left: 10px; }
.activity_admin tr { background-color: #eee;}
.activity_admin tr.odd { background-color: white; }
.activity_admin td.course_name { width: 8%; padding-left: 10px;}
.activity_admin td.activity { width: 18%; padding-left: 10px; }
.activity_admin td.modified_at { width: 10%; padding-left: 10px; }
.activity_admin td.modified_by { width: 5%; padding-left: 10px; }

.reports_admin #nav-reports { background: white; }
.reports_admin #header #menu #nav-reports a { color: #333; }

.reports_admin #bottom #description { width: 93%; margin: 2em 2% 1em; float: left;} 
.reports_admin #bottom h2 { width: 81.5%; padding: 1.1em 1.75%; color: white; background: orange;  float: left;  margin: 0; font-size: 1.5em;}
.reports_admin #bottom #description form{ width: 10%; padding: 1.1em 1.2% 1.1em 1em;; background: orange; float: left; margin: 0;}

#pages { width: 90%; margin-left: 2%; padding: 1em; background: #ccc; float: left; margin-bottom: 5em;} 
#pages #report_header { width: 100%; margin: 0;}
#pages #report_header ul.nav { color: black; font-size: 1.6em; float: left; padding:0; margin:0;}
#pages #report_header ul.nav li { list-style: none; float: left; height: 2em; padding: 0.05em 1.5em 0 0.2em;}
#pages #report_header form { float: right; margin-top: -5px; vertical-align: middle;}
#pages #report_header form label {color: black; font-size: 1.4em;}
#pages table { clear: both; border-collapse: collapse; background: #eee; }
#pages table th { background: #333; color: white; height: 2.5em;  }
#pages table tr.odd { background: white; }
#pages table td { padding: 3px; text-align: center; }
#pages table td.course_name { width: 15%; text-align: left;}
#pages table td.resource { width: 45%; text-align: left;}
#pages table td.isbn { text-align: left;}

.reports_admin.overview #nav-reports_overview { background: white; }
.reports_admin.overview #bottom #search_sub_menu #nav-reports_overview a { color: #333; }

.reports_admin.book_orders #nav-reports_book_orders { background: white; }
.reports_admin.book_orders #bottom #search_sub_menu  #nav-reports_book_orders a { color: #333; }

.reports_admin.reserves #nav-reports_reserves { background: white; }
.reports_admin.reserves #bottom #search_sub_menu #nav-reports_reserves a { color: #333; }

.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	background : Window url('./indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}

.submitLink {
    border: 3px outset;
    padding: 4px;
    text-decoration: none;
    font-family: arial, helvetica;
    font-size: 1.2em;
    background: orange;
}
a.submitLink:active {
    border: 3px inset;
}

