@charset "utf-8";
/*
  blafdoc.css
  Release 5.0 beta 5
  Copyright 2002, 2006, Oracle. All rights reserved.
*/

body, table {
  font-family: Tahoma, sans-serif;
  line-height: 125%;
  color: black;
  background-color: white;
  font-size: small;
}
* html body {
/* http://www.info.com.ph/~etan/w3pantheon/style/modifiedsbmh.html */
  font-size: x-small; /* for IE5.x/win */
  f\ont-size: small;  /* for other IE versions */
}

h1 {
  font-size: 140%;
  font-weight: bold;
  border-bottom: 0px 0px 1px 0px;
  color: #526C89;
  /*
  border-bottom: 1px solid #ddd;
 */
  width: 100%;
}

h2 {
  font-size: 125%;
  font-weight: bold;
  color: #526C89;
}

h3 {
  font-size: 115%;
  font-weight: bold;
  color: #526C89;
}

h4 {
  font-weight: bold;
  color: #526C89;
}

h5 {
  font-weight: bold;
  display: inline;
}

h6 {
  font-weight: bold;
  font-style: italic;
  display: inline;
}

a:link {
/*
  color: #630;
  background: inherit;
*/
  color: #039;
  background: inherit;
*/

}

a:visited {
/*
  color: #f60;
  background: inherit;
*/
  color: #72007C;
  background: inherit;

}

a:hover {
  text-decoration: underline;
}

a img {
  border-style: none;
}

code, pre, samp, tt {
  font-family: monospace;
  font-size: 110%;
  color: #526C89;
  background-color: white;
}

caption {
  text-align: center;
  font-weight: bold;
  width: auto;
}

dt {
  font-weight: bold;
}

td {
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

table.table-border {
  border-collapse: collapse;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
table.table-border th {
  padding: 0.5ex 0.25em;
  color: black;
  background-color: #f7f7ea;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
table.table-border td {
  padding: 0.5ex 0.25em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

span.gui-object, span.gui-object-action {
  font-weight: bold;
}

span.gui-object-title { }

p.horizontal-rule {
  width: 100%;
  border: solid #cc9;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 4ex;
}

div.zz-skip-header {
  display: none;
}

td.zz-nav-header-cell {
  text-align: left;
  font-size: 95%;
  width: 99%;
  color: black;
  background: inherit;
  font-weight: normal;
  vertical-align: top;
  margin-top: 0ex;
  padding-top: 0ex;
}

a.zz-nav-header-link {
  font-size: 95%;
}

td.zz-nav-button-cell {
  white-space: nowrap;
  text-align: center;
  width: 1%;
  vertical-align: top;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 0ex;
  padding-top: 0ex;
}

a.zz-nav-button-link {
  font-size: 90%;
}

div.zz-nav-footer-menu {
  width: 100%;
  text-align: center;
  margin-top: 2ex;
  margin-bottom: 4ex;
}

p.zz-legal-notice, a.zz-legal-notice-link {
  font-size: 85%;
  /* display: none; */  /* Uncomment to hide legal notice */
}

/*************************************/
/*  Begin DARB Formats               */
/*************************************/

.bold, .codeinlinebold, .syntaxinlinebold, .term, .glossterm, .seghead,
.glossaryterm, .keyword, .msg, .msgexplankw, .msgactionkw, .notep1 {
  font-weight: bold;
}

.italic, .codeinlineitalic, .syntaxinlineitalic, .variable {
  font-style: italic;
}

.bolditalic, .codeinlineboldital, .syntaxinlineboldital,
.titleinfigure, .titleinexample, .titleintable, .titleinequation {
  font-weight: bold;
  font-style: italic;
}

.bridgehead, .titleinrefsubsect, .subhead1, .subhead2 {
  font-weight: bold;
  color: #526C89;
}

.subhead3 {
  font-weight: bold;
  font-style: italic;
  display: inline;
}

.underline {
  text-decoration: underline;
}

.superscript {
  vertical-align: super;
}

.subscript {
  vertical-align: sub;
}

.listofeft {
  border: none;
}

.betadraft {
  color: #f00;
  background: inherit;
}

.betadraftsubtitle {
  text-align: center;
  font-weight: bold;
  color: #f00;
  background: inherit;
}

.comment {
  color: #080;
  background: inherit;
  font-weight: bold;
}

.copyrightlogo {
  text-align: center;
  font-size: 85%;
}

.tocsubheader {
  list-style-type: none;
}

table.icons td {
  padding-left: 6px;
  padding-right: 6px;
}

.l1ix dd, dd dl.l2ix, dd dl.l3ix {
  margin-top: 0ex;
  margin-bottom: 0ex;
}

div.infoboxnote, div.infoboxnotewarn, div.infoboxnotealso {
  margin-top: 4ex;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 4ex;
  padding: 0.25em;
  border-top: 1pt solid gray;
  border-bottom: 1pt solid gray;
}

p.notep1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*************************************/
/*  End DARB Formats                 */
/*************************************/

@media all {
  * * {
    line-height: 120%;
  }
  body {
    color: black;
    background: white;
  }
  dd {
    margin-bottom: 2ex;
  }
  dl:first-child {
    margin-top: 2ex;
  }
}

@media print {
  body {
    font-family: serif;
    font-size: 11pt;
  }

  a:link, a:visited {
    color: black;
    background: inherit;
  }

  code, pre, samp, tt {
    font-size: 10pt;
  }
}
/*
  New lines from Carl Backstrom to address underlining  of Prevous and Next graphics in FireFox.
*/
.simple a{text-decoration:none !important;}
.simple a span{text-decoration:underline;}