.MainSubject 
	{FONT-FAMILY: ARIAL, SANS-SERIF;
	 FONT-WEIGHT: BOLD;
	 COLOR: #003366;
	 FONT-SIZE: 24PT;}	
.Subject 
	{FONT-FAMILY: ARIAL, SANS-SERIF;
	 FONT-STYLE: ITALIC;
	 FONT-WEIGHT: BOLD;
	 COLOR: #336699;
	 FONT-SIZE: 18PT;}
.Subsubject 
	{FONT-FAMILY: ARIAL, SANS-SERIF;
	 FONT-WEIGHT: BOLD;
	 COLOR: #336699;
	 FONT-SIZE: 14PT;}		
.cabotext 
	{FONT-FAMILY: ARIAL, SANS-SERIF; 
	 COLOR: black; 
	 vertical-align:top; 
	 FONT-SIZE: 10PT;}  	
.BUTTON 	   
	{FONT-FAMILY: ARIAL, SANS-SERIF;
	 COLOR: BLACK; 
	 TEXT-DECORATION: NONE; 
	 FONT-SIZE: 10PT;}	
.topic	   
	{FONT-FAMILY: ARIAL, SANS-SERIF;
	 COLOR: white; 
	 FONT-SIZE: 12PT;	 
  	 text-decoration:none;}  	
LI.topic	   
	{FONT-FAMILY: ARIAL, SANS-SERIF;
	 COLOR: white; 
	 FONT-SIZE: 10PT;}
.method 	   
	{FONT-FAMILY: ARIAL, SANS-SERIF; 
	 COLOR: BLACK; 
	 FONT-WEIGHT: BOLD; 
	 FONT-SIZE: 12PT;}
a.topic
	{FONT-FAMILY: ARIAL, SANS-SERIF;
	 COLOR: white; 
	 FONT-SIZE: 14PT;} 
a.toc
	{FONT-FAMILY: ARIAL, SANS-SERIF;
	 COLOR: blue; 
	 FONT-SIZE: 12PT; }
.x {
	 text-decoration:none;} 
a.link {FONT-FAMILY: ARIAL, SANS-SERIF;
	 COLOR: blue; 
	 FONT-SIZE: 12PT; }
.x {
	 text-decoration:none; }  	
a.example
	{FONT-FAMILY: ARIAL, SANS-SERIF;
	 COLOR: blue; 
	 FONT-SIZE: 12PT;
	 text-align:right; }  	
.x {
	 text-decoration:none; }
.cabo {font-family:times;
	font-size:36pt;
	color:#cccc99;
	font-style:italic; }
.cabosmall {font-family:times;
	font-size:16pt;
	color:#cccc99; }
.caboimage {
	border-color:#cccc99;
	border-width:medium; }
.cabopanel {
	background-color:#cccc99 }
.bluepanel {
	background-color:#336699; }
.blueborder { 
	border-color:#336699;
	border-width:medium; }
.Alert 	   
	{FONT-FAMILY: ARIAL, SANS-SERIF; 
	 COLOR: RED; 
	 FONT-WEIGHT: BOLD; 
	 FONT-SIZE: 10PT;}
.chartcell {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#666666; 
	text-align:center; 
	vertical-align:middle; }
.parmheader {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#666666; 
	text-align:center; 
	vertical-align:middle; }
.argheader {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#999999; 
	text-align:center; 
	vertical-align:middle; }
.footnote 
	{FONT-FAMILY: ARIAL, SANS-SERIF; 
	 COLOR: black; 
	 FONT-SIZE: 8PT;}  	
