#maximizer                 { position:relative; float:right; top:0px; left:5px; margin:0px; padding:0px; }
.notMaximized .maximize    { display:inline; }
.notMaximized .restoresize { display:none; }
.maximized    .maximize    { display:none; }
.maximized    .restoresize { display:inline; }

.compileFailure{margin-top:10px;padding:5px;font-size:10pt;font-weight:bold;color:#cc0000;border:1px solid #A7BDA7;width:600px;}
.compileSuccess{margin-top:10px;padding:5px;font-size:10pt;font-weight:bold;color:#3F8640;border:1px solid #A7BDA7;width:600px;}
.editEnabled{color:#BBBBBB;}
.editDisabled{color:#000000;}

.CodeMirror-wrapping {
  border:1px solid #999999;
}

.CodeMirror-wrapping iframe {
  background:#E6EFF7 none repeat scroll 0 0;
  color:black;
}

.CodeMirror-line-numbers {
  width: 2.2em;
  color: #aaa;
  background-color: #eee;
  text-align: right;
  padding-right: .3em;
  font-size: 10pt;
  font-family: monospace;
  line-height: 11pt;
  padding-top: .4em;
  border-top:1px solid #999999;
  border-bottom:1px solid #999999;
  border-left:1px solid #999999;
}

.editbox {
  margin: .4em;
  padding: 0;
  color: black;
  font-size: 10pt;
  font-family: monospace;
  line-height: 11pt;
}

.editbox p {
  margin: 0;
}

span.plsql-keyword {
  color: blue;
}

span.plsql-var {
  color: red;
}

span.plsql-comment {
  color: #AA7700;
}

span.plsql-literal {
  color: green;
}

span.plsql-operator {
  color: blue;
}

span.plsql-word {
  color: black;
}

span.plsql-function {
  color: darkorange;
}

span.plsql-type {
  color: purple;
}

span.plsql-separator {
  color: #666666;
}

span.plsql-number {
  color: darkcyan;
}