button.button-default span,
button.button-alt1 span,
button.button-alt2 span,
button.button-alt3 span {
	/* Fix IE7 Padding Issue */
	padding-bottom: 1px;
}


input#apexir_SEARCH {
	display: block;
	float: left;
	}
.rounded-corner-region-wizard .rc-buttons {
	padding: 4px 0 0 0;
	}
.rounded-corner-region-wizard {
	float: none;
	width: 700px;
	}