<%--
$Header: cskalog.htm 115.4 2000/04/27 11:45:29 pkm ship     $

+==========================================================================+
|     Copyright (c) 1999 Oracle Corporation, Redwood Shores, CA, USA       |
|                        All rights reserved.                              |
+==========================================================================+
|  FILENAME                                                                |
|    cskalog.htm                                                           |
|                                                                          |
|  DESCRIPTION                                                             |
|                                                                          |
|  NOTES                                                                   |
|                                                                          |
|  DEPENDENCIES                                                            |
|                                                                          |
|  HISTORY                                                                 |
+==========================================================================+
--%>

</BODY>
</HTML>

<HTML> 
<!-- THIS FILE IS FOR SPROC ONLY; IT IS DIFFERENT FROM BIS AND 1103 -->
<HEAD>
<TITLE>Oracle OracleService System Admin Login</TITLE>
</head>

<BODY BGCOLOR=#ffffff> <center>
<table height=99%><tr><td></td></tr><tr><td align=center>
<font size=1 face="Arial,Helvetica,Geneva">
<IMG SRC="../media/ibulogin.jpg" border=1>
<p>&nbsp;<p><font size=4> Please login to access<br>
        <b> <font color="cc0033" face="Verdana,Arial,Helvetica,Geneva"> Oracle 
        Service (Knowledge Base)
<!--System Admin -->
</b>
        <p></font>
<TABLE cellpadding="2">
  <form name="login" action="cskfirst.jsp" method="POST"> 
  <tr> 
    <td align=right class="prompt">User ID</td> 
    <td><input type="TEXT" size="15" name="username" value="alamu2"></td> 
  </tr> 
  <tr> 
    <td align=right class="prompt">Password</td>
    <td><input type="PASSWORD" size="15" name="password" value="welcome">  
    </td> 
  </tr> 
  <tr> 
    <td align=right class="prompt">Tab Application ID</td>
    <td><select name="tabAppId">

<!--        <option value="690">690 - JTF</option>
	<option value="672" selected>672 - IBU</option>  -->
	<option value="170" selected>170 - CS</option>
	</select></td>
  </tr>
  <tr>
    <td align=right class="prompt" nowrap>Responsibility ID</td>
    <td><select name="respId">

<!--
	<option value="1007669">1007669 - JTF Resposibility</option>
	<option value="1005842" selected>1005842 - IBU Responsibility</option>
-->
	<option value="1005884" selected>1005884 - CS Admin Responsibility</option>
	<option value="1007729">1007729 - CS Service Agent Responsibility</option>
	<option value="1007730">1007730 - CS Service Knowledge Worker Responsibility</option>
	<option value="1007731">1007731 - CS Service Admin Responsibility</option>

      </select></td>

<!--    <td><input size="10" name="respId" value="1005842"></td> -->

  </tr> 
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><input type="SUBMIT" value="Login">
      <input type="reset" value="Restore">
    </td>    
  </tr>
  </form> 
<TR>
<TD colspan="4">
&nbsp;
</TD>
</TR>
</TABLE> </b></font></font></td></tr></TABLE>   </center></BODY></HTML>


