<!-- $Header: cssstyle.css 115.1 2000/01/10 12:15:36 pkm ship    $ -->

.applicationBody { background-color: #FFFFFF}
.applicationName { font-family: "Times New Roman", Times, serif; font-size: 18pt; color: #FF0000} 

.bigLink { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold} 
.binColumnHeaderCell { background-color: #CCCCCC; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold } 
.binContentCell { background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 9pt } 
.binHeaderCell { background-color: #6699CC; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF }  

.errorMessage { background-color: #eeeeee; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #CC0000} 
.footnote { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #666666} 

.homeBigHeaderCell { background-color: #6699cc; font-family: Arial, Helvetica, sans-serif; font-size: 16pt} 
.homeSubHeaderCell { background-color: #dddddd; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #003366} 

.pageTitle { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: #ff0000} 
.pageTotal { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #003366} 
.prompt { font-family: Arial, Helvetica, sans-serif; font-size: 10pt} 

.reportBigLink { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold }
.reportDataCell { background-color: #dddddd}
.reportPageTitle { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: #ff0000 }
.reportRowHeaderCell1 { background-color: #eeeeee; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold }
.reportRowHeaderCellBlack { background-color: #dddddd; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold}
.reportTableTotalBlack { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold }
.reportTotal1 { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #003366 }
.requiredFieldAsterisk { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #ff0000} 
.requiredFieldPrompt { font-family: Arial, Helvetica, sans-serif; font-size: 10pt} 

.sectionHeader1 { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #003366} 
.sectionHeader2 { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #003366} 
.sectionHeaderBlack { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold} 
.smallLink { font-family: Arial, Helvetica, sans-serif; font-size: 8pt} 

.tableBigHeaderCell { background-color: #6699cc; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold} 
.tableDataCell { background-color: #CCCCCC}
.tableDataCellNew { background-color: #eeeeee} 
.tableRowHeader { background-color: #eeeeee; font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: 
bold} 
.tableSmallHeaderCell{ background-color: #6699cc; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold} 
.tableSubHeaderCell { background-color: #dddddd; font-family: Arial, Helvetica, sans-serif; font-size: 
10pt; font-weight: bold; color: #003366} 
.tableTotal { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold} .reportHeaderCell { background-color: #99CCFF; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #003366; font-weight: bold}
