/*-----------------------------------------------------------------------------
--    Copyright (c) 2000 Oracle Corporation.   All Rights Reserved.
--
--    NAME
--      okrucss.css
--    DESCRIPTION
--
--    NOTES
--
--    MODIFIED    MM/DD/YY     COMMENT
--    jrajaman    09/22/00     Created
-----------------------------------------------------------------------------*/

/* This set of styles is used in the OKR product */

/* $Header: okrucss.css 115.4 2001/01/12 13:12:15 pkm ship        $ */

.okrTableHeaderCell
{
  background-color:#CCCC99;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color:#336699;
}

.okrTableHeaderBorderCell
{
  background-color:#CCCC99;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color:#336699;
  border-style: solid;
  border-color: #f7f7e7;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
}

.okrTableRecordNav
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: regular;
  color: #663300;
}

.okrTableRecordNavDisabled
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: regular;
  color: #999966;
}

.okrTableRecordNavStep
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: regular;
  color: #336699;
}

.okrTableDataCell
{
  background-color: #f7f7e7;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
}

.okrTableAlternateCell
{
  background-color: #ffffff;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-width: 1px;
  border-right-width: 0px;
}

.okrTableFirstColumnDataCell
{
  background-color: #f7f7e7;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
}

.okrTableFirstColumnAlternateCell
{
  background-color: #ffffff;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 0px;
}

.okrTableLastColumnDataCell
{
  background-color: #f7f7e7;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 1px;
}

.okrTableLastColumnAlternateCell
{
  background-color: #ffffff;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
}

.okrTableLastRowDataCell
{
  background-color: #f7f7e7;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
}

.okrTableLastRowAlternateCell
{
  background-color: #ffffff;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-width: 1px;
  border-right-width: 0px;
}

.okrTableLastRowFirstColumnDataCell
{
  background-color: #f7f7e7;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
}

.okrTableLastRowFirstColumnAlternateCell
{
  background-color: #ffffff;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 0px;
}

.okrTableLastRowLastColumnDataCell
{
  background-color: #f7f7e7;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 1px;
}

.okrTableLastRowLastColumnAlternateCell
{
  background-color: #ffffff;
  font-family:Arial, Helvetica, Geneva, sans-serif;
  font-size: 10pt;
  border-style: solid;
  border-color: #cccc99;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
}

.leftBinHeaderLine
{
  background-color: #cccc99;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: regular;
  color: #336699;
}

.leftBinSelectedLine
{
  background-color: #336699;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: #ffffff;
}

.leftBinEnabledLine
{
  background-color: #cccc99;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: regular;
  color: #003366;
}
