/** Import Compass */
/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
body { min-width: 320px; }

body .grid-debug-on .container { background-image: linear-gradient(90deg, rgba(255, 128, 128, 0.2) 0%, rgba(255, 128, 128, 0.2) 50%, transparent 50%, transparent 100%); background-size: 16.6666667% 100%; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/* ========================================================================== Page Body ========================================================================== */
html { font-size: 62.5%; }

body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 1.4rem; line-height: 2.0rem; margin: 0; }

.u-RTL body { direction: rtl; }

a { text-decoration: none; }

.is-fixed { position: fixed; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

/* Inline Dialog Container ========================================================================== */
.t-Body-inlineDialogs { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Skip to Main Content Link ========================================================================== */
#t_Body_skipToContent { position: fixed; }

#t_Body_skipToContent:not(:focus) { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

#t_Body_skipToContent:focus { top: 0; left: 50%; z-index: 5000; display: block; padding: 8px 16px; text-align: center; text-decoration: none; -webkit-transform: translateX(-50%); transform: translateX(-50%); line-height: 24px; margin: 4px; font-size: 14px; }

/* ========================================================================== APEX Form Element ========================================================================== */
form#wwvFlowForm { min-height: 100vh; margin: 0; }

/* ========================================================================== Body Content + Columns ========================================================================== */
.t-Body { position: relative; overflow: hidden; }

.t-Body-wrap { margin: 12px 0; display: table; table-layout: fixed; width: 100%; }

.t-Body-alert:empty { display: none; }

/* ========================================================================== Body Title ========================================================================== */
.js-hideTitleBar .t-Body-title { display: none !important; }

.js-hidePageTitle .t-Body-titleHeading { display: none !important; }

.t-Body-title { display: block; background-clip: padding-box; }

.t-Body-title:empty { border-bottom-width: 0; outline: none; }

.t-Body-title.js-hideBreadcrumbs { margin-top: -36px; }

.t-Body-title.js-hideBreadcrumbs .t-Breadcrumb { opacity: 0; }

.t-Body-title.is-stuck { width: 100%; }

.t-Body-titleHeading { font-size: 2.8rem; line-height: 1; margin: 0; padding: 24px; font-weight: 300; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.t-Breadcrumb + .t-Body-titleHeading { padding-top: 0; margin-top: -24px; }

/* ========================================================================== Core Body Styles ========================================================================== */
.t-Header, .t-Body-nav, .t-Body-actions { position: fixed; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.t-Header { top: 0; left: 0; right: 0; z-index: 500; }

.t-Body-main, .t-Body-content { overflow: hidden; }

.t-Body-mainContent { flex-grow: 1; }

.t-Body-contentInner { padding: 16px; flex-grow: 1; width: 100%; }

.t-Body-content { display: flex; flex-direction: column; }

/* ========================================================================== Configure Widths ========================================================================== */
/* ========================================================================== Tree Based Navigation ========================================================================== */
/** Hide Top Menu Bar Navigation */
.apex-side-nav .t-Header-nav, .apex-side-nav #t_Button_menuNavControl { display: none !important; }

.apex-side-nav .t-Body-nav, .apex-side-nav .t-Body-actions, .apex-side-nav .t-Body-title { top: 40px; }

/* ========================================================================== Menu Based Navigation ========================================================================== */
.apex-top-nav .t-Body-nav, .apex-top-nav #t_Button_treeNavControl { display: none !important; }

.apex-top-nav .t-Body-title, .apex-top-nav .t-Body-side { left: 0; right: 0; }

/* No Navigation Page (Minimal) ========================================================================== */
.t-PageBody--noNav .t-Body-title { left: 0; right: 0; }

/* ========================================================================== Base Page Template Styles ========================================================================== */
/** Transitions on Moving Elements */
.t-Header, .t-Body-main, .t-Body-title, .t-Body-actions, .t-Body-nav, .t-Body-side, .t-Body-content, .t-Button.t-Button--header { transition: all .1s; }

.no-anim .t-Header, .no-anim .t-Body-main, .no-anim .t-Body-title, .no-anim .t-Body-actions, .no-anim .t-Body-nav, .no-anim .t-Body-side, .no-anim .t-Body-content, .no-anim .t-Button.t-Button--header { transition: none !important; }

.no-anim .t-Body-title, .no-anim .t-Body-side, .no-anim .t-Body-content { opacity: 0; }

/** Base styles for Tree Nav container */
.t-Body-nav { width: 180px; left: 0; bottom: 0; overflow: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

.u-RTL .t-Body-nav { left: auto; right: 0; }

/** Base styles for Actions */
.t-Body-actions { display: none; right: 0; bottom: 0; width: 200px; z-index: 490; }

.t-Body-actions .t-Button--header { -webkit-transform: translate3d(-40px, 0, 0); transform: translate3d(-40px, 0, 0); position: absolute; }

.u-RTL .t-Body-actions .t-Button--header { -webkit-transform: translate3d(40px, 0, 0); transform: translate3d(40px, 0, 0); }

.u-RTL .t-Body-actions { right: auto; left: 0; }

.t-Body-actionsContent { height: 100%; overflow: auto; }

.t-Body-actionsToggle { position: absolute; right: 100%; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; border-width: 1px; border-style: solid; cursor: pointer; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; padding: .9rem; padding-right: .3rem; padding-left: .3rem; transition: padding .15s ease; }

.u-RTL .t-Body-actionsToggle { right: auto; left: 100%; }

.t-Body-actionsToggle:hover, .t-Body-actionsToggle:focus { padding-right: .9rem; padding-left: .9rem; }

.t-Body-actionsToggle.is-active { padding: .9rem; }

.t-Body-actionsControlsIcon { font-size: 20px; line-height: 1; width: 20px; height: 20px; text-align: center; display: block; transition: -webkit-transform .15s ease; transition: transform .15s ease; transition: transform .15s ease, -webkit-transform .15s ease; }

.t-Body-actionsControlsIcon:before { content: "\e0ca"; font-family: "apex-5-icon-font" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: block; }

.t-Body-actionsToggle.is-active .t-Body-actionsControlsIcon:before { content: "\e0d8"; }

/** Base styles for Title Bar */
.t-Body-title { z-index: 460; }

/** Base styles for Side Bar */
.t-Body-side { z-index: 470; overflow: auto; }

.t-PageBody--hideLeft .t-Body-side { display: none !important; }

/* Hide Toggle Icon when Nav Collapsed */
.apex-side-nav.js-navCollapsed .t-TreeNav .a-TreeView-toggle { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Hide Badges when XXS and Nav Collapsed */

/* ========================================================================== Master Detail Page ========================================================================== */
.t-PageBody--masterDetail .t-Body-title { border-bottom-width: 0; }

.t-PageBody--masterDetail .t-Body-title:after { display: none; }

.t-PageBody--masterDetail .t-Body-title.has-shadow { box-shadow: 0 1px 0 rgba(0, 0, 0, 0.075); }

.t-PageBody--masterDetail .t-Body-title.has-shadow:after { background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)); display: block; }

.t-PageBody--masterDetail .t-Body-contentInner > .container:first-child { min-height: 75vh; }

.t-PageBody--masterDetail .apex-rds-container { box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset; }

.t-PageBody--masterDetail .apex-rds-container.is-stuck:after { content: ' '; position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; margin-bottom: -4px; z-index: 100; background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)); }

.u-RTL .t-PageBody--masterDetail .apex-rds-container.is-stuck:after { left: auto; right: 0; }

.t-Body-info { overflow: hidden; }

.t-Body-info .t-Region { margin: 16px; }

.t-Body-info .t-Region--noUI { margin: 0; }

.t-Body-info .t-Region--noUI .t-Region-headerItems--controls { padding-left: 1.6rem; }

.t-Body-topButton { margin: 24px auto; width: 64px; height: 64px; padding: 16px; border-radius: 100%; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); opacity: .5; transition: all .1s; }

.t-Body-topButton:hover, .t-Body-topButton:active, .t-Body-topButton:focus { opacity: 1; -webkit-transform: translateY(-8px); transform: translateY(-8px); }

.t-Body-topButton:hover { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.t-Body-topButton:active { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset; }

.t-Body-topButton:focus { outline: none; }

.t-Body-topButton .a-Icon { width: 32px; height: 32px; }

.t-Body-topButton .a-Icon:before { font-size: 32px; }

body.apex-no-scroll { overflow: hidden !important; width: 100%; }

.a-Menu, .ui-widget, .ui-dialog { visibility: visible; }

.u-RTL .a-Menu-labelContainer { margin-left: 20px; margin-right: 0; }

/* No Navigation Title ========================================================================== */

@media (max-width: 768px) { .t-Body { margin-top: 0; } }

@media (max-width: 640px) { .t-Body-contentInner { padding: 8px; } .js-HeaderContracted .t-Header { margin-top: -200px; }
  .js-HeaderContracted #t_Body_actions { margin-top: 0 !important; top: 0 !important; }
  .js-HeaderExpanded .t-Header { margin-top: 0; } .apex-top-nav.js-menuNavExpanded .t-Header { position: static; }
  .apex-top-nav.js-menuNavExpanded .t-Body-actions .t-Button--header { display: none; } }

@media (min-width: 641px) { .apex-top-nav #t_Button_menuNavControl { display: none !important; } .t-Body-title { position: fixed; -webkit-backface-visibility: hidden; backface-visibility: hidden; } .t-Body-side { box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1); position: fixed; -webkit-backface-visibility: hidden; backface-visibility: hidden; bottom: 0; width: 240px; left: 40px; }
  .u-RTL .t-Body-side { box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1); }
  .u-RTL .t-Body-side { left: auto; right: 40px; } }

@media (max-width: 480px) { .apex-side-nav.js-navCollapsed .a-TreeView-badge { display: none !important; } }
