/** Import Compass */
/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
/* ========================================================================== Grid --- Grid Layout system for Theme 42 ========================================================================== */
/* Basic Grid Structure */
.grid-debug-on .row:before { content: ''; left: 0; top: 0; width: 100%; height: 100%; position: absolute; display: block; pointer-events: none; }

.grid-debug-on .container { position: relative; }

.grid-debug-on .col:not(.col-null) { position: relative; box-shadow: 1px 1px 0 0 rgba(255, 0, 255, 0.5) inset, 1px 1px 0 0 rgba(255, 0, 255, 0.5); }

.grid-debug-on .row { position: relative; }

.grid-debug-on .row:before { background-image: linear-gradient(to left, transparent 0%, transparent 50%, rgba(255, 0, 255, 0.1) 50%, rgba(255, 0, 255, 0.1) 100%); background-size: 16.6666667% 100%; background-position: 50%; }

.grid-debug-on .col:hover { opacity: 1; background-color: rgba(255, 0, 255, 0.15); }

.container { margin-left: auto; margin-right: auto; overflow: hidden; }

.container:before, .container:after { content: " "; display: table; }

.container:after { clear: both; }

.row { margin-right: -8px; margin-left: -8px; }

.row:before, .row:after { content: " "; display: table; }

.row:after { clear: both; }

.col { float: left; position: relative; padding-right: 8px; padding-left: 8px; }

.u-RTL .col { float: right; }

/* ========================================================================== Default Grid for Desktops ========================================================================== */
.col-12 { width: 100%; }

.col-11 { width: 91.66666666666666%; }

.col-10 { width: 83.33333333333334%; }

.col-9 { width: 75%; }

.col-8 { width: 66.66666666666666%; }

.col-7 { width: 58.333333333333336%; }

.col-6 { width: 50%; }

.col-5 { width: 41.66666666666667%; }

.col-4 { width: 33.33333333333333%; }

.col-3 { width: 25%; }

.col-2 { width: 16.666666666666664%; }

.col-1 { width: 8.333333333333332%; }

/* Pull modifier classes */
.col-pull-12 { right: 100%; }

.col-pull-11 { right: 91.66666666666666%; }

.col-pull-10 { right: 83.33333333333334%; }

.col-pull-9 { right: 75%; }

.col-pull-8 { right: 66.66666666666666%; }

.col-pull-7 { right: 58.333333333333336%; }

.col-pull-6 { right: 50%; }

.col-pull-5 { right: 41.66666666666667%; }

.col-pull-4 { right: 33.33333333333333%; }

.col-pull-3 { right: 25%; }

.col-pull-2 { right: 16.666666666666664%; }

.col-pull-1 { right: 8.333333333333332%; }

.col-pull-0 { right: 0; }

/* Push modifier classes */
.col-push-12 { left: 100%; }

.col-push-11 { left: 91.66666666666666%; }

.col-push-10 { left: 83.33333333333334%; }

.col-push-9 { left: 75%; }

.col-push-8 { left: 66.66666666666666%; }

.col-push-7 { left: 58.333333333333336%; }

.col-push-6 { left: 50%; }

.col-push-5 { left: 41.66666666666667%; }

.col-push-4 { left: 33.33333333333333%; }

.col-push-3 { left: 25%; }

.col-push-2 { left: 16.666666666666664%; }

.col-push-1 { left: 8.333333333333332%; }

.col-push-0 { left: 0; }

/* Offset modifier classes */
.col-offset-12 { margin-left: 100%; }

.col-offset-11 { margin-left: 91.66666666666666%; }

.col-offset-10 { margin-left: 83.33333333333334%; }

.col-offset-9 { margin-left: 75%; }

.col-offset-8 { margin-left: 66.66666666666666%; }

.col-offset-7 { margin-left: 58.333333333333336%; }

.col-offset-6 { margin-left: 50%; }

.col-offset-5 { margin-left: 41.66666666666667%; }

.col-offset-4 { margin-left: 33.33333333333333%; }

.col-offset-3 { margin-left: 25%; }

.col-offset-2 { margin-left: 16.666666666666664%; }

.col-offset-1 { margin-left: 8.333333333333332%; }

.col-offset-0 { margin-left: 0; }

/* ========================================================================== Grid for XS Devices ========================================================================== */

.col-1 > .rel-col .col-1 { width: 100%; }

.col-2 > .rel-col .col-1 { width: 50%; }

.col-2 > .rel-col .col-2 { width: 100%; }

.col-3 > .rel-col .col-1 { width: 33.33333%; }

.col-3 > .rel-col .col-2 { width: 66.66667%; }

.col-3 > .rel-col .col-3 { width: 100%; }

.col-4 > .rel-col .col-1 { width: 25%; }

.col-4 > .rel-col .col-2 { width: 50%; }

.col-4 > .rel-col .col-3 { width: 75%; }

.col-4 > .rel-col .col-4 { width: 100%; }

.col-5 > .rel-col .col-1 { width: 20%; }

.col-5 > .rel-col .col-2 { width: 40%; }

.col-5 > .rel-col .col-3 { width: 60%; }

.col-5 > .rel-col .col-4 { width: 80%; }

.col-5 > .rel-col .col-5 { width: 100%; }

.col-6 > .rel-col .col-1 { width: 16.66667%; }

.col-6 > .rel-col .col-2 { width: 33.33333%; }

.col-6 > .rel-col .col-3 { width: 50%; }

.col-6 > .rel-col .col-4 { width: 66.66667%; }

.col-6 > .rel-col .col-5 { width: 83.33333%; }

.col-6 > .rel-col .col-6 { width: 100%; }

.col-7 > .rel-col .col-1 { width: 14.28571%; }

.col-7 > .rel-col .col-2 { width: 28.57143%; }

.col-7 > .rel-col .col-3 { width: 42.85714%; }

.col-7 > .rel-col .col-4 { width: 57.14286%; }

.col-7 > .rel-col .col-5 { width: 71.42857%; }

.col-7 > .rel-col .col-6 { width: 85.71429%; }

.col-7 > .rel-col .col-7 { width: 100%; }

.col-8 > .rel-col .col-1 { width: 12.5%; }

.col-8 > .rel-col .col-2 { width: 25%; }

.col-8 > .rel-col .col-3 { width: 37.5%; }

.col-8 > .rel-col .col-4 { width: 50%; }

.col-8 > .rel-col .col-5 { width: 62.5%; }

.col-8 > .rel-col .col-6 { width: 75%; }

.col-8 > .rel-col .col-7 { width: 87.5%; }

.col-8 > .rel-col .col-8 { width: 100%; }

.col-9 > .rel-col .col-1 { width: 11.11111%; }

.col-9 > .rel-col .col-2 { width: 22.22222%; }

.col-9 > .rel-col .col-3 { width: 33.33333%; }

.col-9 > .rel-col .col-4 { width: 44.44444%; }

.col-9 > .rel-col .col-5 { width: 55.55556%; }

.col-9 > .rel-col .col-6 { width: 66.66667%; }

.col-9 > .rel-col .col-7 { width: 77.77778%; }

.col-9 > .rel-col .col-8 { width: 88.88889%; }

.col-9 > .rel-col .col-9 { width: 100%; }

.col-10 > .rel-col .col-1 { width: 10%; }

.col-10 > .rel-col .col-2 { width: 20%; }

.col-10 > .rel-col .col-3 { width: 30%; }

.col-10 > .rel-col .col-4 { width: 40%; }

.col-10 > .rel-col .col-5 { width: 50%; }

.col-10 > .rel-col .col-6 { width: 60%; }

.col-10 > .rel-col .col-7 { width: 70%; }

.col-10 > .rel-col .col-8 { width: 80%; }

.col-10 > .rel-col .col-9 { width: 90%; }

.col-10 > .rel-col .col-10 { width: 100%; }

.col-11 > .rel-col .col-1 { width: 9.09091%; }

.col-11 > .rel-col .col-2 { width: 18.18182%; }

.col-11 > .rel-col .col-3 { width: 27.27273%; }

.col-11 > .rel-col .col-4 { width: 36.36364%; }

.col-11 > .rel-col .col-5 { width: 45.45455%; }

.col-11 > .rel-col .col-6 { width: 54.54545%; }

.col-11 > .rel-col .col-7 { width: 63.63636%; }

.col-11 > .rel-col .col-8 { width: 72.72727%; }

.col-11 > .rel-col .col-9 { width: 81.81818%; }

.col-11 > .rel-col .col-10 { width: 90.90909%; }

.col-11 > .rel-col .col-11 { width: 100%; }

.col-12 > .rel-col .col-1 { width: 8.33333%; }

.col-12 > .rel-col .col-2 { width: 16.66667%; }

.col-12 > .rel-col .col-3 { width: 25%; }

.col-12 > .rel-col .col-4 { width: 33.33333%; }

.col-12 > .rel-col .col-5 { width: 41.66667%; }

.col-12 > .rel-col .col-6 { width: 50%; }

.col-12 > .rel-col .col-7 { width: 58.33333%; }

.col-12 > .rel-col .col-8 { width: 66.66667%; }

.col-12 > .rel-col .col-9 { width: 75%; }

.col-12 > .rel-col .col-10 { width: 83.33333%; }

.col-12 > .rel-col .col-11 { width: 91.66667%; }

.col-12 > .rel-col .col-12 { width: 100%; }

.col .rel-col { width: auto; }

.col .rel-col:before, .col .rel-col:after { content: " "; display: table; }

.col .rel-col:after { clear: both; }

/* ========================================================================== Responsive Utilities --- xs <    768px sm >=   768px md >=   992px lg >=  1200px ========================================================================== */
.visible-xxs, .visible-xs, .visible-sm, .visible-md, .visible-lg { display: none !important; }

.visible-xxs-block, .visible-xxs-inline, .visible-xxs-inline-block, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block { display: none !important; }

/**
*
* Carry from Theme 25 (helper classes for hiding/showing)
*
**/
.visible-phone { display: none !important; }

.visible-tablet { display: none !important; }

.hidden-desktop { display: none !important; }

/******************************************************************************
Mobile Devices (Portrait Landscape)
******************************************************************************/

/******************************************************************************
Tablet Device (Portrait)
******************************************************************************/

/* Bootstrap Based Hidden Utilities ========================================================================== */
.hidden-xxs-up { display: none !important; }

.hidden-lg-down { display: none !important; }

@media (max-width: 640px) { /* Classes for XS sized devices */
  .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 { width: 100%; float: none; clear: both; }
  .t-Form-fieldContainer.rel-col { float: none; }
  .t-Form-fieldContainer.rel-col > .col { width: 100% !important; float: none; flex-direction: column; }
  .u-RTL .t-Form-fieldContainer.rel-col > .col { text-align: right; }
  .t-Form-fieldContainer .t-Form-labelContainer { padding-bottom: 0; }
  .t-Form-fieldContainer .t-Form-inputContainer { padding-top: 0; }
  .col-xxs-12 { width: 100%; }
  .col-xxs-11 { width: 91.66666666666666%; }
  .col-xxs-10 { width: 83.33333333333334%; }
  .col-xxs-9 { width: 75%; }
  .col-xxs-8 { width: 66.66666666666666%; }
  .col-xxs-7 { width: 58.333333333333336%; }
  .col-xxs-6 { width: 50%; }
  .col-xxs-5 { width: 41.66666666666667%; }
  .col-xxs-4 { width: 33.33333333333333%; }
  .col-xxs-3 { width: 25%; }
  .col-xxs-2 { width: 16.666666666666664%; }
  .col-xxs-1 { width: 8.333333333333332%; }
  .col-xxs-12, .col-xxs-11, .col-xxs-10, .col-xxs-9, .col-xxs-8, .col-xxs-7, .col-xxs-6, .col-xxs-5, .col-xxs-4, .col-xxs-3, .col-xxs-2, .col-xxs-1 { float: left; clear: none; }
  /* Pull modifier classes */
  .col-xxs-pull-12 { right: 100%; }
  .col-xxs-pull-11 { right: 91.66666666666666%; }
  .col-xxs-pull-10 { right: 83.33333333333334%; }
  .col-xxs-pull-9 { right: 75%; }
  .col-xxs-pull-8 { right: 66.66666666666666%; }
  .col-xxs-pull-7 { right: 58.333333333333336%; }
  .col-xxs-pull-6 { right: 50%; }
  .col-xxs-pull-5 { right: 41.66666666666667%; }
  .col-xxs-pull-4 { right: 33.33333333333333%; }
  .col-xxs-pull-3 { right: 25%; }
  .col-xxs-pull-2 { right: 16.666666666666664%; }
  .col-xxs-pull-1 { right: 8.333333333333332%; }
  .col-xxs-pull-0 { right: 0; }
  /* Push modifier classes */
  .col-xxs-push-12 { left: 100%; }
  .col-xxs-push-11 { left: 91.66666666666666%; }
  .col-xxs-push-10 { left: 83.33333333333334%; }
  .col-xxs-push-9 { left: 75%; }
  .col-xxs-push-8 { left: 66.66666666666666%; }
  .col-xxs-push-7 { left: 58.333333333333336%; }
  .col-xxs-push-6 { left: 50%; }
  .col-xxs-push-5 { left: 41.66666666666667%; }
  .col-xxs-push-4 { left: 33.33333333333333%; }
  .col-xxs-push-3 { left: 25%; }
  .col-xxs-push-2 { left: 16.666666666666664%; }
  .col-xxs-push-1 { left: 8.333333333333332%; }
  .col-xxs-push-0 { left: 0; }
  /* Offset modifier classes */
  .col-xxs-offset-12 { margin-left: 100%; }
  .col-xxs-offset-11 { margin-left: 91.66666666666666%; }
  .col-xxs-offset-10 { margin-left: 83.33333333333334%; }
  .col-xxs-offset-9 { margin-left: 75%; }
  .col-xxs-offset-8 { margin-left: 66.66666666666666%; }
  .col-xxs-offset-7 { margin-left: 58.333333333333336%; }
  .col-xxs-offset-6 { margin-left: 50%; }
  .col-xxs-offset-5 { margin-left: 41.66666666666667%; }
  .col-xxs-offset-4 { margin-left: 33.33333333333333%; }
  .col-xxs-offset-3 { margin-left: 25%; }
  .col-xxs-offset-2 { margin-left: 16.666666666666664%; }
  .col-xxs-offset-1 { margin-left: 8.333333333333332%; }
  .col-xxs-offset-0 { margin-left: 0; } .hidden-xxs-down { display: none !important; } }

@media (min-width: 641px) and (max-width: 767px) { /* Classes for small sized devices */
  .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 { float: left; }
  .col-xs-12 { width: 100%; }
  .col-xs-11 { width: 91.66666666666666%; }
  .col-xs-10 { width: 83.33333333333334%; }
  .col-xs-9 { width: 75%; }
  .col-xs-8 { width: 66.66666666666666%; }
  .col-xs-7 { width: 58.333333333333336%; }
  .col-xs-6 { width: 50%; }
  .col-xs-5 { width: 41.66666666666667%; }
  .col-xs-4 { width: 33.33333333333333%; }
  .col-xs-3 { width: 25%; }
  .col-xs-2 { width: 16.666666666666664%; }
  .col-xs-1 { width: 8.333333333333332%; }
  /* Pull modifier classes */
  .col-xs-pull-12 { right: 100%; }
  .col-xs-pull-11 { right: 91.66666666666666%; }
  .col-xs-pull-10 { right: 83.33333333333334%; }
  .col-xs-pull-9 { right: 75%; }
  .col-xs-pull-8 { right: 66.66666666666666%; }
  .col-xs-pull-7 { right: 58.333333333333336%; }
  .col-xs-pull-6 { right: 50%; }
  .col-xs-pull-5 { right: 41.66666666666667%; }
  .col-xs-pull-4 { right: 33.33333333333333%; }
  .col-xs-pull-3 { right: 25%; }
  .col-xs-pull-2 { right: 16.666666666666664%; }
  .col-xs-pull-1 { right: 8.333333333333332%; }
  .col-xs-pull-0 { right: 0; }
  /* Push modifier classes */
  .col-xs-push-12 { left: 100%; }
  .col-xs-push-11 { left: 91.66666666666666%; }
  .col-xs-push-10 { left: 83.33333333333334%; }
  .col-xs-push-9 { left: 75%; }
  .col-xs-push-8 { left: 66.66666666666666%; }
  .col-xs-push-7 { left: 58.333333333333336%; }
  .col-xs-push-6 { left: 50%; }
  .col-xs-push-5 { left: 41.66666666666667%; }
  .col-xs-push-4 { left: 33.33333333333333%; }
  .col-xs-push-3 { left: 25%; }
  .col-xs-push-2 { left: 16.666666666666664%; }
  .col-xs-push-1 { left: 8.333333333333332%; }
  .col-xs-push-0 { left: 0; }
  /* Offset modifier classes */
  .col-xs-offset-12 { margin-left: 100%; }
  .col-xs-offset-11 { margin-left: 91.66666666666666%; }
  .col-xs-offset-10 { margin-left: 83.33333333333334%; }
  .col-xs-offset-9 { margin-left: 75%; }
  .col-xs-offset-8 { margin-left: 66.66666666666666%; }
  .col-xs-offset-7 { margin-left: 58.333333333333336%; }
  .col-xs-offset-6 { margin-left: 50%; }
  .col-xs-offset-5 { margin-left: 41.66666666666667%; }
  .col-xs-offset-4 { margin-left: 33.33333333333333%; }
  .col-xs-offset-3 { margin-left: 25%; }
  .col-xs-offset-2 { margin-left: 16.666666666666664%; }
  .col-xs-offset-1 { margin-left: 8.333333333333332%; }
  .col-xs-offset-0 { margin-left: 0; } }

@media (min-width: 768px) and (max-width: 991px) { /* Classes for medium sized devices */
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66666666666666%; }
  .col-sm-10 { width: 83.33333333333334%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.66666666666666%; }
  .col-sm-7 { width: 58.333333333333336%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.66666666666667%; }
  .col-sm-4 { width: 33.33333333333333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.666666666666664%; }
  .col-sm-1 { width: 8.333333333333332%; }
  /* Pull modifier classes */
  .col-sm-pull-12 { right: 100%; }
  .col-sm-pull-11 { right: 91.66666666666666%; }
  .col-sm-pull-10 { right: 83.33333333333334%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-8 { right: 66.66666666666666%; }
  .col-sm-pull-7 { right: 58.333333333333336%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-5 { right: 41.66666666666667%; }
  .col-sm-pull-4 { right: 33.33333333333333%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-2 { right: 16.666666666666664%; }
  .col-sm-pull-1 { right: 8.333333333333332%; }
  .col-sm-pull-0 { right: 0; }
  /* Push modifier classes */
  .col-sm-push-12 { left: 100%; }
  .col-sm-push-11 { left: 91.66666666666666%; }
  .col-sm-push-10 { left: 83.33333333333334%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-8 { left: 66.66666666666666%; }
  .col-sm-push-7 { left: 58.333333333333336%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-5 { left: 41.66666666666667%; }
  .col-sm-push-4 { left: 33.33333333333333%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-2 { left: 16.666666666666664%; }
  .col-sm-push-1 { left: 8.333333333333332%; }
  .col-sm-push-0 { left: 0; }
  /* Offset modifier classes */
  .col-sm-offset-12 { margin-left: 100%; }
  .col-sm-offset-11 { margin-left: 91.66666666666666%; }
  .col-sm-offset-10 { margin-left: 83.33333333333334%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-8 { margin-left: 66.66666666666666%; }
  .col-sm-offset-7 { margin-left: 58.333333333333336%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-5 { margin-left: 41.66666666666667%; }
  .col-sm-offset-4 { margin-left: 33.33333333333333%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-2 { margin-left: 16.666666666666664%; }
  .col-sm-offset-1 { margin-left: 8.333333333333332%; }
  .col-sm-offset-0 { margin-left: 0; } .visible-sm { display: block !important; }
  table.visible-sm { display: table; }
  tr.visible-sm { display: table-row !important; }
  th.visible-sm, td.visible-sm { display: table-cell !important; } .visible-sm-block { display: block !important; } .visible-sm-inline { display: inline !important; } .visible-sm-inline-block { display: inline-block !important; } .hidden-sm { display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) { /* Classes for medium sized devices */
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.66666666666666%; }
  .col-md-10 { width: 83.33333333333334%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.66666666666666%; }
  .col-md-7 { width: 58.333333333333336%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.66666666666667%; }
  .col-md-4 { width: 33.33333333333333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.666666666666664%; }
  .col-md-1 { width: 8.333333333333332%; }
  /* Pull modifier classes */
  .col-md-pull-12 { right: 100%; }
  .col-md-pull-11 { right: 91.66666666666666%; }
  .col-md-pull-10 { right: 83.33333333333334%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-8 { right: 66.66666666666666%; }
  .col-md-pull-7 { right: 58.333333333333336%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-5 { right: 41.66666666666667%; }
  .col-md-pull-4 { right: 33.33333333333333%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-2 { right: 16.666666666666664%; }
  .col-md-pull-1 { right: 8.333333333333332%; }
  .col-md-pull-0 { right: 0; }
  /* Push modifier classes */
  .col-md-push-12 { left: 100%; }
  .col-md-push-11 { left: 91.66666666666666%; }
  .col-md-push-10 { left: 83.33333333333334%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-8 { left: 66.66666666666666%; }
  .col-md-push-7 { left: 58.333333333333336%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-5 { left: 41.66666666666667%; }
  .col-md-push-4 { left: 33.33333333333333%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-2 { left: 16.666666666666664%; }
  .col-md-push-1 { left: 8.333333333333332%; }
  .col-md-push-0 { left: 0; }
  /* Offset modifier classes */
  .col-md-offset-12 { margin-left: 100%; }
  .col-md-offset-11 { margin-left: 91.66666666666666%; }
  .col-md-offset-10 { margin-left: 83.33333333333334%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-8 { margin-left: 66.66666666666666%; }
  .col-md-offset-7 { margin-left: 58.333333333333336%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-5 { margin-left: 41.66666666666667%; }
  .col-md-offset-4 { margin-left: 33.33333333333333%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-2 { margin-left: 16.666666666666664%; }
  .col-md-offset-1 { margin-left: 8.333333333333332%; }
  .col-md-offset-0 { margin-left: 0; } .visible-md { display: block !important; }
  table.visible-md { display: table; }
  tr.visible-md { display: table-row !important; }
  th.visible-md, td.visible-md { display: table-cell !important; } .visible-md-block { display: block !important; } .visible-md-inline { display: inline !important; } .visible-md-inline-block { display: inline-block !important; } .hidden-md { display: none !important; } }

@media (min-width: 1200px) { /* Classes for large sized devices */
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.66666666666666%; }
  .col-lg-10 { width: 83.33333333333334%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.66666666666666%; }
  .col-lg-7 { width: 58.333333333333336%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.66666666666667%; }
  .col-lg-4 { width: 33.33333333333333%; }
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.666666666666664%; }
  .col-lg-1 { width: 8.333333333333332%; }
  /* Pull modifier classes */
  .col-lg-pull-12 { right: 100%; }
  .col-lg-pull-11 { right: 91.66666666666666%; }
  .col-lg-pull-10 { right: 83.33333333333334%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-8 { right: 66.66666666666666%; }
  .col-lg-pull-7 { right: 58.333333333333336%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-5 { right: 41.66666666666667%; }
  .col-lg-pull-4 { right: 33.33333333333333%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-2 { right: 16.666666666666664%; }
  .col-lg-pull-1 { right: 8.333333333333332%; }
  .col-lg-pull-0 { right: 0; }
  /* Push modifier classes */
  .col-lg-push-12 { left: 100%; }
  .col-lg-push-11 { left: 91.66666666666666%; }
  .col-lg-push-10 { left: 83.33333333333334%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-8 { left: 66.66666666666666%; }
  .col-lg-push-7 { left: 58.333333333333336%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-5 { left: 41.66666666666667%; }
  .col-lg-push-4 { left: 33.33333333333333%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-2 { left: 16.666666666666664%; }
  .col-lg-push-1 { left: 8.333333333333332%; }
  .col-lg-push-0 { left: 0; }
  /* Offset modifier classes */
  .col-lg-offset-12 { margin-left: 100%; }
  .col-lg-offset-11 { margin-left: 91.66666666666666%; }
  .col-lg-offset-10 { margin-left: 83.33333333333334%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-8 { margin-left: 66.66666666666666%; }
  .col-lg-offset-7 { margin-left: 58.333333333333336%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-5 { margin-left: 41.66666666666667%; }
  .col-lg-offset-4 { margin-left: 33.33333333333333%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-2 { margin-left: 16.666666666666664%; }
  .col-lg-offset-1 { margin-left: 8.333333333333332%; }
  .col-lg-offset-0 { margin-left: 0; } .visible-lg { display: block !important; }
  table.visible-lg { display: table; }
  tr.visible-lg { display: table-row !important; }
  th.visible-lg, td.visible-lg { display: table-cell !important; } .visible-lg-block { display: block !important; } .visible-lg-inline { display: inline !important; } .visible-lg-inline-block { display: inline-block !important; } .hidden-lg { display: none !important; } .hidden-lg-up { display: none !important; } }

@media (max-width: 639px) { .visible-xxs { display: block !important; }
  table.visible-xxs { display: table; }
  tr.visible-xxs { display: table-row !important; }
  th.visible-xxs, td.visible-xxs { display: table-cell !important; } .visible-xxs-block { display: block !important; } .visible-xxs-inline { display: inline !important; } .visible-xxs-inline-block { display: inline-block !important; } .hidden-xxs { display: none !important; } }

@media (max-width: 767px) { .visible-xs { display: block !important; }
  table.visible-xs { display: table; }
  tr.visible-xs { display: table-row !important; }
  th.visible-xs, td.visible-xs { display: table-cell !important; } .visible-xs-block { display: block !important; } .visible-xs-inline { display: inline !important; } .visible-xs-inline-block { display: inline-block !important; } .hidden-xs-down { display: none !important; } }

@media (min-width: 640px) and (max-width: 767px) { .hidden-xs { display: none !important; } }

@media only screen and (max-width: 767px) { .visible-phone { display: inherit !important; }
  .hidden-phone { display: none !important; }
  .hidden-desktop { display: inherit !important; }
  .visible-desktop { display: none !important; } }

@media only screen and (min-width: 768px) and (max-width: 959px) { .visible-tablet { display: inherit !important; }
  .hidden-tablet { display: none !important; }
  .hidden-desktop { display: inherit !important; }
  .visible-desktop { display: none !important; } }

@media (min-width: 641px) { .hidden-xs-up { display: none !important; } }

@media (min-width: 768px) { .hidden-sm-up { display: none !important; } }

@media (max-width: 991px) { .hidden-sm-down { display: none !important; } }

@media (min-width: 992px) { .hidden-md-up { display: none !important; } }

@media (max-width: 1199px) { .hidden-md-down { display: none !important; } }
