/** Import Compass */
/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
/* ========================================================================== Login Page ========================================================================== */
.t-PageBody--login form#wwvFlowForm { display: flex; min-height: 100vh; }

.t-PageBody--login .t-Alert--wizard { width: auto; }

.t-PageBody--login .t-Body-alert { max-width: 460px; margin: 16px auto; }

@-webkit-keyframes loginFade { from { -webkit-transform: scale(0.95); transform: scale(0.95);
    opacity: .0; }
  to { -webkit-transform: scale(1); transform: scale(1);
    opacity: 1; } }

@keyframes loginFade { from { -webkit-transform: scale(0.95); transform: scale(0.95);
    opacity: .0; }
  to { -webkit-transform: scale(1); transform: scale(1);
    opacity: 1; } }

/* Login Container ========================================================================== */
.t-Login-container { display: flex; flex-grow: 1; flex-shrink: 0; flex-basis: auto; flex-direction: column; padding-left: 8px; padding-right: 8px; max-width: 100%; }

.t-Login-container .container { overflow: visible; max-width: 100%; }

.t-Login-containerHeader, .t-Login-containerFooter { flex-grow: 0; flex-shrink: 0; flex-basis: auto; }

.t-Login-containerHeader:empty, .t-Login-containerFooter:empty { display: none; }

.t-Login-containerHeader { margin-bottom: 16px; }

.t-Login-containerBody { flex-grow: 0; flex-shrink: 0; flex-basis: auto; display: flex; flex-direction: column; margin-top: auto; margin-bottom: auto; align-items: center; }

.t-Login-containerFooter { margin-top: 16px; }

.t-Login-region { -webkit-backdrop-filter: blur(4px); backdrop-filter: blur(4px); border-radius: 8px; padding: 32px; width: 100%; max-width: 460px; -webkit-animation: loginFade ease-out 1; animation: loginFade ease-out 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .35s; animation-duration: .35s; -webkit-transform-origin: center; transform-origin: center; }

.t-LoginPage--split .t-Login-container { padding-left: 0; padding-right: 0; max-width: 460px; -webkit-backdrop-filter: blur(4px); backdrop-filter: blur(4px); -webkit-animation: loginSlideIn ease-out 1; animation: loginSlideIn ease-out 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .55s; animation-duration: .55s; }

.u-RTL .t-LoginPage--split .t-Login-container { -webkit-animation-name: loginSlideInRTL; animation-name: loginSlideInRTL; }

.t-LoginPage--split .t-Alert--wizard, .t-LoginPage--split .t-Body-alert { margin: 16px 32px; max-width: 100%; }

.t-LoginPage--split .t-Alert--page.t-Alert--warning .a-Notification-title { margin: 0 0 6px; font-weight: 700; }

.t-LoginPage--split .t-Alert--page.t-Alert--warning .a-Notification-list:last-child { margin-bottom: 0; padding: 0; }

.t-LoginPage--split .t-Alert--page.t-Alert--warning .a-Notification-list li:last-child { margin-bottom: 0; }

.t-LoginPage--split .t-Alert--wizard .t-Alert-wrap { margin: 0; }

.t-LoginPage--split .t-Alert--wizard .t-Alert-icon, .t-LoginPage--split .t-Alert--wizard .t-Alert-content, .t-LoginPage--split .t-Alert--wizard .t-Alert-buttons { margin-left: 0; margin-right: 0; }

.t-LoginPage--split .t-Alert--wizard, .t-LoginPage--split .t-Login-region { background-color: transparent; background-image: none; box-shadow: none; -webkit-backdrop-filter: none; backdrop-filter: none; border: none; border-radius: 0; max-width: 100%; -webkit-animation: none; animation: none; }

@-webkit-keyframes loginSlideIn { from { -webkit-transform: translateX(-100%); transform: translateX(-100%);
    opacity: 0; }
  to { -webkit-transform: translateX(0); transform: translateX(0);
    opacity: 1; } }

@keyframes loginSlideIn { from { -webkit-transform: translateX(-100%); transform: translateX(-100%);
    opacity: 0; }
  to { -webkit-transform: translateX(0); transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes loginSlideInRTL { from { -webkit-transform: translateX(100%); transform: translateX(100%);
    opacity: 0; }
  to { -webkit-transform: translateX(0); transform: translateX(0);
    opacity: 1; } }

@keyframes loginSlideInRTL { from { -webkit-transform: translateX(100%); transform: translateX(100%);
    opacity: 0; }
  to { -webkit-transform: translateX(0); transform: translateX(0);
    opacity: 1; } }

/* Login Region Header ========================================================================== */
.t-Login-header { padding: 24px 0; }

/* Login Header Logo */
.t-Login-logo { width: 64px; height: 64px; line-height: 64px; display: block; margin: 0 auto 16px; border-radius: 4px; text-align: center; }

.apex-icons-fontawesome .t-Login-logo { font-size: 42px; }

.apex-icons-fontapex .t-Login-logo { font-size: 48px; }

/* Login Header Logo Text */
.t-Login-title { font-size: 24px; margin: 16px 0; font-weight: 600; text-align: center; }

.t-Login-region--headerHidden .t-Login-header { display: none; }

.t-Login-region--headerTitle .t-Login-logo { display: none; }

.t-Login-region--headerTitle .t-Login-title { margin-top: 0; }

.t-Login-region--headerIcon .t-Login-title { display: none; }

/* Alerts ========================================================================== */
.t-PageBody--login .t-Alert { position: relative; right: 0; left: 0; top: 0; min-width: auto; }

/* Item Icons ========================================================================== */
.t-Login-body .t-Form-fieldContainer:not(.t-Form-fieldContainer--floatingLabel) .apex-item-icon { padding: 12px; left: 40px; margin-left: -40px; }

.u-RTL .t-Login-body .t-Form-fieldContainer:not(.t-Form-fieldContainer--floatingLabel) .apex-item-icon { left: auto; right: 40px; }

.u-RTL .t-Login-body .t-Form-fieldContainer:not(.t-Form-fieldContainer--floatingLabel) .apex-item-icon { margin-left: 0; margin-right: -40px; }

.t-Login-body .t-Form-fieldContainer:not(.t-Form-fieldContainer--floatingLabel) .apex-item-has-icon { text-indent: 0; }

.t-Login-body .t-Form-fieldContainer--floatingLabel { padding: 0; }

/* TODO: remove the following styles for icons as we have item icon support in 5.1 */
.t-Login-body .t-Form-inputContainer:before { position: absolute; left: 0; top: 0; font-family: "apex-5-icon-font" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; z-index: 10; font-size: 24px; margin: 8px; pointer-events: none; }

.u-RTL .t-Login-body .t-Form-inputContainer:before { right: 0; left: auto; }

.t-Login-body { /* TODO: Remove the following four icon classes as now we have item icon support in 5.1 */ }

.t-Login-body .icon-login-workspace .t-Form-inputContainer:before { content: "\e0f6"; }

.t-Login-body .icon-login-username .t-Form-inputContainer:before { content: "\e0f5"; }

.t-Login-body .icon-login-email .t-Form-inputContainer:before { content: "\e03a"; }

.t-Login-body .icon-login-password .t-Form-inputContainer:before { content: "\e08f"; }

.t-Login-body .t-Form-inputContainer { padding-bottom: 16px; position: relative; }

.t-Login-body small { font-size: 1.1rem; line-height: 2.0rem; display: block; }

.t-Login-body p { margin-top: 0; margin-bottom: 1, 2rem; }

.t-Login-body p + p { margin-bottom: 2.4rem; }

.t-Login-region .t-Login-body .t-Form-fieldContainer:not(.t-Form-fieldContainer--floatingLabel) .apex-item-text { font-size: 16px; padding: 4px 36px; height: 40px; }

.t-Login-region .t-Login-body .t-Form-fieldContainer:not(.t-Form-fieldContainer--floatingLabel) .apex-item-text:required:valid ~ .t-Form-itemText .t-Login-iconValidation { opacity: 1; }

.t-Login-inputIcon, .t-Login-iconLabel { position: absolute; width: 32px; height: 32px; margin: 4px; overflow: hidden; }

.t-Login-inputIcon:before, .t-Login-iconLabel:before { font-size: 32px; }

.t-Login-iconValidation { position: absolute; top: 0; right: 0; z-index: 3; margin: 8px; border-radius: 100%; padding: 4px; width: 24px; height: 24px; opacity: 0; transition: opacity .2s; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.u-RTL .t-Login-iconValidation { right: auto; left: 0; }

.t-Login-region .t-Form-labelContainer--hiddenLabel { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.t-Login-region .t-Form-inputContainer, .t-Login-region .t-Form-labelContainer { padding: 0 0 1.6rem 0; }

.t-Login-buttons { padding: 0; }

.t-Login-buttons .t-Button { display: block; width: 100%; }

.t-Login-buttons .t-Button + .t-Button { margin-top: 8px; }

.t-Login-buttons .t-Button { padding: 16px 24px; font-size: 16px; line-height: 16px; }

.t-Login-buttons .t-Button--hot { font-weight: bold; }

.t-Login-buttons .t-Button + .t-Button { margin-left: 0; }

/* Login Backgrounds ========================================================================== */
.t-LoginPage--bg1:before, .t-LoginPage--bg2:before, .t-LoginPage--bg3:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; pointer-events: none; }

.t-LoginPage--bg1.apex-theme-vita-dark:before, .t-LoginPage--bg2.apex-theme-vita-dark:before, .t-LoginPage--bg3.apex-theme-vita-dark:before { -webkit-filter: invert(1); filter: invert(1); }

.t-LoginPage--bg1:before { background-image: url(../../images/backgrounds/stripes.svg); background-position: right bottom; }

.t-LoginPage--bg2:before { background-image: url(../../images/backgrounds/radar.svg); background-position: right bottom; }

.t-LoginPage--bg3:before { background-image: url(../../images/backgrounds/circles.svg); background-position: center; }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { .t-Login-container { min-height: 100vh; } }

@media (max-width: 480px) { .t-LoginPage--split .t-Login-container { max-width: 95%; } .t-LoginPage--split .t-Alert--wizard, .t-LoginPage--split .t-Body-alert { margin-left: 16px; margin-right: 16px; } }
