/* Import Compass */
/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
/* ========================================================================== Navigation Bar --- Used for showing user menu, help, mobile, and other links in Navigation Bar position ========================================================================== */
.t-NavigationBar { list-style: none; margin: 0; padding: 0; display: block; }

.t-NavigationBar-item { display: inline-block; vertical-align: top; }

.t-NavigationBar-menu { position: fixed !important; min-width: 160px; }

.t-Button--navBar .a-Icon.icon-down-arrow { margin-left: 2px; }

.u-RTL .t-Button--navBar .a-Icon.icon-down-arrow { margin-left: 0; margin-right: 2px; }

.t-Button--navBar .a-Icon.icon-down-arrow:before { content: "\e0c2"; }

/* Icon Only ========================================================================== */
.t-NavigationBar-item.icon-only .t-Button .t-Icon { margin-right: 0; }

.u-RTL .t-NavigationBar-item.icon-only .t-Button .t-Icon { margin-left: 0; }

.t-NavigationBar-item.icon-only .t-Button-label { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* No Icon ========================================================================== */
.t-NavigationBar-item.no-icon .t-Button .t-Icon { display: none; }

/* Username (Lowercase Text) ========================================================================== */
.t-NavigationBar-item.has-username .t-Button-label { text-transform: lowercase; }
