/* ========================================================================== Icon Library Mixin ========================================================================== */
/* ========================================================================== Shadows ========================================================================== */
/* ========================================================================== Tree Navigation ========================================================================== */
.a-TreeView { min-height: 99%; }

.lt-ie10 .a-TreeView { min-height: 90%; }

.t-TreeNav { width: 100%; }

.t-TreeNav .a-TreeView-label:hover { text-decoration: none; }

.t-TreeNav .a-TreeView-node--topLevel { padding-left: 0; margin-left: 0; }

.u-RTL .t-TreeNav .a-TreeView-node--topLevel { padding-right: 0; margin-right: 0; }

.t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-row { height: 40px; box-shadow: none; }

.t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content { padding: 0; line-height: 40px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .fa { vertical-align: top; width: 24px; height: 24px; line-height: 24px; margin: 8px; border-radius: 2px; text-align: center; }

.js-navCollapsed .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .fa { width: 32px; }

.u-RTL .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content { text-overflow: clip; }

.t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-label { line-height: 40px; padding: 0; margin: 0; font-size: 14px; }

.js-navCollapsed .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-label { position: fixed; left: 0; visibility: hidden; width: 48px; }

.u-RTL .js-navCollapsed .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-label { right: 0; left: auto; }

.js-navCollapsed .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-label .a-TreeView-badge { visibility: visible; padding: 0 4px; display: block; margin: 4px; border-radius: 12px; box-shadow: none; min-width: 12px; font-size: 10px; text-align: center; line-height: 14px; max-width: 32px; text-overflow: ellipsis; overflow: hidden; }

.t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-toggle { margin: 0; width: 24px; height: 40px; padding: 12px 8px 12px 0; }

.u-RTL .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-toggle { padding: 12px 0 12px 8px; }

.t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-badge { margin: 10px 8px 10px 4px; padding: 2px 6px; font-size: 11px; line-height: 16px; }

.u-RTL .t-TreeNav .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-badge { margin: 10px 4px 10px 8px; }

.t-TreeNav .a-TreeView-node--topLevel .a-TreeView-node .fa { line-height: 32px; }

.t-TreeNav .a-TreeView-badge { margin: 6px 8px 6px 4px; padding: 2px 6px; font-size: 11px; line-height: 16px; border-radius: 2px; box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25); position: absolute; right: 0; top: 0; text-align: center; }

.u-RTL .t-TreeNav .a-TreeView-badge { margin: 10px 4px 10px 8px; left: 0; right: auto; }

.t-TreeNav > .a-TreeView-toggle { margin: 0; width: 24px; height: 40px; padding: 12px 8px 12px 0; }

.u-RTL .t-TreeNav > .a-TreeView-toggle { padding: 12px 0 12px 8px; }

.t-TreeNav .a-TreeView-toggle { float: right; position: relative; z-index: 1; }

.u-RTL .t-TreeNav .a-TreeView-toggle { float: left; }

.t-TreeNav .a-TreeView-node--topLevel ul { padding-bottom: 0; }

.t-TreeNav .a-TreeView-node--topLevel ul .a-TreeView-row { height: 32px; box-shadow: none; }

.t-TreeNav .a-TreeView-node--topLevel ul .a-TreeView-label { line-height: 32px; }

.t-TreeNav .a-TreeView-node--topLevel ul .a-TreeView-content { padding: 0; line-height: 32px; overflow: hidden; text-overflow: ellipsis; }

.t-TreeNav .a-TreeView-node--topLevel ul .a-TreeView-toggle { width: 24px; height: 32px; padding: 8px 8px 8px 0; margin: 0; }

.t-TreeNav .a-TreeView-node--topLevel > ul { padding: 8px 0; }

.t-TreeNav .a-TreeView-node--topLevel > ul > .a-TreeView-node { padding-left: 24px; }

.u-RTL .t-TreeNav .a-TreeView-node--topLevel > ul > .a-TreeView-node { padding-right: 24px; padding-left: 0; }

.t-TreeNav.a-TreeView .is-expandable > .a-TreeView-toggle:before { content: "\e0c2"; }

.t-TreeNav.a-TreeView .is-collapsible > .a-TreeView-toggle:before { content: "\e0c2"; }

.t-TreeNav .a-TreeView-node, .t-TreeNav .a-TreeView-label, .t-TreeNav .a-TreeView-content .fa { cursor: pointer; }

/* Scrollbars ========================================================================== */
.apex-side-nav.js-navCollapsed .t-Body-nav { overflow-x: hidden; }

.t-PageBody--leftNav .t-Body-nav::-webkit-scrollbar { width: 4px; height: 4px; }

.t-PageBody--leftNav .t-Body-nav .t-PageBody--leftNav .t-Body-nav:hover::-webkit-scrollbar { width: 8px; height: 8px; }

/* Tree View RTL Handling ========================================================================== */
.t-TreeNav.u-RTL .a-TreeView-node--topLevel { padding-right: 0; }

/* Style Variations ========================================================================== */
.t-TreeNav--styleA .a-TreeView-content, .t-TreeNav--styleB .a-TreeView-content { display: flex; align-items: center; cursor: pointer; padding-right: .4rem; }

.t-TreeNav--styleA .a-TreeView-content .fa, .t-TreeNav--styleB .a-TreeView-content .fa { flex-grow: 0; flex-shrink: 0; flex-basis: auto; }

.t-TreeNav--styleA .a-TreeView-content .a-TreeView-label, .t-TreeNav--styleB .a-TreeView-content .a-TreeView-label { flex-grow: 1; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.t-TreeNav--styleA .a-TreeView-toggle:before, .t-TreeNav--styleB .a-TreeView-toggle:before { -webkit-transform-origin: center center; transform-origin: center center; transition: -webkit-transform .15s ease; transition: transform .15s ease; transition: transform .15s ease, -webkit-transform .15s ease; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); display: inline-block; content: ''; }

.u-RTL .t-TreeNav--styleA .a-TreeView-toggle:before, .u-RTL .t-TreeNav--styleB .a-TreeView-toggle:before { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.t-TreeNav--styleA .is-collapsible > .a-TreeView-toggle:before, .t-TreeNav--styleB .is-collapsible > .a-TreeView-toggle:before { -webkit-transform: rotate(0deg); transform: rotate(0deg); }

.t-TreeNav--styleA .a-TreeView-node--topLevel, .t-TreeNav--styleB .a-TreeView-node--topLevel { position: relative; }

.t-TreeNav--styleA .a-TreeView-node--topLevel .a-TreeView-row, .t-TreeNav--styleA .a-TreeView-node--topLevel ul, .t-TreeNav--styleB .a-TreeView-node--topLevel .a-TreeView-row, .t-TreeNav--styleB .a-TreeView-node--topLevel ul { transition: box-shadow .15s ease, height .15s ease; }

.t-TreeNav--styleA .a-TreeView-node--topLevel > .a-TreeView-row, .t-TreeNav--styleB .a-TreeView-node--topLevel > .a-TreeView-row { height: 4.4rem; }

.t-TreeNav--styleA .a-TreeView-node--topLevel > .a-TreeView-toggle, .t-TreeNav--styleB .a-TreeView-node--topLevel > .a-TreeView-toggle { height: 4.4rem; width: 3.2rem; padding: 1.4rem 1.2rem 1.4rem .4rem; }

.u-RTL .t-TreeNav--styleA .a-TreeView-node--topLevel > .a-TreeView-toggle, .u-RTL .t-TreeNav--styleB .a-TreeView-node--topLevel > .a-TreeView-toggle { padding: 1.4rem .4rem 1.4rem 1.2rem; }

.t-TreeNav--styleA .a-TreeView-node--topLevel > .a-TreeView-content .fa, .t-TreeNav--styleB .a-TreeView-node--topLevel > .a-TreeView-content .fa { margin: .8rem; font-size: 2rem; line-height: 2rem; width: 2.8rem; height: 2.8rem; padding: .4rem; transition: margin .15s ease; }

.t-TreeNav--styleA .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-label, .t-TreeNav--styleB .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-label { line-height: 4.4rem; font-size: 1.4rem; }

.t-TreeNav--styleA .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-badge, .t-TreeNav--styleB .a-TreeView-node--topLevel > .a-TreeView-content .a-TreeView-badge { margin-top: 1.2rem; margin-bottom: 1.2rem; }

.t-TreeNav--styleA .a-TreeView-node--topLevel > ul, .t-TreeNav--styleB .a-TreeView-node--topLevel > ul { padding: 0; }

.t-TreeNav--styleA .a-TreeView-node--topLevel > ul > .a-TreeView-node, .t-TreeNav--styleB .a-TreeView-node--topLevel > ul > .a-TreeView-node { padding-left: 0; margin: 0; }

.u-RTL .t-TreeNav--styleA .a-TreeView-node--topLevel > ul > .a-TreeView-node, .u-RTL .t-TreeNav--styleB .a-TreeView-node--topLevel > ul > .a-TreeView-node { padding-right: 0; }

.t-TreeNav--styleA .a-TreeView-node--topLevel ul .a-TreeView-row, .t-TreeNav--styleB .a-TreeView-node--topLevel ul .a-TreeView-row { height: 4rem; }

.t-TreeNav--styleA .a-TreeView-node--topLevel ul .a-TreeView-content, .t-TreeNav--styleB .a-TreeView-node--topLevel ul .a-TreeView-content { padding-left: 4.4rem; padding-right: .4rem; }

.u-RTL .t-TreeNav--styleA .a-TreeView-node--topLevel ul .a-TreeView-content, .u-RTL .t-TreeNav--styleB .a-TreeView-node--topLevel ul .a-TreeView-content { padding-right: 4.4rem; padding-left: .4rem; }

.t-TreeNav--styleA .a-TreeView-node--topLevel ul .fa, .t-TreeNav--styleB .a-TreeView-node--topLevel ul .fa { margin-left: -3.2rem; margin-right: 1.2rem; line-height: 1.6rem !important; width: 2rem; height: 2rem; padding: .2rem; border-radius: .2rem; }

.u-RTL .t-TreeNav--styleA .a-TreeView-node--topLevel ul .fa, .u-RTL .t-TreeNav--styleB .a-TreeView-node--topLevel ul .fa { margin-right: -3.2rem; margin-left: 1.2rem; }

.t-TreeNav--styleA .a-TreeView-node--topLevel ul .a-TreeView-label, .t-TreeNav--styleB .a-TreeView-node--topLevel ul .a-TreeView-label { margin-left: 0; padding: 0; line-height: 4rem; }

.u-RTL .t-TreeNav--styleA .a-TreeView-node--topLevel ul .a-TreeView-label, .u-RTL .t-TreeNav--styleB .a-TreeView-node--topLevel ul .a-TreeView-label { margin-right: 0; }

.t-TreeNav--styleA .a-TreeView-node--topLevel ul .a-TreeView-badge, .t-TreeNav--styleB .a-TreeView-node--topLevel ul .a-TreeView-badge { margin-top: 1rem; margin-bottom: 1rem; }

.t-TreeNav--styleA .a-TreeView-node--topLevel ul .a-TreeView-toggle, .t-TreeNav--styleB .a-TreeView-node--topLevel ul .a-TreeView-toggle { padding: 1.2rem 1.2rem 1.2rem 0; width: 2.8rem; height: 4rem; }

.u-RTL .t-TreeNav--styleA .a-TreeView-node--topLevel ul .a-TreeView-toggle, .u-RTL .t-TreeNav--styleB .a-TreeView-node--topLevel ul .a-TreeView-toggle { padding: 1.2rem 0 1.2rem 1.2rem; }

.t-TreeNav--styleA .a-TreeView-badge, .t-TreeNav--styleB .a-TreeView-badge { font-weight: 500 !important; border-radius: 10px; min-width: 20px; }

/* Style A ========================================================================== */
.js-navCollapsed .t-TreeNav--styleA .a-TreeView-node--topLevel > .a-TreeView-content .fa { width: 2.8rem; margin-left: 1rem; margin-right: 1rem; }

/* Style B ========================================================================== */
.t-TreeNav--styleB > ul { transition: margin .15s ease; margin: .8rem .4rem; }

.t-TreeNav--styleB .a-TreeView-node, .t-TreeNav--styleB .a-TreeView-node--topLevel > ul > .a-TreeView-node { margin: .4rem 0; }

.t-TreeNav--styleB .a-TreeView-node--topLevel { margin: .4rem; }

.t-TreeNav--styleB .a-TreeView-node--topLevel .a-TreeView-row { border-radius: .4rem; }

.js-navCollapsed .t-TreeNav--styleB > ul { margin: 0; }

.js-navCollapsed .t-TreeNav--styleB .a-TreeView-node--topLevel > .a-TreeView-row { height: 4rem; }

.js-navCollapsed .t-TreeNav--styleB .a-TreeView-node--topLevel > .a-TreeView-content .fa { width: 2.8rem; margin: .6rem; margin-left: .6rem; margin-right: .6rem; }

/* Hover Labels when Nav Collapsed ========================================================================== */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { .a-TreeView { min-height: 90%; } }
