div.iconlist a {
	display:inline-block!important;
}
.htmldbInvisDiv {
	filter:alpha(opacity=0);
}
.htmldbDisablePage {
	filter:alpha(opacity=50);
}
button {
	margin: 0 4px 0 4px;
	width:auto;
	overflow:visible;
	margin-top:0px;
}
button span {
	margin-top:0px;
}