* {
	font-size: 12px;
}

body {
	background: #fff;
	min-width: 980px;
	max-width: 1920px;
	margin: 0 0 24px 0;
	padding: 0;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

body.apex-iframe {
	min-width: 800px;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
	font-size: 14px;
}

h3 {
	margin: 0;
}

th {
	padding: 0;
}

td {
	padding: 0;
}

img {
	border: 0;
	margin: 0;
}

hr {
	color: #bbb;
	height: 1px;
}

br {
	clear: both;
}

p {
	font-size: 12px;
}

a,a:link,a:visited {
	text-decoration: underline;
	color: #666666;
}

a:hover {
	color: #ff6600;
}

.qbTabHolder {
	padding: 0 15px;
}

div.htmldbBodyMargin {
	margin: 4px 10px 10px 10px;
}

a.htmldbNavLink {
	font-size: 11px;
	color: #000;
	float: left;
	display: block;
	margin: 2px 0 2px 8px;
	text-decoration: none;
}

a.htmldbNavLink:visited {
	font-size: 11px;
	color: #000;
	float: left;
	display: block;
	margin: 2px 0 2px 8px;
	text-decoration: none;
}

a.htmldbNavLink:hover {
	text-decoration: underline;
}

a.htmldbNavLink span {
	font-size: 11px;
	color: #000;
}

img.htmldbNavLink {
	display: block;
}

#page-header {
	height: 96px;
	overflow: hidden;
	margin: 10px 10px 0 10px;
}

#page-header-printer {
	height: 46px;
	overflow: hidden;
	margin: 10px 10px 0 10px;
}

#websheet-logo {
	scroll 0 0;
	display: block;
	top: 4px;
	left: 10px;
	overflow: hidden;
	position: absolute;
	text-decoration: none;
	text-shadow: #cccccc 2px 2px 2px;
}

#websheet-logo span {
	background: url(../apex/builder/gradient-glossy.png) repeat-x;
	position: absolute;
	display: block;
	width: 100%;
	height: 24px;
}

#apex-logo {
	scroll 0 0;
	display: block;
	top: 2px;
	left: 8px;
	overflow: hidden;
	position: absolute;
}

.lang {
	display: block;
	color: #000;
	margin: 4px 50px 0 0;
	cursor: help;
	font-size: 11px;
	overflow: hidden;
	top: 4px;
	right: 4px;
	overflow: hidden;
	position: absolute;
}

.lang a {
	color: #000;
	padding: 0 0 0 4px;
}

.progress-indicator {
	width: 174px;
	float
	padding: 0 0 0 10px;
	margin-left: auto;
	margin-right: auto;
}

.nav-bar {
	display: block;
	top: 8px;
	right: 15px;
	overflow: hidden;
	position: absolute;
}

.apex-top-bar-end {
	margin: 24px 0 0 0;
	background: url(../apex/builder/apex-top-bar-end.gif) no-repeat scroll right top;
	z-index: 100000;
	width: 100%;
}

.apex-top-bar {
	height: 39px;
	background: url(../apex/builder/apex-top-bar.gif) no-repeat scroll left top;
	width: 99%;
}

.top-bar {
	float: left;
}

#tabs {
	margin: 0;
}

#tabs .current, #tabs .non-current {
	float: left;
	padding: 0px;
	height: 37px;
	margin: 1px 0 1px 0;
	border-right: 1px solid #566687;
	border-left: 1px solid #adb9cd;
}

#tabs .current-first, #tabs .non-current-first {
	float: left;
	padding: 0px;
	height: 37px;
	margin: 1px 0 1px 0;
	border-right: 1px solid #566687;
	border-left: 0px solid #adb9cd;
}

#tabs .current {
	background: transparent url(../apex/builder/bg-top-tab-current.gif) repeat scroll 0 0;
}

#tabs .current-first {
	background: transparent url(../apex/builder/bg-top-tab-first-current.gif) no-repeat scroll left top;
}

#tabs .dhtmlMenu {
	padding: 10px 20px 10px 0;
	cursor: pointer;
}

#tabs .dhtmlMenuOn {
	padding: 10px 20px 10px 0;
	cursor: pointer;
}

#tabs .current a, #tabs .current-first a {
	color: #ffffff;
	font-weight: standard;
	font-size: 14px;
	text-decoration: none;
	padding: 10px 2px 0 20px;
	height: 27px;
}

#tabs .non-current a, #tabs .non-current-first a {
	color: #ffffff;
	font-weight: standard;
	font-size: 14px;
	text-decoration: none;
	padding: 10px 2px 0 20px;
	height: 27px;
}

#tabs a.nosub {
	padding: 10px 20px 0 20px;
}

#tabs .non-current:hover {
	background: transparent url(../apex/builder/bg-top-tab-hover.gif) repeat scroll 0 0;
}

#tabs .non-current:hover a {
	color: #ffffff;
}

#tabs .non-current-first:hover {
	background: transparent url(../apex/builder/bg-top-tab-first-hover.gif) no-repeat scroll left top;
}

#subtabs {
	float: left;
	margin: 0 20px 0 0;
}

#subtabs .current, #subtabs .non-current {
	float: left;
	padding: 0 1px 0 0;
}

#subtabs .current .tbl {
	float: left;
	height: 17px;
	padding: 3px 10px 0 14px;
	background: url(../apex/builder/bg-subtab-l-active.gif) no-repeat 0 0;
}

#subtabs .current a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#subtabs .current a:hover {
	text-decoration: none;
}

#subtabs .non-current .tbl {
	float: left;
	height: 17px;
	padding: 3px 10px 0 14px;
	background: url(../apex/builder/bg-subtab-l.gif) no-repeat 0 0;
}

#subtabs .non-current a {
	color: #666666;
	font-weight: standard;
	text-decoration: none;
}

#subtabs .non-current a:hover {
	text-decoration: none;
}

#subtabs .current .tbr {
	float: left;
	height: 20px;
	padding: 0 0 0 3px;
	background: url(../apex/builder/bg-subtab-r-active.gif) no-repeat 100% 0;
}

#subtabs .non-current .tbr {
	float: left;
	height: 20px;
	padding: 0 0 0 3px;
	background: url(../apex/builder/bg-subtab-r.gif) no-repeat 100% 0;
}

#apex-breadcrumb-region-end {
	background: url(../apex/builder/bg-breadcrumb-bar-end.gif) no-repeat scroll right top;
	margin: 0 6px 0 6px;
	z-index: 100000;
}

#apex-breadcrumb-region {
	border-bottom: 1px #ffffff solid;
	font-size: 12px;
	width: 99%;
	height: 30px;
	background: url(../apex/builder/bg-breadcrumb-bar.gif) no-repeat scroll left top;
}

#apex-breadcrumbs {
	clear: both;
	float: left;
	vertical-align: middle;
	padding: 0 0 1px 3px;
	font-weight: bold;
	color: #7b9cbd;
}

a.apex-breadcrumb:link,a.apex-breadcrumb:visited {
	padding: 6px 4px 6px 4px;
	font-size: 11px;
	vertical-align: middle;
	line-height: 16px;
	white-space: nowrap;
	float: left;
	font-weight: normal;
	color: #606060;
	text-decoration: none;
}

a.apex-breadcrumb:hover {
	padding: 6px;
	font-size: 11px;
	white-space: nowrap;
	color: #FF6600;
	line-height: 16px;
	vertical-align: middle;
}

span.apex-breadcrumb {
	padding: 6px;
	font-size: 11px;
	white-space: nowrap;
	color: #3F5E7D;
	float: left;
	line-height: 16px;
	vertical-align: middle;
}

span.apex-breadcrumb-sep ,span.breadcrumb-sep {
	padding: 3px 0px;
	white-space: nowrap;
	float: left;
	line-height: 16px;
	vertical-align: middle;
}

#apex-controls {
	height: 28px;
	float: right;
	margin: 2px 0 0 1px;
}

#apex-ws-controls {
	height: 28px;
	float: right;
	margin: 0px 0 2px 1px;
}

#apex-search {
	width: 165px;
	margin: 9px 0 0 0;
	float: right;
	position: relative;
}

#apex-control-icons {
	margin: 1px 10px 1px 10px;
	padding: 0 0 0 12px;
	float: right;
	position: relative;
	background: transparent url(../apex/builder/apex-search-sep.gif) no-repeat scroll 0 0;
}

#apex-ws-icons {
	margin: 3px 10px 1px 10px;
	padding: 0 0 0 12px;
	float: right;
	position: relative;
	background: transparent url(../apex/builder/apex-search-sep.gif) no-repeat scroll 0 0;
}

#apex-sqlws-icons {
	margin: 1px 6px 0 0;
	float: right;
	position: relative;
}

#apex-search .left {
	display: block;
	height: 19px;
	left: 6px;
	position: absolute;
	top: 0;
	width: 10px;
	background: transparent url(../apex/builder/apex-search-left.gif) no-repeat scroll 0 0;
}

#apex-search input {
	background: transparent url(../apex/builder/apex-search-center.gif) repeat-x scroll center top;
	border: 0 none;
	font-size: 12px;
	color: #404040;
	margin: 0;
	padding: 2px;
	position: absolute;
	right: 18px;
	top: 0;
	width: 127px;
	outline: none;
}

#apex-search .right {
	display: block;
	height: 19px;
	right: 0;
	position: absolute;
	top: 0;
	width: 19px;
	cursor: pointer;
	background: transparent url(../apex/builder/apex-search-right.gif) no-repeat scroll 0 0;
}

#apex-help {
	float: right;
	color: #666666;
	margin: 3px 0 0 0;
	padding: 3px 5px 8px 20px;
	cursor: help;
	font-size: 12px;
	background: transparent url(../apex/builder/apex-search-sep.gif) no-repeat scroll 0 0;
}

#apex-help a:link {
	color: #666666;
	text-decoration: none;
}

#apex-help a:hover {
	color: #ff6600;
	text-decoration: underline;
}

#apex-page-body {
	width: 100%;
}

#htmldbLogo2 {
	float: left;
	padding: 2px;
}

#htmldbNavBar2 {
	float: right;
	padding: 2px;
}

div.htmldbSep {
	height: 5px;
	font-size: 5px;
	clear: both;
}

#apex-footer-info {
	height: 1%;
	display: block;
	clear: both;
	overflow: hidden;
	margin: 10px 10px 0px 10px;
	padding: 0 8px 0 8px;
}

#apex-footer-info div {
	font-size: 11px;
}

#apex-footer {
	height: 1%;
	display: block;
	clear: both;
	overflow: hidden;
	margin: 4px 10px 10px 10px;
	background: transparent url(../apex/builder/bg-footer.gif) repeat-x scroll 0 0;
	border: 1px #aaaaaa solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 1px 1px 1px #aaaaaa;
	-webkit-box-shadow: 1px 1px 1px #aaaaaa;
	box-shadow: 1px 1px 1px #aaaaaa;
}

#apex-footer .content {
	min-height: 20px;
	padding: 4px 8px 0px 8px;
	font-size: 12px;
}

#apex-footer div {
	font-size: 11px;
	padding: 0 4px 0 4px;
}

.logout {
	text-decoration: none;
	margin: 2px 0;
}

.debug {
	display: none;
	padding: 2px;
	border: 1px solid #000;
	background: #ddd;
	font-size: 9px;
}

#htmldbNotify {
	padding: 10px 0 0 0;
}

#apex-main {
	height: 1%;
	overflow: hidden;
	padding: 0 0 0 210px;
}

#apex-left-sidebar {
	display: inline;
	float: left;
	margin: 0 0 0 -210px;
	width: 200px;
}

#ContentBody {
	float: right;
	width: 100%;
	min-height: 400px;
}

#apex-page-body {
	
}

.apex-page-content {
	vertical-align: top;
}

.apex-page-sidebar {
	vertical-align: top;
}

#apex-two-col {
	padding: 0 200px 0 0;
	overflow: hidden;
}

#apex-content {
	float: left;
	width: 100%;
}

#apex-splash {
	float: left;
	width: 100%;
}

#BB {
	float: left;
	width: 100%;
}

#apex-sidebar {
	display: inline;
	float: right;
	margin: 0 -200px 0 0;
	overflow: hidden;
	width: 200px;
}

#apexir_WORKSHEET_REGION {
	display: inline;
	float: left;
	padding: 2px 12px 2px 2px;
}

#apexir_SEARCH {
	width: 180px;
}

.apexir_WORKSHEET_DATA th {
	background: #849abb;
	font-weight: bold;
	color: #ffffff;
	border-top: 1px #aaa solid;
	border-bottom: 1px #aaa solid;
	white-space: nowrap;
	vertical-align: center;
	letter-spacing: 1;
	font-size: 12px;
	background-image: url(../ws/report_bg_blue.gif);
	background-repeat: repeat-x;
}

button.apexir-button {
	background: url(../apex/builder/bt-gray-gray-bg-r.gif) right no-repeat;
}

button.apexir-button span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-gray-gray-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

button.apexir-go-button {
	background: url(../apex/builder/bt-gray-gray-bg-r.gif) right no-repeat;
}

button.apexir-go-button span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-gray-gray-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

#apexir_TOOLBAR button.dhtmlMenu {
	background: url(../apex/builder/bt-pulldown-gray-bg-r.gif) right no-repeat;
	padding: 0 25px 0 0;
}

#apexir_TOOLBAR button.dhtmlMenu span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-gray-gray-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

#apexir_TOOLBAR button.dhtmlMenuOn {
	background: url(../apex/builder/bt-pulldown-gray-bg-r.gif) right no-repeat;
	padding: 0 25px 0 0;
}

#apexir_TOOLBAR button.dhtmlMenuOn span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-gray-gray-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

table.pageHeader {
	background-image: url(../htmldb/header_bg_blue.jpg);
	background-repeat: repeat-x;
}

table.htmldbPageEdit {
	border: 1px #aaa solid;
	margin: 0 0 5px 0;
	width: 100%;
	height: 50px;
}

td.htmldbPageEditHeader {
	border-bottom: 1px #aaa solid;
	background: #cfdccf;
	color: #666;
	font-weight: bold;
	font-size: 12px;
	padding: 2px;
	text-align: center
}

td.htmldbPageEditHeader2 {
	vertical-align: top;
	white-space: nowrap;
	text-align: right;
}

td.htmldbPageEditBody {
	background: #fff;
	padding: 4px;
	font-size: 12px;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

div.apex-page-anchors {
	float: left;
	clear: both;
	margin: 0 0 5px 0;
}

.htmldbTDLeft {
	width: 100%;
	vertical-align: top;
	white-space: nowrap;
	text-align: left;
}

.htmldbTDRight {
	vertical-align: top;
	white-space: nowrap;
	text-align: right;
}

.htmldbTDRight a {
	text-decoration: none;
}

.debug {
	display: none;
	padding: 2px;
	border: 1px solid #000;
	background: #ddd;
	font-size: 9px;
}

.htmldbRunEditRegion {
	padding: 2px 0 0 5px;
	border-bottom: 1px #000 solid;
	background-repeat: repeat-x;
	background: #e6e7e7;
}

#htmldbRunEdit {
	white-space: nowrap;
	padding: 0 0 2px 5px;
}

.htmldbRunEdit {
	vertical-align: middle;
	white-space: nowrap;
	font-size: 10px;
}

.runediticons {
	margin: 0 1px 0 1px;
}

.htmldbError {
	color: #f00;
	font-size: 10px;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

a.noVisit,a.noVisit:link,a.noVisit:visited {
	text-decoration: none;
	color: #811919;
}

a.noVisit:hover {
	text-decoration: underline;
	color: #f00;
}

a.htmldbHelp:visited,a.htmldbHelp:link {
	margin: 0 0 0 10px;
	white-space: nowrap;
	color: #000;
	text-decoration: none;
	font-size: 12px;
}

a.htmldbHelp:hover {
	text-decoration: underline;
}

table.std {
	width: 100%;
}

table.std th {
	padding: 0;
}

table.std td {
	padding: 0;
}

td.htmldbLayout {
	padding: 0 10px;
}

.htmldbBreadcrumbRegion {
	border-bottom: 1px #ffffff solid;
	font-size: 12px;
	width: 100%;
	height: 32px;
	line-height: 32px;
	background-image: url(../apex/apex_top_bg.png);
	background-repeat: repeat-x;
}

.htmldbBreadcrumbs {
	clear: both;
	font-size: 12px;
	vertical-align: middle;
	padding: 0 0 1px 3px;
	font-weight: bold;
	color: #7b9cbd;
}

a.htmldbBreadcrumb:link,a.htmldbBreadcrumb:visited {
	padding: 6px 4px 4px 4px;
	vertical-align: middle;
	line-height: 16px;
	white-space: nowrap;
	float: left;
	font-size: 12px;
	font-weight: normal;
	color: #606060;
	text-decoration: none;
}

a.htmldbBreadcrumb:hover {
	padding: 6px 4px 4px 4px;
	white-space: nowrap;
	color: #FF6600;
	font-size: 12px;
	line-height: 16px;
	vertical-align: middle;
}

span.htmldbBreadcrumb {
	padding: 6px 4px 4px 4px;
	white-space: nowrap;
	color: #666666;
	float: left;
	font-size: 12px;
	line-height: 16px;
	vertical-align: middle;
}

span.htmldbBreadcrumbSep ,span.brdCrmSep {
	padding: 5px 0px;
	white-space: nowrap;
	float: left;
	line-height: 16px;
	vertical-align: middle;
}

#htmldbCustomize {
	vertical-align: bottom;
	float: right;
	margin-right: 5px;
}

#htmldbUser {
	margin: 0 0 0 10px;
	float: left;
	font-size: 10px;
}

#htmldbWorkspace {
	margin: 0 0 0 10px;
	font-size: 10px;
}

#htmldbPageTabs {
	float: right
}

#htmldbBreadcrumbTop {
	clear: both;
	height: 8px;
	font-size: 1px;
	background: #fff;
	border-bottom: 1px solid #999;
	background-image: url(../htmldb/builder/topnav2.gif);
	background-repeat: repeat-x;
}

#htmldbRunEditZag {
	border-right: 1px #000 solid;
	font-size: 4px;
}

.htmldbColumnSep {
	width: 10px;
}

table.htmldbTabbedRegion {
	margin-left: 15px;
}

table.htmldbTabbedRegion td {
	white-space: nowrap;
	font-size: 12px;
}

table.htmldbTabbedRegion td.OffL {
	width: 19px;
	text-align: left;
	vertical-align: top;
	background: #B8B8B8;
}

table.htmldbTabbedRegion td.OffM {
	background: #B8B8B8;
	background-image: url(../htmldb/misc/tabOffM_Flat.png);
	background-repeat: repeat-x;
}

table.htmldbTabbedRegion td.OffR {
	width: 12px;
	text-align: right;
	vertical-align: top;
	background: #B8B8B8;
}

table.htmldbTabbedRegion a.OffM {
	color: #000;
	font-size: 12px;
	text-decoration: none;
}

table.htmldbTabbedRegion a.OffM:link {
	color: #000;
	font-size: 12px;
	text-decoration: none;
}

table.htmldbTabbedRegion a.OffM:visited {
	color: #000;
	font-size: 12px;
	text-decoration: none;
}

table.htmldbTabbedRegion a.OffM:hover {
	color: #811919;
	font-size: 12px;
	text-decoration: none;
}

table.htmldbTabbedRegion a.On {
	text-decoration: none;
}

table.htmldbTabbedRegion td.OnL {
	width: 15px;
	text-align: left;
	vertical-align: top;
	background: #6C936C;
	white-space: nowrap;
	text-decoration: none;
}

table.htmldbTabbedRegion td.OnM {
	background: #6C936C;
	background-image: url(../htmldb/misc/tabOnM_Flat.png);
	background-repeat: repeat-x;
	font-weight: bold;
	text-decoration: none;
}

table.htmldbTabbedRegion td.OnR {
	width: 12px;
	text-align: right;
	vertical-align: top;
	background: #6C936C;
	text-decoration: none;
}

table.htmldbTabbedRegion span.On {
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}

.htmldbWarning {
	font-size: 14px;
	font-weight: bold;
	color: #f00;
}

#htmldbMessageHolder {
	text-align: center;
}

.htmldbSuccessMessage {
	margin: 10px auto;
	font-size: 11px;
	color: #333;
	font-weight: bold;
	background: #e0eafb;
	width: 560px;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 20px;
	border: 1px #aaaaaa solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 1px 1px 1px #aaaaaa;
	-webkit-box-shadow: 1px 1px 1px #aaaaaa;
	box-shadow: 1px 1px 1px #aaaaaa;
}

.htmldbNotification {
	margin: 10px auto;
	padding: 5px;
	font-size: 11px;
	color: #333;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border: 1px #ffd700 solid;
	background: #ffffcc;
	width: 560px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 1px 1px 1px #aaaaaa;
	-webkit-box-shadow: 1px 1px 1px #aaaaaa;
	box-shadow: 1px 1px 1px #aaaaaa;
}

#col-rendering-body {
	height: 400px;
}

#col-processing-body {
	height: 400px;
}

#col-shared-body {
	height: 400px;
}

.tree-frame {
	overflow: auto;
	height: 400px;
	background-color: #f8f8f8;
	border: 1px #aaaaaa solid;
}

.apex-page-edit h3 {
	margin: 0;
}

.htmldbCalendarHolder {
	width: 100%;
	margin: 0 0 15px 0;
}

.htmldbCalendarHolder td {
	padding: 3px;
}

.htmldbCalendarHolder .htmldbMonthTitle {
	text-align: center;
	padding: 5px;
	color: #666;
	font-weight: bold;
	font-size: 16px;
}

.htmldbCalendar {
	width: 100%;
	border: 1px solid #999;
	background: #ddd;
}

.htmldbCalendar .htmldbDayOfWeek {
	padding: 3px;
	font-size: 12px;
}

.htmldbCalendar td {
	height: 75px;
	width: 14%;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	vertical-align: top;
	background: #fff;
	padding: 2px;
}

.htmldbCalendar .htmldbDayTitle {
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

.htmldbCalendar .htmldbDay {
	vertical-align: top;
}

.htmldbCalendar .htmldbNonDayTitle {
	color: #eee;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

.htmldbCalendar .htmldbNonDay {
	background: #ccc;
}

.htmldbCalendar .htmldbWeekendDayTitle {
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

.htmldbCalendar .htmldbToday {
	background: #cfdccf;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.htmldbCalendar .htmldbToday .htmldbDayTitle {
	color: #fff;
	text-align: right;
	font-size: 12px;
	font-weight: bold;
}

/* used in 4150*/

.htmldbthemeshots {
	margin: 0 10px;
	padding: 4px;
	border: 1px solid #AAAAAA;
	-moz-box-shadow: 1px 1px 4px #aaaaaa;
	-webkit-box-shadow: 1px 1px 4px #aaaaaa;
	box-shadow: 1px 1px 4px #aaaaaa;
}

#dhtmltooltip {
	position: absolute;
	border: 1px solid #000;
	padding: 2px;
	background: lightyellow;
	visibility: hidden;
	z-index: 100;
}

#dhtmlpointer {
	position: absolute;
	z-index: 101;
	visibility: hidden;
}

table.htmldbVerticalReport {
	border: 1px #aaa solid;
	padding: 0;
	margin: 5px 0 0 0;
}

table.htmldbVerticalReport th {
	background: #e7efe7;
	font-weight: bold;
	color: #3F8640;
	border-top: 1px #fff solid;
	border-bottom: 1px #aaa solid;
	font-size: 8pt;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 3px 4px 0 0;
}

table.htmldbVerticalReport td {
	background: #f4f4f4;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
	font-size: 8pt;
	padding: 3px 4px 0 0;
}

/*SQL Workshop */

#SqlAndResults,#obTable {
	border: solid 1px #aaa;
}

#SqlAndResults {
	border: none;
}

#obLeftColumn {
	width: 200px;
}

#ob_ObjectsSlider {
	width: 200px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
	vertical-align: text-top;
	border-right: solid 1px #aaa;
	border-top: solid 1px #aaa;
}

#ob_ObjectsDetail {
	font-size: 13px;
	font-weight: bold;
	padding: 1px 0;
	text-align: center;
}

#qbLeftHeader,#obLeftHeader {
	background: #eee;
	padding: 5px;
	overflow: hidden;
}

#scRightHeader,#qbRightHeader,#obRightHeader {
	height: 28px;
	padding: 2px;
	border-bottom: solid 1px #ccc;
	background: #eee;
}

#scRightHeader {
	border: solid 1px #ccc;
	margin: 5px auto 0 auto;
}

#qbRightHeader {
	text-align: right;
	height: auto;
	vertical-align: middle;
}

#qbRightHeader table {
	vertical-align: middle;
	margin: 5px 3px;
}

.o_I,.o_V,.ob_Object_V, .ob_Object_I {
	background: #f4f4f4;
	border-top: 1px solid #999;
	cursor: pointer;
	display: block;
	font-size: 11px;
	overflow: hidden;
	padding: 2px 2px 2px 6px;
	white-space: nowrap;
}

.o_I,.ob_Object_I {
	background-image: url(../ob/i/invalid_object_highlight.gif);
	background-repeat: repeat-y;
}

.o_C_V , .o_C_I,.ob_Object_C_V , .ob_Object_C_I {
	border-top: 1px solid #999;
	background: #e6eff7;
	color: #000000;
	cursor: pointer;
	display: block;
	font-size: 11px;
	font-weight: bold;
	overflow: hidden;
	padding: 2px 2px 2px 6px;
	white-space: nowrap;
}

.o_C_I,.ob_Object_C_I {
	background-image: url(../ob/i/invalid_object_highlight.gif);
	background-repeat: repeat-y;
}

.obSlideBar {
	border-right: #a7a7a7 1px solid;
	background: #eee;
	width: 2px;
}

.dbaseGroup {
	cursor: pointer;
	font-weight: bold;
	margin: 0 3px;
}

#dbaseGroupHolder {
	background: #a5bda5;
	background-repeat: repeat-x;
	height: 30px;
	overflow: hidden;
}

td.obTypeList {
	white-space: nowrap;
	padding: 0 5px;
	font-size: 8px;
	text-align: center;
}

.dbaseGroupHolder {
	background: #a5bda5;
	background-repeat: repeat-x;
	height: 30px;
	overflow: hidden;
}

#dbaseObjectsHolder {
	white-space: nowrap;
	width: 200px;
}

#dbaseObjectsTitle {
	background: #a5bda5;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 0;
	text-align: center;
	width: 200px;
}

#dbaseObjectsSlider {
	width: 200px;
	border-left: solid 1px #aaa;
	border-top: solid 1px #aaa;
	height: s;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical;
	width: 200px;
}

.dbaseFullHolder {
	background: #777;
	border: solid 1px #ccc;
}

.dbaseFrameHolder {
	background: #fff;
}

.dbaseFrameHolder iframe {
	
}

.dbaseHeader {
	background: #cfdccf;
	cursor: pointer;
	font-weight: bold;
	padding: 2px 8px;
	white-space: nowrap;
}

.dbaseHeader a {
	color: #000;
}

#dbaseLoading {
	font-size: 24px;
	font-weight: bold;
	margin: 50px 0 0 0;
	text-align: center;
}

#qbTable {
	margin: 5px;
	border: solid 1px #aaa;
}

.qbFrameHolder {
	background: #fff;
}

.qbDataTableHolder {
	float: left;
}

.qbDataTable {
	border: 1px solid #a8a8a8;
}

.qbDataTable th {
	white-space: nowrap;
	background: #F4F4F4 url(../apex/reg_top_bg.png) repeat-x scroll 0 0;
	font-size: 11px;
	font-weight: bold;
	padding: 4px 0 4px 4px;
	vertical-align: middle;
	color: #ffffff;
	cursor: move;
}

.qbth1 {
	text-align: left;
}

.qbDataTable th img {
	cursor: pointer;
}

.qbTableBody td {
	background: #efefef;
	font-size: 10px;
	padding: 2px;
	vertical-align: middle;
}

.qbTableBody table .qbtd1 {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #a8a8a8;
	width: 16px;
}

.qbTableBody table .qbtd2 {
	border-bottom: 1px solid #a7a7a7;
	border-top: 1px solid #fff;
	border-right: 1px solid #ccc;
	cursor: pointer;
}

.qbTableBody table .qbtd3 {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #a8a8a8;
	border-right: 1px solid #a8a8a8;
	width: 16px;
}

.qbTableBody table .qbtd4 {
	border-top: 1px solid #fff;
	padding: 0;
	border-bottom: 1px solid #a8a8a8;
	width: 25px;
}

.qbTableBody table .qbtd4 div {
	width: 25px;
	height: 25px;
}

.qbTableBody table .qbth2 {
	padding: 0 5px;
}

.qbTableBody table {
	width: 100%
}

.qbTableMenu div {
	border: 1px solid #aaa;
	background: #c3d3ec;
	white-space: nowrap;
}

.qbTableMenu div td {
	white-space: nowrap;
}

/*SQL Workshop */

/*used for model*/

span.boxspan {
	background: #cfdccf;
	border: 2px #aaa solid;
	float: left;
	font-size: 10px;
	height: 25px;
	margin: 5px;
	overflow: hidden;
	padding: 2px;
	width: 190px;
}

div.updiv {
	border-bottom: 1px #000 solid;
	border-left: 1px #000 solid;
	border-right: 1px #000 solid;
	height: 10px;
	width: 100%;
}

div.downdiv {
	border-left: 1px #000 solid;
	border-right: 1px #000 solid;
	border-top: 1px #000 solid;
	height: 10px;
	width: 100%;
}

span.ctrbarspan {
	border-right: 1px #000 solid;
	height: 20px;
	width: 1px;
}

table.main {
	width: 100%;
}

table.child {
	text-align: center;
}

table.main td {
	text-align: center;
	width: 100%;
}

#dbaseFloater {
	border: 1px solid #000;
	display: none;
	font-size: 12px;
	position: absolute;
	white-space: nowrap;
}

#dbaseFloaterTitle {
	background: #cfcfcf;
	background-image: url(../htmldb/builder/grad_back.gif);
	background-repeat: repeat;
	border-bottom: 1px solid #000;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 2px;
	white-space: nowrap;
}

#dbaseFloaterBody {
	background: #cfcfcf;
	height: 250px;
	overflow: -moz-scrollbars-vertical;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 200px;
}

table.dbBrowseDown1 {
	margin: 0 0 20px 0;
}

table.dbBrowseDown1 td {
	border: 1px #A8A8A8 solid;
	font-size: 12px;
	padding: 2px 8px 2px 8px;
}

table.dbBrowseDown1 td.label {
	background: #cfdccf;
	font-weight: bold;
}

.dbaseClickableIcon {
	cursor: pointer;
	margin: 0 4px;
}

#P1002_FIND ,#OB_FIND {
	width: 140px;
	background: #fff;
	background-image: url(../htmldb/builder/input.gif);
	background-repeat: no-repeat;
	border: 1px solid #aaaaaa;
	height: 20px;
	padding: 2px 0 0 23px;
}

#obObjectSelect {
	margin: 0 0 0 4px;
	height: 20px;
	width: 165px;
}

.htmldbPseudoButton {
	cursor: pointer;
}

.dbaseFloat {
	
}

.dbaseFloat input {
	background: #cfcfcf;
	border: 1px solid #999;
	clear: both;
	cursor: pointer;
}

.dbaseFloat a.dbaseLink {
	background: #cfcfcf;
	border: 1px solid #999;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 2px;
	text-decoration: none;
	width: 150px;
}

.dbaseFloat a.dbaseLink:hover {
	background: #979797;
	color: #000;
}

#dbaseSubObjects div {
	padding: 1px 0 5px 5px;
}

a.appListLinks {
	color: #808080;
	display: block;
	font-weight: bold;
	height: 48px;
	line-height: 48px;
	text-decoration: none;
	vertical-align: bottom;
	white-space: nowrap;
}

.appMenu .appHolder {
	background: #D8D8D8;
	background-image: url(../htmldb/builder/menu_out_one.gif);
	background-position: top;
	background-repeat: repeat-x;
	border: #949494 1px solid;
	border-top: none;
}

#defaultLinkMenu {
	display: inline;
}

.htmldbTopSchema {
	font-size: 11px;
	font-weight: bold;
}

select.htmldbTopSchema {
	border: 1px solid rgb(128, 128, 128);
	font-size: 9px;
	font-weight: bold;
}

.htmldbCSV a {
	font-size: 11px;
	letter-spacing: 2px;
	color: #7f7f7f;
}

div.dhtmlMenuLG {
	list-style-type: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	white-space: nowrap;
}

.dhtmlMenuLG * {
	display: block;
	float: left;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}

div.dhtmlMenuLG div.dhtmlMenuItem {
	text-align: center;
	float: left;
	margin: 0 8px 0 0;
}

div.dhtmlMenuLG a.dhtmlBottom {
	text-decoration: none;
	display: block;
	font-size: 12px;
	margin: 0 5px;
	font-weight: bold;
}

div.dhtmlMenuLGButton {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 4px;
	vertical-align: middle;
	white-space: nowrap;
}

.dhtmlMenuLGButton * {
	display: block;
	float: left;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}

div.dhtmlMenuLGButton div.dhtmlMenuItem {
	text-align: center;
	float: left;
	margin: 0 8px 0 0;
}

div.dhtmlMenuLGButton a.dhtmlBottom {
	text-decoration: none;
	display: block;
	font-size: 12px;
	margin: 0 5px;
	font-weight: bold;
}

/* @group My Group */

/* @end */

.dhtmlSubMenu {
	background: none;
	background-image: url(../apex/builder/1px-white-trans.png);
	background-repeat: repeat;
	font-size: 11px;
	width: 200px;
	border-left: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	-moz-box-shadow: 2px 2px 10px #888888;
	-webkit-box-shadow: 2px 2px 10px #888888;
	box-shadow: 2px 2px 10px #888888;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dhtmlSubMenu li {
	margin: 0;
	padding: 0;
}

.dhtmlMenuSep {
	text-align: center;
}

img.dhtmlMenuSep {
	display: block;
	margin: auto;
	width: 80%;
	background: none repeat scroll 0 0;
	border-top: 1px solid #aaaaaa;
	height: 1px;
}

.dhtmlSubMenu img.dhtmlSep {
	width: 180px;
	height: 1px;
}

.dhtmlSubMenu .htmldbMIMG,.dhtmlSubMenuS .htmldbMIMG {
	vertical-align: middle;
	float: right;
	width: 5px;
	height: 9px;
	/* Aligning arrow to middle */
	padding-top: 6px;
}

.dhtmlSubMenu .dhtmlSubMenuP {
	text-align: center;
	color: #404040;
	padding: 3px 8px;
	border-bottom: 0px solid;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
	margin: 1px;
}

.dhtmlSubMenu a.dhtmlSubMenuS,.dhtmlSubMenu a.dhtmlSubMenuN {
	border: 1px solid transparent;
	color: #404040;
	display: block;
	font-weight: normal;
	padding: 3px 8px;
	text-decoration: none;
	white-space: nowrap;
	height: 1%;
	overflow: hidden;
}

.dhtmlSubMenu a.dhtmlSubMenuS:hover,
.dhtmlSubMenu a.dhtmlSubMenuN:hover,
.dhtmlSubMenu a.dhtmlSubMenuS:focus, 
.dhtmlSubMenu a.dhtmlSubMenuN:focus, 
.dhtmlSubMenu a.dhtmlSubMenuS:active, 
.dhtmlSubMenu a.dhtmlSubMenuN:active {
	background: #8fb1e4;
	border: 1px solid transparent;
	color: #ffffff;
}

table.xpbutton {
	position: relative;
	color: #333;
	display: inline;
	margin: 0 5px;
}

table.xpbutton td.L {
	position: relative;
	width: 4px;
	height: 24px;
}

table.xpbutton td.R {
	position: relative;
	width: 4px;
	height: 24px;
}

table.xpbutton tbody td.C {
	background-image: url(../htmldb/buttons/button_xp_center.gif);
	white-space: nowrap;
}

table.xpbutton tbody td.C a:visited,table.xpbutton tbody td.C a {
	font-weight: bold;
	font-size: 12px;
	color: #000;
	padding: 0 3px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	white-space: nowrap;
	text-decoration: none;
	display: block;
}

table.xpbutton tbody.FFFFFF td.L {
	width: 4px;
	background-image: url(../htmldb/buttons/button_xp_left.gif);
	background-repeat: no-repeat;
}

table.xpbutton tbody.FFFFFF td.R {
	width: 4px;
	background-image: url(../htmldb/buttons/button_xp_right.gif);
	background-repeat: no-repeat;
}

table.xpbutton tbody.FFFFFF td.C {
	background-image: url(../htmldb/buttons/button_xp_center.gif);
}

table.xpbutton tbody.EEEEEE td.L {
	width: 24px;
	background-image: url(../htmldb/buttons/button_xp_left.gif);
	background-repeat: no-repeat;
}

table.xpbutton tbody.EEEEEE td.R {
	width: 4px;
	background-image: url(../htmldb/buttons/button_xp_right.gif);
	background-repeat: no-repeat;
}

table.xpbutton tbody.EEEEEE td.C {
	background-image: url(../htmldb/buttons/button_xp_center.gif);
}

table.htmldbBSW {
	border: 0;
	display: inline;
	margin: 0 0 0 5px;
	white-space: nowrap;
	width: auto;
}

table.htmldbBSW td.L {
	width: 6px;
	height: 24px;
	background-image: url(../small_button_left2.gif);
}

table.htmldbBSW td.C {
	height: 24px;
	background-image: url(../small_button_middle2.gif);
	background-repeat: repeat-x;
	white-space: nowrap;
}

table.htmldbBSW td.R {
	width: 6px;
	height: 24px;
	background-image: url(../small_button_right2.gif);
}

table.htmldbBSW td.C a:visited,table.htmldbBSW td.C a {
	text-decoration: none;
	font-size: 11px;
	color: #000;
}

table.htmldbBracketTop {
	width: 100%;
}

td.htmldbBracketTop2 {
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	color: #666;
	font-family: arial;
}

td.htmldbBracketTop3 {
	border-left: 2px #aaa solid;
	border-top: 2px #aaa solid;
	border-right: 2px #aaa solid;
	width: 100%;
	height: 10px;
	font-size: 1pt;
	margin: 0 0 -10px 0;
}

td.htmldbBracketTop4 {
	padding: 0 5px;
}

table.htmldbInformation {
	border: 1px #aaa solid;
	margin: 0;
	width: 100%;
}

td.htmldbInformation2 {
	padding: 2px;
	background: #cfdccf;
	color: #666;
	font-weight: bold;
	font-size: 14px;
}

td.htmldbInformation3 {
	text-align: right;
	padding: 2px;
	background: #cfdccf;
	color: #666;
	font-weight: bold;
	font-size: 14px;
}

td.htmldbInformation4 {
	padding: 2px;
}

.htmldbInstruct600 {
	width: 560px;
	color: #000;
	font-size: 12px;
	padding: 5px;
}

table.htmldbLoginR,table.htmldbRR600 {
	color: #000;
	width: 600px;
}

table.htmldbLoginR thead tr th.T,table.htmldbRR600 thead tr th.T {
	color: #777;
	text-align: left;
	border-bottom: 1px solid #b9b9b9;
}

table.htmldbLoginR tbody tr td.B,table.htmldbRR600 tbody tr td.B {
	font-size: 12px;
	padding: 5px;
	text-align: right;
}

table.htmldbInfo {
	width: 200px;
	margin: 0 0 10px 0;
	table-layout: fixed;
}

table.htmldbInfo {
	width: 200px;
	margin: 0 0 10px 0;
	table-layout: fixed;
}

table.htmldbInfo thead tr th {
	background: #ddd;
	font-size: 12px;
}

table.htmldbInfo thead tr th.C {
	border: 1px #aaaaaa solid;
	text-align: center;
	padding: 2px;
	background-image: url(../apex/infobar_bg.png);
	background-repeat: repeat-x;
}

table.htmldbInfo tbody tr td.B {
	background: #fff;
	border: 1px #aaaaaa solid;
	border-top: none;
	font-size: 12px;
	padding: 6px;
}

table.htmldbInfo ul {
	margin: 0;
	padding: 0 0 0 1.1em;
	list-style-type: circle;
}

table.htmldbInfo li {
	padding: 0;
}

table.htmldbTasks {
	width: 200px;
	margin: 0 0 10px 0;
	table-layout: fixed;
}

table.htmldbTasks th {
	background: #aaa;
}

table.htmldbTasks th.C {
	border: 1px #aaa solid;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding: 2px;
	color: #fff;
	background-image: url(../apex/reg_top_bg.png);
	background-repeat: repeat-x;
}

table.htmldbTasks td.B {
	background: #f4f4f4;
	border: 1px #aaa solid;
	border-top: none;
	font-size: 12px;
	padding: 6px;
}

ul.htmldbUlErr {
	font-size: 11px;
	margin: 0;
	padding: 2px 0 0 2px;
	list-style: none;
}

ul.htmldbUlErr li {
	list-style: none;
}

ul.htmldbUl {
	background: none;
	border: 0px solid #ffffff;
	padding: 2px 0 0 2px;
	list-style: circle;
}

ul.htmldbUl li,ul.htmldbUl li.htmldbUl {
	padding: 0 0 0 0;
	color: #000;
	font-size: 11px;
	list-style: circle;
}

ul.htmldbUl a:link, ul.htmldbUl a:visited {
	text-decoration: none;
	color: #666666;
}

ul.htmldbUl a:hover {
	text-decoration: underline;
	color: #666666;
}

/* -------------------- Navigation -------------------- */

.navigation-region {
	background: url(../apex/builder/bg-navigation.gif);
	margin: 0 0 8px 0;
	overflow: hidden;
	width: 200px;
}

.navigation-region > div {
	overflow: hidden;
	width: 200px;
	padding: 0 0 4px;
	background: url(../apex/builder/bg-navigation-b.gif) no-repeat 0 100%;
}

.navigation-region h3 {
	margin: 0;
	width: 200px;
	height: 22px;
	background: url(../apex/builder/bg-title-blue.gif);
	overflow: hidden;
	line-height: 22px;
	text-indent: 9px;
	color: #ffffff;
}

.navigation-region ul {
	margin: 1px 0 0 3px;
	padding: 0;
	list-style: none;
	width: 194px;
	overflow: hidden;
	border-top: 1px solid #ccc;
	background: url(../apex/builder/bg-ul.gif);
}

.navigation-region ul li {
	width: 200px;
	line-height: 22px;
	padding: 0 0 1px;
}

.navigation-region a {
	text-decoration: none;
	color: #000;
	display: block;
	width: 180px;
	border-bottom: 1px solid #ccc;
	border-left: 4px solid #ccc;
	padding: 0 0 0 10px;
}

.navigation-region p {
	text-decoration: none;
	color: #000;
	display: block;
	width: 180px;
	border-bottom: 1px solid #ccc;
	border-left: 4px solid #ccc;
	padding: 0 0 0 10px;
	margin: 0;
}

.navigation-region .active a, .navigation-region a:hover {
	border-left: 4px solid #7b8baa;
	background: url(../apex/builder/bg-nav.gif) repeat-x 0 0;
}

.navigation-region ul .active ul {
	margin: 0;
	padding: 1px 0 0;
	list-style: none;
	border: none;
}

.navigation-region ul .active ul li {
	padding: 0;
}

.navigation-region ul .active ul a {
	background: none;
	border-left: 4px solid #7b8baa;
	background: #f2f2f2;
}

.navigation-region ul .active ul .active a, .navigation-region ul .active ul a:hover {
	background: #f2f2f2;
	color: #f00;
}

.sidebar-tasks {
	float: right;
	width: 200px;
	display: inline;
	overflow: hidden;
}

.sidebar-tasks h3 {
	width: 192px;
	line-height: 22px;
	height: 22px;
	margin: 0;
	padding: 0 0 0 9px;
	background: url(../apex/builder/bg-title-blue.gif);
	color: #fff;
}

.sidebar-tasks .box {
	background: url(../apex/builder/bg-box.gif);
	margin: 0 0 8px;
}

.sidebar-tasks .box .frame {
	background: url(../apex/builder/bg-box-frame.gif) no-repeat 0 100%;
	width: 200px;
	overflow: hidden;
	padding: 4px 4px 6px 4px;
}

.sidebar-tasks .content {
	margin: 0 10px 0 2px;
	font-size: 11px;
	color: 666666;
}

.sidebar-info {
	float: right;
	width: 200px;
	display: inline;
	overflow: hidden;
}

.sidebar-info h3 {
	width: 192px;
	line-height: 22px;
	height: 22px;
	margin: 0;
	padding: 0 0 0 9px;
	background: url(../apex/builder/bg-title.gif);
	color: #fff;
}

.sidebar-info h3 {
	width: 192px;
	line-height: 22px;
	height: 22px;
	margin: 0;
	padding: 0 0 0 9px;
	background: url(../apex/builder/bg-title.gif);
	color: #fff;
}

.sidebar-info .box {
	background: url(../apex/builder/bg-box.gif);
	margin: 0 0 8px;
}

.sidebar-info .box .frame {
	background: url(../apex/builder/bg-box-frame.gif) no-repeat 0 100%;
	width: 200px;
	overflow: hidden;
	padding: 4px 4px 6px 6px;
}

.sidebar-info .content {
	margin: 0 10px 0 2px;
}

/* sub region */

.sub-region {
	margin: 10px;
	border: 1px #aaaaaa solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 1px 1px 1px #aaaaaa;
	-webkit-box-shadow: 1px 1px 1px #aaaaaa;
}

.sr-header {
	background: #dddddd;
	padding: 4px;
	font-size: 14px !important;
	font-weight: bold;
	color: #404040;
}

.sr-body {
	background: #ffffff;
	padding: 4px;
	height: 1%;
	overflow: auto;
}

/* rounded corner wizard region */

.rounded-corner-wiz-region {
	padding: 0 4px 4px 0;
	width: 540px;
}

.rounded-corner-wiz-region .rc-blue-top {
	width: 100%;
	float: left;
	background: url(../apex/builder/bg-region-blue-l.gif) no-repeat 0 0;
}

.rounded-corner-wiz-region .rc-blue-top .rc-blue-top-r {
	height: 23px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 16px 2px 10px;
	background: url(../apex/builder/bg-region-blue-r.gif) no-repeat 100% 0;
}

.rounded-corner-wiz-region .rc-body {
	width: 100%;
	float: left;
	background: url(../apex/builder/bg-region-frame-l.gif) repeat-y scroll 0 0;
}

.rounded-corner-wiz-region .rc-body .rc-body-r {
	color: #000000;
	font-size: 14px;
	padding: 0 12px 0 2px;
	background: url(../apex/builder/bg-region-frame-r.gif) repeat-y scroll 100% 0;
}

.rounded-corner-wiz-region .rc-body .rc-content {
	padding: 8px 4px 8px 4px;
	background: #f8f8f8 url(../apex/builder/bg-main.gif) repeat-x scroll 0 100%;
	overflow: hidden;
}

.rounded-corner-wiz-region .rc-bottom {
	width: 100%;
	float: left;
	height: 15px;
	overflow: hidden;
	background: url(../apex/builder/bg-region-bottom-l.gif) no-repeat scroll 0 0;
}

.rounded-corner-wiz-region .rc-bottom .rc-bottom-r {
	color: #000000;
	height: 5px;
	overflow: hidden;
	background: url(../apex/builder/bg-region-bottom-r.gif) no-repeat scroll 100% 0;
}

.rounded-corner-wiz-region .rc-title {
	float: left;
	font-size: 14px;
	padding: 2px 0 0 0;
}

.rounded-corner-wiz-region .rc-buttons {
	float: right;
}

.rounded-corner-wiz-region .icon-confirm {
	padding: 5px 5px 5px 45px;
	background-image: url(../htmldb/builder/confirmicon_pagetitle.gif);
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

.rounded-corner-wiz-region .icon-warn {
	padding: 5px 5px 5px 45px;
	background-image: url(../htmldb/builder/warningicon_pagetitle.gif);
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

.rounded-corner-wiz-region .icon-fail {
	padding: 5px 5px 5px 45px;
	background-image: url(../htmldb/builder/fail.gif);
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

/* rounded corner region */

.rounded-corner-region {
	padding: 0 0 4px 0;
	display: inline;
	float: left;
}

.rounded-corner-region a {
	text-decoration: none;
}

.rounded-corner-region a:hover {
	text-decoration: none;
}

.rounded-corner-region .rc-top {
	width: 100%;
	float: left;
	background: url(../apex/builder/bg-topbox.gif) no-repeat 0 0;
}

.rounded-corner-region .rc-top .rc-top-r {
	height: 3px;
	color: #ffffff;
	font-size: 1px;
	font-weight: bold;
	background: url(../apex/builder/bg-topbox-r.gif) no-repeat 100% 0;
}

.rounded-corner-region .rc-msg-top {
	width: 100%;
	float: left;
	height: 3px;
	overflow: hidden;
	background: url(../apex/builder/bg-msg-topbox.gif) no-repeat 0 0;
}

.rounded-corner-region .rc-msg-top .rc-msg-top-r {
	height: 3px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: url(../apex/builder/bg-msg-topbox-r.gif) no-repeat 100% 0;
}

.rounded-corner-region .rc-gray-top {
	width: 100%;
	float: left;
	background: url(../apex/builder/bg-region-gray-l.gif) no-repeat 0 0;
}

.rounded-corner-region .rc-gray-top .rc-gray-top-r {
	height: 23px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 16px 2px 10px;
	background: url(../apex/builder/bg-region-gray-r.gif) no-repeat 100% 0;
}

.rounded-corner-region .rc-blue-top {
	width: 100%;
	float: left;
	background: url(../apex/builder/bg-region-blue-l.gif) no-repeat 0 0;
}

.rounded-corner-region .rc-blue-top .rc-blue-top-r {
	height: 23px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 16px 2px 10px;
	background: url(../apex/builder/bg-region-blue-r.gif) no-repeat 100% 0;
}

.rounded-corner-region .rc-darkblue-top {
	width: 100%;
	float: left;
	background: url(../apex/builder/bg-region-darkblue-l.gif) no-repeat 0 0;
}

.rounded-corner-region .rc-darkblue-top .rc-darkblue-top-r {
	height: 36px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 4px 16px 0 10px;
	background: url(../apex/builder/bg-region-darkblue-r.gif) no-repeat 100% 0;
}

.rounded-corner-region .rc-body {
	width: 100%;
	float: left;
	background: url(../apex/builder/bg-region-frame-l.gif) repeat-y scroll 0 0;
}

.rounded-corner-region .rc-body .rc-body-r {
	color: #000000;
	font-size: 14px;
	padding: 0 12px 0 2px;
	background: url(../apex/builder/bg-region-frame-r.gif) repeat-y scroll 100% 0;
}

.rounded-corner-region .rc-msg-body {
	width: 100%;
	float: left;
	background: url(../apex/builder/bg-msg-region-frame-l.gif) repeat-y scroll 0 0;
}

.rounded-corner-region .rc-msg-body .rc-msg-body-r {
	color: #000000;
	font-size: 14px;
	padding: 0 12px 0 2px;
	background: url(../apex/builder/bg-msg-region-frame-r.gif) repeat-y scroll 100% 0;
}

.rounded-corner-region .rc-msg-body .rc-msg-content {
	padding: 4px 10px 4px 10px;
	background-color: #fffccc;
}

.rounded-corner-region .rc-body .rc-content {
	padding: 0 10px 0 10px;
	background: #f8f8f8 url(../apex/builder/bg-main.gif) repeat-x scroll 0 100%;
	overflow: hidden;
}

.rounded-corner-region .rc-body .rc-content-main {
	padding: 4px 10px 4px 10px;
	background: #f8f8f8 url(../apex/builder/bg-main.gif) repeat-x scroll 0 100%;
	overflow: hidden;
}

.rounded-corner-region .rc-body .rc-content-main h3 {
	font-size: 14px;
	font-weight: bold;
	margin: 4px 0 4px 0;
}

.rounded-corner-region .rc-body .rc-content-announcement {
	background: #f8f8f8 url(../apex/builder/bg-announcements.gif) repeat-x scroll 0 100%;
	overflow: hidden;
	height: 28px;
	padding: 8px 4px 4px 8px;
}

.rounded-corner-region .rc-body .rc-content-bin {
	height: 180px;
	padding: 8px 4px 0 4px;
	background: #f8f8f8 url(../apex/builder/bg-main.gif) repeat-x scroll 0 100%;
	overflow: hidden;
}

/* Mike */

.rounded-corner-region .rc-body-tall .rc-content-bin {
	height: 230px;
	padding: 8px 4px 0 4px;
	background: #f8f8f8 url(../apex/builder/bg-main.gif) repeat-x scroll 0 100%;
	overflow: hidden;
}

.rounded-corner-region .rc-body .rc-content-page-edit {
	padding: 4px 0 0 10px;
	background-color: #f8f8f8;
	overflow: auto;
}

.rounded-corner-region .rc-body .rc-content-search-bar {
	overflow: hidden;
	padding: 2px 12px 0 12px;
	height: 1%;
	background: #f8f8f8 url(../apex/builder/bg-announcements.gif) repeat-x scroll 0 100%;
}

.rounded-corner-region .rc-body .rc-content-search-bar a {
	text-decoration: none;
}

.rounded-corner-region .rc-body .rc-content-search-bar .buttons {
	float: right;
	padding: 6px;
}

.rounded-corner-region .rc-body .rc-content-search-bar .text {
	float: left;
	padding: 8px;
}

.rounded-corner-region .rc-body .rc-content-search-bar .elements {
	float: left;
}

.rounded-corner-region .rc-body .rc-content-bin td {
	padding: 1px 0 1px 0;
}

.rounded-corner-region .rc-body .rc-content-small-bin {
	height: 120px;
	padding: 8px 4px 0 4px;
	background: #f8f8f8 url(../apex/builder/bg-main.gif) repeat-x scroll 0 100%;
	overflow: hidden;
}

.rounded-corner-region .rc-body .rc-content-login {
	height: 1%;
	min-height: 340px;
	padding: 6px 10px 6px 10px;
	background: #f8f8f8 url(../apex/builder/bg-main.gif) repeat-x scroll 0 100%;
}

.rounded-corner-region .rc-body .rc-content-login input.login {
	width: 300px;
	margin: 4px 0 6px 0;
	font-size: 14px;
	font-weight: normal;
}

.rounded-corner-region .rc-bottom-sep {
	width: 100%;
	float: left;
	height: 2px;
	overflow: hidden;
	background: url(../apex/builder/bg-bottom-sep-l.gif) no-repeat scroll 0 0;
}

.rounded-corner-region .rc-bottom-sep .rc-bottom-sep-r {
	color: #000000;
	height: 2px;
	overflow: hidden;
	background: url(../apex/builder/bg-bottom-sep-r.gif) no-repeat scroll 100% 0;
}

.rounded-corner-region .rc-bottom {
	width: 100%;
	float: left;
	height: 10px;
	overflow: hidden;
	background: url(../apex/builder/bg-region-bottom-l.gif) no-repeat scroll 0 0;
}

.rounded-corner-region .rc-bottom .rc-bottom-r {
	color: #000000;
	height: 5px;
	overflow: hidden;
	background: url(../apex/builder/bg-region-bottom-r.gif) no-repeat scroll 100% 0;
}

.rounded-corner-region .rc-bottom-main {
	width: 100%;
	float: left;
	height: 36px;
	margin: 0 0 4px 0;
	overflow: hidden;
	background: url(../apex/builder/bg-bottombox-l.gif) no-repeat scroll 0 0;
}

.rounded-corner-region .rc-bottom-main .rc-bottom-r {
	color: #000000;
	height: 36px;
	padding: 10px 0 0 10px;
	overflow: hidden;
	background: url(../apex/builder/bg-bottombox-r.gif) no-repeat scroll 100% 0;
}

.rounded-corner-region .rc-msg-bottom {
	width: 100%;
	float: left;
	height: 10px;
	overflow: hidden;
	background: url(../apex/builder/bg-msg-region-bottom-l.gif) no-repeat scroll 0 0;
}

.rounded-corner-region .rc-msg-bottom .rc-msg-bottom-r {
	color: #000000;
	height: 5px;
	overflow: hidden;
	background: url(../apex/builder/bg-msg-region-bottom-r.gif) no-repeat scroll 100% 0;
}

.rounded-corner-region .rc-title {
	float: left;
	font-size: 14px;
	margin: 3px 0 0 0;
}

.rounded-corner-region .rc-buttons {
	float: right;
}

.rounded-corner-region .rc-darkblue-top .button-small {
	float: right;
	margin: 3px 2px 0 2px;
}

.rounded-corner-region .rc-darkblue-top .button-small .bt-left {
	color: #ffffff;
	float: left;
	height: 22px;
	padding: 0px 12px 3px 21px;
	background: url(../apex/builder/bt-shiny-blue-bg-l.gif) no-repeat scroll 0 0;
}

.rounded-corner-region .rc-darkblue-top .button-small .bt-right {
	color: #ffffff;
	float: left;
	height: 22px;
	padding: 3px 0 0 6px;
	background: url(../apex/builder/bt-shiny-blue-bg-r.gif) no-repeat scroll 100% 0;
}

.rounded-corner-region .rc-darkblue-top .button-small a {
	color: #4f4f4f;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}

.apex-bin-body {
	display: block;
	height: 165px;
}

.apex-bin-footer {
	display: block;
	font-size: 11px;
}

/* hide show region */

.hide-show-region {
	padding: 0 0 4px 0;
	display: block;
}

.hide-show-region a {
	text-decoration: none;
}

.hide-show-region a:hover {
	text-decoration: none;
}

.hide-show-region .hide-show-top {
	width: 100%;
	float: left;
}

.hide-show-region .hide-show-body {
	width: 100%;
	float: left;
}

/* report portlet */

.report-portlet {
	width: 100%;
	display: inline;
	float: left;
}

.report-portlet .report-record {
	background: url(../apex/builder/bg-portlet.gif) repeat scroll 0 0;
	padding: 0 4px 0 4px;
}

.report-portlet .report-row {
	height: 24px;
	padding: 0;
}

.report-portlet .report-col-hdr {
	float: left;
	clear: left;
	font-size: 12px;
	padding: 4px;
}

.report-portlet .report-col-val {
	float: right;
	clear: right;
	font-size: 13px;
	font-weight: bold;
	padding: 4px;
}

/* vertical list report */

.vertical-list-report {
	width: 100%;
	display: inline;
	float: left;
}

.vertical-list-report .report-record {
	padding: 0 4px 0 4px;
}

.vertical-list-report .report-row {
	height: 24px;
	padding: 0;
}

.vertical-list-report .report-col-hdr {
	float: left;
	clear: left;
	font-size: 12px;
	padding: 4px;
}

.vertical-list-report .report-col-val {
	float: right;
	clear: right;
	font-size: 13px;
	font-weight: bold;
	padding: 4px;
}

/* topbar */

.topbar {
	padding: 0 0 4px 0;
	float: left;
	clear: right;
	overflow: hidden;
}

.topbar .topbar-items {
	float: left;
}

.topbar .topbar-buttons {
	float: left;
	padding: 16px 0;
}

.topbar .topbar-top {
	width: 100%;
	float: left;
	background: url(../apex/builder/bg-topbox.gif) no-repeat 0 0;
}

.topbar .topbar-top .topbar-top-r {
	height: 3px;
	color: #ffffff;
	font-size: 1px;
	font-weight: bold;
	background: url(../apex/builder/bg-topbox-r.gif) no-repeat 100% 0;
}

.topbar .topbar-body {
	float: left;
	width: 100%;
	background: url(../apex/builder/bg-region-frame-l.gif) repeat-y scroll 0 0;
}

.topbar .topbar-body .topbar-body-r {
	color: #000000;
	font-size: 14px;
	padding: 0 12px 0 2px;
	background: url(../apex/builder/bg-region-frame-r.gif) repeat-y scroll 100% 0;
}

.topbar .topbar-body .topbar-content {
	padding: 6px;
	clear: right;
	background: #f8f8f8 url(../apex/builder/bg-announcements.gif) repeat-x scroll 0 100%;
	height: 1%;
	overflow: hidden;
}

.topbar .topbar-body .topbar-content .formlayout .body {
	padding: 2px 0 0 0;
}

.topbar .topbar-bottom {
	width: 100%;
	float: left;
	height: 10px;
	overflow: hidden;
	background: url(../apex/builder/bg-region-bottom-l.gif) no-repeat scroll 0 0;
}

.topbar .topbar-bottom .topbar-bottom-r {
	color: #000000;
	height: 5px;
	overflow: hidden;
	background: url(../apex/builder/bg-region-bottom-r.gif) no-repeat scroll 100% 0;
}

/* topbar one row */

.topbar-onerow {
	padding: 0 0 4px 0;
	float: left;
	clear: right;
	height: 1%;
	overflow: hidden;
}

.topbar-onerow .items {
	float: left;
}

.topbar-onerow .buttons {
	float: left;
	padding: 16px 0;
}

.topbar-onerow .body {
	float: left;
	height: 53px;
	overflow: hidden;
	background: url(../apex/builder/bg-topbar-onerow-l.gif) repeat-y scroll 0 0;
}

.topbar-onerow .body .body-r {
	color: #000000;
	height: 53px;
	overflow: hidden;
	background: url(../apex/builder/bg-topbar-onerow-r.gif) repeat-y scroll 100% 0;
}

.topbar-onerow .content {
	padding: 9px 15px 9px 10px;
}

.topbar-onerow {
	padding: 2px 0 0 0;
}

/* buttons */

button {
	border: 0px;
	cursor: pointer;
	font-weight: normal;
	padding: 0 10px 0 0;
	text-align: center;
	margin: 0 2px 0 0;
}

button span {
	position: relative;
	display: block;
	white-space: nowrap;
	font-size: 13px;
	padding: 0 4px 0 15px;
}

button.button-component-view {
	background: url(../apex/builder/bt-component-view.png) right no-repeat;
	border: 0px solid #ffffff;
	height: 20px;
	line-height: 20px;
	width: 25px;
	padding: 0;
	margin: 0 0 0 4px;
}

button.button-tree-view {
	background: url(../apex/builder/bt-tree-view.png) right no-repeat;
	border: 0px solid #ffffff;
	height: 20px;
	line-height: 20px;
	width: 25px;
	padding: 0;
	margin: 0;
}

button.button-component-view-selected {
	background: url(../apex/builder/bt-component-view-selected.png) right no-repeat;
	border: 0px solid #ffffff;
	height: 20px;
	line-height: 20px;
	width: 25px;
	padding: 0;
	margin: 0 0 0 4px;
}

button.button-tree-view-selected {
	background: url(../apex/builder/bt-tree-view-selected.png) right no-repeat;
	border: 0px solid #ffffff;
	height: 20px;
	line-height: 20px;
	width: 25px;
	padding: 0;
	margin: 0;
}

button.button-prev-gray-gray-bg {
	background: url(../apex/builder/bt-prev.gif) right no-repeat;
	border: 0px solid #ffffff;
	height: 20px;
	line-height: 20px;
	width: 25px;
	padding: 0;
	margin: 0 0 0 4px;
}

button.button-next-gray-gray-bg {
	background: url(../apex/builder/bt-next.gif) right no-repeat;
	border: 0px solid #ffffff;
	height: 20px;
	line-height: 20px;
	width: 25px;
	padding: 0;
	margin: 0;
}

button.button-go-gray-gray-bg {
	background: url(../apex/builder/bt-go.gif) right no-repeat;
	border: 0px solid #ffffff;
	height: 20px;
	line-height: 20px;
	width: 25px;
	padding: 0;
	margin: 0;
}

button.button-small-orange-white-bg {
	background: url(../apex/builder/bt-orange-white-bg-r.gif) right no-repeat;
}

button.button-small-orange-white-bg span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-orange-white-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

button.button-small-orange-gray-bg {
	background: url(../apex/builder/bt-orange-gray-bg-r.gif) right no-repeat;
}

button.button-small-orange-gray-bg span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-orange-gray-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

button.button-small-orange-blue-bg {
	background: url(../apex/builder/bt-orange-blue-bg-r.gif) right no-repeat;
}

button.button-small-orange-blue-bg span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-orange-blue-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

button.button-small-gray-white-bg {
	background: url(../apex/builder/bt-gray-white-bg-r.gif) right no-repeat;
}

button.button-small-gray-white-bg span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-gray-white-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

button.button-small-gray-gray-bg {
	background: url(../apex/builder/bt-gray-gray-bg-r.gif) right no-repeat;
}

button.button-small-gray-gray-bg span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-gray-gray-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

button.button-small-gray-blue-bg {
	background: url(../apex/builder/bt-gray-blue-bg-r.gif) right no-repeat;
}

button.button-small-gray-blue-bg span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-gray-blue-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

.nav-button {
	margin: 3px 0 0 2px;
}

.list-button-nc button {
	background: url(../apex/builder/bt-gray-gray-bg-r.gif) right no-repeat;
}

.list-button-nc button span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-gray-gray-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

.list-button-nc-sub button {
	background: url(../apex/builder/bt-pulldown-gray-bg-r.gif) right no-repeat;
	padding: 0 25px 0 0;
}

.list-button-nc-sub button span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-gray-gray-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

.list-button-c button {
	background: url(../apex/builder/bt-orange-gray-bg-r.gif) right no-repeat;
}

.list-button-c button span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-orange-gray-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

.list-button-c-sub button {
	background: url(../apex/builder/bt-pulldown-gray-bg-r.gif) right no-repeat;
	padding: 0 25px 0 0;
}

.list-button-c-sub button span {
	height: 20px;
	line-height: 20px;
	background: url(../apex/builder/bt-gray-gray-bg-l.gif) left no-repeat;
	color: #4f4f4f;
}

div.htmldbInfoBodyP {
	margin: 0 0 6px 0;
}

table.htmldbRR {
	width: 100%;
	margin: 0 0 20px 0;
}

table.htmldbRR thead {
	font-size: 14px;
	color: #777;
	vertical-align: bottom;
}

table.htmldbRR thead th {
	border-bottom: solid 1px #bbb;
}

table.htmldbRR thead tr th.T {
	text-align: left;
}

table.htmldbRR thead tr th.BT {
	text-align: right;
}

table.htmldbRR tbody tr td.B {
	font-size: 12px;
	color: #000;
	padding: 2px;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

table.htmldbBWR {
	width: 100%;
	margin: 0 0 20px 0;
}

table.htmldbBWR thead {
	font-size: 14px;
	color: #777;
	vertical-align: bottom;
}

table.htmldbBWR thead tr th.T {
	text-align: left;
}

table.htmldbBWR thead tr th.BT {
	text-align: right;
}

table.htmldbBWR tbody tr td.B {
	font-size: 12px;
	color: #000;
	padding: 2px;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

table.htmldbWizard {
	border: 1px #aaa solid;
	width: 560px;
	margin: 0 0 20px 0;
}

table.htmldbWizard thead th {
	font-size: 12px;
	padding: 3px;
	color: #ffffff;
	background-image: url(../apex/topbar_blue_bg.png);
	background-repeat: repeat-x;
}

table.htmldbWizard thead th.H1 {
	padding: 0 0 0 10px;
	text-align: left;
}

table.htmldbWizard thead th.H2 {
	text-align: right;
}

table.htmldbWizard td.B {
	padding: 8px;
	border-top: 1px #aaa solid;
	background: #f4f4f4;
	font-size: 12px;
}

table.htmldbWizard table {
	font-size: 12px;
}

table.htmldbWizard p {
	font-size: 12px;
}

table.htmldbWizard tbody.Success td.B {
	padding: 10px 0 10px 45px;
	background-repeat: no-repeat;
	background-image: url(../htmldb/icons/success_w.gif);
	background-position: 5px 5px;
}

table.htmldbWizard tbody.Fail td.B {
	padding: 10px 0 10px 45px;
	background-repeat: no-repeat;
	background-image: url(../htmldb/builder/fail.gif);
	background-position: 5px 5px;
}

table.htmldbWizard tbody.Confirm td.B {
	padding: 10px 0 10px 45px;
	background-repeat: no-repeat;
	background-image: url(../htmldb/builder/confirmicon_pagetitle.gif);
	background-position: 5px 5px;
}

table.htmldbWizard tbody.Warning td.B {
	padding: 10px 0 10px 45px;
	background-repeat: no-repeat;
	background-image: url(../warningicon_pagetitle.gif);
	background-position: 5px 5px;
}

table.htmldbGBR {
	border: 1px #aaa solid;
	width: 100%;
	margin: 0 0 20px 0;
}

table.htmldbGBR thead {
	background: #f4f4f4;
	color: #fff;
	font-size: 14px;
	background-image: url(../apex/reg_top_bg.png);
	background-repeat: repeat-x;
}

table.htmldbGBR thead tr th {
	padding: 2px;
}

table.htmldbGBR thead tr th.T {
	padding: 4px 4px 4px 8px;
	text-align: left;
}

table.htmldbGBR thead tr th.BT {
	padding: 4px 4px 4px 8px;
	text-align: right;
}

table.htmldbGBR tbody tr td.B {
	background: #f4f4f4;
	padding: 5px;
	font-size: 12px;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

table.htmldbTopBar {
	height: 35px;
	border: 1px #777 solid;
	width: 100%;
	color: #444;
}

tbody.htmldbTopBar {
	white-space: nowrap;
	color: #444;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	white-space: nowrap;
	background: #cfdccf;
	vertical-align: middle;
	line-height: 20px;
}

.htmldbTopBar img,.htmldbTopBar input {
	vertical-align: middle;
}

table.htmldbTopBarW {
	height: 35px;
	width: 100%;
	color: #444;
}

tbody.htmldbTopBarW {
	white-space: nowrap;
	color: #444;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	white-space: nowrap;
	background: #fff;
	vertical-align: middle;
	line-height: 20px;
}

div.htmldbTopBarLeft {
	float: left;
	white-space: nowrap;
}

div.htmldbTopBarRight {
	float: right;
	white-space: nowrap;
}

.htmldbTopBarSpace {
	width: 5px;
}

table.htmldbShowHide {
	margin: 0 0 10px 0
}

th.htmldbShowHide {
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	cursor: pointer;
	cursor: pointer;
}

th.htmldbShowHide img {
	vertical-align: middle;
	margin: 0 5px 0 0;
}

th.htmldbShowHide span {
	vertical-align: middle;
}

td.htmldbShowHide {
	padding: 4px;
	font-size: 12px;
}

.htmldbInstruct {
	font-size: 12px;
	color: #000;
}

.htmldbPPRSort {
	text-decoration: underline;
	color: #3f863f;
	cursor: pointer;
	height: 16px;
	line-height: 16px;
	display: inline;
	vertical-align: middle;
}

.htmldbPPRPage {
	line-height: 16px;
	vertical-align: middle;
	height: 16px;
	margin: 0 5px 0 0;
}

.htmldbPPRPage span {
	text-decoration: underline;
	color: #7f1717;
	line-height: 16px;
	vertical-align: top;
	height: 16px;
}

.htmldbPPRPage img {
	margin: 0 0 5px 0;
}

table.htmldbMinReport, table.htmldbStandard3 {
	border: 1px #aaa solid;
}

table.htmldbMinReport tfoot tr td ,table.htmldbStandard3 tfoot tr td,table.htmldbMinReport tfoot , table.htmldbStandard3 tfoot,table.htmldbMinReport tfoot , table.htmldbStandard3 tfoot table.htmldbMinReport tfoot tr, table.htmldbStandard3 tfoot tr {
	background: #f4f4f4;
	border: 0;
}

table.htmldbMinReport th, table.htmldbStandard3 th {
	background: #879cbd;
	font-weight: bold;
	border-bottom: 1px #aaa solid;
	font-size: 11px;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 6px 9px;
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1;
	background-image: url(../apex/reg_top_bg.png);
	background-repeat: repeat-x;
}

table.htmldbMinReport td, table.htmldbStandard3 td {
	background: #f4f4f4;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
	font-size: 12px;
	padding: 3px 9px;
	empty-cells: show;
}

table.htmldbMinReport th a, table.htmldbStandard3 th a {
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1;
}

table.apex-standard-report {
	border: 1px #aaa solid;
	margin: 10px 0;
}

table.apex-standard-report tfoot tr td, table.apex-standard-report tfoot, table.apex-standard-report tfoot tr {
	background: #f4f4f4;
	border: 0;
}

table.apex-standard-report > tbody > tr > th {
	background: #879cbd;
	font-weight: bold;
	border-bottom: 1px #aaa solid;
	font-size: 11px;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 4px 9px;
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1;
	background-image: url(../apex/reg_top_bg.png);
	background-repeat: repeat-x;
}

table.apex-standard-report > tbody > tr > td {
	background: #f4f4f4;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
	font-size: 12px;
	padding: 2px 9px;
	empty-cells: show;
}

table.apex-standard-report > tbody > tr > th a {
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1;
}

table.apex-borderless-report {
	
}

table.apex-borderless-report tfoot tr td, table.apex-borderless-report tfoot, table.apex-borderless-report tfoot tr {
	border: 0;
}

table.apex-borderless-report > tbody > tr > th {
	font-weight: bold;
	font-size: 11px;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 4px 9px;
	color: #000000;
	font-size: 12px;
	letter-spacing: 1;
}

table.apex-borderless-report > tbody > tr > td {
	font-size: 12px;
	padding: 2px 9px;
	empty-cells: show;
}

table.apex-borderless-report > tbody > tr > th a {
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 1;
}

table.apex-vertical-region {
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	margin: 5px 0;
}

table.apex-vertical-region th {
	background: #aaaaaa;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
	color: #ffffff;
	font-size: 12px;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 3px 4px;
	text-align: left;
}

table.apex-vertical-region td {
	background: #f4f4f4;
	border-bottom: 1px solid #cccccc;
	font-size: 12px;
	padding: 3px 4px;
}

table.htmldbGBR table.htmldbStandard3 th , div.rc-content table.htmldbStandard3 th {
	border-top: none;
	background: transparent;
	color: #000;
}

table.htmldbGBR table.htmldbStandard3 th , div.rc-content table.htmldbStandard3 td {
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
	background: transparent;
	color: #000;
}

table.htmldbGBR table.htmldbStandard3 , div.rc-content table.htmldbStandard3 {
	border: none;
}

table.htmlPlain {
	font-size: 12px;
	color: #000;
}

table.htmldbVerticalRptPlain th {
	color: #3F8640;
	font-weight: bold;
	padding-right: 5px;
	font-size: 8pt;
}

table.htmldbVerticalRptPlain td {
	font-size: 8pt;
	padding-left: 5px;
	border-left: 1px #f4f4f4 solid;
}

table.htmldbRptNoBackHoriz th {
	padding: 1px 3px;
	color: #3F8640;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px #ccc solid;
}

table.htmldbRptNoBackHoriz th a,table.htmldbRptNoBackHoriz th a:link,table.htmldbRptNoBackHoriz th a:visited {
	color: #3F8640;
}

table.htmldbRptNoBackHoriz th a:hover {
	color: #ff6600;
}

table.htmldbRptNoBackHoriz td {
	padding: 1px 3px;
	font-size: 12px;
	border-top: 1px #f8f8f8 solid;
}

.htmldbGreenRegion {
	width: 140px;
	vertical-align: top;
	padding: 3px;
	padding-top: 0;
}

.apex-wiz-bar {
	padding: 0 6px 0 6px;
}

.apex-wiz-current .apex-wiz-top {
	text-align: center;
	width: 185px;
	height: 2px;
	font-size: 1px;
	background: url(../apex/builder/bg-wiz-bar-c-top.gif) no-repeat scroll 0 0;
}

.apex-wiz-current .apex-wiz-body {
	padding: 4px 0 8px 0;
	text-align: center;
	width: 185px;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	background: url(../apex/builder/bg-wiz-bar-c-body.gif) no-repeat scroll 0 100%;
}

.apex-wiz-non .apex-wiz-top {
	text-align: center;
	width: 185px;
	height: 2px;
	font-size: 1px;
	background: url(../apex/builder/bg-wiz-bar-nc-top.gif) no-repeat scroll 0 0;
}

.apex-wiz-non .apex-wiz-body {
	padding: 4px 0 8px 0;
	text-align: center;
	width: 185px;
	font-size: 12px;
	color: #000;
	background: url(../apex/builder/bg-wiz-bar-nc-body.gif) no-repeat scroll 0 100%;
}

.apex-wiz-non .apex-wiz-body a {
	text-decoration: none;
}

.apex-wiz-arrow {
	margin: 3px 85px 6px 85px;
	text-align: center;
	width: 15px;
	height: 13px;
	color: #000;
	background: url(../apex/builder/bg-progress-next.gif) no-repeat scroll 0 0;
}

.apex-wiz-arrow-small {
	margin: 3px 85px 0px 85px;
	text-align: center;
	width: 15px;
	height: 13px;
	color: #000;
	background: url(../apex/builder/bg-progress-down.gif) no-repeat scroll 0 0;
}

table.htmldbPageTabs {
	float: right;
}

table.htmldbPageTabs td.OnC {
	white-space: nowrap;
	background-image: url(../apex/tabOnM.png);
	background-repeat: repeat-x;
	font-weight: bold;
	text-decoration: none;
}

table.htmldbPageTabs td.OnC a {
	font-size: 12px;
	white-space: nowrap;
	text-decoration: none;
	color: #fff;
}

table.htmldbPageTabs td.OffC {
	white-space: nowrap;
	background-image: url(../apex/tabOffM.png);
	background-repeat: repeat-x;
	font-weight: bold;
	text-decoration: none;
}

table.htmldbPageTabs td.OffC a {
	font-weight: normal;
	font-size: 12px;
	white-space: nowrap;
	text-decoration: none;
}

ul.dList {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
	border: 1px solid #ccc;
	font-size: 10px;
}

ul.dList li a.dList {
	display: block;
	text-decoration: none;
	color: #777;
	background: #fff;
	padding: 5px;
	height: 1%
}

ul.dList li a.dList:hover {
	background: #FFC06F;
}

ul.dList li hr {
	display: block;
	margin: auto;
	width: 80%;
	border: 1px solid #f4f4f4;
	height: 1px;
	background: #777;
}

ul.htmldbUlHl {
	margin: 0;
	padding-left: 1.1em;
}

ul.htmldbUlHl li {
	padding-left: 0;
	color: #000;
}

ul.htmldbUlHl li.Hl {
	font-weight: bold;
}

.RegionQuickLinks a,.RegionQuickLinks a:link,.RegionQuickLinks a:visited,
.htmldbQuickLinks,.htmldbQuickLinks a:link,.htmldbQuickLinks a:visited,
itemlink a:visited,a.itemlink:link,itemLink a:visited,a.itemLink:link {
	white-space: nowrap;
	margin: 0 5px 5px 0;
	text-decoration: none;
	font-size: 11px;
	color: #811919;
}

.RegionQuickLinks a:hover,.htmldbQuickLinks a:hover,a.itemLink:hover {
	text-decoration: underline;
	color: #f00;
}

img.htmldbItemLink {
	margin: 0 6px 0 2px;
	vertical-align: middle;
}

ul.noIndent {
	margin: 0;
	padding-left: 1.1em;
}

ul.noIndent li {
	padding-left: 0;
}

ul.htmldbQuickPick {
	margin: 0;
	padding-left: 1.1em;
}

ul.htmldbQuickPick li {
	padding-left: 0;
}

td.htmldbRowWithBorders2 {
	text-align: right;
}

table.htmldbRowWithBorders3 {
	border: 1px #aaa solid;
	width: 100%;
	margin: 5px 0 0 0;
}

table.htmldbRowWithBorders3 th {
	background: #cfdccf;
	font-weight: bold;
	color: #3F8640;
	border: 1px #aaa solid;
	font-size: 12px;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 3px 9px;
}

table.htmldbRowWithBorders3 td {
	background: #f4f4f4;
	border: 1px #aaa solid;
	font-size: 12px;
	padding: 3px 9px;
}

.apex-list-horizontal {
	padding: 5px;
	height: 1%;
	overflow: hidden;
}

.apex-list-horizontal .current {
	width: 140px;
	float: left;
}

.apex-list-horizontal .noncurrent {
	width: 140px;
	float: left;
}

.apex-list-horizontal .image {
	width: 136px;
	float: left;
	clear: both;
	text-align: center;
}

.apex-list-horizontal .label {
	width: 136px;
	float: left;
	clear: both;
	text-align: center;
	font-size: 11px;
}

.apex-list-horizontal .label a {
	font-size: 12px;
}

table.htmldbListImages30px td {
	text-align: center;
}

table.htmldbListImages30px img.htmldbGreenIcon {
	margin-left: 15px;
	margin-right: 15px;
	display: block;
}

table.htmldbListImages30px a {
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
}

table.htmldbListImages30px a.noVisit {
	margin-left: 5px;
	margin-right: 5px;
}

table.htmldbListImages10px td {
	text-align: center;
}

table.htmldbListImages10px img.htmldbImg {
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	display: block;
}

table.htmldbListImages10px a {
	font-size: 12px;
	display: block;
	text-align: center;
}

table.htmldbListImagesH2 td {
	text-align: center;
	padding: 3px;
}

ol.htmldbOl {
	
}

ol.htmldbOl li {
	font-size: 12px;
	color: #000;
}

ol.htmldbOl li {
	font-size: 12px;
	color: #000;
}

.htmldbQuickItems {
	font-size: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.htmldbQuickItems a {
	text-decoration: none;
	color: #811919;
}

.htmldbQuickItems a:hover {
	text-decoration: underline;
	color: #f00;
}

table.htmldbStandardList {
	border-collapse: collapse;
	border: 0;
	width: 100%;
	padding: 2px;
	margin: 2px;
}

table.htmldbStandardList th {
	padding: 2px;
}

table.htmldbStandardList td {
	padding: 2px;
}

.htmldbStandardList1 {
	background: #3f8640;
}

.htmldbStandardList1 a {
	font-weight: bold;
}

.htmldbStandardList2 {
	border-top: 1px #3f8640 solid;
	border-bottom: 1px #3f8640 solid;
}

.htmldbStandardList2 a {
	font-size: 12px;
	padding-right: 1px;
}

ul.htmldbUlNl {
	margin: 0;
	padding-left: 1.1em;
}

ul.htmldbUlNl li {
	padding-left: 0;
	font-size: 16px;
	color: #000;
}

ol.htmldbFancyList li {
	vertical-align: top;
	font-size: 12px;
	padding: 0 2px;
	border: 1px solid #ddd;
	margin: 5px 0;
}

ol.htmldbFancyList div {
	font-size: 12px;
	margin: 4px;
}

a.htmldbFancyList:link,a.htmldbFancyList:visited,a.htmldbFancyList:hover {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
	font-size: 12px;
}

table.htmldbTabbedNavigationList {
	margin: 0 0 5px 0;
	border-bottom: 2px solid #a3b4ca;
}

table.htmldbTabbedNavigationList td {
	padding: 0;
	white-space: nowrap;
}

table.htmldbTabbedNavigationList a:link, table.htmldbTabbedNavigationList a:visited {
	display: block;
	color: #a3b4ca;
	font-size: 12px;
	font-weight: bold;
	padding: 0 6px 8px 6px;
	text-decoration: none;
}

table.htmldbTabbedNavigationList a.tabcurrent:link, table.htmldbTabbedNavigationList a.tabcurrent:visited, table.htmldbTabbedNavigationList a:hover {
	padding: 0 6px 8px 6px;
	display: block;
	background: transparent url(../htmldb/builder/tab_rounded.gif) no-repeat scroll center bottom;
	color: #000;
	font-weight: bold;
	font-size: 12px;
}

ul.htmldbTabbedNavigationList {
	border-bottom: 2px solid #a3b4ca;
	margin: 0;
	margin-bottom: 15px;
	padding: 0 0 20px 6px;
}

ul.htmldbTabbedNavigationList li {
	display: block;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

ul.htmldbTabbedNavigationList a:link, ul.htmldbTabbedNavigationList a:visited {
	color: #a3b4ca;
	float: left;
	font-size: 12px;
	font-weight: bold;
	font-weight: bold;
	line-height: 14px;
	padding: 0 6px 6px;
	text-decoration: none;
}

ul.htmldbTabbedNavigationList a.current:link, ul.htmldbTabbedNavigationList a.current:visited, ul.htmldbTabbedNavigationList a:hover {
	background: transparent url(../htmldb/builder/tab_rounded.gif) no-repeat scroll center bottom;
	color: #000;
	font-weight: bold;
}

.apex-ga-label,a.apex-ga-label,a.apex-ga-label:link,a.apex-ga-label:visited,a.apex-ga-label:hover {
	white-space: nowrap;
	color: #000000;
	margin: 0 2px 0 6px;
	text-decoration: none;
	font-size: 12px;
}

.htmldbWhiteLabel,a.htmldbWhiteLabel,a.htmldbWhiteLabel:link,a.htmldbWhiteLabel:visited,a.htmldbWhiteLabel:hover {
	white-space: nowrap;
	color: #eeeeee;
	font-weight: normal;
	text-decoration: none;
	font-size: 12px;
}

/* label css*/

a.help:link,a.help:visited,label.htmldbLabelRequired,span.htmldbLabelRequired, a.htmldbLabelRequired:link,a.htmldbLabelRequired:visited,label.htmldbLabelOptional,span.htmldbLabelOptional,a.htmldbLabelOptional:link,a.htmldbLabelOptional:visited {
	padding: 0;
	margin: 1px 1px 3px 1px;
	color: #111;
	text-decoration: none;
	border-bottom: solid 1px #CCC;
	font-size: 12px;
}

a.help:hover,
a.htmldbLabelRequired:hover, 
a.htmldbLabelOptional:hover {
	color: #f00;
	cursor: help;
}

span.htmldbLabelOptional {
	border: none;
}

a.htmldbGALabel:hover {
	color: #f00;
	cursor: help;
}

.htmldbTemplateFlag {
	clear: both;
	font-size: 9px;
}

table.htmldbTiny, table.tiny {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	margin: 0;
}

table.htmldbTiny th, table.tiny th {
	padding: 0;
}

table.htmldbTiny td, table.tiny td {
	padding: 2px;
	vertical-align: top;
	font-size: 9px;
}

.header {
	font-size: 16pt;
	font-weight: bold;
	color: #333;
}

.htmldbGreyLink,.tab3archiveslink {
	font-size: 9pt;
	color: #663300;
	text-decoration: none;
}

.tab3heading {
	font-size: 14pt;
	font-weight: bold;
	color: #003366;
}

.fieldtitle {
	font-size: 12px;
	color: #000;
	text-align: right;
}

.fieldtitlebold {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-align: right;
}

.htmldbFieldTitleLeft, .fieldtitleleft {
	font-size: 12px;
	color: #000;
}

.htmldbInstructionText,.instructiontext {
	font-size: 12px;
	color: #000;
}

.tableheader {
	font-size: 12px;
	font-weight: bold;
	background: #cccc99;
	color: #3F8640;
}

.tableheader2 {
	font-size: 12px;
	font-weight: bold;
	background: #cfdccf;
	color: #444;
}

.tabledata {
	font-size: 12px;
	background: #eee;
	color: #000;
}

.tabledata-alt {
	font-size: 12px;
	background: #fff;
	color: #000;
}

.nounderline {
	text-decoration: none
}

div.float {
	float: left;
	padding: 10px;
	text-align: left;
	font-size: 11pt;
}

table.fieldData1 td {
	font-size: 12px;
	color: #000;
	padding: 2px;
}

table.report1 {
	border-collapse: collapse;
	border: 1px #aaa solid;
}

table.report1 th {
	background: #cfdccf;
	color: #000;
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
	border: 1px #aaa solid;
}

table.report1 td {
	background: #f4f4f4;
	color: #000;
	border: 1px #aaa solid;
	padding: 3px;
	font-size: 12px;
}

img.lovimages {
	margin: 5px;
}

table.report2 {
	border-collapse: collapse;
	border: 1px #aaa solid;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

table.report2 th {
	background: #cfdccf;
	font-weight: bold;
	color: #3F8640;
	padding: 3px;
	border: 1px #aaa solid;
	font-size: 12px;
	white-space: nowrap;
	vertical-align: bottom;
}

table.report2 td {
	background: #f4f4f4;
	padding: 3px;
	border: 1px #aaa solid;
	font-size: 12px;
}

table.default4 {
	margin: 5px auto 0.5em auto;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	background: #f4f4f4;
}

table.default4 td {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.default4 th {
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background: #3F8640;
	border-left: 1px solid #e0e7f7;
	border-top: 1px solid #e0e7f7;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	white-space: nowrap;
	vertical-align: bottom;
}

table.default4 td.even {
	background: #cfdccf;
	font-size: 12px;
	white-space: nowrap;
}

table.default4 td.odd {
	background: #f4f4f4;
	font-size: 12px;
	white-space: nowrap;
}

#htmldbRegion6 {
	text-align: center;
}

table.htmldbLayout {
	width: 100%;
}

td.htmldbLayout {
	padding: 0 10px;
}

.htmldbFloatBreak {
	clear: both;
	display: block;
	height: 2px;
	width: 2px;
}

.htmldbTDLeft {
	width: 100%;
	vertical-align: top;
	white-space: nowrap;
	text-align: left;
}

.htmldbTDRight {
	vertical-align: top;
	white-space: nowrap;
	text-align: right;
}

.htmldbTDRight a {
	text-decoration: none;
}

.htmldbPopupTop {
	font-size: 15px;
	white-space: nowrap;
	background: #ccc;
	border-bottom: 1px solid #000;
	padding: 2px 5px;
}

.htmldbEVArrow {
	text-align: center;
	padding: 5px;
}

table.htmldbEVGrayTable {
	border: 1px #aaa solid;
}

td.htmldbEVGrayTableData {
	background: #eee;
	font-size: 11px;
	padding: 3px;
	vertical-align: middle;
}

.htmldbGraySm {
	font-size: 11px;
	color: #999;
}

.code,.htmldbCodeXSmall, .codexsm {
	font-size: 11px;
}

a.htmldbEVRegionTitle,a.htmldbEVRegionTitle:link,a.htmldbEVRegionTitle:visited {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

.htmldbEVRegion {
	border: 1px #aaa solid;
	margin-bottom: 0;
}

.htmldbEVRegion th {
	text-align: left;
	background: #cfdccf;
	font-size: 11px;
	color: #fff;
	padding: 2px;
	vertical-align: middle;
	line-height: 18px;
}

.htmldbEVRegion td.htmldbEVRegionBody {
	background: #eee;
	font-size: 11px;
	padding: 3px;
}

.htmldbItem {
	font-size: 11px;
	padding-right: 3px;
}

a.listitem,a.listitem:link,a.listitem:visited {
	text-decoration: none;
	color: #000;
}

a.listitem:hover {
	text-decoration: underline;
	color: #f00;
}

a.xsmlink,a.xsmlink:link,a.xsmlink:visited {
	text-decoration: none;
	color: #000;
	font-size: 8pt;
}

a.xsmlink:hover {
	text-decoration: underline;
	color: red;
}

a.smWhtLk:link,a.smWhtLk:visited,a.smWhtLk:hover {
	font-size: 6pt;
	color: white;
}

a.orange:link,a.orange:visited {
	color: #811919;
}

a.orange:hover {
	color: #3f8640;
}

.subheader,.htmldbSubHeader {
	font-size: 13pt;
	font-weight: bold;
	color: #999;
}

a.subheader:link,a.subheader:visited,a.subheader:visited,a.htmldbSubHeader:link,a.htmldbSubHeader:visited,a.htmldbSubHeader:visited {
	font-size: 13pt;
	font-weight: bold;
	color: #999;
}

a.subheader:hover,a.htmldbSubHeader:hover {
	text-decoration: underline;
}

.htmldbTiny,.tiny {
	font-size: 9px;
}

.htmldbFD,.htmldbFieldData,.fielddata {
	font-size: 12px;
	color: #000;
}

.htmldbFDB,.htmldbFieldDataBold,.fielddatabold {
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

.htmldbFDS,.htmldbFieldDataSmall,.fielddatasmall {
	font-size: 8pt;
	color: #000;
}

.htmldbFDSB {
	font-size: 8pt;
	color: #000;
	font-weight: bold;
}

.htmldbFDBWhite,.htmldbFieldDataBoldWhite,.fielddataboldWhite {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

div.htmldbNBNT600 {
	width: 600px;
	margin-bottom: 30px;
	font-size: 12px;
	color: #000;
}

input.htmldbButton {
	margin: 2px 5px;
	text-align: center;
	vertical-align: middle;
	padding: 0 2px;
	font-weight: bold;
}

input.htmldbButtonPN {
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	padding: 0 2px;
	font-weight: bold;
}

input.htmldbButtonPLSQL {
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	padding: 0 2px;
	font-weight: bold;
}

.htmldbVImgMiddle {
	vertical-align: middle;
}

table.htmldbListIconHolder {
	text-align: left;
	width: 660px;
}

a.htmldbIconName:link,a.htmldbIconName:visited {
	text-decoration: none;
	color: #808080;
	font-size: 11px;
	font-weight: normal;
}

.htmldbSmallIconReport {
	vertical-align: middle;
	white-space: nowrap;
	font-size: 11px;
}

.htmldbSmallIconReport img {
	vertical-align: middle;
}

.htmldbSmallIconReport a {
	display: block;
	vertical-align: middle;
	font-size: 11px;
	margin: 4px;
}

.htmldbDisablePage {
	background: #fff;
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.htmldbToolTip {
	background: #ccc;
	font-size: 11px;
}

.htmldbInPopup {
	background: #efefef;
	padding: 4px;
	border: 1px solid #000;
}

.htmldbInvisDiv {
	background: #fff;
	-moz-opacity: 0;
	opacity: 0;
}

#h_slide {
	cursor: s-resize;
	line-height: 5px;
	height: 5px;
	background: #ccc;
}

.d1 {
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	overflow: auto;
}

.d2 {
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	overflow: auto;
}

.nodatafound {
	display: block;
	font-size: 12px;
	color: #000;
	margin: 10px;
}

.htmldbShuttle {
	white-space: nowrap;
}

.htmldbShuttle select {
	
}

.htmldbShuttle div {
	width: 20px;
	padding: 0 10px;
}

.htmldbShuttle img {
	margin: 5px 0;
}

table.htmldbRptNoBackground th,table.htmldbRptNoBackground td {
	font-size: 8pt;
	padding: 1px 3px;
}

table.htmldbRptNoBackground th {
	text-align: center;
	color: #3F8640;
	font-weight: bold;
	padding: 1px 3px;
}

#htmldbDEBUG {
	width: 800px;
	height: 80px;
}

.pb {
	cursor: pointer;
}

table.htmldbButtonList {
	font-size: 11px;
	white-space: nowrap;
	margin: 0 0 5px 0
}

table.htmldbButtonList td {
	padding: 2px 0;
	white-space: nowrap;
}

table.htmldbButtonList td a {
	background: url(../apex/builder/bg-anchor-nc.gif) repeat-x scroll 0 0;
	vertical-align: middle;
	padding: 1px 3px;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	border: 1px solid #ccc;
	text-decoration: none;
	white-space: nowrap;
}

a.htmldbButtonList,a.htmldbButtonList:visited {
	border: 1px solid #ccc;
	background: #eee;
	text-decoration: none;
	white-space: nowrap;
}

.htmldbButtonListCurrent:link,.htmldbButtonListCurrent:visited,#ALL:hover,a.htmldbButtonList:hover,a.htmldbButtonListCurrent:link {
	background: url(../apex/builder/bg-anchor-c.gif) repeat-x scroll 0 0;
	padding: 1px 3px;
	text-decoration: none;
	border: 1px solid #ccc;
	color: #fff !important;
}

#anchorList {
	font-size: 11px;
	white-space: nowrap;
	margin: 0 0 5px 0
}

#anchorList td {
	padding: 2px 0;
	white-space: nowrap;
}

#anchorList td a {
	background: url(../apex/builder/bg-anchor-nc.gif) repeat-x scroll 0 0;
	vertical-align: middle;
	padding: 1px 3px;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	border: 1px solid #ccc;
	text-decoration: none;
	white-space: nowrap;
}

#anchorList td a:visited {
	border: 1px solid #ccc;
	background: #eee;
	text-decoration: none;
	white-space: nowrap;
}

#anchorList td a.anchorCurrent:link,#anchorList td a.anchorCurrent:visited,#anchorList td a:hover {
	background: url(../apex/builder/bg-anchor-c.gif) repeat-x scroll 0 0;
	padding: 1px 3px;
	text-decoration: none;
	border: 1px solid #ccc;
	color: #fff !important;
}

table.TopBarUIFix {
	margin: 0 0 6px 0;
	empty-cells: show
}

td.TopBarUIFixL {
	white-space: nowrap;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #eeeeee;
}

td.TopBarUIFixC {
	white-space: nowrap;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #eeeeee url(../htmldb/builder/builder_find.png) no-repeat;
	background-position: center;
}

td.TopBarUIFixC a {
	display: block;
	height: 100%;
	width: 25px;
	text-decoration: none;
	cursor: help;
}

td.TopBarUIFixR {
	border: none;
	white-space: nowrap;
}

td.TopBarUIFixL *,td.TopBarUIFixR *,td.TopBarUIFixC * {
	vertical-align: middle;
}

table.TopBarUIFix .GreenBar {
	
}

table.TopBarUIFix .GreenBar td.L {
	padding: 4px;
	background-image: url(../apex/topbar_blue_bg.png);
	background-repeat: repeat-x;
	white-space: nowrap;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	border-top: #aaaaaa 1px solid;
	border-left: #aaaaaa 1px solid;
	border-bottom: #aaaaaa 1px solid;
}

table.TopBarUIFix .GreenBar td.C {
	padding: 4px;
	background-image: url(../apex/topbar_blue_bg.png);
	background-repeat: repeat-x;
	white-space: nowrap;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	border-top: #aaaaaa 1px solid;
	border-bottom: #aaaaaa 1px solid;
}

table.TopBarUIFix .GreenBar td.R {
	padding: 4px;
	background-image: url(../apex/topbar_blue_bg.png);
	background-repeat: repeat-x;
	border-top: #aaaaaa 1px solid;
	border-right: #aaaaaa 1px solid;
	border-bottom: #aaaaaa 1px solid;
}

hr.hr4150 {
	border: none;
	height: 1px;
	background: #CCC;
}

.listwithicon {
	list-style-type: none;
	margin: 0 0 0 10px;
	padding: 0;
	display: block;
}

.listwithicon li {
	
}

.listwithicon li * {
	vertical-align: middle;
	font-size: 11px;
}

.listwithicon li img {
	margin: 0 5px 0 0;
}

.listwithicon li a {
	font-size: 12px;
	display: block;
	margin: 0 0 5px 0;
	text-decoration: none;
}

.listwithicon li a:hover {
	
}

table.radiogroup td * {
	vertical-align: middle;
}

table.itemlayout {
	
}

table.itemlayout td {
	font-weight: bold;
	height: 30px;
	font-size: 12px;
	padding: 2px;
	border: 1px solid #DDDDDD;
	white-space: nowrap;
	background: #EEE;
}

table.iconlist {
	white-space: nowrap;
	margin: 2px 0 0 0;
}

table.iconlist a {
	display: block;
	margin: 0 3px 0 0;
	padding: 0;
	border: 1px solid transparent;
}

table.iconlist a:hover {
	background: #f4f4f4;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

table.iconlist a img {
	margin: 1px;
	display: block;
}

table.iconlist a.current {
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
}

#ContentArea {
	
}

.htmldbLoadingRegion {
	width: 600px;
	padding: 15px;
	text-align: center;
	font-size: 12px;
}

a.dhtmlSubMenuS,a.dhtmlSubMenuN {
	font-size: 1em;
	display: block;
	vertical-align: middle;
	line-height: 1.2em;
}

a.dhtmlSubMenuS *,a.dhtmlSubMenuN * {
	vertical-align: middle;
}

a.dhtmlSubMenuS span {
	display: block;
	font-size: 1em;
	float: left;
	/* Vertically aligning to the middle */
	line-height: 24px;
	padding-left: 2px;
}

a.dhtmlSubMenuS img {
	display: block;
	float: right;
	width: 5px;
	height: 9px;
}

.qbfun {
	width: 125px;
}

.qbfun option {
	width: 125px;
}

.vReportPlain {
	margin: 5px 0;
	width: 100%;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	border-bottom: none;
}

.vReportPlain th {
	background: #CFDCCF;
	white-space: nowrap;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
	empty-cells: show;
	font-size: 8pt;
	padding: 3px 9px;
}

.vReportPlain td {
	background: #EFEFEF;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
	empty-cells: show;
	font-size: 8pt;
	padding: 3px 9px;
}

.pagetab {
	font-size: 11px;
	text-align: right;
	padding-bottom: 5px;
	color: #fff;
}

.pagetab a {
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	font-size: 1.3em;
	margin-left: 5px;
}

a.page_tab_on {
	color: #fff;
	font-weight: bold;
}

a.page_tab_on:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

a.page_tab_off {
	color: #fff
}

a.page_tab_off:visited {
	color: #fff;
	text-decoration: none;
}

a.page_tab_off:hover {
	color: #ffffff;
	text-decoration: underline;
}

a.help_link {
	color: #fff;
	margin: 2px 8px 0 0;
	cursor: help;
	font-size: 11px;
}

.textarea_holder .formlayout,.textarea_holder {
	width: 100%;
}

.textarea_holder .formlayout textarea,.textarea_holder textarea {
	width: 100%;
}

/* Websheets */

table.wsxWizard {
	border: 1px #aaa solid;
	width: 560px;
	margin: 0 0 20px 0;
}

table.wsxWizard thead th {
	height: 44px;
	background: #ffffff;
	background-image: url(../ws/wizbg.gif);
	font-size: 12px;
	padding: 3px;
	color: #666;
}

table.wsxWizard thead th.H1 {
	color: #ffffff;
	padding: 0 0 12px 10px;
	text-align: left;
}

table.wsxWizard thead th.H2 {
	color: #ffffff;
	padding: 0 0 12px 10px;
	text-align: right;
}

table.wsxWizard td.B {
	padding: 8px;
	background: #eee;
	font-size: 12px;
}

table.wsxWizard table {
	font-size: 12px;
}

table.wsxWizard p {
	font-size: 12px;
}

.apex-ws-annotations {
	width: 100%;
	float: left;
	clear: both;
	padding: 4px;
}

.apex-ws-annotations-header {
	font-weight: bold;
}

.apex-ws-annotations-header span {
	padding: 4px;
}

.apex-ws-annotations ul {
	padding: 10px 0 0 4px;
}

.apex-ws-annotations li {
	font-size: 14px;
}

.apex-ws-annotations li a {
	padding: 4px;
	font-size: 14px;
}

.apex-ws-annotations div.sticky-note {
	float: left;
	width: 200px;
	height: 200px;
	background: url(../ws/sticky.png) no-repeat 0 0;
	padding: 10px;
}

.apex-ws-annotations div.sticky-note div.delete {
	float: right;
	padding: 0px 20px 0 0;
}

.apex-ws-annotations div.sticky-note div.header {
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 15px 40px;
}

.apex-ws-annotations div.body {
	width: 180px;
	height: 136px;
	font-size: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

.apex-ws-annotations div.body a {
	font-size: 11px;
	text-decoration: none;
}

.apex-ws-annotations div.body a:hover {
	text-decoration: underline;
}

.apex-ws-annotations div.h3 {
	font-weight: bold;
}

.sidebar-tasks div.sticky-note {
	float: left;
	width: 180px;
	height: 180px;
	background: url(../ws/sticky-180px.png) no-repeat 0 0;
	margin: 5px;
}

.sidebar-tasks div.sticky-note div.delete {
	float: right;
	padding: 10px 15px 0 0;
}

.sidebar-tasks div.sticky-note div.header {
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 15px 40px;
}

.sidebar-tasks div.body {
	width: 180px;
	height: 136px;
	font-size: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0 0 0 10px;
}

li.htmldb4150,li.htmldb4150 a {
	white-space: nowrap;
	font-size: 11px !important;
}

.apex-news {
	float: left;
	width: 600px;
	clear: both;
	border: 1px solid #cccccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 4px 0 4px 0;
	padding: 4px;
	background: #f8f8f8 url(../apex/builder/bg-announcements.gif) repeat-x scroll 0 100%;
}

.apex-news .apex-news-text {
	width: 100%;
	float: left;
	padding: 0 0 4px 0;
}

.apex-news .apex-news-created-by {
	font-size: 11px;
	float: left;
}

.apex-news .apex-news-created-on {
	font-size: 11px;
	float: right;
}

#RenderingTree li a ins {
	display: none !important;
}

#RenderingTree ul li[rel=page] > a ins {
	display: inline-block !important;
}

#RenderingTree ul li[rel=branches] > a ins {
	display: inline-block !important;
}

#RenderingTree ul li[rel=computations] > a ins {
	display: inline-block !important;
}

#RenderingTree ul li[rel=processes] > a ins {
	display: inline-block !important;
}

#RenderingTree_after_header ul li[rel=regions] > a ins {
	display: inline-block !important;
}

#RenderingTree_before_footer ul li[rel=regions] > a ins {
	display: inline-block !important;
}

#RenderingTree ul li[rel=region] > a ins {
	display: inline-block !important;
}

#RenderingTree ul li[rel=page_item] > a ins {
	display: inline-block !important;
}

#RenderingTree ul li[rel=page_item_button] > a ins {
	display: inline-block !important;
}

#RenderingTree ul li[rel=region_button] > a ins {
	display: inline-block !important;
}

#RenderingTree ul li[rel=classic_report_column] > a ins {
	display: inline-block !important;
}

#RenderingTree ul li[rel=tabform_column] > a ins {
	display: inline-block !important;
}

#ProcessingTree li a ins {
	display: none !important;
}

#ProcessingTree ul li[rel=processes] > a ins {
	display: inline-block !important;
}

#ProcessingTree ul li[rel=computations] > a ins {
	display: inline-block !important;
}

#ProcessingTree ul li[rel=validations] > a ins {
	display: inline-block !important;
}

#ProcessingTree ul li[rel=branches] > a ins {
	display: inline-block !important;
}

#SharedTree li a ins {
	display: none !important;
}

#SharedTree ul li[rel=tabs] > a ins {
	display: inline-block !important;
}

#SharedTree ul li[rel=lovs] > a ins {
	display: inline-block !important;
}

#SharedTree ul li[rel=breadcrumbs] > a ins {
	display: inline-block !important;
}

#SharedTree ul li[rel=lists] > a ins {
	display: inline-block !important;
}

#SharedTree ul li[rel=templates] > a ins {
	display: inline-block !important;
}

#SharedTree ul li[rel=securities] > a ins {
	display: inline-block !important;
}

.tree-classic li a.clicked.less_important {
	color: white
}

.tree-classic li a.less_important {
	color: #555
}

.tree-classic li a.marked {
	font-style: italic
}

#jstree-contextmenu {
	-moz-box-shadow: 2px 2px 6px #888;
	-webkit-box-shadow: 2px 2px 6px #888;
	box-shadow: 2px 2px 6px #888
}

#ProcessingTree_ajax_callbacks a ins {
	display: none !important;
}

fieldset.hierarchical_checkbox > ul {
	margin: 0;
}

fieldset.hierarchical_checkbox li {
	list-style-type: none;
}

/* Edit Link for Data Grids */

a.edit-link-pencil {
	background: url(../icon_pencil_pixel.gif) 100% 0 no-repeat;
	font: normal 14px/14px Arial, sans-serif;
	padding: 0 8px;
}

a.edit-link-pencil:hover {
	background: url(../icon_pencil_pixel.gif) 100% -30px no-repeat;
}

/* Stickies in Websheets */

div.ws-sticky {
	border: 1px solid #b8a459;
	background: #fdf99c;
	padding: 0;
	margin: 0 4px 8px 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

div.ws-sticky strong {
	font: bold 12px/18px Arial, sans-serif;
	padding: 4px;
}

div.ws-sticky a img {
	border: none;
	padding: 4px;
	float: right;
}

div.ws-sticky small {
	padding: 4px;
	font: normal 12px/12px Arial, sans-serif;
	background-color: #dac76c;
	display: block;
}

div.ws-sticky small span.ws-sticky-time {
	font: normal 11px/12px Arial, sans-serif;
	color: #5d501e;
}

div.ws-sticky small a.ws-sticky-edit {
	color: #5d501e;
	font: normal 11px/12px Arial, sans-serif;
	float: right;
}

div.ws-sticky p {
	margin: 0;
	padding: 0 4px 4px 4px;
	font: normal 12px/16px Arial, sans-serif;
}