/* tag defaults */
*{font-size:11px;font-family:Verdana  ,Arial, Helvetica, Geneva, sans-serif;}
body {font-size:11px;background-color:#083683;margin:0;padding:0;font-family:Verdana  , Arial, Helvetica, Geneva, sans-serif;background-image:url(page_background.png);background-repeat:no-repeat;}
table{empty-cells:show;}
th{white-space:nowrap;padding:0;empty-cells:show;border-collapse:collapse;}
td{empty-cells:show;border-collapse:collapse;}
a{color:#094891;font-size:11px;text-decoration:none;}
img{border:none;}

#t16PageBody{background-color:#FFF;border-left:#CCC 1px solid;border-right:#CCC 1px solid;padding:4px;}
.pageBottom{background-image:url(t16PageBotCapMiddle.png);padding:0;margin:0;}
.t16PageTopMiddle{height:8px;background-image:url(t16PageTopCapMiddle.png);color:#3c3c3b;}
.t16PageCap{margin:5px 0 0 0;}
/*Page Template*/
.t16BreadcrumbRegion {background-color:#275096;vertical-align:middle;height:26px;white-space:nowrap;}
.t16BreadcrumbRegion a{white-space:nowrap;font-weight:bold;text-decoration:none;color:#FFF;vertical-align:middle;float:left;display:block;height:26px;line-height:26px;}
.t16BreadcrumbRegion img{margin:0 4px;vertical-align:middle;float:left;display:block;}

.t16NavigationBar{white-space:nowrap;color:#FFF;vertical-align:middle;line-height:20px;height:20px;}
.t16NavigationBar span,.t16NavigationBar a:link,.t16NavigationBar a:visited{font-size:11px;text-decoration:none;line-height:20px;height:20px;margin:4px;vertical-align:middle;color:#FFF;white-space:nowrap;}

/* Button Classes */
/*hacks for table buttons*/
.t16Tab{display:-moz-inline-box;margin:0px;}

/*hacks for table buttons*/
.t16Tab .M{background-image:url(t16Tab-1-2.gif);vertical-align:middle;height:18px;line-height:18px;}
.t16Tab .M a,.t16Tab .M span{color:#FFFFFF;text-decoration:none;vertical-align:middle;height:18px;line-height:18px;display:block;font-weight:bold;}

.t16Tab .MC{background-image:url(t16TabC-1-2.gif);vertical-align:middle;height:18px;line-height:18px;}
.t16Tab .MC a,.t16Tab .MC span{color:#CCCCCC;text-decoration:none;vertical-align:middle;height:18px;line-height:18px;display:block;font-weight:bold;}

#t16MessageHolder{text-align:center;}
.t16success{margin:5px auto;font-size:12px;color:#333;background:#ddd;width:600px;background-repeat:no-repeat;padding:5px;border:1px #aaa solid;border-right:none;border-left:none;}
.t16notification{margin:5px auto;padding:5px;font-size:12px;color:#333;text-align:left;vertical-align:top;border:1px #aaa solid;border-right:none;border-left:none;background-color:#ddd;width:600px;}


.TabHolder,.TabHolderC{text-align:right;}

.t16SubTab{background-color:#6F8BB9;border-top:5px solid #275096;border-bottom:5px solid #133C82;}
.t16SubTab .M{vertical-align:middle;height:16px;line-height:16px;padding-left:4px;padding-right:4px;padding-bottom:2px;border-left:1px solid #275096;}
.t16SubTab .M a,.t16SubTab .M span{color:#FFFFFF;text-decoration:none;vertical-align:middle;height:16px;line-height:16px;display:block;font-weight:bold;}

.t16SubTab .MC{vertical-align:middle;height:16px;line-height:16px;padding-left:4px;padding-right:4px;padding-bottom:2px;border-left:1px solid #275096;}
.t16SubTab .MC a,.t16SubTab .MC span{color:#CCCCCC;text-decoration:none;vertical-align:middle;height:16px;line-height:16px;display:block;}

.t16SideBar{width:210px;background:#4167a7 url(sidebar_background.png) repeat-y;color:#FFF;}
.t16SideBarTitle{width:210px;background-color:#275096;white-space:nowrap;color:#FFF;}
.t16SideBarBottom{width:210px;background-color:#4167a7;color:#FFF;background-image:url(sidebar_background.png);}

.t16Customize{margin:5px;}
.t16Customize *{color:#FFF;}

/*Regions*/
.t16ButtonHolder{white-space:nowrap;text-align:right;}

.t16ButtonHolderL{border-top:1px solid #cecbc6;border-left:1px solid #a2a2a2;white-space:nowrap;}
.t16ButtonHolderR{border-top:1px solid #cecbc6;border-right:1px solid #a2a2a2;white-space:nowrap;}
.t16RegionHeader td,.t16RegionHeader th,.t16RegionHeader{color:#5e5e48;text-align:left;width:100%;background-image:url(t16ReportRegionCapMiddle.png);background-repeat:repeat-x;height:27px;}
.t16RegionHeaderB{color:#5e5e48;text-align:left;width:100%;background-image:url(t16ReportRegionBCapMiddle.png);background-repeat:repeat-x;height:27px;}

.t16NavigationRegion{width:210px;}
.t16NavigationRegion th{white-space:nowrap;color:#FFF;font-weight:bold;}
.t16NavigationRegion tbody{color:#FFF;}
.t16RegionBody{text-overflow:ellipsis;overflow:hidden;}
.t16RegionBody2{border-left:1px solid #315AA0;border-bottom:1px solid #315AA0;background-color:#4167A7;text-overflow:ellipsis;overflow:hidden;}

.t16NavigationRegionAlternative1 {margin:5px 0;}
.t16NavigationRegionAlternative1 .t16RegionHeader {text-align:center;background-color:#6F8BB9;background-image:none;color:#FFFFFF;}
.t16NavigationRegionAlternative1 .t16ButtonHolder {background:#6f8bb9;}
.t16NavigationRegionAlternative1 .t16RegionBody {background:#EEEEEE;border-left: 1px solid #ffffff; border-top: 1px solid #ffffff; border-bottom: 1px solid #000000; padding:4px;}

.t16SideBarRegion{border:1px solid #a2a2a2;border-top:none;margin:1px;width:200px;background-color:#eee;}
.t16SideBarRegion th, .t16SideBarRegion td{padding:5px;}

.t16ReportsRegion{width:100%;background-color:#FFF;border:1px solid transparent;}/*this is for ie graphic cutoff fix*/
.t16SideBarRegion thead th *,.t16ReportsRegion thead th *{vertical-align:middle;white-space:nowrap;}
.t16SideBarRegion th img,.t16ReportsRegion th.t16RegionHeader img{margin:0 5px 0 0;}

.RL{background:url(t16RegionLeft.png);padding:0;}
.RR{background:url(t16RegionRight.png);padding:0;}


.t16ReportsRegion tbody td.t16RegionBody {padding:2px;}
.t16ReportsRegion tbody td.t16ButtonHolder {padding:2px;}
.t16ReportsRegion tfoot td{padding:0;background-image:url(t16RegionCapBMiddle.png);background-repeat:repeat-x;}

.t16ReportsRegion tbody td.t16RegionBodyB {padding:2px;}
.t16ReportsRegion tbody td.t16ButtonHolderB {padding:2px;}

.t16ReportsRegion tbody.t16Alt1 {background-color:#EEE;}
.t16ReportsRegion tbody.t16Alt1 th img{padding-left:10px;}
.t16ReportsRegion tbody.t16Alt1 td.t16RegionBody{padding:5px;}
.t16ReportsRegion tbody.t16Borderless td.t16ButtonHolder{padding-left:12px;}
.t16ReportsRegion tbody.t16Borderless td.t16RegionBody{border:none;}
.t16ReportsRegion tbody.t16Borderless td.t16ButtonHolder{border:none;}

.t16SidebarRegionAlternative1{width:100%;background-color:#FFF;}
.t16SidebarRegionAlternative1 th{border-bottom:1px solid #a2a2a2;}

.t16ButtonRegionWithoutTitle{width:100%;margin:1px;}
.t16ButtonRegionWithoutTitle .t16ButtonHolder{border:none;}

.t16ButtonRegionWithTitle{width:100%;margin:1px;}
.t16ButtonRegionWithTitle .t16ButtonHolder{border:none;}
.t16ButtonRegionWithTitle .t16RegionHeader{border-bottom:1px solid #a2a2a2;background:none;}

.t16RegionWithoutButtonsAndTitle{border-top:1px solid #a2a2a2;margin:1px;width:100%;}

.t16RegionWithoutTitle{margin:1px;width:100%;}
.t16RegionWithoutTitle td.t16ButtonHolder{padding:5px;border:none;border-bottom:1px solid #a2a2a2;}
.t16RegionWithoutTitle td.t16RegionBody{padding:5px;border:none;border-bottom:1px solid #a2a2a2;}

.t16ReportsRegion tbody.t16Bracketed td.t16ButtonHolder{border:none;}
.t16ReportsRegion tbody.t16Bracketed td.t16RegionBody{border:none;}

tbody.t16ChartIcon td.t16RegionBody{padding-left:85px;background:url(chart.gif) no-repeat 5px 5px;}
tbody.t16ReportIcon td.t16RegionBody{padding-left:85px;background:url(report.gif) no-repeat 5px 5px;}

/* Lists Classes */
.t16ButtonList{}
.t16ButtonList a{}
.t16ButtonList .t16current{background-color:#CCCCCC;}

.t16HorizontalImageswithLabelList{}
.t16HorizontalImageswithLabelList td{padding:5px;text-align:center;}
.t16HorizontalImageswithLabelList .t16current{text-decoration:underline;font-weight:bold;}

.t16HorizontalLinksList{}
.t16HorizontalLinksList a{margin:0 3px;}
.t16HorizontalLinksList a.t16current{color:#000;text-decoration:underline;font-weight:bold;}

/*Tabbed Navigation List*/
table.t16TabbedNavigationList{border-top:1px solid #AAA;margin:0 0 15px;}
table.t16TabbedNavigationList td{background-color:#F6F6F6;white-space:nowrap;border-bottom:1px solid #AAA;padding:2px 8px;}
table.t16TabbedNavigationList td.t16LeftTabList{width:30px;background-color:#F6F6F6;border-bottom:1px solid #AAA;font-size:18px;}
table.t16TabbedNavigationList td.t16CurrentListTab{background-color:#FFF;white-space:nowrap;border-bottom:1px solid #FFF;}
table.t16TabbedNavigationList a.t16CurrentListTab{text-decoration:none;}
table.t16TabbedNavigationList a{font-size:14px;}
table.t16TabbedNavigationList td.t16SepL{border:none;background-image:url(tab_list_left_cap.gif);padding:0;}
table.t16TabbedNavigationList td.t16SepR{border:none;background-image:url(tab_list_right_cap.gif);padding:0;}
table.t16TabbedNavigationList td.t16EndCap{background-color:#F6F6F6;border-bottom:1px solid #AAA;font-size:18px;}


.t16VerticalImagesList{}
.t16VerticalImagesList img{display:block;margin:auto;}
.t16VerticalImagesList td{text-align:center;padding:4px;}
.t16VerticalImagesList .t16current{border-left:3px solid #4167a7;border-right:3px solid #4167a7;}

.t16VerticalOrderedList{}
.t16VerticalOrderedList .t16current a{text-decoration:none;color:#000;}

.t16VerticalSidebarList{}
.t16VerticalSidebarList a.t16ItemC,.t16VerticalSidebarList .t16Item:hover{background-color:#FFF;color:#000;white-space:nowrap;display:block;padding:4px 0 4px 15px;font-weight:bold;text-decoration:none;background-image:url(current_tab.gif);background-position:center left;background-repeat:no-repeat;}
.t16VerticalSidebarList a.t16Item{color:#FFF;white-space:nowrap;display:block;text-decoration:none;padding:4px 0 4px 15px;font-weight:bold;text-decoration:none;background-image:url(sidebar_list_noncurrent.gif);background-position:center left;background-repeat:no-repeat;}

.t16VerticalUnorderedListwithBullets{}
.t16VerticalUnorderedListwithBullets .t16current a{color:#000;text-decoration:none;}

.t16VerticalUnorderedLinkswithoutBullets{list-style:none;}
.t16VerticalUnorderedLinkswithoutBullets .t16current a{color:#000;text-decoration:none;}

.t16WizardProgressList{text-align:center;;background:#6F8BB9;}
.t16WizardProgressList div{border:3px solid #4167a7;padding:4px;font-weight:bold;}
.t16WizardProgressList .t16current{background:#CCDFFF;color:#000;}
.t16WizardProgressList center{color:#FFF;font-weight:bold;}
/*Reports*/

th.t16ReportHeader{text-decoration:none;font-weight:normal;padding:2px 8px;white-space:nowrap;background:#dcdcd0;font-weight:normal;font-size:10px !important;}
th.t16ReportHeader a, th.t16ReportHeader *{vertical-align:middle;font-size:10px !important;text-decoration:none;font-weight:normal;}
td.t16data{padding:2px 8px;background:#f9faf5;}
td.t16dataalt{padding:2px 8px;background:#f0f0ea;}

.t16Standard{border-left:1px solid #AAAAAA;background-color:#f9faf5}
.t16Standard th.t16ReportHeader{border:1px solid #AAAAAA;border-left:none;background-color:#dcdcd0;padding:2px;}
.t16Standard td.t16data{border:1px solid #AAAAAA;border-left:none;border-top:none;padding:2px;}

.t16Standard td.t16dataalt{border:1px solid #AAAAAA;border-left:none;border-top:none;padding:2px;background-color:#f0f0ea}

.t16Borderless {background:#fff;}
.t16Borderless th.t16ReportHeader {border:none;border-right:2px solid #FFFFFF;}
.t16Borderless td.t16data {border:none;}

.t16HorizontalBorder {background:#fff;}
.t16HorizontalBorder th.t16ReportHeader {border-bottom:1px solid #AAAAAA;}
.t16HorizontalBorder td.t16data {border-bottom:1px solid #AAAAAA;}

.t16Standard{background:#fff;}
.t16Standard th.t16ReportHeader{border:1px solid #AAAAAA;border-left:none;}
.t16Standard td.t16data{border:1px solid #AAAAAA;border-left:none;border-top:none;}

.t16StandardAlternatingRowColors{border-left:1px solid #AAAAAA;width:100%}
.t16StandardAlternatingRowColors th.t16ReportHeader{border:1px solid #AAAAAA;border-left:none;}
.t16StandardAlternatingRowColors td.t16data{border:1px solid #AAAAAA;border-left:none;border-top:none;}
.t16StandardAlternatingRowColors td.t16dataalt{border:1px solid #AAAAAA;border-left:none;border-top:none;}

.t16ValueAttributePairs {background:#fff;}
.t16ValueAttributePairs th.t16ReportHeader{text-align:left;border:1px solid #AAAAAA;border-right:none;border-bottom:none;}
.t16ValueAttributePairs td.t16data{border:1px solid #AAAAAA;border-bottom:none;}
.t16ValueAttributePairs td.t16seperate{border-top:1px solid #AAAAAA;}
.t16ValueAttributePairs td.t16seperate hr{height:2px;color:#AAAAAA;background-color:#AAAAAA;}

.t16OneColumnUnorderedList{}

/* Button Classes */
/*hacks for table buttons*/
.t16Button td {padding:0;}
.t16Button{display:-moz-inline-box;margin:2px;}
/*hacks for table buttons*/
.t16Button .M{background-image:url(t16Button1Middle.gif);vertical-align:middle;height:18px;line-height:18px;white-space:nowrap}
.t16Button .M a{text-decoration:none;vertical-align:middle;height:18px;line-height:18px;display:block;}
.t16Button .MC{background-image:url(t16ButtonC1Middle.gif);vertical-align:middle;height:18px;line-height:18px;}
.t16Button .MC a{text-decoration:none;vertical-align:middle;height:18px;line-height:18px;display:block;color:#FFF;font-weight:bold;}

.t16Button1 td {padding:0;}
.t16Button1{display:-moz-inline-box;margin:2px;}
.t16Button1 .M{background-image:url(t16ButtonC1Middle.gif);vertical-align:middle;height:18px;line-height:18px;white-space:nowrap}
.t16Button1 .M a{text-decoration:none;vertical-align:middle;height:18px;line-height:18px;display:block;color:#FFFFFF;}

.t16Button2 td {padding:0;}
.t16Button2{display:-moz-inline-box;margin:2px;}
.t16Button2 .M{background-image:url(t16Button2Middle.gif);vertical-align:middle;height:18px;line-height:18px;white-space:nowrap}
.t16Button2 .M a{text-decoration:none;vertical-align:middle;height:18px;line-height:18px;display:block;color:#FFFFFF;}

.t16Button3 td {padding:0;}
.t16Button3{display:-moz-inline-box;margin:2px;}
.t16Button3 .M{background-image:url(t16Button3Middle.gif);vertical-align:middle;height:18px;line-height:18px;white-space:nowrap}
.t16Button3 .M a{text-decoration:none;vertical-align:middle;height:18px;line-height:18px;display:block;color:#000000;}



/* Labels Classes */
.t16NoLabel{font-size:11px;white-space:nowrap;}
a.t16OptionalLabelwithHelp,.t16OptionalLabel{font-size:11px;white-space:nowrap;}
a.t16RequiredLabelwithHelp,.t16RequiredLabel{font-size:11px;white-space:nowrap;}
a.t16OptionalLabelwithHelp,a.t16RequiredLabelwithHelp{cursor:help;}

.t16InlineError {text-decoration:underline;color:red;}
.t16InlineError span{text-decoration:underline;color:red;}
.t16InlineError a{text-decoration:underline;color:red;}
.t16InlineError a:hover{text-decoration:underline;color:red;}
.t16InlineError a:visited{text-decoration:underline;color:red;}

/*Calendars*/
.t16CalendarHolder{width:100%;margin:0 0 15px 0;}
.t16CalendarHolder td{padding:3px;}
.t16CalendarHolder .t16MonthTitle{text-align:center;padding:5px;color:#666666;font-weight:bold;font-size:16px;}
.t16Calendar {width:100%;border:1px solid #999999;background-color:#CCCCCC;}
.t16Calendar .t16DayOfWeek{padding:3px;font-size:12px;}
.t16Calendar td{height:75px;width:14%;border-top:1px solid #AAAAAA;border-left:1px solid #AAAAAA;border-right:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF;vertical-align:top;background-color:#FFFFFF;padding:2px;}
.t16Calendar .t16DayTitle{text-align:right;font-size:12px;font-weight:bold;}
.t16Calendar .t16Day{vertical-align:top;}
.t16Calendar .t16NonDayTitle{color:#eeeeee;text-align:right;font-size:12px;font-weight:bold;}
.t16Calendar .t16NonDay{background-color:#EFEFEF;}
.t16Calendar .t16WeekendDayTitle{color:#FFFFFF;background-color:#CCCCCC;text-align:right;font-size:12px;font-weight:bold;}
.t16Calendar .t16WeekendDay{background-color:#CCCCCC}
.t16Calendar .t16Today{background-color:#FDF9CE;border-top:1px solid #AAAAAA;border-left:1px solid #AAAAAA;border-right:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF;}
.t163Calendar .t16Today .t16DayTitle{color:#000000;text-align:right;font-size:12px;font-weight:bold;}

.t16WeekCalendarHolder{width:100%;margin:0 0 15px 0;}
.t16WeekCalendarHolder td{padding:3px;}
.t16WeekCalendarHolder .t16MonthTitle{text-align:center;padding:5px;color:#666666;font-weight:bold;font-size:16px;}
.t16WeekCalendar {width:100%;border:1px solid #999999;background-color:#CCCCCC;border-top:1px solid #AAAAAA;border-left:1px solid #AAAAAA;}
.t16WeekCalendar .t16DayOfWeek{padding:3px;font-size:12px;background-color:#CCCCCC;}
.t16WeekCalendar td,.t16WeekCalendar th{height:35px;width:14%;border-top:1px solid #AAAAAA;border-left:1px solid #AAAAAA;border-right:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF;vertical-align:top;background-color:#FFFFFF;padding:2px;}
.t16WeekCalendar .t16DayTitle{text-align:right;font-size:12px;font-weight:bold;}
.t16WeekCalendar .t16Day{vertical-align:top;}
.t16WeekCalendar .t16NonDayTitle{color:#eeeeee;text-align:right;font-size:12px;font-weight:bold;}
.t16WeekCalendar .t16NonDay{background-color:#EFEFEF;}
.t16WeekCalendar .t16WeekendDayTitle{color:#FFFFFF;background-color:#CCCCCC;text-align:right;font-size:12px;font-weight:bold;}
.t16WeekCalendar .t16WeekendDay{background-color:#CCCCCC}
.t16WeekCalendar .t16Today{background-color:#FDF9CE;border-top:1px solid #AAAAAA;border-left:1px solid #AAAAAA;border-right:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF;}
.t16WeekCalendar .t16Today .t16DayTitle{color:#000000;text-align:right;font-size:12px;font-weight:bold;}
.t16WeekCalendar .t16Hour{width:40px;height:40px;background-color:#CCCCCC;text-align:center;}
.t16WeekCalendar .t16HourTitle{width:40px;height:40px;border:1px solid #666666;background-color:#CCCCCC;text-align:center;}


.t16DayCalendarHolder{width:100%;margin:0 0 15px 0;}
.t16DayCalendarHolder td{padding:3px;}
.t16DayCalendarHolder .t16MonthTitle{text-align:center;padding:5px;color:#666666;font-weight:bold;font-size:16px;}
.t16DayCalendar {width:100%;border:1px solid #999999;background-color:#CCCCCC;border-top:1px solid #AAAAAA;border-left:1px solid #AAAAAA;}
.t16DayCalendar .t16DayOfWeek{padding:3px;font-size:12px;background-color:#CCCCCC;}
.t16DayCalendar td,.t16DayCalendar th{height:35px;width:100%;border-top:1px solid #AAAAAA;border-left:1px solid #AAAAAA;border-right:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF;vertical-align:top;background-color:#FFFFFF;padding:2px;}
.t16DayCalendar .t16DayTitle{text-align:right;font-size:12px;font-weight:bold;}
.t16DayCalendar .t16Day{vertical-align:top;}
.t16DayCalendar .t16NonDayTitle{color:#eeeeee;text-align:right;font-size:12px;font-weight:bold;}
.t16DayCalendar .t16NonDay{background-color:#EFEFEF;}
.t16DayCalendar .t16WeekendDayTitle{color:#FFFFFF;background-color:#CCCCCC;text-align:right;font-size:12px;font-weight:bold;}
.t16DayCalendar .t16WeekendDay{background-color:#CCCCCC}
.t16DayCalendar .t16Today{background-color:#FDF9CE;border-top:1px solid #AAAAAA;border-left:1px solid #AAAAAA;border-right:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF;}
.t16DayCalendar .t16Today .t16DayTitle{color:#000000;text-align:right;font-size:12px;font-weight:bold;}
.t16DayCalendar .t16Hour{width:40px;height:40px;background-color:#CCCCCC;text-align:center;}
.t16DayCalendar .t16HourTitle{width:40px;height:40px;border:1px solid #666666;background-color:#CCCCCC;text-align:center;}


.t16CalendarAlternative1Holder{}
.t16CalendarAlternative1Holder .t16MonthTitle{text-align:center;font-size:20px;color:#6F8BB9;font-weight:bold}
.t16CalendarAlternative1 {border-top:1px solid #808080;border-left:1px solid #808080;}
.t16CalendarAlternative1 .t16DayOfWeek{padding:3px;color:#FFFFFF;background-color:#6F8BB9;border-right:1px solid #808080;}
.t16CalendarAlternative1 td{padding:3px;width:100px;height:100px;}
.t16CalendarAlternative1 .t16DayTitle{font-weight:bold;text-align:right;float:left;margin-right:5px;}
.t16CalendarAlternative1 .t16Day{border-right:1px solid #808080;margin-right:5px;color:#000000;border-bottom:1px solid #808080;vertical-align:top;}
.t16CalendarAlternative1 .t16NonDayTitle{font-weight:bold;text-align:right;float:left;margin-right:5px;color:#FFFFFF;}
.t16CalendarAlternative1 .t16NonDay{border-right:1px solid #808080;margin-right:5px;color:#FFFFFF;border-bottom:1px solid #808080;}
.t16CalendarAlternative1 .t16WeekendDayTitle{font-weight:bold;text-align:right;float:left;}
.t16CalendarAlternative1 .t16WeekendDay{background-color:#EEEEEE;border-right:1px solid #808080;margin-right:5px;color:#000000;border-bottom:1px solid #808080;}
.t16CalendarAlternative1 .t16Today{vertical-align:top;vertical-align:top;background-color:#FDF9CE;border-right:1px solid #808080;border-bottom:1px solid #808080}
.t16CalendarAlternative1 .t16Today .t16DayTitle{vertical-align:top;color:#000000;}

.t16WeekCalendarAlternative1Holder{}
.t16WeekCalendarAlternative1Holder .t16MonthTitle{text-align:center;font-size:20px;color:#6F8BB9;font-weight:bold}
.t16WeekCalendarAlternative1 {border-top:1px solid #808080;border-left:1px solid #808080;}
.t16WeekCalendarAlternative1 .t16DayOfWeek{padding:3px;color:#FFFFFF;background-color:#6F8BB9;border-right:1px solid #808080;}
.t16WeekCalendarAlternative1 td,.t16WeekCalendarAlternative1 th{padding:3px;width:100px;height:40px;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16WeekCalendarAlternative1 .t16DayTitle{font-weight:bold;text-align:right;float:left;margin-right:5px;}
.t16WeekCalendarAlternative1 .t16Day{border-right:1px solid #808080;margin-right:5px;color:#000000;border-bottom:1px solid #808080;vertical-align:top;}
.t16WeekCalendarAlternative1 .t16NonDayTitle{font-weight:bold;text-align:right;float:left;margin-right:5px;color:#FFFFFF;}
.t16WeekCalendarAlternative1 .t16NonDay{background-color:#EEEEEE;border-right:1px solid #808080;margin-right:5px;color:#FFFFFF;border-bottom:1px solid #808080;}
.t16WeekCalendarAlternative1 .t16WeekendDayTitle{font-weight:bold;text-align:right;float:left;}
.t16WeekCalendarAlternative1 .t16WeekendDay{background-color:#EEEEEE;border-right:1px solid #808080;margin-right:5px;color:#000000;border-bottom:1px solid #808080;}
.t16WeekCalendarAlternative1 .t16Today{vertical-align:top;vertical-align:top;background-color:#FDF9CE;border-right:1px solid #808080;border-bottom:1px solid #808080}
.t16WeekCalendarAlternative1 .t16Today .t16DayTitle{vertical-align:top;color:#000000;}
.t16WeekCalendarAlternative1 .t16Hour{width:40px;height:40px;background-color:#6F8BB9;color:#FFFFFF;}
.t16WeekCalendarAlternative1 .t16HourTitle{width:40px;height:40px;background-color:#6F8BB9;color:#FFFFFF;}

.t16DayCalendarAlternative1Holder{}
.t16DayCalendarAlternative1Holder .t16MonthTitle{text-align:center;font-size:20px;color:#6F8BB9;font-weight:bold}
.t16DayCalendarAlternative1 {border-top:1px solid #808080;border-left:1px solid #808080;}
.t16DayCalendarAlternative1 .t16DayOfWeek{padding:3px;color:#FFFFFF;background-color:#6F8BB9;border-right:1px solid #808080;}
.t16DayCalendarAlternative1 td,.t16DayCalendarAlternative1 th{padding:3px;width:700px;height:40px;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16DayCalendarAlternative1 .t16DayTitle{font-weight:bold;text-align:right;float:left;margin-right:5px;}
.t16DayCalendarAlternative1 .t16Day{border-right:1px solid #808080;margin-right:5px;color:#000000;border-bottom:1px solid #808080;vertical-align:top;}
.t16DayCalendarAlternative1 .t16NonDayTitle{font-weight:bold;text-align:right;float:left;margin-right:5px;color:#FFFFFF;}
.t16DayCalendarAlternative1 .t16NonDay{background-color:#EEEEEE;border-right:1px solid #808080;margin-right:5px;color:#FFFFFF;border-bottom:1px solid #808080;}
.t16DayCalendarAlternative1 .t16WeekendDayTitle{font-weight:bold;text-align:right;float:left;}
.t16DayCalendarAlternative1 .t16WeekendDay{background-color:#EEEEEE;border-right:1px solid #808080;margin-right:5px;color:#000000;border-bottom:1px solid #808080;}
.t16DayCalendarAlternative1 .t16Today{vertical-align:top;vertical-align:top;background-color:#FDF9CE;border-right:1px solid #808080;border-bottom:1px solid #808080}
.t16DayCalendarAlternative1 .t16Today .t16DayTitle{vertical-align:top;color:#000000;}
.t16DayCalendarAlternative1 .t16Hour{width:40px;height:40px;background-color:#6F8BB9;color:#FFFFFF;}
.t16DayCalendarAlternative1 .t16HourTitle{width:40px;height:40px;background-color:#6F8BB9;color:#FFFFFF;}


.t16SmallCalenderHolder{}
.t16SmallCalenderHolder .t16MonthTitle{color:#FFFFFF;background-color:#6184C2;text-align:center;font-weight:bold;border-top:1px solid #808080;border-left:1px solid #808080;border-right:1px solid #808080;padding:2px;margin:1px 1px 1px 1px;}
.t16SmallCalender {border-left:1px solid #808080;border-top:1px solid #808080;}
.t16SmallCalender td{width:40px;height:40px;}
.t16SmallCalender .t16Day{background-color:#FFFFFF;vertical-align:top;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallCalender .t16DayOfWeek{background-color:#DDDDDD;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallCalender .t16NonDayTitle{color:#CCCCCC;background-color:#FFFFFF;}
.t16SmallCalender .t16NonDay{border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallCalender .t16WeekendDayTitle{color:#000000;background-color:#EEEEEE;}
.t16SmallCalender .t16WeekendDay{background-color:#EEEEEE;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallCalender .t16Today{font-weight:bold;vertical-align:top;background-color:#FDF9CE;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallCalender .t16Today .t16DayTitle{vertical-align:top;background-color:#FDF9CE;color:#000000;}

.t16SmallWeekCalendarHolder{}
.t16SmallWeekCalendarHolder .t16MonthTitle{color:#FFFFFF;background-color:#6184C2;text-align:center;font-weight:bold;border-top:1px solid #808080;border-left:1px solid #808080;border-right:1px solid #808080;padding:2px;margin:1px 1px 1px 1px;}
.t16SmallWeekCalendar {border-left:1px solid #808080;border-top:1px solid #808080;}
.t16SmallWeekCalendar td,.t16SmallWeekCalendar th{width:40px;height:20px;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallWeekCalendar .t16Day{background-color:#FFFFFF;vertical-align:top;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallWeekCalendar .t16DayOfWeek{background-color:#DDDDDD;border-right:1px solid #808080;border-bottom:1px solid #808080;font-size:10px;font-weight:bold;}
.t16SmallWeekCalendar .t16NonDayTitle{color:#CCCCCC;background-color:#FFFFFF;}
.t16SmallWeekCalendar .t16NonDay{background-color:#EEEEEE;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallWeekCalendar .t16WeekendDayTitle{color:#000000;background-color:#EEEEEE;}
.t16SmallWeekCalendar .t16WeekendDay{background-color:#EEEEEE;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallWeekCalendar .t16Today{font-weight:bold;vertical-align:top;background-color:#FDF9CE;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallWeekCalendar .t16Today .t16DayTitle{vertical-align:top;background-color:#FDF9CE;color:#000000;}
.t16SmallWeekCalendar .t16Hour{width:40px;height:40px;background-color:#DDDDDD;color:#000000;font-size:10px;font-weight:bold;}
.t16SmallWeekCalendar .t16HourTitle{width:40px;height:20px;background-color:#DDDDDD;color:#000000;font-size:10px;font-weight:bold;}

.t16SmallDayCalendarHolder{}
.t16SmallDayCalendarHolder .t16MonthTitle{color:#FFFFFF;background-color:#6184C2;text-align:center;font-weight:bold;border-top:1px solid #808080;border-left:1px solid #808080;border-right:1px solid #808080;padding:2px;margin:1px 1px 1px 1px;}
.t16SmallDayCalendar {border-left:1px solid #808080;border-top:1px solid #808080;}
.t16SmallDayCalendar td,.t16SmallDayCalendar th{width:350px;height:20px;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallDayCalendar .t16Day{background-color:#FFFFFF;vertical-align:top;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallDayCalendar .t16DayOfWeek{background-color:#DDDDDD;border-right:1px solid #808080;border-bottom:1px solid #808080;font-size:10px;font-weight:bold;}
.t16SmallDayCalendar .t16NonDayTitle{color:#CCCCCC;background-color:#FFFFFF;}
.t16SmallDayCalendar .t16NonDay{background-color:#EEEEEE;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallDayCalendar .t16WeekendDayTitle{color:#000000;background-color:#EEEEEE;}
.t16SmallDayCalendar .t16WeekendDay{background-color:#EEEEEE;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallDayCalendar .t16Today{font-weight:bold;vertical-align:top;background-color:#FDF9CE;border-right:1px solid #808080;border-bottom:1px solid #808080;}
.t16SmallDayCalendar .t16Today .t16DayTitle{vertical-align:top;background-color:#FDF9CE;color:#000000;}
.t16SmallDayCalendar .t16Hour{width:40px;height:40px;background-color:#DDDDDD;color:#000000;font-size:10px;font-weight:bold;}
.t16SmallDayCalendar .t16HourTitle{width:40px;height:20px;background-color:#DDDDDD;color:#000000;font-size:10px;font-weight:bold;}


div.dhtmlMenuLG{white-space:nowrap;clear:both;}


/* DHTML */
div.dhtmlMenuLG{white-space:nowrap;clear:both;}
div.dhtmlMenuLG div.dhtmlMenuItem{text-align:center;float:left;margin:0px 15px 0px 0px;}
div.dhtmlMenuLG a.dhtmlBottom{text-decoration:none;display:block;font-size:12px;margin:0px 5px;font-weight:bold;}
div.dhtmlMenuLG img.dhtmlMenu{}
div.dhtmlMenuLG div.htmldbBKHolder{float:left;}
div.dhtmlMenuLG img.dhtmlMenuOn{}

ul.dhtmlTree {list-style:none;}
ul.dhtmlTree li{padding:2px 0;vertical-align:middle;}
ul.dhtmlTree li img{margin:0 4px;vertical-align:middle;}

.dhtmlSubMenu {background-color: #FFFFFF;font-size: 11px;width: 200px;border:1px solid #b7b7b7;list-style-type : none;margin:0em;padding-left:0em;}
.dhtmlSubMenu li{margin:0em;padding-left:0em;}
.dhtmlMenuSep{text-align:center;}
img.dhtmlMenuSep{display:block; margin:auto; width:80%;border:1px solid #efefef; height:1px; background-color:#CCCCCC; }
.dhtmlSubMenu img.dhtmlSep {width:180px;height:1px;}
.dhtmlSubMenu .htmldbMIMG {vertical-align:middle;float:right}
.dhtmlSubMenu .dhtmlSubMenuP {text-align:center;color: #808080;padding: 3px;border-bottom:#CCCCCC 1px solid;padding:0px 8px;text-decoration: none;white-space: nowrap;font-weight:bold;margin:1px;}
.dhtmlSubMenu a.dhtmlSubMenuN {border:1px solid #efefef;color:#808080;display:block;font-weight:normal;padding:3px 8px;text-decoration: none;		white-space: nowrap;		margin:1px;		height:1%;		overflow:hidden;	}
.dhtmlSubMenu a.dhtmlSubMenuN:hover {background-color:#DDDDDD;border:1px solid black;color:#000000;padding:3px 8px;margin:1px;}
.dhtmlSubMenu a.dhtmlSubMenuS {border:1px solid #efefef;color:#808080;display:block;font-weight:normal;padding:3px 8px;	text-decoration: none;		white-space: nowrap;		margin:1px;		height:1%;		overflow:hidden;	}
.dhtmlSubMenu a.dhtmlSubMenuS:hover {background-color:#DDDDDD;border:1px solid #000000;		color: #000000;		display: block;		font-weight: normal;		padding:3px 8px;		margin:1px;	}

.dhtmlMenuLG2 li a{float:left;}


.dhtmlMenuLG2{list-style-type:none;padding:0;margin:0;vertical-align:middle;white-space:nowrap;}
.dhtmlMenuLG2 *{float:left;text-decoration:none;display:block;line-height:25px;height:25px;vertical-align:middle;white-space:nowrap;}
.dhtmlMenuLG2 li{background-image:url(../menu_small_m.gif);}
.dhtmlMenuLG2 li.dhtmlMenuItem{margin:0 4px 0 0;} 
.dhtmlMenuLG2 li.dhtmlMenuItem a{padding:0 4px;}

.dhtmlMenuLG2 li.dhtmlMenuItem1{margin:0 4px 0 0;}  
.dhtmlMenuLG2 li.dhtmlMenuItem1 a{padding:0 4px;margin:0 4px 0 0;}
.dhtmlMenuLG2 li.dhtmlMenuItem1 img{margin:0 2px 0 0;}

.dhtmlSubMenu2 {background-color: #eee;font-size: 11px;width: 200px;border:1px solid #b7b7b7;list-style-type : none;margin:0em;padding-left:0em;}
.dhtmlSubMenu2 li{margin:0em;padding-left:0em;}
.dhtmlMenuSep2{text-align:center;}
img.dhtmlMenuSep2{display:block; margin:auto; width:80%;border:1px solid #efefef; height:1px; background-color:#ccc; }
.dhtmlSubMenu2 img.dhtmlSep {width:180px;height:1px;}
.dhtmlSubMenu2 .t16MIMG {vertical-align:middle;float:right}
.dhtmlSubMenu2 .dhtmlSubMenuP {background-color:#ddd;text-align:center;color: #808080;border-bottom:#ccc 1px solid;padding:3px 8px;text-decoration: none;white-space: nowrap;font-weight:bold;}
.dhtmlSubMenu2 a.dhtmlSubMenuN:link,.dhtmlSubMenu2 a.dhtmlSubMenuN:visited {color:#808080;display:block;font-weight:normal;padding:3px 8px;text-decoration:none;white-space:nowrap;height:1%;overflow:hidden;}
.dhtmlSubMenu2 a.dhtmlSubMenuN:hover {background-color:#ddd;color:#000;}
.dhtmlSubMenu2 a.dhtmlSubMenuS:link,.dhtmlSubMenu2 a.dhtmlSubMenuS:visited {color:#808080;display:block;font-weight:normal;padding:3px 8px;text-decoration:none;white-space:nowrap;height:1%;overflow:hidden;}
.dhtmlSubMenu2 a.dhtmlSubMenuS:hover {background-color:#ddd;color: #000;}




.pb,.pseudoButtonInactive,.pseudoButtonActive{cursor:pointer;}




.t16BottomRight{background-color:#4167A7;background-image:url(sidebar_bottom_cap.gif);background-repeat:no-repeat;background-position: bottom right;}


.t16NavBodySpace{background-color:#083683;width:6px;}

.t16LeftTabs{border-top:2px solid #839fcd;border-bottom:1px solid #275096;}




body.popuplov{background-color:#FFFFFF;margin:5px;background-image:none;}
body.popuplov a{font-size:1.1em;padding:2px;}
body.popuplov a:hover{text-decoration:underline;}