HTML {
	MIN-WIDTH: 600px; MAX-WIDTH: 800px
}
BODY {
	FONT-SIZE: small; COLOR: #333; FONT-FAMILY: verdana,sans-serif; voice-family: inherit
}
DIV {
	FONT-SIZE: small; COLOR: #333; FONT-FAMILY: verdana,sans-serif; voice-family: inherit
}
TD {
	FONT-SIZE: small; COLOR: #333; FONT-FAMILY: verdana,sans-serif; voice-family: inherit
}
TH {
	FONT-SIZE: small; COLOR: #333; FONT-FAMILY: verdana,sans-serif; voice-family: inherit
}
H2 {
	FONT-SIZE: small; COLOR: #333; FONT-FAMILY: verdana,sans-serif; voice-family: inherit
}
H3 {
	FONT-SIZE: small; COLOR: #333; FONT-FAMILY: verdana,sans-serif; voice-family: inherit
}
H4 {
	FONT-SIZE: small; COLOR: #333; FONT-FAMILY: verdana,sans-serif; voice-family: inherit
}
.clearhack {
	DISPLAY: inline
}
BODY {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3em; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 1em
}
A {
	COLOR: #cc3300; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600
}
A:active {
	COLOR: #000
}
A:visited {
	COLOR: #cc3300
}
P {
	LINE-HEIGHT: 140%
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
.bold_indent {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-LEFT: 35px
}
.checkboxtext {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-LEFT: 35px
}
.button {
	MARGIN-TOP: 10px; FONT-SIZE: 85%; MARGIN-LEFT: 15px
}
.preftext {
	FONT-SIZE: 88%
}
H1 {
	FONT-WEIGHT: bold; COLOR: #333; FONT-FAMILY: verdana,sans-serif
}
H2 {
	FONT-WEIGHT: bold; COLOR: #333; FONT-FAMILY: verdana,sans-serif
}
H1 {
	FONT-SIZE: 180%; MARGIN: 0px
}
H1 A {
	COLOR: #333; TEXT-DECORATION: none
}
H1 A:hover {
	COLOR: #000; BORDER-BOTTOM: #666 1px dotted
}
H2 {
	FONT-SIZE: 140%; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #cc3300
}
H3 {
	PADDING-BOTTOM: 0px; COLOR: #336600
}
H4 {
	FONT-SIZE: 88%; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 12px
}
H4 A {
	FONT-SIZE: 80%
}
H5 {
	FONT-SIZE: 86%; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #336600; PADDING-TOP: 20px
}
H6 {
	FONT-SIZE: 90%; COLOR: #336600; LINE-HEIGHT: 130%; PADDING-TOP: 4px; FONT-FAMILY: verdana,sans-serif
}
.jswarning {
	BORDER-RIGHT: #e8ccb8 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e8ccb8 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 4px; FONT-SIZE: 75%; BACKGROUND: #cc3300; PADDING-BOTTOM: 4px; BORDER-LEFT: #e8ccb8 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #e8ccb8 1px solid; FONT-FAMILY: verdana,sans-serif; FONT-COLOR: #000000
}
.yellowsub {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; COLOR: #ff6600
}
.subhead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 84%; PADDING-BOTTOM: 3px; COLOR: #333333; PADDING-TOP: 0px
}
#pageheaderleft {
	BACKGROUND: url(https://cap-app-test1.caltech.edu/res/img/header-left.gif) no-repeat 0px 0px; WIDTH: 70%; HEIGHT: 80px
}
#pageheaderright {
	BACKGROUND: url(https://cap-app-test1.caltech.edu/res/img/header-right.gif) no-repeat 100% 0%; WIDTH: 100%; HEIGHT: 80px; TEXT-ALIGN: center
}
#footer {
	PADDING-RIGHT: 0px; MARGIN-TOP: 20px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 12px; WIDTH: 700px; COLOR: #333333; PADDING-TOP: 0px; FONT-FAMILY: verdana,sans-serif; POSITION: relative; HEIGHT: 80px
}
#footer_address {
	PADDING-RIGHT: 55px; PADDING-LEFT: 60px; FONT-SIZE: 85%; PADDING-BOTTOM: 30px; COLOR: #333; PADDING-TOP: 9px; BACKGROUND-COLOR: #ffffff; text-valign: MIDDLE
}
#footer_logo {
	DISPLAY: block; BACKGROUND: url(https://cap-app-test1.caltech.edu/res/img/footer.gif) #ffffff no-repeat 0px 0px; WIDTH: 50px; CURSOR: hand; POSITION: absolute; TOP: 0px; HEIGHT: 50px
}
#imss_logo {
	DISPLAY: block; BACKGROUND: url(https://cap-app-test1.caltech.edu/res/img/IMSS_footer2.JPG) #ffffff no-repeat 0px 10px; LEFT: 590px; WIDTH: 97px; CURSOR: hand; POSITION: absolute; TOP: 0px; HEIGHT: 50px
}
.container {
	WIDTH: 90%; POSITION: absolute; HEIGHT: 80px
}
P.note {
	BORDER-RIGHT: #e8ccb8 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e8ccb8 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 4px; FONT-SIZE: 75%; BACKGROUND: #e6e1af; PADDING-BOTTOM: 4px; BORDER-LEFT: #e8ccb8 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #e8ccb8 1px solid; FONT-FAMILY: verdana,sans-serif
}
.noteSub {
	TEXT-INDENT: 15px
}
.profilearea {
	BORDER-RIGHT: #bdccae 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #bdccae 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f5ffe2; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; BORDER-LEFT: #bdccae 1px solid; WIDTH: 60em; PADDING-TOP: 5px; BORDER-BOTTOM: #bdccae 1px solid; BORDER-COLLAPSE: collapse
}
.profilearea2 {
	BORDER-RIGHT: #bdccae 1px solid; BORDER-TOP: #bdccae 1px solid; PADDING-LEFT: 20px; BACKGROUND: #f5ffe2; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 20px; BORDER-LEFT: #bdccae 1px solid; WIDTH: 500px; BORDER-BOTTOM: #bdccae 1px solid; BORDER-COLLAPSE: collapse
}
.indexTable1 {
	BORDER-RIGHT: #bdccae 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #bdccae 1px solid; PADDING-LEFT: 10px; BACKGROUND: #f5ffe2; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 3px; MARGIN-LEFT: 0px; BORDER-LEFT: #bdccae 1px solid; WIDTH: 20em; PADDING-TOP: 0px; BORDER-BOTTOM: #bdccae 1px solid; BORDER-COLLAPSE: collapse
}
.indexTable {
	BORDER-RIGHT: #bdccae 1px solid; BORDER-TOP: #bdccae 1px solid; BACKGROUND: #f5ffe2; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 0px; BORDER-LEFT: #bdccae 1px solid; WIDTH: 30em; BORDER-BOTTOM: #bdccae 1px solid; BORDER-COLLAPSE: collapse
}
.profileTableNoPad {
	MARGIN-BOTTOM: 8px; MARGIN-LEFT: 5px
}
.profileTable {
	BORDER: #bdccae 1px solid;BACKGROUND: #f5ffe2; 
}
.profileTable2 {
	BORDER-RIGHT: #bdccae 1px solid; BORDER-TOP: #bdccae 1px solid; BACKGROUND: #f5ffe2; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 20px; BORDER-LEFT: #bdccae 1px solid; BORDER-BOTTOM: #bdccae 1px solid; BORDER-COLLAPSE: collapse
}
.profileTable2 TH {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND: #369f64; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 20px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #ffffff; TEXT-INDENT: 5px; BORDER-BOTTOM: #ffffff 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
.profileTable2 TD {
	BORDER-RIGHT: #99b0cc 1px solid; BORDER-TOP: #99b0cc 1px solid; BACKGROUND: #edffed; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 20px; BORDER-LEFT: #99b0cc 1px solid; TEXT-INDENT: 5px; BORDER-BOTTOM: #99b0cc 1px solid; BORDER-COLLAPSE: collapse
}
.profileTable editable {
	BACKGROUND: #f5ffe2; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 20px; BORDER-COLLAPSE: collapse
}
.profilePhoto {
	BORDER-RIGHT: #bdccae 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #bdccae 1px solid; PADDING-LEFT: 2px; BACKGROUND: #f5ffe2; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 20px; BORDER-LEFT: #bdccae 1px solid; WIDTH: 12em; PADDING-TOP: 12px; BORDER-BOTTOM: #bdccae 1px solid; BORDER-COLLAPSE: collapse
}
.profileTable TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; MARGIN: 0px; VERTICAL-ALIGN: top; LINE-HEIGHT: 13px; PADDING-TOP: 0.5em;
}
.profileTableNoPad TD {
	FONT-SIZE: 75%; PADDING-BOTTOM: 3px; MARGIN: 0px; VERTICAL-ALIGN: top; LINE-HEIGHT: 13px; PADDING-TOP: 0px
}
.first_row {
	WIDTH: 500px; BORDER-BOTTOM: #bdccae 1px solid; TEXT-ALIGN: right
}
.last_row {
	BORDER-TOP: #bdccae 1px solid
}
.tip {
	CURSOR: default
}
.profileTable .label {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; BACKGROUND: #f5ffe2; PADDING-BOTTOM: 0.5em; VERTICAL-ALIGN: top;  WIDTH: 200px; COLOR: #333333; PADDING-TOP: 0.5em; TEXT-ALIGN: right
}
.profileTable .data {
	 PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #f5ffe2; PADDING-BOTTOM: 0.5em; VERTICAL-ALIGN: top; WIDTH: 300px; COLOR: black; PADDING-TOP: 0.5em
}

.profileTable .confirm-left {
	PADDING-RIGHT: 2em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; BACKGROUND: #f5ffe2; PADDING-BOTTOM: 0.5em; VERTICAL-ALIGN: top; BORDER-LEFT: #bdccae 1px solid; WIDTH: 180px; COLOR: #333333; PADDING-TOP: 0.5em; TEXT-ALIGN: right
}
.profileTable .confirm-middle {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #f5ffe2; PADDING-BOTTOM: 0.5em; VERTICAL-ALIGN: top; WIDTH: 150px; COLOR: black; PADDING-TOP: 0.5em
}
.profileTable .confirm-right {
	BORDER-RIGHT: #bdccae 1px solid; PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #f5ffe2; PADDING-BOTTOM: 0.5em; VERTICAL-ALIGN: top; WIDTH: 20px; COLOR: black; PADDING-TOP: 0.5em
}
.profileTable .twocol {
	BORDER-RIGHT: #bdccae 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; BACKGROUND: #f5ffe2; PADDING-BOTTOM: 1em; BORDER-LEFT: #bdccae 1px solid; WIDTH: 500px; COLOR: #333333; PADDING-TOP: 1em
}
.profileTable HR {
	WIDTH: 80%; COLOR: #999999; HEIGHT: 2px
}
.profileTable .data A {
	COLOR: #336699; TEXT-DECORATION: none
}
.profileTable .data A#edit {
	COLOR: #ff6600
}
.profileTable .data A:hover {
	COLOR: black
}
.profileTable .data A#edit:hover {
	COLOR: #cc3300
}
.profilebox .profileTable {
	MARGIN-LEFT: 0px
}
.edit {
	FONT-SIZE: 80%; COLOR: #336699
}
.editright {
	FONT-SIZE: 80%; COLOR: #336699; TEXT-ALIGN: right
}
.extbl {
	BORDER-RIGHT: #555 0px solid; BORDER-TOP: #555 1px solid; MARGIN: 1em 0px; BORDER-LEFT: #555 1px solid; BORDER-BOTTOM: #555 0px solid; BORDER-COLLAPSE: collapse; border-spacing: 0
}
.extbl TH {
	BORDER-RIGHT: #555 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #555 0px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; BORDER-LEFT: #555 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #555 1px solid
}
.extbl TD {
	BORDER-RIGHT: #555 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #555 0px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; BORDER-LEFT: #555 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #555 1px solid
}
UNKNOWN {
	FONT-WEIGHT: bold
}
.profileheader H2 {
	FONT-SIZE: 11px; COLOR: #3b5998
}
.profileheader {
	BORDER-RIGHT: #bdccae 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bdccae 1px solid; PADDING-LEFT: 0px; BACKGROUND: #f5ffe2; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #bdccae 1px solid; WIDTH: 40em; PADDING-TOP: 0px; BORDER-BOTTOM: #bdccae 1px solid; BORDER-COLLAPSE: collapse
}
.asterisk {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #336600
}
.header {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0.5em; COLOR: #333333; PADDING-TOP: 0.5em
}
A.gotop {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; COLOR: #360; BORDER-BOTTOM: medium none
}
A.gotop:hover {
	COLOR: #333
}
A.gotop:active {
	COLOR: #000
}
.news {
	PADDING-LEFT: 12px; FONT-SIZE: 90%; LINE-HEIGHT: 130%; PADDING-TOP: 4px; FONT-FAMILY: verdana,sans-serif
}
.legend {
	FONT-SIZE: 10px; FONT-FAMILY: verdana,sans-serif
}
.AppSection {
	COLOR: #336600; LINE-HEIGHT: 130%; PADDING-TOP: 4px; FONT-FAMILY: verdana,sans-serif
}
.AppSection2 {
	PADDING-LEFT: 14px; COLOR: #000000; LINE-HEIGHT: 100%; PADDING-TOP: 4px; FONT-FAMILY: verdana,sans-serif
}

ul.infoTree{
	width: auto;
	padding-left : 0px;
	margin-left : 0px;
	background-color: #e6e1af;
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	font-size:10pt; 
	color:#003366;
}

ul.infoTree img{
 	border : none;
}
 

ul.infoTree, ul.infoTree ul {
	padding-left: 0;
}

ul.infoTree ul {
	margin-left: 16px;
		
}
li.closed span.hideShow{
	
	cursor: pointer;
	color:#003366;
}
li.open  span.hideShow{
	
	cursor: pointer;
	color:#003366;
}

.listTableMenu
{
HEIGHT: 12px; font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt;  color:#336699; font-weight:bold;BACKGROUND-COLOR: #e6e1af;  BORDER: #999966 1px solid; 
}
.listTableMenu TR
{
HEIGHT: 12px; Line-height: 12px;
}
.listTableMenu TD A
{
color:#336699;padding-left: 10px;padding-right: 10px;
}
.listTableMenu TD 
{
font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; background-color:#e6e1af; color:#336699; font-weight:bold
}

.listTable
{
font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt;  color:#336699; font-weight:bold;BACKGROUND-COLOR: #e6e1af;  BORDER-COLLAPSE: collapse;
}
.listTable TH
{
BORDER-LEFT: #f7f7e7 1px solid;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt; font-weight:bold; text-align:left; background-color:#e6e1af; color:#336699; text-indent:5px; cursor:hand; 
}
.listTable TD
{
;font-family:Arial, Helvetica, Geneva, sans-serif; font-size:10pt;font-weight: normal; background-color:#fffdf3; color:#000000; text-indent:5px; BORDER-RIGHT: #e6e1af 1px solid; BORDER-TOP: #e6e1af 1px solid; BORDER-LEFT: #e6e1af 1px solid; BORDER-BOTTOM: #e6e1af 1px solid;
}
.ButtonText {font-family:Arial, Helvetica, Geneva, sans-serif; font-size:8pt; color:#663300}