#main {
	CLEAR: both; BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; BACKGROUND: #99cc33; BORDER-LEFT: #666 1px solid; PADDING-TOP: 1.6em; BORDER-BOTTOM: #666 1px solid
}
#contents {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; MIN-HEIGHT: 300px; BACKGROUND: #fffdf3; PADDING-BOTTOM: 1.5em; PADDING-TOP: 1em
}
#header {
	POSITION: relative; HEIGHT: 2em
}
#citheader {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; BACKGROUND: url(/res/img/banner.JPG) #99cc33 no-repeat; PADDING-BOTTOM: 4px; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #666 1px solid; HEIGHT: 61px
}
#header UL#primary {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; BOTTOM: -1px; PADDING-TOP: 0px; POSITION: absolute
}
#header UL#primary LI {
	DISPLAY: inline; LIST-STYLE-TYPE: none
}
#header UL#primary A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-SIZE: 75%; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN: 1px 2px 0px 0px; COLOR: #333; PADDING-TOP: 4px; FONT-FAMILY: verdana,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#header UL#primary SPAN {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-SIZE: 75%; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN: 1px 2px 0px 0px; COLOR: #333; PADDING-TOP: 4px; FONT-FAMILY: verdana,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#header UL#primary A.current {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 75%; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN: 1px 2px 0px 0px; COLOR: #333; PADDING-TOP: 4px; FONT-FAMILY: verdana,sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#header UL#primary SPAN {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; MARGIN-TOP: 0px; BACKGROUND: #99cc33; PADDING-BOTTOM: 6px; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: medium none
}
#header UL#primary A.current {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; MARGIN-TOP: 0px; BACKGROUND: #99cc33; PADDING-BOTTOM: 6px; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: medium none
}
#header UL#primary A.current:hover {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; MARGIN-TOP: 0px; BACKGROUND: #99cc33; PADDING-BOTTOM: 6px; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: medium none
}
#header UL#primary A {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BACKGROUND: #eeffcc; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: medium none
}
#header UL#primary A:hover {
	MARGIN-TOP: 0px; BORDER-LEFT-COLOR: #666; BACKGROUND: #eeffcc; BORDER-BOTTOM-COLOR: #666; PADDING-BOTTOM: 5px; BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666
}
#header UL#secondary {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #99cc33; LEFT: 1px; VISIBILITY: visible; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 99.5%; PADDING-TOP: 0px; POSITION: absolute; TOP: 2em
}
#header UL#secondary LI A {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 10px; BORDER-TOP: medium none; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #aaa 1px dotted; WIDTH: auto; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
#header UL#secondary LI SPAN {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 10px; BORDER-TOP: medium none; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #aaa 1px dotted; WIDTH: auto; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
#header UL#secondary LI A {
	COLOR: #036; TEXT-DECORATION: underline
}
#header UL#secondary LI A:hover {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 10px; BORDER-TOP: medium none; PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaa 1px dotted; COLOR: #333; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
#header UL#secondary LI A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000
}
#header UL#secondary LI:unknown A {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#header UL#secondary LI.right {
	DISPLAY: inline; FLOAT: right
}
