@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Caption'), 
       local('PTSans-Caption'), 
       url(PT_Sans_Caption.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Caption Bold'), 
       local('PTSans-CaptionBold'), 
       url(PT_Sans_Caption_Bold.woff) format('woff');
}
