@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), 
       local('PTSans-Regular'), 
       url(PT_Sans.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), 
       local('PTSans-Bold'), 
       url(PT_Sans_Bold.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  src: local('PT Sans Italic'), 
       local('PTSans-Italic'), 
       url(PT_Sans_Italic.woff) format('woff');
}


@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: local('PT Sans Bold Italic'), 
       local('PTSans-BoldItalic'), 
       url(PT_Sans_Bold_Italic.woff) format('woff');
}
