/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Suomi Type Foundry
 * License URL: http://www.fontspring.com/fflicense/suomi-type
 *
 *
 */

@font-face {
    font-family: 'ThatBook';
    src: url('That_Book-webfont.eot');
    src: url('That_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('That_Book-webfont.woff') format('woff'),
         url('That_Book-webfont.ttf') format('truetype'),
         url('That_Book-webfont.svg#ThatRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThatBook';
    src: url('That_Italic-webfont.eot');
    src: url('That_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('That_Italic-webfont.woff') format('woff'),
         url('That_Italic-webfont.ttf') format('truetype'),
         url('That_Italic-webfont.svg#ThatRgItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


