/*@import "settings/box-shadow";*/
/* Set up Variable Colors */
/* ===================== */
/* = Main Window Frame = */
/* ===================== */
/* line 33, ../scss/eba_uniframe.scss */
.clear {
  clear: both;
}

/* line 37, ../scss/eba_uniframe.scss */
div.ebaFrame {
  margin: 0 auto 10px auto;
  min-width: 760px;
  background: #FFF;
}

/* Main Container with Left / Right Borders*/
/* line 44, ../scss/eba_uniframe.scss */
div.ebaContentContainer {
  /*	border-left: 1px solid $windowBorder;
  	border-right: 1px solid $windowBorder;
  	border-bottom: 1px solid $windowBorder;
  	@include border-radius(0 0 6px 6px);*/
  overflow: hidden;
}

/* ==================================== */
/* = Window Frame Heading and Buttons = */
/* ==================================== */
/* line 55, ../scss/eba_uniframe.scss */
div.ebaFrameHeader {
  background-color: #9bbae6;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#aac4e6', endColorstr='#9bbae6');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#aac4e6', endColorstr='#9bbae6')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aac4e6), color-stop(100%, #9bbae6));
  background-image: -webkit-linear-gradient(#aac4e6, #9bbae6);
  background-image: -moz-linear-gradient(#aac4e6, #9bbae6);
  background-image: linear-gradient(#aac4e6, #9bbae6);
  /*	@include border-radius($frameBorderRadius $frameBorderRadius 0 0);*/
  /*	border: 1px solid $windowBorder;
  	border-bottom: 1px solid $dividerBorder;*/
  position: relative;
  border-top: 1px solid #4F7CB7;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}

/* line 64, ../scss/eba_uniframe.scss */
div.ebaFrameHeader h1 {
  margin: 0;
  font: bold 14px/40px Arial, sans-serif;
  padding: 0 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.75);
  color: #404040;
}

/* Right side of Heading */
/* line 74, ../scss/eba_uniframe.scss */
div.ebaFrameHeader div.ebaButtons {
  position: absolute;
  right: 0;
  top: 0;
}

/* Heading Buttons */
/* line 81, ../scss/eba_uniframe.scss */
div.ebaFrameHeader div.ebaButtons a {
  display: block;
  float: left;
  font: bold 11px/12px Arial, sans-serif;
  padding: 6px 10px;
  background-color: #d8d8d8;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f8f8f8', endColorstr='#d8d8d8');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#d8d8d8')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #d8d8d8));
  background-image: -webkit-linear-gradient(#f8f8f8, #d8d8d8);
  background-image: -moz-linear-gradient(#f8f8f8, #d8d8d8);
  background-image: linear-gradient(#f8f8f8, #d8d8d8);
  margin: 7px 7px 7px 3px;
  border: 1px solid #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  text-decoration: none;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 white inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 white inset;
}

/* line 95, ../scss/eba_uniframe.scss */
div.ebaFrameHeader div.ebaButtons a.ebaHotButton {
  border: 1px solid #822024;
  background-color: #c3000f;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#eb0014', endColorstr='#c3000f');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb0014', endColorstr='#c3000f')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb0014), color-stop(100%, #c3000f));
  background-image: -webkit-linear-gradient(#eb0014, #c3000f);
  background-image: -moz-linear-gradient(#eb0014, #c3000f);
  background-image: linear-gradient(#eb0014, #c3000f);
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

/* line 102, ../scss/eba_uniframe.scss */
div.ebaFrameHeader div.ebaButtons a.ebaHotButton:active {
  background-color: #a2000d;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#ce0014', endColorstr='#a2000d');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0014', endColorstr='#a2000d')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ce0014), color-stop(100%, #a2000d));
  background-image: -webkit-linear-gradient(#ce0014, #a2000d);
  background-image: -moz-linear-gradient(#ce0014, #a2000d);
  background-image: linear-gradient(#ce0014, #a2000d);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}

/* line 106, ../scss/eba_uniframe.scss */
div.ebaFrameHeader div.ebaButtons a.ebaBlackButton {
  border: 1px solid #222;
  background-color: #222222;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#555555', endColorstr='#222222');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#555555, #222222);
  background-image: -moz-linear-gradient(#555555, #222222);
  background-image: linear-gradient(#555555, #222222);
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
}

/* line 113, ../scss/eba_uniframe.scss */
div.ebaFrameHeader div.ebaButtons a.ebaBlackButton:active {
  background-color: #111111;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#444444', endColorstr='#111111');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#111111')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(#444444, #111111);
  background-image: -moz-linear-gradient(#444444, #111111);
  background-image: linear-gradient(#444444, #111111);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}

/* line 117, ../scss/eba_uniframe.scss */
div.ebaFrameHeader div.ebaButtons a:active {
  background-color: #aaaaaa;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#d0d0d0', endColorstr='#aaaaaa');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#aaaaaa')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#d0d0d0, #aaaaaa);
  background-image: -moz-linear-gradient(#d0d0d0, #aaaaaa);
  background-image: linear-gradient(#d0d0d0, #aaaaaa);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}

/* ============================= */
/* = Window Frame Content Body = */
/* ============================= */
/* line 125, ../scss/eba_uniframe.scss */
div.ebaContent {
  display: table;
  width: 100%;
  min-height: 600px;
}

/* line 131, ../scss/eba_uniframe.scss */
div.ebaContent div.ebaMainCol,
div.ebaContent div.ebaSideCol {
  display: table-cell;
  vertical-align: top;
  padding: 0 0 5px 0;
}

/* line 136, ../scss/eba_uniframe.scss */
div.ebaContent div.ebaMainCol {
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}

/* line 140, ../scss/eba_uniframe.scss */
div.ebaContent div.ebaSideCol {
  width: 200px;
  border-left: 1px solid #AAA;
  background: #F0F0F0;
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}

/* ================================= */
/* = Window Frame Content Sections = */
/* ================================= */
/* Main Section */
/* line 152, ../scss/eba_uniframe.scss */
div.contentSectionMain {
  position: relative;
}

/* Edit Link */
/* line 158, ../scss/eba_uniframe.scss */
div.contentSection h3 span {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}
/* line 163, ../scss/eba_uniframe.scss */
div.contentSection h3 span a {
  position: relative;
  float: left;
}

/* line 170, ../scss/eba_uniframe.scss */
div.contentSection h3 a,
a.ebaEditLink {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  margin: 7px 7px 0 0;
  font: normal 11px/14px Arial, sans-serif;
  text-decoration: none;
  color: #666;
  padding: 2px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #EEE;
  -moz-transition: "background 0.2s linear, border 0.2s linear, color 0.2s linear";
  -webkit-transition: "background 0.2s linear, border 0.2s linear, color 0.2s linear";
  transition: "background 0.2s linear, border 0.2s linear, color 0.2s linear";
}
/* line 183, ../scss/eba_uniframe.scss */
div.contentSection h3 a:hover,
a.ebaEditLink:hover {
  border: 1px solid #BBB;
  color: #333;
  background-color: #F0F0F0;
}
/* line 188, ../scss/eba_uniframe.scss */
div.contentSection h3 a img,
a.ebaEditLink img {
  border: none;
  vertical-align: baseline;
}
/* line 192, ../scss/eba_uniframe.scss */
div.contentSection h3 a img.editIcon,
a.ebaEditLink img.editIcon {
  width: 9px;
  height: 9px;
  background: url(../img/ws_control_icons.png) -30px -9px no-repeat;
  margin-right: 4px;
}
/* line 198, ../scss/eba_uniframe.scss */
div.contentSection h3 a:hover img.editIcon,
a.ebaEditLink:hover img.editIcon {
  background: url(../img/ws_control_icons.png) -30px 0 no-repeat;
}
/* line 201, ../scss/eba_uniframe.scss */
div.contentSection h3 a img.addIcon,
a.ebaEditLink img.addIcon {
  width: 9px;
  height: 9px;
  background: url(../img/ws_control_icons.png) -39px -9px no-repeat;
  margin-right: 4px;
}
/* line 207, ../scss/eba_uniframe.scss */
div.contentSection h3 a:hover img.addIcon,
a.ebaEditLink:hover img.addIcon {
  background: url(../img/ws_control_icons.png) -48px -9px no-repeat;
}

/* Value Attribute Pair Table */
/* VAP Table */
/* line 217, ../scss/eba_uniframe.scss */
div.ebaContent table.ebaVAPTable {
  width: 100%;
  padding: 10px 0 5px 0;
}

/* line 222, ../scss/eba_uniframe.scss */
div.ebaContent table.ebaVAPTable th,
div.ebaContent table.ebaVAPTable td {
  padding: 0 10px 5px 10px;
  font: normal 12px/16px Arial, sans-serif;
  color: #404040;
  vertical-align: top;
}

/* line 228, ../scss/eba_uniframe.scss */
div.ebaContent table.ebaVAPTable th {
  font-weight: bold;
  text-align: left;
  width: 120px;
}

/* ============================ */
/* = Content Section Headings = */
/* ============================ */
/* Section Headings */
/* line 238, ../scss/eba_uniframe.scss */
div.contentSection > h2 {
  background-color: #e8e8e8;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f8f8f8', endColorstr='#e8e8e8');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e8e8e8')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(#f8f8f8, #e8e8e8);
  background-image: -moz-linear-gradient(#f8f8f8, #e8e8e8);
  background-image: linear-gradient(#f8f8f8, #e8e8e8);
  margin: 0;
  padding: 0 0 0 30px;
  font: bold 12px/30px Arial, sans-serif;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #CCC;
  position: relative;
}

/* Smaller Heading */
/* line 251, ../scss/eba_uniframe.scss */
div.contentSection h2.secondaryHeading {
  background: none #FFF;
  margin: 0;
  padding: 0 10px 0 30px;
  font: bold 11px/30px Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  color: #404040;
  text-shadow: none;
  border-top: none;
  border-bottom: none;
  position: relative;
}

/* Collapsing Icons */
/* line 266, ../scss/eba_uniframe.scss */
div.contentSection h2 a.contentSectionControl,
div.contentSection h2 a.contentSectionControl.collapsed {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 272, ../scss/eba_uniframe.scss */
div.contentSection h2 a.contentSectionControl img,
div.contentSection h2 a.contentSectionControl.collapsed img {
  width: 18px;
  height: 18px;
  display: block;
  margin: 6px;
  border: none;
}

/* line 279, ../scss/eba_uniframe.scss */
div.contentSection h2 a.contentSectionControl img {
  background: url(../img/eba_details_page_icons.png) 0 -46px no-repeat;
}

/* line 282, ../scss/eba_uniframe.scss */
div.contentSection h2 a.contentSectionControl.collapsed img {
  background: url(../img/eba_details_page_icons.png) 0 -28px no-repeat;
}

/* Heading Right Buttons */
/* line 287, ../scss/eba_uniframe.scss */
div.contentSection h2 > span {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
/* line 292, ../scss/eba_uniframe.scss */
div.contentSection h2 > span.leftButtons {
  position: relative;
  float: left;
  margin-right: 10px;
}
/* line 296, ../scss/eba_uniframe.scss */
div.contentSection h2 > span.leftButtons a.ebaTitleButton {
  border-left: none;
  border-right: 1px solid #c3c3c3;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 303, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton {
  display: block;
  float: left;
  text-decoration: none;
  margin: 0;
  padding: 0 0 0 5px;
  border-left: 1px solid #c3c3c3;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 312, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton span {
  display: block;
  float: left;
  font: normal 11px/30px Arial, sans-serif;
  padding-left: 5px;
  padding-right: 2px;
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

/* line 321, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton img.addIcon {
  width: 13px;
  height: 14px;
  display: block;
  float: left;
  margin: 8px 10px 8px 5px;
  background: url(../img/eba_details_page_icons.png) 0 0 no-repeat;
  border: none;
}

/* line 330, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton:hover img.addIcon {
  background: url(../img/eba_details_page_icons.png) 0 -14px no-repeat;
}

/* line 333, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton img.viewAllButton {
  width: 7px;
  height: 14px;
  display: block;
  float: left;
  margin: 8px 13px 8px 8px;
  background: url(../img/eba_details_page_icons.png) 0 -64px no-repeat;
  border: none;
}

/* line 342, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton:hover img.viewAllButton {
  background: url(../img/eba_details_page_icons.png) 0 -78px no-repeat;
}

/* line 345, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton img.backIcon {
  width: 7px;
  height: 14px;
  display: block;
  float: left;
  margin: 8px 13px 8px 8px;
  background: url(../img/eba_details_page_icons.png) -7px -64px no-repeat;
  border: none;
}

/* line 354, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton:hover img.backIcon {
  background: url(../img/eba_details_page_icons.png) -7px -78px no-repeat;
}

/* line 357, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton img.showIcon {
  width: 11px;
  height: 18px;
  display: block;
  float: left;
  margin: 6px 12px 6px 7px;
  background: url(../img/eba_details_page_icons.png) -18px -28px no-repeat;
  border: none;
}

/* line 366, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton:hover img.showIcon {
  background: url(../img/eba_details_page_icons.png) -18px -46px no-repeat;
}

/* line 369, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton img.hideIcon {
  width: 11px;
  height: 18px;
  display: block;
  float: left;
  margin: 6px 12px 6px 7px;
  background: url(../img/eba_details_page_icons.png) -29px -28px no-repeat;
  border: none;
}

/* line 378, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton:hover img.hideIcon {
  background: url(../img/eba_details_page_icons.png) -29px -46px no-repeat;
}

/* line 381, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton img.optionsIcon {
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin: 8px 10px 8px 4px;
  background: url(../img/eba_details_page_icons.png) -27px 0 no-repeat;
  border: none;
}

/* line 390, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton:hover img.optionsIcon {
  background: url(../img/eba_details_page_icons.png) -27px -14px no-repeat;
}

/* line 393, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton img.commentButton {
  width: 13px;
  height: 14px;
  display: block;
  float: left;
  margin: 8px 10px 8px 5px;
  background: url(../img/eba_details_page_icons.png) -14px 0 no-repeat;
  border: none;
}

/* line 403, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton:hover img.commentButton,
div.contentSection h2 a.activeButton img.commentButton {
  background: url(../img/eba_details_page_icons.png) -14px -14px no-repeat;
  border: none;
}

/* line 407, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton:hover {
  background-color: #d8d8d8;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#e8e8e8', endColorstr='#d8d8d8');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#d8d8d8')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #d8d8d8));
  background-image: -webkit-linear-gradient(#e8e8e8, #d8d8d8);
  background-image: -moz-linear-gradient(#e8e8e8, #d8d8d8);
  background-image: linear-gradient(#e8e8e8, #d8d8d8);
}

/* line 410, ../scss/eba_uniframe.scss */
div.contentSection h2 a.ebaTitleButton:hover span {
  color: #404040;
}

/* line 414, ../scss/eba_uniframe.scss */
div.contentSection h2 a.activeButton,
div.contentSection h2 a.activeButton:hover {
  background-color: #bbbbbb;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#999999', endColorstr='#bbbbbb');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#bbbbbb')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(#999999, #bbbbbb);
  background-image: -moz-linear-gradient(#999999, #bbbbbb);
  background-image: linear-gradient(#999999, #bbbbbb);
  border-left: 1px solid #c3c3c3;
}

/* line 419, ../scss/eba_uniframe.scss */
div.contentSection h2 a.activeButton span,
div.contentSection h2 a.activeButton:hover span {
  color: rgba(0, 0, 0, 0.75) !important;
}

/* ============================= */
/* = Section Sub Headings (h3) = */
/* ============================= */
/* Stylized H3 for DSBody Only */
/* line 427, ../scss/eba_uniframe.scss */
div.contentSection div.sectionBody > h3 {
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f0f0f0', endColorstr='white');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='white')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(#f0f0f0, #ffffff);
  background-image: linear-gradient(#f0f0f0, #ffffff);
  margin: 0;
  padding: 10px 10px 5px 10px;
  font: bold 12px/12px Arial, sans-serif;
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  border-top: 1px solid #CCC;
  position: relative;
}

/* line 437, ../scss/eba_uniframe.scss */
div.contentSection div.sectionBody > h3.ebaBordered {
  padding: 10px;
  border-bottom: 1px solid #EEE;
}

/* Hide Top Border if it is the first heading */
/* line 442, ../scss/eba_uniframe.scss */
div.contentSection div.sectionBody > h3:first-child {
  border-top: none !important;
}

/* line 445, ../scss/eba_uniframe.scss */
div.contentSection div.sectionBody {
  position: relative;
  padding: 0 0 5px 0;
}

/* line 449, ../scss/eba_uniframe.scss */
div.contentSection div.sectionBody div.ebaNoData {
  padding: 10px;
  font: normal 11px/12px Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

/* line 454, ../scss/eba_uniframe.scss */
div.contentSection div.sectionBodyPadded {
  padding: 10px;
}

/* line 457, ../scss/eba_uniframe.scss */
div.contentSection table.ebaVAPTable {
  width: 100%;
  padding: 0 0 10px 0;
}

/* line 462, ../scss/eba_uniframe.scss */
div.contentSection table.ebaVAPTable th,
div.contentSection table.ebaVAPTable td {
  padding: 5px 10px 0 10px;
  font: normal 11px/16px Arial, sans-serif;
  color: #333;
}

/* line 467, ../scss/eba_uniframe.scss */
div.contentSection table.ebaVAPTable th {
  font-weight: bold;
  text-align: left;
  width: 120px;
}

/* ======================================= */
/* = Table List View (Files, Links, etc) = */
/* ======================================= */
/* line 476, ../scss/eba_uniframe.scss */
table.ebaReportView {
  width: 100%;
  padding: 0;
}

/* line 480, ../scss/eba_uniframe.scss */
table.ebaReportView thead tr th {
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f0f0f0', endColorstr='white');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='white')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f0f0f0, #ffffff);
  background-image: -moz-linear-gradient(#f0f0f0, #ffffff);
  background-image: linear-gradient(#f0f0f0, #ffffff);
  margin: 0;
  padding: 0 10px;
  font: normal 11px/24px Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #DDD;
  /* Removing text-align because APEX uses align="" attribute applied to cell*/
  /*text-align: left;*/
}

/* line 494, ../scss/eba_uniframe.scss */
table.ebaReportView thead tr th.firstCol,
table.ebaReportView thead tr th.editCol,
table.ebaReportView thead tr th.deleteCol {
  border-right: none;
  padding: 0;
  width: 24px;
}

/* line 499, ../scss/eba_uniframe.scss */
table.ebaReportView thead tr th:last-child {
  border-right: none;
}

/* line 502, ../scss/eba_uniframe.scss */
table.ebaReportView .ebaRightAligned {
  text-align: right;
}

/* line 505, ../scss/eba_uniframe.scss */
table.ebaReportView tbody tr td {
  font: normal 12px/16px Arial, sans-serif;
  padding: 5px 10px;
  color: #333;
}

/* line 510, ../scss/eba_uniframe.scss */
table.ebaReportView tbody tr td a {
  color: #333;
  text-decoration: underline;
}

/* line 514, ../scss/eba_uniframe.scss */
table.ebaReportView tbody tr td.editCol {
  padding: 0 0 0 8px;
  vertical-align: middle;
  text-align: middle;
}

/* line 519, ../scss/eba_uniframe.scss */
table.ebaFiles tbody tr td img {
  display: block;
}

/* line 522, ../scss/eba_uniframe.scss */
table.ebaReportView tbody tr:nth-child(2n) td {
  background-color: #F8F8F8;
}

/* ================== */
/* = Right Side Bar = */
/* ================== */
/* line 529, ../scss/eba_uniframe.scss */
div.ebaContent div.ebaSideCol div.uniqueKey {
  padding: 3px 10px;
  margin: 10px auto;
  width: 100px;
  text-align: center;
  font: normal 11px/12px Arial, sans-serif;
  border: 1px solid #CCC;
  background: #FFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #444;
}

/* line 540, ../scss/eba_uniframe.scss */
div.ebaContent div.ebaSideCol div.uniqueKey span {
  font-weight: bold;
}

/* line 543, ../scss/eba_uniframe.scss */
div.ebaContent div.ebaSideCol div.buttonPadding {
  margin: 10px;
}
/* line 545, ../scss/eba_uniframe.scss */
div.ebaContent div.ebaSideCol div.buttonPadding a {
  margin: 10px 0;
}

/* line 549, ../scss/eba_uniframe.scss */
div.ebaContent div.ebaSideCol h3 {
  background-color: #d0d0d0;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f0f0f0', endColorstr='#d0d0d0');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#d0d0d0')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #d0d0d0));
  background-image: -webkit-linear-gradient(#f0f0f0, #d0d0d0);
  background-image: -moz-linear-gradient(#f0f0f0, #d0d0d0);
  background-image: linear-gradient(#f0f0f0, #d0d0d0);
  margin: 0;
  padding: 5px 10px;
  font: bold 12px/12px Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #BBB;
}

/* Any div after a H3 in the side will have a slightly lighter bg and bottom border */
/* line 560, ../scss/eba_uniframe.scss */
div.ebaContent div.ebaSideCol h3 + div {
  background: #F8F8F8;
  border-bottom: 1px solid #CCC;
}

/* line 565, ../scss/eba_uniframe.scss */
div.ebaContent div.ebaSideCol h3 + div + h3 {
  border-top: none;
}

/* line 570, ../scss/eba_uniframe.scss */
div.ebaSideCol a.ebaButton,
div.ebaSideCol a.ebaHotButton {
  display: block;
  font: normal 12px/12px Arial, sans-serif;
  padding: 6px 10px;
  text-align: center;
  background-color: #d8d8d8;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f8f8f8', endColorstr='#d8d8d8');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#d8d8d8')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #d8d8d8));
  background-image: -webkit-linear-gradient(#f8f8f8, #d8d8d8);
  background-image: -moz-linear-gradient(#f8f8f8, #d8d8d8);
  background-image: linear-gradient(#f8f8f8, #d8d8d8);
  margin: 0 0 10px 0;
  border: 1px solid #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  text-decoration: none;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 white inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 white inset;
}

/* line 584, ../scss/eba_uniframe.scss */
div.ebaSideCol a.ebaButton:active {
  background-color: #aaaaaa;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#d0d0d0', endColorstr='#aaaaaa');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#aaaaaa')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#d0d0d0, #aaaaaa);
  background-image: -moz-linear-gradient(#d0d0d0, #aaaaaa);
  background-image: linear-gradient(#d0d0d0, #aaaaaa);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}

/* line 589, ../scss/eba_uniframe.scss */
div.ebaSideCol a.ebaHotButton {
  border: 1px solid #822024;
  background-color: #c3000f;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#eb0014', endColorstr='#c3000f');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb0014', endColorstr='#c3000f')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb0014), color-stop(100%, #c3000f));
  background-image: -webkit-linear-gradient(#eb0014, #c3000f);
  background-image: -moz-linear-gradient(#eb0014, #c3000f);
  background-image: linear-gradient(#eb0014, #c3000f);
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  font-weight: bold;
}

/* line 597, ../scss/eba_uniframe.scss */
div.ebaSideCol a.ebaHotButton:active {
  background-color: #a2000d;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#ce0014', endColorstr='#a2000d');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0014', endColorstr='#a2000d')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ce0014), color-stop(100%, #a2000d));
  background-image: -webkit-linear-gradient(#ce0014, #a2000d);
  background-image: -moz-linear-gradient(#ce0014, #a2000d);
  background-image: linear-gradient(#ce0014, #a2000d);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}

/* Badge */
/* line 604, ../scss/eba_uniframe.scss */
div.sideBadge {
  position: relative;
  padding: 10px 10px 0 10px;
}

/* line 608, ../scss/eba_uniframe.scss */
div.sidebadge + h3 {
  border-top: none !important;
}

/* line 613, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeTotal,
div.sideBadge div.badgeStats {
  float: left;
  overflow: hidden;
  padding-bottom: 10px;
}

/* line 618, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeTotal {
  width: 60px;
}
/* line 620, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeTotal a {
  padding: 0;
  margin-left: 0;
  display: block;
  font: normal 36px/36px Arial, sans-serif;
  color: #333;
  text-decoration: none;
  letter-spacing: -2px;
}
/* line 628, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeTotal a span {
  display: block;
  font: normal 11px/12px Arial, sans-serif;
  color: #888;
  letter-spacing: 0px;
  padding: 0;
  text-decoration: none;
}

/* line 639, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeTotal a:hover {
  color: #EA0000;
}

/* line 642, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeStats {
  width: 120px;
}
/* line 644, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeStats ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 648, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeStats ul li {
  padding: 0;
  margin: 0 0 5px 0;
  clear: both;
  position: relative;
  height: 12px;
}
/* line 654, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeStats ul li span, div.sideBadge div.badgeStats ul li strong {
  font: normal 11px/12px Arial, sans-serif;
  display: block;
  color: #666;
  float: left;
}
/* line 660, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeStats ul li span {
  width: 95px;
  text-align: right;
}
/* line 664, ../scss/eba_uniframe.scss */
div.sideBadge div.badgeStats ul li strong {
  text-align: right;
  font-weight: bold;
  color: #333;
  width: 25px;
}

/* ===================== */
/* = Text Comment Box  = */
/* ===================== */
/* line 677, ../scss/eba_uniframe.scss */
div.textBox {
  background-color: #dddddd;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#bbbbbb', endColorstr='#dddddd');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#dddddd')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#bbbbbb, #dddddd);
  background-image: -moz-linear-gradient(#bbbbbb, #dddddd);
  background-image: linear-gradient(#bbbbbb, #dddddd);
  padding: 5px !important;
  border-bottom: 1px solid #BBB;
  display: none;
}

/* line 683, ../scss/eba_uniframe.scss */
div.textBoxContainer {
  display: block;
  border: 1px solid #AAA;
  padding: 5px;
  background: #FFF;
}

/* line 689, ../scss/eba_uniframe.scss */
div.textBox textarea {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 40px;
  font: normal 12px/16px Arial, sans-serif;
  color: #333;
  background: #FFF;
}

/* ======================= */
/* = Wizard Progress Bar = */
/* ======================= */
/* line 704, ../scss/eba_uniframe.scss */
ul.ebaProgressWizard {
  zoom: 1;
  position: absolute;
  /* 	top: 0; */
  left: 0;
  margin: 16px 8px;
  list-style: none;
  padding: 0;
}
/* line 9, ../scss/settings/_vars.scss */
ul.ebaProgressWizard:before, ul.ebaProgressWizard:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 15, ../scss/settings/_vars.scss */
ul.ebaProgressWizard:after {
  clear: both;
}
/* line 712, ../scss/eba_uniframe.scss */
ul.ebaProgressWizard li {
  padding: 0;
  float: left;
  min-width: 60px;
}
/* line 716, ../scss/eba_uniframe.scss */
ul.ebaProgressWizard li span {
  min-width: 60px;
  display: block;
  height: 24px;
  background-color: #e4eefb;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#d3e0f0', endColorstr='#e4eefb');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3e0f0', endColorstr='#e4eefb')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d3e0f0), color-stop(100%, #e4eefb));
  background-image: -webkit-linear-gradient(#d3e0f0, #e4eefb);
  background-image: -moz-linear-gradient(#d3e0f0, #e4eefb);
  background-image: linear-gradient(#d3e0f0, #e4eefb);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.65), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.65), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.65), 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  border-top: 1px solid #7188A8;
  border-bottom: 1px solid #385282;
  border-right: 1px solid #7188A8;
}
/* line 726, ../scss/eba_uniframe.scss */
ul.ebaProgressWizard li:last-child span {
  border-right: 1px solid #666666;
}
/* line 729, ../scss/eba_uniframe.scss */
ul.ebaProgressWizard li em {
  display: block;
  padding: 1px 20px 0 0;
  font: normal 11px/11px Arial, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  white-space: nowrap;
}
/* line 738, ../scss/eba_uniframe.scss */
ul.ebaProgressWizard li:first-child span {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border-left: 1px solid #7188A8;
}
/* line 742, ../scss/eba_uniframe.scss */
ul.ebaProgressWizard li:last-child span {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #7188A8;
}
/* line 747, ../scss/eba_uniframe.scss */
ul.ebaProgressWizard li.currentStep span,
ul.ebaProgressWizard li.completedStep span {
  /*		background: url(../img/eba_wizard_progress.gif) 0 0 repeat-x;*/
  background-color: #4c70b4;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#6b95d8', endColorstr='#4c70b4');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b95d8', endColorstr='#4c70b4')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6b95d8), color-stop(100%, #4c70b4));
  background-image: -webkit-linear-gradient(#6b95d8, #4c70b4);
  background-image: -moz-linear-gradient(#6b95d8, #4c70b4);
  background-image: linear-gradient(#6b95d8, #4c70b4);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  border-bottom-color: #385282;
}
/* line 753, ../scss/eba_uniframe.scss */
ul.ebaProgressWizard li.currentStep em {
  font-weight: bold;
}

/* Wizard Container in Header */
/* line 759, ../scss/eba_uniframe.scss */
div.ebaProgressBar {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Make progress bar gray / black so that it does not steal focus from submit / next buttons */
/* line 767, ../scss/eba_uniframe.scss */
div.ebaWizardFrame {
  width: 960px;
  margin: 20px auto;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 768, ../scss/eba_uniframe.scss */
div.ebaWizardFrame.ebaSmallWizard {
  width: 760px;
}
/* line 771, ../scss/eba_uniframe.scss */
div.ebaWizardFrame.ebaLoginWizard {
  width: 760px;
}
/* line 773, ../scss/eba_uniframe.scss */
div.ebaWizardFrame.ebaLoginWizard div.ebaContentContainer div.ebaContent {
  min-height: 200px;
}
/* line 781, ../scss/eba_uniframe.scss */
div.ebaWizardFrame ul.ebaProgressWizard li {
  min-width: 40px;
}
/* line 783, ../scss/eba_uniframe.scss */
div.ebaWizardFrame ul.ebaProgressWizard li span {
  height: 18px;
  min-width: 40px;
}
/* line 789, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaFrameHeader h1.oracleLogo {
  font: normal 18px/20px Arial, sans-serif;
  padding: 0;
  margin: 20px 0 20px 14px;
  background: url(../img/eba_header.png) -29px 1px no-repeat;
  text-indent: 150px;
}
/* line 795, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaFrameHeader h1.oracleLogo span {
  font: normal 18px/20px Arial, sans-serif;
}
/* line 799, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaFrameHeader div.ebaProgressBar {
  padding: 20px 14px;
}
/* line 802, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaFrameHeader span.ebaButtons {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  padding: 14px 4px 14px 0;
}
/* line 810, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: none;
}
/* line 813, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent {
  display: block;
  width: auto;
  padding: 10px;
}
/* line 817, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent div.loadingRegion {
  margin: 40px auto;
  padding: 20px;
  width: 480px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #F0F0F0;
  border: 1px solid #AAA;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset;
  text-align: center;
}
/* line 826, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent div.loadingRegion h2 {
  margin: 0 0 10px 0;
  font: bold 16px/20px Arial, sans-serif;
  color: #333;
}
/* line 832, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent div.successRegion {
  background: url(../img/icons/checkmark_success_96.png) 20px 50% no-repeat;
  padding: 20px 20px 20px 120px;
}
/* line 835, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent div.successRegion h1 {
  font: normal 18px/24px Arial, sans-serif;
  margin: 0 10px 10px 10px;
  color: #333;
}
/* line 840, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent div.successRegion h1 strong {
  font-weight: bold 18px/24px Arial, sans-serif;
}
/* line 843, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent div.successRegion table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
}
/* line 847, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent div.successRegion table br {
  display: none;
}
/* line 851, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent div.successRegion p {
  font: normal 13px/18px Arial, sans-serif;
  color: #333;
  margin: 0 10px 10px 10px;
}
/* line 855, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent div.successRegion p a {
  text-decoration: underline;
  color: #333;
}
/* line 858, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaContentContainer div.ebaContent div.successRegion p a:hover {
  color: #888;
}
/* line 866, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardFrameContainer {
  border: 1px solid #AAA;
  border-top: none;
  border-bottom: none;
}
/* line 870, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardFrameContainer div.ebaTwoColPane {
  border-bottom: 1px solid #EEE;
}
/* line 872, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardFrameContainer div.ebaTwoColPane div.ebaSideCol {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 877, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaFrameFooter {
  zoom: 1;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-top: none;
  position: relative;
  padding: 8px 16px;
}
/* line 9, ../scss/settings/_vars.scss */
div.ebaWizardFrame div.ebaFrameFooter:before, div.ebaWizardFrame div.ebaFrameFooter:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 15, ../scss/settings/_vars.scss */
div.ebaWizardFrame div.ebaFrameFooter:after {
  clear: both;
}
/* line 885, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaFrameFooter span {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  padding: 8px 8px 16px 16px;
}
/* line 894, ../scss/eba_uniframe.scss */
div.ebaWizardFrame a.ebaNextButton {
  padding-right: 0;
}
/* line 896, ../scss/eba_uniframe.scss */
div.ebaWizardFrame a.ebaNextButton img {
  width: 22px;
  height: 26px;
  background: url(../img/ws_control_icons.png) -24px -57px no-repeat;
  vertical-align: middle;
  border: 0;
  margin: 0 5px 0 0;
}
/* line 905, ../scss/eba_uniframe.scss */
div.ebaWizardFrame a.ebaPrevButton {
  padding-left: 0;
}
/* line 907, ../scss/eba_uniframe.scss */
div.ebaWizardFrame a.ebaPrevButton img {
  width: 22px;
  height: 26px;
  background: url(../img/ws_control_icons.png) -24px -33px no-repeat;
  vertical-align: middle;
  border: 0;
  margin: 0 0 0 5px;
}
/* line 916, ../scss/eba_uniframe.scss */
div.ebaWizardFrame a.ebaDisabledButton {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
}
/* line 920, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardText {
  margin: 10px 0;
}
/* line 922, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardText h1 {
  font: normal 18px/24px Arial, sans-serif;
  margin: 0 10px 10px 10px;
  color: #333;
}
/* line 927, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardText ul {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
/* line 931, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardText ul li {
  margin: 0 0 10px 0;
  text-indent: 30px;
}
/* line 934, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardText ul li strong {
  font: bold 13px/14px Arial, sans-serif;
  color: #333;
}
/* line 938, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardText ul li span {
  display: block;
  font: normal 12px/12px Arial, sans-serif;
  color: #999;
}
/* line 943, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardText ul li a {
  color: #333;
}
/* line 948, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardText p {
  font: normal 13px/18px Arial, sans-serif;
  color: #333;
  margin: 0 10px 10px 10px;
}
/* line 952, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardText p a {
  text-decoration: underline;
  color: #333;
}
/* line 955, ../scss/eba_uniframe.scss */
div.ebaWizardFrame div.ebaWizardText p a:hover {
  color: #888;
}

/* ====================== */
/* = APEX Forms Styling = */
/* ====================== */
/* Override FCK Editor's Padding */
/* line 968, ../scss/eba_uniframe.scss */
span.cke_skin_kama {
  padding: 0 !important;
}

/* line 971, ../scss/eba_uniframe.scss */
div.formNoHighlight tr:hover td {
  background: none !important;
}

/* line 974, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout {
  border-spacing: 0 0;
  border-collapse: collapse;
}
/* line 978, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFF;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
/* line 983, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 986, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
/* line 989, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr:hover > td {
  background-color: #F8F8F8;
}
/* line 992, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr.rowHighlight > td {
  background-color: #F0F0F0;
}
/* line 996, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout td.lov input.popup_lov {
  border: 1px solid #888888;
  padding: 6px;
  font: normal 14px/16px Arial, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #F8F8F8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  color: #333;
  -moz-transition: "background-color 0.1s linear, border 0.1s linear";
  -webkit-transition: "background-color 0.1s linear, border 0.1s linear";
  transition: "background-color 0.1s linear, border 0.1s linear";
}
/* line 1007, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td {
  padding: 5px 10px;
}
/* line 1009, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td.ebaLabelTop {
  padding: 10px;
}
/* line 1014, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td input.text_field,
.ebaFormTable table.formlayout > tbody > tr > td select.selectlist,
.ebaFormTable table.formlayout > tbody > tr > td textarea {
  border: 1px solid #888888;
  padding: 6px;
  font: normal 14px/16px Arial, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background-color: #F8F8F8;
  color: #333;
  -moz-transition: "background-color 0.1s linear, border 0.1s linear";
  -webkit-transition: "background-color 0.1s linear, border 0.1s linear";
  transition: "background-color 0.1s linear, border 0.1s linear";
}
/* line 1023, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td input.text_field:focus,
.ebaFormTable table.formlayout > tbody > tr > td select.selectlist:focus,
.ebaFormTable table.formlayout > tbody > tr > td textarea:focus {
  background-color: #FFF;
  border: 1px solid #666;
}
/* line 1028, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td textarea.codeTextarea {
  font: normal 11px/14px monospace;
}
/* line 1031, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td select.selectlist {
  /* Add extra margin to get cell height same as single text field*/
  margin: 6px 0 7px 0;
}
/* line 1036, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td span.display_only,
.ebaFormTable table.formlayout > tbody > tr > td span.display_only a {
  font: normal 14px/16px Arial, sans-serif;
  color: #333;
}
/* line 1040, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td fieldset label {
  display: inline;
}
/* line 1043, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td label {
  display: block;
  min-width: 120px;
  padding: 3px 40px 3px 0;
  font: normal 14px/16px Arial, sans-serif;
  color: #666;
}
/* line 1049, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td label a {
  font: normal 14px/16px Arial, sans-serif;
  color: #666;
  text-decoration: none;
}
/* line 1055, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td label.ebaRequired, .ebaFormTable table.formlayout > tbody > tr > td label.ebaRequired a {
  color: #EA0000;
  font-weight: bold;
}
/* line 1059, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td label.ebaNoLabel {
  display: none;
}
/* line 1061, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td label.ebaNoLabel + br {
  display: none;
}
/* line 1066, ../scss/eba_uniframe.scss */
.ebaFormTable table.formlayout > tbody > tr > td span.ebaLabelError {
  font: normal 11px/12px Arial, sans-serif;
  color: #666;
}

/* ========================== */
/* =  Two Column Pane View  = */
/* ========================== */
/* line 1076, ../scss/eba_uniframe.scss */
div.ebaTwoColPane {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #AAA;
}
/* line 1082, ../scss/eba_uniframe.scss */
div.ebaTwoColPane > div {
  display: table-cell;
  vertical-align: top;
}
/* line 1085, ../scss/eba_uniframe.scss */
div.ebaTwoColPane > div h2 {
  border-top: none;
  padding-left: 10px;
  border-bottom: 1px solid #aaaaaa;
  color: #404040;
}
/* line 1090, ../scss/eba_uniframe.scss */
div.ebaTwoColPane > div h2.leftButtons {
  padding-left: 0;
}
/* line 1095, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol {
  width: 320px;
  border-right: 1px solid #AAA;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
  background: #F8F8F8;
}
/* line 1100, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol.ebaSideColCollapsed {
  width: 35px !important;
}
/* line 1102, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol.ebaSideColCollapsed h2 {
  width: 35px !important;
  overflow: hidden;
  height: 30px;
}
/* line 1106, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol.ebaSideColCollapsed h2 span {
  display: none;
}
/* line 1109, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol.ebaSideColCollapsed h2 span.leftButtons {
  display: block;
}
/* line 1112, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol.ebaSideColCollapsed h2 a.ebaTitleButton {
  border-right: none;
}
/* line 1115, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol.ebaSideColCollapsed h2 a.ebaTitleButton img.showIcon {
  /*					margin-left: 11px;
  					margin-right: 16px;*/
}
/* line 1120, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol.ebaSideColCollapsed ul {
  width: 35px !important;
  overflow: hidden;
}
/* line 1123, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol.ebaSideColCollapsed ul li h3 {
  display: none;
}
/* line 1126, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol.ebaSideColCollapsed ul li a span img {
  margin-left: 5px !important;
}
/* line 1131, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol ul.sectionList {
  /* Give this a width so the table cell does not collapse */
  width: 320px;
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;
}
/* line 1137, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol ul.sectionList li {
  margin: 0;
  padding: 0;
  clear: left;
}
/* line 1141, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol ul.sectionList li a {
  border-bottom: 1px solid #DDD;
  background-color: #FFF;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 #FFF;
  padding: 0;
  height: 40px;
  display: block;
  /*					@include multi-transition(background-color .1s linear);
  */
}
/* line 1151, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol ul.sectionList li a.active {
  background-color: #c9dffc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5effb), color-stop(100%, #c9dffc));
  background-image: -webkit-linear-gradient(#e5effb, #c9dffc);
  background-image: -moz-linear-gradient(#e5effb, #c9dffc);
  background-image: linear-gradient(#e5effb, #c9dffc);
  border-bottom: 1px solid #7190BA;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #222;
}
/* line 1157, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol ul.sectionList li a h3 {
  float: left;
  width: 270px;
  margin: 0;
  padding: 8px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: bold 12px/12px Arial, sans-serif;
}
/* line 1166, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol ul.sectionList li a h3 em {
  display: block;
  font: normal 11px/12px Arial, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 1177, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol ul.sectionList.noSubLine a {
  height: 30px;
}
/* line 1179, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaSideCol ul.sectionList.noSubLine a h3 {
  padding: 3px 10px;
  font: bold 12px/24px Arial, sans-serif;
}
/* line 1186, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaMainCol div.ebaMainColContentContainer {
  padding: 10px;
}
/* line 1189, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaMainCol div.apex-rds-container {
  background-color: #dbdbdb;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f4f4f4', endColorstr='#dbdbdb');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dbdbdb')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(#f4f4f4, #dbdbdb);
  background-image: -moz-linear-gradient(#f4f4f4, #dbdbdb);
  background-image: linear-gradient(#f4f4f4, #dbdbdb);
  margin: 0;
  font: bold 12px/30px Arial, sans-serif;
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid #BBB;
  position: relative;
  padding-left: 5px;
  border-bottom: 1px solid #aaaaaa;
  height: 30px;
  float: none;
}
/* line 1201, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaMainCol div.apex-rds-container ul.apex-rds {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 1205, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaMainCol div.apex-rds-container ul.apex-rds li {
  float: left;
  display: block;
  padding: 5px 0;
}
/* line 1209, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaMainCol div.apex-rds-container ul.apex-rds li a {
  background: none;
  height: auto;
  border: none;
  display: block;
  font: bold 11px/12px Arial, sans-serif;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
}
/* line 1218, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaMainCol div.apex-rds-container ul.apex-rds li a span {
  font: bold 11px/12px Arial, sans-serif;
  color: #666;
}
/* line 1222, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaMainCol div.apex-rds-container ul.apex-rds li a:hover {
  background: none;
  border: none;
}
/* line 1225, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaMainCol div.apex-rds-container ul.apex-rds li a:hover span {
  color: #333 !important;
}
/* line 1231, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaMainCol div.apex-rds-container ul.apex-rds li.apex-rds-selected a, div.ebaTwoColPane div.ebaMainCol div.apex-rds-container ul.apex-rds li.apex-rds-selected a:hover {
  color: #333;
  background-color: #888888;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#777777', endColorstr='#888888');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#888888')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(100%, #888888));
  background-image: -webkit-linear-gradient(#777777, #888888);
  background-image: -moz-linear-gradient(#777777, #888888);
  background-image: linear-gradient(#777777, #888888);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}
/* line 1236, ../scss/eba_uniframe.scss */
div.ebaTwoColPane div.ebaMainCol div.apex-rds-container ul.apex-rds li.apex-rds-selected a span, div.ebaTwoColPane div.ebaMainCol div.apex-rds-container ul.apex-rds li.apex-rds-selected a:hover span {
  color: #FFF !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* =================== */
/* = Content Regions = */
/* =================== */
/* Section Container */
/* line 1251, ../scss/eba_uniframe.scss */
div.ebaRegion {
  margin: 0 0 10px 0;
}
/* line 1253, ../scss/eba_uniframe.scss */
div.ebaRegion h1 {
  margin: 0;
  padding: 0;
  font: bold 14px/30px Arial, sans-serif;
  color: #333;
  border-bottom: 1px solid #DDD;
  position: relative;
  /* Collapse / Expand Control */
  /* Buttons Container */
}
/* line 1261, ../scss/eba_uniframe.scss */
div.ebaRegion h1 a.ebaRegionControl {
  display: block;
  float: left;
}
/* line 1264, ../scss/eba_uniframe.scss */
div.ebaRegion h1 a.ebaRegionControl img {
  width: 18px;
  height: 18px;
  display: block;
  margin: 6px 6px 6px 0;
  background: url(../img/eba_details_page_icons.png) 0 -46px no-repeat;
  border: none;
}
/* line 1272, ../scss/eba_uniframe.scss */
div.ebaRegion h1 a.ebaRegionControl.ebaRegionControl img {
  background: url(../img/eba_details_page_icons.png) 0 -28px no-repeat;
}
/* line 1277, ../scss/eba_uniframe.scss */
div.ebaRegion h1 span {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 1281, ../scss/eba_uniframe.scss */
div.ebaRegion h1 span a.ebaRegionLink {
  display: block;
  float: left;
  margin: 6px 0 0 4px;
  font: normal 11px/14px Arial, sans-serif;
  text-decoration: none;
  color: #666;
  padding: 2px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #EEE;
  -moz-transition: "background 0.2s linear, border 0.2s linear, color 0.2s linear";
  -webkit-transition: "background 0.2s linear, border 0.2s linear, color 0.2s linear";
  transition: "background 0.2s linear, border 0.2s linear, color 0.2s linear";
}
/* line 1292, ../scss/eba_uniframe.scss */
div.ebaRegion h1 span a.ebaRegionLink:hover {
  border: 1px solid #BBB;
  color: #333;
  background-color: #F0F0F0;
}
/* line 1297, ../scss/eba_uniframe.scss */
div.ebaRegion h1 span a.ebaRegionLink img {
  border: none;
  vertical-align: baseline;
}
/* line 1301, ../scss/eba_uniframe.scss */
div.ebaRegion h1 span a.ebaRegionLink img.editIcon {
  width: 9px;
  height: 9px;
  background: url(../img/ws_control_icons.png) -30px -9px no-repeat;
  margin-right: 4px;
}
/* line 1307, ../scss/eba_uniframe.scss */
div.ebaRegion h1 span a.ebaRegionLink:hover img.editIcon {
  background: url(../img/ws_control_icons.png) -30px 0 no-repeat;
}
/* line 1310, ../scss/eba_uniframe.scss */
div.ebaRegion h1 span a.ebaRegionLink.ebaTopLink {
  padding: 3px 6px 1px 6px;
}
/* line 1313, ../scss/eba_uniframe.scss */
div.ebaRegion h1 span a.ebaRegionLink img.topIcon {
  width: 9px;
  height: 9px;
  background: url(../img/ws_control_icons.png) -39px 0 no-repeat;
}
/* line 1318, ../scss/eba_uniframe.scss */
div.ebaRegion h1 span a.ebaRegionLink:hover img.topIcon {
  background: url(../img/ws_control_icons.png) -48px 0 no-repeat;
}
/* line 1324, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaRegionContent {
  margin: 10px 0 0 0;
}
/* line 1326, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaRegionContent > a {
  color: #000;
  font: normal 12px/16px Arial, sans-serif;
}
/* line 1330, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaRegionContent pre {
  font: normal 11px/14px "Menlo", "Consolas", monospace;
  color: #666;
}
/* line 1335, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaTextRegion {
  font: normal 12px/16px Arial, sans-serif;
}
/* line 1337, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaTextRegion p {
  margin: 0 0 10px 0;
  font: normal 12px/16px Arial, sans-serif;
}
/* line 1341, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaTextRegion h3, div.ebaRegion div.ebaTextRegion b {
  margin: 0;
  font: bold 13px/18px Arial, sans-serif;
  color: #333;
}
/* line 1346, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaTextRegion a {
  color: #888;
}
/* line 1350, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaTextRegion > ul, div.ebaRegion div.ebaTextRegion > ol {
  margin: 10px 0 10px 25px;
  padding: 0;
}
/* line 1354, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaTextRegion > ul {
  list-style: square outside;
}
/* line 1356, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaTextRegion > ul li {
  font: normal 12px/16px;
}
/* line 1359, ../scss/eba_uniframe.scss */
div.ebaRegion div.ebaTextRegion > ul ul {
  list-style: square outside;
  margin: 2px 0 2px 20px;
  padding: 0;
}

/* ==================== */
/* = Large Icons List = */
/* ==================== */
/* line 1371, ../scss/eba_uniframe.scss */
table.ebaLargeIcons {
  padding-bottom: 4px;
  width: 100%;
}
/* line 1374, ../scss/eba_uniframe.scss */
table.ebaLargeIcons td {
  vertical-align: middle;
  text-align: center;
}
/* line 1377, ../scss/eba_uniframe.scss */
table.ebaLargeIcons td a {
  display: block;
  -webkit-transition: background-color border, 0.2s;
  -moz-transition: background-color border, 0.2s;
  transition: background-color border, 0.2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  text-decoration: none;
  border: 1px solid transparent;
}
/* line 1384, ../scss/eba_uniframe.scss */
table.ebaLargeIcons td a:hover {
  background-color: #F0F0F0;
  border: 1px solid #DDD;
  color: #333;
}
/* line 1388, ../scss/eba_uniframe.scss */
table.ebaLargeIcons td a:hover span.iconLabel {
  color: #333;
}
/* line 1392, ../scss/eba_uniframe.scss */
table.ebaLargeIcons td a span.largeIcon {
  display: block;
  margin: 0 auto;
}
/* line 1395, ../scss/eba_uniframe.scss */
table.ebaLargeIcons td a span.largeIcon img {
  border: none;
}
/* line 1399, ../scss/eba_uniframe.scss */
table.ebaLargeIcons td a span.iconLabel {
  display: block;
  margin: 0 auto 10px auto;
  font: normal 13px/18px Arial, sans-sreif;
  text-decoration: none;
  color: #666;
  color: rgba(0, 0, 0, 0.75);
}
