/* Set up Variable Colors */
/* line 35, ../scss/ws_presentation.scss */
body {
  margin: 0;
}

/* line 39, ../scss/ws_presentation.scss */
div.clear {
  clear: both;
}

/* ======================================== */
/* = Websheets Presentation mode tool bar = */
/* ======================================== */
/* line 45, ../scss/ws_presentation.scss */
#wspToolbar {
  height: 36px;
  background-color: #c9dffc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5effb), color-stop(100%, #c9dffc));
  background-image: -webkit-linear-gradient(#e5effb, #c9dffc);
  background-image: -moz-linear-gradient(#e5effb, #c9dffc);
  background-image: linear-gradient(#e5effb, #c9dffc);
  border-bottom: 1px solid #7190BA;
  position: relative;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
/* line 56, ../scss/ws_presentation.scss */
#wspToolbar ul.wspBreadcrumb {
  list-style: none;
  margin: 0;
  padding: 0 4px;
}
/* line 60, ../scss/ws_presentation.scss */
#wspToolbar ul.wspBreadcrumb li {
  display: block;
  float: left;
  margin: 6px;
  height: 24px;
}
/* line 65, ../scss/ws_presentation.scss */
#wspToolbar ul.wspBreadcrumb li a {
  display: block;
  float: left;
  font: normal 11px/14px Arial, sans-serif;
  padding: 4px 0;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/* line 73, ../scss/ws_presentation.scss */
#wspToolbar ul.wspBreadcrumb li a:hover {
  text-decoration: underline;
}
/* line 77, ../scss/ws_presentation.scss */
#wspToolbar ul.wspBreadcrumb li.separator img {
  margin: 6px 0 5px 0;
  width: 6px;
  height: 11px;
  background: url(../img/ws_control_icons.png) 0 -11px no-repeat;
  display: block;
}
/* line 84, ../scss/ws_presentation.scss */
#wspToolbar ul.wspBreadcrumb li.active a {
  font-weight: bold;
}
/* line 89, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions {
  position: absolute;
  right: 6px;
  top: 0;
  /*		width: 140px;
  		> div {
  			float: right;
  		}*/
}
/* line 97, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions div.wspSlideNavigation {
  float: left;
}
/* line 99, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions div.wspSlideNavigation a {
  margin: 6px 0;
}
/* line 103, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a {
  display: block;
  float: left;
  font: normal 11px/14px Arial, sans-serif;
  padding: 4px 10px;
  margin: 6px 6px 6px 0;
  background-color: #dddddd;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f0f0f0', endColorstr='#dddddd');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#dddddd')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#f0f0f0, #dddddd);
  background-image: -moz-linear-gradient(#f0f0f0, #dddddd);
  background-image: linear-gradient(#f0f0f0, #dddddd);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #969696;
  color: #444;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  text-decoration: none;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 0 rgba(255, 255, 255, 0.75) inset;
}
/* line 117, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a img {
  width: 5px;
  height: 10px;
  margin: 2px 0;
  vertical-align: bottom;
}
/* line 123, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a#prevSectionButton {
  margin-right: 0;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
/* line 126, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a#prevSectionButton img {
  background: url(../img/ws_control_icons.png) -30px -18px no-repeat;
}
/* line 130, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a#nextSectionButton {
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
/* line 132, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a#nextSectionButton img {
  background: url(../img/ws_control_icons.png) -35px -18px no-repeat;
}
/* line 136, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a.closeButton {
  padding: 4px 8px;
  margin-right: 0;
}
/* line 139, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a.closeButton img {
  background: url(../img/ws_control_icons.png) -58px -40px no-repeat;
  width: 10px;
  height: 11px;
  margin: 1px 0;
}
/* line 146, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a:hover {
  background-color: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='white', endColorstr='#eeeeee');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#eeeeee')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
}
/* line 149, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  background-color: #cccccc;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#dddddd', endColorstr='#cccccc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#dddddd, #cccccc);
  background-image: -moz-linear-gradient(#dddddd, #cccccc);
  background-image: linear-gradient(#dddddd, #cccccc);
}
/* line 153, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a.disabledButton {
  filter: none;
  background: #F0F0F0;
  cursor: default;
}
/* line 157, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a.disabledButton:hover {
  filter: none;
  background: #F0F0F0;
}
/* line 161, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions a.disabledButton img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}
/* line 166, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions span.totalSlides {
  display: block;
  float: left;
  font: normal 11px/14px Arial, sans-serif;
  padding: 4px 14px 4px 0;
  margin: 6px 0;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
  background: #FFF;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  width: 20px;
  text-align: left;
}
/* line 178, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions span.totalSlides em {
  font-style: normal;
  color: #666;
  padding-right: 4px;
}
/* line 184, ../scss/ws_presentation.scss */
#wspToolbar div.wspSlideOptions input {
  /*			display: none;*/
  float: left;
  font: bold 11px/14px Arial, sans-serif;
  padding: 4px 4px 4px 10px;
  margin: 6px 0;
  border: none;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
  background: #FFF;
  color: #333;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  width: 20px;
  text-align: right;
}

/* ===================== */
/* = Section Container = */
/* ===================== */
/* line 206, ../scss/ws_presentation.scss */
div.wspSectionContainer ul#wspSectionList {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  min-height: 600px;
  max-height: 760px;
  min-width: 600px;
  max-width: 1160px;
}
/* line 214, ../scss/ws_presentation.scss */
div.wspSectionContainer ul#wspSectionList > li {
  display: none;
  margin: 40px 40px 60px 40px;
}
/* line 217, ../scss/ws_presentation.scss */
div.wspSectionContainer ul#wspSectionList > li > h2.wspSectionHeading {
  /* Section Headings */
  margin: 0 0 10px 0;
  padding: 10px;
  font: bold 24px/36px Arial, sans-serif;
  color: #333;
  border-bottom: 1px solid #EEE;
}

/* line 228, ../scss/ws_presentation.scss */
div.wsSectionContent {
  /* Section Content Container */
}
/* line 229, ../scss/ws_presentation.scss */
div.wsSectionContent > a {
  color: #000;
  font: normal 16px/24px Arial, sans-serif;
}
/* line 234, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation {
  list-style: none;
  margin: 0;
  padding: 10px;
}
/* line 238, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation li {
  display: block;
  margin-bottom: 5px;
}
/* line 241, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation li a {
  display: block;
  font: normal 20px/24px Arial, sans-serif;
  color: #666;
  text-decoration: none;
  padding: 5px;
  -webkit-transition: background, 0.2s;
  -moz-transition: background, 0.2s;
  transition: background, 0.2s;
}
/* line 248, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation li a:hover {
  background-color: #EEE;
}
/* line 251, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation li a img {
  border: none;
  margin: 0 10px 0 0;
  width: 24px;
  height: 24px;
  background-image: url(../img/ws_control_icons.png);
  background-repeat: none;
  background-color: transparent;
  vertical-align: middle;
}
/* line 260, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation li a img.textIcon {
  background-position: 0 -81px;
}
/* line 263, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation li a img.plsqlIcon {
  background-position: -24px -81px;
}
/* line 266, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation li a img.chartIcon {
  background-position: -48px -81px;
}
/* line 269, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation li a img.dataIcon {
  background-position: 0 -105px;
}
/* line 273, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation li a img.nav_pageIcon, div.wsSectionContent ul.wsSectionNavigation li a img.nav_sectionIcon {
  background-position: -24px -105px;
}
/* line 276, ../scss/ws_presentation.scss */
div.wsSectionContent ul.wsSectionNavigation li a img.pageIcon {
  background-position: -48px -105px;
}

/* line 284, ../scss/ws_presentation.scss */
div.wspTextSection {
  font: normal 16px/24px Arial, sans-serif;
  color: #333;
  padding: 0 10px;
}
/* line 288, ../scss/ws_presentation.scss */
div.wspTextSection h3 {
  font: bold 18px/30px Arial, sans-serif;
  color: #666;
  margin: 10px 0;
  padding: 0;
}
/* line 294, ../scss/ws_presentation.scss */
div.wspTextSection p {
  margin: 0 0 10px 0;
  font: normal 16px/24px Arial, sans-serif;
}
/* line 298, ../scss/ws_presentation.scss */
div.wspTextSection a {
  color: #888;
  font: normal 16px/24px Arial, sans-serif;
}
/* line 303, ../scss/ws_presentation.scss */
div.wspTextSection > ul, div.wspTextSection > ol {
  margin: 10px 0 10px 30px;
  padding: 0;
}
/* line 307, ../scss/ws_presentation.scss */
div.wspTextSection > ul {
  list-style: square outside;
}
/* line 309, ../scss/ws_presentation.scss */
div.wspTextSection > ul li {
  font: normal 16px/24px Arial, sans-serif;
}
/* line 312, ../scss/ws_presentation.scss */
div.wspTextSection > ul ul {
  list-style: square outside;
  margin: 2px 0 2px 50px;
  padding: 0;
}
/* line 318, ../scss/ws_presentation.scss */
div.wspTextSection table {
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 323, ../scss/ws_presentation.scss */
div.wspTextSection table td, div.wspTextSection table th {
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  padding: 10px;
  font: normal 16px/24px Arial, sans-serif;
  color: #333;
}
/* line 330, ../scss/ws_presentation.scss */
div.wspTextSection table th {
  text-align: left;
  background: #EEE;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  font-weight: bold;
}
/* line 336, ../scss/ws_presentation.scss */
div.wspTextSection table th strong {
  font: bold 16px/24px Arial, sans-serif;
}
/* line 339, ../scss/ws_presentation.scss */
div.wspTextSection table th > p {
  margin: 0;
  font: bold 16px/24px Arial, sans-serif;
}
/* line 342, ../scss/ws_presentation.scss */
div.wspTextSection table th > p strong {
  font: bold 16px/24px Arial, sans-serif;
}

/* ======================== */
/* = Page Navigation Tree = */
/* ======================== */
/* line 353, ../scss/ws_presentation.scss */
div.tree ul li a {
  font: normal 16px/20px Arial, sans-serif;
  height: 20px;
  padding: 2px 4px 2px 2px;
  color: #333;
  border: 1px solid transparent;
  -webkit-transition: background border, 0.2s;
  -moz-transition: background border, 0.2s;
  transition: background border, 0.2s;
}
/* line 360, ../scss/ws_presentation.scss */
div.tree ul li a:hover {
  background-color: #F0F0F0;
  border-color: #E0E0E0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 20px;
  padding: 2px 4px 2px 2px;
}
/* line 368, ../scss/ws_presentation.scss */
div.tree ul li a.clicked, div.tree ul li a.clicked:hover {
  background-color: #E0E0E0;
  border-color: #D0D0D0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 20px;
  padding: 2px 4px 2px 2px;
}
/* line 375, ../scss/ws_presentation.scss */
div.tree ul li a ins {
  height: 20px;
  width: 16px;
  background: url(../img/ws_control_icons.png) -52px -107px no-repeat;
}

/* ===================================================== */
/* = Report Formatting for Reports inside of a Section = */
/* ===================================================== */
/* line 386, ../scss/ws_presentation.scss */
div.wsSectionReport {
  /* Float Left so that top action bar only stretches to the table width */
  float: left;
}
/* line 389, ../scss/ws_presentation.scss */
div.wsSectionReport table {
  border-collapse: collapse;
  border-spacing: 0 0;
}
/* line 392, ../scss/ws_presentation.scss */
div.wsSectionReport table th {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #DDD;
  padding: 12px 16px 12px 0;
  font: bold 16px/20px Arial, sans-serif;
  color: #333;
}
/* line 400, ../scss/ws_presentation.scss */
div.wsSectionReport table td {
  border: none;
  border-bottom: 1px solid #EEE;
  padding: 12px 16px 12px 0;
  font: normal 16px/20px Arial, sans-serif;
}
/* line 406, ../scss/ws_presentation.scss */
div.wsSectionReport table tr:hover td {
  background-color: #F8F8F8;
}
/* line 410, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle1 {
  border: 1px solid #AAA;
}
/* line 412, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle1 th {
  border-bottom: 1px solid #AAA;
  padding: 12px 16px;
  background-color: #eeeeee;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f8f8f8', endColorstr='#eeeeee');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f8f8f8, #eeeeee);
  background-image: -moz-linear-gradient(#f8f8f8, #eeeeee);
  background-image: linear-gradient(#f8f8f8, #eeeeee);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
/* line 418, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle1 td {
  padding: 8px 16px;
  border-top: 1px solid #DDD;
  border-bottom: none;
}
/* line 424, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle2 {
  border: none;
}
/* line 426, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle2 th {
  border-bottom: 1px solid #AAA;
  padding: 8px 16px;
}
/* line 430, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle2 td {
  padding: 8px 16px;
  border-bottom: 1px solid #DDD;
}
/* line 434, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle2 tr:last-child td {
  border-bottom: none;
}
/* line 438, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle3 {
  border: none;
}
/* line 440, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle3 th {
  border-bottom: 2px solid #CCC;
  padding: 8px 16px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  vertical-align: bottom;
}
/* line 446, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle3 td {
  padding: 8px 16px;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #EEE;
}
/* line 451, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle3 tr td:last-child {
  border-right: 1px solid #CCC;
}
/* line 454, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle3 tr td:first-child {
  border-left: 1px solid #CCC;
}
/* line 457, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle3 tr:last-child td {
  border-bottom: 1px solid #CCC;
}
/* line 460, ../scss/ws_presentation.scss */
div.wsSectionReport table.wsReportStyle3 tr:hover td {
  background-color: #F2F2F2;
}

/* ========================== */
/* = Action Bar for Reports = */
/* ========================== */
/* line 469, ../scss/ws_presentation.scss */
div.wsActionBar {
  background-color: #F8F8F8;
  border: 1px solid #aaaaaa;
  border-bottom: none;
  height: 54px;
  position: relative;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
/* line 470, ../scss/ws_presentation.scss */
div.wsActionBar.wsActionBarOnly {
  border-bottom: 1px solid #aaaaaa;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
}
/* line 475, ../scss/ws_presentation.scss */
div.wsActionBar.wsActionBarBottom {
  border-top: none;
  border-bottom: 1px solid #aaaaaa;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
/* line 479, ../scss/ws_presentation.scss */
div.wsActionBar.wsActionBarBottom div.wsActionBarInside {
  border-top: 1px solid #F0F0F0;
}
/* line 489, ../scss/ws_presentation.scss */
div.wsActionBar span.wsActionBarRight {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 493, ../scss/ws_presentation.scss */
div.wsActionBar span.wsActionBarRight a.wsSmallButton {
  margin: 8px 8px 8px 0;
}

/* line 498, ../scss/ws_presentation.scss */
span.wsActionBarRight {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 502, ../scss/ws_presentation.scss */
span.wsActionBarRight a.wsSmallButton {
  margin: 8px 8px 8px;
}

/* ================================= */
/* = Search Field (for Action Bar) = */
/* ================================= */
/* line 509, ../scss/ws_presentation.scss */
div.searchField {
  display: block;
  float: left;
  margin: 8px;
  background: #FFF;
  height: 36px;
  border: 1px solid #969696;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* line 518, ../scss/ws_presentation.scss */
div.searchField span.searchIcon {
  display: block;
  float: left;
  padding: 11px 0 11px 12px;
}
/* line 522, ../scss/ws_presentation.scss */
div.searchField span.searchIcon img {
  display: block;
  width: 14px;
  height: 14px;
  background: url(../img/ws_control_icons.png) -40px -18px no-repeat;
}
/* line 529, ../scss/ws_presentation.scss */
div.searchField input {
  display: block;
  float: left;
  height: 24px;
  font: normal 16px/24px Arial, sans-serif;
  border: none;
  padding: 6px;
  color: #333;
}
/* line 538, ../scss/ws_presentation.scss */
div.searchField a.wsSmallButton {
  border: none;
  border-left: 1px solid #969696;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  margin: 0;
}
/* line 544, ../scss/ws_presentation.scss */
div.searchField a.wsSmallButton:active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  background-color: #cccccc;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#dddddd', endColorstr='#cccccc');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#cccccc')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#dddddd, #cccccc);
  background-image: -moz-linear-gradient(#dddddd, #cccccc);
  background-image: linear-gradient(#dddddd, #cccccc);
}

/* line 550, ../scss/ws_presentation.scss */
div.wsSection div.wsTextSection div.wsSectionReport {
  /*	table {
  		border-bottom: inheri;
  		th, td {
  			border: none;
  		}
  		th {
  			background-color: transparent;
  		}
  	}*/
}
/* line 551, ../scss/ws_presentation.scss */
div.wsSection div.wsTextSection div.wsSectionReport a.wsSmallButton {
  color: #444;
}
/* line 554, ../scss/ws_presentation.scss */
div.wsSection div.wsTextSection div.wsSectionReport a.wsHotButton {
  color: #FFF;
}

/* line 567, ../scss/ws_presentation.scss */
a.wsSmallButton {
  display: block;
  float: left;
  font: normal 16px/24px Arial, sans-serif;
  padding: 6px 16px;
  margin: 12px 0 12px 12px;
  background-color: #d0d0d0;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f0f0f0', endColorstr='#d0d0d0');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#d0d0d0')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #d0d0d0));
  background-image: -webkit-linear-gradient(#f0f0f0, #d0d0d0);
  background-image: -moz-linear-gradient(#f0f0f0, #d0d0d0);
  background-image: linear-gradient(#f0f0f0, #d0d0d0);
  -webkit-box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  box-shadow: 0 1px 0 white inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #969696;
  color: #404040;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
/* line 581, ../scss/ws_presentation.scss */
a.wsSmallButton:active {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset;
  background: none #C0C0C0;
}

/* line 586, ../scss/ws_presentation.scss */
a.wsSmallButton.wsHotButton {
  border: 1px solid #2A5D9E;
  background-color: #285b9c;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#6096d9', endColorstr='#285b9c');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6096d9', endColorstr='#285b9c')";
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6096d9), color-stop(100%, #285b9c));
  background-image: -webkit-linear-gradient(#6096d9, #285b9c);
  background-image: -moz-linear-gradient(#6096d9, #285b9c);
  background-image: linear-gradient(#6096d9, #285b9c);
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  font-weight: bold;
}
/* line 593, ../scss/ws_presentation.scss */
a.wsSmallButton.wsHotButton:active {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset;
  background: none #356098;
}
