@import "_variables";


/**
 * Colorized Background
 */
.t-Alert--wizard,
.t-Alert--horizontal {
  border-radius: @g_Container-BorderRadius;
  border-color: @_base-alpha-4;
}

.t-Alert--colorBG {

  &.t-Alert--warning,
  &.t-Alert--yellow {
    background-color: @l_Alert-Warning-BG;
    color: fade(contrast(@l_Alert-Warning-BG, desaturate(darken(@l_Alert-Warning-BG,  100%), 100%), desaturate(lighten(@l_Alert-Warning-BG,  100%), 50%)), 100%);
  }

  &.t-Alert--success {
    background-color: @l_Alert-Success-BG;
    color: fade(contrast(@l_Alert-Success-BG, desaturate(darken(@l_Alert-Success-BG,  100%), 100%), desaturate(lighten(@l_Alert-Success-BG,  100%), 50%)), 100%);
  }

  &.t-Alert--danger,
  &.t-Alert--red {
    background-color: @l_Alert-Danger-BG;
    color: fade(contrast(@l_Alert-Danger-BG, desaturate(darken(@l_Alert-Danger-BG,  100%), 100%), desaturate(lighten(@l_Alert-Danger-BG,  100%), 50%)), 100%);
  }

  &.t-Alert--info {
    background-color: @l_Alert-Info-BG;
    color: fade(contrast(@l_Alert-Info-BG, desaturate(darken(@l_Alert-Info-BG,  100%), 100%), desaturate(lighten(@l_Alert-Info-BG,  100%), 50%)), 100%);
  }
}

.t-Alert-icon .t-Icon {
  color: #FFF;
}


/**
 * Modifier: Warning
 */
.t-Alert--warning,
.t-Alert--yellow {
  .t-Alert-icon .t-Icon {
    color: @g_Warning-BG;
  }

  &.t-Alert--horizontal .t-Alert-icon {
    background-color: fadeout(@g_Warning-BG, 85%);
  }
}

/**
 * Modifier: Success
 */
.t-Alert--success {
  .t-Alert-icon .t-Icon {
    color: @g_Success-BG;
  }

  &.t-Alert--horizontal .t-Alert-icon {
    background-color: fadeout(@g_Success-BG, 85%);
  }
}

/**
 * Modifier: Information
 */
.t-Alert--info {
  .t-Alert-icon .t-Icon {
    color: @g_Info-BG;
  }

  &.t-Alert--horizontal .t-Alert-icon {
    background-color: fadeout(@g_Info-BG, 85%);
  }
}

/**
 * Modifier: Success
 */
.t-Alert--danger,
.t-Alert--red {
  .t-Alert-icon .t-Icon {
    color: @g_Danger-BG;
  }

  &.t-Alert--horizontal .t-Alert-icon {
    background-color: fadeout(@g_Danger-BG, 85%);
  }
}

.t-Alert--wizard {
  .t-Alert-inset {
    border-radius: @g_Container-BorderRadius;
  }
}

.t-Alert--horizontal,
.t-Alert--wizard {
  background-color: @g_Region-BG;
  color: @g_Region-FG;
}

/* Page Level Alerts (from APEX)
   ========================================================================== */
.t-Alert--page {
  box-shadow: 0 0 0 0.1rem @_base-alpha-4 inset, 0 3px 9px -2px @_base-shadow-4;

  .a-Notification-item:before {
    background-color: @_base-alpha-9;
  }

  &.t-Alert--success {
    background-color: fadeout(@g_Success-BG, 10%);
    color: @g_Success-FG;

    .t-Alert-icon {
      background-color: transparent;
      color: @g_Success-FG;

      .t-Icon {
        color: inherit;
      }
    }

    .t-Button--closeAlert {
      color: @g_Success-FG !important;
    }
  }

  &.t-Alert--warning {
    background-color: @g_Warning-BG;
    color: @g_Warning-FG;

    .t-Alert-icon .t-Icon {
      color: inherit;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

    .a-Notification-item:before {
      background-color: currentColor;
    }
  }
}

/* Alerts on Login Page
   ========================================================================== */
.t-Login-containerBody .t-Body-alert {
  width: 460px;
}
