button.button-default span,
button.button-alt1 span,
button.button-alt2 span,
button.button-alt3 span {
	/* Fix IE7 Padding Issue */
	padding-bottom: 1px;
}

input#apexir_SEARCH {	DISPLAY: block;	FLOAT: left}

.rounded-corner-region-wizard {
	float: none;
	width: 700px;
	}