@import "compass/css3";
@import "settings/gradient";
@import "settings/vars";

/* Set up Variable Colors */
$windowBorder: #AAA;
$dividerBorder: #888;

$black90: rgba(0,0,0,.90);
$black90hex: #141414;

$white75: rgba(255,255,255,.75);
$black75: rgba(0,0,0,.75);
$black75hex: #404040;

$white50: rgba(255,255,255,.50);
$black50: rgba(0,0,0,.50);
$black50hex: #7f7f7f;

$white25: rgba(255,255,255,.25);
$black25: rgba(0,0,0,.25);
$black25hex: #bfbfbf;

$black10: rgba(0,0,0,.10);
$black10hex: #DFDFDF;

$fontFamily: Arial, sans-serif;

$frameBorderRadius: 6px;

$buttonBorderRadius: 4px;
$buttonBorder: #666;

/* ================ */
/* = Reset Basics = */
/* ================ */
html {
	overflow-y: scroll;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
strong, b {
	font-weight: bold;
}
em {
	font-style: italic;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: baseline; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear {clear: both;}

a {
	color: #405580;
}
::-moz-selection{ background: #EA0000; color:#FFF; text-shadow: none; }
::selection { background:#EA0000; color:#fff; text-shadow: none; }

/* ====================== */
/* = Begin Styling Here = */
/* ====================== */

body {
	background: url(../images/bg_noise.png) #F8F8F8;
	font: normal 12px/16px Arial, sans-serif;
	&#uPopup {
		margin: 8px 0 0 0;
	}
}
/* Error Page */
div.uErrorTechInfo {
	font: normal 11px/16px monospace;
	color: #666;
}

/* Hidden Items (Region Position 8)*/
div#uHiddenItems {
	display: none;
}
/* ================ */
/* = Page Columns = */
/* ================ */
div#uBodyContainer {
	margin: 0 8px;
}
body#uLogin {
	div#uBodyContainer {
		margin: 60px auto;
	}
}
div#uLoginContainer {
	margin: 0 auto;
	width: 600px;
	table.formlayout {
		margin: 16px auto;
		td {
			vertical-align: top;
			input.password {
				display: block;
				float: left;
			}
			a.uButton {
				display: block;
				float: left;
			}
		}
	}
}
#uOneCol {
	clear: both;
}
table#uPageCols {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	td#uLeftCol,
	td#uRightCol,
	td#uMidCol {
		vertical-align: top;
	}
	td#uLeftCol {
		padding-right: 8px;
	}
	td#uRightCol {
		padding-left: 8px;
	}
	td#uLeftCol,
	td#uRightCol {
		width: 190px;
		& > aside {
			width: 190px;
		}
	}
}

/* Header */
header#uHeader {
	margin-bottom: 8px;
	hgroup {
		/* Removing Height so header extends to logo */
		/*height: 40px;*/
		position: relative;
		div.uAPEXNavBar {
			position: absolute;
			right: 0;
			top: 0;
			margin: 10px 0;
			padding: 0;
			ul {
				padding: 0;
				position: static;
				height: 20px;
				li {
					display: block;
					float: left;
					font: normal 11px/20px Arial, sans-serif;
					margin: 0 8px;
					color: #555;
					text-shadow: 0 1px o rgba(255,255,255,.5);
					a {
						color: #405580;
						&:hover {
							color: #ea0000;
						}
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		ul {
			position: absolute;
			right: 0;
			top: 0;
			padding: 10px 8px;
		}
		ul li {
			display: block;
			float: left;
			font: normal 11px/18px Arial, sans-serif;
			margin: 0 8px;
			color: #555;
			text-shadow: 0 1px o rgba(255,255,255,.5);
		}
		ul li a,
		ul li span {
			display: inline-block;
			font: normal 11px/18px Arial, sans-serif;
			color: #333;
			text-decoration: none;
			border: 1px solid transparent;
			&:hover img {
				&.uAdmin{background-position:-24px -32px;}
				&.uMobile{background-position:0 -32px;}
				&.uHelp{background-position:-12px -32px;}
			}
		}
		ul li img {
			background-image: url(../images/theme_23.png);
			background-repeat: none;
			background-color: transparent;
			width: 12px;
			height: 12px;
			vertical-align: text-top;
			&.uAdmin{background-position:-24px -20px;}
			&.uMobile{background-position:0 -20px;}
			&.uHelp{background-position:-12px -20px;}
			&.uUser{background-position:-36px -20px;}
		}
		ul li a.uLogout {
			padding: 0 6px;
			border: 1px solid #CCC;
			@include border-radius(10px);
			&:hover {
				color: #333;
				background-color: #EEE;
			}
		}
		ul li a:hover {
			color: #EA0000;
		}
		ul li:last-child {
			margin-right: 0;
		}
		a#uLogo {
			margin: 10px 0;
			display: inline-block;
			font: normal 20px/20px Arial, sans-serif;
			color: #333;
			text-decoration: none;
			img {
/*				background: url(../images/theme_23.png) 0 0 no-repeat;
				width: 136px;
				height: 18px;*/
				vertical-align: bottom;
			}
		}
	}
}

/* Vertically Center Logo */
.ie7 header#uHeader hgroup a#uLogo img {
	vertical-align: middle;
}

/* NO-CSS3 Version */
.no-css3 header#uHeader nav,
.no-css3 nav.uPageTabs {
	ul {
		border: 1px solid #AAA;
	}
}

header#uHeader nav,
nav.uPageTabs {
	clear: both;
	margin: 0;
	ul {
		background: url(../images/theme_23.png) 0 -44px repeat-x transparent;
		height: 32px;
		@include border-radius(3px);
		@include box-shadow(0 0 0 1px #AAA inset, 0 2px 0 rgba(255,255,255,.75) inset, 0 1px 0 rgba(0,0,0,.1));
		overflow: hidden;
		li {
			display: block;
			float: left;
			&:first-child a {
				@include border-radius(3px 0 0 3px);
				border-left: 1px solid transparent;
			}
			a {
				display: block;
				color: #333;
				text-decoration: none;
				font: bold 12px/32px Arial, sans-serif;
				padding: 0 16px;
				border-right: 1px solid #AAA;
				text-shadow: 0 1px 0 rgba(255,255,255,.75);
				@include box-shadow(0 1px 0 #AAA inset, 0 -1px 0 #AAA inset, 0 0 0 1px rgba(255,255,255,.35) inset);
				&.active,
				&.active:hover {
					@include box-shadow(0 0 0 1px rgba(0,0,0,.15) inset, 0 16px 5px rgba(0,0,0,.25) inset);
					background: url(../images/theme_23.png) 0 -76px repeat-x;
					text-shadow: 0 0 2px rgba(0,0,0,.5);
					color: #F0F0F0;
				}
				&:hover {
					@include box-shadow(0 1px 0 #AAA inset, 0 -1px 0 #AAA inset, 0 16px 8px 0 rgba(255,255,255,.65) inset);
				}
				&:active {
					@include box-shadow(0 1px 0 #AAA inset, 0 -1px 0 #AAA inset, 0 16px 10px rgba(0,0,0,.25) inset);
				}
			}
		}
	}
}
nav.uPageTabs {
	margin: 0 0 8px 0;
}

div.uParentTabs {
	ul {
		float: right;
		list-style: none;
		margin: 0 8px;
		li {
			float: left;
			a {
				display: block;
				font: normal 11px/18px Arial, sans-serif;
				color: #333;
				padding: 0 8px;
				margin: 0 0 0 1px;
				text-decoration: none;
				border: 1px solid #CCC;
				border-bottom: none;
				@include border-radius(3px 3px 0 0);
				background-color: #F0F0F0;
				@include transition(background-color border, .2s);
				&:hover {
					background-color: #FFF;
					border: 1px solid #AAA;
					border-bottom: none;
				}
			}
			&.active a {
				background-color: #FFF;
				border: 1px solid #AAA;
				border-bottom: none;
			}
		}
	}
}

div#uBreadcrumbs {
	font: normal 11px/16px Arial, sans-serif;
	color: #222;
	margin: 0;
	position: relative;
	height: 32px;
	ul {
		list-style: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		li {
			padding: 8px 0;
			display: inline-block;
			a {
				color: #405580;
				text-decoration: none;
				@include transition(color, .2s);
				&:hover {
					color: #ea0000;
				}
			}
			&.active span {
				color: #555;
			}
			&.uSeparator {
				img {
					background: url(../images/theme_23.png) -48px -20px no-repeat;
					width: 12px;
					height: 12px;
					vertical-align: text-top;
				}
			}
		}
	}
	div.uBreadcrumbsBG {
		margin: 0 126px;
		background: url(../images/theme_23.png) 0 -172px repeat-x;
		height: 32px;
		div.uLeft,
		div.uRight {
			width: 126px;
			height: 32px;
			position: absolute;
		}
		div.uLeft {
			background: url(../images/theme_23.png) 0 -140px repeat-x;
			left: 0;
		}
		div.uRight {
			background: url(../images/theme_23.png) 0 -108px repeat-x;
			right: 0;
		}
	}
}
/* IE 7 Breadcrumbs Fix */
.ie7 div#uBreadcrumbs {
	ul li {
		zoom: 1;
		display: inline;
		padding: 8px 4px;
	}
	ul li.uSeparator {
		padding: 8px 0;
	}
	ul li:first-child {
		padding-left: 0;
	}
}

/* Footer */
footer#uFooter {
	clear: both;
	position: relative;
	margin: 8px 0 0 0;
	div.uFooterContent {
		position: absolute;
		top: 0;
		left: 0;
		padding: 8px 0;
		font: normal 11px/16px Arial, sans-serif;
		color: #555;
		z-index: 2;
		a {
			color: #333;
		}
	}
	
	div.uFooterBG {
		z-index: 1;
		margin: 0 126px;
		background: url(../images/theme_23.png) 0 -204px repeat-x;
		height: 32px;
		div.uLeft,
		div.uRight {
			width: 126px;
			height: 32px;
			position: absolute;
		}
		div.uLeft {
			background: url(../images/theme_23.png) 0 -236px repeat-x;
			left: 0;
		}
		div.uRight {
			background: url(../images/theme_23.png) 0 -268px repeat-x;
			right: 0;
		}
	}
}

/* =========================== */
/* = Page Regions (Sections) = */
/* =========================== */
.nocss3 section.uRegion {
	h1 {
		background: url(../images/theme_23.png) 0 -348px repeat-x #dedede;
	}
}
section.uRegion {
	@include box-sizing(border-box);
	clear: both;
	@include border-radius(3px);
	@include box-shadow(0 1px 1px rgba(0,0,0,.1));
	border: 1px solid #AAA;
	background-color: #FFF;
	color: #333;
	margin: 0 0 8px 0;
	p {
		margin: 0 0 8px 0;
	}
	& > div.uRegionHeading {
		display: table;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		@include background-gradient(#F0F0F0, #DDDDDD);
		@include border-radius(3px 3px 0 0);
		border-bottom: 1px solid #AAA;
		@include box-shadow(0 1px 0 rgba(255,255,255,.75) inset);
		h1 {
			display: table-cell;
			vertical-align: middle;
			font: bold 12px/30px Arial, sans-serif;
			text-shadow: 0 1px 0 rgba(255,255,255,.75);
			padding: 0 0 0 8px;
			color: #333;
			a.uRegionControl {
				display: block;
				float: left;
				img {
					width: 18px;
					height: 18px;
					display: block;
					margin: 6px 6px 6px 0;
					background: url(../images/theme_23.png) -18px -520px no-repeat;
					border: none;
				}
				&.uRegionCollapsed img {
					background: url(../images/theme_23.png) 0 -520px no-repeat;
				}
			}
		}
		span.uButtonContainer {
			display: table-cell;
			text-align: right;
			a.uButton,
			a.uButtonSmall,
			a.uButtonLarge,
			a.uButtonIR {
				margin: 8px 8px 8px 0;
			}
		}
	}
	& > div.uRegionContent {
		@include border-radius(0 0 3px 3px);
		padding: 8px;
		& > ul,
		& > ol {
			margin: 8px 0 8px 16px;
		}
	}
}

/* Error Region */
section.uErrorRegion {
	width: 600px;
	margin: 30px auto;
	border: 2px solid #EA4444;
	img#error_technical_info_expand_icon {
		margin-right: 4px;
	}
	ul#error_technical_info {
		margin: 0 0 0 24px;
	}
}

/* Region with White Heading */
section.uWhiteRegion {
	& > div.uRegionHeading {
		background: none transparent;
		border-bottom: none;
		h1 {
			font: bold 12px/14px Arial, sans-serif;
			padding: 8px 8px 0 8px;
		}
		span.uButtonContainer {
			a.uButton,
			a.uButtonSmall,
			a.uButtonLarge,
			a.uButtonIR {
				margin: 8px 8px 0 0;
			}
		}
	}
}

section.uMessageRegion {
	width: 600px;
	margin: 0 auto 8px auto;
/*	border: 2px solid #11AA11;*/
	background-color: #F0F0F0;
	min-height: 32px;
	img.uCheckmarkIcon,
	img.uWarningIcon {
		width: 32px;
		height: 32px;
		display: block;
		float: left;
	}
	img.uCheckmarkIcon {
		background: url(../images/theme_23.png) 0 -854px no-repeat;
	}
	img.uWarningIcon {
		background: url(../images/theme_23.png) -32px -854px no-repeat;
	}
	div.uMessageText {
		float: left;
		width: 532px;
		font: normal 14px/20px Arial, sans-serif;
		padding: 6px;
		color: #333;
	}
	div.uRegionContent {
		position: relative;
		a.uCloseMessage {
			position: absolute;
			right: 8px;
			top: 8px;
			width: 16px;
			height: 16px;
			background: url(../images/theme_23.png) -72px -20px no-repeat;
			display: block;
		}
		ul.htmldbUlErr {
			margin: 4px 0 0 15px;
			li {
				font: normal 11px/18px Arial, sans-serif;
				color: #555;
			}
		}
	}
}

section.uReportFilter {
	div.uReportFilterRow {
		img.uSearchIcon {
			width: 32px;
			height: 32px;
			display: block;
			float: left;
			background: url(../images/theme_23.png) -168px -520px no-repeat;
		}
		table.formlayout {
			margin-left: 8px;
			td {
				padding: 0 4px 0 0;
				background: none transparent;
				vertical-align: baseline;
				input.text_field {
					margin-right: 8px;
				}
			}
		}
	}
}

section.uBracketedRegion {
	background: none #F0F0F0;
	& > div.uRegionHeading {
		background: none transparent;
		border-bottom: none;
		h1 {
			font: bold 12px/14px Arial, sans-serif;
			padding: 8px 8px 0 8px;
		}
		span.uButtonContainer {
			a.uButton,
			a.uButtonSmall,
			a.uButtonLarge,
			a.uButtonIR {
				margin: 8px 8px 0 0;
			}
		}
	}
}

section.uRegionNoPadding {
	& > div.uRegionContent {
		padding: 0;
		table.uReportContainer,
		table.uReport {
			border-right: none;
			border-left: none;
			width: 100%;
		}
		table.uReport.uReportFixedHeaders {
			width: auto;
			
		}
		tbody.uReportPagination > tr > td {
			padding: 0 8px;
			table td {
				padding: 4px 0;
			}
		}
		div.uReportDownloadLinks {
			padding: 4px 8px;
		}
	}
}

section.uHideShowRegion {
	& > div.uRegionHeading {
		h1 {
			line-height: 30px !important;
		}
	}
}

section.uBorderlessRegion {
	background: none transparent;
	border: none;
	@include box-shadow(none);
	& > div.uRegionHeading {
		background: none transparent;
		border-bottom: none;
		@include box-shadow(none);
		h1 {
			font: bold 12px/14px Arial, sans-serif;
			padding: 8px 8px 0 8px;
		}
		span.uButtonContainer {
			a.uButton,
			a.uButtonSmall,
			a.uButtonLarge,
			a.uButtonIR {
				margin: 8px 8px 0 0;
			}
		}
	}
}

/* Region with No Heading */
section.uNoHeading {
	div.uRegionHeading {
		background: none transparent;
		border-bottom: none;
		
	}
	div.uRegionContent {
		padding: 8px;
	}
}

/* Button Region with Title */
section.uButtonRegion {
	@include background-gradient(#F0F0F0, #DDDDDD);
	border: 1px solid #AAA;
	@include border-radius(3px);
	@include box-shadow(0 1px 0 rgba(255,255,255,.75) inset, 0 1px 1px rgba(0,0,0,.1));
	margin: 0 0 8px 0;
	div.uButtonRegionContentContainer {
		display: table;
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		h1 {
			display: table-cell;
			vertical-align: middle;
			font: bold 12px/30px Arial, sans-serif;
			text-shadow: 0 1px 0 rgba(255,255,255,.75);
			padding: 0 0 0 8px;
			color: #333;
		}
		div.uButtonRegionContent {
			display: table-cell;
			vertical-align: middle;
			font: normal 12px/30px Arial, sans-serif;
			text-shadow: 0 1px 0 rgba(255,255,255,.75);
			padding: 0 0 0 8px;
			color: #333;
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}
		}
		span.uButtonContainer {
			display: table-cell;
			text-align: right;
			a.uButton,
			a.uButtonSmall,
			a.uButtonLarge,
			a.uButtonIR {
				margin: 8px 8px 8px 0;
			}
		}
	}
}

/* IE7 Styles for uButtonRegion */
.ie7 section.uButtonRegion {
	div.uButtonRegionContentContainer h1,
	div.uButtonRegionContentContainer div.uButtonRegionContent {
		float: left;
		border-bottom: none;
		line-height: 38px;
	}
	span.uButtonContainer {
		float: right;
	}
}

/* Add Gradient Image for IE */
.ie6, .ie7, .ie8, .ie9 {
	section.uButtonRegion,
	section.uRegion {
		&.uWhiteRegion div.uRegionHeading,
		&.uBorderlessRegion div.uRegionHeading,
		&.uNoHeading div.uRegionHeading {
			background: none transparent;
		}
		&.uNoHeading div.uRegionHeading {
			height: 0;
		}
		& > div.uRegionHeading {
			background: url(../images/theme_23.png) 0 -968px repeat-x #DDDDDD;
		}
	}
}
/* IE 9 Border Radius hack, 3px looks too small*/
.ie9 {
	section.uRegion,
	section.uButtonRegion {
		border-radius: 3.2px;
	}
}

/* ===================================== */
/* = target regions place in side bars = */
/* ===================================== */
aside {
	section.uRegion {
		div.uRegionHeading h1 {
			font: bold 11px/24px Arial, sans-serif;
		}
		div.uRegionContent {
			padding: 4px 8px;
			ul.uVerticalSidebarList {
				margin: -4px -8px !important;
				li {
					a {
						padding: 6px 8px;
					}
					&:last-child a {
						@include border-radius(0 0 3px 3px);
					}
				}
			}
			div.uVerticalProgressList {
				margin: -3px 0 -3px -7px;
			}
		}
	}
	section.uWhiteRegion,
	section.uBorderlessRegion,
	section.uBracketedRegion {
		div.uRegionHeading {
			background: none transparent;
			h1 {
				border-bottom: none;
				font: bold 11px/12px Arial, sans-serif;
				padding-top: 6px;
			}
		}
	}	
}

.ie7 aside {
	section.uRegion {
		div.uRegionHeading h1 {
			line-height: 24px;
		}
	}
	section.uWhiteRegion,
	section.uBorderlessRegion,
	section.uBracketedRegion {
		div.uRegionHeading h1 {
			line-height: 12px;
			padding-top: 6px;
		}
	}
}

/* =========== */
/* = Buttons = */
/* =========== */

a.uButton,
a.uButtonLarge,
a.uButtonSmall,
a.uButtonIR {
	text-align: center;
	span {
		white-space: nowrap;
	}
}

a.uButton {
	display: inline-block;
	font: bold 12px/22px Arial, sans-serif;
	text-decoration: none;
	@include border-radius(3px);
	border: 1px solid #888;
	@include box-shadow(0 1px 0 rgba(0,0,0,.15));
	background: mix(#EFEFEF,#BABABA);
	span {
		display: block;
		color: #333;
		text-shadow: 0 1px 0 rgba(255,255,255,.75);
		padding: 0 8px;
		@include border-radius(3px);
		@include background-gradient(#EFEFEF,#BABABA);
		@include box-shadow(0 1px 0 rgba(255,255,255,1) inset);
	}
	span:hover {
		@include background-gradient(#F8F8F8,#D6D6D6);
	}
	span:active  {
		@include box-shadow(0 11px 5px rgba(0,0,0,.25) inset, 
			0 0 1px rgba(0,0,0,.25) inset);
	}
	&.uHotButton {
		border: 1px solid #900;
		background: mix(#f21818,#B00101);
	}
	&.uHotButton span {
		@include background-gradient-ie(#f21818,#B00101);
		color: #FFF;
		text-shadow: 0 -1px 0 rgba(0,0,0,.35);
		@include box-shadow(0 1px 0 rgba(255,255,255,.35) inset);
		&:hover {
			@include background-gradient-ie(#ff2424,#C00101);
		}
		&:active {
			@include box-shadow(0 11px 5px rgba(0,0,0,.25) inset,
				0 0 1px rgba(0,0,0,.25) inset);
		}
	}
}

a.uButtonSmall {
	display: inline-block;
	font: bold 11px/18px Arial, sans-serif;
	text-decoration: none;
	@include border-radius(2px);
	border: 1px solid #888;
	@include box-shadow(0 1px 0 rgba(0,0,0,.15));
	background: mix(#EFEFEF,#BABABA);
	span {
		display: block;
		color: #333;
		text-shadow: 0 1px 0 rgba(255,255,255,.75);
		padding: 0 8px;
		@include border-radius(1px);
		@include background-gradient(#EFEFEF,#BABABA);
		@include box-shadow(0 1px 0 rgba(255,255,255,1) inset);
	}
	span:hover {
		@include background-gradient(#F8F8F8,#D6D6D6);
	}
	span:active  {
		@include box-shadow(0 11px 5px rgba(0,0,0,.25) inset, 
			0 0 1px rgba(0,0,0,.25) inset);
	}
	&.uHotButton {
		border: 1px solid #900;
		background: mix(#f21818,#B00101);
	}
	&.uHotButton span {
		@include background-gradient-ie(#f21818,#B00101);
		color: #FFF;
		text-shadow: 0 -1px 0 rgba(0,0,0,.35);
		@include box-shadow(0 1px 0 rgba(255,255,255,.35) inset);
		&:hover {
			@include background-gradient-ie(#ff2424,#c00101);
		}
		&:active {
			@include box-shadow(0 9px 5px rgba(0,0,0,.25) inset,
				0 0 1px rgba(0,0,0,.25) inset);
		}
	}
}

a.uButtonLarge {
	display: inline-block;
	font: bold 14px/30px Arial, sans-serif;
	text-decoration: none;
	@include border-radius(3px);
	border: 1px solid #888;
	@include box-shadow(0 1px 0 rgba(0,0,0,.15));
	background: mix(#EFEFEF,#BABABA);
	span {
		display: block;
		color: #333;
		text-shadow: 0 1px 0 rgba(255,255,255,.75);
		padding: 0 16px;
		@include border-radius(3px);
		@include background-gradient(#EFEFEF,#BABABA);
		@include box-shadow(0 1px 0 rgba(255,255,255,1) inset);
	}
	span:hover {
		@include background-gradient(#F8F8F8,#D6D6D6);
	}
	span:active  {
		@include box-shadow(0 11px 5px rgba(0,0,0,.25) inset, 
			0 0 1px rgba(0,0,0,.25) inset);
	}
	&.uHotButton {
		border: 1px solid #900;
		background: mix(#f21818,#B00101);
	}
	&.uHotButton span {
		@include background-gradient-ie(#f21818,#B00101);
		color: #FFF;
		text-shadow: 0 -1px 0 rgba(0,0,0,.35);
		@include box-shadow(0 1px 0 rgba(255,255,255,.35) inset);
		&:hover {
			@include background-gradient-ie(#ff2424,#c00101);
		}
		&:active {
			@include box-shadow(0 15px 5px rgba(0,0,0,.25) inset,
				0 0 1px rgba(0,0,0,.25) inset);
		}
	}
}

a.uButtonIR {
	display: inline-block;
	font: bold 11px/22px Arial, sans-serif;
	padding: 0 8px;
	@include background-gradient(#EEEEEE,#DDDDDD);
	@include border-radius(2px);
	border: 1px solid #969696;
	color: #444;
	text-shadow: 0 1px 0 $white75;
	text-decoration: none;
	@include box-shadow(0 1px 0 rgba(0,0,0,.10), 0 1px 0 $white75 inset);
	&:hover {
		@include background-gradient(#FFFFFF,#EEEEEE);
	}
	&:active {
		@include box-shadow(0 1px 0 rgba(0,0,0,.10), 0 1px 2px $black50 inset);
		@include background-gradient-ie(#DDDDDD,#CCCCCC);
	}
}
a.uButtonIR.uHotButton {
	border: 1px solid #822024;
	@include background-gradient-ie(#f21818,#B00101);
	color: #FFF;
	@include box-shadow(0 1px 0 rgba(0,0,0,.10), 0 1px 0 $white50 inset);
	text-shadow: 0 -1px 0 rgba(0,0,0,.35);
	font-weight: bold;
	&:hover {
		@include background-gradient-ie(#ff2424,#c00101);
	}
	&:active {
		@include box-shadow(0 1px 0 rgba(0,0,0,.10), 0 1px 2px $black50 inset);
		@include background-gradient-ie(#D21818,#B00101);
	}
}


.ie6, .ie7, .ie8, .ie9 {
	a.uButton,
	a.uButtonLarge,
	a.uButtonSmall {
		span {
			background: url(../images/theme_23.png) 0 -300px repeat-x #b6b6b6;
		}
		&.uHotButton span {
			background: url(../images/theme_23.png) 0 -350px repeat-x #b20000;
		}
	}
}
.ie9 {
	a.uButton,
	a.uButtonLarge,
	a.uButtonSmall {
		span {
			border-radius: 1px;
		}
		&.uHotButton span {
			background: url(../images/theme_23.png) 0 -351px repeat-x #b20000;
		}
	}
}

/* Inset Buttons */
section.uRegion span.uButtonContainer,
section.uButtonRegion {
	a.uButton,
	a.uButtonLarge,
	a.uButtonSmall,
	a.uButtonIR {
		@include box-shadow(0 1px 0 rgba(255,255,255,.95));
	}
}

/* Buttons in White Region have a Shadow */
section.uWhiteRegion span.uButtonContainer {
	a.uButton,
	a.uButtonLarge,
	a.uButtonSmall,
	a.uButtonIR {
		@include box-shadow(0 1px 0 rgba(0,0,0,.10));
	}
}

/* ================== */
/* = List Templates = */
/* ================== */
ul.uVerticalList,
ul.uVerticalSidebarList {
	margin: 0 !important;
	list-style: none;
	li {
		display: block;
		padding: 3px 0 3px 8px;
		background: url(../images/theme_23.png) 0 -450px no-repeat;
		a {
			color: #333;
			font: normal 12px/14px Arial, sans-serif;
			text-decoration: none;
			color: #405580;
			@include transition(color, .2s);
			&:hover {
				color: #EA0000;
			}
		}
		&.active a {
			font-weight: bold;
		}
	}
}
ol.uNumberedList {
	list-style-type: decimal;
	list-style-position: outside;
	margin: 0 0 0 16px !important;
	padding-left: 4px;
	li {
		display: list-item;
		padding: 3px 0 3px 0;
		a {
			color: #333;
			font: normal 12px/14px Arial, sans-serif;
			text-decoration: none;
			color: #405580;
			@include transition(background-color color, .2s);
			&:hover {
				color: #EA0000;
			}
		}
		&.active a {
			font-weight: bold;
		}
	}
}
ul.uHorizontalLinksList {
	li {
		display: inline;
		margin: 0 4px 0 0;
		a {
			font: normal 12px/20px Arial, sans-serif;
			text-decoration: none;
			@include transition(color, .2s);
			&:hover {
				color: #ea0000;
			};
		}
		&.active a {
			font-weight: bold;
		}
	}
}
ul.noBullets {
	li {
		padding: 3px 0;
		background: none transparent;
	}
}
ul.uVerticalSidebarList {
	li {
		background: none transparent;
		padding: 0;
		border-bottom: 1px solid #D6D6D6;
		&:last-child {
			border-bottom: none;
		}
		a {
			padding: 6px 0;
			display: block;
			font: normal 12px/16px Arial, sans-serif;
			&:hover {
				background: #F8F8F8;
			}
		}
		&.active a {
			background: #F0F0F0;
		}
	}
}

/* Horizontal Tabs + Region Display Selector */
.no-css3, .ie9 {
	div.apex-rds-container,
	div.uHorizontalTabs {
		ul {
			li {
				a {
					background: url(../images/theme_23.png) 0 -301px repeat-x #DDDDDD;
				}
				&.apex-rds-selected a,
				&.active a,
				&:hover a{
					background: url(../images/theme_23.png) 0 -401px repeat-x #DDDDDD;
				}
			}
		}
	}
}
div.apex-rds-container,
div.uHorizontalTabs {
	height: 24px;
	margin: 0 0 8px 0;
	ul {
		list-style: none;
		padding: 0;
		height: 24px;
		li {
			display: block;
			float: left;
			margin: 0;
			a {
				display: block;
				float: left;
				font: normal 11px/14px $fontFamily;
				padding: 4px 10px;
				@include background-gradient(#E6E6E6,#D6D6D6);
				border: 1px solid #969696;
				border-left: none;
				color: #444;
				font-weight: bold;
				text-shadow: 0 1px 0 $white75;
				text-decoration: none;
				@include box-shadow(0 1px 1px rgba(0,0,0,.10), 0 1px 0 $white75 inset);
			}
			&.apex-rds-selected a,
			&.active a,
			&:hover a{
				@include background-gradient(#FFFFFF,#EEEEEE);
				color: #444;
			}
			&:first-child a {
				@include border-radius(3px 0 0 3px);
				border-left: 1px solid #969696;
			}
			&:last-child a {
				@include border-radius(0 3px 3px 0);
			}
		}
	}
}

/* Button List */
div.uButtonList {
	& > a {
		margin-bottom: 4px;
	}
}


/* Horizontal Wizard Progress List */
div.uHorizontalProgressList {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 0 8px 0;
	ul {
		margin: 0 0 10px 0;
		height: 50px;
		padding: 0;
		clear: left;
		float: left;
		position: relative;
		left: 50%;
		li {
			float: left;
			display: block;
			position: relative;
			right: 50%;
			background: url(../images/theme_23.png) 0 -754px no-repeat;
			span {
				display: block;
				float: left;
				padding: 10px 5px 28px 5px;
				font: normal 12px/12px Arial, sans-serif;
				color: #555;
				background-image: url(../images/theme_23.png);
				background-repeat: no-repeat;
				text-align: center;
				white-space: nowrap;
				overflow: hidden;
				min-width: 80px;
				max-width: 190px;
			}
			&.current span,
			&.first-current span,
			&.last-current span {
				color: #333;
				font-weight: bold;
				background-position: 50% -654px;
			}
			&.non-current span,
			&.first-non-current span,
			&.last-non-current span {
				background-position: 50% -604px;
			}
			&.last-non-current,
			&.last-current {
				background: url(../images/theme_23.png) 50% -804px no-repeat;
			}
			&.first-non-current,
			&.first-current {
				background: url(../images/theme_23.png) 50% -704px no-repeat;
			}
		}
	}
}

/* Vertical Wizard Progress List */
div.uVerticalProgressList {
	ul {
		list-style: none;
		li {
			display: block;
			height: 30px;
			overflow: hidden;
			position: relative;
			img {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				background-image: url(../images/theme_23.png);
				background-repeat: no-repeat;
				background-position: -120px -490px;
				width: 30px;
				height: 30px;
				margin: 0;
				padding: 0;
			}
			&.first-current img { background-position: 0 -490px; }
			&.current img { background-position: -30px -490px; }
			&.last-current img { background-position: -60px -490px; }
			&.first-non-current img { background-position: -90px -490px; }
			&.non-current img { background-position: -120px -490px; }
			&.last-non-current img { background-position: -150px -490px; }
			span {
				display: block;
				padding: 0 0 0 30px;
				font: normal 12px/30px Arial, sans-serif;
				@include transition(color, .2s);
				color: #555;
				white-space: nowrap;
			}
			&.first-current span,
			&.current span,
			&.last-current span {
				font-weight: bold;
				color: #333;
			}
		}
	}
}

div.uImagesList {
	ul {
		list-style: none;
		li {
			display: block;
			float: left;
			a {
				display: block;
				float: left;
				min-width: 80px;
				text-align: center;
				text-decoration: none;
				border: 1px solid transparent;
				padding: 8px;
				@include border-radius(3px);
				@include transition(background-color border-color, .2s);
				span {
					display: block;
					font: normal 12px/16px Arial, sans-serif;
					color: #405580;
					margin-top: 4px;
				}
				&:hover {
					background-color: #F8F8F8;
					border: 1px solid #AAA;
				}
			}
			&.active a {
				background-color: #F0F0F0;
				border: 1px solid #888;
				span {
					font-weight: bold;
				}
			}
		}
	}
	&.uVerticalImagesList {
		li {
			clear: left;
			a {
				text-align: left;
				min-width: 160px;
				img {
					display: inline-block;
					vertical-align: middle;
				}
				span {
					display: inline-block;
					vertical-align: middle;
					margin: 0 0 0 4px;
				}
			}
		}
	}
}

/* ====================================== */
/* = Form Layout Table (apex-generated) = */
/* ====================================== */
/* Override FCK Editor's Padding */
span.cke_skin_kama {
	padding: 0 !important;
}
div.formNoHighlight tr:hover td {
	background: none !important;
}
div#apexir_CONTROL_PANEL_DROP {
	td.fielddatabold {
		vertical-align: top;
	}
}
div#apexir_WORKSHEET_REGION table.formlayout {
	table.ajax_shuttle td {
		vertical-align: top;
	}
	td {
		padding: 2px;
		background: none transparent;
		@include transition(none);
		@include border-radius(0);
		vertical-align: top;
		label {
			display: inline;
			font: normal 12px/16px Arial, sans-serif;
			padding: 0;
		}
		button {
			margin-right: 4px;
		}
		input.text_field,
		select.selectlist,
		input.password,
		input[type=text],
		textarea {
			margin: 0;
			border: 1px solid $dividerBorder;
			padding: 2px;
			font: normal 12px/16px $fontFamily;
			@include border-radius(2px);
			@include box-shadow(0 1px 1px rgba(0,0,0,.15) inset);
			background-color: #F8F8F8;
			color: #333;
			&:focus {
				background-color: #FFF;
				border: 1px solid #666;
			}
		}
	}
	tr:hover td {
		background: none transparent;
	}
	td.apex_finderbar_left {
		padding: 8px;
	}
	td.apex_finderbar_left_bottom {
		vertical-align: bottom;
	}
}
/* Style APEX Generated Form Table when in a Region Template */
table.formlayout {
	border-spacing: 0 0;
	border-collapse: collapse;
	td:empty {
		padding: 0;
	}
	td {
		input.text_field,
		select.selectlist,
		input.password,
		input[type=text],
		textarea {
			margin: 0;
			border: 1px solid $dividerBorder;
			padding: 3px;
			font: normal 12px/16px $fontFamily;
			@include border-radius(2px);
			@include box-shadow(0 1px 1px rgba(0,0,0,.15) inset);
			background-color: #F8F8F8;
			color: #333;
			&:focus {
				background-color: #FFF;
				border: 1px solid #666;
			}
		}
		input[disabled] {
			@include opacity(0.5);
		}
		input[type=hidden] {
			display: none;
		}
		textarea.codeTextarea {
			font: normal 11px/14px monospace;
		}
		select.selectlist {
			/* Add extra margin to get cell height same as single text field*/
			margin: 6px 0 7px 0;
		}
		span.display_only,
		span.display_only a {
			font: normal 12px/16px $fontFamily;
			color: #333;
		}
		span.display_bold,
		span.display_bold a {
			font: bold 12px/16px $fontFamily;
			color: #333;
		}
		fieldset label {
			display: inline;
		}
		label {
			display: inline-block;
			padding: 3px 8px 3px 0;
			font: normal 12px/16px $fontFamily;
			color: #555;
			span {
				display: none;
			}
			a {
				font: normal 12px/16px $fontFamily;
				color: #555;
				text-decoration: none;
			}
			a.uHelpLink {
				color: #555;
				&:hover {
					text-decoration: underline;
				};
			}
			&.uRequired {
				font-weight: bold;
			}
			&.uRequired a.uHelpLink {
				font-weight: bold;
			}
			&.uRequired img.uAsterisk {
				width: 7px;
				height: 11px;
				background: url(../images/theme_23.png) -60px -20px no-repeat;
				vertical-align: top;
			}
		}
		span.uLabelError {
			display: block;
			font: normal 11px/12px $fontFamily;
			color: #EA0000;
			margin-right: 8px;
		}
		span.uNoLabel {
			display: none;
		}
	}
	& > tbody > tr {
		& > td {
			/*@include border-radius(4px);*/
			background: none transparent;
		}
		& > td:only-child {
			@include border-radius(4px);
		}
		& > td:first-child {
			@include border-radius(4px 0 0 4px);
		}
		& > td:last-child {
			@include border-radius(0 4px 4px 0);
		}
/*		&:hover > td {
			background-color: #F8F8F8;
		}*/
		&.rowHighlight > td { 
			background-color: #F0F0F0;
		}
	}
	table.lov {
		a {
			margin: 0;
		}
	}
	td.lov input.popup_lov {
		border: 1px solid $dividerBorder;
		padding: 4px;
		font: normal 14px/16px $fontFamily;
		@include border-radius(2px 0 0 2px);
		@include box-shadow(0 1px 1px rgba(0,0,0,.15) inset);
		background-color: #F8F8F8;
		@include opacity(0.75);
		color: #333;
	}
	td img.uPopupLOVIcon {
		display: block;
		width: 30px;
		height: 26px;
		background: url(../images/theme_23.png) -110px -552px no-repeat;
		margin: 0;
		border: 0;
	}
	table.shuttle {
		td {
			vertical-align: top;
		}
	}
	& > tbody > tr > td {
		padding: 4px 8px;
	}
}

/* Popup LOV key in tabular forms */
table {
	span.lov {
		img.uPopupLOVIcon {
			width: 20px;
			height: 18px;
			background: url(../images/theme_23.png) -115px -556px no-repeat;
			margin: 0;
			border: 1px solid #AAA;
		}
	}
}


/* ================= */
/* = Auto Complete = */
/* ================= */
div.ac_results {
	border: 1px solid #AAA;
	border-top: none;
	padding: 8px 0;
	@include border-radius(0 0 3px 3px);
	@include box-shadow(0 1px 1px rgba(0,0,0,.1));
	ul li {
		padding: 0 8px;
		font: normal 12px/20px Arial, sans-serif;
		color: #333;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&.ac_even {
			background-color: #FFF;
		}
		&.ac_odd {
			background-color: #F8F8F8;
		}
		&.ac_over {
			background-color: #EA0000;
			color: #FFF;
		}
		&:active {
			background-color: #D8D8D8;
		}
		strong {
			font-weight: bold;
		}
	}
}


/* ===================== */
/* =  Report Templates = */
/* ===================== */
/* Value Attribute Pairs Tables */
ul.uValuePairs {
	list-style: none;
	li {
		display: block;
		position: relative;
		border-top: 1px dotted #DDD;
		&:first-child {
			border-top: none;
		}
		span {
			display: block;
			font: normal 12px/16px Arial, sans-serif;
			padding: 4px 0;
			&.uValueHeading {
				/*float: left;*/
			}
			&.uValue {
				font-weight: bold;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

table.uReport {
	empty-cells: show;
	border-collapse: collapse;
	border-spacing: 0 0;
	thead > tr > th {
		vertical-align: bottom;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #DDD;
		padding: 8px 8px 8px 0;
		font: bold 11px/16px Arial, sans-serif;
		color: #555;
		a {
			color: #555;
			text-shadow: 0 1px 0 rgba(255,255,255,.75);
		}
	}
	& > tbody > tr > td {
		border: none;
		border-bottom: 1px solid #EEE;
		padding: 8px 8px 8px 0;
		font: normal 12px/16px Arial, sans-serif;
		color: #333;
	}
	& > tbody > tr:nth-child(2n) > td {
		background-color: #F8F8F8;
	}
	& > tbody > tr:hover > td {
		background-color: #EFEFEF;
	}
}
table.uReportStandard {
	border: 1px solid #AAA;
	thead > tr > th {
		border-bottom: 1px solid #AAA;
		padding: 8px;
		@include background-gradient(#F8F8F8,#EEEEEE);
		text-shadow: 0 1px 0 rgba(255,255,255,.75);
	}
	& > tbody > tr > td {
		padding: 4px 8px;
		border-top: 1px solid #DDD;
		border-bottom: none;
		line-height: 20px;
	}
}
table.uReportAlternative {
	border: 1px solid #DDD;
	thead > tr > th {
		border-bottom: 2px solid #DDD;
		padding: 8px;
		@include background-gradient(#EEEEEE,#FFFFFF);
		text-shadow: 0 1px 0 rgba(255,255,255,.75);
	}
	& > tbody > tr > td {
		padding: 4px 8px;
		border-bottom: 1px solid #DDD;
	}
	& > tbody > tr:last-child > td {
		border-bottom: none;
	}
}
table.uReportFixedHeaders {
	border: none;
	border-bottom: 1px solid #AAA;
	thead > tr > th {
		border-bottom: 1px solid #AAA;
		padding: 8px;
		background: none #F0F0F0;
		text-shadow: 0 1px 0 rgba(255,255,255,.75);
	}
	& > thead {
		display: block;
		th {
			border-bottom: 1px solid #AAA;
		}
	}
	& > tbody {
		display: block;
		height: 200px;
		overflow-x: hidden;
		overflow-y: scroll;
		width: 100%;
	}
	& > tbody > tr {
		display: block;
		height: 28px;
	}
	& > tbody > tr > td {
		padding: 4px 8px;
		border-top: 1px solid #DDD;
		border-bottom: none;
		line-height: 20px;
	}
}
table.uReportHorizontal {
	border: none;
	thead > tr > th {
		border-bottom: 2px solid #CCC;
		padding: 4px 8px;
		text-shadow: 0 1px 0 rgba(255,255,255,.75);
	}
	& > tbody > tr > td {
		padding: 4px 8px;
		border-left: 1px solid #DDD;
		border-bottom: 1px solid #EEE;
	}
	& > tbody > tr > td:last-child {
		border-right: 1px solid #CCC;
	}
	& > tbody > tr > td:first-child {
		border-left: 1px solid #CCC;
	}
	& > tbody > tr:last-child > td {
		border-bottom: 1px solid #CCC;
	}
}
table.uReportBorderless {
	border: none;
	thead > tr > th {
		border-bottom: 2px solid #DDD;
		padding: 8px;
	}
	& > tbody > tr > td {
		padding: 4px 8px;
		border-bottom: none;
	}
}

/* Report Download Links */
div.uReportDownloadLinks {
	font: normal 11px/20px Arial, sans-serif;
	color: #AAA;
}

/* Report Pagination */
table td.pagination a.pagination {
	display: block;
	float: left;
	font: normal 11px/20px Arial, sans-serif;
	color: #888;
	}
	table table td.pagination a.pagination img {
		vertical-align: bottom;
		margin: 0 6px;
		}
a.uPaginationPrev, a.uPaginationNext {
	display: block;
	font: normal 11px/20px Arial, sans-serif;
	text-decoration: none !important;
	@include transition(color, .1s);
	}
	a.uPaginationPrev:hover, a.uPaginationNext:hover {
		color: #ea0000;
		}
a.uPaginationNext {
	font-weight: bold;
	margin-left: 8px;
	img {
		width: 9px;
		height: 12px;
		background: url(../images/theme_23.png) -51px -20px no-repeat;
		vertical-align: text-top;
	}
}
a.uPaginationPrev {
	margin-right: 8px;
	img {
		width: 9px;
		height: 12px;
		background: url(../images/theme_23.png) -48px -32px no-repeat;
		vertical-align: text-top;
	}
}
table td.pagination span.fielddata {
	font: normal 11px/20px Arial, sans-serif;
	color: #666;
	}
	
/* ====================== */
/* = Interactive Report = */
/* ====================== */
.apexir_WORKSHEET_DATA th {
	color: #333;
	padding-right: 8px;
}
.apexir_COLUMN_SELECTOR {
	background-color: #FFF;
	margin: 6px 0 6px 6px;
	height: 22px;
	border: 1px solid #AAA;
	border-right: none;
	padding: 0;
	@include box-shadow(0 1px 0 rgba(0,0,0,.1));
	@include border-radius(2px 0 0 2px);
}
#apexir_SEARCHDROPROOT.apexir_SEARCHICON {
	background: url(../images/theme_23.png) -110px -538px no-repeat;
	width: 21px;
	height: 14px;
	margin: 4px;
}
.apexir_SEARCHICON span {
	position: absolute;
	left: -9999px;
	visibility: hidden;
	display: block;
}
.apexir_SEARCH {
	padding: 0;
	margin: 6px 0;
	height: 22px;
	border: 1px solid #AAA;
	border-left: none;
	background: #FFF;
	@include box-shadow(0 1px 0 rgba(0,0,0,.1));
	@include border-radius(0 2px 2px 0);
}
/* input field*/
input#apexir_SEARCH {
	padding: 4px;
	border: none;
	height: 14px;
	font: normal 14px/14px $fontFamily;
	display: block;
	float: left;
}
button.apexir-go-button {
	border: none;
	@include background-gradient(#EEEEEE,#DDDDDD);
	margin: 0;
	display: block;
	float: left;
	height: 22px;
	border-left: 1px solid $windowBorder;
	padding: 0 6px;
	&:hover {
		@include background-gradient(#FFFFFF,#EEEEEE);
	}
}
button.apexir-go-button span {
	font: bold 11px/22px $fontFamily;
	background: none transparent;
	height: auto;
	padding: 0;
	color: #444;
	text-shadow: 0 1px 0 $white75;

}
#apexir_SEARCH_COLUMN_DROP {
	padding: 0;
	color: #888;
	margin: 6px 0;
	background-color: #FFF;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	height: 22px;
	font: normal 13px/22px $fontFamily;
	@include box-shadow(0 1px 0 rgba(0,0,0,.1));
}

.apexir_SAVED_REPORTS,
.apexir_ROW_SELECT_LIST {
	padding: 0;
	margin: 6px 6px 6px 0;
	height: 24px;
	label {
		font: normal 11px/24px $fontFamily;
		display: inline-block;
		color: #666;
		margin: 0 6px;
	}
}

td.apex_finderbar_left {
	#apexir_rowcount.fielddata {
		font: normal 11px/24px Arial, sans-serif;
		color: #333;
	}
	table.formlayout td {
		font: normal 11px/24px Arial, sans-serif;
		label.fielddata {
			font: normal 11px/24px Arial, sans-serif !important;
		}
	}	
}

#apexir_SEARCH_BAR_OPTIONS {
	padding: 0;
	margin: 6px 0;
	height: 22px;
	.irr-pill {
/*		background: transparent !important;*/
		width: 30px;
		height: 22px;
		@include background-gradient(#E8E8E8,#DDDDDD);
		border: 1px solid #969696;
		border-left: none;
		@include box-shadow(0 1px 0 rgba(0,0,0,.1));
		&:hover {
			@include background-gradient(#FFFFFF,#EEEEEE);
		}
		span {
			position: relative;
			top: 0;
			text-indent: -9999px;
			width: 22px;
			height: 22px;
			display: block;
			margin: 0 4px;
		}
	}
	.irr-pill-icons-left-active,
	.irr-pill-icons-left,
	.irr-pill-group,
	.irr-pill-group-active,
	.irr-pill-chart,
	.irr-pill-chart-active,
	.irr-pill-report,
	.irr-pill-report-active,
	.irr-pill-report-left,
	.irr-pill-report-left-active {
		border-left: 1px solid #969696;
		@include border-radius(2px 0 0 2px);
	}
	
	.irr-pill-icons-report-active,
	.irr-pill-icons-report {
		@include border-radius(0 2px 2px 0);
	}
	.irr-pill-icons-left-active span {
		background: url(../images/theme_23.png) 0 -538px no-repeat !important;
	}
	.irr-pill-icons-left span {
		background: url(../images/theme_23.png) 0 -560px no-repeat !important;
	}
	.irr-pill-report-right-active span,
	.irr-pill-report-active span,
	.irr-pill-report-center-active span,
	.irr-pill-report-left-active span {
		background: url(../images/theme_23.png) -22px -538px no-repeat !important;
	}
	.irr-pill-report-right span,
	.irr-pill-report span,
	.irr-pill-report-center span,
	.irr-pill-report-left span {
		background: url(../images/theme_23.png) -22px -560px no-repeat !important;
	}
	.irr-pill-group span {
		background: url(../images/theme_23.png) -44px -538px no-repeat !important;
	}
	.irr-pill-group-active span {
		background: url(../images/theme_23.png) -44px -560px no-repeat !important;
	}
	.irr-pill-chart span {
		background: url(../images/theme_23.png) -66px -538px no-repeat !important;
	}
	.irr-pill-chart-active span {
		background: url(../images/theme_23.png) -66px -560px no-repeat !important;
	}
	.irr-pill-details-right-active span {
		background: url(../images/theme_23.png) -88px -538px no-repeat !important;
	}
	.irr-pill-details-right span {
		background: url(../images/theme_23.png) -88px -560px no-repeat !important;
	}
	.irr-pill-icons-left-active,
	.irr-pill-report-right-active,
	.irr-pill-group-active,
	.irr-pill-chart-active,
	.irr-pill-report-active,
	.irr-pill-report-center-active,
	.irr-pill-details-right-active,
	.irr-pill-report-left-active {
		@include background-gradient(#FFFFFF,#EEEEEE);
	}
}

.apexir_ACTION_MENU,
.apexir_WEBSHEET_MENU {
	padding: 0;
	margin: 6px 0 6px 6px;
	display: block;
	float: left;
	button#apexir_ACTIONSMENUROOT,
	button#apexir_WEBSHEETSMANAGE {
		display: block;
		float: left;
		margin: 0;
		padding: 0 8px 0 10px;
		height: 24px;
		border: 1px solid #969696;
		@include box-shadow(0 1px 0 rgba(0,0,0,.1));
		@include border-radius(2px);
		@include background-gradient(#EEEEEE,#DDDDDD);
		&:hover {
			@include background-gradient(#FFFFFF,#EEEEEE);
		}
		&.dhtmlMenuOn {
			@include box-shadow(0 1px 0 rgba(0,0,0,.10), 0 1px 2px $black50 inset);
			@include background-gradient(#DDDDDD,#CCCCCC);
		}
		span {
			padding: 0 10px 0 0;
			margin: 0;
			display: block;
			height: 22px;
			font: bold 11px/22px $fontFamily;
			color: #444;
			text-shadow: 0 1px 0 $white75;
			background: url(../images/theme_23.png) 100% -582px no-repeat;
		}
	}
}

#apexir_TOOLBAR_OPEN {
	background: none;
	height: auto;
	float: none;
	display: block;
	border: 1px solid $windowBorder;
	background-color: #F8F8F8;
	@include border-radius(3px);
	@include box-shadow(0 1px 0 rgba(0,0,0,.1));
}

#apexir_TOOLBAR_CLOSE {
	border-top: 1px solid #FFF;
	background: url(../images/theme_23.png) 0 -969px repeat-x #DDDDDD;
	padding: 0;
	float: none;
	height: 36px; 
	@include border-radius(2px);
}
#apexir_WORKSHEET_REGION {
	padding: 0;
	float: none;
	display: block;
}
#apexir_TOOLBAR {
	padding: 0;
	float: none;
	position: relative;
}

.apexir_BUTTONS {
	margin: 7px;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	a.uButtonIR {
		margin: 1px 0 0 6px;
	}
	a.uButtonSmall {
		margin: 2px;
	}
	table {
		width: auto !important;
	}
}
.apexir_RIGHT_BUTTONS {
	float: right;
}

/* Interactive Report that has no Action Bar above it */
div.wsInteractiveReportOnly {
	#apexir_TOOLBAR_OPEN {
		border-top: 1px solid $windowBorder;
		@include border-radius(2px);
	}
	#apexir_TOOLBAR_CLOSE {
		border-top: none;
	}
}

#apexir_CONTROL_PANEL_COMPLETE {
	a {
		color: #333;
	}
}

/* Single Row Filter View */
td.apex_finderbar_left_top,
td.apex_finderbar_left_top img,
td.apex_finderbar_left_bottom,
td.apex_finderbar_left_bottom img  {
	background: none !important;
}
td.apex_finderbar_middle {
	border-left: 1px solid #CCC;
}

/* adding background images for IRR for IE */
.no-css3, .ie9 {
	button.apexir-go-button {
		background: url(../images/theme_23.png) 0 -301px repeat-x #DDDDDD;
		&:hover {
			background: url(../images/theme_23.png) 0 -401px repeat-x #DDDDDD;
		}
	}
	#apexir_SEARCH_BAR_OPTIONS {
		padding: 0;
		margin: 6px 0;
		height: 22px;
		.irr-pill {
			background: url(../images/theme_23.png) 0 -301px repeat-x #DDDDDD;
			&:hover {
				background: url(../images/theme_23.png) 0 -401px repeat-x #DDDDDD;
			}
		}
		.irr-pill-icons-left-active,
		.irr-pill-report-right-active,
		.irr-pill-group-active,
		.irr-pill-chart-active,
		.irr-pill-report-active,
		.irr-pill-report-center-active,
		.irr-pill-details-right-active,
		.irr-pill-report-left-active {
			background: url(../images/theme_23.png) 0 -401px repeat-x #DDDDDD;
		}
	}
	.apexir_ACTION_MENU,
	.apexir_WEBSHEET_MENU {
		button#apexir_ACTIONSMENUROOT,
		button#apexir_WEBSHEETSMANAGE {
			background: url(../images/theme_23.png) 0 -301px repeat-x #DDDDDD;
			&:hover {
				background: url(../images/theme_23.png) 0 -401px repeat-x #DDDDDD;
			}
			&.dhtmlMenuOn {
				background: url(../images/theme_23.png) 0 -301px repeat-x #DDDDDD;
			}
		}
	}
}


/* ============================ */
/* = Interactive Report Table = */
/* ============================ */
#apexir_WORKSHEET {
	padding: 10px 0;
}
#apexir_DATA_PANEL {
	margin: 0;
}
#apexir_DATA_PANEL > table,
#apexir_GROUP_BY > table {
	border-spacing: 0 0;
/*	width: 100%;*/
	.apexir_WORKSHEET_DATA {
		border-left: 1px solid #DDD;
		border-top: 1px solid #DDD;
/*		width: 100%;*/
		th {
			border-top: none;
			background: url(../images/theme_23.png) 0 -968px repeat-x #DDDDDD;
			border-bottom: 1px solid #CCC;
			border-right: 1px solid #DDD;
			text-align:  left;
			padding-bottom: 7px;
			div {
				margin: 0;
				padding: 7px 15px 0 8px;
				color: #444;
				font: bold 13px/16px $fontFamily;
				text-decoration: none;
				letter-spacing: normal;
				&:hover {
					text-decoration: underline;
				};
			}
			&.current {
				/*border-left: none;*/
				/*border-right: none;*/
				background: none #FFF;
			}
		}
		td {
			border-right: 1px solid #DDD;
			border-bottom: 1px solid #DDD;
			border-top: none;
			background: none #FFF;
			padding: 8px;
			font: normal 12px/16px $fontFamily;
			color: #444;
			@include transition(background-color, .2s);
			a {
				color: #444;
				text-decoration: underline;
			}
			p {
				margin: 0;
			}
		}
		&.apexir_WORKSHEET_ICONS td {
			border-bottom: none;
			a {
				text-decoration: none;
				font: normal 12px/16px $fontFamily;
			}
		}
		tr.odd:hover td,
		tr.even:hover td {
			background-color: #F0F0F0 !important;
		}
	}
	td.pagination {
		padding: 5px 0;
		span.fielddata {
			font: normal 11px/16px $fontFamily;
			color: #666;
		}
		img {
			vertical-align: bottom;
		}
	} 
}

/* ==================== */
/* = APEX IR Rollover = */
/* ==================== */
/* Roll Over IR */
#apexir_rollover {
	border: 1px solid $windowBorder;
	@include border-radius(3px);
	padding: 0;
	background: none #FFF !important;
	@include box-shadow(0 1px 1px rgba(0,0,0,.15));
	}
	#apexir_rollover table {
		@include border-radius(3px 3px 0 0);
		background-color: #F0F0F0;
		border-bottom: 2px solid #DDD;
		}
		#apexir_rollover table td {
			padding: 0 5px;
			text-align: center;
			}
				#apexir_rollover table td input{
					width: 90% !important;
					margin: 0 5px 5px 5px !important;
					padding: 4px;
					font: normal 14px/14px $fontFamily;
					@include border-radius(2px);
					border: 1px solid $dividerBorder;
					}
		#apexir_rollover table span {
			background-color: transparent;
			padding: 2px;
			height: 20px;
			}
			#apexir_rollover table span:hover {
				border: 1px solid $windowBorder;
				background-color: #CCC;
				@include border-radius(2px);
				}
	#apexir_rollover #apexir_rollover_content {
		padding: 3px 0;
	}
#apexir_rollover #apexir_rollover_content a {
		background: #FFF;
		font: normal 11px/20px $fontFamily;
		padding: 0 5px !important;
		width: auto !important;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		}
		#apexir_rollover #apexir_rollover_content a:hover {
			background-color: #F0F0F0;
			}

/* Filter / Sort Dialogs */
div#apexir_CONTROL_PANEL_DROP {
	background: none #F8F8F8;
	border: 1px solid $windowBorder;
	@include border-radius(3px);
	@include box-shadow(0 1px 0 rgba(0,0,0,.10));
	padding: 6px;
	margin: 10px 0;
	font: normal 12px/16px $fontFamily;
	td.fielddatabold {
		color: #333;
		font: bold 13px/32px $fontFamily;
	}
}

button.apexir-button {
/*	display: block;
	float: left;*/
	margin: 0;
	padding: 0 10px;
	height: 24px;
	border: 1px solid #969696;
	@include box-shadow(0 1px 0 rgba(0,0,0,.1));
	@include border-radius(2px);
	@include background-gradient-ie(#EEEEEE,#DDDDDD);
	&:hover {
		@include background-gradient-ie(#FFFFFF,#EEEEEE);
	}
	span {
		padding: 0;
		margin: 0;
		display: block;
		height: 24px;
		font: bold 11px/22px $fontFamily;
		color: #444;
		text-shadow: 0 1px 0 $white75;
		background: none;
	}
}

/* ==================== */
/* = Actions Sub Menu = */
/* ==================== */
.dhtmlSubMenu {
	margin: 2px 0 0 0;
	font: normal 12px/20px Arial, sans-serif;
	@include border-radius(3px);
	background: none #FFF;
	padding: 3px 0;
	@include box-shadow(0 1px 1px rgba(0,0,0,.15));
	border: 1px solid $windowBorder;
	li.dhtmlMenuSep {
		img {
			display: none;
		}
		border-bottom: 1px solid #DDD;
		padding-bottom: 5px;
		margin-bottom: 5px;
		line-height: 1px;
		font-size: 1px;
		background: #FFF;
	}
	li {
		&.dhtmlSubMenuSelected a {
			background-color: #F0F0F0;
			font-weight: bold !important;
			color: #333;
		}
		a {
			color: #333 !important;
			padding: 0;
			margin: 0;
			border: none;
			background: #FFF;
			span {
				color: #333;
			}
			&.dhtmlSubMenuN,
			&.dhtmlSubMenuS {
				font: normal 12px/16px $fontFamily;
				border: none;
				padding: 5px;
				margin: 0;
				&:hover {
					border: none;
				};
			}
			&:hover {
				color: #333 !important;
				background-color: #F0F0F0 !important;
				border: none;
				span {
					color: #333;
				}
			}
			img {
				display: none;
				&.htmldbMIMG {
					display: block;
					margin: 4px 2px 0 0;
				}
			}
		}
	}
}

/* ========================== */
/* = Column Search Selector = */
/* ========================== */
#apexir_columnsearch {
	@include border-radius(3px);
	backround: none #FFF;
	padding: 3px 0;
	@include box-shadow(0 1px 1px rgba(0,0,0,.15));
	border: 1px solid $windowBorder;
	& > a {
		display: block;
		width: auto !important;
		padding: 5px !important;
		font: normal 12px/16px $fontFamily;
		color: #444;
		&:hover {
			background-color: #F0F0F0;
		}
	}
}

/* ============= */
/* = Popup LOV = */
/* ============= */
body.uPopUpLOV {
	margin: 8px;
	input.searchField {
		padding: 4px;
		border: none;
		font: normal 12px/16px $fontFamily;
		color: #333;
		border: 1px solid #969696;
		margin: 6px 0 6px 6px;
		height: 24px;
		background: #FFF;
		@include box-shadow(0 1px 0 rgba(0,0,0,.1));
		@include border-radius(0 2px 2px 0);
	}
	div.uActionBar {
		background-color: #F8F8F8;
		border: 1px solid $windowBorder;
		height: 36px;
		position: relative;
		@include border-radius(2px 2px);
		@include box-shadow(0 1px 0 $white75 inset, 0 1px 1px rgba(0,0,0,.1));
		margin: 0 0 8px 0;
	}
	input.smallButton {
		display: inline-block;
		font: bold 11px/22px Arial, sans-serif;
		padding: 0 8px;
		margin: 6px 0 6px 6px;
		@include background-gradient(#EEEEEE,#DDDDDD);
		@include border-radius(2px);
		border: 1px solid #969696;
		color: #444;
		text-shadow: 0 1px 0 $white75;
		text-decoration: none;
		@include box-shadow(0 1px 0 rgba(0,0,0,.10), 0 1px 0 $white75 inset);
		&:hover {
			@include background-gradient(#FFFFFF,#EEEEEE);
		}
		&:active {
			@include box-shadow(0 1px 0 rgba(0,0,0,.10), 0 1px 2px $black50 inset);
			@include background-gradient-ie(#DDDDDD,#CCCCCC);
		}
		&.hotButton {
			border: 1px solid #822024;
			@include background-gradient-ie(#f21818,#B00101);
			color: #FFF;
			@include box-shadow(0 1px 0 rgba(0,0,0,.10), 0 1px 0 $white50 inset);
			text-shadow: 0 -1px 0 rgba(0,0,0,.35);
			font-weight: bold;
			&:hover {
				@include background-gradient-ie(#ff2424,#c00101);
			}
			&:active {
				@include box-shadow(0 1px 0 rgba(0,0,0,.10), 0 1px 2px $black50 inset);
				@include background-gradient-ie(#D21818,#B00101);
			}
		}
	}
	div.lovLinks {
		a {
			display: block;
			font: normal 12px/16px $fontFamily;
			padding: 5px 0;
			border-bottom: 1px solid #E0E0E0;
			color: #333;
			text-decoration: none;
			&:hover {
				background-color: #F0F0F0;
			}
		}
		br {
			display: none;
		}
	}
	div.lovPagination {
		text-align: center;
		font: normal 11px/16px $fontFamily;
		color: #888;
		padding: 10px 0;
	}
}

/* ======================== */
/* = Search Field Styling = */
/* ======================== */
.sCustomSearch {
	margin: 0 auto;
	padding: 20px 0 24px 0;
	}
	.sCustomSearch table {
		margin: 0 auto;
		}
.sCustomSearch.left {
	margin: 0;
	padding: 0 0 8px 0;
	}
	.sCustomSearch.left table,
	.sCustomSearch.left td {
		border-collapse: collapse;
		padding: 0;
		margin: 0;
		border-spacing: 0;
		}
	
.sCustomSearch table.formlayout {
	padding: 0;
	}
.sCustomSearch table.formlayout td {
	vertical-align: top;
	padding: 0;
	margin: 0;
	}
	.sCustomSearch table.formlayout td button {
		margin-top: 0;
		}
.sCustomSearch table.formlayout br {
	display: none;
	}
.sCustomSearch.large .sSearchField {
	min-width: 300px;
	}
div.sCustomSearch table.formlayout input.sSearchFieldBig {
	display: block;
	font: normal 16px/16px Arial, sans-serif;
	border: 1px solid $windowBorder;
	@include border-radius(3px);
	padding: 8px 8px 8px 32px;
	@include box-shadow(0 1px 2px rgba(0,0,0,.15) inset);
	color: #333;
	margin: 0;
	height: 16px;
	background: url(../images/theme_23.png) no-repeat -168px -520px #FFF;
	&:focus {
		color: #222;
	}
}
ul.sSearchResultsReport {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
	}
	ul.sSearchResultsReport li {
		display: block;
		list-style: none;
		padding: 0 0 10px 0;
		margin: 0;
		}
		ul.sSearchResultsReport li span.title {
			display: block;
			}
		ul.sSearchResultsReport li span.title a {
			font: bold 16px/24px Arial, sans-serif;
			color: #405580;
			text-decoration: underline;
			clear: both;
			}
		ul.sSearchResultsReport li span.description {
			font: normal 13px/16px Arial, sans-serif;
			color: #333;
			display: block;
			}
		ul.sSearchResultsReport li span.type {
			font: normal 11px/16px Arial, sans-serif;
			padding: 0 10px 0 0;
			color: #666;
			}
			ul.sSearchResultsReport li span.last_modified {
				font: normal 13px/16px Arial, sans-serif;
				padding: 0 10px 0 0;
				color: #666;
				}
				
/* ================= */
/* = Legacy Styles = */
/* ================= */
/*.dhtmlSubMenu{border:1px solid #999;-moz-border-radius:6px;-webkit-border-radius:6px;padding:6px 0;margin:0;background:none #F8F8F8;;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.dhtmlSubMenu li{display:block;overflow:hidden;font:normal 13px/14px Arial,sans-serif;color:#333;text-shadow:0 1px 0 rgba(255,255,255,.5);}
.dhtmlMenuSep{text-align:center;}
img.dhtmlMenuSep{display:block;margin:auto;border-bottom:2px solid #e1e1e2;height:1px;background:#e1e1e2;margin:5px 0;width:100%;}
.dhtmlSubMenu img.dhtmlSep{width:180px;height:1px;}
.dhtmlSubMenu .htmldbMIMG,.dhtmlSubMenuS .htmldbMIMG{vertical-align:middle;float:right;width:5px;height:9px;padding-top:6px;}*/
/*.dhtmlSubMenu .dhtmlSubMenuP{text-align:center;color:#808080;padding:3px 8px;
text-decoration:none;white-space:nowrap;font-weight:bold;margin:1px;}*/
/*.dhtmlSubMenu a.dhtmlSubMenuS,.dhtmlSubMenu a.dhtmlSubMenuN{display:hidden;font:normal 13px/24px Arial,sans-serif;margin:0;padding:3px 8px;border:1px solid #F8F8F8;}
.dhtmlSubMenu a.dhtmlSubMenuS:hover,.dhtmlSubMenu a.dhtmlSubMenuN:hover,a.dhtmlSubMenuS:focus,a.dhtmlSubMenuN:focus{background:none #d8e4f0 !important;color:#222;border:1px solid #d8e4f0;}
a.dhtmlSubMenuS,a.dhtmlSubMenuN{display:block;vertical-align:middle;}
a.dhtmlSubMenuS *,a.dhtmlSubMenuN *{vertical-align:middle;}
a.dhtmlSubMenuS span{display:block;font-size:1em;float:left;line-height:24px;padding-left:1px;}
a.dhtmlSubMenuS img{display:block;float:right;width:5px;height:9px;}
.dhtmlSubMenu a.dhtmlSubMenuS,.dhtmlSubMenu a.dhtmlSubMenuN{color:#000;}*/
ul.dhtmlTree{list-style:none;}
ul.dhtmlTree li{padding:2px 0;vertical-align:middle;}
ul.dhtmlTree li img{margin:0 4px;vertical-align:middle;}
div.dhtmlMenuLG{white-space:nowrap;clear:both;}
div.dhtmlMenuLG div.dhtmlMenuItem{text-align:center;float:left;margin:0px 15px 0px 0px;}
div.dhtmlMenuLG a.dhtmlBottom{text-decoration:none;display:block;font-size:13px;margin:0px 5px;font-weight:bold;}
div.dhtmlMenuLG img.dhtmlMenu{}
div.dhtmlMenuLG div.htmldbBKHolder{float:left;}
div.dhtmlMenuLG img.dhtmlMenuOn{}
.dhtmlMenuLG2 li a{float:left;}
.dhtmlMenuLG2{list-style-type:none;padding:0;margin:8px;vertical-align:middle;white-space:nowrap;}
.dhtmlMenuLG2 img{margin:8px 6px;}
.dhtmlMenuLG2 li{float:left;text-decoration:none;display:block;line-height:25px;height:25px;vertical-align:middle;white-space:nowrap;
	a{text-decoration:none;}
}
.dhtmlMenuLG2 li.dhtmlMenuItem{background:#efefef;background-repeat:repeat-x;margin:0 4px 0 0;border:1px solid #606060;-moz-border-radius:3px;-webkit-border-radius:3px;}
.dhtmlMenuLG2 li.dhtmlMenuItem a{padding:0 4px;color:#222;text-shadow:0 1px 0 rgba(255,255,255,0.5);}
.dhtmlMenuLG2 li.dhtmlMenuItem1{background:#efefef;background-repeat:repeat-x;margin:0 4px 0 0;border:1px solid #606060;-moz-border-radius:3px;-webkit-border-radius:3px;}
.dhtmlMenuLG2 li.dhtmlMenuItem1 a{padding:0 0 0 10px;margin:0 4px 0 0;color:#222;text-shadow:0 1px 0 rgba(255,255,255,0.5);}
.dhtmlMenuLG2 li.dhtmlMenuItem1 img{margin:0 2px 0 0;}
.dhtmlSubMenu2{border:1px solid #999;-moz-border-radius:3px;-webkit-border-radius:3px;padding:6px 0;background:none #F8F8F8;;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;background-color:#FFF;font-size:13px;width:200px;list-style-type:none;margin:0;}
.dhtmlSubMenu2 li{margin:0em;padding-left:0em;}
.dhtmlMenuSep2{text-align:center;}
img.dhtmlMenuSep2{display:block;margin:auto;width:80%;border:1px solid #efefef;height:1px;background-color:#ccc;}
.dhtmlSubMenu2 img.dhtmlSep{width:180px;height:1px;}
.dhtmlSubMenu2 .t13MIMG{vertical-align:middle;float:right;padding-top:6px;}
.dhtmlSubMenu2 .dhtmlSubMenuP {
	background-color: #ddd;
	text-align: center;
	color: #808080;
	border-bottom: #ccc 1px solid;
	padding: 3px 8px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
}
.dhtmlSubMenu2 a.dhtmlSubMenuN:link,.dhtmlSubMenu2 a.dhtmlSubMenuN:visited {
	white-space: nowrap;
	height: 1%;
	overflow: hidden;
	display: block;
	overflow: hidden;
	font: normal 12px/20px Arial,sans-serif;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	padding: 2px 8px !important;
	text-decoration: none;
}
.dhtmlSubMenu2 a.dhtmlSubMenuN:hover {
	background: none #E0E0E0 !important;
}
.dhtmlSubMenu2 a.dhtmlSubMenuS:link,.dhtmlSubMenu2 a.dhtmlSubMenuS:visited {
	color: #222;
	display: block;
	font-weight: normal;
	padding: 3px 8px;
	text-decoration: none;
	white-space: nowrap;
	height: 1%;
	overflow: hidden;
}
.dhtmlSubMenu2 a.dhtmlSubMenuS:hover {
	background: none #E0E0E0 !important;
}
.dhtmlSubMenuN{border:none !important;}


/* ============================== */
/* = Calendar Styles (Theme 21) = */
/* ============================== */
table.CalendarHolder table tr td div, table.CalendarAlternative1Holder table tr td div, table.CalendarAlternativeHolder table tr td div,
table.WeekCalendarHolder table tr td div, table.DayCalendarHolder table tr td div,
table.WeekCalendarAlternative1Holder table tr td div, table.DayCalendarHolderAlternative1 table tr td div {
	font: normal 11px/18px Arial, sans-serif;
	color: #333;
	}
/* -------------------- Small Calendar -------------------- */
/* Format Calendar when Entries are not Links */
table.CalendarHolder table tr td div,
table.CalendarAlternative1Holder table tr td div,
table.CalendarAlternativeHolder table tr td div{font-size:11px;padding:5px;}
table.CalendarHolder table tr td div div,
table.CalendarAlternative1Holder table tr td div div,
table.CalendarAlternativeHolder table tr td div div{padding:0 !important;}
.Day a,.NonDay a,.Today a,.WeekendDay a{font:bold 11px/16px Arial,sans-serif;display:block;text-decoration:none;text-shadow:none;padding:0;color:#444;padding:2px 0;}
.Day a:hover,.NonDay a:hover,.Today a:hover,.WeekendDay a:hover{text-decoration:underline;}
.small-calendar-holder{border:4px solid #DDD;@include border-radius(3px);}
.small-calendar-holder .month-title{text-align:center;color:#444;background-color:#F2F2F2;font:bold 14px/16px Arial,sans-serif;padding:8px 0;text-shadow:0 1px 0 rgba(255,255,255,1);border:1px solid #BBB;border-bottom:none;}
.small-calendar{width:250px;border-right:1px solid #BBB;}
.small-calendar .day-of-week{font:bold 10px/11px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);background-color:#F2F2F2;text-transform:capitalize;padding-bottom:5px;border-bottom:1px solid #BBB;}
.small-calendar .day-of-week:first-child{border-left:1px solid #BBB;}
.small-calendar td{height:14%;width:14%;padding:0;border-left:1px solid #BBB;border-bottom:1px solid #BBB;font:bold 13px/13px Arial,sans-serif;background-color:#F2F2F2;text-align:center;vertical-align:middle;}
.small-calendar td a {text-decoration: none;}
.small-calendar .calDragDrop {width: auto !important;}
/* Format Day Numbers */
.non-day-title,
.day-title,
.weekend-day-title{color:#444;padding:8px 0;border-top:1px solid #f6f8f9;border-left:1px solid #f6f8f9;text-shadow:0 1px 0 rgba(255,255,255,1);}
.non-day-title{color:#AAA;}
.small-calendar td.today div.day-title,
.small-calendar td.today div.weekend-day-title{background-color:#EA0000;color:#FFF;text-shadow:0 -1px 0 rgba(0,0,0,.35);border-top:1px solid #CA0000;border-left:1px solid #CA0000;}
.CalendarHolder{width:100%;border:none;}
.CalendarHolder .MonthTitle{text-align:center;color:#444;background-color:#F2F2F2;font:bold 14px/16px Arial,sans-serif;padding:8px 0;text-shadow:0 1px 0 rgba(255,255,255,1);border:1px solid #BBB;border-bottom:none;}
table.CalendarHolder tbody > tr > td {
	border-right: 1px solid #BBB;
}

.Calendar{border:0;width:100%;}
.Calendar .DayOfWeek{font:bold 11px/11px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);background-color:#F2F2F2;text-transform:capitalize;padding-bottom:5px;border-bottom:1px solid #BBB;}
.Calendar .DayOfWeek:first-child{border-left:1px solid #BBB;}
.Calendar td{width:75px;height:75px;width:14%;padding:0;border-left:1px solid #BBB;border-bottom:1px solid #BBB;font:bold 13px/13px Arial,sans-serif;background-color:#FFF;}
.Calendar .DayTitle{padding:5px 5px;font:normal 12px/12px Arial,sans-serif;text-align:right;float:right;color:#000;text-shadow:0 1px 0 rgba(255,255,255,1);}
.Calendar .Day{background-color:#FFF;vertical-align:top;}
.Calendar .NonDayTitle{padding:5px 5px;font:normal 12px/12px Arial,sans-serif;text-align:right;float:right;color:#AAA;text-shadow:0 1px 0 rgba(255,255,255,1);}
.Calendar .NonDay{}
.Calendar .WeekendDayTitle{padding:5px 5px;font:normal 12px/12px Arial,sans-serif;text-align:right;float:right;color:#000;text-shadow:0 1px 0 rgba(255,255,255,1);}
.Calendar .WeekendDay{background-color:#FFF;}
.Calendar .Today{vertical-align:top;background-color:#F2F2F2;}
.Calendar .Today .DayTitle{/* background-color:#FFFFFF*/}
/* custom calendar */
.cstCalendarHolder{width:600px;}
.cstCalendarHolder .MonthTitle{font-weight:bold;text-align:center;font-size:15px;color:#FF0000;}
.cstCalendar{border:1px solid #86888a;width:100%;}
.cstCalendar .DayOfWeek{color:#000000;padding:3px;background-color:#DDDDDD;border-right:1px solid #86888a;}
.cstCalendar td{width:75px;height:75px;width:14%;border:1px solid #86888a;}
.cstCalendar .DayTitle{padding:2px;font-weight:bold;text-align:right;float:right;border:2px solid #86888a;border-right:none;border-top:none;}
.cstCalendar .Day{vertical-align:top;}
.cstCalendar .NonDayTitle{text-align:right;color:#CCCCCC;}
.cstCalendar .NonDay{background-color:#EEEEEE;}
.cstCalendar .WeekendDayTitle{padding:2px;font-weight:bold;text-align:right;float:right;border:2px solid #86888a;border-right:none;border-top:none;text-align:right;color:#CCCCCC;}
.cstCalendar .WeekendDay{}
.cstCalendar .Today{vertical-align:top;border:#FF0000 2px solid;}
.cstCalendar .Today .DayTitle{background-color:#FFFFFF}
/* Week Calendar */
.WeekCalendarHolder{width:100%;border:4px solid #DDD;@include border-radius(3px);}
.WeekCalendarHolder .MonthTitle{text-align:center;color:#444;background-color:#F2F2F2;font:bold 14px/16px Arial,sans-serif;padding:8px 0;text-shadow:0 1px 0 rgba(255,255,255,1);border:1px solid #BBB;border-bottom:none;}
.WeekCalendar{border:0;width:100%;border-right:1px solid #BBB;}
.WeekCalendar .DayOfWeek{font:bold 11px/11px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);background-color:#F2F2F2;padding-bottom:5px;border-bottom:1px solid #BBB;}
.WeekCalendar td{height:40px;width:14%;padding:0;border-left:1px solid #BBB;border-bottom:1px solid #BBB;font:bold 13px/13px Arial,sans-serif;background-color:#FFF;}
.WeekCalendar th{}
.WeekCalendar .DayTitle{}
.WeekCalendar .Day{vertical-align:top;}
.WeekCalendar .NonDayTitle{}
.WeekCalendar .NonDay{background-color:#FFF;}
.WeekCalendar .WeekendDayTitle{}
.WeekCalendar .Today{vertical-align:top;background-color:#F2F2F2;}
.WeekCalendar .Today .DayTitle{}
.WeekCalendar th.Hour{width:40px;font:bold 10px/14px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);background-color:#F2F2F2;text-align:right;padding:5px 5px 5px 10px;white-space:nowrap;border-left:1px solid #BBB;}
.WeekCalendar .HourTitle{}
/* custom calendar */
.cstWeekCalendarHolder{width:600px;}
.cstWeekCalendarHolder .MonthTitle{font-weight:bold;text-align:center;font-size:15px;color:#FF0000;}
.cstWeekCalendar{border-left:1px solid #86888a;border-bottom:1px solid #86888a;width:100%;empty-cells:show;}
.cstWeekCalendar .DayOfWeek{color:#000000;background-color:#DDDDDD;}
.cstWeekCalendar td,.cstWeekCalendar th{padding:3px;height:40px;width:14%;border-right:1px solid #86888a;border-top:1px solid #86888a;}
.cstWeekCalendar .DayTitle{padding:0px;font-weight:bold;text-align:right;float:right;border:0px solid #86888a;border-right:none;border-top:none;}
.cstWeekCalendar .Day{vertical-align:top;}
.cstWeekCalendar .NonDayTitle{text-align:right;color:#CCCCCC;}
.cstWeekCalendar .NonDay{background-color:#EEEEEE;}
.cstWeekCalendar .WeekendDayTitle{padding:2px;font-weight:bold;text-align:right;float:right;border:2px solid #86888a;border-right:none;border-top:none;text-align:right;color:#CCCCCC;}
.cstWeekCalendar .Today{vertical-align:top;border:#FF0000 1px solid;}
.cstWeekCalendar .Today .DayTitle{background-color:#FFFFFF}
.cstWeekCalendar .Hour{width:40px;height:40px;background-color:#DDDDDD;white-space:nowrap;text-align:right;}
.cstWeekCalendar .HourTitle{width:40px;height:40px;border:1px solid #86888a;background-color:#DDDDDD;}
/* Day Calendar */
.DayCalendarHolder{width:100%;border:4px solid #DDD;-moz-border-radius:6px;-webkit-border-radius:6px;}
.DayCalendarHolder .MonthTitlem,.DayCalendarHolder .t1MonthTitle{text-align:center;color:#444;background-color:#F2F2F2;font:bold 14px/16px Arial,sans-serif;padding:8px 0;text-shadow:0 1px 0 rgba(255,255,255,1);border:1px solid #BBB;border-bottom:none;}
.DayCalendar{border:0;width:100%;border-right:1px solid #BBB;}
.DayCalendar .DayOfWeek{font:bold 11px/11px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);background-color:#F2F2F2;padding-bottom:5px;border-bottom:1px solid #BBB;}
.DayCalendar td{height:40px;width:98%;padding:0;border-left:1px solid #BBB;border-bottom:1px solid #BBB;font:bold 13px/13px Arial,sans-serif;background-color:#FFF;}
.DayCalendar .DayTitle{}
.DayCalendar .Day{vertical-align:top;}
.DayCalendar .Today{vertical-align:top;background-color:#F2F2F2;}
.DayCalendar .Today .DayTitle{}
.DayCalendar .Hour{width:40px;font:bold 10px/14px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);background-color:#F2F2F2;text-align:right;padding:5px 5px 5px 10px;white-space:nowrap;border-left:1px solid #BBB;}
.DayCalendar .HourTitle{}
/**/
.CalendarAlternative1Holder{width:100%;}
.CalendarAlternative1Holder .MonthTitle{text-align:left;color:#444;/* background-color:#D2D2D2;*/
font:bold 16px/16px Arial,sans-serif;padding:10px 0 5px 0;text-shadow:0 1px 0 rgba(255,255,255,1);/* border:1px solid #BBB;*/
border-bottom:none;}
.CalendarAlternative1{border:0;width:100%;/* border-right:1px solid #BBB;*/}
.CalendarAlternative1 .DayOfWeek{font:normal 11px/11px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);/* background-color:#D2D2D2;*/
text-transform:capitalize;padding:0 0 5px 0;border-bottom:1px solid #999;text-align:left;}
.CalendarAlternative1 .DayOfWeek:first-child{/* border-left:1px solid #BBB;*/}
.CalendarAlternative1 td:first-child{border-left:1px solid #EEE;}
.CalendarAlternative1 td{width:75px;height:75px;width:14%;padding:0;border-right:1px solid #EEE;border-bottom:1px solid #BBB;font:bold 13px/13px Arial,sans-serif;background-color:#FFF;}
.CalendarAlternative1 .DayTitle{padding:5px 5px;font:normal 12px/12px Arial,sans-serif;color:#000;text-shadow:0 1px 0 rgba(255,255,255,1);}
.CalendarAlternative1 .Day{background-color:#FFF;vertical-align:top;}
.CalendarAlternative1 .NonDayTitle{padding:5px 5px;font:normal 12px/12px Arial,sans-serif;color:#AAA;text-shadow:0 1px 0 rgba(255,255,255,1);}
.CalendarAlternative1 .NonDay{}
.CalendarAlternative1 .WeekendDayTitle{padding:5px 5px;font:normal 12px/12px Arial,sans-serif;color:#000;text-shadow:0 1px 0 rgba(255,255,255,1);}
.CalendarAlternative1 .WeekendDay{background-color:#FFF;}
.CalendarAlternative1 .Today{vertical-align:top;background-color:#F2F2F2;}
.CalendarAlternative1 .Today .DayTitle{/* background-color:#FFFFFF*/}
/* Alternate Week Calendar */
/* Week Calendar */
.WeekCalendarAlternative1Holder{width:100%;}
.WeekCalendarAlternative1Holder .MonthTitle{text-align:left;color:#444;font:bold 16px/16px Arial,sans-serif;padding:10px 0 5px 0;text-shadow:0 1px 0 rgba(255,255,255,1);border-bottom:none;}
.WeekCalendarAlternative1{border:0;width:100%;}
.WeekCalendarAlternative1 .DayOfWeek{font:normal 11px/11px Arial,sans-serif;text-align:left;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);padding-bottom:5px;border-bottom:1px solid #BBB;}
.WeekCalendarAlternative1 td{height:40px;width:14%;padding:0;border-right:1px solid #EEE;border-bottom:1px solid #BBB;font:bold 13px/13px Arial,sans-serif;background-color:#FFF;}
.WeekCalendarAlternative1 tr:first-child th{border-right:none}
.WeekCalendarAlternative1 th{border-right:1px solid #EEE;}
.WeekCalendarAlternative1 .DayTitle{}
.WeekCalendarAlternative1 .Day{vertical-align:top;}
.WeekCalendarAlternative1 .NonDayTitle{}
.WeekCalendarAlternative1 .NonDay{background-color:#FFF;}
.WeekCalendarAlternative1 .WeekendDayTitle{}
.WeekCalendarAlternative1 .Today{vertical-align:top;background-color:#F2F2F2;}
.WeekCalendarAlternative1 .Today .DayTitle{}
.WeekCalendarAlternative1 th.Hour{width:40px;font:normal 10px/14px Arial,sans-serif;color:#444;text-align:right;padding:0 5px 0 0;white-space:nowrap;vertical-align:top;}
.WeekCalendarAlternative1 .HourTitle{}
/* alternate Day Calendar */
.DayCalendarAlternative1Holder{width:100%;}
.DayCalendarAlternative1Holder .MonthTitle{text-align:left;color:#444;font:bold 16px/16px Arial,sans-serif;padding:10px 0 5px 0;text-shadow:0 1px 0 rgba(255,255,255,1);border-bottom:none;}
.DayCalendarAlternative1{border:0;width:100%;}
.DayCalendarAlternative1 .DayOfWeek{font:normal 11px/11px Arial,sans-serif;text-align:left;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);padding-bottom:5px;border-bottom:1px solid #BBB;}
.DayCalendarAlternative1 td{height:40px;width:98%;padding:0;border-left:1px solid #EEE;border-bottom:1px solid #BBB;font:bold 13px/13px Arial,sans-serif;background-color:#FFF;}
.DayCalendarAlternative1 tr:first-child th{border-right:none}
.DayCalendarAlternative1 .DayTitle{}
.DayCalendarAlternative1 .Day{vertical-align:top;}
.DayCalendarAlternative1 .Today{vertical-align:top;background-color:#F2F2F2;}
.DayCalendarAlternative1 .Today .DayTitle{}
.DayCalendarAlternative1 .Hour{width:40px;font:normal 10px/14px Arial,sans-serif;color:#444;text-align:right;padding:0 5px 0 0;white-space:nowrap;vertical-align:top;}
.DayCalendarAlternative1 .HourTitle{}
/**/
.SmallCalendarHolder{}
.SmallCalendarHolder .MonthTitle{text-align:center;font-size:13px;color:#FF0000;font-weight:bold;}
.SmallCalendar{width:250px;border:1px solid #CCCCCC;}
.SmallCalendar .DayOfWeek{height:14px;}
.SmallCalendar td{height:14%;width:14%;padding:2px;border:1px solid #CCCCCC;}
.SmallCalendar .DayTitle{font-weight:bold;text-align:right;text-decoration:underline;}
.SmallCalendar .Day{vertical-align:top;}
.SmallCalendar .NonDayTitle{text-align:right;color:#CCCCCC;text-align:right;text-decoration:underline;}
.SmallCalendar .NonDay{border:1px dotted #CCCCCC;}
.SmallCalendar .WeekendDayTitle{text-align:right;color:#CCCCCC;text-align:right;text-decoration:underline;}
.SmallCalendar .WeekendDay{}
.SmallCalendar .Today{vertical-align:top;vertical-align:top;border:1px solid #FF0000;}
/* Small Week Calendar */
.SmallWeekCalendarHolder{border:4px solid #DDD;-moz-border-radius:6px;-webkit-border-radius:6px;}
.SmallWeekCalendarHolder .MonthTitle{text-align:center;color:#444;background-color:#F2F2F2;font:bold 14px/16px Arial,sans-serif;padding:8px 0;text-shadow:0 1px 0 rgba(255,255,255,1);border:1px solid #BBB;border-bottom:none;}
.SmallWeekCalendar{width:300px;empty-cells:show;}
.SmallWeekCalendar .DayOfWeek{font:bold 10px/14px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);background-color:#F2F2F2;text-transform:capitalize;border-bottom:1px solid #BBB;padding:5px 0;}
.SmallWeekCalendar td{height:14%;width:14%;padding:0;border-left:1px solid #BBB;border-bottom:1px solid #BBB;font:bold 13px/13px Arial,sans-serif;background-color:#F2F2F2;text-align:center;vertical-align:top;}
.SmallWeekCalendar td.t1Today{background-color:#d2d2d4;}
.SmallWeekCalendar td .inner{border-top:1px solid #f6f8f9;border-left:1px solid #f6f8f9;display:block;}
.SmallWeekCalendar .DayTitle{}
.SmallWeekCalendar .Day{}
.SmallWeekCalendar .WeekendDayTitle{}
.SmallWeekCalendar .WeekendDay{}
.SmallWeekCalendar .Today{}
.SmallWeekCalendar .Hour{font:bold 10px/14px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);background-color:#F2F2F2;text-transform:capitalize;padding:5px 2px 5px 10px;}
.SmallWeekCalendar .HourTitle{}
/* Small Day Calendar */
.SmallDayCalendarHolder{border:4px solid #DDD;-moz-border-radius:6px;-webkit-border-radius:6px;}
.SmallDayCalendarHolder .MonthTitle{text-align:center;color:#444;background-color:#F2F2F2;font:bold 14px/16px Arial,sans-serif;padding:8px 0;text-shadow:0 1px 0 rgba(255,255,255,1);border:1px solid #BBB;border-bottom:none;}
.SmallDayCalendar{width:300px;empty-cells:show;}
.SmallDayCalendar .DayOfWeek{font:bold 10px/14px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);background-color:#F2F2F2;text-transform:capitalize;border-bottom:1px solid #BBB;padding:5px 0;}
.SmallDayCalendar td{height:14%;width:98%;padding:0;border-left:1px solid #BBB;border-bottom:1px solid #BBB;font:bold 13px/13px Arial,sans-serif;background-color:#F2F2F2;text-align:center;vertical-align:top;}
.SmallDayCalendar .DayTitle{}
.SmallDayCalendar .Day{vertical-align:top;}
.SmallDayCalendar .Today{background-color:#d2d2d4;}
.SmallDayCalendar .Hour{font:bold 10px/14px Arial,sans-serif;color:#444;text-shadow:0 1px 0 rgba(255,255,255,1);background-color:#F2F2F2;text-transform:capitalize;padding:5px 2px 5px 10px;}
.SmallDayCalendar .HourTitle{}

/* =========================== */
/* = Internet Explorer Fixes = */
/* =========================== */
.ie7 {
	/* Make Image Resizing smoother in IE7 */
	img { -ms-interpolation-mode: bicubic; } 
	
	.calDragDrop {
		width: auto !important;
	}
	/* IE7 Fixes as there is no support for display:table */
	section.uRegion {
		& > div.uRegionHeading h1 {
			float: left;
			border-bottom: none;
			line-height: 38px;
		}
		&.uBorderlessRegion > div.uRegionHeading h1 {
			float: left;
			border-bottom: none;
			line-height: 14px;
		}
		section.uRegion {
			/* Nested Regions for IE7*/
			div.uRegionHeading h1 {
				line-height: 20px;
			}
		}
		span.uButtonContainer {
			float: right;
		}
		&.uHideShowRegion {
			& > div.uRegionHeading > h1 {
				line-height: 30px !important;
			}
		}
	}
	section.uWhiteRegion {
		div.uRegionHeading h1 {
			line-height: 24px;
		}
	}
	table#uPageCols {
		table-layout: fixed;
	}
	button#apexir_ACTIONSMENUROOT {
		padding: 0;
		span {
			background-position: 100% -583px;
			line-height: 20px;
		}
	}
	button.apexir-go-button span {
		line-height: 20px;
	}
	div.apexir_ACTION_MENU ul.dhtmlSubMenu {
		li {
			height: 20px;
			overflow: hidden;
		}
		li a {
			display: inline-block !important;
		}
	}
	/* DHTML Menu with Sublist Image Positioning*/
	.dhtmlMenuLG2 li.dhtmlMenuItem1 img{display: block; margin: 6px;}
	div.uReportFilterRow table.formlayout td {
		vertical-align: middle !important;
	}
}
.no-css3, .ie9 {
	section.uButtonRegion {
		background: url(../images/theme_23.png) 0 -968px repeat-x #DDDDDD;
	}
}
.ie7, .ie8, .ie9 {
	div.uFixedHeadersContainer {
		position: relative;
		height: 200px;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	table.uReportFixedHeaders {
		thead {
			height: auto;
			tr {
				position: absolute;
				top: expression(this.offsetParent.scrollTop);
			}
		}
		tbody {
			height: auto;
			tr:first-child td {
				padding-top: 30px;
			};
		}
	}
}