div.ebaTwoColPane {
	position: relative;
	div.ebaSideCol {
		position: absolute;
		left: 0;
		top: 0;
	}
	div.ebaMainCol {
		margin-left: 321px;
	}
}
ul.sectionList li a {
	height: 44px;
}
div.contentSection h2 {
	height: 28px;
	padding: 0 10px 0 30px;
	}