@import "compass/css3";
@import "settings/gradient";
@import "settings/vars";

/* APEX Theme 21 Specific Styles */

table.tbl-body td.tbl-sidebar {
	padding: 0;
	width: 200px;
	border-right: 1px solid #AAA;
	background-color: #F0F0F0;
}
table.tbl-body td.tbl-main {
	padding-left: 10px;
}

#two-col-sb-left {
	background-color: #F0F0F0;
}
#main-sb-left {
	background-color: #FFF;
}

div.ebaSearchFilterBar {
	ul.ebaViewTabs {
		margin: 0;
		padding: 16px 0;
		list-style: none;
		li a {
			display: block;
			font: normal 13px/16px Arial, sans-serif;
			padding: 8px;
			text-decoration: none;
			color: #666;
			&:hover {
				background-color: #E0E0E0;
			}
		}
		li.active a {
			background-color: #7a8596;
			font-weight: bold;
			color: #FFF;
		}
	}
	div.ebaSearchFilterRegion {
		padding: 0 0 16px 0;
		ul.vertical-unordered-list-with-bullets-alt {
			margin: 16px 8px;
		}
	}
	h3 {
		color: #333;
		font: bold 13px/16px Arial, sans-serif;
		margin: 0 8px 8px 8px;
		padding-top: 16px;
		border-top: 1px solid #DDD;
	}
	table.formlayout {
		border-spacing: 0 0;
		border-collapse: collapse;
		td:empty {
			padding: 0;
		}
		td {
			input.hasDatepicker {
				display: block;
				float: left;
				width: 150px !important;
			}
			img.ui-datepicker-trigger {
				float: left;
			}
			input.text_field,
			select,
			input.password,
			input[type=text],
			textarea {
				margin: 0;
				border: 1px solid #AAA;
				padding: 3px;
				font: normal 12px/16px Arial, sans-serif;
				@include border-radius(2px);
				@include box-shadow(0 1px 1px rgba(0,0,0,.15) inset);
				background-color: #F8F8F8;
				color: #333;
				width: 170px;
				&:focus {
					background-color: #FFF;
					border: 1px solid #666;
				}
			}
			input[type=hidden] {
				display: none;
			}
			select {
				/* Add extra margin to get cell height same as single text field*/
				width: 178px;
			}
			span.display_only,
			span.display_only a {
				font: normal 12px/16px Arial, sans-serif;
				color: #333;
			}
			span.display_bold,
			span.display_bold a {
				font: bold 12px/16px Arial, sans-serif;
				color: #333;
			}
			fieldset {
				margin: 0;
				padding: 0;
				border: none;
			}
			fieldset label {
				display: inline;
			}
			label {
				display: inline-block;
				padding: 0;
				font: normal 11px/16px Arial, sans-serif;
				color: #666;
				span {
					/*display: none;*/
				}
				span.optional {
					font: normal 11px/16px Arial, sans-serif;
					color: #666;
				}
				a {
					font: normal 12px/16px Arial, sans-serif;
					color: #555;
					text-decoration: none;
				}
			}
		}
		table.lov a {
			margin: 0;
		}
		td.lov input {
			border: 1px solid #AAA;
			padding: 3px;
			font: normal 12px/16px Arial, sans-serif;
			@include border-radius(2px 0 0 2px);
			@include box-shadow(0 1px 1px rgba(0,0,0,.15) inset);
			background-color: #F8F8F8;
			@include opacity(0.75);
			color: #333;
			width: 150px;
		}
		td a img {
			display: display;
			margin: 0 0 0 4px;
			border: 0;
		}
		& > tbody > tr > td {
			padding: 4px 8px;
		}
	}
	
}