<!-- 	$Header: ARSTYLE.css 115.0 99/09/16 14:37:25 porting ship  $ -->
font.pagetitle
	{
	font-family: Arial, sans-serif;
	font-style: italic; 
    font-weight: bold;
    color: black;
    font-size: 14pt;
	}  

font.itemtitle
    {
	font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 14pt;
	}  
	
font.bartitle
	{
	font-family: Arial, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 8pt;
	}

font.notabcontainertitle
    {
    font-family: arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 10pt;
    }
font.containertitle
    {
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #cccccc;
    font-size: 14pt;
    }

font.toolbar
    {
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #333366;
    font-size: 14pt;
    }

font.helptext
    {
    font-family: arial, sans-serif;
    font-style: italic;
    color: black;
    font-size: 10pt;
    }

font.graytab
    {
    font-family: arial, sans-serif;
    font-style: italic;
    color: black;
    font-size: 10pt;
    }

font.purpletab
    {
    font-family: arial, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 10pt;
    }

font.button
    {
    font-family: arial, sans-serif;
    color: black;
    font-size: 10pt;
    }

font.promptblack
    {
    font-family: arial, sans-serif;
    color: black;
    font-size: 10pt;
    }

font.tableheader
    {
    font-family: sans-serif;
    font-face: arial;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    }
font.promptwhite
    {
    font-family: sans-serif;
    font-face: arial;
    color: white;
    font-size: 10pt;
    }
	
font.ulwhite
    {
    font-family: sans-serif;
    font-face: arial;
    color: white;
    font-size: 10pt;
	text-decoration: underline;
    }
	
font.ul
	{
	color: blue;
	text-decoration: underline;
	}

font.datablack
    {
    font-family: arial, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 10pt;
    }

font.fielddata 
     {
	 font-family: Arial, sans-serif;
     font-weight: bold;
     color: black;
     font-size: 10pt;
	 }

font.tablefielddata
    {
    font-family: "arial narrow", sans-serif;
    font-style: bold;
    color: black;
    font-size: 10pt;
    }

font.tabledata
    {
    font-family: arial, sans-serif;
    color: black;
    font-size: 10pt;
    }
	
font.helptext
    {
	font-family: arial, sans-serif;
	font-style: italic;
	color: black;
	font-size: 10pt;
	}

font.littlecomments
    {
	font-family: arial, sans-serif;
	color: black;
	font-size: 9pt;
	}
	
A:link
	{
	text-decoration: none
	}
A:visited
	{
	text-decoration: none
	}
