<!-- $Header: JTFBISRP.css 115.3 2000/11/22 03:52:02 pkm ship      $
-->
A:link {
	COLOR: #663300; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
A:active {
	COLOR: #ff6600; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
A:visited {
	COLOR: #996633; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraBGColorVeryDark {
	BACKGROUND-COLOR: #003366
}
.OraBGColorDark {
	BACKGROUND-COLOR: #336699
}
.OraBGColorMedium {
	BACKGROUND-COLOR: #6699cc
}
.OraBGColorLight {
	BACKGROUND-COLOR: #99ccff
}
.OraBGGrayVeryDark {
	BACKGROUND-COLOR: #333333
}
.OraBGGrayDark {
	BACKGROUND-COLOR: #666666
}
.OraBGGrayMedium {
	BACKGROUND-COLOR: #999999
}
.OraBGGrayLight {
	BACKGROUND-COLOR: #cccccc
}
.OraBGAccentVeryDark {
	BACKGROUND-COLOR: #999966
}
.OraBGAccentDark {
	BACKGROUND-COLOR: #cccc99
}
.OraBGAccentMedium {
	BACKGROUND-COLOR: #ffffcc
}
.OraBGAccentLight {
	BACKGROUND-COLOR: #f7f7e7
}
.OraBody {
	BACKGROUND-COLOR: #ffffff
}
.OraPromptText {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; TEXT-ALIGN: right
}
.OraDataText {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.OraFieldText {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraInstructionText {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraInstructionTextStrong {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.OraButtonText {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraGlobalButtonText {
	COLOR: #663300; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 8pt
}
.OraGlobalButtonTextSelected {
	COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 8pt
}
.OraGlobalButtonTextDisabled {
	COLOR: #999966; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 8pt
}
.OraLinkText {
	COLOR: #663300; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraVLinkText {
	COLOR: #996633; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraALinkText {
	COLOR: #ff6600; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraTipLabel {
	COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.OraTipText {
	COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraInlineInfoText {
	COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
.OraErrorText {
	COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraErrorNameText {
	COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.OraInlineErrorText {
	COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
.OraHeader {
	COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 16pt; FONT-WEIGHT: normal
}
.OraHeaderSub {
	COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
.OraHeaderSubSub {
	COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
.OraDarkHeader {
	COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 16pt; FONT-WEIGHT: normal
}
.OraDarkHeaderSub {
	COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
.OraDarkHeaderSubSub {
	COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
.OraLightHeader {
	COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 16pt; FONT-WEIGHT: normal
}
.OraLightHeaderSub {
	COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
.OraLightHeaderSubSub {
	COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
.OraColorHeader {
	COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 16pt; FONT-WEIGHT: normal
}
.OraColorHeaderSub {
	COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
.OraColorHeaderSubSub {
	COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
.OraPortletHeader {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.OraDarkPortletHeader {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraErrorHeader {
	COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 16pt; FONT-WEIGHT: normal
}
.OraGlobalPageTitle {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: bold
}
.OraPageTitle {
	COLOR: #336699; FONT-FAMILY: Times New Roman, Times, serif; FONT-SIZE: 24pt; FONT-WEIGHT: normal
}
.OraNav1Selected {
	COLOR: #99ccff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
.OraNav1Enabled {
	COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: normal
}
.OraNav1Disabled {
	COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: normal
}
.OraNav2Selected {
	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.OraNav2Enabled {
	COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.OraNav2Disabled {
	COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.OraNav3Selected {
	BACKGROUND-COLOR: #336699; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.OraNav3Enabled {
	BACKGROUND-COLOR: #cccc99; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt
}
.OraNav3Disabled {
	BACKGROUND-COLOR: #cccc99; COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.OraTextInline {
	COLOR: #6699cc; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 8pt
}
.OraTableTitle {
	BACKGROUND-COLOR: #ffffff; COLOR: #336699; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: normal
}
.OraTableControlBarText {
	BACKGROUND-COLOR: #cccc99; COLOR: #336699; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold
}
.OraTableColumnHeader {
	BACKGROUND-COLOR: #cccc99; COLOR: #336699; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-ALIGN: left; TEXT-INDENT: 1px
}
.OraTableRowHeader {
	BACKGROUND-COLOR: #cccc99; COLOR: #336699; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-ALIGN: right; TEXT-INDENT: 1px
}
.OraTableCellText {
	BACKGROUND-COLOR: #f7f7e7; COLOR: #000000; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; TEXT-INDENT: 1px
}
.OraTableCellTextBand {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; TEXT-INDENT: 1px
}
.OraTableCellNumber {
	BACKGROUND-COLOR: #f7f7e7; COLOR: #000000; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; TEXT-ALIGN: right; TEXT-INDENT: 1px
}
.OraTableCellNumberBand {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; TEXT-ALIGN: right; TEXT-INDENT: 1px
}
.OraTableCellSelect {
	BACKGROUND-COLOR: #f7f7e7; COLOR: #000000; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; TEXT-ALIGN: center; TEXT-INDENT: 1px
}
.OraTableCellSelectBand {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; TEXT-ALIGN: center; TEXT-INDENT: 1px
}
.OraTableVerticalGrid {
	BACKGROUND-COLOR: #cccc99; WIDTH: 1px
}
.OraTableVerticalHeaderGrid {
	BACKGROUND-COLOR: #f7f7e7; WIDTH: 1px
}
.OraTableHorizontalGrid {
	BACKGROUND-COLOR: #cccc99; WIDTH: 1px
}
.OraTableHorizontalHeaderGrid {
	BACKGROUND-COLOR: #f7f7e7; WIDTH: 1px
}
.OraTrainActive {
	COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.OraTrainVisited {
	COLOR: #cccc99; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-ALIGN: center
}
.OraTrainUnvisited {
	COLOR: #336699; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-ALIGN: center
}
.OraPrivacy {
	COLOR: #663300; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-ALIGN: right
}
.OraCopyright {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-ALIGN: left
}
.OraCrumbsSelected {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.OraCrumbsEnabled {
	COLOR: #663300; FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal
}
.OraNavBarActiveLink {
	COLOR: #663300; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraNavBarInactiveLink {
	COLOR: #999966; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraNavBarViewOnly {
	COLOR: #336699; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.OraCalendarTitle {
	BACKGROUND-COLOR: #ffffff; COLOR: #336699; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 14pt; FONT-WEIGHT: normal; TEXT-ALIGN: center
}
.OraCalendarHeader {
	BACKGROUND-COLOR: #cccc99; COLOR: #336699; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.OraCalendarEnabled {
	BACKGROUND-COLOR: #f7f7e7; COLOR: #336699; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 8pt; LINE-HEIGHT: 1.5; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.OraCalendarDisabled {
	BACKGROUND-COLOR: #f7f7e7; COLOR: #999999; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; LINE-HEIGHT: 1.5; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.OraCalendarSelected {
	BACKGROUND-COLOR: #999966; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, geneva, sans-serif; FONT-SIZE: 10pt; LINE-HEIGHT: 1.5; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.browseDataCell { background-color: #f7f7e7; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #333333 }

.browseDataCellC { background-color: #CCCCCC; font-family: Arial, Helvetica, san s-serif; font-size: 10pt; color: #000000 }

#param
                   {font-family: Arial, sans-serif;
                    font-size: 10pt;}  
.container {
	background-color: purple }
.COLOR1 {
	background-color: #000000 }
.COLOR2 {
	background-color: #003366 }
.COLOR3 {
	background-color: #336699 }
.COLOR4 {
	background-color: #6699cc }
.COLOR5 {
	background-color: #99ccff }
.COLOR6 {
	background-color: #ffffff }
.COLORG2 {
	background-color: #333333 }
.COLORG3 {
	background-color: #666666 }
.COLORG4 {
	background-color: #999999 }
.COLORG5 {
	background-color: #cccccc }
.APPSWINDOW {
	background-color:#336699; }
.BISWINDOW {
	background-color:#FFFFFF }
.PRINTWINDOW {
	background-color:#FFFFFF }
.HOMEWINDOW {
	background-color:#FFFFFF }
.HIGHLIGHT {
	background-color:#FFFFFF }
.SHADOW {
	background-color:666666 }
.DARKSHADOW {
	background-color:333333 }
.PANEL {
	background-color:#CCCCCC }
.SOFTPANEL {
	background-image:url(FNDBKBLU.gif);
	background-color:#99CCFF}
.HELPTEXT {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt }
.PROMPTBLACK {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt }
.PROMPTWHITE {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt }
.DATABLACK {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	font-weight:bold }
.DATAWHITE {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt;
	font-weight:bold }
.DATATOTALS {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	font-weight:bold }
.INFOBLACK {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt }
.INFOWHITE {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt }
.ALERTTEXT {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt }
.ALERTTITLE {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:12pt;
	font-weight:bold }
.FIELDDATA {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	font-weight:bold }
.LINK {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	font-size:10pt; }
.WIDEFIELDDATA {
	font-family:"Arial narrow", Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt }
.TABLEHEADER {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	vertical-align:bottom }
.TABLEHEADERCENTER {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	text-align:center; 
	vertical-align:bottom }
.TABLEHEADERLEFT {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	text-align:left; 
	vertical-align:bottom }
.TABLEHEADERRIGHT {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	text-align:right; 
	vertical-align:bottom }
.SORTHEADER {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	text-decoration:none }	
.TABLECELL {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#000000; 
	font-size:10pt; 
	background-color:#FFFFFF }
.TABLEROWHEADER {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC }
.TABLECELLSHADED {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	background-color:#99CCFF }
.TABLECELLGRAYSHADED {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	background-color:#CCCCCC }
.INPUTCELL {
	font-family:"Arial narrow", Arial, Helvetica, Geneva, sans-serif;
	color:#000000; 
	font-size:10pt; 
	background-color:#FFFFFF }
.INPUTCELLSHADED {
	font-family:"Arial narrow", Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt; 
	background-color:#99CCFF }
.TABLESURROUND {
	background-color:#6699CC }
.PRINTHEADER {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	text-align:center; 
	vertical-align:bottom }
.PRINTCELL {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#000000; 
	font-size:10pt; 
	background-color:#FFFFFF }
.PRINTROWHEADER {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC }
.PRINTCELLSHADED {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	background-color:#99CCFF }
.PRINTSURROUND {
	background-color:#6699CC }
.BISHEADER {
	font-family:Arial, sans-serif; 
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC; 
	text-align:center; 
	vertical-align:bottom }
.BISCELL {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#000000; 
	font-size:10pt; 
	background-color:#FFFFFF }
.BISROWHEADER {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#FFFFFF; 
	font-size:10pt; 
	font-weight: bold; 
	background-color:#6699CC }
.BISCELLSHADED {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000; 
	font-size:10pt;
	background-color:#99CCFF }
.BISSURROUND {
	background-color:#6699CC }
.BUTTON {
	background-color:#CCCCCC }
.BUTTONTEXT {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000;	
	font-size:10pt;
	text-decoration:none }
.DISABLEDBUTTONTEXT {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#999999;	
	font-size:10pt;
	text-decoration:none }
.TOOLBAR {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#336699;
	font-size:13PT;
	font-style:italic;	
	font-weight:bold;
	background-color:#CCCCCC }
.PANELTITLE {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#CCCCCC;
	font-size:12PT;
	font-weight:bold;
	background-color:#003366 }
.TABTITLE {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#CCCCCC;
	font-size:12PT;
	font-weight:bold }
.CURRENTTAB {
	background-color:#CCCCCC }
.CURRENTTABTEXT {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#000000;
	font-size:10PT;
	text-decoration:none }
.OTHERTAB {
	background-color:#6699CC}
.OTHERTABTEXT {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#FFFFFF;
	font-size:10PT;
	text-decoration:none }
.DISABLEDTABTEXT {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#CCCCCC;	
	font-size:10pt;
	text-decoration:none }
.WEEKDAYCELL {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color:#336699;
	font-size:10PT;
	font-weight: bold;
	background-color: #CCCC99 }
.MONTHDAYCELL {
	background-color: #FFFFFF }
.DAYLINK {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color: #000000;
	font-size:9PT;
	font-weight: normal;
	text-decoration:none }
.DISABLEDDAYLINK {
	font-family:Arial, Helvetica, Geneva, sans-serif; 
	color: #999999;
	font-size:9PT;
	font-weight: normal;
	text-decoration:none }
.GROUPBOX {
	background-color:#333333 }
.GROUPBOXLAYER {
	position:absolute;
	layer-background-color: #FFFFFF; 
	font-family:Arial, Geneva, arial, sans-serif; 
	font-size:14pt;
	color:#000000; 
	font-weight:bold;
	visibility:hidden }
.GROUPBOXTEXT {
	font-family:Arial, Geneva, arial, sans-serif; 
	font-size:12pt;
	color:#000000; 
	font-weight:bold }

.SECTIONBAR {}
.SECTIONTEXT {}
.SUBSECTIONBAR {}
.SUBSECTIONTEXT {}

.MENUCURRENT {}
.MENUHEADERBAR {}
.MENUHEADERTEXT {}
.MENUSUBHEADERBAR {}
.MENUSUBHEADERTEXT {}
.MENUVERTICALBAR {}
