<!-- $Header: pawstime.css 115.0 2000/04/24 18:52:39 pkm ship     $ -->
<!--
.TABLEROWHEADERLIGHT {
	font-family:Arial, Helvetica, Geneva, sans-serif;
	color:#FFFFFF; 
	font-size:8pt; 
	background-color:#6699CC }
.PROMPTBLACKRIGHT {
        font-family:Arial, Helvetica, Geneva, sans-serif;
        color:#000000;
        font-size:10pt;
        text-align:right }
.INFOBLACKRIGHT {
        font-family:Arial, Helvetica, Geneva, sans-serif;
        color:#000000;
        font-size:10pt;
        text-align:right }
.TABLECELLRIGHT {
        font-family:Arial, Helvetica, Geneva, sans-serif;
        color:#000000;
        font-size:10pt;
        background-color:#FFFFFF;
        text-align:right }
.REDBORDER {
	background-color:#FF0000; }
-->

