<style type="text/css">

<!-- $Header: PORSTYLE.css 115.0 99/09/08 15:26:34 porting ship   $ -->
<!--
font.pagetitle
                   {font-family: Arial, sans-serif;
                    font-style: italic; 
                    font-weight: bold;
                    color: black;
                    font-size: 14pt;}  
font.itemtitle
                   {font-family: Arial, sans-serif;
                    font-weight: bold;
                    color: white;
                    font-size: 14pt;}  
font.containertitle
		   {font-family: Arial, sans-serif;
		    font-style: italic;	
		    font-weight: bold;
		    color: #cccccc;
	  	    font-size: 14pt;}  
font.graytab
		   {font-family: Arial, sans-serif;	
		    color: black;
		    text-decoration: none;
	  	    font-size: 10pt;}
font.purpletab
		   {font-family: Arial, sans-serif;	
		    color: white;
		    text-decoration: none;
	  	    font-size: 10pt;}
font.promptblack
		   {font-family: Arial, sans-serif;	
		    color: black;
		    text-decoration: none;
	  	    font-size: 10pt;}  
font.helptext
		   {font-family: Arial, sans-serif;
		    font-style: italic;	
		    color: black;
	  	    font-size: 10pt;}  
font.helptitle 
           {font-family: Arial, sans-serif; 
            font-style: italic;  
            font-weight: bold; 
            color: black; 
            font-size: 14pt;}
font.promptwhite
		   {font-family: sans-serif;	
		    font-face: arial;
		    color: white;
		    font-size: 10pt;}   
font.datablack
           {font-family: Arial, sans-serif;
            font-weight: bold;
			color: black;
			font-size: 10pt;}
font.fielddata 
           {font-family: Arial, sans-serif;
		    font-weight: bold;
		    color: black;
            font-size: 10pt;}
font.tablefielddata 
           {font-family: "arial narrow", sans-serif;
		    font-weight: bold;
		    color: black;
            font-size: 10pt;}
font.tabledata 
           {font-family: Arial, sans-serif;
		    color: black;
            font-size: 10pt;}
font.button
		   {font-family: Arial, sans-serif;	
		    color: black;
		    text-decoration: none;
	  	    font-size: 10pt;}
font.disabledbutton
		   {font-family: Arial, sans-serif;	
		    color: #999999;
		    text-decoration: none;
	  	    font-size: 10pt;}
font.link
		   {font-family: Arial, sans-serif;	
		    color: blue;
		    text-decoration: underline;
	  	    font-size: 10pt;}
font.linkbold
		   {font-family: Arial, sans-serif;	
		    font-weight: bold;
			color: blue;
		    text-decoration: underline;
	  	    font-size: 10pt;}
-->
</style>
