/******************************************************************************
File Name:    4_2.scss
Purpose:      contains all css related changes for the theme 50
              this file only contains import statements to other scss files or other 
              essential generic styles

Change History:

Rem   msewtz      05/29/2012    Created file
Rem   msewtz      05/29/2012    Adding modules/calendar
Rem   shrahman    06/12/2012    Adding modules/forms
Rem   shrahman    06/18/2012    Adding loading indicator styles
******************************************************************************/
/******************************************************************************
File Name:    calendar.scss
Purpose:      all calendar templates + styles for theme 50

Change History:

Rem   msewtz       05/28/2012    Created file
Rem   msewtz       05/28/2012    Adding calendar
Rem   sathikum     05/30/2012    Added Mobile Calendar Classes
******************************************************************************/
/* -------------------- Mobile Calendar ------------------- */
/* line 15, ../scss/modules/calendar.scss */
.m-Calendar {
  width: 100%; }

/* line 19, ../scss/modules/calendar.scss */
.m-CalendarHolder .m-MonthTitle {
  font: bold 16px/20px Arial, sans-serif;
  text-align: center;
  color: #545454; }

/* line 26, ../scss/modules/calendar.scss */
.m-Calendar .m-DayOfWeek {
  font: bold 11px/14px Arial, sans-serif;
  text-align: center;
  color: #545454; }

/* line 32, ../scss/modules/calendar.scss */
.m-Calendar td {
  text-align: center;
  color: #465769;
  font-weight: bold;
  border-color: #A7ABB3;
  border-width: 1px 0px 0 0;
  border-style: solid;
  margin: 0;
  padding: 4px;
  background-color: #E5E5E5; }

/* line 44, ../scss/modules/calendar.scss */
.m-Calendar .m-DayTitle {
  padding: 2px;
  margin: 2px;
  font-weight: bold;
  text-align: right;
  float: right;
  border: 1px solid #666666;
  background-color: #dddddd; }

/* line 54, ../scss/modules/calendar.scss */
.m-Calendar .m-Day {
  text-align: center;
  height: 50px;
  width: 13%;
  padding: 0;
  color: #465769;
  font-weight: bold;
  border-left: 1px solid #A7ABB3;
  border-bottom: 1px solid #A7ABB3;
  border-width: 1px 1px 0 0;
  border-style: solid;
  margin: 0;
  background-color: #E5E5E5; }

/* line 69, ../scss/modules/calendar.scss */
.m-Calendar .m-NonDayTitle {
  text-align: right;
  color: #AAAAAA; }

/* line 74, ../scss/modules/calendar.scss */
.m-Calendar .m-NonDay {
  text-align: center;
  height: 50px;
  width: 13%;
  padding: 0;
  color: #465769;
  font-weight: bold;
  border-left: 1px solid #A7ABB3;
  border-bottom: 1px solid #A7ABB3;
  border-width: 1px 1px 0 0;
  border-style: solid;
  margin: 0;
  background-color: #EEEEEE; }

/* line 89, ../scss/modules/calendar.scss */
.m-Calendar .m-WeekendDayTitle {
  padding: 2px;
  margin: 2px;
  font-weight: bold;
  text-align: right;
  float: right;
  border: 1px solid #666666;
  text-align: right;
  color: #404040;
  background-color: #dddddd; }

/* line 101, ../scss/modules/calendar.scss */
.m-Calendar .m-WeekendDay {
  text-align: center;
  height: 50px;
  width: 13%;
  padding: 0;
  color: #465769;
  font-weight: bold;
  border-left: 1px solid #A7ABB3;
  border-bottom: 1px solid #A7ABB3;
  border-width: 1px 1px 0 0;
  border-style: solid;
  margin: 0;
  background-color: #E5E5E5; }

/* line 116, ../scss/modules/calendar.scss */
.m-Calendar .m-Today {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border-color: #0533B3;
  border-width: 1px 1px 0 0;
  border-style: solid;
  margin: 0;
  padding: 4px;
  background-color: #197FE5; }

/* line 128, ../scss/modules/calendar.scss */
.m-Calendar .m-Today .m-DayTitle {
  background-color: #FFFFFF; }

/* line 132, ../scss/modules/calendar.scss */
.m-Calendar .apex-calendar-has-data {
  background-image: url(../images/active_event.png);
  background-position: 50% 90%;
  background-repeat: no-repeat; }

/* line 138, ../scss/modules/calendar.scss */
.m-Calendar .apex-calendar-today-has-data {
  background-image: url(../images/active_event_today.png);
  background-position: 50% 90%;
  background-repeat: no-repeat; }

/* -------------------- Mobile Week Calendar ------------------- */
/* line 146, ../scss/modules/calendar.scss */
.m-WeekCalendar {
  width: 100%; }

/* line 150, ../scss/modules/calendar.scss */
.m-WeekCalendar .m-MonthTitle {
  font: bold 16px/20px Arial, sans-serif;
  text-align: center;
  color: #545454; }

/* line 157, ../scss/modules/calendar.scss */
.m-WeekCalendar .m-DayOfWeek {
  font: 11px/14px Arial, sans-serif;
  text-align: center;
  color: #545454; }

/* line 164, ../scss/modules/calendar.scss */
.m-WeekCalendar td {
  height: 50px;
  width: 13%;
  padding: 0;
  color: #465769;
  font: bold 11px/14px Arial, sans-serif;
  border-left: 1px solid #A7ABB3;
  border-bottom: 1px solid #A7ABB3;
  background: url("../images/calendar-day-divider-bg.png") 0 50% repeat-x #e5e5e5;
  border-width: 1px 1px 0 0;
  border-style: solid;
  margin: 0; }

/* line 179, ../scss/modules/calendar.scss */
.m-WeekCalendar .m-Day {
  height: 50px;
  width: 13%;
  padding: 0;
  color: #465769;
  font: bold 11px/14px Arial, sans-serif;
  border-left: 1px solid #A7ABB3;
  border-bottom: 1px solid #A7ABB3;
  background: url("../images/calendar-day-divider-bg.png") 0 50% repeat-x #e5e5e5;
  border-width: 1px 1px 0 0;
  border-style: solid;
  margin: 0; }

/* line 194, ../scss/modules/calendar.scss */
.m-WeekCalendar .DayTitle {
  padding: 0px;
  font-weight: bold;
  text-align: right;
  float: right;
  border: 0px solid #666666;
  border-right: none;
  border-top: none; }

/* line 205, ../scss/modules/calendar.scss */
.m-WeekCalendar .m-NonDayTitle {
  color: #CCCCCC; }

/* line 209, ../scss/modules/calendar.scss */
.m-WeekCalendar .m-NonDay {
  background-color: #EEEEEE; }

/* line 213, ../scss/modules/calendar.scss */
.m-WeekCalendar .m-WeekendDayTitle {
  padding: 2px;
  font-weight: bold;
  text-align: right;
  float: right;
  border: 2px solid #666666;
  border-right: none;
  border-top: none;
  text-align: right;
  color: #CCCCCC; }

/* line 225, ../scss/modules/calendar.scss */
.m-WeekCalendar .m-Today {
  background-color: #bad1ff; }

/* line 229, ../scss/modules/calendar.scss */
.m-WeekCalendar .m-Today .m-DayTitle {
  background-color: #FFFFFF; }

/* line 233, ../scss/modules/calendar.scss */
.m-WeekCalendar .m-hour {
  font: 11px/14px Arial, sans-serif;
  text-align: right;
  padding: 0px 5px 35px 10px;
  border-width: 0px 0px 0 0;
  white-space: nowrap;
  v-align: center; }

/* line 242, ../scss/modules/calendar.scss */
.m-WeekCalendar .m-HourTitle {
  background-color: #DDDDDD;
  font: bold 11px/14px Arial, sans-serif; }

/* -------------------- Mobile Day Calendar ------------------- */
/* line 251, ../scss/modules/calendar.scss */
.m-DayCalendar {
  width: 100%; }

/* line 255, ../scss/modules/calendar.scss */
.m-DayCalendar .m-MonthTitle {
  font: bold 16px/20px Arial, sans-serif;
  text-align: center;
  color: #545454; }

/* line 262, ../scss/modules/calendar.scss */
.m-DayCalendar .m-DayOfWeek {
  font: bold 11px/14px Arial, sans-serif;
  text-align: center;
  color: #545454; }

/* line 268, ../scss/modules/calendar.scss */
.m-DayCalendar td {
  height: 50px;
  width: 90%;
  padding: 0;
  color: #465769;
  font: bold 11px/14px Arial, sans-serif;
  border-bottom: 1px solid #A7ABB3;
  border-width: 1px 0px 0 0;
  border-style: solid;
  margin: 0;
  background-color: #E5E5E5; }

/* line 286, ../scss/modules/calendar.scss */
.m-DayCalendar .m-Day {
  v-align: top;
  align: left;
  width: 90%;
  height: 50px;
  padding: 0;
  color: #465769;
  font: bold 11px/14px Arial, sans-serif;
  border-bottom: 1px solid #A7ABB3;
  background: url("../images/calendar-day-divider-bg.png") 0 50% repeat-x #e5e5e5;
  border-width: 1px 0px 0 0;
  border-style: solid;
  margin: 0; }

/* line 301, ../scss/modules/calendar.scss */
.m-DayCalendar .m-ToDay {
  v-align: top;
  align: left;
  width: 90%;
  height: 50px;
  padding: 0;
  color: #465769;
  font: bold 11px/14px Arial, sans-serif;
  border-bottom: 1px solid #A7ABB3;
  background: url("../images/calendar-day-divider-bg.png") 0 50% repeat-x #bad1ff;
  border-width: 1px 0px 0 0;
  border-style: solid;
  margin: 0;
  background-color: #BAD1FF; }

/* line 321, ../scss/modules/calendar.scss */
.m-DayCalendar .m-hour {
  width: 10%;
  font: 11px/14px Arial, sans-serif;
  padding: 0px 5px 35px 10px;
  border-width: 0px 0px 0 0;
  white-space: nowrap;
  v-align: center; }

/* line 334, ../scss/modules/calendar.scss */
.ui-li-aside {
  align: right;
  width: 50px;
  text-align: left;
  padding: .7em 22px .7em 5px; }

/******************************************************************************
File Name:    forms.scss
Purpose:      form styles and accessibility imporovements for mobile

Change History:

Rem   shrahman       06/12/2012    Created file
******************************************************************************/
/* Make control group label hidden so it is visually hidden but not mess up layout */
/* line 11, ../scss/modules/forms.scss */
.ui-controlgroup-label {
  visibility: hidden; }

/******************************************************************************
File Name:    reports.scss
Purpose:      reports styles and accessibility imporovements for mobile

Change History:

Rem   msewtz       06/15/2012    Created file
******************************************************************************/
/* line 10, ../scss/modules/reports.scss */
.list-view-cell {
  display: inline-block;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: normal; }

/*****************************************************************************
Generic Styles for Mobile Theme
******************************************************************************/
/* line 22, ../scss/4_2.scss */
.apex-loading-indicator {
  background-image: url(../../../apex/builder/loading16x16.gif);
  padding: 1px 8px 1px 8px; }
