body {
    font-family: 'PT Sans', sans-serif;
    color:       #333;
}

a, a:visited {
    text-decoration: none;
    color: #e56620;
}

a:hover {
    text-decoration: underline;
    color: #e56620;
}

label {
    font-size: 12px;
    font-weight: bold;
    color: #000:
}

.in_place_editor_field {
    background-color: #FFD6BA;
}
