@import url('basics.css');

/* find a CSS boiler plate that resets to all similar sizes, etc.  */

body  {
    background-position:      top;
    background-repeat:        no-repeat;
    background-attachment:    fixed;
    background-color:         #272E2E;
}

#container {
    width: 1000px;
    margin: auto;
}

header {
    height: 125px;
    width: 100%;
}

/* peek through space - and skip to main content stuff */
#skip {
    height: 25px;
    width: 100%;
    background: #FFF;
    opacity: 0.20;
    -moz-opacity: 0.20; /* older Gecko-based browsers */
    filter:alpha(opacity=20); /* For IE6&7 */
}

#skip a, #skip a:hover, #skip a:visited { 
    position:absolute; 
    left:0px; 
    top:-500px; 
    width:1px; 
    height:1px; 
    overflow:hidden;
} 

#skip a:active, #skip a:focus { 
    position:static; 
    width:auto; 
    height:auto; 
}

#logo {
    float: left;
    margin: 10px 20px 0 2px;
}

#title_section {
    height: 100px;
    float: left;
}

#sitename {
    font-family: ThatBook, serif;
    font-size: 38px;
    float: left;
    display: inline-block;
    margin-top: 15px;
    line-height: 1.1em;
}

#sitename_solo {
    font-family: ThatBook, serif;
    font-size: 38px;
    float: left;
    display: inline-block;
    margin-top: 28px;
    line-height: 1.1em;
    color: #EEE;
}

#sitename_link {
    color: #EEE;
}

#breadcrumbs {
    float: left;
    clear:left;
    color: #a8b4b4;
    font-family: ThatBook, serif;
    margin-top: 5px;
}

#breadcrumbs a, #breadcrumbs a:visited {
    color: #a8b4b4;
}

#search {
    float: right;
    margin-top: 15px;
}

#home_links {
    margin-bottom: 10px;
    color: #D8D8D8;
}

#home_links a {
    color: #D8D8D8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    height: 18px;
    padding-right: 8px;
}

#home_links a#caltech_home {
    border-left: 1px solid #5C6464;
    padding-left: 15px;
} 

form.search input[type=submit]  {
    background: url('../images/search_button.png') no-repeat;
    border:none;
    width: 31px;
    height: 30px;
    float: right;
    color: transparent
}

form.search input[type=text]  {
    height: 24px;
    width: 225px;
}

nav #primary {
    background-color: #a8b4b4;
    background-image: url('../images/menubg.png');
    padding-left: 102px;
}

nav #primary li {
    display: inline;
    margin-right: 1em;
    line-height: 2.6em;
}

/* when this is the current page, there isn't a link */
.nav_1 {
    font-size: 1.2em;
    color: #FFF;
    white-space: nowrap;
}

.nav_1 a, .nav_1 a:visited {
    color: #565e5e;
}

nav #secondary li {
    display: inline;
    margin-right: 0.8em;
    line-height: 1.2em;
}

.nav_2 {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
}

nav ul#tertiary {
    margin-top: 10px;
    border-top: 1px solid #a8b4b4;
}

nav #tertiary li {
    display: inline;
    margin-right: 0.8em;
    line-height: 2.4em;
}

.nav_3 {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
}

.nav_2 a, .nav_2 a:visited, .nav_3 a, .nav_3 a:visited {
    color: #565e5e;
    font-weight: normal;
}

#primary li.active {
   background: url("../images/menu_triangle.png") no-repeat; 
   background-position: center top;
}

#content {
    background: #FFF;
    padding-bottom: 25px;
    /* Try setting the font size on all of content 
       to what we want for paragraphs, list items, etc.  */
    font-size: 14px;
}

h1#pagehead, legend {
    font-family: ThatBook, serif;
    font-size:   32px; 
    font-weight: normal; 
}

#main {
    width: 500px;
    float: left;
    margin-left: 102px;
    padding-top: 10px;
}

#main.homepage {
    width: 398px;
}

#sidebar {
    /* border: 1px solid blue; */
    width: 270px;
    float: right;
    background-color: #eee;
    margin: 70px 60px 30px 0;
    padding: 20px 30px 20px 30px;
}

#sidebar.homepage {
    /* border: 1px solid blue;  */
    width: 475px;
    padding-top: 50px;
}

#sidebar.homepage img {
    float: right;
    margin-bottom: 20px;
}

#sidebar_caption {
    margin-top: 15px;
    width: 90%;
    font-family: 'PT Sans Caption',sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
}

#sidebar_photo_credit {
    margin-top: 5px;
    width: 90%;
    font-family: 'PT Sans',sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #636363;
}

.rightpad {
    padding-right: 25px;
}

footer {
    margin: 10px 10px;
    font-size: 10px;
    color: #EEE;
    text-transform: uppercase;
}

#footer_cit {
    letter-spacing: 2px;
}

footer a, footer a:visited {
    color: #EEE;
    text-decoration: underline;
}

a.login_link {
    float: right;
}

/*** clearfix ***/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* for IE6&7 */
}


/*************** News releases ******************/
article {
    padding: 20px 0 20px 102px;
    margin-left: -102px;
}

.even {
    background: #f3f1f1;
}

.odd {
    background: #fff;
}

.release_date {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 9px;
    color: #666;
    margin-bottom: 2em;
}

article h3 {
    font-family: ThatBook, serif;
    font-size: 18px;
}

#news_archive {
    width: 100%;
    padding: 25px 0;
}

/*************** Calendar Events ******************/
.event {
    width: 100%;
    padding: 20px 0 20px 102px;
    margin-left: -102px;
}

.event_title {
    font-family: ThatBook, serif;
    font-size: 18px;
}

.event_day {
    font-size: 16px;
    color: #000;
} 

.event_times {
    font-weight: bold;
    color: #666;
    letter-spacing: -0.075em;
}

.event_location {
    font-size: 14px;
    color: #333;
}

.event_body, .speaker {
    color: #333;
    margin-top: 1.5em;
}

/*************** News/Announcements/Events - on home page ******************/

.news, .events {
    padding-right: 25px;
}

.news h2.news_section_title a {
    text-transform: uppercase;
    font-family: "PT Sans", san-serif; /* CNK Styleguide says this should be PT Sans Caption Bold  */
    font-size: 12px;
    color: #565E5E;
}

.news h3.release_title, .news h3.release_title a, .news h3.event_title, .news h3.event_title a { 
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    line-height: 1em;
}

.news h3.event_date, .news h3.event_date a {
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    color: #666;
    line-height: 0.5em;
}

/*************  admin styles *****************/
#admin_main {
    float: right;
    width: 598px;
    padding-right: 25px;
}

#admin_sidebar {
    float: left;
    width: 300px;
}

nav.admin {
    background-color: #FFF;
    background-image: none;
    padding-left: 75px;
    padding-top: 60px;
    color: #565e5e;
}

/* active items are not links */
nav.admin .nav_0, nav.admin .nav_1, nav.admin .nav_2, nav.admin .nav_3 {
    padding-bottom: 0.5em;
    color: black;
}

nav.admin .nav_2 {
    padding-left: 1.5em;
}

nav.admin .nav_3 {
    padding-left: 2.5em;
}

.bg-photo-choice { 
  margin: 20px 0 20px 0;
}

/********* for admin site map ************/
#draggable_link_tree ul {  
    padding-top: 4px; 
    padding-bottom: 2px; 
    border: 1px solid #aaf;
}

#draggable_link_tree li { 
    border: 1px solid #e56620;
}

.login_only {
    font-size: .9em;
    font-weight: bold;
    color: #f00;
}

.campus_only {
    font-size: .9em;
    font-weight: bold;
    color: #ff8c00;
}

#pagehead input {
    font-family: ThatBook, serif;
    font-size: 30px;
}

/*********** Bulk upload ***********/
div#bulk_upload_container {
    margin: 0px 10px;
}

div#bulk_upload_button {
    background-color: #ffc88d;
    border: solid 1px  #ff9a22;
    display: inline;
    padding: 2px;
}

div#divFileProgressContainer {
    height: 75px;
}
/*********** Image Galleries  ***********/
.thumbnail-gallery img {
    margin: 5px 5px 5px 0;
}

/*********** CAS stuff  ***********/

div#login_form h3,
div#link_farm h3
{
/*    font-weight: normal;*/
    margin-bottom: 0;
}

div#login_form input
{
    border: 1px solid #A8B4B4;
    font-family: 'PT Sans Caption',sans-serif;
    font-size: 13px;
}

span.form-required
{
    color: red;
}

div#login_form input[type="submit"]
{
    color: #E56620;
    background-color: white;
    border: none;
    text-transform: uppercase;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
    font-family: 'PT Sans',sans-serif;
}

#login_form form
{
    margin-bottom: 50px;
}
