div#container
{
    width: 100%;
    margin: 0;
}

div#content
{
    padding: 0 20px;
}

section#main
{
    float: none;
    width: 100%;
    margin: 10px auto;
}

header
{
    height: 100px;
}

header div#skip
{
    display: none;
}

header div#title_section
{
    height: 80px;
}

#sitename_solo
{
    font-size: 30px;
    margin-top: 28px;
}

h1#pagehead
{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0px;
}

.rightpad
{
    padding-right: 0px;
}

#sidebar
{
    width: 90%;
    float: none;
    background-color: white;
    margin: none;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    margin: 20px 0 0 0;
/*    padding: 20px 30px 20px 30px;*/
}

div#link_farm h3
{
    margin-top: 0;
}

div#link_farm hr
{
    display: none;
}