/***** css classes for images - use in the TinyMCE plugin *****/

img.TopRight {
	float: right;
	margin: 0 0 15px 15px;
}

img.Bottom {
	padding: 15px 15px 0 0;
}

img.TopLeft {
	padding: 3px 15px 15px 0;
	float: left;
}

img.Left {
	padding: 0 0 0 0;
	margin:  0 15px 15px 0;
	float: none;
}

img.MiddleLeft {
	padding: 15px 15px 3px 0;
	float: left;
}

img.MiddleRight {
	float: right;
	margin: 15px 0 15px 15px;
}

img.BottomRight {
	float: right;
	padding: 15px 0 0 15px;
}

