/*
Copyright 2009-10 California Institute of Technology.  Questions or comments
may be directed to the author, Chris Malek at cmalek@caltech.edu.

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 2 of the License, or any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
this program; if not, write to the Free Software Foundation, Inc., 59 Temple
Place, Suite 330, Boston, MA  02111-1307  USA
*/

a img {
	border: 0;
}


body {
    font: normal 75% / 1.6em "Tahoma", Helvetica, sans-serif;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: #444; 
}

h1, h2, h3 {
	font-family: fontin, "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

#page {
    width: 960px;
    margin: 0px auto 35px auto;
    background-color: white;
	position: relative;
}


#header {
    clear: both;
    height: 100px;
    margin-bottom: 5.5em;
}

#header h1 {
	position: absolute;
	top: 70px;
	left: 3.3%;
	font-family: fontin, "lucida sans", verdana;
	font-size: 4em;
	font-weight: normal;
	padding: 0;
	background: white;
	color: black;
}

#header_wrapper {
    width: 100%;
    height: 9.5em;
	margin-top: .5em;
} 

#header #tools {
	clear: both;
	background-color: #444;
	height: 38px;
	font-size: 1.1em;
	font-family: "Tahoma", helvetica, sans-serif;
}

#header #tools ul.info {
	float: left;
	margin: 0 auto;
	padding: 0;
}

#header #tools ul.info li {
	display: block;
    float: left;
    padding-left: .6em;
    padding-right: .6em;
    height: 30px;
	padding-top: 4px;
	color: white;
}

#header #tools ul.info li a, #header #tools ul.tools li a {
	color: white;
}

#header #tools span.username {
	font-weight: bold;
}

#header #tools ul.tools {
    float: right;
	margin: 0 auto;
	padding: 0;
}

#header #tools ul.info li form {
    display: inline;
}

#header #tools ul.info input {
    padding: 0;
}

#header #tools ul.tools li {
	display: block;
    float: right;
    padding-left: .6em;
    padding-right: .6em;
    height: 30px;
	padding-top: 4px;
	color: white;
}


#footer {
	clear: both;
	background-color: #ccc;
	height: 30px;
	font-size: 1.1em;
	margin-top: 6em;
	padding: 15px 25px 10px 25px;
	font-family: "Tahoma", helvetica, sans-serif;
}

#footer a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

#footer ul.left {
	float: left;
	margin: 0 auto;
	padding: 0;
}

#footer ul.left li {
	display: block;
    float: left;
    padding-right: 10px;
}

#footer ul.right {
	margin: 0 auto;
	padding: 0;
}

#footer ul.right li {
	display: block;
    float: right;
    padding-left: 10px;
}

#bottom {
	clear: both;
    width: 100%;
    float: left;
    margin-bottom: 4em;
}

#content {
	float: left;
	width: 68%;
	margin-top: 10px;
	margin-left: 4%;
}

#sidebar {
	float: right;
	width: 22%;
	margin-left: 4%;
}

.home #sidebar {
	float: left;
	width: 22%;
	margin-left: 4%;
}

h2 {
    font-size: 1.6em;
    font-weight: normal;
    color: #333;
    margin-bottom: .3em;

}

#bottom h1 {
	font-size: 2.6em;
	margin: 0 0 .75em 0;
	border-bottom: 1px dotted black;
	padding: 0 0 10px 0;
}

#content h1 {
	font-size: 1.6em;
	color: #8F1D1D;
	text-transform: uppercase;
	font-weight: normal;
}
/* -----------------------
 * Input widgets
   ----------------------- */
label.required {
	color: red;
}

/* -----------------------
 * Form widgets
   ----------------------- */
div.errors {
	background: #f4ab5b;
	border: 2px solid #b00000;
	color: black;
	padding: .25em 1em;
	margin-bottom: 2em;
}

p.error, li.error, td.error {
	background: #f4ab5b;
	color: black;
}

.ui-button {
    padding: 5px 8px;
}

/* -----------------------
 * Breadcrumbs widget
   ----------------------- */
  
h1#breadcrumbs {
	font-size: 1em;
	background: #ddd;
	margin: .75em 0 2em 0;
	padding: 10px 10px 10px 4%;
	border: none;
	text-transform: uppercase;
	font-family: "Tahoma", helvetica, sans-serif;
	color: #999;
}

h1#breadcrumbs a {
	height: 30px;
	padding: 5px 5px 10px 5px;
	color: #999;
}

h1#breadcrumbs .breadcrumb_here {
	font-weight: bold;
	color: #888;
}

/* -----------------------
 * Table based widgets
   ----------------------- */
  
span.count {
    padding: 5px;
	color: #777;
	background: #f0f0f0;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
	margin-bottom: 3em;
} 

table a {
	color: black;
}

table tr {
    height: 30px;
    border: 0;
    background-color: white;
} 

table td {
    padding: 5px;
}


table tr.odd {
    background-color: #eeeeee;
}

table .header_row th {
    text-align: left;
    background-color: #c3e9e9;
    padding: 5px;
}


/* -----------------------
 * Form widget
   ----------------------- */

form th {
	font-weight: bold;
	vertical-align: top;
	text-align: left;
	padding-top: .5em;
}

.buttons {
	float: right;
}

/* ------------------
 * *FieldSet
   ------------------ */
fieldset table .header_row th {
    background-color: white;
	text-align: center;
	font-weight: bold;
}

fieldset table th {
	font-weight: normal;
	padding-left: 5px;
}

fieldset table td {
	width: 13%;
	text-align: center;
}

fieldset legend {
	display: none;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/* ------------------
 * Panel
   ------------------ */
  
.panel {
	font-size: 1.6em;
	margin-bottom: 1em;
	float: left;
}

.panel h2 {
	margin: 0;
	text-transform: uppercase;
	color: black;
	font-size: 1em;
    float: left;
    padding: 10px 0 10px 0;
	border-bottom: 1px dotted black;
}

.panel .bottom {
    padding: 10px 0 1.5em 0;
    float: left;
    width: 100%;
}
  

.panel form  {
	width: 92%; 
    margin: 0;
}

.panel form p {
    margin: 0;
    padding: 0;
}

.panel ul {
    margin: 0;
    padding: 0;
	list-style: none;
	color: #666;
}

.panel ul li {
	font-size: 0.8em;
    margin: 0;
    padding: 0;
	line-height: 1.6em;
}

.panel ul li a, .panel ul li a:visited {
	color: #666;
}

.panel ul li.title {
    margin-top: 1em;
}

/* ------------------
 * Highlighted panel
   ------------------ */
.panel.highlight h2 {
	color: #8F1D1D;
}

/* ----------------------------------------------------------------------
 * Error box used on Error.psp
   ---------------------------------------------------------------------- */

div.error {
    border: 3pt solid #a33;
    width: 57%;
    margin-left: 21.5%;
    margin-top: 6em;
    margin-bottom: 6em;
}

div.error h2 {
    text-align: center;
    letter-spacing: .08em;
    background: #a33;
    color: white;
    margin: 0;
    padding-top: .25em;
    padding-bottom: .5em;
}

div.error p {
    padding: 1em;
    font-size: 1.3em;
    line-height: 1.8em;
}

