#header h1 {
	left: 3.2%;
    font-size: 3.5em;
}

/* -----------------------
 * Form widgets
   ----------------------- */

form tr th {
    vertical-align: top;
}

form tr.header_row th {
    vertical-align: middle;
}


/* -----------------------
 * Table based widget
   ----------------------- */

td {
    line-height: 1.4em;
}

/* -----------------------
 * TransactionQueueTabs widget
   ----------------------- */
  
.menu {
    margin-left: 0;
}

/* -----------------------
 * Panel
   ----------------------- */

.panel h2 {
    float: none;
}

