/*
Copyright 2009-10 California Institute of Technology.  Questions or comments
may be directed to the author, Chris Malek at cmalek@caltech.edu.

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 2 of the License, or any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
this program; if not, write to the Free Software Foundation, Inc., 59 Temple
Place, Suite 330, Boston, MA  02111-1307  USA
*/

a img {
	border: 0;
}


body {
    font: normal 75% / 1.6em "Tahoma", Helvetica, sans-serif;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: #444; 
}

h1, h2, h3 {
	font-family: fontin, "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

#page {
    width: 960px;
    margin: 0px auto 35px auto;
    background-color: white;
	position: relative;
}

/* -----------------------
 * Header
   ----------------------- */

#header {
    clear: both;
    height: 100px;
    margin-bottom: 5.5em;
}

#header h1 {
	position: absolute;
	top: 70px;
	left: 3.3%;
	font-size: 3.5em;
	font-weight: normal;
	padding: 0;
	background: white;
	color: black;
}

#header h1 span.subtitle {
	color: #aaa;
}

#header_wrapper {
    width: 100%;
    height: 9.5em;
	margin-top: .5em;
} 

#header #tools {
	clear: both;
	background-color: #444;
	height: 38px;
	font-size: 1.1em;
	font-family: "Tahoma", helvetica, sans-serif;
}

#header #tools ul.info {
	float: left;
	margin: 0 auto;
	padding: 0;
}

#header #tools ul.info li {
	display: block;
    float: left;
    padding-left: .6em;
    padding-right: .6em;
    height: 30px;
	padding-top: 4px;
	color: white;
}

#header #tools ul.info li a, #header #tools ul.tools li a {
	color: white;
}

#header #tools span.username {
	font-weight: bold;
}

#header #tools ul.tools {
    float: right;
	margin: 0 auto;
	padding: 0;
}

#header #tools ul.info li form {
    display: inline;
}

#header #tools ul.info input {
    padding: 0;
}

#header #tools ul.tools li {
	display: block;
    float: right;
    padding-left: .6em;
    padding-right: .6em;
    height: 30px;
	padding-top: 4px;
	color: white;
}

/* -----------------------
 * Footer
   ----------------------- */


#footer {
	clear: both;
	background-color: #ccc;
	height: 30px;
	font-size: 1.1em;
	margin-top: 6em;
	padding: 15px 25px 10px 25px;
	font-family: "Tahoma", helvetica, sans-serif;
}

#footer a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

#footer ul.left {
	float: left;
	margin: 0 auto;
	padding: 0;
}

#footer ul.left li {
	display: block;
    float: left;
    padding-right: 10px;
}

#footer ul.right {
	margin: 0 auto;
	padding: 0;
}

#footer ul.right li {
	display: block;
    float: right;
    padding-left: 10px;
}

#bottom {
	clear: both;
    width: 100%;
    float: left;
    margin-bottom: 4em;
}

#content {
	float: left;
	margin-left: 4%;
	width: 67%;
	margin-top: 10px;
}

#sidebar {
	float: left;
	margin-left: 4%;
	width: 22%;
}

h2 {
    font-size: 1.6em;
    font-weight: normal;
    color: #333;
    margin-bottom: .3em;

}

h1 {
	padding: 10px 10px 10px 38px;
	color: white;
	font-size: 1.6em;
	background-color: #f4ab5b;
}

/* ----------------------------------------------------------------------
 * Flash messages on Home pages
   ---------------------------------------------------------------------- */
   
div#display_message {
	color: #c00;
	font-size: 1.2em;
	margin-bottom: 2em;
}

/* ----------------------------------------------------------------------
 * Error box used on Error.psp
   ---------------------------------------------------------------------- */

div.error {
    border: 3pt solid #a33;
    width: 57%;
    margin-left: 21.5%;
    margin-top: 6em;
    margin-bottom: 6em;
}

div.error h2 {
    text-align: center;
    letter-spacing: .08em;
    background: #a33;
    color: white;
    margin: 0;
    padding-top: .25em;
    padding-bottom: .5em;
}

div.error p {
    padding: 1em;
    font-size: 1.3em;
    line-height: 1.8em;
}


/* -----------------------
 * Input widgets
   ----------------------- */
label.required {
	color: red;
}

/* -----------------------
 * Breadcrumbs widget
   ----------------------- */
  
#breadcrumbs {
	font-size: 1em;
	margin: .75em 0 0 0;
	padding-left: 34px;
	text-transform: uppercase;
	font-family: "Tahoma", helvetica, sans-serif;
	color: #999;
	background: #ddd;
}

#breadcrumbs a {
	height: 30px;
	padding: 5px 5px 10px 5px;
	color: #999;
}

#breadcrumbs .breadcrumb_here {
	font-weight: bold;
	color: #888;
}

/* -----------------------
 * TransactionQueueTabs widget
   ----------------------- */
  
.menu {
	clear: both;
	height: 44px;
	font-size: 1.3em;
	padding: 0 35px 0 28px; 
	color: white;
	border-bottom: 2px solid #666;
}

.menu a {
	text-decoration: none;
	color: white;
}

.menu a:hover {
    text-decoration: underline;
}

.menu ul {
	float: left;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.menu li {
    float: left;
	padding: 12px .6em 8px .6em;
    height: 22px;
	position: relative;
	list-style: none;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-right: 2px solid #666;
	margin-left: 4px;
	background: #aaa;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

.menu li.selected {
	background: white;
	color: #666;
	height: 24px;
}

.menu li.selected a {
	color: #666;
}

/* -----------------------
 * Table based widgets
   ----------------------- */
  

span.count {
    padding: 5px;
	color: #777;
	background: #f0f0f0;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
	margin-bottom: 3em;
} 

table a {
	color: black;
}

table tr {
    height: 30px;
    border: 0;
    background-color: white;
} 

table td {
    padding: 5px;
}

table.proposal_log tr.odd, table.votes tr.odd {
	background-color: #eeeeee;
}

table .header_row th {
    text-align: left;
    background-color: #c3e9e9;
    padding: 5px;
}

table.proposals tr:nth-child(even) {
  background-color: white;
}

table.proposals tr:nth-child(odd) {
  background-color: #eeeeee;
}


/* -----------------------
 * TransactionTable widget
   ----------------------- */
  
h2.proposals {
    padding-bottom: .6em;
    margin: 0;
    margin-bottom: .3em;
    border-bottom: 1px dotted black;
	position: relative;
}

h2 span.action {
	position: absolute;
	right: 0;
}

td.transaction {
	width: 5%;
}

td.submit_date {
	width: 15%;
}

table td.transaction_id {
	padding-left: 10px;
}

table.draft .header_row th {
	background-color: #ccc;
}

table.accepted .header_row th {
	background-color: #B9EBAF;
}

table.revision .header_row th {
	background-color: #F0EF88;
}

table.rejected .header_row th {
	background-color: #BF542E;
	color: white;
}


td.has_voted {
	width: 24px;
	position: relative;
}

td.has_voted img {
	position: relative;
	top: 4px;
}

td.approve_votes, td.revise_votes, td.reject_votes {
	width: 1.5em;
	text-align: center;
	font-size: 1.1em;
}

td.approve_votes {
	background-color: #cadd8c;
}

td.revise_votes {
	background-color: #edec77;
}

td.reject_votes {
	background-color: #fcae96;
}

/* -----------------------
 * UsernameLookupField widget
 * CourseLookupField widget
   ----------------------- */

span.required {
	color: red;
}

span.lookup_target {
	width: 8em;
	background: #f0f0f0;
	padding: 2px 10px;
}

/* -----------------------
 * UsernameLookupForm widget
   ----------------------- */

#person_lookup_form label {
	font-weight: bold;
	padding-right: 5px;
}

#person_lookup_form select {
	width: 330px;
}

/* -----------------------
 * CourseLookupForm widget
   ----------------------- */

#course_lookup_form label {
    font-weight: bold;
    padding-right: 5px;
}

#course_lookup_form select {
    width: 330px;
}

/* -----------------------
 * TransactionLogTable widget
   ----------------------- */

h2.proposal_log {
    padding-bottom: .6em;
    margin: 0;
    margin-bottom: .3em;
    border-bottom: 1px dotted black;
}

.proposal h2.proposal_log {
	margin-top: 2em;
}

td.created_at {
	width: 15%;
}

/* -----------------------
 * VoteTable widget
   ----------------------- */


h2.votes {
    padding-bottom: .6em;
    margin: 0;
    margin-bottom: .3em;
    border-bottom: 1px dotted black;
	position: relative;
}

span.approve {
	position: absolute;
	right: 3.25em;
	background: #cadd8c;
	top: -.25em;
}

span.revise {
	position: absolute;
	right: 1.5em;
	top: -.25em;
	background: #edec77;
}

span.reject {
	position: absolute;
	right: 0;
	background: #fcae96;
	top: -.25em;
}

td.user {
	width: 25%;
}

td.vote {
	width: 25%;
}

/* -----------------------
 * Form widget
   ----------------------- */

form th {
	font-weight: bold;
	vertical-align: top;
	text-align: left;
	padding-top: .5em;
}

.buttons {
	float: right;
}

div.errors {
	background: #f4ab5b;
	border: 2px solid #b00000;
	color: black;
	padding: .25em 1em;
	margin-bottom: 2em;
}

p.error, li.error, td.error {
	background: #f4ab5b;
	color: black;
}


/* -----------------------
 * *ProposalForm widgets
   ----------------------- */

#id_withdraw_draft {
    position: relative;
    left: -135px;
}

/* -----------------------
 * ProposalPreview widget
   ----------------------- */
  
.proposal_preview {
	width: 95%;
	position: relative;
}

.proposal_preview span.transaction_id {
	color: #999;
	position: absolute;
	right: 0;
}

.proposal_preview a, .proposal_preview a:visited {
	text-decoration: none;
	color: #666;
	font-size: 1.2em;
	padding-left: 20px;
	position: relative;
}
.proposal_preview a img {
	top: 2px;
	left: -2px;
	position: absolute;
}

.new_course_proposal .proposal_preview {
	padding: 5px;
	border: 3px solid #aaa;
	margin: 2em 20% 4em;
}

.proposal_preview h2 {
	margin-top: 0;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px dotted black;
}

.proposal_preview .course_entry {
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 1.3em;
	line-height: 1.5em;
	margin-bottom: 3em;
}

.course_entry .course_name, .course_entry .course_title {
	font-weight: bold;
}

.course_entry .prerequisites, .course_entry .special_note, .course_entry .units, .course_entry .terms {
	font-style:italic;
}

.proposal_preview .course_entry.segment {
	margin-bottom: 1.5em;
	margin-left: 2em;
}

.proposal_preview h3 {
	font-size: 1.3em;
	color: #8F1D1D;
}

.proposal_preview .submitter_notes {
	font-size: 1.2em;
	line-height: 1.3em;
	margin-bottom: 3em;

}

.proposal_preview .proposal_info, .proposal_info .submitter_info {
	font-size: 1.4em;
	margin-bottom: 1em;
}

/* link for diff popup  */

#description_diffs { 
    font-size:      80%; 
    border-bottom:  1px dashed;
    padding:        5px 0 0 0;
    margin-top:     0.7em;
    float:          left;
}

.difflink {
}

/* ------------------
 * Action Notes
   ------------------ */
  
#action_notes {
	width: 50%;
	margin: 0 auto;
}

#action_notes h2 {
	width: 500px;
}

#action_notes .buttons {
	float: none;
}


/* ------------------
 * Panel
   ------------------ */
  
.panel {
	font-size: 1.6em;
	margin-bottom: 1em;
	float: left;
}

.panel h2 {
	margin: 0;
	text-transform: uppercase;
	color: black;
	font-size: 1em;
    float: left;
    padding: 10px 0 10px 0;
	border-bottom: 1px dotted black;
}

.panel .bottom {
    padding: 10px 0 1.5em 0;
    float: left;
    width: 100%;
}
  

.panel form  {
	width: 92%; 
    margin: 0;
}

.panel form p {
    margin: 0;
    padding: 0;
}

.panel ul {
    margin: 0;
    padding: 0;
	list-style: none;
	color: #666;
}

.panel ul li {
	font-size: 0.8em;
    margin: 0;
    padding: 0;
	line-height: 1.6em;
}

.panel ul li.title {
    margin-top: 1em;
}

.panel ul li a, .panel ul li a:visited {
	color: #666;
}

/* ------------------
 * Highlighted panel
   ------------------ */
.panel.highlight h2 {
	color: #8F1D1D;
}

/* -----------------------
 * ViewList widget
   ----------------------- */
  
.view_list li.selected {
	font-weight: bold;
}

/* ------------------
 * ActionListForm
   ------------------ */
.action_list li  {
	position: relative;
}
  
.action_list li a img {
	top: 5px;
	left: -2px;
	position: absolute;
}
.action_list ul li a, .action_list ul li a:visited {
	text-decoration: none;
	padding-left: 20px;
}

/* ------------------
 * SearchForm
   ------------------ */

#search_form {
	position: relative;
	margin-top: 10px;
}

#search {
	height: 15px;
	color: #999;
	margin: 0 8px 0 10px;
	float: right;
}

#send {
	width: 30px;
	height: 24px;
	margin: 0 30px 3px 0;
	float: right;
}

#search_label {
	width: 30px;
	height: 24px;
	margin: 0px 17px 0 0;
	font-size: 1em;
	font-family: "Tahoma", helvetica, sans-serif;
	color: #999;
	font-weight: bold;
	text: SEARCH;
	float: right;
}

#search.active {
	background: #feeeae;
	color: #333;
}

#breadcrumb_area {
	background: #ddd;
	height: 38px;
	margin-bottom: 2em;
}

#search_results {
	float: left;
	margin-left: 5%;
	width: 90%;
	margin-top: 10px;
}

#no_search_results {
	float: left;
	margin-left: 5%;
	width: 90%;
	margin-top: 10px;
	color: #c00;
	font-size: 1.2em;
}

#pageflow {
}

#pageflow ul {
	list-style: none outside none;
}

div.high200 {
	min-height: 200px;
}

ins {
	background-color: #A1ED9F;
}

del {
	color: #888;
}

