/*
Copyright 2009-10 California Institute of Technology.  Questions or comments
may be directed to the author, Chris Malek at cmalek@caltech.edu.

This program is free software; you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 2 of the License, or any later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
this program; if not, write to the Free Software Foundation, Inc., 59 Temple
Place, Suite 330, Boston, MA  02111-1307  USA
*/

a img {
	border: 0;
}


body {
	font: normal 75% / 1.6em "Tahoma", Helvetica, sans-serif;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	background-color: #444; 
}

h1, h2, h3 {
	font-family: fontin, "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

#page {
	width: 960px;
	margin: 0px auto 35px auto;
	background-color: white;
	position: relative;
}


#header {
	clear: both;
	height: 100px;
	margin-bottom: 5.5em;
}

#header h1 {
	position: absolute;
	top: 70px;
	left: 3.3%;
	font-family: fontin, "lucida sans", verdana;
	font-size: 4em;
	font-weight: normal;
	padding: 0;
	background: white;
	color: black;
}

#header_wrapper {
	width: 100%;
	height: 9.5em;
	margin-top: .5em;
} 

#header #tools {
	clear: both;
	background-color: #444;
	height: 38px;
	font-size: 1.1em;
	font-family: "Tahoma", helvetica, sans-serif;
}

#header #tools ul.info {
	float: left;
	margin: 0 auto;
	padding: 0;
}

#header #tools ul.info li {
	display: block;
	float: left;
	padding-left: .6em;
	padding-right: .6em;
	height: 30px;
	padding-top: 4px;
	color: white;
}

#header #tools ul.info li a, #header #tools ul.tools li a {
	color: white;
}

#header #tools span.username {
	font-weight: bold;
}

#header #tools ul.tools {
	float: right;
	margin: 0 auto;
	padding: 0;
}

#header #tools ul.info li form {
	display: inline;
}

#header #tools ul.info input {
	padding: 0;
}

#header #tools ul.tools li {
	display: block;
	float: right;
	padding-left: .6em;
	padding-right: .6em;
	height: 30px;
	padding-top: 4px;
	color: white;
}


#footer {
	clear: both;
	background-color: #ccc;
	height: 30px;
	font-size: 1.1em;
	margin-top: 6em;
	padding: 15px 25px 10px 25px;
	font-family: "Tahoma", helvetica, sans-serif;
}

#footer a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

#footer ul.left {
	float: left;
	margin: 0 auto;
	padding: 0;
}

#footer ul.left li {
	display: block;
	float: left;
	padding-right: 10px;
}

#footer ul.right {
	margin: 0 auto;
	padding: 0;
}

#footer ul.right li {
	display: block;
	float: right;
	padding-left: 10px;
}

#bottom {
	clear: both;
	width: 100%;
	float: left;
	margin-bottom: 4em;
}

#content {
	margin-left: auto;
	width: 70%;
	margin-top: 10px;
	margin-right: 25px;
}

#content.person,
#content.add_person {
	width: 95%;
	margin-right: auto;
}

#sidebar {
	float: left;
	width: 22%;
	margin-left: 4%;
}

.person #sidebar {
	float: right;
	width: 22%;
	margin-left: 4%;
}

h2 {
	font-size: 1.6em;
	font-weight: normal;
	color: #333;
	margin-bottom: .3em;

}

#bottom h1 {
	font-size: 2.6em;
	margin: 0 0 .75em 0;
	border-bottom: 1px dotted black;
	padding: 0 0 10px 0;
}

#content h1 {
	font-size: 1.6em;
	color: #8F1D1D;
	text-transform: uppercase;
	font-weight: normal;
}
/* -----------------------
 * Input widgets
   ----------------------- */
  
label.required {
	color: red;
}

/* -----------------------
 * Form widgets
   ----------------------- */
div.errors {
	background: #f4ab5b;
	border: 2px solid #b00000;
	color: black;
	padding: .25em 1em;
	margin-bottom: 2em;
}

p.error, li.error, td.error {
	background: #f4ab5b;
	color: black;
}

.ui-button {
	padding: 5px 8px;
}

/* -----------------------
 * Breadcrumbs widget
   ----------------------- */
  
h1#breadcrumbs {
	font-size: 1em;
	background: #ddd;
	margin: .75em 0 2em 0;
	padding: 10px 10px 10px 34px;
	border: none;
	text-transform: uppercase;
	font-family: "Tahoma", helvetica, sans-serif;
	color: #999;
}

h1#breadcrumbs a {
	height: 30px;
	padding: 5px 5px 10px 5px;
	color: #999;
}

h1#breadcrumbs .breadcrumb_here {
	font-weight: bold;
	color: #888;
}

/* -----------------------
 * Table based widgets
   ----------------------- */
  
span.count {
	padding: 5px;
	color: #777;
	background: #f0f0f0;
}

h2.people select {
	position: absolute;
	right: 0;
	top: 0;
}

table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	margin-bottom: 3em;
} 

table.history {
	margin-bottom: 0;
} 

table a {
	color: black;
}

table tr {
	height: 30px;
	border: 0;
	background-color: white;
} 

table td {
	padding: 5px;
}


table tr.odd {
	background-color: #eeeeee;
}

table .header_row th {
	text-align: left;
	background-color: #c3e9e9;
	padding: 5px;
}

/* -----------------------
 * XXXList display
   ----------------------- */

h2.people, h2.history {
	padding-bottom: .6em;
	margin: 0;
	margin-bottom: .3em;
	border-bottom: 1px dotted black;
	position: relative;
}

h2.history {
	color: #8F1D1D;
}

td.person_name, td.modified_at {
	white-space: nowrap;
}

#username_select {
	margin-bottom: .5em;
}

div.person_select {
	text-align: center;
	margin: 1em 0 1em 0;
}
/* -----------------------
 * Form widget
   ----------------------- */

form th {
	font-weight: bold;
	vertical-align: top;
	text-align: left;
	padding-top: .5em;
}

.buttons {
	width: 92%;
	background-color: #f4ab5b;
	float: left;
	padding: 1em 4% 1em 4%;
	margin-top: 3em;
}

.buttons #btn_save_person {
	float: right;	
}

/* ------------------
 * *FieldSet
   ------------------ */
fieldset table .header_row th {
	background-color: white;
	text-align: center;
	font-weight: bold;
}

fieldset table th {
	font-weight: normal;
	padding-left: 5px;
}

fieldset table td {
	width: 13%;
	text-align: center;
}

fieldset legend {
	display: none;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

/* ------------------
 * Panel
   ------------------ */
  
.panel {
	font-size: 1.6em;
	margin-bottom: 1em;
	float: left;
}

.panel h2 {
	margin: 0;
	text-transform: uppercase;
	color: black;
	font-size: 1em;
	float: left;
	padding: 10px 0 10px 0;
	border-bottom: 1px dotted black;
}

.panel .bottom {
	padding: 10px 0 1.5em 0;
	float: left;
	width: 100%;
}
  

.panel form  {
	width: 92%; 
	margin: 0;
}

.panel form p {
	margin: 0;
	padding: 0;
}

.panel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #666;
}

.panel ul li {
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	line-height: 1.6em;
}

.panel ul li a, .panel ul li a:visited {
	color: #666;
}

.record.panel .bottom ul{
	font-size: .8em;
}

/* ------------------
 * Highlighted panel
   ------------------ */
.pane.highlight h2 {
	color: #8F1D1D;
}

.survey .panel.highlight h2 {
	color: black;
}

/* -----------------------
 * ContactTabs widget
   ----------------------- */
  
.menu {
	clear: both;
	height: 35px;
	font-size: 1.1em;
	padding: 0 35px 0 0; 
	color: white;
	border-bottom: 2px solid #666;
	margin-bottom: 0;
}

.menu a {
	text-decoration: none;
	color: white;
}

.menu a:hover {
	text-decoration: underline;
}

.menu ul {
	float: left;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.menu li {
	float: left;
	padding: 6px .6em 8px .6em;
	height: 19px;
	position: relative;
	list-style: none;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-right: 2px solid #666;
	margin-right: 4px;
	background: #aaa;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}

.menu li.selected {
	background: white;
	color: #666;
	height: 21px;
}

.menu li.selected a {
	color: #666;
}

/* -----------------------
 * *Pane Widgets
   ----------------------- */

.pane li.odd {
	background-color: #eeeeee;
}

.pane {
	border-left: 2px solid #666;
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	margin-top: 0;
	padding: 1em 0;
}

.pane > ul {
	padding: 0;
	margin: 1em 10px;
}

.pane > ul > li {
	position: relative;
	min-height: 5em;
}

.pane > ul ul  {
	padding-left: 0;
}

.pane > ul ul li {
	padding-left: .5em;
}


.pane > ul > li {
	margin-bottom: 2em;
}

.pane li {
	list-style: none;
	padding: 5px 0;
} 

.pane li.selected {
	background-color: #e9e9e9;
	color: black;
} 

.label {
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: .75em;
}


/* -----------------------
 * ListPanes (EmailPane, AddressesPane, PhonesPane)
   ----------------------- */

.pane .list > ul {
	margin-top: 1em;
}

.pane > ul.list ul {
  margin-left: auto;
  width: 85%;
}

.pane .list input[type="radio"] {
	float: left;
	margin-bottom: auto;
	margin-top: 2em;
}

.pane > ul.list > li.deletion {
	border: 2px inset #ccc;
	color: #333;
	height: 2em;
	background-color: #f4c69d;
}


.pane > ul.list  > li > input[type="button"] {
	margin-left: 85%;
}

.pane > ul.list > li > input[type="button"].undo_delete {
	top: 1.5em;
}

.pane > input[type="button"] {
	margin-left: 4em;
}

/* -----------------------
 * EmailPane
   ----------------------- */

.email .pane input[type="radio"] {
	top: 3.5em;
}

.email .pane > ul > li {
	padding: 1em 0 1.5em 1em;
}

.email .pane > ul > li.deletion {
	padding-top: .25em;
	padding-bottom: 2em;
}


.email .pane > ul > li > input[type="button"] {
	top: 3.5em;
}

/* -----------------------
 * AddressesPane
   ----------------------- */
  
.addresses .pane > ul ul li {
	height: 1.3em;
}

.addresses .pane > ul > li {
	margin-bottom: 1em;
}

.addresses .pane input[type="radio"] {
	top: 4.5em;
}

.addresses .pane > ul > li {
	padding: 1em 0 2em 1em;
}

.addresses .pane > ul > li.deletion {
	padding-top: .25em;
	padding-bottom: 2em;
}

.addresses .pane > ul > li > input[type="button"] {
	top: 5.5em;
}

input.address_line {
	width: 35.5em;
}

input.state {
	width: 13em;
	margin-left: .5em;
}

input.zipcode {
	width: 7em;
	margin-left: .5em;
}

/* -----------------------
 * PhonesPane
   ----------------------- */

.phones .pane input[type="radio"] {
	top: 3em;
}

.phones .pane > ul > li {
	padding: 1em 0 1.5em 1em;
}

.phones .pane > ul > li.deletion {
	padding-top: .25em;
	padding-bottom: 2em;
}

.phones .pane > ul > li > input[type="button"] {
	top: 3em;
}

/* -----------------------
 * FamilyPane
   ----------------------- */

#family_pane.pane {
	min-height: 184px;
}

#family_pane.pane ul > li > ul > li > input[type="text"] {
	margin-top: .4em;
	margin-right: .5em;
}

#family_pane.pane ul > li > input[name="delete_new1"] {
	margin-left: 85%;
}

.nospouse {
	margin-top: .4em;
}

.nospouse .selected {
	background-color: #e9e9e9;
	color: black;
}

ul.children_list {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

ul.children_list > li {
	padding-bottom: .75em;
	padding-top: .75em;
}

ul.children_list > li > ul > li > input[type="text"] {
	padding-bottom: 0;
}

ul.children_list > li > input[type="button"] {
	margin-left: 85%;
}

ul.children_list > li.deletion {
	border: 2px inset #ccc;
	color: #333;
	height: 2em;
	background-color: #f4c69d;
}

.child_label {
	width: 90px;
	float: left;
	text-align: right;
	padding-right: 1em;
	padding-top: .6em;
} 

/* -----------------------
 * DietPane
   ----------------------- */

.diet .pane {
	min-height: 200px;
}

/* -----------------------
 * People Lists Pane
   ----------------------- */

li.memberships {
  height: auto !important;
}

ul.memberships {
  margin-top: 5px;
}

.underline {
  border-bottom: 1px solid #ccc;
}

.plist_label {
  font-weight: bold;
  display: inline;
  margin-bottom: .75em;
}

.remove_label {
  font-weight: bold;
  display: inline;
  float: right;
  margin-bottom: .75em;
}

.remove_checkbox {
  float:right;
  margin-right: 1.8em;
}


/* -----------------------
 * History Pane
 * ----------------------- */
#history_container {
	max-height: 400px;
	overflow: auto;
}
/* -----------------------
 * ContactSummary Block
   ----------------------- */
  
.summary {
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-bottom: 2px solid #eee;
}

/* -----------------------
 * AddPerson.psp
   ----------------------- */
#content div.accordion {
	font-family: fontin, "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-weight: bold;
	font-size: 125%;
	background-color: #DDD;
	border: 1px solid #888;
	padding-left: 10px;
}

#content div.accordion:hover {
	background-color: #F4AB5B;
	cursor: pointer;
}

#content div.pane.addperson {
	padding: 0px 10px 5px;
}

/*------------------------
 * ReportHome.tpl
 * ----------------------- */
.reports_home #content {
	width:	95%;
}

.reports_home #content ul {
	list-style:		none;
	padding-left:	10px;
	display:		block;
}

.reports_home #content ul li {
	width:			55%;
	height:			34px;
	padding-top:	2px;
	padding-left:	10px;
}

.reports_home #content ul li.odd {
	background-color: #eeeeee;
}

.reports_home #content ul li a {
	font-size:	1.4em;
	color:		#000;
	margin-top:	5px;
	display:	inline-block;
}

.reports_home #content ul li button {
	float: right;
}

.reports_home #content ul li button span.ui-icon {
	float: left;
	margin: 0pt 7px 0pt 0pt;
}

/*------------------------
 * ReportMailStops.tpl
 * ----------------------- */
.report_mail_stop #content {
	width: 95%;
}

table#tbl_mail_stops,
table#tbl_mail_stops_body {
	margin: 0;
	width: 890px;
}

table#tbl_mail_stops th {
	border: 1px solid #444;
	background-color: #888;
	color: #fff;
	font-weight: bold;
	width: 25%;
}

div#div_mail_stops_body {
	height: 500px;
	overflow: auto;
	margin-bottom: 15px;
}

table#tbl_mail_stops_body tr.odd {
	background-color: #eeeeee;
}

table#tbl_mail_stops_body td {
	border: 1px solid #444;
	width: 25%;
}

.report_mail_stop #content button span.ui-icon {
	float: left;
	margin: 0pt 7px 0pt 0pt;
}

/*------------------------
 * ReportContactList.tpl
 * ----------------------- */
.report_contact_list #content {
	width: 95%;
}

div#div_contact_list {
	height: 500px;
	overflow: auto;
	margin-bottom: 15px;
}

table#tbl_contact_list {
	margin: 0;
	width: 1100px;
	margin-bottom: 5px;
}

table#tbl_contact_list th {
	border: 1px solid #444;
	background-color: #888;
	color: #fff;
	font-weight: bold;
	width: 9%;
}

table#tbl_contact_list tr.odd {
	background-color: #eeeeee;
}

table#tbl_contact_list td {
	border: 1px solid #444;
	width: 9%;
}

.report_contact_list #content button span.ui-icon {
	float: left;
	margin: 0pt 7px 0pt 0pt;
}

/* -----------------------
 * Submit Buttons
   ----------------------- */



/* ----------------------------------------------------------------------
 * Error box used on Error.psp
   ---------------------------------------------------------------------- */

div.error {
	border: 3pt solid #a33;
	width: 57%;
	margin-left: 21.5%;
	margin-top: 6em;
	margin-bottom: 6em;
}

div.error h2 {
	text-align: center;
	letter-spacing: .08em;
	background: #a33;
	color: white;
	margin: 0;
	padding-top: .25em;
	padding-bottom: .5em;
}

div.error p {
	padding: 1em;
	font-size: 1.3em;
	line-height: 1.8em;
}

/* ----------------------------------------------------------------------
 * Pagination
   ---------------------------------------------------------------------- */

div#paginator {
	display: block;
	padding: 2em 0 1em 0;
	font-size: 1em;
	text-align: right;
	font-weight: bold;
	clear: both;
}

div#paginator a {
	margin: 0 3px;
	padding: 2px 6px;
	font-weight: bold;
	border: 1px solid #EAEAEA;
}

div#paginator a.arrow {
	border: none;
}

div#paginator a.arrow:hover {
	background: white;
	color:#9093FF;
}

div#paginator a.current {
	border: 1px solid #AAA;
}

div#paginator a:hover {
	background: rgb(60,60,220);
	color: white;
}

div#paginator span {
	margin: 0 3px;
	padding: 2px 6px;
}


/* ----------------------------------------------------------------------
 * Filtered Person Lists
   ---------------------------------------------------------------------- */

#divisions {
	margin-bottom: 10px;
}

#ranks {
  margin-bottom: 10px;
}

#plists_select {
  margin-bottom: 10px;
}

/* ----------------------------------------------------------------------
 * People Lists
   ---------------------------------------------------------------------- */

#plist_name {
	width: 100%;
}

#plist_desc {
	width: 100%;
}

.person_select {
	width:  20em;
	height: 24em;
}

/* ----------------------------------------------------------------------
 * People Search
   ---------------------------------------------------------------------- */
  
#search_page {
	width: 750px;
	margin: 20px auto 20px auto;
	background-color: white;
	position: relative;
}

#search_content {
	float: left;
	margin-left: 4%;
	width: 92%;
	margin-top: 10px;
}

#search_header {
	clear: both;
	background-color: #ccc;
	height: 15px;
	font-size: 1.1em;
	margin-bottom: 3em;
	padding: 15px 15px 15px 15px;
	font-family: "Tahoma", helvetica, sans-serif;
}

#search_footer {
	clear: both;
	background-color: #ccc;
	height: 15px;
	font-size: 1.1em;
	margin-top: 3em;
	padding: 15px 15px 15px 15px;
	font-family: "Tahoma", helvetica, sans-serif;
}

.error_header_row th {
	height: 15px;
	background-color: #c3e9e9;
}

.search_error {
	font-size: 1.3em;
	text-align: center;
	vertical-align: middle;
	height: 100px;
}
