/*tag defaults*/

* {
	font-size: 9pt;
	font-family: Tahoma,Arial,Helvetica,Geneva,sans-serif;
}

body {
	background-color: #fff;
	font-family: Tahoma,Arial,Helvetica,Geneva,sans-serif;
	margin: 0;
	padding: 0;
}

td,body,p,div,span {
	font-family: Tahoma,Arial,Helvetica,Geneva,sans-serif;
	font-size: 9pt;
	color: #000;
}

a:link,a:visited {
	color: #2b7c92;
	text-decoration: underline;
}

a:active,a:hover {
	color: red;
}

ul {
	list-style-type: circle;
}

table {
	empty-cells: show;
}

/*Page Level*/

#t20PageHeader {
	background-image: url(headerBg.jpg);
	padding: 5px 5px 0 5px;
}

#t20PageFooter {
	height: 20px;
	padding: 2px 5px;
	background-image: url(footerBg.gif);
	color: #FFF;
}

#t20PageFooter * {
	color: #FFF;
}

#t20PageFooter #t20Left {
	text-align: left;
}

#t20PageFooter #t20Left {
	text-align: left;
}

#t20PageFooter #t20Right {
	text-align: right;
}

#t20ContentBody {
	padding: 0 5px;
}

#t20ContentRight ,#t20ContentMiddle {
	padding-top: 5px;
}

#t20ContentRight {
	padding-right: 5px;
}

.eLink {
	display: none !important;
}

.pb , .pseudoButtonInactive,.pseudoButtonActive {
	cursor: pointer;
}

.t20Breadcrumbs {
	font-weight: bold;
	padding: 2px 5px;
	background-color: #eaeff5;
	vertical-align: middle;
}

.t20Breadcrumbs a,.t20Breadcrumbs b {
	vertical-align: middle;
	text-decoration: none;
	color: #2b7c92;
}

.t20Breadcrumbs b {
	padding: 0 5px;
	color: #586073;
}

.t20Breadcrumbs a.t20Current {
	color: #586073;
}

.t20Breadcrumbs a:hover {
	text-decoration: underline;
}

#t20ContentLeft {
	width: 200px;
	background-color: #ccd7e0
}

#t20Messages {
	text-align: center;
}

#t20Notification,#t20Success {
	margin: 5px auto;
	color: #333;
	width: 100%;
	background-color: #D9E5EF;
}

#t20Notification td.tM,#t20Success td.tM {
	background-image: url(msgBoxTop-Bg.gif);
	background-repeat: repeat-x;
}

#t20Notification td.bM,#t20Success td.bM {
	background-image: url(msgBoxBtm-Bg.gif);
	background-repeat: repeat-x;
}

#t20Notification td.L,#t20Success td.L {
	background-image: url(msgBoxMain-L.gif);
}

#t20Notification td.R,#t20Success td.R {
	background-image: url(msgBoxMain-R.gif);
}

#t20Customize * {
	font-size: 9pt;
}

.t20Login {
	text-align: center;
	width: 300px;
	border: 2px double #CCC;
	margin: 40px auto;
	padding: 25px;
}

#t20NavBar {
	color: #fff;
	text-align: right;
	white-space: nowrap;
}

#t20NavBar a.t20NavBar,#t20NavBar a.t20NavBar:visited {
	color: #fff;
	text-decoration: none;
	margin: 0 3px;
}

#t20NavBar a.t20NavBar:hover {
	text-decoration: underline;
}

#t20ContentBody {
	
}

/*Tabs*/

.t20Tabs,#t20Tabs {
	margin: 15px 0 0 0
}

#t20ChildTabs {
	font-weight: bold;
	padding: 2px 5px;
	background-color: #eaeff5;
	vertical-align: middle;
	border-bottom: 1px solid #a3bed8;
}

.t20Tabs a,#t20Tabs a {
	text-decoration: none;
	color: #586073;
	font-weight: bold;
}

.t20CurrentTab {
	background-image: url(topTabBg.gif)
}

.t20Tab a:hover,.t20CurrentTab a {
	color: #2b7c92 !important;
}

.t20Tab {
	background-image: url(topDimTabBg.gif)
}

#t20ChildTabs .t20Tab {
	margin: 2px;
	padding: 2px 8px;
	background-image: none;
	font-weight: normal;
	border-right: 1px solid #ccc;
	display: -moz-inline-box;
	text-decoration: none;
}

#t20ChildTabs .t20CurrentTab {
	margin: 2px;
	padding: 2px 8px;
	background-image: none;
	border-right: 1px solid #ccc;
	display: -moz-inline-box;
	text-decoration: none;
}

div.tablight {
	text-align: right;
	color: #fff;
	clear: both;
	padding-bottom: 5px;
}

div.tablight a {
	color: #fff !important;
	font-weight: normal !important;
	border-right: 1px solid #fff;
	padding: 2px 5px !important;
}

div.tablight .t20CurrentTab {
	background: none;
	font-weight: bold !important;
	text-decoration: underline !important;
}

/*hacks for table buttons*/

/*Buttons*/

.t20Button {
	cursor: pointer;
	white-space: nowrap;
	border-left: #a5a9b6 1px solid;
	border-top: #a5a9b6 1px solid;
	border-right: #7b8194 1px solid;
	border-bottom: #7b8194 1px solid;
	background: url(btn-bg.gif);
	text-decoration: none !important;
	font-weight: bold;
	color: #586073 !important;
	margin: 3px;
	padding: 0 8px;
	background-color: #c9e5ec;
	display: -moz-inline-box;
}

.t20Button:hover {
	background-color: #AAA;
}

.t20Button2 {
	cursor: pointer;
	white-space: nowrap;
	border-left: #a5a9b6 1px solid;
	border-top: #a5a9b6 1px solid;
	border-right: #7b8194 1px solid;
	border-bottom: #7b8194 1px solid;
	background: url(button2.gif);
	text-decoration: none !important;
	font-weight: bold;
	color: #586073 !important;
	margin: 3px;
	padding: 0 8px;
	background-color: #c9e5ec;
	display: -moz-inline-box;
}

.t20Button2:hover {
	background-color: #AAA;
}

.t20ButtonAlternative2 {
	cursor: pointer;
	white-space: nowrap;
	border: #888888 1px solid;
	text-decoration: none;
	margin: 3px;
	padding: 2px;
}

.t20ButtonAlternative2:hover {
	background-color: #369;
}

.t20ButtonAlternative3 {
	cursor: pointer;
	background-color: #FFF;
	white-space: nowrap;
	border: #FF0000 1px solid;
	text-decoration: none;
	font-weight: 700;
	margin: 3px;
	padding: 2px;
}

.t20ButtonAlternative3:hover {
	background-color: #FFF;
}

/*Labels*/

.t20NoLabel {
	font-weight: normal;
	white-space: nowrap;
}

.t20OptionalLabel {
	font-weight: normal;
	white-space: nowrap;
	color: #343434;
}

a.t20OptionalLabelwithHelp {
	cursor: help;
	font-weight: normal;
	white-space: nowrap;
	color: #343434;
}

.t20RequiredLabel {
	font-weight: normal;
	white-space: nowrap;
	color: #343434;
}

a.t20RequiredLabelwithHelp {
	cursor: help;
	font-weight: normal;
	white-space: nowrap;
	color: #343434;
}

.t20InlineError * {
	cursor: help;
	font-weight: normal;
	white-space: nowrap;
	color: #343434;
}

.t20Req {
	color#3a5a87 !important;font-size: 9pt;
}

/*Lists*/

.t20ButtonList .t20current {
	background-image: url(buttonC.gif);
	color: #000 !important;
}

.t20HorizontalImageswithLabelList td {
	text-align: center;
	padding: 5px;
}

.t20HorizontalLinksList {
	text-align: left;
}

.t20HorizontalLinksList a {
	margin-left: 3px;
	margin-right: 3px;
}

.t20HorizontalLinksList a.t20current {
	text-decoration: none;
}

table.t20TabbedNavigationList {
	margin: 0 0 0 15px;
}

.t20VerticalImagesList img {
	display: block;
	margin: auto;
}

.t20VerticalImagesList td {
	text-align: center;
	padding: 2px;
}

.t20VerticalImagesList .t20current {
	border-left: 2px solid #CCC;
	border-right: 2px solid #CCC;
}

.t20VerticalOrderedList .t20current a {
	text-decoration: none;
}

.t20VerticalSidebarList {
	
}

.t20VerticalSidebarList a {
	white-space: nowrap;
	display: block;
	padding: 2px;
}

.t20VerticalSidebarList a:hover,.t20VerticalSidebarList a.current {
	color: #000;
	font-weight: bold;
	background-color: #a3c2df
}

.t20VerticalUnorderedListwithBullets {
	list-style-type: circle;
}

.t20VerticalUnorderedListwithBullets .t20current a {
	text-decoration: none;
}

.t20VerticalUnorderedLinkswithoutBullets {
	list-style: none;
}

.t20VerticalUnorderedLinkswithoutBullets .t20current a {
	text-decoration: none;
}

.t20WizardProgressList {
	text-align: center;
}

.t20WizardProgressList div {
	margin: 2px;
}

.t20WizardProgressList .t20current {
	border: 2px solid #CCC;
	padding: 2px;
}

table.t20Report {
	
}

th.t20ReportHeader {
	white-space: nowrap;
	padding: 2px 8px;
	background-color: #cfe0f1;
}

td.t20data {
	padding: 2px 8px;
}

td.t20dataalt {
	padding: 2px 8px;
}

.t20Borderless {
	
}

.t20Borderless th.t20ReportHeader {
	border: none;
	border-right: 2px solid #FFF;
}

.t20Borderless td.t20data {
	border: none;
}

.t20HorizontalBorder {
	
}

.t20HorizontalBorder th.t20ReportHeader {
	border-bottom: 1px solid #AAA;
}

.t20HorizontalBorder td.t20data {
	border-bottom: 1px solid #AAA;
}

.t20Standard {
	border-left: 1px solid #AAA;
}

.t20Standard th.t20ReportHeader {
	border: 1px solid #AAA;
	border-left: none;
}

.t20Standard td.t20data {
	border: 1px solid #AAA;
	border-left: none;
	border-top: none;
	background-color: #f2f2f5;
}

.t20StandardAlternatingRowColors {
	border-left: 1px solid #AAA;
}

.t20StandardAlternatingRowColors th.t20ReportHeader {
	border: 1px solid #AAA;
	border-left: none;
}

.t20StandardAlternatingRowColors td.t20data {
	border: 1px solid #AAA;
	border-left: none;
	border-top: none;
}

.t20StandardAlternatingRowColors td.t20dataalt {
	background-color: #EEE;
	border: 1px solid #AAA;
	border-left: none;
	border-top: none;
}

.t20ValueAttributePairs {
	
}

.t20ValueAttributePairs th.t20ReportHeader {
	text-align: left;
	border: 1px solid #AAA;
	border-right: none;
	border-bottom: none;
}

.t20ValueAttributePairs td.t20data {
	border: 1px solid #AAA;
	border-bottom: none;
	background-color: #f2f2f5;
}

.t20ValueAttributePairs td.t20seperate {
	border-top: 1px solid #AAA;
}

.t20ValueAttributePairs td.t20seperate hr {
	height: 2px;
	color: #AAA;
	background-color: #AAA;
}

.t20CalendarHolder {
	width: 100%;
}

.t20CalendarHolder .t20MonthTitle {
	font-weight: 700;
	text-align: center;
	font-size: 15px;
	background-color: #CCCCCC;
	color: #FFFFFF;
	border: 1px solid #808080;
	padding: 4px;
}

.t20CalendarHolder .t20MonthBody {
	border-left: 1px solid #808080;
}

.t20Calendar {
	width: 100%;
	background-color: #FFFFFF;
}

.t20Calendar .t20DayOfWeek {
	background-color: #EFEFEF;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	padding: 4px;
}

.t20Calendar td {
	height: 50px;
	width: 14%;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

.t20Calendar .t20DayTitle {
	text-align: right;
	float: right;
	border: #808080 1px solid;
	border-right: none;
	border-top: none;
	background-color: #FFFFFF;
	padding: 2px;
}

.t20Calendar .t20Day {
	vertical-align: top;
}

.t20Calendar .t20NonDayTitle {
	text-align: right;
	color: #FFFFFF;
	background-color: #FFFFFF;
}

.t20Calendar .t20NonDay {
	background-color: #FFFFFF;
}

.t20Calendar .t20WeekendDayTitle {
	float: right;
	border: 1px solid #808080;
	border-right: none;
	border-top: none;
	text-align: right;
	color: #000000;
	background-color: #F9F9F9;
	padding: 2px;
}

.t20Calendar .t20WeekendDay {
	background-color: #F9F9F9;
}

.t20Calendar .t20Today {
	font-weight: bold;
	vertical-align: top;
	background-color: #FDF9CE;
}

.t20Calendar .t20Today .t20DayTitle {
	background-color: #CCCCCC;
}

.t20CalendarAlternative1Holder .t20MonthTitle {
	text-align: center;
	font-size: 20px;
	color: #999;
	font-weight: 700;
}

.t20CalendarAlternative1Holder .t20MonthBody {
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
}

.t20CalendarAlternative1 .t20DayOfWeek {
	color: #3c3c3c;
	background-color: #cfe0f1;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	padding: 3px;
}

.t20CalendarAlternative1 td {
	width: 100px;
	height: 80px;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	padding: 4px;
	background-color: #f2f2f5;
}

.t20CalendarAlternative1 .t20DayTitle {
	font-weight: 700;
	text-align: right;
	float: left;
}

.t20CalendarAlternative1 .t20Day {
	vertical-align: top;
}

.t20CalendarAlternative1 .t20NonDayTitle {
	text-align: right;
	float: left;
	margin-right: 5px;
	color: #7e8694;
}

.t20CalendarAlternative1 .t20NonDay {
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

.t20CalendarAlternative1 .t20WeekendDayTitle {
	font-weight: 700;
	text-align: right;
	float: left;
	color: #CCCCCC;
}

.t20CalendarAlternative1 .t20Today {
	vertical-align: top;
	background-color: #FFFFFF;
}

.t20SmallCalenderHolder .t20MonthTitle {
	background-color: #CCCCCC;
	text-align: center;
	font-weight: 700;
	color: #FFFFFF;
	border: 1px solid #808080;
	padding: 2px;
}

.t20SmallCalenderHolder .t20MonthBody {
	border-left: 1px solid #808080;
}

.t20SmallCalender .t20DayTitle {
	border-bottom: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

.t20SmallCalender td {
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	width: 40px;
	height: 40px;
}

.t20SmallCalender .t20Day {
	vertical-align: top;
	background-color: #FFFFFF;
}

.t20SmallCalender .t20DayOfWeek {
	color: #3c3c3c;
	background-color: #cfe0f1;
}

.t20SmallCalender .t20NonDayTitle {
	color: #808080;
	border-bottom: 1px solid #EFEFEF;
	background-color: #EFEFEF;
}

.t20SmallCalender .t20NonDay {
	color: #808080;
	background-color: #EFEFEF;
}

.t20SmallCalender .t20WeekendDayTitle {
	color: #000000;
	border-bottom: 1px solid #CCCCCC;
	background-color: #CCCCCC;
}

.t20SmallCalender .t20WeekendDay {
	color: #000000;
	background-color: #CCCCCC;
}

.t20SmallCalender .t20Today {
	font-weight: bold;
	vertical-align: top;
	background-color: #FDF9CE;
;
}

.t20SmallCalender .t20Today .t20DayTitle {
	border-bottom: 1px solid #FDF9CE;
	background-color: #FDF9CE;
}

div.t20contentcollapse {
	display: table;
}

.t20PopupHead {
	background-color: #eaeff5;
	padding: 6px;
	border: #bcd3e7 1px solid;
}

.t20PopupBody {
	padding: 6px;
}

div.dhtmlMenuLG {
	white-space: nowrap;
	clear: both;
}

/* DHTML */

div.dhtmlMenuLG {
	white-space: nowrap;
	clear: both;
}

div.dhtmlMenuLG div.dhtmlMenuItem {
	text-align: center;
	float: left;
	margin: 0px 15px 0px 0px;
}

div.dhtmlMenuLG a.dhtmlBottom {
	text-decoration: none;
	display: block;
	font-size: 12px;
	margin: 0px 5px;
	font-weight: bold;
}

div.dhtmlMenuLG img.dhtmlMenu {
	
}

div.dhtmlMenuLG div.htmldbBKHolder {
	float: left;
}

div.dhtmlMenuLG img.dhtmlMenuOn {
	
}

ul.dhtmlTree {
	list-style: none;
}

ul.dhtmlTree li {
	padding: 2px 0;
	vertical-align: middle;
}

ul.dhtmlTree li img {
	margin: 0 4px;
	vertical-align: middle;
}

.dhtmlSubMenu {
	background-color: #FFFFFF;
	font-size: 11px;
	width: 200px;
	border: 1px solid #b7b7b7;
	list-style-type: none;
	margin: 0em;
	padding-left: 0em;
}

.dhtmlSubMenu li {
	margin: 0em;
	padding-left: 0em;
}

.dhtmlMenuSep {
	text-align: center;
}

img.dhtmlMenuSep {
	display: block;
	margin: auto;
	width: 80%;
	border: 1px solid #efefef;
	height: 1px;
	background-color: #CCCCCC;
}

.dhtmlSubMenu img.dhtmlSep {
	width: 180px;
	height: 1px;
}

.dhtmlSubMenu .htmldbMIMG {
	vertical-align: middle;
	float: right
}

.dhtmlSubMenu .dhtmlSubMenuP {
	background-color: #cfe0f1;
	text-align: center;
	color: #3c3c3c;
	padding: 3px;
	border-bottom: #CCCCCC 1px solid;
	padding: 0px 8px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
	margin: 1px;
}

.dhtmlSubMenu a.dhtmlSubMenuN {
	border: 1px solid #efefef;
	color: #808080;
	display: block;
	font-weight: normal;
	padding: 3px 8px;
	text-decoration: none;
	white-space: nowrap;
	margin: 1px;
	height: 1%;
	overflow: hidden;
}

.dhtmlSubMenu a.dhtmlSubMenuN:hover {
	background-color: #DDDDDD;
	border: 1px solid black;
	color: #000000;
	padding: 3px 8px;
	margin: 1px;
}

.dhtmlSubMenu a.dhtmlSubMenuS {
	border: 1px solid #efefef;
	color: #808080;
	display: block;
	font-weight: normal;
	padding: 3px 8px;
	text-decoration: none;
	white-space: nowrap;
	margin: 1px;
	height: 1%;
	overflow: hidden;
}

.dhtmlSubMenu a.dhtmlSubMenuS:hover {
	background-color: #DDDDDD;
	border: 1px solid #000000;
	color: #000000;
	display: block;
	font-weight: normal;
	padding: 3px 8px;
	margin: 1px;
}

.dhtmlMenuLG2 li a {
	float: left;
}

.dhtmlMenuLG2 {
	list-style-type: none;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	white-space: nowrap;
}

.dhtmlMenuLG2 * {
	float: left;
	text-decoration: none;
	display: block;
	line-height: 25px;
	height: 25px;
	vertical-align: middle;
	white-space: nowrap;
}

.dhtmlMenuLG2 li {
	background-image: url(../menu_small_m.gif);
	border: 1px solid #999;
}

.dhtmlMenuLG2 li.dhtmlMenuItem {
	margin: 0 4px 0 0;
}

.dhtmlMenuLG2 li.dhtmlMenuItem a {
	padding: 0 4px;
}

.dhtmlMenuLG2 li.dhtmlMenuItem1 {
	margin: 0 4px 0 0;
}

.dhtmlMenuLG2 li.dhtmlMenuItem1 a {
	padding: 0 4px;
	margin: 0 4px 0 0;
}

.dhtmlMenuLG2 li.dhtmlMenuItem1 img {
	margin: 0 2px 0 0;
}

.dhtmlSubMenu2 {
	background-color: #f2f2f5;
	font-size: 11px;
	width: 200px;
	border: 1px solid #b7b7b7;
	list-style-type: none;
	margin: 0em;
	padding-left: 0em;
}

.dhtmlSubMenu2 li {
	margin: 0em;
	padding-left: 0em;
}

.dhtmlMenuSep2 {
	text-align: center;
}

img.dhtmlMenuSep2 {
	display: block;
	margin: auto;
	width: 80%;
	border: 1px solid #efefef;
	height: 1px;
	background-color: #ccc;
}

.dhtmlSubMenu2 img.dhtmlSep {
	width: 180px;
	height: 1px;
}

.dhtmlSubMenu2 .t13MIMG {
	vertical-align: middle;
	float: right
}

.dhtmlSubMenu2 .dhtmlSubMenuP {
	background-color: #cfe0f1;
	text-align: center;
	color: #3c3c3c;
	border-bottom: #ccc 1px solid;
	padding: 3px 8px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
}

.dhtmlSubMenu2 a.dhtmlSubMenuN:link,.dhtmlSubMenu2 a.dhtmlSubMenuN:visited {
	color: #808080;
	display: block;
	font-weight: normal;
	padding: 3px 8px;
	text-decoration: none;
	white-space: nowrap;
	height: 1%;
	overflow: hidden;
}

.dhtmlSubMenu2 a.dhtmlSubMenuN:hover {
	background-color: #ddd;
	color: #000;
}

.dhtmlSubMenu2 a.dhtmlSubMenuS:link,.dhtmlSubMenu2 a.dhtmlSubMenuS:visited {
	color: #808080;
	display: block;
	font-weight: normal;
	padding: 3px 8px;
	text-decoration: none;
	white-space: nowrap;
	height: 1%;
	overflow: hidden;
}

.dhtmlSubMenu2 a.dhtmlSubMenuS:hover {
	background-color: #ddd;
	color: #000;
}

/*Regions*/

.t20Region {
	margin-bottom: 5px;
}

.t20RegionHeader {
	vertical-align: center;
	font-weight: normal;
	font-size: 9pt;
	font-weight: bold;
	color: #343434;
	background-image: url(hdingBar-BG.gif);
	background-repeat: repeat-x;
	text-align: left;
	padding: 1px 8px;
	white-space: nowrap;
	border: 1px solid #a3bed8
}

.t20RegionBody {
	padding: 8px;
	background-color: #eaeff5;
}

.t20ButtonHolder {
	background-color: #eaeff5;
	text-align: right;
}

/* region overrides*/

.t20Borderless {
	
}

.t20Bracketed {
	
}

.t20ButtonRegionwithTitle {
	
}

.t20ButtonRegionwithoutTitle {
	
}

.t20ChartRegion {
	
}

.t20FormRegion {
	
}

.t20HideShow {
	
}

.t20ListRegionwithIcon {
	
}

.t20NavRegion {
	width: 200px;
}

.t20NavRegion .t20RegionHeader {
	border: none;
	background-image: none;
}

.t20NavRegion .t20RegionBody {
	border: none;
	background: none;
	padding: 0 0 0 10px;
}

.t20NavRegionAlt {
	width: 200px;
}

.t20RegionwithoutButtonsandTitle {
	
}

.t20RegionwithoutTitle {
	
}

.t20ReportList {
	
}

.t20ReportsRegion {
	
}

.t20ReportsRegion .t20RegionBody {
	padding: 0;
}

.t20ReportsRegion100 {
	width: 100%;
}

.t20ReportsRegionAlt {
	
}

.t20SidebarRegion {
	width: 200px;
	border: #bcd3e7 1px solid;
	border-top: none;
}

.t20SidebarRegionAlt {
	width: 200px;
}

.t20ReportsRegionAlt .t20RegionHeader {
	border: none;
	border-bottom: 1px solid #3A5A87;
	color: #3A5A87;
	background-image: none;
}

.t20ReportsRegionAlt .t20RegionBody,.t20ReportsRegionAlt .t20ButtonHolder {
	border: none;
	background: none;
}

.t20WizardRegion {
	
}

.t20WizardRegionIcon {
	
}

table.apexir_WORKSHEET_DATA {
	
}

table.apexir_WORKSHEET_DATA th {
	color: #2b7c92 !important;
	white-space: nowrap;
	padding: 2px 8px;
	background-color: #cfe0f1 !important;
	background-image: none !important;
}

table.apexir_WORKSHEET_DATA th div {
	color: #2b7c92 !important;
	font-size: 11px;
	letter-spacing: 1;
	text-decoration: underline;
	cursor: pointer;
}

table.apexir_WORKSHEET_DATA td {
	background: none;
	border-top: 1px #fff solid;
	border-bottom: 1px #ccc solid;
	font-size: 8pt;
	padding: 3px 9px;
	empty-cells: show;
	background-color: #f2f2f5
}

table.apexir_WORKSHEET_DATA tfoot tr td ,table.apexir_WORKSHEET_DATA th.apexir_REPEAT_HEADING {
	background: none !important;
}

.dhtmlSubMenuN {
	border: none !important;
}

img.dhtmlMenuSep {
	height: 1px !important;
	border: none !important;
}

/* new templates 3.1.1*/

#t20tablist {
	background: #a4c3df;
	padding: 4px;
}

#t20tablist a {
	padding: 0 8px;
	color: #013d74;
	text-decoration: none;
	border-right: 1px solid #000;
	display: block:float:left;
}

#t20tablist a.current {
	font-weight: bold;
	background: none;
}

/* -------------------- Region Display Selector -------------------- */

.apex-rds-container {
  height: 21px;
  margin: 0 0 9px 0;
}

ul.apex-rds {
  background: url(btn-bg.gif) repeat-x scroll 0 0 transparent;
  list-style-type: none;
  float: left;
  margin: 0;
  border-top: 1px solid #999999;  
  border-left: 1px solid #999999;  
  border-bottom: 1px solid #999999;      
}

ul.apex-rds li {
  float: left;
  list-style: none;
}

ul.apex-rds li span {
  font-size: 11px;
  color: #000000;
}

ul.apex-rds li.apex-rds-selected span {
  color: #000000;
}

ul.apex-rds a:hover span {
  color: #000000;
}

ul.apex-rds li a {
  display: block;
  height: 16px;
  text-decoration: none;
  padding: 1px 10px 0 10px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #999999;
}

ul.apex-rds li a:hover, ul.apex-rds li.apex-rds-selected a {
  background: url(button2.gif) repeat-x scroll 0 0 transparent;
}
