// new colors
@white:   #ffffff;
@black:   #000000;
@orange:  #ff6e1e;
@bg-color: #AEB9D3;
@header-blue: #224474;

@ltgray: #ECECEC;  // for odd/even stripes
@dkgray: #333333;  // for odd/even stripes

// Our responsive design is based on an 800px wide grid.
// To pixel-bitch the width for something, use width: <intended>px / @responsive_grid_w * 100%;
@responsive_content_w: 820px;

// Fonts
@font_all: Verdana, Arial, Helvetica, sans-serif;
@font_size_base: 12px;
