@import "globals.less";

// For older, very thin phones:
@media (max-width: 360px) {
  table {
    font-size: 10px;
  }
}

// For devices at least as parge as landscape phones:
@media (min-width: 550px) {
  h1 {
    font-size: 30px;
  }

  table#bio-questions {
    td.bio-answer {
      width: 25%;
    }
  }

  table.objectives {
    thead {
      tr {
        display: table-row;
      }
    }

    td.text {
      width: 43%;
    }

    .question-label {
      display: none;
    }

    .question-wrapper, .question-icon {
      // Vertically center the radio buttons and icons.
      position: absolute;
      top: 50%;
      transform: translateY(-45%);
      -webkit-transform: translateY(-45%);
    }

    .question-wrapper {
      margin: 0;
      // Since we can't put each button in its own <td>, we can't rely on the table layout to center them along with the
      // headers. This is the best solution I could find.
      &.question-0 {
        right: 5.3%;
      }
      &.question-1 {
        right: 18.5%;
      }
      &.question-2 {
        right: 32%;
      }
      &.question-3 {
        right: 45.5%;
      }
      &.question-4 {
        right: 63.5%;
      }
      &.question-5 {
        right: 86%;
      }
    }

    .question-radio {
      vertical-align: baseline;
    }

    .question-icon {
      display: inline;
      // Since we can't put each button in its own <td>, we can't rely on the table layout to center them along with the
      // headers. This is the best solution I could find.
      // The icons are slightly larger than the radio buttons, so they need slightly different rules.
      &.question-0 {
        right: 4.7%;
      }
      &.question-1 {
        right: 18.3%;
      }
      &.question-2 {
        right: 31.5%;
      }
      &.question-3 {
        right: 45%;
      }
      &.question-4 {
        right: 63%;
      }
      &.question-5 {
        right: 86%;
      }
    }

    .answer-text {
      display: none;
    }
  }
}

// For portrait-mode tablets and bigger:
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

// For desktops: (It's 821 rather than 1000 because the layout is 820px wide.
@media (min-width: 821px) {
  .responsive-container {
    width: @responsive_content_w;
    margin: auto;
  }

  body {
    background-color: @bg-color;
  }

  #content {
    border-radius: 8px;
    margin-top: 20px;
    padding: 0 40px 50px 40px;
  }
}
