/*########################### NEW CSS ################################### */

.field_req {
  display: block;
  width: 6em;
  float: left;
}

.error {
  color: red;
}

.clearfix {
  clear:both;
}

.field_error {
  color: red;
  padding-left: 1em;
}

#survey-form input {
  display: block;
  float: left;
}

#survey-form div {
  clear: both;
  padding-top: .5em;
}

#survey-form #buttons {
  float: left;
  clear: both;
  margin-top: .5em;
  margin-left: 4.5em;
}

#survey-form #clone-buttons {
  float: left;
  clear: both;
  margin-top: .5em;
}

#clone-buttons #save-survey {
  margin-left: .5em;
}

#survey-form #buttons input {
  float: none;
  display: inline-block;
}

.survey-name, .end-date, .start-date {
  text-align: center;
}

.tablediv th {
  padding-top: .5em;
  padding-bottom: .5em;
}

h1.year-header {
  font-weight: bold;
}

#back-button {
  margin-top: 1em;
}

table.tablediv tr:nth-child(even) {
  border: 1px solid #FFF;
  background-color: #FFF;
  width: 740px;
}

table.tablediv tr:nth-child(odd) {
  border: 1px solid #ECECEC;
  background-color: #ECECEC;
  width: 740px;
}

td.question-header {
  color: #224474;
  font-weight: 700;
  text-align: center;
  width: 50px;
  font-size: 90%;
}

td.question-header.long {
  width: 90px;
}

td.question-text {
  text-align: left;
  width: 320px;
  font-size: 90%;
  padding: 5px 10px;
}

td.question-radios {
  text-align: center;
}

.question-radios div {
  float: left;
  width: 50px;
  margin: 0 0 0 2px;
}

.question-radios div:nth-child(1), .question-radios div:nth-child(2) {
  width: 90px;
}

div.TA-section {
  display: none;
}

#content-top-spacer {
  width: 420px;
}

.comment-instruction {
  color: #224474;
  font-size: 90%;
  font-style: normal;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}

.section-title {
  color: #224474;
  font-size: 110%;
  font-style: normal;
  font-weight: 700;
  padding-top: 10px;
  display: inline-block;
  width: 95%;
}

#controls {
  text-align: right;
  width: 740px;
  right: 15px;
  padding-top: 10px;
}

textarea {
  resize: none;
}

.objective-title {
  color: #224474;
  font-size: 90%;
  font-style: normal;
  font-weight: 700;
  padding-top: 5px;
}

.TA-checkbox {
  margin-right: 10px;
  height: 16px;
  display: inline-block;
}

/*  Survey Report CSS  */
.questiondiv {
  text-align: left;
  width: 320px;
  font-size: 90%;
  padding: 5px 10px;
}

.header {
  color: #224474;
  font-weight: 700;
}

.headerdiv {
  color: #224474;
  font-weight: 700;
  text-align: center;
  width: 52px;
  font-size: 90%;
}

.headerdivlong {
  color: #224474;
  font-weight: 700;
  text-align: center;
  width: 110px;
  font-size: 90%;
}

img.response_graph {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("/res/tqfr/img/graph_gradient.svg");
  background-position: 3px 3px;
  background-repeat: no-repeat;
  background-size: 54px 14px;
  height: 20px;
  width: 60px;
}

div.response_graph {
  width: 60px;
  height: 20px;
  margin: 3px 25px;
}

div.response_graph img.graph_frame {
  left: 0;
  top: 0;
}

div.response_graph div.graph_fill {
  position: relative;
  top: -20px;
  left: 3px;
  height: 14px;
  width: 54px;
  background: #2b4b75;
}

h1.survey_title {
  color: #333333;
  text-align: center;
}

h1.offering_title {
  color: #646464;
  font-weight: normal;
  text-align: center;
}

h2.survey_report {
  color: #224474;
  font-size: 110%;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
}

h3.survey_report {
  color: #224474;
  font-size: 90%;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 0px;
  padding-top: 10px;
}

table.special_highlight tr:nth-child(2) td:not(:nth-child(1)) {
  background-color: #5A6F8E;
  border-style: solid;
  border-width: thin;
  color: #FFFFFF;
  height: 22px;
  text-align: center;
  text-valign: middle;
  width: 50px;
  font-weight: bold;
  font-size: 100%;
}

table.score_highlight tr:not(:nth-child(1)) td:nth-child(3) {
  background-color: #5A6F8E !important;
  color: #FFFFFF;
  font-size: 100%;
}

table.special_highlight tr td:nth-child(1) {
  padding-bottom: 0.5em;
}

div.report_graph {
  width: 60px;
  height: 25px;
  border-bottom: 1px solid black;
  position: relative;
}

div.report_graph img {
  position: absolute;
  width: 8px;
  height: 0px;
  bottom: 0px;
}

div.report_graph img.c0 {
  left: 0px;
}

div.report_graph img.c1 {
  left: 10px;
}

div.report_graph img.c2 {
  left: 20px;
}

div.report_graph img.c3 {
  left: 30px;
}

div.report_graph img.c4 {
  left: 40px;
}

div.report_graph img.c5 {
  left: 52px;
}

#report_detail_div {
  position: absolute;
  z-index: 1000;
  border: 1px solid black;
  width: 350px;
  height: 250px;
  background: #ECECEC;
  display: none;
}

#report_detail_div div.title {
  position: absolute;
  width: 80px;
  height: 50px;
  font-weight: bold;
  font-size: 110%;
  left: 10px;
  top: 10px;
}

div.rdd_report_graph {
  position: absolute;
  left: 150px;
  top: 10px;
  width: 110px;
  height: 50px;
  border-bottom: 1px solid black;
}

div.rdd_report_graph img {
  position: absolute;
  width: 18px;
  height: 50px;
  bottom: 0px;
}

div.rdd_report_graph img.c0 {
  left: 0px;
}

div.rdd_report_graph img.c1 {
  left: 20px;
}

div.rdd_report_graph img.c2 {
  left: 40px;
}

div.rdd_report_graph img.c3 {
  left: 60px;
}

div.rdd_report_graph img.c4 {
  left: 80px;
}

div.rdd_report_graph img.c5 {
  left: 102px;
  width: 8px;
}

#report_detail_div table {
  position: absolute;
  left: 10px;
  top: 75px;
  width: 330px;
  height: 155px;
}

div.legend_c0 {
  margin: 3px;
  background: #0000cc;
  width: 10px;
  height: 10px;
  float: left;
}

div.legend_c1 {
  margin: 3px;
  background: #016666;
  width: 10px;
  height: 10px;
  float: left;
}

div.legend_c2 {
  margin: 3px;
  background: #99CC33;
  width: 10px;
  height: 10px;
  float: left;
}

div.legend_c3 {
  margin: 3px;
  background: #EF4C00;
  width: 10px;
  height: 10px;
  float: left;
}

div.legend_c4 {
  margin: 3px;
  background: #CC0000;
  width: 10px;
  height: 10px;
  float: left;
}

div.legend_c5 {
  margin: 3px;
  background: #444444;
  width: 10px;
  height: 10px;
  float: left;
}

td.comment-subject {
  width: 12em;
}

tr.public-comment {
  color: red;
}

td.not-surveyed {
  text-align: center;
}

form#search-form {
  float: right;
  display: block;
  margin-top: 5px;
}

div#search {
  width: 740px;
}

form#masquerade_as {
  width: 335px;
  float: right;
  display: block;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 10px;
  background-color: #ccc;
  border: 1px solid black;
}

form#masquerade_as label {
  font-weight: bold;
}

form#masquerade_as span, form#masquerade_as .submit {
  float: right;
  clear: both;
}

.comment-table td {
  border-bottom: 1px solid black;
}

.comment-table tr:last-child td {
  border-bottom: none;
}

.comments-admin-table td, .comments-admin-table th {
  border-bottom: 1px solid black;
}

.comments-admin-table tr:last-child td {
  border-bottom: none;
}

.comments-admin-nav {
  background-color: #EEEEEE; text-align: center;
}

#comments-admin-page-select {
  margin: 0 1em;
}

#full-questionnaire {
  display: none;
}

#loading {
  display: block;
  width: 100%;
  border: 1px solid black;
  text-align: center;
}

.comments-warning {
  font-weight: bold;
  color: red;
  font-size: 90%;
}

a.comment-alert, td.comment-alert {
  color: red;
}

tr.comment-alert {
  background-color: yellow !important;
}

table.survey-admin td:nth-child(4), table.survey-admin th:nth-child(4) {
  text-align: center;
  width: 7em;
}

.survey-admin-button {
  margin-top: .5em;
  min-height: 2em;
}

#survey-edit-buttons {
  margin: 1em 0;
}

#survey-actions {
  border: 1px solid black;
  padding: 10px;
}

#survey-actions hr {
  margin: 10px 0;
}

/*########################### ORIGINAL CSS ################################### */
/*########################### ORIGINAL CSS ################################### */
/*########################### ORIGINAL CSS ################################### */
/*########################### ORIGINAL CSS ################################### */
/*########################### ORIGINAL CSS ################################### */
/*########################### ORIGINAL CSS ################################### */

a {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color: #000;
  border: none;
}

body {
  background: url('/res/tqfr/img/gradient_bg.jpg') repeat-x;
  background-color: #224271;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;
  margin: 20px 0;
}

.train {
  padding-bottom:10px;
}

#app_title {
  font-weight: 700;
  font-size: 150%;
  margin: 0 20px;
}

#content {
  background: url('/res/tqfr/img/content.gif') repeat-y center;
  margin: 0 auto;
}

#after_content {
  background: url('/res/tqfr/img/after_content.gif') no-repeat center;
  height: 46px;
  margin: 0 auto;
}

#before_content {
  background: url('/res/tqfr/img/before_content.gif') no-repeat bottom center;
  height: 71px;
  margin: 0 auto;
}

#surveySection {
  text-align: left;
  width: 740px;
  min-height: 400px;
  padding-top: 50px;
}

#util_search {
  background: transparent url(/res/tqfr/img/ul_bg.jpg) repeat-x scroll center center;
  width: 740px;
}

#util_search ul {
  background: transparent url(/res/tqfr/img/ul_bg.jpg) repeat-x scroll center center;
  clear: both;
  color: #000;
  float: left;
  list-style-type: none;
  position: absolute;
  text-align: right;
  top: 10px;
  width: 720px;
  margin: 0;
  padding: 0 10px;
}

#util_search ul li {
  display: block;
  float: left;
  border-left: solid 1px #ccc;
  margin: 5px 2px;
  padding: 0 0 0 5px;
}

#util_search ul li.right {
  display: block;
  float: right;
  border-left: solid 1px #ccc;
  margin: 5px 2px;
  padding: 0 0 0 5px;
}

#util_search ul li.first {
  display: block;
  float: left;
  border-left: solid 1px #fff;
  margin: 5px 2px;
  padding: 0;
}

#util_search a {
  text-decoration: none;
}
#util_search a:link {
  font-size:11px;
  color:#000;
}

#util_search a:active {
  font-size: 11px;
  color: #000;
}

#util_search a:visited {
  font-size: 11px;
  color: #000;
}

#util_search a:hover {
  text-decoration: underline;
}

#MinHeightDiv {
  height: 0;
  width: 0;
  float: right;
  display: block;
}

#print_title {
  display: none;
}

#print_disclaimer {
  display: none;
}

.tablediv_f {
  background-color: #ECECEC;
  border-spacing: 0;
  padding-top: 1em;
  width: 740px;
  border-color: #224474;
  border-style: solid;
  border-width: thin;
}

.tablediv {
  background-color: #ECECEC;
  border-spacing: 0;
  width: 740px;
  border-color: #224474;
  border-style: solid;
  border-width: thin;
}

textarea {
  width: 735px;
  height: 120px;
  maxlength: 2000;
  border: 3px solid #ccc;
  font-family: Verdana, sans-serif;
  padding: 5px;
}

.headerdivlongl {
  color: #224474;
  font-weight: 700;
  text-align: left;
  width: 110px;
  font-size: 90%;
  padding: 5px 10px;
}
.rowdiveven {
  border: 1px solid #FFF;
  background-color: #FFF;
  width: 740px;
}

.rowdivodd {
  border: 1px solid #ECECEC;
  background-color: #ECECEC;
  width: 740px;
}

.celldiv {
  font-size: 80%;
  text-align: center;
  width: 52px;
}

.celldivlong {
  text-align: center;
  width: 110px;
  font-size: 80%;
}

.hide {
  display: none;
  width: auto;
}

#objective_title {
  color: #224474;
  font-size: 90%;
  font-style: normal;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}

#site-title {
  color: #646464;
  display: block;
  font-size: 140%;
  font-weight: 400;
  padding-top: 0;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 150%;
  text-decoration: none;
}

h2 {
  font-size: 80%;
  font-weight: 400;
}

P.note {
  border: 1px solid #224474;
  margin-top: 0;
  background: #ECECEC;
  font-family: Verdana, sans-serif;
  padding: 4px;
}

select {
  width: 140px;
  margin: 5px 0;
}

#page_marker {
  text-align: right;
  width: 740px;
  right: 15px;
  padding-top: 10px;
}

.sectionScoreCellDivs {
  text-align: center;
  width: 110px;
  background-color: #5A6F8E;
  color: #FFF;
  height: 22px;
}

.sectionScoreCellDivlong {
  text-align: center;
  width: 110px;
  background-color: #5A6F8E;
  color: #FFF;
  height: 22px;
  border-style: solid;
  border-width: thin;
}

.sectionScoreCellDiv {
  text-align: center;
  width: 50px;
  background-color: #5A6F8E;
  color: #FFF;
  height: 22px;
  border-style: solid;
  border-width: thin;
}

.sectionScoreCellRowDiv {
  display: inline;
  width: auto;
}

.questiondivshort {
  padding-bottom: 1em;
  text-align: left;
  width: 150px;
}

.celldivxlong {
  text-align: center;
  width: 120px;
}

.celldivgraph {
  text-align: center;
  width: 65px;
  padding: 1px 5px;
}

.commentdiv {
  float: left;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
  width: 100%;
}

.tipbox {
  display: none;
  border: 1px solid #224271;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 100%;
  background: #ECECEC;
  margin-left: 25px;
  width: 375px;
  position: absolute;
}

.tip-tablediv {
  display: table;
  padding-top: 1px;
  width: 400px;
}

.tip-imgdiv {
  float: left;
  text-align: center;
  width: 10px;
  padding-left: 1px;
  padding-right: 1px;
}

.tip-typediv {
  float: left;
  text-align: left;
  width: 70px;
}

.tip-numberdiv {
  float: left;
  text-align: left;
  width: 100px;
}

.tip-percentdiv {
  float: left;
  text-align: left;
  width: 150px;
}

.tip-title {
  float: left;
  text-align: left;
  vertical-align: middle;
  width: 130px;
  height: 40px;
  font-weight: 700;
  margin-top: 10px;
}

.tip-graph {
  float: left;
  align: center;
  text-align: center;
  width: 130px;
  height: 40px;
}

@media print {
  #masquerade_as, .train, #search, #util_search, #before_content {
    display: none;
    visibility: hidden;
    margin: 0;
    height: 0;
  }
}
