body {
  font-family: @font_all;
  font-size: @font_size_base;
}

a {
  color: @black;
}

h1 {
  font-size: 20px;
  color: @dkgray;
}

#header-image {
  width: 100%;
  display: block;
}

#content {
  background: white;
  padding: 0 10px 20px 10px;
}

#header-links {
  list-style: none;
  padding: 8px 10px;
  background: @ltgray;
  margin-top: 10px;

  a {
    text-decoration: none;
    color: red;
  }

  li {
    float: right;
    padding-left: 20px;
    &:first-child {
      float: left;
      padding: 0;
      a {
        color: @black;
      }
    }
  }
}

table {
  border-spacing: 0;
  border-color: @header-blue;
  border-style: solid;
  border-width: thin;
  width: 100%;

  tr:nth-child(even), thead tr {
    background-color: #ECECEC;
  }

  th, td {
    padding: .5em 8px;
  }

  th {
    color: @header-blue;
    font-weight: bold;
  }

  td {
  }
}

#site-title {
  margin-top: 70px;
  text-align: center;
}

h2.section-title {
  color: #224474;
  margin-bottom: 5px;
}

#controls {
  text-align: right;
  padding: 15px 0;
}

/**************************************
Survey Queue rules
**************************************/
.note {
  border: 1px solid @header-blue;
  margin-bottom: 15px;
  background: @ltgray;
  padding: 4px;

  p {
    margin-top: 0;
    &:last-child {
      margin: 0;
    }
  }
}

table#survey-queue {
  td, th {
    width: 20%;
    white-space: nowrap;
    text-align: center;
    &.course {
      width: 66.6%;
      text-align: left;
    }
  }
}

/**************************************
Bio page rules
**************************************/
table#bio-questions {
  background-color: @ltgray;
  padding: 10px;

  td.bio-question {
    text-align: left;
  }

  td.bio-answer {
    width: 42%;

    select {
      width: 100%;
    }
  }
}

/**************************************
Questionnaire page rules
**************************************/
// Don't display the questionnaire unless the user has javascript enabled.
#full-questionnaire {
  display: none;
}

div.TA-section {
  // Hide TA sections by default. The JS will show them as needed.
  display: none;
}

table.objectives {
  .question-col {
    width: 7%;
    &.long {
      width: 12%;
    }
  }

  thead {
    tr {
      // Don't display the table header on small devices, since they use vertical radio buttons.
      display: none;
    }
  }

  td.header {
    color: @header-blue;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
  }

  .question-wrapper {
    margin-bottom: 5px;
    &.question-0 {
      margin: 0;
    }
  }

  .question-radio {
    vertical-align: text-bottom;
  }

  .question-icon {
    // We display the question-text span on portrait phones, instead of the icons.
    display: none;
  }

  td.text {
    text-align: left;
    width: 70%;
    padding: 5px;
  }

  td.answers {
    position: relative;
  }
}

/**************************************
Comments page rules
**************************************/
.comments-warning {
  color: red;
  font-size: 90%;
}

div.comment {
  h4 {
    margin-bottom: 0;

    .extra {
      font-weight: normal;
    }
  }

  .public-comment {
    margin-bottom: 1.33em;
  }

  .comment-advisory {
    margin: .5em 0;
  }

  textarea {
    width: 100%;
    height: 120px;
    border: 3px solid #ccc;
    font-family: Verdana, sans-serif;
    padding: 5px;
  }
}

/**************************************
Review page rules
**************************************/
span.no-comment {
  color: #999;
}

.bio-question-answer {
  width: 30%;
  text-align: center;
}

table.objectives {
  .answer-text {
    text-align: center;
  }
}

@import "responsive.less";
