#header_subtitle
{
	float: none;
}

.container_12 .push_1 {
	position: relative;
	left: 80px;
}

.container_12 .grid_9
{
	width: 700px;
}

h1#breadcrumbs
{
	padding-bottom: 0px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	padding-bottom: 20px;
	margin-bottom: 0px;
}

p.note
{
	margin-bottom: 20px;
}

div#footer div.grid_9
{
	float: left;
	width: 700px;
	padding: 1em;
}
div#footer div.grid_3
{
	float: left;
	width: 204px;
	padding: 1em;
}

.container_12,
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
