#page
{
	padding-bottom: 1em;
}

div#page,
div.container_12
{
	width: 100%;
	margin: 0;
}

.container_12 .push_1 {
	left: 0;
	margin-left: 1em;
	margin-right: 1em;
}

.container_12 .grid_9, 
.container_12 .grid_11
{
	width: auto;
}

#content
{
}

div#header
{
	padding: 0px;
	margin: 0px;
}

div#header #header_wrapper
{
	background-image: none;
	background-color: black;
	width: 100%;
	clear: both;
	height: 55px;
	margin:0;
}

#header h1
{
	font-size: 2em;
	line-height: .6em;
	background-color: black;
}

div#header_title
{
	padding-left: 1em;
	float: none;
	width: 90%;
	margin-top: 5px;
	background-color: black;
}

#header_subtitle
{
	margin-bottom: 3px;
	display: block;
	float: none;
	width: 50%;
	margin: 0;
}

img#caltech_header_seal
{
	display: none;
}

#caltech_name
{
	display: none;
}

#caltech_name img
{
	display: none;
}

#bottom
{
	clear: both;
	width: 100%;
}

#welcome_header,
#directions_header,
#site_description
{
	display: none;
}

p.note
{
	border:none;
	padding: 0;
	color: #666;
	font-style: italic;
	font-size: smaller;
	margin-bottom: .5em;
}

#breadcrumb_area
{
	height: 2.5em;
	margin-bottom: 1em;
	
}

h1#breadcrumbs 
{
    margin-top: .2em;
    padding-left: 0;
	margin-left: 1em;
}

h1#breadcrumbs a {
	height: .7em;
	color: #999;
}

#tool_wrapper
{
	display: none;
}

div#footer
{
	padding: 0;
	margin: 0;
}

#footer .caltech_logo,
#footer .first,
#footer .grid_3
{
	width: 80%;
	padding: 1em;
}

#footerX .first {
	margin-left: 3em;
	padding: .5em 0 .5em;
}


input[type="password"] {
    margin-bottom: 5px;    
  	/*border: 1px dotted black;*/
    width: 250px;
}


.set_password_formX
{
	border: 1px dotted yellow;
}

h3#information_header
{
	font-weight: normal;
}

.non_mobile_header,
.non_mobile_row
{
	display: none;
}

.mobile_header
{
	display: block;
	
}

div.challenge_question_group,
div.challenge_question_pair
{
	margin-bottom: 2em;
}

div.challenge_question_pair input[type="text"]
{
	width: 280px;
}

div.challenge_question_pair select
{
	font-size: x-small;
}
