body {
    background: black;
	width: 100%;
}

a, a:visited {
    color: #222;
    cursor: pointer;
}

#page_container {
  width: 100%;
  background: url("../images/border.jpg") repeat-x scroll 0 0 #444;
}

div#page {
    width: 960px;
    background-color: white;
	margin: 0 auto;
}

#admin_page {
    width: 960px;
    background-color: #FFF8BF;
}

#caltech_name {
  background-color: white;
  height: 35px;
}

/*
 * LoggedInToolbar
 */

#tool_wrapper
{
	background-color: white;
}

#tools {
    clear: both;
    /*background-color: white;*/
    height: 38px;
    font-size: 1.1em;
	color: #bbb;    
}

#tools ul.info {
    float: left;
    margin: 0 auto;
    padding: 0;
}

#tools ul.info li {
    display: block;
    float: left;
    /*padding-left: .6em;*/
    padding-right: .6em;
    height: 30px;
    padding-top: 4px;
    color: #999;
}

#tools ul.info li a, #tools ul.tools li a {
    color: #999;
}

#tools span.username {
    font-weight: bold;
}

#tools ul.tools {
    float: right;
    margin: 0 auto;
    padding: 0;
}

#tools ul.tools li {
    display: block;
    float: right;
    padding-left: .6em;
    padding-right: .6em;
    height: 30px;
    padding-top: 4px;
    color: white;
}

/*
 *	HEADER
 */
#header #tools {
	background-color: #444;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#header #tools ul.info {
	float: left;
}

#header #tools ul.info li {
	display: block;
	float: left;
	color: white;
}

#header #tools ul.info li a, #header #tools ul.tools li a {
	color: white;
}

#header #tools span.username {
	font-weight: bold;
}

#header #tools ul.tools {
	float: right;
}

#header #tools ul.info li form {
	display: inline;
}

#header #tools ul.tools li {
	display: block;
	float: right;
	margin-left: 10px;
	color: white;
}

#header #header_wrapper {
	height: 140px;
	background-image: url(/res/account_activator/images/caltech_hallway.jpg);
}

#header div.admin h1
{
	margin-top: 1em;
}

#header_title
{
	float: right;
	width: 835px;
	margin-top: 30px;
}

#header_subtitle
{
	color: #ff7f00;;
	float: left;
	text-transform:uppercase;
	font-size: 12px;
}

#caltech_header_seal
{
	margin-top: 1.5em;
	margin-left: 15px;
}

#header h1 {
	font-family: fontin, "lucida sans", verdana;
	font-size: 3.2em;
	font-weight: normal;
	color: white;
	line-height: 1em;
	/*margin-left: 30px;*/
}

#header h1 span.subtitle {
	color: #aaa;
}

/*
 *	BREADCRUMB WIDGET
 */
#breadcrumb_area {
	background-color: #ddd;
	height: 38px;
	margin-bottom: 2em;
}

h1#breadcrumbs {
	background: #ddd;
	text-transform: uppercase;
	font-family: "Tahoma", helvetica, sans-serif;
	font-size: 1em;
	color: #999;
    padding-top: .75em;
    padding-left: 20px;
}

h1#breadcrumbs a {
	height: 30px;
	color: #999;
}

h1#breadcrumbs .breadcrumb_here {
	font-weight: bold;
	color: #888;
}

div#exit_links
{
	float: right;
	margin: .5em 1em;
}

div#exit_links a
{
	color: #666;
	margin: 0 .5em;
}

/*
 *	FOOTER
 */
#footer {
	background-color: #999;
	font-family: "Tahoma", helvetica, sans-serif;
	float: left;
	font-size: .9em;
	border-top: 10px solid #777;
	width: 100%;
}
#footer .grid_3 {
    padding: 1em 0 1em;
}
#footer a {
	color: white;
}

#footer p {
	color: white;  
}

#footer h4 {
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: .75em;
}

#footer .first {
	xmargin-left: 3em;
	padding: 1em 0 1em 20px;
}

#footer .caltech_logo {
	width: 204px;
	color: white;
	/* height: 225px; */
}

#footer .caltech_logo p {
	color: #777;
	margin-top: .3em;
	margin-left: 1.5em;
}
#footer .caltech_logo img {
    margin: auto;
	display:block;
}

/*
 *	SIDEBAR
 */

.panel ul {
	list-style: none;
	color: #666;
}

.panel ul li {
}

.panel ul li a, .panel ul li a:visited {
	color: #666;
    cursor: pointer;
}

.panel ul li.shaded {
    background-color: #ddd;
}

.panel ul li.current {
	font-weight: bold;
	color: #0A0;
}

.panel ul li.past {
	font-style: italic;
}

.panel ul li.future {
	font-style: italic;
	color: #AAA;
}

/*
 *	CONTENT
 */

div#content
{
}

#content h1 .highlight {
  color: #8F1D1D;
}

#content table tr.shaded {
	background-color: #eee;
}

#content table tr th {
	text-transform: uppercase;
	background-color: #ddd;
	color: black;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 7px;
	padding-right: 7px;
}

#content table tr td {
	color: black;
	margin-left: 0px;
	margin-right: 0px;
/*	padding-left: 7px;
	padding-right: 7px;*/
	padding: 3px 7px;
}

#content table tr.even_list_row
{
	background-color: #ddd;
}

.title {
    font-weight: bold;
}

.field {
	border-bottom: 1px dotted black;
}

.field p {
    padding-left: 5px;
    margin-bottom: 0px;
}

h2.close {
    margin-bottom: 5px;
}

p.textbox {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;    
	border: 1px dotted black;
	overflow: auto;
}

p.textbox.tall {
    height: 200px;
}

p.textbox.medium {
    height: 100px;
}

p.textbox span {
    margin: 5px 5px 0px 5px;
}

inputX {
    margin-bottom: 5px;    
  	border: 1px dotted black;
    width: 100%;
}

input[type="password"] {
    margin-bottom: 5px;    
  	/*border: 1px dotted black;*/
    width: 300px;
}

input[type="submit"] {
  width: auto;
  display: block;
/*
  margin-left: auto;
  margin-right: auto;

*/}

.editable {
   background: yellow;
}

.ajax-saved {
  color: red;
}

textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;    
	  border: 1px dotted black;
}

textarea.tall {
    height: 200px;
}

textarea.medium {
    height: 100px;
}

button span {
    font-size: 75%;
}

/*
 * Home page
 */

.home .panel h2 {
	border: none;
	padding: 0;
}


/*
 * Panel
 */

.panel {
    margin-bottom: 1em;
    margin-left: 2em;
}

.error .panel {
	margin-left: 0;
}


.panel h2 {
    margin: 0;
    text-transform: uppercase;
    color: black;
    font-size: 1.3em;
    padding: 10px 0 10px 0;
    border-bottom: 1px dotted black;
}

.panel .bottom {
    padding: 10px 0 1.5em 0;
    margin: 0;
    width: 100%;
}

.panel.highlight h2 {
    color: #8F1D1D;
}

/*
 * General-purpose Sizers
 */

.wide {
	width: 100%;
}

.close {
	margin-bottom: 0px;
}

.gap {
    margin-bottom: 5px;
}

.btn_small {
	height: 18px;
}

.btn_small span {
	padding: 0px .5em !important;
}

/*
 *  General-purpose Stylers
 */

.underline
{
    border-bottom:1px dotted black;
}

.modified
{
    background-color: #FFFFAA !important;
}

.valid
{
	background-color: #AAFFAA !important;
}

.ajax_error
{
	color: #FFFF00;
	background-color: #AA8888;
}

.ajax_success
{
	color: #000000;
	background-color: #AAFFAA;
}

.field_error, .grid_error {
	color: #FF0000;
}

.bg_dark {
	background-color: #DDD;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

/*
 * Stuff for the 404 and 500 pages
 */

#big_404 h1 {
	font-size: 80px;
	color: #999;
}
div.error {
    border: 1pt dotted #AA3333;
	padding-top: 1em;
    margin-bottom: 18px;
	color: #AA3333;
	font-style: italic;
	
}

div.error h2 {
    text-align: center;
    letter-spacing: .08em;
    background: #a33;
    color: white;
}

div.error p {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

p.note
{
	border:1px solid #ccc;
	padding: 1em;
	color: #666;
	font-style: italic;
}

/*
 * User Status Report
 */

#content table.user_status_report tr.activated td,
#content table.user_status_report tr.activated a,
#content table.user_status_report tr.activated
{
	/*background-color: #ddd;*/
	color: green;
}

#content table.user_status_report tr.invited td,
#content table.user_status_report tr.invited a
{
}

#content table.user_status_report tr.expired td,
#content table.user_status_report tr.expired a
{
	color: red;
}

#content table.user_status_report tr.uninvited td,
#content table.user_status_report tr.uninvited a
{
	color: #888;
}

form#user_form div
{
	margin-bottom:1em;
}

form#user_form div label
{
	display: inline-block;
	width: 7em;
}

/*
 * Errors 
 */

div#error
{
	border: 1px dotted #ccc;
	color: red;
	padding: 1em;
	margin-bottom: 1em;
}

#size_tester
{
	width: 318px;
	height: 478px;
	position: fixed;
	left:0;
	top:0;
	border: 1px dotted yellow;
}

.mobile_header
{
	display: none;
}

h5#information_header
{
	font-weight: normal;
	margin-bottom: 0px;
}

div#username_reminder
{
	font-style: italic;
	margin-bottom: 1em;
	color: #888;
}

/*
 * Challenge questions 
 */

div.challenge_question_group,
div.challenge_question_pair
{
	margin-bottom: 1em;
}

div.challenge_custom_question input[type="text"]
{
	width: 500px;
}
