/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* STANDARDIZE THE FONT */
body {
  font: 13px/1.231 Verdana,sans-serif;
  *font-size:small;
  *font:x-small;
}

input {
  font-size: 100%;
}

#page {
  width: 860px;
  margin: 5px;
}

#header {
  width: 100%;
}

#tools {
  background-color: #71A30C;
  color: #EFF7E0;
  font-family: Verdana,sans-serif;
  font-size: 76.92%;
  height: 14px;
  margin: 0 3px 0 2px;
  padding: 2px;
}

ul.info {
  width: 430px;
  float: left;
  display: inline;
}

#info-who span.username {
  font-weight: bold;
}

ul.tools {
  width: 430px;
  display: inline;
}

ul.tools li {
  float: right;
  display: inline;
  margin-left: 8px;
}

ul.tools a {
  text-decoration: none;
  color: #EFF7E0;
  font-weight: bold;
}

ul.tools a:hover {
  text-decoration: underline;
}

#header_banner {
  margin: 0px 2px;
}

#menu {
  width: 100%;
  height: 17px;
}

#menu ul li {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  display: inline;
  float: left;
  margin-right: 2px;
  text-align: center;
  width: 75px;
  background-color: #EEFFCC;
}

#menu ul li.active {
  background-color: #99CC33;
}

#menu ul li a {
  color: #444444;
  font-family: Verdana,sans-serif;
  font-size: 76.92%;
  text-decoration: none;
}

#bottom {
  width: 100%;
  border: 1px solid #000000;
  background-color: #FFFDF3;
  min-height: 300px;
}

#bottom table {
  width: 854px;
  margin: 3px;
}

#bottom table form {
  padding-left: 525px;
  font-family: Verdana,sans-serif;
  font-size: 76.92%;
}

#bottom table th {
  background: #E6E1AF;
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
  font-family: Verdana,sans-serif;
  font-size: 84.6%;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
  text-indent: 25px;
}

#bottom table td.even,
#bottom table td.odd {
  border: 1px solid #000;
  padding: 2px 1px;
  font-size: 76.92%;
}

#bottom table td.odd {
  background-color: #FFF9D9;
}


#footer {
  width: 100%;
  height: 17px;
  background: #E6E1AF;
  padding: 1px;
  font-size: 84.6%;
}

#footer a{
  color: #444;
  text-decoration: none;
  font-weight: bold;
}

#footer a:hover {
  text-decoration: underline;
}

#footer ul.left {
  width: 430px;
  float: left;
  display: inline;
}

#footer ul.right {
  width: 430px;
  float: right;
  display: inline;
}

#footer ul.right li {
  float: right;
  display: inline;
  margin-left: 5px;
}

/*
 *	Link.psp
 */
h2.warning {
	color: #aa0000;
}
}
 */
